extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Sites of the natural reserve fund of the region of production activity of PJSC TATNEFT

			h1.dmpage-h1 Sites of the natural reserve fund of the region of production activity of PJSC TATNEFT

		.dmpage.dmpage--no-art
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/ecology/biodiversity-conservation.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/ecology/biodiversity-conservation.html") To the beginning of the section
						a.dmpage-menu-item.dmpage-menu-item--active(href="/sustainable-development/ecology/biodiversity-conservation/sites-of-the-natural-reserve-fund-of-the-region-of-production-activity-of-pjsc-tatneft.html") Sites of the natural reserve fund of the region of production activity of pjsc tatneft
						//a.dmpage-menu-item(href="ne-tolko-chistyj-vozduh.html") Не только чистый воздух


			.dmpage-main
				.dmpage-detail 
					.dmpage-table-section.dmpage-table-section--small
					//h4.dmpage-table-title Обращение с отходами по бизнес – направлениям, тыс. т
					.dmpage-table-overflow
						table.dmpage-table
							colgroup.dmptable-colgroup-1
								col.dmptable-col-1.dmptable-col-1--aw
							colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
								col.dmptable-col-other() 
							colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
								col.dmptable-col-other() 
							colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
								col.dmptable-col-other() 
							colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
								col.dmptable-col-other() 
							thead
								tr
									th
										p Item No.
									th
										p
											| Municipal
											br
											| District
									th
										p Name and Status of Protected Area
									th
										p
											| Protected Area Size, 
											br
											| ha
							tbody
								tr
									td
										p 1.
									td
										p Argyzsky
									td
										p Kichke-Tan Complex Nature Reserve
									td
										p 9 795,77
								tr
									td
										p 2.
									td
										p Argyzsky
									td
										p Natural Sanctuary of Regional Importance “Slozhny Bor”
									td
										p 49
								tr
									td
										p 3.
									td
										p Yelabuzhsky
									td
										p Nizhnyaya Kama National Park (area)
									td
										p 16 849
								tr
									td
										p 4.
									td
										p Aznakaevsky
									td
										p Chatyr-Tau Complex Nature Reserve
									td
										p 4 149,54
								tr
									td
										p 5.
									td
										p Aznakaevsky
									td
										p
											| State Natural Reserve of Regional Significance of Botanical Profile “Vladimirsky Slope”
									td
										p 47,04
								tr
									td
										p 6.
									td
										p Leninogorsky
									td
										p Stepnoy Complex Nature Reserve
									td
										p 5 772
								tr
									td
										p 7.
									td
										p Bugulminsky
									td
										p
											| State Natural Reserve of Regional Significance of Botanical Profile “Adonis Forest”
									td
										p 61
								tr
									td
										p 8.
									td
										p Bugulminsky
									td
										p
											| State Natural Reserve of Regional Significance of Botanical Profile “Novo-Alexandrovsky Slope”
									td
										p 44,2
								tr
									td
										p 9.
									td
										p Bugulminsky
									td
										p
											| State Natural Reserve of Regional Significance of Botanical Profile "Kazankinsky Botanical Reserve for the Conservation of Adonis vernalis"
									td
										p 5,01
								tr
									td
										p 10.
									td
										p Bugulminsky
									td
										p Natural Sanctuary of Regional Importance “Tatarsko-Dymskaya Glade”
									td
										p 1,87
								tr
									td
										p 11.
									td
										p Bugulminsky
									td
										p Nature Sanctuary of Regional Significance “Spasskiye Klyuchi”
									td
										p 0,1
								tr
									td
										p 12.
									td
										p Bugulminsky
									td
										p Nature Sanctuary of Regional Significance “Petrovskie Pines”
									td
										p 53
								tr
									td
										p 13.
									td
										p Bugulminsky
									td
										p Nature Sanctuary of Regional Significance "Kabashskaya Mountain”
									td
										p 50,06
								tr
									td
										p 14.
									td
										p Muslyumovsky
									td
										p
											| State Natural Reserve of Regional Significance of Botanical Profile “Narat-Astin Forest”
									td
										p 468,3
								tr
									td
										p 15.
									td
										p Novosheshminsky
									td
										p
											| State Natural Reserve of Regional Significance of Botanical Profile “Korzhinsky Slopes”
									td
										p 150
								tr
									td
										p 16.
									td
										p Novosheshminsky
									td
										p
											| State Natural Reserve of Regional Significance of Botanical Profile "Kazankinsky Botanical Reserve for the Conservation of Adonis vernalis"
									td
										p 9,14
								tr
									td
										p 17.
									td
										p Sarmanovsky
									td
										p
											| State Natural Reserve of Regional Significance of Botanical Profile “Syulukeevsky Forest”
									td
										p 194,6
								tr
									td
										p 18.
									td
										p Aktanyshsky
									td
										p Natural Sanctuary of Regional Importance “Lake Kopanoe”
									td
										p 0,74
								tr
									td
										p 19.
									td
										p Almetyevsky
									td
										p
											| Nature Reserve of Regional Significance “Forest Crops of Spruce and Larch 1910-1913”
									td
										p 6,4
								tr
									td
										p 20.
									td
										p Almetyevsky
									td
										p Natural Sanctuary of Regional Importance “Aktash Landslip Seam”
									td
										p 0,04
								tr
									td
										p 21.
									td
										p Bavlinsky
									td
										p Nature Sanctuary of Regional Significance "Salikhovskaya Mountain”
									td
										p 29,93
								tr
									td
										p 22.
									td
										p Zainsky
									td
										p Natural Sanctuary of Regional Importance “Bukharaisky Forest” (area 1)
									td
										p 252,8
								tr
									td
										p 23.
									td
										p Mamadyshsky
									td
										p Nature Sanctuary of Regional Significance “Sokolsky Forest”
									td
										p 3 852
								tr
									td
										p 24.
									td
										p Mamadyshsky
									td
										p Nature Sanctuary of Regional Significance “Bersutsky Fir Forests”
									td
										p 8,5
								tr
									td
										p 25.
									td
										p Mamadyshsky
									td
										p Nature Sanctuary of Regional Significance “Moeshebash Forestry”
									td
										p 131,6
								tr
									td
										p 26.
									td
										p Menzelinsky
									td
										p Natural Sanctuary of Regional Importance “Igimskiy Coniferous Forest”
									td
										p 584,01
								tr
									td
										p 27.
									td
										p Nizhnekamsky
									td
										p Natural Sanctuary of Regional Importance “Borkovskaya Dacha”
									td
										p 1 030
								tr
									td
										p 28.
									td
										p Nurlatsky
									td
										p Natural Sanctuary of Regional Importance “Kara-Kul Lake”
									td
										p 1,37
								tr
									td
										p 29.
									td
										p Cheremshansky
									td
										p Natural Sanctuary of Regional Importance “Asphaltite Prospect”
									td
										p 4
								tr
									td
										p 30.
									td
										p Yutazinsky
									td
										p Natural Sanctuary of Regional Importance “Urdaly Tau”
									td
										p 2,5
								tr
									td
										p 31.
									td
										p Naberezhnye Chelny
									td
										p Nature Sanctuary of Regional Significance “Borovetskiye Klyuchi”
									td
										p 5
								tr
									td
										p 32.
									td
										p Mendeleevsky
									td
										p Ushkov Estate — Historical, Cultural, and Natural Territory
									td
										p 5,1
								tr
									td
										p 33.
									td
										p Nizhnekamsky
									td
										p Nizhnyaya Kama National Park (area)
									td
										p 213
								tr
									td
										p 34.
									td
										p Sarmanovsky
									td
										p Natural Sanctuary of Regional Importance “Bukharaisky Coniferous Forest” (area 2)
									td
										p 196,1
								tr
									td
										p 35.
									td
										p Tukayevsky
									td
										p Nizhnyaya Kama National Park (Kazyl Tau area)
									td
										p 9 539
								tr
									td
										p  
									td
										p 
											b TOTAL FOR PJSC TATNEFT
									td
										p  
									td
										p 
											b 53 561,7
					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Приложение
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.1._programma_pao_tatneft_po_sohraneniju_bioraznoobrazija_2022.pdf" download) Program of PJSC TATNEFT for biodiversity conservation (2022)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.2._programma_pao_tatneft_po_sohraneniju_biologicheskogo_raznoobrazija_2018.pdf" download) Program of PJSC TATNEFT for biodiversity conservation (2018)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.3._plan_meroprijatij_po_sohraneniju_bioraznoobrazija_na_2023_god.pdf" download) Action plan for the biodiversity conservation as part of the biodiversity conservation program in the territory of the TATNEFT Group’s operations for 2023
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.4._otchet_o_vypolnenii_programmy_po_sohraneniju_bioraznoobrazija_za_2022_god.pdf" download) Report on the progress of the biodiversity conservation action plan as part of the biodiversity conservation program in the territory of TATNEFT Group’s operations for 2022
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.5._plan_po_sohraneniju_bioraznoobrazija_na_2022_god.pdf" download) Action plan for the biodiversity conservation as part of the biodiversity conservation program in the territory of TATNEFT Group operations for 2022

											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.6._otchet_o_vypolnenii_plana_po_sohraneniju_bioraznoobrazija_za_2021_god.pdf" download) Report on the progress of the biodiversity conservation action plan as part of the biodiversity conservation program in the territory of the TATNEFT Group’s operations for 2021
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.7._plan_po_sohraneniju_biraznoobrazija_na_2021_god.pdf" download) Action plan for the biodiversity conservation as part of the biodiversity conservation program in the territory of the TATNEFT Group’s operations for 2021
											