extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Sites of the natural reserve fund of the region of production activity of PJSC TATNEFT

			h1.dmpage-h1 Sites of the natural reserve fund of the region of production activity of PJSC TATNEFT

		.dmpage.dmpage--no-art
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/ecology/biodiversity-conservation.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/ecology/biodiversity-conservation.html") To the beginning of the section
						a.dmpage-menu-item.dmpage-menu-item--active(href="/sustainable-development/ecology/biodiversity-conservation/sites-of-the-natural-reserve-fund-of-the-region-of-production-activity-of-pjsc-tatneft.html") Sites of the natural reserve fund of the region of production activity of pjsc tatneft
						//a.dmpage-menu-item(href="ne-tolko-chistyj-vozduh.html") Не только чистый воздух


			.dmpage-main
				.dmpage-detail 
					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Appendix
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.1._programma_pao_tatneft_po_sohraneniju_bioraznoobrazija_2022.pdf" download) Program of PJSC TATNEFT for biodiversity conservation (2022)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.2._programma_pao_tatneft_po_sohraneniju_biologicheskogo_raznoobrazija_2018.pdf" download) Program of PJSC TATNEFT for biodiversity conservation (2018)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.3._plan_meroprijatij_po_sohraneniju_bioraznoobrazija_na_2023_god.pdf" download) Action plan for the biodiversity conservation as part of the biodiversity conservation program in the territory of the TATNEFT Group’s operations for 2023
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.4._otchet_o_vypolnenii_programmy_po_sohraneniju_bioraznoobrazija_za_2022_god.pdf" download) Report on the progress of the biodiversity conservation action plan as part of the biodiversity conservation program in the territory of TATNEFT Group’s operations for 2022
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.5._plan_po_sohraneniju_bioraznoobrazija_na_2022_god.pdf" download) Action plan for the biodiversity conservation as part of the biodiversity conservation program in the territory of TATNEFT Group operations for 2022

											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.6._otchet_o_vypolnenii_plana_po_sohraneniju_bioraznoobrazija_za_2021_god.pdf" download) Report on the progress of the biodiversity conservation action plan as part of the biodiversity conservation program in the territory of the TATNEFT Group’s operations for 2021
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.7._plan_po_sohraneniju_biraznoobrazija_na_2021_god.pdf" download) Action plan for the biodiversity conservation as part of the biodiversity conservation program in the territory of the TATNEFT Group’s operations for 2021
											