extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Энергоэффективное поселение Актюба

			h1.dmpage-h1 Энергоэффективное поселение Актюба

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_20_10_23/ESG-projects.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/esg-proekty.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/esg-proekty.html") К началу раздела
						a.dmpage-menu-item(href="proekty-ccus.html") Проекты CCUS
						a.dmpage-menu-item(href="proekt-zelenyj-ofis.html") Проект «Зеленый офис»
						a.dmpage-menu-item(href="zelenoe-zoloto-tatnefti.html") Зеленое золото Татнефти
						a.dmpage-menu-item(href="ne-tolko-chistyj-vozduh.html") Не только чистый воздух
						a.dmpage-menu-item(href="poslanniki-cur-tatnefti.html") Посланники ЦУР Татнефти
						a.dmpage-menu-item(href="shkolnye-biolaboratorii.html") Школьные биолаборатории
						a.dmpage-menu-item(href="v-poiskah-uglerodnogo-sleda.html") В поисках углеродного следа
						a.dmpage-menu-item(href="olimpiada-yunyh-geologov.html") Олимпиада юных геологов
						a.dmpage-menu-item.dmpage-menu-item--active(href="energoeffektivnoe-poselenie-aktyuba.html") Энергоэффективное поселение Актюба
						

						

			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/aktjuba_1.jpg", alt="")
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/aktjuba_2.jpg", alt="")
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/aktjuba_3.jpg", alt="")
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/aktjuba_4.jpg", alt="")
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/aktjuba_5.jpg", alt="")
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/aktjuba_6.jpg", alt="")
						p «Татнефть» - крупный участник энергетического рынка - на долю Компании приходится почти четверть электропотребления в Татарстане. Но в то же время, «Татнефть» - крупнейший производитель электро- и теплоэнергии. Компания ведет системную работу в области энерго- и ресурсоэффективности, нами накоплен значительный опыт и обширные компетенции по энергосбережению и созданию экономики замкнутого цикла, которые могут быть применены и вне Компании.
						p Вопрос эффективного производства и энергоресурсосбережения заложен в наших ценностях и философии развития Компании, в нашем мировоззрении по созданию устойчивого будущего.
						p Мы ведем системную работу в области энерго- и ресурсоэффективности в соответствии с утвержденной в Компании программой. В процессе работы видим, что наш опыт, компетенции, инженерный подход могут быть востребованы как в нашей Республике, так и в стране.
						p Идеи по применению технологий и опыта «Татнефти» на благо общества накапливались постепенно, в результате вместе они сложились в масштабный проект создания 
							b устойчивого автономного энергоэффективного поселения 
							| на базе поселка Актюбинский Азнакаевского района Республики Татарстан.
						p «Татнефть» стремится применить передовые решения и технологии, чтобы превратить поселок Актюбинский в энергоэффективное, экономически устойчивое, привлекательное и комфортное для жизни поселение, создать среду, где формируется культура ответственного потребления, поколение людей новой формации с другим мировоззрением и отношением к природе и ресурсам.
						p Проект «Актюба» основывается на 4 взаимосвязанных составляющих:
						ol 
							li Комплекс современных проектов по энергообеспечению и производству продуктов из биосырья, который обеспечивает устойчивый рост экономики в регионе, рост новых привлекательных рабочих мест, преимущественно, в сфере среднего и малого бизнеса.
							li Экология и рациональное потребление ресурсов, применение углеродонейтральных, энергоэффективных технологий замкнутого цикла.
							li Развитие и создание качественной инфраструктуры как для развития бизнеса, так и для проживания.
							li Создание условий, нацеленных на развитие общества. Практико-ориентированное обучение школьников, студентов, воспитание экологически-ответственного поведения, вовлечение жителей в развитие поселка.
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/aktjuba_7.jpg", alt="")
						p «Татнефть» создает в поселке комплекс современных биотехнологических производств. Например, из остатков конопли будут выпускаться теплоизоляционные материалы. Из льна –целлюлоза. Из растительных отходов будут получать непищевые сахара. Осадки сточных вод подходят для получения метанола, а действующая уже сегодня установка пиролиза производит из древесной щепы биоойл и биочар – аналоги природной нефти и угля, сырье для нефтехимических производств.
						p Для электроснабжения поселка будет применена биогазовая установка. Расположенная на территории животноводческого комплекса она превращает отходы в газ, а потом – в электричество.
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/aktjuba_8.jpg", alt="")
					.dmpage-text.dmpage-text--small Биогазовая установка
					.dmpage-text
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/aktjuba_9.jpg", alt="")
					.dmpage-text.dmpage-text--small Установка пиролиза
					.dmpage-text
						p Для теплоснабжения жилых домов строится твердотопливная котельная, в которой будет сжигаться древесная щепа.
						p «Татнефть» приступила к реконструкции двух многоквартирных домов, в которых будут применены все самые современные энергосберегающие технологии и экологичные материалы. Завершить работы планируется осенью.
						p Опыт реализации программ энергоресурсоэффективности в Компании показывает, что энергоэффективность и ресурсосбережение зависит от изменения мировоззрения самих граждан. Поэтому для формирования мышления и культуры осознанного потребления, мировоззрения Компания активно работает в школах и детских садах Актюбы, проводит экологические смены в лагерях, взаимодействует со взрослыми жителями поселка.
						p Полученный в Актюбе опыт по созданию автономного энергоэффективного поселения «Татнефть» готова тиражировать в других малых городах и поселках России.



						
						video(controls preload="none" poster="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image16.jpg")
							source(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_13/prilozhenie_13.1._aktjuba.mp4" type="video/mp4")
					




						






block scripts
	




