extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Проект «Зеленый офис»

			h1.dmpage-h1 Проект «Зеленый офис»

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/esg-proekty.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/esg-proekty.html") К началу раздела
						a.dmpage-menu-item(href="proekty-ccus.html") Проекты CCUS
						a.dmpage-menu-item.dmpage-menu-item--active(href="proekt-zelenyj-ofis.html") Проект «Зеленый офис»
						a.dmpage-menu-item(href="zelenoe-zoloto-tatnefti.html") Зеленое золото Татнефти
						a.dmpage-menu-item(href="ne-tolko-chistyj-vozduh.html") Не только чистый воздух
						a.dmpage-menu-item(href="poslanniki-cur-tatnefti.html") Посланники ЦУР Татнефти
						a.dmpage-menu-item(href="shkolnye-biolaboratorii.html") Школьные биолаборатории
						a.dmpage-menu-item(href="v-poiskah-uglerodnogo-sleda.html") В поисках углеродного следа
						a.dmpage-menu-item(href="olimpiada-yunyh-geologov.html") Олимпиада юных геологов
						a.dmpage-menu-item(href="energoeffektivnoe-poselenie-aktyuba.html") Энергоэффективное поселение Актюба
			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						p В «Татнефти» реализуется проект «Зеленый офис». Это часть обширной экологической деятельности «Татнефти» и значимая составляющая комплексной программы по воспитанию ответственного поведения сотрудников «Татнефти». Участвуя в проекте, нефтяники понимают, что это не дань моде, а продолжение «зеленых» инициатив, которые реализуются не одно десятилетие.
						p В рамках проекта установлены боксы для раздельного сбора пластика, бумаги и несортируемых отходов, сокращено потребление бумаги в офисах, в помещениях стало больше зелени.
						p Сотрудники Компании теперь не только осознанно разделяют отходы, но и формируют подобную модель поведения у своих близких, родных, друзей – это тот вклад в сохранение природы, который под силу каждому. 
						p Как один из способов ответственного потребления, экономии средств и снижения экологической нагрузки, нефтяники снизили использование бумаги в офисах.
						p Так, в апреле 2020 года руководством Компании было предложено сократить закупку этого материала на 30%. Это стало возможно благодаря ранее принятому решению – значительно снизить бумажный документооборот, организовать работу внутри Компании с использованием цифровых технологий и постепенно полностью перейти на электронный формат обращения документов. 
						p Уже сейчас можно отметить, что формирование бумажных отходов снизилось на 40%. Помимо экономии средств на вывоз отходов и закупку краски для принтеров, ускорился процесс обработки документов, корреспонденция, в том числе и до партнеров и клиентов доходит значительно быстрее.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/foto_k_zelenomu_ofisu.jpg", alt="")
						p 
							b В рамках развития ESG-повестки два офиса «Татнефти» в Альметьевске прошли инспекцию по СДС «Зеленый офис».
						p Объекты отвечают требованиям в области устойчивого развития («зеленых» стандартов строительства и эксплуатации), предъявляемых к офисным помещениям/зданиям и соответствует уровню сертификации:
						ul 
							li объект по адресу ул. Ленина, 75 соответствует уровню сертификата «Стандарт».
							li объект по адресу ул. Ленина, 75а соответствует уровню сертификата «Серебро»
						p «Зеленый офис» не только способствуют снижению углеродной интенсивности, но и повышает энергоэффективность. При этом каждый сотрудник может внести вклад в создание комфортных условий труда.
						p 
							b Также ПАО «Татнефть» стала победителем конкурса Green Office Awards в главной категории «Лучший «зеленый» офис 2022».
						.dmpage-accordions-wrap
							.dmpage-accordions
								.dmpage-accordion
									.dmpage-accordion-head
										.dmpage-accordion-head__text Сертификаты
									.dmpage-accordion-body
										.dmpage-accordion-body__text
											ul
												li
													a( download href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_11/11.5._sertifikat_zelenyj_ofis.pdf") 11.5. Сертификат Зеленый офис.pdf

					















block scripts
	




