extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Школьные биолаборатории

			h1.dmpage-h1 Школьные биолаборатории

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_20_10_23/ESG-projects.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/esg-proekty.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/esg-proekty.html") К началу раздела
						a.dmpage-menu-item(href="proekty-ccus.html") Проекты CCUS
						a.dmpage-menu-item(href="proekt-zelenyj-ofis.html") Проект «Зеленый офис»
						a.dmpage-menu-item(href="zelenoe-zoloto-tatnefti.html") Зеленое золото Татнефти
						a.dmpage-menu-item(href="ne-tolko-chistyj-vozduh.html") Не только чистый воздух
						a.dmpage-menu-item(href="poslanniki-cur-tatnefti.html") Посланники ЦУР Татнефти
						a.dmpage-menu-item.dmpage-menu-item--active(href="shkolnye-biolaboratorii.html") Школьные биолаборатории
						a.dmpage-menu-item(href="v-poiskah-uglerodnogo-sleda.html") В поисках углеродного следа
						a.dmpage-menu-item(href="olimpiada-yunyh-geologov.html") Олимпиада юных геологов
						a.dmpage-menu-item(href="energoeffektivnoe-poselenie-aktyuba.html") Энергоэффективное поселение Актюба

			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						p Программа «Школьные биолаборатории» решает сразу несколько задач: позволяет вернуть природу в города, восстанавливает и поддерживает биологическое разнообразие и воспитывает у школьников экологическое мышление, необходимое для сохранения устойчивого будущего.


						video(controls preload="none" poster="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image53.jpg")
							source(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_12/prilozhenie_12.1_video_o_shkolnyh_laboratorijah.mp4" type="video/mp4")
					


						p В школах нефтяного региона на средства «Татнефти» оборудованы кабинеты изучения биологии с лабораториями, где ученики занимаются исследовательской и практической деятельностью, а именно – выращиванием саженцев различных растений путем вегетативного размножения in-vitro.
						p Программа «Школьные биолаборатории» действует с 2019 года, за это время открыто уже 8 школьных биолабораторий в Альметьевском, Азнакаевском и Лениногорском районах Татарстана, в проекте участвует около 300 школьников и более 30 учителей, в среднем ежегодно школьными лабораториями для посадки подготавливается 100-120 тысяч саженцев.
						p Школьный биокласс – это целый образовательный комплекс, включающий в себя непосредственно учебный кабинет с интерактивными досками и прочим необходимым оборудованием и две лаборатории. Одна из них предназначена для практических занятий учащихся с 5-го по 11-й классы. Здесь можно проводить практические занятия в рамках образовательной программы, а также заниматься внеурочной проектной и исследовательской деятельностью. 
						p Работа в лаборатории имеет целью пробудить в детях интерес к биологии, научить их работать самостоятельно, исследовать, анализировать, делать выводы.
						p Вторая лаборатория непосредственно занимается микроклонированием растений. Основное помещение биолаборатории – стерильный ламинарный бокс, где с биоматериала делаются срезы и помещаются в питательную среду – желеобразную массу на основе водоросли агар-агар с добавлением микро- и макросолей, витаминов, гормонов.
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/biolaboratorii_1.jpg", alt="")
						p Основная культура, которую сегодня выращивают школьники, – триплоидная осина. Это дерево очень быстро растет, не подвержено гнили, продуктивно, поглощает в 2,5 раза больше углекислого газа, живет почти 250 лет. Компания получает сажены для своей программы озеленения, а кроме того, триплоидная осина, выращенная школьниками, уже высаживается на внутриквартальных территориях, зеленых зонах общественных пространств, на пришкольных участках в городах юго-востока Татарстана.
						p Проект «Школьные лаборатории» важен тем, что реализует сразу несколько Целей устойчивого развития. Во-первых, обучение в таких классах пробуждает в ребятах интерес к биологии, любовь к природе и чувство экологической ответственности, а полученные знания дают стимул таким профессиям будущего, как архитектор живых систем, урбанист-эколог, биофармаколог, ГМО-агроном и другие (ЦУР 4 «Качественное образование»). Во-вторых, благодаря выращенным и высаженным деревьям, кустарникам, травам, в городах улучшается экологический климат, они становятся более чистыми и уютными, что создает благоприятные условия для проживания (ЦУР 11 «Устойчивые города и населенные пункты»), В-третьих, насыщая территории здоровыми и разнообразными растениями, мы восстанавливаем и поддерживаем естественные природные системы (ЦУР 15 «Сохранение экосистем суши»). И наконец, озеленение городов и высадка саженцев на пустующих землях, где они впоследствии превратятся в леса, – это компенсация выбросов парниковых газов и снижение углеродного следа (ЦУР 13 «Борьба с изменением климата»).
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/biolaboratorii_2.jpeg", alt="")

block scripts
	




