extends ../../layouts/default

block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div В поисках углеродного следа

			h1.dmpage-h1 В поисках углеродного следа

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_20_10_23/ESG-projects.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/esg-proekty.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/esg-proekty.html") К началу раздела
						a.dmpage-menu-item(href="proekty-ccus.html") Проекты CCUS
						a.dmpage-menu-item(href="proekt-zelenyj-ofis.html") Проект «Зеленый офис»
						a.dmpage-menu-item(href="zelenoe-zoloto-tatnefti.html") Зеленое золото Татнефти
						a.dmpage-menu-item(href="ne-tolko-chistyj-vozduh.html") Не только чистый воздух
						a.dmpage-menu-item(href="poslanniki-cur-tatnefti.html") Посланники ЦУР Татнефти
						a.dmpage-menu-item(href="shkolnye-biolaboratorii.html") Школьные биолаборатории
						a.dmpage-menu-item.dmpage-menu-item--active(href="v-poiskah-uglerodnogo-sleda.html") В поисках углеродного следа
						a.dmpage-menu-item(href="olimpiada-yunyh-geologov.html") Олимпиада юных геологов
						a.dmpage-menu-item(href="energoeffektivnoe-poselenie-aktyuba.html") Энергоэффективное поселение Актюба

			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						p 
							b Обучающее исследование «В поисках углеродного следа» – совместный проект «Татнефти» и Всероссийской образовательной инициативы «Образ. Будущего», 
							|  куратором которого выступает 
							b Молодежный совет при Министерстве энергетики РФ.
							|  Участие в проекте приняли 2650 восьмиклассников и 159 учителей из 7 районов Республики Татарстан.
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/v_poiskah_uglerodnogo_sleda_1.jpeg", alt="")
						p Специально для обучающего исследования разработан комплекс материалов – 10 исследовательских чемоданчиков разного цвета и с разной темой исследования (прогулка, поездка в школу, хобби, сон и пр.). Они позволяют школьникам понять суть парникового эффекта и попробовать снизить углеродный след в бытовых ситуациях – от утренней чистки зубов до отключения электроприборов перед сном.
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/v_poiskah_uglerodnogo_sleda_2.jpeg", alt="")
						p Школьники сами проводят сравнительный расчет и видят, что будет, если, например, начать экономить воду. Понятие «углеродный след» возникает перед учениками в конкретных цифрах, они учатся сравнивать, делать выводы и принимать решения. 
						p В проведении расчетов оказывает содействие виртуальный бот-помощник, который дает подробные комментарии и помогает оценить собственный вклад школьника в снижение углеродного следа.
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/v_poiskah_uglerodnogo_sleda_3.jpeg", alt="")
						p Проект помогает, помогает школьникам осознать свою роль в сохранении природы, стать авторами позитивных изменений, привить полезные экопривычки через практику.

block scripts
	




