extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Гидромониторинг

			h1.dmpage-h1 Гидромониторинг

		.dmpage
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/new_top_photos/hydromonitoring.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya/vodozabor-i-vodopotreblenie.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya/vodozabor-i-vodopotreblenie.html") К началу раздела
						a.dmpage-menu-item(href="pokazateli-vodopolzovaniya.html") Показатели водопотребления и водоотведения
						a.dmpage-menu-item.dmpage-menu-item--active(href="gidromonitoring.html") Гидромониторинг

						

			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						p На территории производственной деятельности Компании функционирует режимная наблюдательная сеть гидромониторинга для контроля состояния поверхностных и подземных вод, отслеживания влияния процесса нефтедобычи с целью соблюдения лицензионных условий на пользование недрами. 
						p Результаты анализов проб вносятся в корпоративную информационную систему. В 2022 году контролировалось 1 986 пунктов наблюдений за водными объектами, отобрано 22 463 проб, количество выполненных анализов 102 081. Производственный экологический контроль состояния водных объектов осуществляется химико-аналитическими лабораториями Компании. 
						p Анализ вод проводится по параметрам, характерным при влиянии производственных процессов, в частности нефтедобычи, нефтепереработки.
						h2 СОХРАНЕНИЕ РОДНИКОВ
						p Компания уделяет особое внимание сохранению, оздоровлению и улучшению качества воды в родниках. Качество воды в родниках, являясь своеобразным индикатором деятельности нефтяников, сигнализирует о ходе разработки месторождений. Поэтому качество воды в родниках держится на особом контроле.
						p Целенаправленные геолого-технические мероприятия, проводимые нефтяниками в зоне деятельности подразделений Компании, постоянный контроль надежности оборудования способствуют предотвращению загрязнения источников воды, позволяя обеспечивать потенциал самовосстановления экосистем. В 2022 году в ПАО «Татнефть» в очередной раз организован и проведён ежегодный конкурс «За поддержание эстетического состояния обустроенных родников и улучшение качества воды», который реализуется в Компании с 1995 года.
						p В конкурсе приняли участие 24 предприятия Группы «Татнефть». Родники, представленные для участия в конкурсе, отличаются оригинальностью, умелым использованием естественного ландшафта и природного материала. Многие из них стали подлинным украшением местности, населенных пунктов, уголков отдыха на природе. За это время на территории деятельности Компании расчищено, каптировано и архитектурно обустроено более 500 родников.
					.dmpage-quote В 2022 году качество воды в основных реках территории деятельности Компании было стабильным. Содержание хлорид-ионов, нефти и нефтепродуктов в растворенном и эмульгированном состоянии в основных реках не превышало установленных нормативов предельно-допустимой концентрации вещества
					.dmpage-text
						h3 Динамика изменения концентрации хлорид-ионов в основных реках на территории деятельности ПАО «Татнефть» (мг/л)
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image1.png", alt="")
						h3 Динамика изменения концентрации нефти и нефтепродуктов в растворённом и эмульгированном состоянии в основных реках на территории деятельности ПАО «Татнефть» (мг/л)
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image3.png", alt="")
					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Приложение
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_8/prilozhenie_8.1._grafiki_soderzhanija_hloridov_i_nefteproduktov_v_osnovnyh_rekah.xlsx" download) Графики содержания хлоридов и нефтепродуктов в основных реках





block scripts
	




