extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Показатели водопотребления и водоотведения

			h1.dmpage-h1 Показатели водопотребления и водоотведения

		.dmpage
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/new_top_photos/achievement-of-sdg-6-targets.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya/vodozabor-i-vodopotreblenie.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya/vodozabor-i-vodopotreblenie.html") К началу раздела
						a.dmpage-menu-item.dmpage-menu-item--active(href="pokazateli-vodopolzovaniya.html") Показатели водопотребления и водоотведения
						a.dmpage-menu-item(href="gidromonitoring.html") Гидромониторинг



			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p Бережное отношение к планете является неотъемлемой частью нашей миссии, которая направлена на смягчение последствий изменения климата путем ответственного подхода к использованию воды — жизненно важного ресурса для Земли и для человечества. 
						p Использование водных ресурсов необходимо для осуществления деятельности всех бизнес-направлений Группы «Татнефть» — от нефтегазодобычи до реализации продукции. Вместе с тем, Компания определяет воду как стратегический ресурс для защиты биоразнообразия и здоровья человека, социально-экономического развития и осуществления промышленной деятельности. 
						p Мы привержены оптимальному управлению водными ресурсами на всех этапах деятельности в гармонии с потребностями территорий в соответствии с Целями устойчивого развития ООН. Территория основной производственной деятельности Компании относится к регионам, не испытывающим дефицит пресной воды. 
						p Согласно «Водной стратегии Российской Федерации на период до 2020 года» (утв. распоряжением Правительства Российской Федерации от 27 августа 2009 г. N 1235-р) к регионам с дефицитом водных ресурсов относятся Республика Калмыкия, Белгородская и Курская области, Ставропольский край, Северный Кавказ, отдельные районы Южного Урала и юга Сибири, низовье Волги. 
						p Оценка определения маловодных регионов осуществляется и на основании данных проекта Aqueduct Всемирного института ресурсов — в основном территория деятельности Компании имеют низкие и средние значения индикатора «Базовый уровень водного стресса» https://www.wri.org/aqueduct/tools 
						p Основной подход Компании к решению задачи рационального водопользования: 	
						ul
							li применение систем оборотного и повторного водоснабжения 

							li повышение степени очистки сточных вод 
							li сокращение забора воды из естественных источников 

						p Потребление «свежей воды»*, водопользование и доступ к водным объектам по Группе «Татнефть» на территории России осуществляется в соответствии с законодательством Российской Федерации, на основании договоров водопользования, решений о предоставлении водных объектов в пользование, лицензий на право пользования недрами с целью добычи подземных вод, а также постановлениями локальных контролирующих органов, что позволяет не подвергать местные сообщества и окружающую природную среду риску дефицита водных ресурсов. 

						p Сбор данных по учету воды осуществляется по правилам формирования форм государственной статистической отчетности, и, если такая отчетность не предусмотрена, на основании хозяйственных договоров водопотребления и водоотведения.

					.dmpage-text.dmpage-text--small
						p *«Свежая вода» — это вода, забираемая из поверхностных и подземных источников, дождевая вода и вода, поступившая от третьих лиц по договорам водоснабжения. Используется как на производственные, так и на хозяйственно-бытовые и иные нужды Компании. Согласно международному стандарту GRI 303, «свежая» вода — вода, содержащая менее 1 000 мг/л растворенных твердых веществ (определение основано на стандарте ISO 14046:2014). В настоящем разделе, если не указано иное, речь идет о «свежей воде»

					.dmpage-text
						h3 ВОДОПОТРЕБЛЕНИЕ, МЛН М<sup>3</sup>
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image27.png", alt="")
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image18.png", alt="")
						p В 2022 году, благодаря продолжающейся реализации мероприятий и инвестиционных проектов по сокращению забора воды и водоотведению, водопотребление по Группе «Татнефть» уменьшилось на 5 %. В связи с изменением подхода по учету потерь воды, данные за 2020, 2021 годы были пересчитаны для сопоставления.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image22.png", alt="")

						p Реализация мероприятий, направленных на увеличение доли оборотной воды, используемой на производственные нужды, а также проведение своевременного ремонта сетей водоснабжения позволило сократить забор из поверхностных источников на 2 % или на 1,2 млн. м3 по сравнению с прошлым годом.


					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title УДЕЛЬНОЕ ВОДОПОТРЕБЛЕНИЕ НА ПРОИЗВОДСТВЕННЫЕ НУЖДЫ
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
									
								thead 
									tr
										th  
										th
											p 2020
										th
											p 2021
										th
											p 2022
										
								tbody
									tr
										td
											p Разведка и добыча, 
											p м3/т добытой нефти
										td
											p 1,21
										td
											p 1,141
										td
											p 1,18
									tr
										td
											p Нефтегазопереработка, 
											p м3/т.у.т. переработанного сырья
										td
											p 0,145
										td
											p 0,075
										td
											p 0,06
									tr
										td
											p Нефтегазохимия,
											p м3/т товарной продукции
										td
											p 0,0163
										td
											p 0,0142
										td
											p 0,0089
									tr
										td
											p Энергетика, 
											p м3/КВт*ч выработанной энергии
										td
											p 0,00148
										td
											p 0,00145
										td
											p 0,00149

					.dmpage-text
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image5.png", alt="")
						p Компания осуществляет забор воды из различных источников, в том числе из подземных, поверхностных водных объектов. Основными источниками забора воды являются Куйбышевское водохранилище, реки Волга, Кама и Степной Зай, Ямашка, Стерля, Шабиз. Поступление воды осуществляется так же сторонними организациями на основании договоров водоснабжения и в рамках организованного сбора талого и ливневого стока с территорий предприятий.

						
					.dmpage-quote
						|  Группа «Татнефть» не оказывает существенного воздействия водозабором на природные источники воды. Объемы забора воды из поверхностных и подземных источников не превышают разрешенных лимитов

					.dmpage-text
						h3 ИСПОЛЬЗОВАНИЕ ВОДЫ НА РАЗЛИЧНЫЕ НУЖДЫ, МЛН М<sup>2</sup>
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image2.png", alt="")
						p 87% потребляемой воды используется на производственные нужды. В 2022 году изменился подход по учету потерь при транспортировке воды, ранее потери отражались часть отдельно и не суммировалась с общим забором, часть — в производственных нуждах. С 2022 года потери учитываются — в заборе в категории «поверхностные воды», а в использовании — в категории «прочие», 2021 год пересчитан для сопоставления.
						h3 ДОБЫТАЯ ПОПУТНО С УГЛЕВОДОРОДАМИ ВОДА, ВПОСЛЕДСТВИИ ЗАКАЧАННАЯ В ПЛАСТ ДЛЯ ПОДДЕРЖАНИЯ ПЛАСТОВОГО ДАВЛЕНИЯ
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image11.png", alt="")
						h3 ОБОРОТНАЯ И ПОВТОРНО ИСПОЛЬЗУЕМАЯ ВОДА
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image7.png", alt="")
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image6.png", alt="")

						p Важным показателем для характеристики рационального водопользования являются расходы в системах оборотного и повторного водоснабжения*. В 2022 году доля оборотной и повторно-последовательно используемой воды составила 94,2 % в общем объеме воды, которая направляется на производственные нужды, что позволяет сберечь объемы забираемой (чистой) воды из внешней среды.

					.dmpage-text.dmpage-text--small
						p *Данные приведены с учетом объемов воды, циркулирующей в системах оборотного водоснабжения, повторно-последовательно используемой (воды, сохранившей качественные показатели после применения в каком-либо технологическом процессе и без обработки подаваемой для повторного применения), а, также, добытой попутно с углеводородами и впоследствии использованной для целей поддержания пластового давления (повторно-использованной).
					.dmpage-text
						ul
							li Реализованная схема замкнутого водоснабжения и водоотведения на очистных сооружениях АО «Танеко» обеспечила 100% возврат в производство очищенных сточных вод, что позволило сберечь в 2022 году 7,62 млн м3 воды за счет исключения ее потребления из р. Камы 
							li Снижено потребление речной воды на производственные нужды на 3,7 млн м3  за счет использования оборотной воды, полученной путем изменения схемы питания водооборотного блока ООО «Тольяттикаучук», реконструкции магистрального подземного водовода для подачи речной воды 
							li С помощью технологических решений, применяемых на установках подготовки попутно-добываемой воды при добыче СВН, оптимизировано использование свежей воды в 2022 году 4,7 млн м3, с 2018 года — около 15 млн м3
						h2 ВОДООТВЕДЕНИЕ
						p Повышение качества сточных вод является одной из важных задач программы экологической безопасности. В Компании проводится регулярный мониторинг качества сточных вод. Стоки, образовавшиеся в результате производственных процессов, направляются на очистные сооружения, согласно определенным законодательством РФ нормативам. Контроль соблюдения установленных нормативов осуществляют лаборатории Компании, а также независимые аккредитованные организации.


						h3 ВОДООТВЕДЕНИЕ В ПОВЕРХНОСТНЫЕ ВОДНЫЕ ОБЪЕКТЫ, МЛН М
							sup 3
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image8.png", alt="")




					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title УДЕЛЬНОЕ ВОДООТВЕДЕНИЕ В ПОВЕРХНОСТНЫЕ ВОДНЫЕ ОБЪЕКТЫ

						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other()  
									
								thead 
									tr
										th
										th
											p 2020
										th
											p 2021
										th
											p 2022
							
								tbody
									tr
										td
											p Разведка и добыча,
											p м3/т добытой нефти
										td
											p 0
										td
											p 0
										td
											p 0
									tr
										td
											p Нефтегазопереработка,
											p м3/т.у.т. переработанного сырья
										td
											p 0,141886
										td
											p 0,004943
										td
											p 0,002434
									tr
										td
											p Нефтегазохимия,
											p м3/т товарной продукции
										td
											p 0,015487
										td
											p 0,014011
										td
											p 0,007599
									tr
										td
											p Энергетика,
											p м3/КВт*ч выработанной энергии
										td
											p 0
										td
											p 0
										td
											p 0

					.dmpage-quote
						|  В 2022 году по Группе «Татнефть» достигнуто снижение объемов водоотведения на 26%.

					.dmpage-text

						p Реализуются инвестиционные проекты по технологическому перевооружению производства, проводятся мероприятия по соблюдению нормативов содержания загрязняющих веществ в сточных водах, по содержанию в надлежащем санитарно-экологическом состоянии территории площадок и мест сброса сточных вод в целях обеспечения нормативного уровня очистки сточных вод и полного исключения сброса загрязненных стоков в окружающую среду. 
						p С целью повышения качества механической очистки сточных вод ООО «Тольяттикаучук» на установке нейтрализации и очистки промышленных сточных вод проведена реконструкция двух радиальных первичных отстойников и внедрена система реагентной обработки поступающих на очистку стоков. Для повышения качества доочистки проведена замена барабанных сеток на установке нейтрализации и очистки промышленных сточных вод.
						p Отведено сточных вод в муниципальные организации канализации (передано третьей стороне после использования) — 4,9 млн.м³ (снижение на 5% связано с выходом шинного бизнеса из периметра Группы «Татнефть»).


					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Достижение целей устойчивого развития
								.dmpage-accordion-body
									.dmpage-accordion-body__text

										img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image10.png", alt="")

block scripts
	




