extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Система предупреждения и ликвидации чрезвычайных ситуаций

			h1.dmpage-h1 Система предупреждения и ликвидации чрезвычайных ситуаций

		.dmpage
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya/ekologicheskij-menedzhment.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya/ekologicheskij-menedzhment.html") К началу раздела
						a.dmpage-menu-item(href="sistema-upravleniya-3.html") Система управления
						a.dmpage-menu-item(href="vklad-v-zashitu-okruzhayushej-sredy.html") Вклад в защиту окружающей среды
						a.dmpage-menu-item.dmpage-menu-item--active(href="sistema-preduprezhdeniya-i-likvidacii-chrezvychajnyh-situacij-eco.html") Система предупреждения и ликвидации чрезвычайных ситуаций
						a.dmpage-menu-item(href="svedeniya-o-spornyh-ekologicheskih-situaciyah.html") Сведения о спорных экологических ситуациях
						a.dmpage-menu-item(href="pokazateli-vozdejstviya-na-okruzhayushuyu-sredu.html") Показатели воздействия на окружающую среду
						a.dmpage-menu-item(href="informirovanie.html") Информирование
						

						


			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						p Система предупреждения и ликвидации чрезвычайных ситуаций (ЧС), обусловленных разливами нефти и нефтепродуктов, защиты населения и окружающей среды от их вредного воздействия, в Компании осуществляется по двум основным направлениям деятельности: комплекс инженерно-технических и организационных мероприятий, которые нацелены на повышение надёжности производственного оборудования, своевременное обнаружение нефтеразливов и минимизацию потерь от них, а также комплекса мероприятий, направленных на оперативное реагирование на данный вид ЧС.
						p Организована системная работа по выполнению «Правил организации мероприятий по предупреждению и ликвидации разливов нефти и нефтепродуктов на территории Российской Федерации, за исключением внутренних морских вод Российской Федерации и территориального моря Российской Федерации, а также о признании утратившими силу некоторых актов Правительства Российской Федерации», утверждённых постановлением Правительства РФ от 31.12.2020 № 2451 (далее – Правила).
						p Во исполнение указанных Правил в установленном порядке разрабатываются Планы по предупреждению и ликвидации разливов нефти и нефтепродуктов.
						p В Планах приведены расчёты необходимого количества сил и средств для ликвидации разлива нефти. 
						p Созданы и аттестованы ведомственной аттестационной комиссией нештатные аварийно-спасательные формирования с правом ведения газоспасательных работ. Формирования укомплектованы обученным личным составом, техникой и специальным оборудованием, достаточным для локализации и ликвидации разливов нефти (скиммерные установки-нефтесборщики для сбора нефти и нефтепродуктов с водной поверхности, боновые заграждения, спецтехника на шасси автомобилей высокой проходимости, насосные агрегаты, автоцистерны, вакуумные установки, автокраны, грузовой транспорт, экскаваторы, бульдозеры, а также оборудование и материалы, согласно требованиям нормативных документов).
						p Созданы неснижаемые резервы материальных ресурсов, в том числе для ликвидации разливов нефти и нефтепродуктов на водных объектах.
						p В целях предупреждения и ликвидации аварийных ситуаций, связанных с нефтеразливами, заключены договоры с профессиональными аварийно-спасательными формированиями ГУ МЧС России по РТ, ФГУ АСФ «Северо-Восточная противофонтанная военизированная часть» и ООО «РегионСпас».
						p По согласованным с Росприроднадзором Планам проводятся теоретические и практические учебные занятия по ликвидации возможных разливов нефти и нефтепродуктов и комплексные учения по подтверждению готовности эксплуатирующей организации – предприятий Группы «Татнефть» к действиям по локализации и ликвидации разливов нефти и нефтепродуктов.
						p Для предотвращения загрязнения поверхностных водных объектов нефтью в работоспособном состоянии поддерживаются более 500 стационарных нефтеулавливающих сооружений (НУС), боновых заграждений, биопрудов.
						p С целью обеспечения открытости организаций, входящих в Группу «Татнефть» в вопросах охраны окружающей среды и обеспечения экологической безопасности, принят механизм приглашения заинтересованной общественности и СМИ к наблюдению за проведением комплексных учений по подтверждению готовности эксплуатирующей организации – предприятий Группы «Татнефть» к действиям по локализации и ликвидации максимального расчётного объёма разлива нефти и нефтепродуктов. Информация о проведении комплексных учений размещается в печатных изданиях, интернете и в социальных сетях. Сформирована Памятка для представителей общественности, заинтересованных в участии в проведении и анализе командно-штабных, комплексных и иных учений по ликвидации разливов нефти и нефтепродуктов в структурных подразделениях ПАО «Татнефть», подконтрольных и связанных организациях, входящих в Группу «Татнефть».

						
					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text  Приложение
									
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_2/prilozhenie_2.1._pamjatka_dlja_predstavitelej_obschestvennosti_zainteresovannyh_v_uchastii_v_provedenii_i_analize_komandno-shtabnyh_kompleksnyh_i_inyh_uchenij_po_likvidacii_razlivov_nefti_i_nefteproduktov.pdf" download) Памятка для представителей общественности, заинтересованных в участии в проведении и анализе командно-штабных, комплексных и иных учений по ликвидации разливов нефти и нефтепродуктов в структурных подразделениях ПАО «Татнефть»
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_2/prilozhenie_2.2._mery_po__spaseniju_zhivotnyh_i_ptic_pri_likvidacii_avarijnyh_razlivov_nefti_v_pao_tatneft.pdf" download) Меры по спасению животных и/или птиц при ликвидации аварийных разливов нефти в ПАО «Татнефть»
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_2/prilozhenie_2.3._plan_preduprezhdenija_i_likvidacii_razlivov_nefti_cdng-3_ngdu_prikamneft_ddng_sp_tatneft-dobycha_pao_tatneft.pdf" download) План предупреждения и ликвидации разливов нефти ЦДНГ-3 НГДУ «Прикамнефть» ДДНГ СП «Татнефть-Добыча» ПАО «Татнефть»
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_2/prilozhenie_2.4._plan_po_preduprezhdeniju_i_likvidacii_razlivov_nefti_i_nefteproduktov_ceha_dobychi_nefti_i_gaza_№1_ngdu_leninogorskneft_pao_tatneft.pdf" download) План по предупреждению и ликвидации разливов нефти и нефтепродуктов цеха добычи нефти и газа №1 НГДУ «Лениногорскнефть» ПАО «Татнефть»
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text  2022

									
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_2/prilozhenie_2.5._grafik_provedenija_kompleksnyh_uchenij_po_podtverzhdeniju_gotovnosti_k_dejstvijam_po_lokalizacii_i_likvidacii_nazliva_nefteproduktov_v_2022_godu.XLSX" download) График проведения комплексных учений по подтверждению готовности эксплуатирующей организации – ПАО «Татнефть» им. В.Д. Шашина к действиям по локализации и ликвидации максимального расчетного объема разлива нефти и нефтепродуктов на 2022 год
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_2/prilozhenie_2.6._!_neftjanye_vesti_№8_ot_2_03_2022.pdf" download) Нефтяные вести №8 2022 г.
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_2/prilozhenie_2.7._!_neftjanye_vesti_№12_ot_23_03_2022.pdf" download) Нефтяные вести №12 2022 г. 
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_2/prilozhenie_2.8._!_neftjanye_vesti_№13_ot_30_03_2022.pdf" download) Нефтяные вести №13 2022 г.
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_2/prilozhenie_2.9._!_neftjanye_vesti_№15_ot_13_04_2022.pdf" download) Нефтяные вести №15 2022 г.
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_2/prilozhenie_2.10._!_neftjanye_vesti_№29_ot_20_07_2022.pdf" download) Нефтяные вести №29 2022 г.
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text  2021
									
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_2/prilozhenie_2.11._informacija_o_provedenii_uchenij_v_2021_godu.docx" download) Информация о проведении учений в 2021 году
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_2/prilozhenie_2.12._neftjanye_vesti_№_16_ot_22_04_2021.pdf" download) Нефтяные вести №29 2022 г №16 от 22.04.2021
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_2/prilozhenie_2.13._neftjanye_vesti_№_27_ot_8_07_2021str_12.pdf" download) Нефтяные вести №29 2022 г №27 от 08.07.2021






block scripts




