extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Вклад в защиту окружающей среды

			h1.dmpage-h1 Вклад в защиту окружающей среды

		.dmpage
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_20_10_23/environmental-management.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya/ekologicheskij-menedzhment.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya/ekologicheskij-menedzhment.html") К началу раздела
						a.dmpage-menu-item.dmpage-menu-item--active(href="vklad-v-zashitu-okruzhayushej-sredy.html") Вклад в защиту окружающей среды						
						a.dmpage-menu-item(href="znachimye-ekologicheskie-fakty.html") Значимые экологические факты
						

						


			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						p В 2022 году расходы на охрану окружающей среды составили 10,8 млрд руб., что на 8,5 % меньше, чем в 2021 году. Уменьшение расходов преимущественно связано с изменением организационной структуры Группы «Татнефть» и уменьшением инвестиций в связи с завершением строительства и вводом в эксплуатацию общезаводской факельной системы и компрессорной установки сырого газа. 
						p Расчет расходов на охрану окружающей среды произведен на основании отчетов по формам федерального статистического наблюдения N 4-ОС «Сведения о текущих затратах на охрану окружающей среды» и № 18-КС «Сведения об инвестициях в основной капитал, направленных на охрану окружающей среды и рациональное использование природных ресурсов».

						.dmpage-table-section.dmpage-table-section--small
							.dmpage-table-overflow
								table.dmpage-table
									colgroup.dmptable-colgroup-1
										col.dmptable-col-1.dmptable-col-1--aw
									colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
										col.dmptable-col-other(span=2)
									thead
										tr
											th
												p Статья расходов, млрд руб.
											th
												p 2021
											th
												p 2022
									tbody
										
										tr
											td
												p Затраты на ООС (форма №4-ОС)
											td
												p 10,1
											td
												p 9,9
										tr
											td
												p Инвестиции в основной капитал, направленные на ООС (форма №18-КС) 
											td
												p 1,7
											td
												p 0,9
										tr
											td
												p Итого
											td
												p 11,8
											td
												p 10,8
										tr
											td
												p Платежи за негативное воздействие на ОС
											td
												p 0,028
											td
												p 0,024
										tr
											td
												p Штрафы и оплата ущерба
												p за экологическое воздействие
											td
												p 0,061
											td
												p 0,04 


						.dmpage-text
							h3 ВКЛАД В ОХРАНУ ОКРУЖАЮЩЕЙ СРЕДЫ, МЛРД РУБ.
							img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image81.png", alt="")
							p Масштабная природоохранная деятельность предприятий Группы «Татнефть» финансируется за счет собственных средств по приоритетному принципу. 
							img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image87.png", alt="")
							img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image78.png", alt="")

							p Объёмы финансирования природоохранных мероприятий в соответствии с Европейским Классификатором видов природоохранной деятельности (The Classification of Environmental Protection Activities and expenditures, СЕРА 2000) сгруппированы по 9 направлениям.


						.dmpage-table-section.dmpage-table-section--small
							h3.dmpage-table-title УДЕЛЬНЫЕ РАСХОДЫ НА ОХРАНУ ОКРУЖАЮЩЕЙ СРЕДЫ ПО БИЗНЕС-НАПРАВЛЕНИЯМ

							.dmpage-table-overflow
								table.dmpage-table
									colgroup.dmptable-colgroup-1
										col.dmptable-col-1.dmptable-col-1--aw
									colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
										col.dmptable-col-other() 
									colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
										col.dmptable-col-other() 
									colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
										col.dmptable-col-other() 
									thead
										tr
											th  
											th
												p 2020
											th
												p 2021
											th
												p 2022
									tbody
										tr
											td
												p Разведка и добыча,
												p руб./т добытой нефти
											td
												p 158
											td
												p 147
											td
												p 155
										tr
											td
												p Нефтегазопереработка,
												p руб./т.у.т. переработанного сырья
											td
												p 334
											td
												p 289
											td
												p 208
										tr
											td
												p Нефтегазохимия, 
												p руб./т товарной продукции
											td
												p 429
											td
												p 736
											td
												p 384
										tr
											td
												p Энергетика, 
												p руб./кВт*ч выработанной энергии
											td
												p 6,6
											td
												p 18
											td
												p 16 



						.dmpage-text
							h2 ЭКОЛОГИЧЕСКАЯ ПРОГРАММА
							p Достижение установленных целей в области экологической безопасности, снижения воздействия на окружающую среду, в том числе в области климатических аспектов и выбросов парниковых газов, реализуется через последовательно формируемые природоохранные программы. 
							p С 1990 года были успешно реализованы четыре природоохранные программы. Примененный комплексный подход к решению экологических вопросов позволил добиться улучшения состояния окружающей среды и снижения техногенного влияния нефтедобычи. 
							p С 2021 года действует пятая экологическая программа Компании, разработанная на период до 2025 года с целью поддержания состояния окружающей среды региона деятельности Компании на нормативно допустимом уровне, соответствующем потенциальным возможностям самовосстановления природных экосистем.
							p 
								b Экологическая программа объединяет усилия всех предприятий Группы «Татнефть» по сохранению качества окружающей среды. Программа учитывает не только законодательные требования к природоохранной деятельности, но и взятые на себя дополнительные обязательства. Основой программы является риск-ориентированный подход и цели по снижению техногенного воздействия на окружающую среду

block scripts




