extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Hydromonitoring

			h1.dmpage-h1 Hydromonitoring

		.dmpage
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/new_top_photos/hydromonitoring.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/ecology/water-intake-and-water-consumption.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/ecology/water-intake-and-water-consumption.html") To the beginning of the section
						a.dmpage-menu-item(href="water-consumption-performance-indicators.html") Water Consumption and Wastewater Disposal Performance

						a.dmpage-menu-item.dmpage-menu-item--active(href="hydromonitoring.html") Hydromonitoring
						

			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						p On the territory of the Company's production operations, a regime monitoring network of hydromonitoring functions to monitor the state of surface and underground waters, monitor the impact of the oil production process in order to comply with the license conditions for the use of subsurface resources.  
						p The results of the sample analyses are entered into the corporate information system. In 2022, 1,986 points of observation of water bodies were monitored, 22,463 samples were taken, the number of analyses performed was 102,081. Industrial environmental monitoring of water bodies is carried out by the Company's chemical and analytical laboratories.  
						p The analysis of waters complies with the parameter characteristic of the influence of production processes, in particular oil production, oil refining.
						h2 PRESERVATION OF SPRINGS 
						p The Company pays special attention to the preservation and improvement of water quality in springs. The quality of water in springs, being a kind of indicator of the activity of oil workers, signals the progress of field development. Therefore, the water quality in springs is under special control. 
						p Purposeful geological and technical measures carried out by oil workers in the area of operations of the Company's subdivisions, constant monitoring of the reliability of equipment contribute to the prevention of contamination of water sources, allowing to ensure the potential of self-restoration of ecosystems. In 2022, PJSC TATNEFT once again organized and held an annual competition "For maintaining the aesthetic condition of equipped springs and improving water quality", which has been implemented in the Company since 1995. 
						p 24 enterprises of the TATNEFT Group took part in the competition. The springs presented for participation in the competition showcase their originality, skillful use of the natural landscape and natural material. Many of them have become a genuine decoration of the area, settlements, outdoor recreation areas. During this time, more than 500 springs have been cleaned, piped and landscaped on the territory of the Company's operations.
					.dmpage-quote In 2022, the water quality in the main rivers of the Company's territory was stable. <br> The content of chloride ions, oil and petroleum products in the dissolved and emulsified state in the main rivers did not exceed the established standards of the maximum permissible concentration and substances

					.dmpage-text
						h3 Dynamics of changes in chloride ion concentration in the main rivers in the territory of PJSC TATNEFT’s operations (mg/l)
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image1.png", alt="")
						h3 Dynamics of changes in the concentration of oil and petroleum products in dissolved and emulsified form in major rivers in the territory of PJSC TATNEFT’s operations (mg/l)
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image3.png", alt="")
					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Appendix 
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_8/prilozhenie_8.1._grafiki_soderzhanija_hloridov_i_nefteproduktov_v_osnovnyh_rekah.xlsx" download) Графики содержания хлоридов и нефтепродуктов в основных реках