extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Water consumption performance indicators

			h1.dmpage-h1 Water consumption performance indicators

		.dmpage
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/ecology/water-intake-and-water-consumption.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/ecology/water-intake-and-water-consumption.html") To the beginning of the section
						a.dmpage-menu-item.dmpage-menu-item--active(href="water-consumption-performance-indicators.html") Water consumption performance indicators




			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p Caring for the planet is an integral part of our mission, which is aimed at mitigating the effects of climate change through a responsible approach to the use of water – a vital resource for the Earth and for humanity.
						p The use of water resources is necessary for all business areas of the TATNEFT Group - from oil and gas production to the sale of products. The Company also defines water as a strategic resource for the protection of biodiversity and human health, socio-economic development and industrial activities.
						p We are committed to the optimal management of water resources at all operation stages in harmony with the needs of the territories in accordance with the UN Sustainable Development Goals. The territory of the main production activity of the Company are the regions that do not have a shortage of fresh water. 
						p According to the "Water Strategy of the Russian Federation for the Period Up To 2020" (approved by Decree of the Government of the Russian Federation No. 1235-r dated August 27, 2009), the regions with a shortage of water resources include the Republic of Kalmykia, the Belgorod and Kursk regions, the Stavropol Territory, the North Caucasus, certain areas of the Southern Urals and southern Siberia, lower reaches of the Volga. 
						p The definition of low–water regions is also assessed based on data from the Aqueduct project of the World Resources Institute - basically, the territory of the Company's operations has low and average values of the "Baseline water stress level" indicator https://www.wri.org/aqueduct/tools
						p The Company's primary approach to solving the problem of rational water use: 	
						ul
							li application of recycling and re-water supply systems 

							li increasing of the degree of wastewater treatment
							li reduction of water intake from natural sources

						p Consumption of "fresh water"*, water use and access to water facilities for the TATNEFT Group in Russia is in line with the legislation of the Russian Federation, on the basis of water use agreements, decisions on the provision of water facilities for use, licenses for the right to use subsoil for the purpose of extracting groundwater, as well as resolutions of local regulatory authorities, this prevents exposure of local communities and the natural environment to the risk of water scarcity.

						p The data on water accounting is collected according to the rules for the formation of state statistical reporting, and, if such reporting is not available, on the basis of economic contracts for water consumption and sanitation.

					.dmpage-text.dmpage-text--small
						p * "Fresh water" is water taken from surface and underground sources, rainwater and water received from third parties under water supply contracts. It is used for both production and household and other needs of the Company. According to international standard GRI 303, "fresh" water is water containing less than 1,000 mg/l of dissolved solids (the definition is based on ISO 14046:2014). In this section, unless otherwise indicated, we talk about "fresh water".

					.dmpage-text
						h3 WATER CONSUMPTION, MLN M3
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image27.jpg", alt="")
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image18.jpg", alt="")
						p In 2022, due to continuing measures and investment projects to reduce water intake and water disposal, water consumption in the TATNEFT Group decreased by 5%. Due to the change in the approach to accounting for water losses, data for 2020, 2021 were recalculated for comparison.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image22.jpg", alt="")

						p The measures aimed at increasing the share of recycled water used for production needs, as well as the timely repair of water supply networks allowed reducing the intake from surface sources by 2% or 1.2 million m3 year on year.


					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title SPECIFIC WATER CONSUMPTION FOR PRODUCTION NEEDS
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
									
								thead 
									tr
										th  
										th
											p 2020
										th
											p 2021
										th
											p 2022
										
								tbody
									tr
										td
											p Exploration and production 
											p m3/ton of extracted oil
										td
											p 1,21
										td
											p 1,141
										td
											p 1,18
									tr
										td
											p Oil and gas processing 
											p m3/ton of oil equivalent of processed raw materials
										td
											p 0,145
										td
											p 0,075
										td
											p 0,06
									tr
										td
											p Petrochemicals,
											p m3/kg of marketable products
										td
											p 0,0163
										td
											p 0,0142
										td
											p 0,0089
									tr
										td
											p Power generation 
											p m3/kW*h of generated energy
										td
											p 0,00148
										td
											p 0,00145
										td
											p 0,00149

					.dmpage-text
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image5.jpg", alt="")
						p The Company withdraws water from various sources, including ground and surface water bodies. The main sources of water withdrawal are the Kuibyshev storage reservoir, the Volga, the Kama, the Stepnoy Zai, the Yamashka, the Sterlya, the Shabiz rivers. Water is also supplied by third-party organizations under water supply contracts and as part of the organized collection of meltwater and stormwater runoff from the territories of enterprises.

						
					.dmpage-quote
						|  The TATNEFT Group does not have a significant impact on natural water sources by its water withdrawal. Water withdrawals from surface and underground sources do not exceed the allowable withdrawal limits.

					.dmpage-text
						h3 USE OF WATER FOR VARIOUS NEEDS,	MLN CUB. M
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image2.jpg", alt="")
						p 87 % of consumed water is used for production needs. In 2022, the approach to accounting for losses during water transportation changed, wpreviously losses were reflected separately and were not summed up with the general intake, some of them - in production needs. Since 2022, losses have been taken into account - in the intake in the "surface water" category, and in use – in the "other" category, 2021 has been recalculated for comparison.
						h3 WATER EXTRACTED ALONG WITH HYDROCARBONS, SUBSEQUENTLY PUMPED INTO THE RESERVOIR TO MAINTAIN RESERVOIR PRESSURE
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image11.jpg", alt="")
						h3 RECYCLED AND REUSED WATER, MILLION M3
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image7.jpg", alt="")
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image6.jpg", alt="")

						p An important indicator for the characteristics of rational water use is the costs in the systems of recycled and reused water. In 2022, the share of recycled and reused water was 94.2% of the total volume of water used for production needs, which saves the amount of water withdrawn (clean water) from the external environment. 

					.dmpage-text.dmpage-text--small
						p *Data are given taking into account the volumes of water in circulating water supply systems, sequentially (re-used water that has retained quality indicators after use in any technological process and is supplied for reuse without treatment), and also extracted along with hydrocarbons and subsequently used for the purposes of maintaining reservoir pressure, (re-used).
					.dmpage-text
						ul
							li The implemented scheme of closed water supply and sanitation at the treatment facilities of JSC Taneco provided 100% return to the production of treated wastewater, which allowed saving 7.62 million m3 of water in 2022 by excluding its consumption from the Kama River
							li The consumption of river water for production needs has been reduced by 3.7 million m3 due to the use of recycled water obtained by changing the supply scheme of Togliattikauchuk LLC water circulation unit, reconstruction of the main underground water pipeline for river water supply
							li Due to technological solutions used at the facilities for the preparation of co-produced water during the extraction of SVO, the use of fresh water in 2022 was optimized to reach 4.7 million m3, from 2018 – about 15 million m3
						h2 WATER DISPOSAL
						p Improvement of wastewater quality is one of the important objectives of the environmental safety program. The Company conducts regular monitoring of wastewater quality. Wastewater from production processes is sent to treatment facilities in accordance with the standards established by Russian legislation. The Company's laboratories as well as independent accredited organizations monitor compliance with the established standards.


						h3 WATER DISPOSAL INTO SURFACE WATER BODIES, MLN M
							sup 3
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image8.png", alt="")




					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title SPECIFIC WATER DISPOSAL INTO SURFACE WATER BODIES, MLN M
							sup 3

						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other()  
									
								thead 
									tr
										th
										th
											p 2020
										th
											p 2021
										th
											p 2022
							
								tbody
									tr
										td
											p Exploration and production
											p m3/ton of extracted oil
										td
											p 0
										td
											p 0
										td
											p 0
									tr
										td
											p Oil and gas processing
											p m3/ton of oil equivalent of processed raw materials
										td
											p 0,141886
										td
											p 0,004943
										td
											p 0,002434
									tr
										td
											p Petrochemicals,
											p m3/kg of marketable products
										td
											p 0,015487
										td
											p 0,014011
										td
											p 0,007599
									tr
										td
											p Power generation
											p m3/kW*h of generated energy
										td
											p 0
										td
											p 0
										td
											p 0

					.dmpage-quote
						|  In 2022, the TATNEFT Group achieved a 26% reduction in wastewater disposal.

					.dmpage-text

						p Investment projects for technological re-equipment of production are implemented, measures are taken to comply with the standards for the content of pollutants in wastewater, to maintain the territory of wastewater disposal sites and places in proper sanitary and ecological condition in order to ensure the regulatory level of wastewater treatment and the complete exclusion of the discharge of contaminated wastewater into the environment. 
						p In order to improve the quality of mechanical wastewater treatment of Tolyattikauchuk LLC, two radial primary settling tanks were reconstructed at the industrial wastewater neutralization and treatment plant and a system of reagent treatment of incoming wastewater was introduced. To improve the quality of aftertreatment, the drum nets were replaced at the industrial wastewater neutralization and treatment plant.
						p Wastewater was diverted to municipal sewerage organizations (transferred to a third party after use) – 4.9 million m3 (a decrease of 5% is due to the exit of the tire business from the perimeter of the TATNEFT Group.