extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Biodiversity conservation


			h1.dmpage-h1 Biodiversity conservation


		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/new_top_photos/biodiversity-conservation.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/ecology.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/ecology.html") To the beginning of the section
						

			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p One of the priorities in the field of sustainable development of the Company is to minimize its impact on the environment.  
						p The Company reduces the man-caused impact on the natural environment of ecosystems and maintains favorable living conditions in the areas of its operations, improving environmental performance, and takes measures to restore the ecosystem to the level of self-healing potential, including the protection and conservation of biodiversity.
						p The Company has undertaken the following commitments in the field of biodiversity conservation:
						ul 
							li reducing the significant impact of the Company's activities, products and services on the biodiversity of protected natural areas and areas with high biodiversity value outside the boundaries of protected natural areas
							li conservation and restoration of biodiversity, habitats, animal migration routes and compensation for possible environmental damage
							li reduction and prevention of fragmentation of natural landscapes, reduction of disturbed territories
							li minimization of operations on specially protected natural territories and in their protected areas, on World Natural Heritage sites
						p 
							b Regulatory internal documents:
						ul 
							li Policy on Sustainable Development and Engagement with Stakeholders 
							li Health, Safety and Environmental Policy of PJSC TATNEFT named after V.D. Shashin with considerations to climate change
							li Standard on Management of Protection of Land and Forest Resources, Biodiversity, Specially Protected Natural Areas (specially protected natural areas)
							li Regulations on the protection and rational use of land and forest resources
						p The Company treats any natural territories in the locations of its presence as protected and annually enhances its efforts on biodiversity conservation.
						p The Company implements the Biodiversity Preservation Program. The purpose of the Biodiversity Conservation Program is to preserve the diversity of natural biosystems in the territories of operations at a level that ensures their sustainable existence and sustainable use. To achieve this goal, a set of measures has been developed, which is an integral part of the Environmental Program.
						p 
							b Environmental aspect identification system 
						p The integrated management system of the Company provides for a system of identification of environmental aspects, which allows to identify areas of impact on biodiversity that need to be controlled or improved, as well as to set priorities.
						p The results of hazard identification and risk assessment of the environmental aspects of the Company are the initial data for the development of measures for the conservation of biodiversity and the formation of appropriate programs.
						p The Company's main impacts on biodiversity:
						ul 
							li oppression of flora and fauna due to continuous air pollution, physical exposure
							li impact on immobile groups of living organisms during the construction of oil facilities
							li fragmentation of landscapes, due to the construction of a road network, pipelines
							li death of micro- and mesofauna, flora, soil degradation as a result of accidental oil spills on the terrain
						p The main objects of the Biodiversity Conservation Program are:
						ul 
							li specially protected natural areas
							li species and populations of the animal world subject to special protection and their habitats
							li vulnerable ecosystems (estuaries, swamps, tundra, etc.)
						p In the course of production activities, the Company has no irreversible impact on biodiversity.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image19.jpg", alt="")
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image20.jpg", alt="")
						h2 SPECIALLY PROTECTED NATURAL AREAS
						p The core activity of the Company is focused in the south-east of the Republic of Tatarstan, which is densely populated, developed in agriculture and experiences a high anthropogenic load. 
						p There are 35 specially protected natural territories in the region of the Company's production activity. The largest specially protected natural area of federal significance is the Nizhnyaya Kama National Park. 
						p This is a unique natural complex of forests and meadows of the north-east of Tatarstan with an area of 26,460 hectares, located in the center of the Nizhnekamsk territorial production complex. The Company carries out industrial ecological control of the flora (phytomonitoring) on the territory of the Nizhnyaya Kama National Park.
						p According to the results of monitoring studies, the operation of the Company's oilfield facilities in 2022 did not result in a deterioration of the ecosystems of the adjacent territory, and did not violate the park's protection regime. Industrial environmental control is carried out by the Company in the territories of the developed fields located in the Nenets Autonomous Okrug.
						p Due to the special vulnerability of natural tundra complexes, the control program has been expanded and includes an assessment of the species and quantitative composition of vegetation cover, soil mesofauna and soil mammals, mosses, wildlife, benthos. The monitoring results show that the operation area is not subject to significant anthropogenic impact.
						h2 SPECIES AND POPULATIONS OF THE ANIMAL WORLD SUBJECT TO SPECIAL PROTECTION 
						p 18 bird species and 4 fish species listed in the Red Book of the Russian Federation, 2 mammal species listed in the Red Book of the Russian Federation and the Red Book of the Republic of Tatarstan - the bobac and the desman, which are also in the Red List of the International Union for Conservation of Nature, inhabit the territory of the TATNEFT Group operations.
						p The location of production facilities outside the territories of the habitat of rare animal species, the implementation of environmental protection measures can reduce the adverse impact on the environment and prevent the disappearance of rare animal species by supporting existing specially protected natural areas. The Company, together with Ak Bars Hockey Club, continues to support the restoration and increase of the population of the "red book" snow leopard.
						p Sailugemsky National Park in Altai is the only place in Russia where the symbols of Tatarstan — snow leopards - live. Installed camera traps help to record the habits of the predators, their movements and the appearance of new individuals, and anti-poaching raids have reduced the occurrence of illegal hunting. 
						p Educational and PR events aimed at increasing the awareness of the program and the level of environmental responsibility have been implemented jointly with the Sailyugemsky National Park.
						p A children's book "The Mystery of the Missing Stick" has been published, where a separate chapter is devoted to the rescue of snow leopards in the Altai. The work has an important disciplinary and educational value, 10,000 copies of the book were donated to the children of the Company's employees. 
						p In 2023, information cooperation and participation in anti-poaching raids in the Altai Territory of the Saylyugemsky National Park will continue, as well as charity matches of  Ak Bars Hockey Club in support of the conservation of the snow leopard population.
					.dmpage-quote Since 2021, the Company has been providing voluntary insurance of environmental risks of a hazardous production facility - the oil treatment and pumping unit of NGDU Prikamneft, which is the closest to the Nizhnyaya Kama National Park and the Kama River.




					.dmpage-table-section.dmpage-table-section--small
						h4.dmpage-table-title IMPLEMENTED MEASURES AIMED AT PRESERVING BIODIVERSITY
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other()
									
							
								tbody
									tr
										td
											p planting various types of trees and shrubs
										td(style="min-width:150px;")
											p 2.2 mln pcs.
									tr
										td
											p optimization of the logging area due to the layout of drilling equipment
										td
											p 11.6 ha
									tr
										td
											p
												| cleaning of the coastal strips of the Stepnoy Zai River from invasive plant species – American maple with the planting of trees of local species – willow, linden, bird cherry, etc.
										td
											p 50 ha
									tr
										td
											p
												| the area of cut trees and brushwood was reduced through the use of insulated wires on power lines running through forested areas
										td
											p 79 ha
									tr
										td
											p unclaimed land plots returned
										td
											p 1,869.6 ha
									tr
										td
											p restoration of disturbed lands
										td
											p 1,390 ha
									tr
										td
											p
												| release of fry of valuable fish species, including young sterlet, carp, silver carto the Volga, Kama, Kuibyshev reservoir
										td
											p 262,000 pcs.
									tr
										td
											p overhaul of pipeline crossings
										td
											p 41 pcs. 
									tr
										td
											p dismantling of inactive pipelines through water bodies
										td
											p 79 pcs.
									tr
										td
											p overhaul of pipelines, total: 321 km (of which with the use of fiberglass pipes
										td
											p 146 km)
									tr
										td
											p repair of field joints of pipelines of the PDD system
										td
											p 164 km
									tr
										td
											p examination of industrial safety of pipelines
										td
											p 5,287 km
									tr
										td
											p construction of pipelines made of fiberglass pipes
										td
											p 240 km
									tr
										td
											p lining of mud pits during well construction and workover
										td
											p 430,000 m2




					//.dmpage-text
						h2 IMPLEMENTED MEASURES AIMED AT PRESERVING BIODIVERSITY:
						p planting various types of trees and shrubs - 2.2 mln pcs.
						p optimization of the logging area due to the layout of drilling equipment - 11.6 ha
						p cleaning of the coastal strips of the Stepnoy Zai River from invasive plant species – American maple with the planting of trees of local species – willow, linden, bird cherry, etc. - 50 ha
						p the area of cut trees and brushwood was reduced through the use of insulated wires on power lines running through forested areas - 79 ha
						p unclaimed land plots returned - 1,869.6 ha
						p restoration of disturbed lands	- 1,390 ha
						p release of fry of valuable fish species, including young sterlet, carp, silver carp to the Volga, Kama, Kuibyshev reservoir	- 262,000 pcs.
						p overhaul of pipeline crossings 	- 41 pcs. 
						p dismantling of inactive pipelines through water bodies	- 79 pcs.
						p overhaul of pipelines, total: 321 km (of which with the use of fiberglass pipes	146 km)
						p repair of field joints of pipelines of the PDD system	- 164 km
						p examination of industrial safety of pipelines	- 5,287 km
						p construction of pipelines made of fiberglass pipes	- 240 km
						p lining of mud pits during well construction and workover	- 430,000 m2




					.dmpage-text
						h3 STOCKING OF RIVERS WITH YOUNG FISH, THOUSAND PCS. 

						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image21.jpg", alt="")
						h3 DYNAMICS OF FOREST PLANTATIONS (MILLION TREES PER YEAR)

						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image26.jpg", alt="")
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image25.jpg", alt="")
				
		
					.dmpage-table-section
						h4.dmpage-table-title Sites of the Natural Reserve Fund of the region of PJSC TATNEFT production activities

						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								thead
									tr
										th
											p Item No.
										th
											p
												| Municipal
												br
												| District
										th
											p Name and Status of Protected Area
										th
											p
												| Protected Area Size, 
												br
												| ha
								tbody
									tr
										td
											p 1.
										td
											p Argyzsky
										td
											p Kichke-Tan Complex Nature Reserve
										td
											p 9 795,77
									tr
										td
											p 2.
										td
											p Argyzsky
										td
											p Natural Sanctuary of Regional Importance “Slozhny Bor”
										td
											p 49
									tr
										td
											p 3.
										td
											p Yelabuzhsky
										td
											p Nizhnyaya Kama National Park (area)
										td
											p 16 849
									tr
										td
											p 4.
										td
											p Aznakaevsky
										td
											p Chatyr-Tau Complex Nature Reserve
										td
											p 4 149,54
									tr
										td
											p 5.
										td
											p Aznakaevsky
										td
											p
												| State Natural Reserve of Regional Significance of Botanical Profile “Vladimirsky Slope”
										td
											p 47,04
									tr
										td
											p 6.
										td
											p Leninogorsky
										td
											p Stepnoy Complex Nature Reserve
										td
											p 5 772
									tr
										td
											p 7.
										td
											p Bugulminsky
										td
											p
												| State Natural Reserve of Regional Significance of Botanical Profile “Adonis Forest”
										td
											p 61
									tr
										td
											p 8.
										td
											p Bugulminsky
										td
											p
												| State Natural Reserve of Regional Significance of Botanical Profile “Novo-Alexandrovsky Slope”
										td
											p 44,2
									tr
										td
											p 9.
										td
											p Bugulminsky
										td
											p
												| State Natural Reserve of Regional Significance of Botanical Profile "Kazankinsky Botanical Reserve for the Conservation of Adonis vernalis"
										td
											p 5,01
									tr
										td
											p 10.
										td
											p Bugulminsky
										td
											p Natural Sanctuary of Regional Importance “Tatarsko-Dymskaya Glade”
										td
											p 1,87
									tr
										td
											p 11.
										td
											p Bugulminsky
										td
											p Nature Sanctuary of Regional Significance “Spasskiye Klyuchi”
										td
											p 0,1
									tr
										td
											p 12.
										td
											p Bugulminsky
										td
											p Nature Sanctuary of Regional Significance “Petrovskie Pines”
										td
											p 53
									tr
										td
											p 13.
										td
											p Bugulminsky
										td
											p Nature Sanctuary of Regional Significance "Kabashskaya Mountain”
										td
											p 50,06
									tr
										td
											p 14.
										td
											p Muslyumovsky
										td
											p
												| State Natural Reserve of Regional Significance of Botanical Profile “Narat-Astin Forest”
										td
											p 468,3
									tr
										td
											p 15.
										td
											p Novosheshminsky
										td
											p
												| State Natural Reserve of Regional Significance of Botanical Profile “Korzhinsky Slopes”
										td
											p 150
									tr
										td
											p 16.
										td
											p Novosheshminsky
										td
											p
												| State Natural Reserve of Regional Significance of Botanical Profile "Kazankinsky Botanical Reserve for the Conservation of Adonis vernalis"
										td
											p 9,14
									tr
										td
											p 17.
										td
											p Sarmanovsky
										td
											p
												| State Natural Reserve of Regional Significance of Botanical Profile “Syulukeevsky Forest”
										td
											p 194,6
									tr
										td
											p 18.
										td
											p Aktanyshsky
										td
											p Natural Sanctuary of Regional Importance “Lake Kopanoe”
										td
											p 0,74
									tr
										td
											p 19.
										td
											p Almetyevsky
										td
											p
												| Nature Reserve of Regional Significance “Forest Crops of Spruce and Larch 1910-1913”
										td
											p 6,4
									tr
										td
											p 20.
										td
											p Almetyevsky
										td
											p Natural Sanctuary of Regional Importance “Aktash Landslip Seam”
										td
											p 0,04
									tr
										td
											p 21.
										td
											p Bavlinsky
										td
											p Nature Sanctuary of Regional Significance "Salikhovskaya Mountain”
										td
											p 29,93
									tr
										td
											p 22.
										td
											p Zainsky
										td
											p Natural Sanctuary of Regional Importance “Bukharaisky Forest” (area 1)
										td
											p 252,8
									tr
										td
											p 23.
										td
											p Mamadyshsky
										td
											p Nature Sanctuary of Regional Significance “Sokolsky Forest”
										td
											p 3 852
									tr
										td
											p 24.
										td
											p Mamadyshsky
										td
											p Nature Sanctuary of Regional Significance “Bersutsky Fir Forests”
										td
											p 8,5
									tr
										td
											p 25.
										td
											p Mamadyshsky
										td
											p Nature Sanctuary of Regional Significance “Moeshebash Forestry”
										td
											p 131,6
									tr
										td
											p 26.
										td
											p Menzelinsky
										td
											p Natural Sanctuary of Regional Importance “Igimskiy Coniferous Forest”
										td
											p 584,01
									tr
										td
											p 27.
										td
											p Nizhnekamsky
										td
											p Natural Sanctuary of Regional Importance “Borkovskaya Dacha”
										td
											p 1 030
									tr
										td
											p 28.
										td
											p Nurlatsky
										td
											p Natural Sanctuary of Regional Importance “Kara-Kul Lake”
										td
											p 1,37
									tr
										td
											p 29.
										td
											p Cheremshansky
										td
											p Natural Sanctuary of Regional Importance “Asphaltite Prospect”
										td
											p 4
									tr
										td
											p 30.
										td
											p Yutazinsky
										td
											p Natural Sanctuary of Regional Importance “Urdaly Tau”
										td
											p 2,5
									tr
										td
											p 31.
										td
											p Naberezhnye Chelny
										td
											p Nature Sanctuary of Regional Significance “Borovetskiye Klyuchi”
										td
											p 5
									tr
										td
											p 32.
										td
											p Mendeleevsky
										td
											p Ushkov Estate — Historical, Cultural, and Natural Territory
										td
											p 5,1
									tr
										td
											p 33.
										td
											p Nizhnekamsky
										td
											p Nizhnyaya Kama National Park (area)
										td
											p 213
									tr
										td
											p 34.
										td
											p Sarmanovsky
										td
											p Natural Sanctuary of Regional Importance “Bukharaisky Coniferous Forest” (area 2)
										td
											p 196,1
									tr
										td
											p 35.
										td
											p Tukayevsky
										td
											p Nizhnyaya Kama National Park (Kazyl Tau area)
										td
											p 9 539
									tr
										td
											p  
										td
											p 
												b TOTAL FOR PJSC TATNEFT
										td
											p  
										td
											p 
												b 53 561,7

					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Biodiversity conservation program
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.1._programma_pao_tatneft_po_sohraneniju_bioraznoobrazija_2022.pdf" download) Program of PJSC TATNEFT for biodiversity conservation (2022)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.2._programma_pao_tatneft_po_sohraneniju_biologicheskogo_raznoobrazija_2018.pdf" download) Program of PJSC TATNEFT for biodiversity conservation (2018)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.3._plan_meroprijatij_po_sohraneniju_bioraznoobrazija_na_2023_god.pdf" download) Action plan for the biodiversity conservation as part of the biodiversity conservation program in the territory of the TATNEFT Group’s operations for 2023
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.4._otchet_o_vypolnenii_programmy_po_sohraneniju_bioraznoobrazija_za_2022_god.pdf" download) Report on the progress of the biodiversity conservation action plan as part of the biodiversity conservation program in the territory of TATNEFT Group’s operations for 2022
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.5._plan_po_sohraneniju_bioraznoobrazija_na_2022_god.pdf" download) Action plan for the biodiversity conservation as part of the biodiversity conservation program in the territory of TATNEFT Group operations for 2022

											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.6._otchet_o_vypolnenii_plana_po_sohraneniju_bioraznoobrazija_za_2021_god.pdf" download) Report on the progress of the biodiversity conservation action plan as part of the biodiversity conservation program in the territory of the TATNEFT Group’s operations for 2021
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.7._plan_po_sohraneniju_biraznoobrazija_na_2021_god.pdf" download) Action plan for the biodiversity conservation as part of the biodiversity conservation program in the territory of the TATNEFT Group’s operations for 2021
											