extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Biodiversity conservation


			h1.dmpage-h1 Biodiversity conservation


		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya.html") К началу раздела
						a.dmpage-menu-item(href="/ustojchivoe-razvitie/ekologiya/sohranenie-bioraznoobraziya/obekty-prirodno-zapovednogo-fonda-regiona-proizvodstvennoj-deyatelnosti-pao-tatneft.html") Объекты природно-заповедного фонда региона производственной деятельности ПАО «Татнефть»
						//a.dmpage-menu-item(href="ne-tolko-chistyj-vozduh.html") Не только чистый воздух
						

			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p One of the priorities in the field of sustainable development of the Company is to minimize its impact on the environment.  
						p The Company reduces the man-caused impact on the natural environment of ecosystems and maintains favorable living conditions in the areas of its operations, improving environmental performance, and takes measures to restore the ecosystem to the level of self-healing potential, including the protection and conservation of biodiversity.
						p The Company has undertaken the following commitments in the field of biodiversity conservation:
						ul 
							li reducing the significant impact of the Company's activities, products and services on the biodiversity of protected natural areas and areas with high biodiversity value outside the boundaries of protected natural areas
							li conservation and restoration of biodiversity, habitats, animal migration routes and compensation for possible environmental damage
							li reduction and prevention of fragmentation of natural landscapes, reduction of disturbed territories
							li minimization of operations on specially protected natural territories and in their protected areas, on World Natural Heritage sites
						p 
							b Regulatory internal documents:
						ul 
							li Policy on Sustainable Development and Engagement with Stakeholders 
							li Health, Safety and Environmental Policy of PJSC TATNEFT named after V.D. Shashin with considerations to climate change
							li Standard on Management of Protection of Land and Forest Resources, Biodiversity, Specially Protected Natural Areas (specially protected natural areas)
							li Regulations on the protection and rational use of land and forest resources
						p The Company treats any natural territories in the locations of its presence as protected and annually enhances its efforts on biodiversity conservation.
						p The Company implements the Biodiversity Preservation Program. The purpose of the Biodiversity Conservation Program is to preserve the diversity of natural biosystems in the territories of operations at a level that ensures their sustainable existence and sustainable use. To achieve this goal, a set of measures has been developed, which is an integral part of the Environmental Program.
						p 
							b Environmental aspect identification system 
						p The integrated management system of the Company provides for a system of identification of environmental aspects, which allows to identify areas of impact on biodiversity that need to be controlled or improved, as well as to set priorities.
						p The results of hazard identification and risk assessment of the environmental aspects of the Company are the initial data for the development of measures for the conservation of biodiversity and the formation of appropriate programs.
						p The Company's main impacts on biodiversity:
						ul 
							li oppression of flora and fauna due to continuous air pollution, physical exposure
							li impact on immobile groups of living organisms during the construction of oil facilities
							li fragmentation of landscapes, due to the construction of a road network, pipelines
							li death of micro- and mesofauna, flora, soil degradation as a result of accidental oil spills on the terrain
						p The main objects of the Biodiversity Conservation Program are:
						ul 
							li specially protected natural areas
							li species and populations of the animal world subject to special protection and their habitats
							li vulnerable ecosystems (estuaries, swamps, tundra, etc.)
						p In the course of production activities, the Company has no irreversible impact on biodiversity.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image19.jpg", alt="")
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image20.jpg", alt="")
						h2 SPECIALLY PROTECTED NATURAL AREAS
						p The core activity of the Company is focused in the south-east of the Republic of Tatarstan, which is densely populated, developed in agriculture and experiences a high anthropogenic load. 
						p There are 35 specially protected natural territories in the region of the Company's production activity. The largest specially protected natural area of federal significance is the Nizhnyaya Kama National Park. 
						p This is a unique natural complex of forests and meadows of the north-east of Tatarstan with an area of 26,460 hectares, located in the center of the Nizhnekamsk territorial production complex. The Company carries out industrial ecological control of the flora (phytomonitoring) on the territory of the Nizhnyaya Kama National Park.
						p According to the results of monitoring studies, the operation of the Company's oilfield facilities in 2022 did not result in a deterioration of the ecosystems of the adjacent territory, and did not violate the park's protection regime. Industrial environmental control is carried out by the Company in the territories of the developed fields located in the Nenets Autonomous Okrug.
						p Due to the special vulnerability of natural tundra complexes, the control program has been expanded and includes an assessment of the species and quantitative composition of vegetation cover, soil mesofauna and soil mammals, mosses, wildlife, benthos. The monitoring results show that the operation area is not subject to significant anthropogenic impact.
						h2 SPECIES AND POPULATIONS OF THE ANIMAL WORLD SUBJECT TO SPECIAL PROTECTION 
						p 18 bird species and 4 fish species listed in the Red Book of the Russian Federation, 2 mammal species listed in the Red Book of the Russian Federation and the Red Book of the Republic of Tatarstan - the bobac and the desman, which are also in the Red List of the International Union for Conservation of Nature, inhabit the territory of the TATNEFT Group operations.
						p The location of production facilities outside the territories of the habitat of rare animal species, the implementation of environmental protection measures can reduce the adverse impact on the environment and prevent the disappearance of rare animal species by supporting existing specially protected natural areas. The Company, together with Ak Bars Hockey Club, continues to support the restoration and increase of the population of the "red book" snow leopard.
						p Sailugemsky National Park in Altai is the only place in Russia where the symbols of Tatarstan — snow leopards - live. Installed camera traps help to record the habits of the predators, their movements and the appearance of new individuals, and anti-poaching raids have reduced the occurrence of illegal hunting. 
						p Educational and PR events aimed at increasing the awareness of the program and the level of environmental responsibility have been implemented jointly with the Sailyugemsky National Park.
						p A children's book "The Mystery of the Missing Stick" has been published, where a separate chapter is devoted to the rescue of snow leopards in the Altai. The work has an important disciplinary and educational value, 10,000 copies of the book were donated to the children of the Company's employees. 
						p In 2023, information cooperation and participation in anti-poaching raids in the Altai Territory of the Saylyugemsky National Park will continue, as well as charity matches of  Ak Bars Hockey Club in support of the conservation of the snow leopard population.
					.dmpage-quote Since 2021, the Company has been providing voluntary insurance of environmental risks of a hazardous production facility - the oil treatment and pumping unit of NGDU Prikamneft, which is the closest to the Nizhnyaya Kama National Park and the Kama River.
					.dmpage-text
						h2 IMPLEMENTED MEASURES AIMED AT PRESERVING BIODIVERSITY:
						p planting various types of trees and shrubs - 2.2 mln pcs.
						p optimization of the logging area due to the layout of drilling equipment - 11.6 ha
						p cleaning of the coastal strips of the Stepnoy Zai River from invasive plant species – American maple with the planting of trees of local species – willow, linden, bird cherry, etc. - 50 ha
						p the area of cut trees and brushwood was reduced through the use of insulated wires on power lines running through forested areas - 79 ha
						p unclaimed land plots returned - 1,869.6 ha
						p restoration of disturbed lands	- 1,390 ha
						p release of fry of valuable fish species, including young sterlet, carp, silver carp to the Volga, Kama, Kuibyshev reservoir	- 262,000 pcs.
						p overhaul of pipeline crossings 	- 41 pcs. 
						p dismantling of inactive pipelines through water bodies	- 79 pcs.
						p overhaul of pipelines, total: 321 km (of which with the use of fiberglass pipes	146 km)
						p repair of field joints of pipelines of the PDD system	- 164 km
						p examination of industrial safety of pipelines	- 5,287 km
						p construction of pipelines made of fiberglass pipes	- 240 km
						p lining of mud pits during well construction and workover	- 430,000 m2
						h3 STOCKING OF RIVERS WITH YOUNG FISH, THOUSAND PCS. 
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image21.jpg", alt="")
						h3 DYNAMICS OF FOREST PLANTATIONS (MILLION TREES PER YEAR)

						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image26.jpg", alt="")
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image25.jpg", alt="")
						h2 LAND RESTORATION
						p The main task of the completion stage of production is the environmentally safe completion of work and ensuring the restoration of disturbed areas. 
						p Moreover, a necessary condition for the liquidation stage is to ensure the conditions for the conservation of biodiversity in the zone of influence of the liquidated production facilities, as well as compensation/reimbursement for damage to disturbed biological resources. Measures to restore disturbed lands: technical and biological reclamation are mandatory. 
						p Reclamation measures create conditions for the development of vegetation. Gradually, biotic factors are making a greater influence on species diversity. The applied methods of reclamation provide high rates of vegetation renewal. After reclamation, work is underway to return unclaimed land.  The Company's activities for the restoration of disturbed lands are regulated by the "Regulations on the Protection and Rational Use of Land and Forest Resources".
						p In 2022, in order to establish a unified procedure for the reclamation of disturbed lands at the enterprises of the TATNEFT Group, as well as to prevent the adverse impact of disturbed lands on the environment, Instructions for the reclamation of disturbed lands and Guidelines for the creation of soil for reclamation were developed.
						p The Company applies a comprehensive approach to the reclamation of lands affected during the construction and operation of facilities, considering the categories of land use, soil types, types of violations, and pollution. The Company’s standards for the reclamation of lands affected during the construction and operation of oil field facilities, loss of piping integrity, the use of biotechnologies, and the preparation of reclamation projects have been updated.
						h3 VOLUMES OF RECLAMATION OF DISTURBED LANDS, HA
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image28.jpg", alt="")
						p The increase in the area of disturbed land is associated with an increase in drilling and construction of wells, as well as overhaul of pipelines.
						h2 ABANDONMENT OF OIL AND GAS FACILITIES
						p After the end of the cycle of operation of oil facilities, their dismantling and abandonment is carried out. 
						p The of hazardous production facilities are abandoned in accordance with the approved technical documentation for abandonment, with the implementation of measures defined in the project to protect the environment, ensure the safety of the population, the removal and disposal of waste, reclamation and landscaping of the land after the abandonment of the facility. At all wells, before well abandonment, production casing integrity survey is run, behind-the-casing cross flows, gas seepage, leakage of casing strings are eliminated if any.
						p The wellheads of abandoned wells located on land used for agricultural purposes and on land of non-industrial categories are deepened at least 0.8 m from the surface and equipped with a plug set on a surface casing (intermediate casing).
						p The plug is covered with material to prevent corrosion and the wellhead is backfilled with soil. After well abandonment, the well site is cleaned, contaminated soil is removed, granaries, trenches are filled in, false fills are removed, waste and equipment are taken away, landscaping is restored at the well site and adjacent areas, and land is reclaimed. The condition of abandoned wells is monitored.
						h2 THE IMPACT ASSOCIATED WITH THE RIGHT TO OWN AND USE LAND AND NATURAL RESOURCES
						p To ensure interaction with local communities and other users on land use issues and advance information and communication of information to citizens (land users), the Company introduces information about zones with special conditions for the use of territories (security zones and sanitary protection zones of production facilities) into publicly available information resources - public cadastral map, maps of municipal information resources of the Federal Register. 
						p There have been no cases of forced relocation of local communities or individuals resulting from decisions taken within the framework of land issues in the Company's activities.