extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Climate action

			h1.dmpage-h1 Climate action

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya.html") К началу раздела
						a.dmpage-menu-item(href="/ustojchivoe-razvitie/ekologiya/borba-s-izmeneniem-klimata/strategiya-dekarbonizacii.html") Стратегия декарбонизации
						a.dmpage-menu-item(href="/ustojchivoe-razvitie/ekologiya/borba-s-izmeneniem-klimata/risk-menedzhment.html") Риск-менеджмент
						a.dmpage-menu-item(href="/ustojchivoe-razvitie/ekologiya/borba-s-izmeneniem-klimata/vybrosy-parnikovyh-gazov.html") Выбросы парниковых газов
						a.dmpage-menu-item(href="/ustojchivoe-razvitie/ekologiya/borba-s-izmeneniem-klimata/resursoeffektivnost.html") Ресурсоэффективность
						a.dmpage-menu-item(href="/ustojchivoe-razvitie/ekologiya/borba-s-izmeneniem-klimata/vzaimodejstvie-po-voprosam-klimaticheskoj-povestki.html") Взаимодействие по вопросам климатической повестки
						



			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p The Company shares the global concern related to climate change and recognizes that global warming caused by an increase in the concentration of greenhouse gases in the atmosphere is one of the most important challenges for society and business. 
						p Since the issues of ecology and sustainable development of the regions of presence have historically been important for the Company's activities, Tatneft implements a long-term policy on decarbonization and environmental protection.  
						p Since 2015, greenhouse gas emissions into the atmosphere have been recorded and the UN Sustainable Development Principles and Goals have been implemented, since 2019 PJSC TATNEFT has been a member of the UN Global Compact. SDG 13 Taking urgent action to combat climate change and its impacts" has been identified as one of the priority goals.
						p In its strategic planning, the Company gives due consideration to these factors:
						ul
							li factors associated with the potential impact of the Paris Agreement climate goals on the global balance of primary energy consumption;
							li development of environmental regulation in the Russian Federation and abroad;
							li growth of the investors' expectations regarding the long-term sustainability of the business and regulatory requirements for disclosure of information on environmental impact and accounting for all types of emissions, including indirect greenhouse gas emissions, including through the supply chain.

						p In accordance with the international recommendations of the Task Force on Climate-Related Financial Disclosures (TCFD), an analysis of the risks and opportunities associated with climate change and their impact on the TATNEFT Group was carried out when updating the corporate strategy. 
						p The perimeter of the scenarios used for strategic planning of the long-term development of the world and Russian economy and energy includes a climate development scenario that corresponds to the goals of the Paris Climate Agreement; a long-term forecast of greenhouse gas emissions by the Group's enterprises in the strategic development option and a portfolio of projects that allow achieving intermediate goals to reduce greenhouse gas emissions.


						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image84.png", alt="")
						