extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Environmental management  

			h1.dmpage-h1 Environmental management  

		.dmpage.dmpage--no-art
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/ecology.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/ecology.html") To the beginning of the section
						a.dmpage-menu-item(href="/sustainable-development/ecology/environmental-management/management-system-3.html") Management system 3
						a.dmpage-menu-item(href="/sustainable-development/ecology/environmental-management/contribution-to-environmental-protection.html") Contribution to environmental protection
						a.dmpage-menu-item(href="/sustainable-development/ecology/environmental-management/emergency-prevention-and-response-system.html") Emergency prevention and response system
						a.dmpage-menu-item(href="/sustainable-development/ecology/environmental-management/information-on-disputable-ecological-situations.html") Information on disputable ecological situations
						a.dmpage-menu-item(href="/sustainable-development/ecology/environmental-management/environmental-performance.html") Environmental performance
						a.dmpage-menu-item(href="/sustainable-development/ecology/environmental-management/public-environmental-awareness.html") Public environmental awareness
						



			.dmpage-main
				.dmpage-detail 
				