extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Environmental management  

			h1.dmpage-h1 Environmental management  

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/new_top_photos/environmental-management.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/ecology.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/ecology.html") To the beginning of the section

						a.dmpage-menu-item(href="/sustainable-development/ecology/environmental-management/contribution-to-environmental-protection.html") Contribution to environmental protection

						
						a.dmpage-menu-item(href="significant-environmental-facts.html") Significant Environmental Facts





			.dmpage-main
				.dmpage-detail 
				

					.dmpage-text
						p The Company develops the health, safety and environmental (HSE) management system throughout the entire production chain of the TATNEFT Group. At the operational level, the health, safety and environmental management system is provided by two functional divisions:


						ul
							li Health, Safety and Environment Department* 
							li Environmental Protection and Ecology Department

					.dmpage-text.dmpage-text--small *for more information about the occupational safety and health management system, please see the "Production Safety” section


					.dmpage-text 
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image74.jpg")



					.dmpage-text
						h2 The environmental impact management system encompasses all the main levels of management
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image76.jpg")
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image75.jpg")

						p Since 2006, the Company has been developing an integrated health, safety and environmental management system that meets the advanced international ISO standards. Compliance with the standards is confirmed through recertification every three years.
						p Internal and external audits are carried out every year to help improve the management system and the level of competence of employees in these areas.  In order to further develop the management system and improve its effectiveness, the main processes were formalized in 2022. Responsibility matrices have been developed for the processes of the functional area, which covers all the organizations in the TATNEFT Group, and process efficiency indicators have been determined and linked to strategic environmental goals.
						p The Company is developing a voluntary environmental risk insurance system as part of the Company's integrated risk management system.
						p The TATNEFT Group on an ongoing basis provides insurance against the risks associated with damage to the environment. Insurance contracts are concluded for all hazardous production facilities of the Company assigned to the structural subdivisions and subsidiaries of the Company. The insurance company reimburses physical and property damage, as well as environmental damage.





					.dmpage-text
						h2 Management System Certificates
					.dmpage-small-w-section.dmpage-small-w-section--ext-docs
						.dmpage-extendable-docs
							each val in ['https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.1._sertifikat_taneko_14001_page-0001.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.9._sertifikat_taneko_14001_angl.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.10._sertifikat_taneko_14001_angl-1.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.2._sertifikat_toljattikauchuk_ISO_14001_RU_page-0001.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.11._toljattikauchuk_ISO_14001_angl_page-0001.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.3._ekopet_sertifikat_GOST_R_ISO_14001-2016_ru.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.4._ekopet_sertifikat_ISO_14001-2015_ru.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.12._ekopet_14001_angl_page-0001.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.5._sertifikat_bmz_ISO_14001-2015_rus.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.13._bmz_sertifikat_ISO_na_angl.jazyke1_page-0001.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.13._bmz_sertifikat_ISO_na_angl.jazyke1_page-0002.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.7._tng-algis_sertifikat_14001_rus_page-0001-min.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.15._tng-algis_sertifikat_14001_angl_page-0001-min.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.6._tatburneft_sertifikat_iso_14001_rus_page-0001.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.14._ISO14001-15_Tatburneft_angl_page-0001.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.8._sertifikat_osk_ism__ooo_himservis-1_rus_page-0001-min.jpg']
								.dmpage-extendable-doc.js-dmpage-extendable-doc
									.dmpage-extendable-doc__wrap.dmpage-extendable-doc__wrap--top Minimize
									.dmpage-extendable-doc__wrap.dmpage-extendable-doc__wrap--bottom Minimize
									.dmpage-extendable-doc__pic
										img(src=val, alt="", loading="lazy")




					//.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Management System Certificates 
									
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.1._sertifikat_taneko_14001.pdf" download)  Сертификат ТАНЕКО 14001
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.2._sertifikat_toljattikauchuk_ISO_14001_RU.pdf" download)  Сертификат Тольяттикаучук ISO 14001 RU
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.3._ekopet_sertifikat_GOST_R_ISO_14001-2016_ru.jpg" download)  Экопэт Сертификат GOST R ISO 14001-2016_ru
												//.jpg
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.4._ekopet_sertifikat_ISO_14001-2015_ru.jpg" download)  Экопэт сертификат ISO 14001-2015_ru
												//.jpg
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.5._sertifikat_bmz_ISO_14001-2015_rus.jpg" download)  Сертификат БМЗ ISO 14001-2015 рус
												//.jpg
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.6._tatburneft_sertifikat_iso_14001_rus.pdf" download)  Татбурнефть Сертификат ИСО 14001 рус
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.7._tng-algis_sertifikat_14001_rus.pdf" download)  ТНГ-АлГИС Сертификат 14001 рус
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.8._sertifikat_osk_ism__ooo_himservis-1_rus.pdf" download)  Сертификат ОСК ИСМ  ООО Химсервис-1 рус
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.9._sertifikat_taneko_14001_angl.jpg" download)  Сертификат ТАНЕКО 14001 англ
												//.jpg
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.10._sertifikat_taneko_14001_angl-1.jpg" download)  Сертификат ТАНЕКО 14001 англ-1
												//.jpg
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.11._toljattikauchuk_ISO_14001_angl.pdf" download)  Тольяттикаучук ISO 14001 англ
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.12._ekopet_14001_angl.pdf" download)  Экопэт 14001 англ
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.13._bmz_sertifikat_ISO_na_angl.jazyke1.pdf" download)  БМЗ Сертификат ISO на англ.языке
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.14._ISO14001-15_Tatburneft_angl.pdf" download)  ISO14001-15 Tatburneft англ
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.15._tng-algis_sertifikat_14001_angl.pdf" download)  ТНГ-АлГИС Сертификат 14001 англ
												//.pdf