extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Land Conservation


			h1.dmpage-h1 Land Conservation


		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/ecology.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/ecology.html") To the beginning of the section

			.dmpage-main
				.dmpage-detail
					.dmpage-text
						h2 LAND RESTORATION
						p The main task of the completion stage of production is the environmentally safe completion of work and ensuring the restoration of disturbed areas. 
						p Moreover, a necessary condition for the liquidation stage is to ensure the conditions for the conservation of biodiversity in the zone of influence of the liquidated production facilities, as well as compensation/reimbursement for damage to disturbed biological resources. Measures to restore disturbed lands: technical and biological reclamation are mandatory. 
						p Reclamation measures create conditions for the development of vegetation. Gradually, biotic factors are making a greater influence on species diversity. The applied methods of reclamation provide high rates of vegetation renewal. After reclamation, work is underway to return unclaimed land.  The Company's activities for the restoration of disturbed lands are regulated by the "Regulations on the Protection and Rational Use of Land and Forest Resources".
						p In 2022, in order to establish a unified procedure for the reclamation of disturbed lands at the enterprises of the TATNEFT Group, as well as to prevent the adverse impact of disturbed lands on the environment, Instructions for the reclamation of disturbed lands and Guidelines for the creation of soil for reclamation were developed.
						p The Company applies a comprehensive approach to the reclamation of lands affected during the construction and operation of facilities, considering the categories of land use, soil types, types of violations, and pollution. The Company’s standards for the reclamation of lands affected during the construction and operation of oil field facilities, loss of piping integrity, the use of biotechnologies, and the preparation of reclamation projects have been updated.
						h3 VOLUMES OF RECLAMATION OF DISTURBED LANDS, HA
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image28.jpg", alt="")
						p The increase in the area of disturbed land is associated with an increase in drilling and construction of wells, as well as overhaul of pipelines.
						h2 ABANDONMENT OF OIL AND GAS FACILITIES
						p After the end of the cycle of operation of oil facilities, their dismantling and abandonment is carried out. 
						p The of hazardous production facilities are abandoned in accordance with the approved technical documentation for abandonment, with the implementation of measures defined in the project to protect the environment, ensure the safety of the population, the removal and disposal of waste, reclamation and landscaping of the land after the abandonment of the facility. At all wells, before well abandonment, production casing integrity survey is run, behind-the-casing cross flows, gas seepage, leakage of casing strings are eliminated if any.
						p The wellheads of abandoned wells located on land used for agricultural purposes and on land of non-industrial categories are deepened at least 0.8 m from the surface and equipped with a plug set on a surface casing (intermediate casing).
						p The plug is covered with material to prevent corrosion and the wellhead is backfilled with soil. After well abandonment, the well site is cleaned, contaminated soil is removed, granaries, trenches are filled in, false fills are removed, waste and equipment are taken away, landscaping is restored at the well site and adjacent areas, and land is reclaimed. The condition of abandoned wells is monitored.
						h2 THE IMPACT ASSOCIATED WITH THE RIGHT TO OWN AND USE LAND AND NATURAL RESOURCES
						p To ensure interaction with local communities and other users on land use issues and advance information and communication of information to citizens (land users), the Company introduces information about zones with special conditions for the use of territories (security zones and sanitary protection zones of production facilities) into publicly available information resources - public cadastral map, maps of municipal information resources of the Federal Register. 
						p There have been no cases of forced relocation of local communities or individuals resulting from decisions taken within the framework of land issues in the Company's activities.

						
					.dmpage-table-section
						h4.dmpage-table-title Sites of the Natural Reserve Fund of the region of PJSC TATNEFT production activities

						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								thead
									tr
										th
											p Item No.
										th
											p
												| Municipal
												br
												| District
										th
											p Name and Status of Protected Area
										th
											p
												| Protected Area Size, 
												br
												| ha
								tbody
									tr
										td
											p 1.
										td
											p Argyzsky
										td
											p Kichke-Tan Complex Nature Reserve
										td
											p 9 795,77
									tr
										td
											p 2.
										td
											p Argyzsky
										td
											p Natural Sanctuary of Regional Importance “Slozhny Bor”
										td
											p 49
									tr
										td
											p 3.
										td
											p Yelabuzhsky
										td
											p Nizhnyaya Kama National Park (area)
										td
											p 16 849
									tr
										td
											p 4.
										td
											p Aznakaevsky
										td
											p Chatyr-Tau Complex Nature Reserve
										td
											p 4 149,54
									tr
										td
											p 5.
										td
											p Aznakaevsky
										td
											p
												| State Natural Reserve of Regional Significance of Botanical Profile “Vladimirsky Slope”
										td
											p 47,04
									tr
										td
											p 6.
										td
											p Leninogorsky
										td
											p Stepnoy Complex Nature Reserve
										td
											p 5 772
									tr
										td
											p 7.
										td
											p Bugulminsky
										td
											p
												| State Natural Reserve of Regional Significance of Botanical Profile “Adonis Forest”
										td
											p 61
									tr
										td
											p 8.
										td
											p Bugulminsky
										td
											p
												| State Natural Reserve of Regional Significance of Botanical Profile “Novo-Alexandrovsky Slope”
										td
											p 44,2
									tr
										td
											p 9.
										td
											p Bugulminsky
										td
											p
												| State Natural Reserve of Regional Significance of Botanical Profile "Kazankinsky Botanical Reserve for the Conservation of Adonis vernalis"
										td
											p 5,01
									tr
										td
											p 10.
										td
											p Bugulminsky
										td
											p Natural Sanctuary of Regional Importance “Tatarsko-Dymskaya Glade”
										td
											p 1,87
									tr
										td
											p 11.
										td
											p Bugulminsky
										td
											p Nature Sanctuary of Regional Significance “Spasskiye Klyuchi”
										td
											p 0,1
									tr
										td
											p 12.
										td
											p Bugulminsky
										td
											p Nature Sanctuary of Regional Significance “Petrovskie Pines”
										td
											p 53
									tr
										td
											p 13.
										td
											p Bugulminsky
										td
											p Nature Sanctuary of Regional Significance "Kabashskaya Mountain”
										td
											p 50,06
									tr
										td
											p 14.
										td
											p Muslyumovsky
										td
											p
												| State Natural Reserve of Regional Significance of Botanical Profile “Narat-Astin Forest”
										td
											p 468,3
									tr
										td
											p 15.
										td
											p Novosheshminsky
										td
											p
												| State Natural Reserve of Regional Significance of Botanical Profile “Korzhinsky Slopes”
										td
											p 150
									tr
										td
											p 16.
										td
											p Novosheshminsky
										td
											p
												| State Natural Reserve of Regional Significance of Botanical Profile "Kazankinsky Botanical Reserve for the Conservation of Adonis vernalis"
										td
											p 9,14
									tr
										td
											p 17.
										td
											p Sarmanovsky
										td
											p
												| State Natural Reserve of Regional Significance of Botanical Profile “Syulukeevsky Forest”
										td
											p 194,6
									tr
										td
											p 18.
										td
											p Aktanyshsky
										td
											p Natural Sanctuary of Regional Importance “Lake Kopanoe”
										td
											p 0,74
									tr
										td
											p 19.
										td
											p Almetyevsky
										td
											p
												| Nature Reserve of Regional Significance “Forest Crops of Spruce and Larch 1910-1913”
										td
											p 6,4
									tr
										td
											p 20.
										td
											p Almetyevsky
										td
											p Natural Sanctuary of Regional Importance “Aktash Landslip Seam”
										td
											p 0,04
									tr
										td
											p 21.
										td
											p Bavlinsky
										td
											p Nature Sanctuary of Regional Significance "Salikhovskaya Mountain”
										td
											p 29,93
									tr
										td
											p 22.
										td
											p Zainsky
										td
											p Natural Sanctuary of Regional Importance “Bukharaisky Forest” (area 1)
										td
											p 252,8
									tr
										td
											p 23.
										td
											p Mamadyshsky
										td
											p Nature Sanctuary of Regional Significance “Sokolsky Forest”
										td
											p 3 852
									tr
										td
											p 24.
										td
											p Mamadyshsky
										td
											p Nature Sanctuary of Regional Significance “Bersutsky Fir Forests”
										td
											p 8,5
									tr
										td
											p 25.
										td
											p Mamadyshsky
										td
											p Nature Sanctuary of Regional Significance “Moeshebash Forestry”
										td
											p 131,6
									tr
										td
											p 26.
										td
											p Menzelinsky
										td
											p Natural Sanctuary of Regional Importance “Igimskiy Coniferous Forest”
										td
											p 584,01
									tr
										td
											p 27.
										td
											p Nizhnekamsky
										td
											p Natural Sanctuary of Regional Importance “Borkovskaya Dacha”
										td
											p 1 030
									tr
										td
											p 28.
										td
											p Nurlatsky
										td
											p Natural Sanctuary of Regional Importance “Kara-Kul Lake”
										td
											p 1,37
									tr
										td
											p 29.
										td
											p Cheremshansky
										td
											p Natural Sanctuary of Regional Importance “Asphaltite Prospect”
										td
											p 4
									tr
										td
											p 30.
										td
											p Yutazinsky
										td
											p Natural Sanctuary of Regional Importance “Urdaly Tau”
										td
											p 2,5
									tr
										td
											p 31.
										td
											p Naberezhnye Chelny
										td
											p Nature Sanctuary of Regional Significance “Borovetskiye Klyuchi”
										td
											p 5
									tr
										td
											p 32.
										td
											p Mendeleevsky
										td
											p Ushkov Estate — Historical, Cultural, and Natural Territory
										td
											p 5,1
									tr
										td
											p 33.
										td
											p Nizhnekamsky
										td
											p Nizhnyaya Kama National Park (area)
										td
											p 213
									tr
										td
											p 34.
										td
											p Sarmanovsky
										td
											p Natural Sanctuary of Regional Importance “Bukharaisky Coniferous Forest” (area 2)
										td
											p 196,1
									tr
										td
											p 35.
										td
											p Tukayevsky
										td
											p Nizhnyaya Kama National Park (Kazyl Tau area)
										td
											p 9 539
									tr
										td
											p  
										td
											p 
												b TOTAL FOR PJSC TATNEFT
										td
											p  
										td
											p 
												b 53 561,7