extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Water Resources Conservation

			h1.dmpage-h1 Water Resources Conservation

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_20_10_23/water-intake-and-water-consumption.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/ecology.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/ecology.html") To the beginning of the section
						a.dmpage-menu-item(href="/sustainable-development/ecology/water-intake-and-water-consumption/water-consumption-performance-indicators.html") Water Consumption and Wastewater Disposal Performance
						a.dmpage-menu-item(href="/sustainable-development/ecology/water-intake-and-water-consumption/hydromonitoring.html") Hydromonitoring





			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p Caring for the planet is an integral part of our mission, which is aimed at mitigating the effects of climate change through a responsible approach to the use of water – a vital resource for the Earth and for humanity.
						p The use of water resources is necessary for all business areas of the TATNEFT Group - from oil and gas production to the sale of products. The Company also defines water as a strategic resource for the protection of biodiversity and human health, socio-economic development and industrial activities.
						p We are committed to the optimal management of water resources at all operation stages in harmony with the needs of the territories in accordance with the UN Sustainable Development Goals. The territory of the main production activity of the Company are the regions that do not have a shortage of fresh water. 
						p According to the "Water Strategy of the Russian Federation for the Period Up To 2020" (approved by Decree of the Government of the Russian Federation No. 1235-r dated August 27, 2009), the regions with a shortage of water resources include the Republic of Kalmykia, the Belgorod and Kursk regions, the Stavropol Territory, the North Caucasus, certain areas of the Southern Urals and southern Siberia, lower reaches of the Volga. 
						p The definition of low–water regions is also assessed based on data from the Aqueduct project of the World Resources Institute - basically, the territory of the Company's operations has low and average values of the "Baseline water stress level" indicator https://www.wri.org/aqueduct/tools
						p The Company's primary approach to solving the problem of rational water use: 	
						ul
							li application of recycling and re-water supply systems 

							li increasing of the degree of wastewater treatment
							li reduction of water intake from natural sources

						p Consumption of "fresh water"*, water use and access to water facilities for the TATNEFT Group in Russia is in line with the legislation of the Russian Federation, on the basis of water use agreements, decisions on the provision of water facilities for use, licenses for the right to use subsoil for the purpose of extracting groundwater, as well as resolutions of local regulatory authorities, this prevents exposure of local communities and the natural environment to the risk of water scarcity.

						p The data on water accounting is collected according to the rules for the formation of state statistical reporting, and, if such reporting is not available, on the basis of economic contracts for water consumption and sanitation.

					.dmpage-text.dmpage-text--small
						p * "Fresh water" is water taken from surface and underground sources, rainwater and water received from third parties under water supply contracts. It is used for both production and household and other needs of the Company. According to international standard GRI 303, "fresh" water is water containing less than 1,000 mg/l of dissolved solids (the definition is based on ISO 14046:2014). In this section, unless otherwise indicated, we talk about "fresh water".
						
						
					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text PJSC TATNEFT's position in the field of water resources conservation and rational use activities management

								.dmpage-accordion-body
									.dmpage-accordion-body__text
										img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/pozicija_po_vodnym_resursam.jpg", alt="")