extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Кадровый резерв

			h1.dmpage-h1 Кадровый резерв

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_03_23/new_top_photos/staff.jpg", alt="")
			
			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/personal.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/personal.html") К началу раздела
						a.dmpage-menu-item(href="sistema-upravleniya.html") Система управления
						a.dmpage-menu-item(href="struktura.html") Структура
						a.dmpage-menu-item(href="oplata-truda.html") Оплата труда
						a.dmpage-menu-item(href="obuchenie-i-razvitie.html") Обучение и развитие
						a.dmpage-menu-item(href="razvitie-molodezhi.html") Развитие молодежи
						a.dmpage-menu-item(href="kollektivnoe-predstavitelstvo.html") Коллективное представительство
						a.dmpage-menu-item(href="socialnoe-obespechenie.html") Социальное обеспечение
						a.dmpage-menu-item.dmpage-menu-item--active(href="kadrovyj-rezerv.html") Кадровый резерв



			
			.dmpage-main
				.dmpage-detail 
					
					//	include ../../page-parts/b3/personal.pug
						include ../../page-parts/b3/sistema-upravleniya.pug
						include ../../page-parts/b3/struktura.pug	
						include ../../page-parts/b3/oplata-truda.pug
						include ../../page-parts/b3/obuchenie-i-razvitie.pug
						include ../../page-parts/b3/razvitie-molodezhi.pug
						include ../../page-parts/b3/kollektivnoe-predstavitelstvo.pug
						include ../../page-parts/b3/socialnoe-obespechenie.pug
					include ../../page-parts/b3/kadrovyj-rezerv.pug
block scripts
	




