
.dmpage-text
	h2.block-section-name Экологическая программа
	p Достижение установленных целей в области экологической безопасности, снижения воздействия на окружающую среду, в том числе в области климатических аспектов и выбросов парниковых газов, реализуется через последовательно формируемые природоохранные программы. С 1990 года были успешно реализованы четыре природоохранные программы. Примененный комплексный подход к решению экологических вопросов позволил добиться улучшения состояния окружающей среды и снижения техногенного влияния нефтедобычи.
	p С 2021 года действует пятая экологическая программа Компании, разработанная на период до 2025 года с целью поддержания состояния окружающей среды региона деятельности Компании на нормативно допустимом уровне, соответствующем потенциальным возможностям самовосстановления природных экосистем.
	p Экологическая программа объединяет усилия всех предприятий Группы «Татнефть» по сохранению качества окружающей среды. Программа учитывает не только законодательные требования к природоохранной деятельности, но и взятые на себя дополнительные обязательства. Основой программы является риск-ориентированный подход и цели по снижению техногенного воздействия на окружающую среду.

.dmpage-table-section.dmpage-table-section--small
	h4.dmpage-table-title Цели по снижению негативного воздействия на окружающую среду и их достижение
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
				
			thead
				tr
					th
						p Бизнес-направление
					th
						p Факт
						p 2022 год
					th
						p Цель
						p 2022 год
			tbody
				tr.dmpage-table__tr--green
					td(colspan='3')
						p Снижение удельных выбросов загрязняющих веществ
				tr
					td
						p Разведка и добыча,
						p (кг/т добытой нефти)
					td
						p 2,44
					td
						p 2,78
				tr
					td
						p Нефтегазопереработка
						p (кг/т.у.т. переработанного сырья)
					td
						p 0,71
					td
						p 1,063
				tr
					td
						p Нефтегазохимия,
						p (кг/кг товарной продукции)
					td
						p 0,0054
					td
						p 0,0063
				tr
					td
						p Энергетика,
						p (кг/кВт*ч выработанной энергии)
					td
						p 0,0004
					td
						p 0,00097
				tr.dmpage-table__tr--green
					td(colspan='3')
						p Снижение удельных выбросов парниковых газов Scope-1+ Scope-2
				tr
					td
						p Разведка и добыча,
						p (кг/т добытой нефти)
					td
						p 173
					td
						p 175
				tr
					td
						p Нефтегазопереработка
						p (кг/т.у.т. переработанного сырья)
					td
						p 167
					td
						p 177
				tr
					td
						p Нефтегазохимия
						p (кг/кг товарной продукции)
					td
						p 1,52
					td
						p 1,7
				tr
					td
						p Энергетика
						p (кг/кВт*ч выработанной энергии)
					td
						p 0,256
					td
						p 0,256
				tr.dmpage-table__tr--green
					td(colspan='3')
						p Снижение удельного потребления пресной воды на собственные нужды
				tr
					td
						p Разведка и добыча 
						p (м3/т добытой нефти)
					td
						p 1,18
					td
						p 1,18
				tr
					td
						p Нефтегазопереработка
						p (м3/т.у.т. переработанного сырья)
					td
						p 0,060
					td
						p 0,274
				tr
					td
						p Нефтегазохимия 
						p (м3/кг товарной продукции)
					td
						p 0,0089
					td
						p 0,0207
				tr
					td
						p Энергетика 
						p (м3/кВт*ч выработанной энергии)
					td
						p 0,00149
					td
						p 0,0015
				tr.dmpage-table__tr--green
					td(colspan='3')
						p Уровень утилизации ПНГ
						p Цель к 2025 году
				tr
					td
						p Разведка и добыча, %
					td
						p 98,09%
					td
						p 98%

	

