
.dmpage-text
	
	p В 2022 году Советом директоров утвержден климатический раздел Стратегии развития. В основу долгосрочного целеполагания заложен вектор на достижение углеродной нейтральности к 2050 году в части контролируемых выбросов парниковых газов (Scope 1 и 2 с учетом компенсирующих мероприятий и развития низкоуглеродных технологий). Промежуточные целевые показатели предполагают снижение углеродной интенсивности на 14% к 2025 году и 30% к 2030 году по сравнению с базовым 2021 годом.
	
	img(src="https://dmitryboz21.github.io/ttneft/build/img/block-2/1.jpg", alt="")
	
	h3 Основные рычаги декарбонизации:
	ul 
		li технологические решения по снижению выбросов - снижение прямых выбросов парниковых газов, сокращение эмиссий метана, повышение энергоэффективности, увеличение уровня утилизации попутного нефтяного газа
		li улавливание, использование и захоронение СО2
		li развитие возобновляемой энергетики
		li биологическое улавливание распределенных выбросов СО2
		li формирование экологического мировоззрения и вовлечение населения в реализацию ЦУР
	
