
.dmpage-text
	p Одним из основных направлений в природоохранной деятельности Группы «Татнефть» является снижение техногенной нагрузки на окружающую среду за счёт сокращения объёмов образования отходов производства и потребления, а также увеличения доли утилизируемых отходов. Компанией внедрены наилучшие доступные технологии, создана комплексная система селективного накопления, сбора и переработки отходов производства и потребления, использования их в качестве сырья для получения товарной продукции. На предприятиях Группы «Татнефть» утилизируется 47 наименований опасных отходов, в том числе нефтесодержащие отходы.
	p При выборе контрагентов для оказания услуг по обращению с отходами Компания учитывает размер негативного воздействия на окружающую среду от применения технологий (операция по обращению с отходами, количество выбросов загрязняющих веществ в атмосферный воздух и количество парниковых газов на единицу перерабатываемых отходов и т.д.).
	p В 2022 году на предприятиях Группы «Татнефть» образовалось 307,001 тыс. т отходов. Количество образования отходов в 2022 году увеличилось на 40,8% по сравнению с прошлым годом за счет изменения состава Группы «Татнефть».

.dmpage-chart-outer.dmpage-small-w-section
	h3.dmpage-chart-title Обращение с отходами, тыс. т     
	.dmpage-chart-bar-wrap
		#chart-bar-18-1.dmpage-chart-bar.js-dmpage-chart-bar
			canvas

.dmpage-text
	p В процессе производственной деятельности на предприятиях, в соответствии с лицензиями на право обращения с отходами, осуществляется деятельность по сбору, транспортированию, обработке, утилизации, обезвреживанию, размещению отходов I - IV классов опасности. Количество отходов по состоянию на начало и конец каждого отчетного года (отходы, оставшиеся в накоплении) зависит от организации производственного процесса переработки образующихся отходов. Наличие отходов на начало года - 123,717 тыс. тонн. В отчетный период проведена частичная ликвидация шламонакопителя (ООО «Нижнекамская ТЭЦ»). Общий объем переработки (утилизация) шламонакопителя составил 82,1 тыс. тонн (ООО «Нижнекамская ТЭЦ»). Поступило отходов от других хозяйствующих субъектов-20,4 тыс. тонн. Наличие отходов на конец года-43,3 тыс. тонн.

.dmpage-chart-outer.dmpage-small-w-section
	h3.dmpage-chart-title Образование отходов по классам опасности, %, тыс .тонн
	.dmpage-chart-flex
		#chart-doughnut-18-2.dmpage-chart-doughnut.js-dmpage-chart-doughnut
			canvas
		.dmpage-chd-legend

.dmpage-text
	p В 2022 году образовано отходов 1 - 4 класса опасности – 66,3 % (203,519 тыс. т), 5 класса опасности – 33,707 % (103,482 тыс. т). Методика сбора данных ведется по правилам формирования государственной статистической отчетности по форме № 2-ТП (отходы).


.dmpage-chart-outer.dmpage-small-w-section
	h3.dmpage-chart-title Образование отходов по бизнес-направлениям, %
	.dmpage-chart-flex
		#chart-doughnut-18-3.dmpage-chart-doughnut.js-dmpage-chart-doughnut
			canvas
		.dmpage-chd-legend


.dmpage-table-section
	h3.dmpage-table-title Обращение с отходами по бизнес – направлениям, тыс. т
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1
			colgroup.dmptable-colgroup-other
				col.dmptable-col-other(span=3)
			colgroup.dmptable-colgroup-other
				col.dmptable-col-other(span=3)
			colgroup.dmptable-colgroup-other
				col.dmptable-col-other(span=3)
			thead
				tr
					th(rowspan='2' ) Бизнес-направление
					th(colspan='3' ) Образовано
					th(colspan='3' ) Утилизировано<br> и обработано
					th(colspan='3' ) Направлено на захоронение<br> и обезвреживание
				tr.dmpage-table__tr--with-border 
					td
						p 2020
					td
						p 2021
					td
						p 2022
					td
						p 2020
					td
						p 2021
					td
						p 2022
					td
						p 2020
					td
						p 2021
					td
						p 2022
			tbody
				tr
					td
						p Разведка и добыча
					td
						p 33,4
					td
						p 58,8
					td
						p 73,8
					td
						p 24,4
					td
						p 44,9
					td
						p 60,11
					td
						p 10,5
					td
						p 14,7
					td
						p 18,6
				tr
					td
						p Ремонт и бурение скважин*
					td
						p -
					td
						p -
					td
						p 92,9
					td
						p -
					td
						p -
					td
						p 91,69
					td
						p -
					td
						p -
					td
						p 1,2
				tr
					td
						p Машиностроение
					td
						p 16,1
					td
						p 17
					td
						p 44,4
					td
						p 46,5
					td
						p 34,3
					td
						p 54,87
					td
						p 1,5
					td
						p 1,8
					td
						p 4,8
				tr
					td
						p Нефтегазопереработка
					td
						p 15,32
					td
						p 17,8
					td
						p 14,2
					td
						p 10
					td
						p 14,6
					td
						p 11,49
					td
						p 4,9
					td
						p 4,5
					td
						p 3,5
				tr
					td
						p Розничный бизнес
					td
						p 25
					td
						p 24,8
					td
						p 29,7
					td
						p 0,3
					td
						p 0,4
					td
						p 1,50
					td
						p 24,1
					td
						p 24,5
					td
						p 28,3
				tr
					td
						p Шинный бизнес
					td
						p 36
					td
						p 25,6
					td
						p -
					td
						p 19,2
					td
						p 17,6
					td
						p -
					td
						p 24,3
					td
						p 15,5
					td
						p -
				tr
					td
						p Композиционные материалы
					td
						p 3,4
					td
						p 4,6
					td
						p 3,8
					td
						p 1
					td
						p 0,5
					td
						p 0,57
					td
						p 2,4
					td
						p 4
					td
						p 3,3
				tr
					td
						p Энергетика
					td
						p 3,3
					td
						p 2,9
					td
						p 3,5
					td
						p 1,7
					td
						p 1,1
					td
						p 82,37
					td
						p 0,4
					td
						p 0,4
					td
						p 0,6
				tr
					td
						p Трейдинг и логистика
					td
						p 0,00
					td
						p 0,012
					td
						p 0,0
					td
						p 0
					td
						p 0
					td
						p 0,00
					td
						p 0
					td
						p 0,011
					td
						p 0,0
				tr
					td
						p Социальное развитие
					td
						p 0,08
					td
						p 1,1
					td
						p 2,5
					td
						p 0
					td
						p 0,1
					td
						p 0,18
					td
						p 0,08
					td
						p 1
					td
						p 2,3
				tr
					td
						p Цифровое развитие
					td
						p 0,00
					td
						p 0,08
					td
						p 0,4
					td
						p 0
					td
						p 0
					td
						p 0,01
					td
						p 0
					td
						p 0,08
					td
						p 0,4
				tr
					td
						p Прочие предприятия Группы
					td
						p 70
					td
						p 53,5
					td
						p 30,0
					td
						p 69,2
					td
						p 0,48
					td
						p 21,44
					td
						p 0,7
					td
						p 5,5
					td
						p 8,5
				tr
					td
						p Нефтегазохимия
					td
						p 10,5
					td
						p 11,3
					td
						p 11,2
					td
						p 1,6
					td
						p 2
					td
						p 2,16
					td
						p 8,9
					td
						p 10,1
					td
						p 9,6
				tr
					td
						p Геологоразведка**
					td
						p 5,9
					td
						p 0
					td
						p 0
					td
						p 5,7
					td
						p 0
					td
						p 0
					td
						p 0,1
					td
						p 0
					td
						p 0
				tr
					td
						p Итого
					td
						p 218,8
					td
						p 218,0
					td
						p 307,0
					td
						p 179,6
					td
						p 163,6
					td
						p 326,4
					td
						p 77,8
					td
						p 82,5
					td
						p 81,7




.dmpage-text.dmpage-text--small
	p * Бизнес-блок «Ремонт и бурение скважин» вошел в состав Группы «Татнефть» в 2022 году.
	p **В связи с реорганизацией структуры Компании в 2021 году показатели по отходам бизнес-направления «Геологоразведка» включены в бизнес-направление «Разведка и добыча».







.dmpage-table-section
	h3.dmpage-table-title Обращение с отходами (утилизация, обработка), тыс. т
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1
			colgroup.dmptable-colgroup-other
				col.dmptable-col-other(span=3)
			colgroup.dmptable-colgroup-other
				col.dmptable-col-other(span=3)
			colgroup.dmptable-colgroup-other
				col.dmptable-col-other(span=3)
		
			thead
				tr
					th(rowspan='2' )  вид обращения с отходами 
					th(colspan='3' )  на территории предприятий Группы 
					th(colspan='3' ) вне территории предприятий Группы 
					th(colspan='3' ) итого
				tr.dmpage-table__tr--with-border 
					td
						p 2020
					td
						p 2021
					td
						p 2022
					td
						p 2020
					td
						p 2021
					td
						p 2022
					td
						p 2020
					td
						p 2021
					td
						p 2022
			tbody 
				tr
					td(colspan='10')
						p опасные отходы
				tr
					td
						p утилизировано
					td
						p 3,8
					td
						p 5,2
					td
						p 7,39
					td
						p 37,9
					td
						p 49,7
					td
						p 143,25
					td
						p 41,7
					td
						p 54,9
					td
						p 150,64
				tr
					td
						p обработано
					td
						p 0
					td
						p 0
					td
						p 0
					td
						p 0,007
					td
						p 0,077
					td
						p 0,23
					td
						p 0,007
					td
						p 0,077
					td
						p 0,23
				tr
					td
						p итого
					td
						p 3,8
					td
						p 5,2
					td
						p 7,39
					td
						p 38,0
					td
						p 49,8
					td
						p 143,48
					td
						p 41,8
					td
						p 55
					td
						p 150,87
				tr
					td(colspan='10')
						p неопасные отходы
				tr
					td
						p утилизировано
					td
						p 34,7
					td
						p 37,5
					td
						p 39,31
					td
						p 103,1
					td
						p 70,7
					td
						p 135,77
					td
						p 137,8
					td
						p 108,2
					td
						p 175,08
				tr
					td
						p обработано
					td
						p 0
					td
						p 0
					td
						p 0
					td
						p 0,04
					td
						p 0,4
					td
						p 0,47
					td
						p 0,04
					td
						p 0,4
					td
						p 0,47
				tr
					td
						p итого
					td
						p 34,7
					td
						p 37,5
					td
						p 39,31
					td
						p 103,1
					td
						p 71,1
					td
						p 136,24
					td
						p 137,8
					td
						p 108,6
					td
						p 175,55



.dmpage-table-section
	h3.dmpage-table-title Обращение с отходами (обезвреживание, захоронение), тыс. т

	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1
			colgroup.dmptable-colgroup-other
				col.dmptable-col-other(span=3)
			colgroup.dmptable-colgroup-other
				col.dmptable-col-other(span=3)
			colgroup.dmptable-colgroup-other
				col.dmptable-col-other(span=3)
		
			thead
				tr
					th(rowspan='2' ) Виды обращения с отходами 
					th(colspan='3' ) На территории предприятий Группы 
					th(colspan='3' ) Вне территории предприятий Группы 
					th(colspan='3' ) Итого
				tr.dmpage-table__tr--with-border 
					td
						p 2020
					td
						p 2021
					td
						p 2022
					td
						p 2020
					td
						p 2021
					td
						p 2022
					td
						p 2020
					td
						p 2021
					td
						p 2022
			tbody  
				tr
					td(colspan='10')
						p опасные отходы
				tr
					td
						p обезвреживание
					td
						p 3,3
					td
						p 3
					td
						p 0
					td
						p 19,8
					td
						p 20,8
					td
						p 27,57
					td
						p 23,1
					td
						p 23,8
					td
						p 27,57
				tr
					td
						p в т.ч. сжигание
					td
						p 3,3
					td
						p 3
					td
						p 0
					td
						p 7,2
					td
						p 5,9
					td
						p 0,16
					td
						p 10,5
					td
						p 8,9
					td
						p 0,16
				tr
					td
						p - с получением энергии
					td
						p 3,3
					td
						p 3
					td
						p 0
					td
						p 0
					td
						p 0
					td
						p 0
					td
						p 3,3
					td
						p 3
					td
						p 0
				tr
					td
						p - без получения энергии
					td
						p 0
					td
						p 0
					td
						p 0
					td
						p 7,2
					td
						p 5,9
					td
						p 0,16
					td
						p 7,2
					td
						p 5,9
					td
						p 0,16
				tr
					td
						p захоронение (кроме ТКО)
					td
						p 15,8
					td
						p 12,2
					td
						p 7,11
					td
						p 14,7
					td
						p 16,6
					td
						p 16,03
					td
						p 30,5
					td
						p 28,8
					td
						p 23,14
				tr
					td
						p передача ТКО региональному оператору
					td
						p 0
					td
						p 0
					td
						p 0
					td
						p 4,6
					td
						p 6,6
					td
						p 8,12
					td
						p 4,6
					td
						p 6,6
					td
						p 8,12
				tr
					td
						p итого
					td
						p 19,1
					td
						p 15,2
					td
						p 7,11
					td
						p 39,1
					td
						p 44,0
					td
						p 51,72
					td
						p 58,2
					td
						p 59,2
					td
						p 58,83
				tr
					td(colspan='10')
						p неопасные отходы
				tr
					td
						p обезвреживание
					td
						p 0,9
					td
						p 0,9
					td
						p 0
					td
						p 0,8
					td
						p 0,7
					td
						p 0,01
					td
						p 1,7
					td
						p 1,6
					td
						p 0,01
				tr
					td
						p в т.ч. сжигание
					td
						p 0,9
					td
						p 0,9
					td
						p 0
					td
						p 0
					td
						p 0
					td
						p 0
					td
						p 0,9
					td
						p 0,9
					td
						p 0
				tr
					td
						p - с получением энергии
					td
						p 0,9
					td
						p 0,9
					td
						p 0
					td
						p 0
					td
						p 0
					td
						p 0
					td
						p 0,9
					td
						p 0,9
					td
						p 0
				tr
					td
						p - без получения энергии
					td
						p 0
					td
						p 0
					td
						p 0
					td
						p 0
					td
						p 0,7
					td
						p 0
					td
						p 0
					td
						p 0,7
					td
						p 0
				tr
					td
						p захоронение (кроме ТКО)
					td
						p 4,4
					td
						p 0,8
					td
						p 0
					td
						p 7
					td
						p 13,4
					td
						p 15,10
					td
						p 11,4
					td
						p 14,2
					td
						p 15,10
				tr
					td
						p передача ТКО региональному оператору
					td
						p 0
					td
						p 0
					td
						p 0
					td
						p 6,5
					td
						p 7,5
					td
						p 7,76
					td
						p 6,5
					td
						p 7,5
					td
						p 7,76
				tr
					td
						p итого
					td
						p 5,3
					td
						p 1,7
					td
						p 0
					td
						p 14,3
					td
						p 21,6
					td
						p 22,87
					td
						p 19,6
					td
						p 23,3
					td
						p 22,87





.dmpage-text
	p На АО «Танеко» эксплуатируется специализированный полигон захоронения промотходов. Имеющийся противофильтрационный экран из геосинтетической мембраны (HDPE) исключает вероятность биологического и химического загрязнения прилегающих территорий, грунтовых вод, и обеспечивает сбор фильтрата для последующей его транспортировки на очистные сооружения. Отходы, размещенные таким образом, можно извлечь для утилизации при появлении новых технологий переработки.
	h3 Обращение с отходами бурения
	p Предприятиями Группы «Татнефть» образовано и переработано 94,997 тыс. т буровых отходов.
	p Отходы, образующиеся при бурении скважин подрядными организациями, согласно договорным условиям являются собственностью подрядчиков. В Компании налажена система учета и контроля за движением отходов, образованных при бурении скважин подрядными организациями, а также система компенсации их затрат на утилизацию буровых отходов.

	