
.dmpage-text
	p Компания придерживается принципов Глобального договора ООН и оценивает воздействия планируемой и осуществляемой деятельности на окружающую среду при принятии управленческих и инвестиционных решений наряду с другими значимыми факторами, а также в решении экологических проблем, вопросов промышленной безопасности и охраны труда. 
	p При осуществлении своей деятельности Компания отдает приоритет мероприятиям, направленным на предупреждение возможного негативного воздействия на окружающую среду. Выявление опасностей, оценка и управление рисками в области обеспечения охраны окружающей среды, климатическими рисками осуществляется на всех этапах жизненного цикла производства, начиная с предпроектных изысканий.
	p Утвержденная «Стратегия развития в области промышленной безопасности, охраны труда и окружающей среды Группы «Татнефть» до 2030 года» определяет цели и ответственность Компании в области климатических аспектов и выбросов парниковых газов. Компания применяет в своей производственной деятельности передовые научные достижения и инновационные технические решения, системы и процессы с учётом мирового опыта и наилучших доступных технологий в целях предотвращения изменения климата, а также снижения негативного воздействия на окружающую среду.

.dmpage-quote
	a.dmpage-quote__link(target="_blank" href="https://www.tatneft.ru/uploads/publications/63be9dd47a271151714268.pdf")

	|  Политика ПБОТОС

//.dmpage-quote
	a.dmpage-quote__link(target="_blank" href="https://www.tatneft.ru/sustainable_development/industrial_safety")

	|  Внутренним документом, отражающим позицию и подходы Компании в области воздействия на окружающую среду и климат, является «Политика ПАО «Татнефть» им. В.Д. Шашина в области промышленной безопасности, охраны труда и окружающей среды с учетом изменения климата».
.dmpage-accordions-wrap
	h3.dmpage-accordions-title Ключевые приоритеты
	.dmpage-accordions
		.dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text Минимизация влияния на изменение климата
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					ul
						li сокращение выбросов парниковых газов и снижение углеродного следа
						li применение экологически чистых и альтернативных источников энергии
						li увеличение уровня полезного использования попутного нефтяного газа
						li контроль воздействия на окружающую среду в цепочке поставок и меры по минимизации такого воздействия

		.dmpage-accordion.js-dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text Благоприятные окружающая среда и условия жизнедеятельности
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					ul
						li недопущение экологического ущерба от хозяйственной деятельности
						li снижение потерь сырья и продукции на всех этапах производственной деятельности и предотвращение их попадания в окружающую среду
						li применение наилучших доступных технологий, оборудования, цифровых решений управления технологическими процессами
						li предотвращение возникновения аварийных ситуаций и принятие всех возможных мер по минимизации их последствий
						li предотвращение негативного воздействия на природные объекты

		.dmpage-accordion.js-dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text Сохранение естественных экологических систем и биологического разнообразия
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					ul
						li сведение к минимуму проведения работ на особо охраняемых природных территориях и в их охранных зонах
						li восстановление биоразнообразия, мест обитания, путей миграции животных и компенсации возможного ущерба окружающей среде
						li снижение фрагментации природных ландшафтов и площади нарушенных земель

		.dmpage-accordion.js-dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text Рациональное использование природных ресурсов
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					ul
						li сокращение выбросов парниковых газов и снижение углеродного следа
						li применение экологически чистых и альтернативных источников энергии
						li увеличение уровня полезного использования попутного нефтяного газа
						li контроль воздействия на окружающую среду в цепочке поставок и меры по минимизации такого воздействия

		.dmpage-accordion.js-dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text Улучшение системы управления воздействием на окружающую среду
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					ul
						li сокращение выбросов парниковых газов и снижение углеродного следа
						li применение экологически чистых и альтернативных источников энергии
						li увеличение уровня полезного использования попутного нефтяного газа
						li контроль воздействия на окружающую среду в цепочке поставок и меры по минимизации такого воздействия
