
.dmpage-text
	p Компания развивает модель рационального потребления и циркулярной экономики, основанную на бережном отношении к потреблению и распределению всех видов ресурсов (природных, людских, финансовых), применяет методы оценки эффективности управления ресурсами, учитывает ресурсный потенциал производственных процессов по всей цепочке создания стоимости и жизненному циклу выпускаемой продукции и услуг. Это позволяет снижать природоемкость экономического роста с повышением эффективности производственных процессов и сохранить природные ресурсы для следующих поколений.
	p В рамках реализации ЦУР 12 установлены цели до 2030 года, направленные на обеспечение ответственного и эффективного потребления ресурсов и устойчивых средств производства.
	p На 2022 год для предприятий Группы «Татнефть» установлен целевой показатель доли отходов, направляемых на утилизацию и повторное использование от общего объема отходов - 64,8%. 
	p По снижению технологических потерь на 2022 год был установлен целевой показатель 13,6%. Целевой показатель по Группе «Татнефть» достигнут опережением, технологические потери сокращены в сравнении с базовым 2020 годом на 35,21%.
.dmpage-table-section
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th.dmptable-td-w-icon.dmptable-td-w-icon--esg
						img(src="img/esg-svg/ESG12.svg", alt="")
					th
						p цели по ЦУР 12:
					th
						p результаты реализации целей:
					th
						p 2022 к 2021
					th
						p 2022 к 2020
			tbody
				tr.dmpage-table__tr--with-border
					td(colspan='2')
						p  
						p
							| увеличение доли утилизируемых и повторно используемых отходов до 50% к 2025 году, до 70% к 2030 году
					td
						p доля утилизируемых отходов, %
					td
						p 72,5 к 48,2
						br
						p на 50,4% увеличение
					td
						p 72,5 к 40,5
						p на 79% увеличение
				tr
					td(colspan='2')
						p  
						p сокращение технологических потерь на 14,2% к 2025 году, на 20 % к 2030 году
					td
						p сокращены технологические потери, %
					td
						p 0,474 к 0,638
						br
						p на 25,7 % уменьшение
					td
						p 0,474 к 0,731
						p на 35,21 % уменьшение

.dmpage-chart-outer.dmpage-small-w-section
	h3.dmpage-chart-title Доля отходов, направляемых на утилизацию и повторное использование, % 
	.dmpage-chart-bar-wrap
		#chart-bar-200-1.dmpage-chart-bar.js-dmpage-chart-bar
			canvas
.dmpage-text

	p Доля отходов, направляемых на утилизацию и повторное использование от общего объема отходов, увеличилась, в том числе, за счет включения новых предприятий в состав Группы «Татнефть».
	h3 Проекты по внедрению циркулярной экономики и ответственному потреблению 
	ul 
		li Строительство газотурбинной установки на Нижнекамской ТЭЦ - в результате модернизации установленная мощность станции увеличится, а переход на парогазовую технологию позволит снизить себестоимость вырабатываемой электроэнергии. Завершение строительства планируется в 2024 году.
		li Циркулярный лес – проект по выращиванию в теплице саженцев с последующей их пересадкой в лес. Древесина, полученная от взрослых деревьев, перерабатывается для получения биотоплива. И тепло, и углекислый газ, полученные в результате переработки, будут использоваться в теплицах, где снова будут выращиваться саженцы.
		li Пиролиз древесной биомассы с целью получения биоойла (компонент для получения топлива) и биочара (удобрение для сельского хозяйства).
		li Реконструкция криогенной установки по глубокой переработке сухого отбензиненногогаза с выпуском новых продуктов.
		li Разработка нефтяных и опробование пиролиза резиновой крошки, установки производства резиномодифицированного битума, установки гидроконверсии тяжелых  остатков 
		li Вторичное использование железобетонного боя, направление на вторичное использование макулатуры, отработанного растительного и моторного масла, бутылок ПЭТ, отработанных шин, переработка технологических отходов стеклопластиков и производство новых видов товарной продукции.
		li В учебных годах организована работа в школах города Альметьевск, школах и детских садах п.г.т. Актюбинский, с. Мальбагуш Азнакаевского района по сбору ПЭТФ-бутылок, полиэтилена и полипропилена. Собрано более 7,7 тыс. тонн вторсырья. Для этих целей Компания передала 249 контейнеров для сбора вторсырья.
		li Экопоселение замкнутого цикла «Актюба». Системная работа в области энерго- и ресурсоэффективности, значительный опыт и обширные компетенции по энергосбережению и созданию экономики замкнутого цикла, способствовали их применению и вне Компании. Идея о создании устойчивого автономного энергоэффективного поселения появилась у Компании как ответ на вызов углеродной нейтральности и один из путей достижения целей устойчивого развития. Устойчивое автономное энергоэффективное поселение на базе п.г.т. Актюбинский реализуется в качестве научно-производственного и образовательного полигона для создания, отработки и развития биотехнологий, энергосберегающих технологий, возобновляемых источников сырья, с обеспечением максимальной вторичной переработкой ресурсов. 
	p Проект основывается на 4 составляющих: 
	ul 
		li комплекс современного энерго- и теплообеспечения поселка из местных биоресурсов на основе биотехнологий
		li комплекс современных опытно-промышленных биотехнологических производств на основе местных биоресурсов
		li программы развития экологии и рационального потребления на основе углеродно-нейтральных технологий замкнутого цикла
		li развитие и создание качественной инфраструктуры для бизнеса и жизни людей
	p Более подробно о проекте: 
		a(href="https://www.tatneft.ru/sustainable_development/actobe") https://www.tatneft.ru/sustainable_development/actobe


