
.dmpage-text
	h2.block-section-name  Позиция Компании в области изменения климата
	p Компания разделяет мировую озабоченность, связанную с изменением климата, и признает, что глобальное потепление, вызванное увеличением концентрации парниковых газов в атмосфере, является одним из важнейших вызовов для общества и бизнеса. Поскольку вопросы экологии и устойчивого развития регионов присутствия исторически имеют важное значение для деятельности Компании, «Татнефть» реализует долгосрочную политику по декарбонизации и защите окружающей среды. С 2015 года ведется учет выбросов парниковых газов в атмосферу и осуществляется реализация Принципов и Целей устойчивого развития ООН, с 2019 года ПАО «Татнефть» является участником Глобального договора ООН. ЦУР 13 «Принятие срочных мер по борьбе с изменением климата и его последствиями» определена в качестве одной из приоритетных целей
	h4 В стратегическом планировании своей деятельности Компания учитывает:
	ul 
		li факторы, связанные с потенциальным влиянием целей Парижского соглашения по климату на мировой баланс первичного потребления энергоносителей; 
		li развитие экологического регулирования в РФ и за рубежом;
		li рост ожиданий инвесторов относительно долгосрочной устойчивости бизнеса и регуляторных требований по раскрытию информации о воздействии на окружающую среду и по учету всех видов выбросов, включая косвенные выбросы парниковых газов, в том числе по цепочке поставок.
	p В соответствии с международными рекомендациями Рабочей группы по раскрытию финансовой информации, связанной с изменением климата (TCFD), при актуализации общекорпоративной стратегии проведен анализ рисков и возможностей, связанных с изменением климата, и их влияния на Группу «Татнефть». В периметр используемых для стратегического планирования сценариев долгосрочного развития мировой и российской экономики и энергетики включен климатический сценарий развития, соответствующий целям Парижского соглашения по климату; сформированы долгосрочный прогноз выбросов парниковых газов предприятиями Группы в стратегической опции развития и портфель проектов, позволяющих достичь промежуточных целей по снижению выбросов парниковых газов.
	
