
.dmpage-text
	p «Татнефть» как один из крупнейших участников энергетического рынка ведет системную работу в области энерго- и ресурсоэффективности. Эти понятия в Компании объединены в замкнутый цикл, включающий оптимизацию затрат, экономию ресурсов и их вторичное использование, повышение энергоэффективности по всей производственной цепочке.
	p Политика Группы «Татнефть» в области интегрированной системы менеджмента направлена на достижение единых стратегических целей в области рационального использования природных ресурсов, вовлекаемых в производство, за счёт внедрения ресурсосберегающих и энергоэффективных технологий, применения экологически чистых и альтернативных источников энергии, переработки отходов и использования перерабатываемых материалов, внедрения наилучших доступных технологий, оборудования, материалов, цифровых решений управления технологическими процессами.
	h2 Энергоэффективность
	p В соответствии со Стратегией развития 2030 ключевым ориентиром является постоянное улучшение энергетической эффективности, совершенствование процессов управления энергетической эффективностью и энергосбережением при осуществлении всех видов производственной деятельности; сдерживание роста затрат за счет внедрения передовых инновационных энергоэффективных технологий и рационального использования энергоресурсов; разработка, внедрение, обеспечение функционирования и постоянное улучшение Системы энергетического менеджмента, соответствующей требованиям ISO 50001-2018.
	p Единые требования к системе энергетического менеджмента установлены стандартом «Энергоэффективность и энергосбережение в Группе «Татнефть». Также Компания предъявляет требования по энергоэффективности и энергосбережению к поставляемым услугам, оборудованию и технологиям, которые учитываются в технических требованиях на оборудование, в справочнике энергоэффективного оборудования и технологий и иных локальных нормативных документах. Информирование поставщиков о требованиях по энергоэффективности в обязательном порядке осуществляется в закупочной документации.
	p Повышение энергоэффективности - одно из основных направлений адаптации к изменению климата, реализующихся путем выполнения задач ЦУР 7 «Недорогостоящая и чистая энергия».
.dmpage-table-section
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th.dmptable-td-w-icon.dmptable-td-w-icon--esg
						img(src="https://dmitryboz21.github.io/ttneft/build/img/esg-svg/ESG7.svg", alt="")
					th
						p установленные цели
					th
						p результаты реализации:
					th
						p 2022 к 2021
					th
						p 2022 к 2020
			tbody
				tr
					td(colspan='2' rowspan='2')
						ul
							li Повышение уровня энергоэффективности производства
					td
						ul
							li оптимизация расхода топливно-энергетических ресурсов, 
						p тыс. т у.т.
					td
						p 167 к 115 увеличение на 45,2%
					td
						p 167 к 108 увеличение на 54,6%
				tr
					td(style="display:none;")
					td
						ul
							li эффективность программы энергосбережения, %
					td
						p 3,0 к 2,3 увеличение на 30%
					td
						p 3,0 к 2,4 увеличение на 25%
				tr
					
					td(colspan='2')
						ul
							li Увеличение доли вырабатываемой энергии из возобновляемых источников
					td
						ul
							li производство и потребление энергии из возобновляемых источников, т у.т.
					td
						p 0,11 к 0,10
						p увеличение на 10%
					td
						p проведение
						p опытно-промышленных работ
.dmpage-text
	p Энергоэффективность один из главных принципов развития Компании. С 2000 года Компания реализует технические и организационные мероприятия, направленные на снижение потребления энергоресурсов - Программы повышения энергоэффективности и энергосбережения. Действующая целевая программа повышения энергоэффективности и энергосбережения разработана на трехлетний период с 2022 по 2025 годы.
	p Стратегическая цель - эффективность программы повышения энергосбережения до 2025 не менее 2,8% ежегодно относительно фактического объема потребления топливно-энергетических ресурсов в предыдущем году.
.dmpage-table-section
	h3.dmpage-table-title.dmpage-table-title--small-w Экономия топливно-энергетических ресурсов
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other(span="2")
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other(span="3")
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th(rowspan='2')
						p Ед. изм.
					th(rowspan='2')
						p 2020
					th(colspan='2')
						p 2021
					th(colspan='2')
						p 2022
					th
						p 2023
				tr
					th(style="display:none;")
					th
						p план
					th
						p факт
					th
						p план
					th
						p факт
					th
						p план
			tbody
				tr
					td
						p факт тыс. т.у.т.
					td
						p 108
					td
						p 112
					td
						p 115
					td
						p 160
					td
						p 167
					td
						p 173
				tr
					td
						p выполнение плана, %
					td
						p -
					td(colspan='2')
						p 102,7
					td(colspan='2')
						p 104,4
					td
						p -
				tr
					td
						p млн руб.
					td
						p 728
					td(colspan='2')
						p 846
					td(colspan='2')
						p 1 241
					td
						p -

.dmpage-text
	p В 2022 году экономия потребления энергии составила 167 тыс. т.у.т.
	p При плане 2,8% исполнение программы энергосбережения за 2022 год составило 3,0%.
	p Наиболее эффективными направлениями экономии являются: подготовка, переработка нефти и газа, транспорт, технология добычи нефти и газа, поддержание пластового давления.
	p Требования энергетической эффективности интегрированы во все процессы, определяющие жизненный цикл технологических объектов: проектирование, строительство, эксплуатацию. Программа энергосбережения включает более 3-х тысяч мероприятий. В периметре каждого бизнес-направления сформирован пул инновационных технологий, внедрение которых обеспечивает достижение целей энергоэффективности:
	ul 
		li в нефтедобыче – энергоэффективные насосы для процессов подъема продукции скважин, подготовки нефти и системы поддержания пластового давления с применением стеклопластиковых труб.
		li в нефтегазопереработке и нефтегазохимии – системы рекуперации тепла вторичных энергоресурсов, энергоэффективные насосные и компрессорные агрегаты.
		li на предприятиях энергетического блока – энергоэффективные трансформаторы, автоматические устройства компенсации реактивной мощности, тепловые сети из композиционных материалов, технологии оптимизации процессов сжигания топлива в котлах.
.dmpage-table-section
	h3.dmpage-table-title.dmpage-table-title--small-w Потребление энергии из невозобновляемых источников энергии
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th
						p Наименование ТЭР
					th
						p Ед. изм.
					th
						p 2020
					th
						p 2021
					th
						p 2022
			tbody
				tr
					td(rowspan='2')
						p Электроэнергия
					td
						p тыс. кВтч
					td
						p 5 180 874
					td
						p 7 162 499
					td
						p 7 878 417
				tr
					td(style="display:none;")
					td
						p ГДж
					td
						p 18 652 674
					td
						p 25 787 108
					td
						p 28 364 624
				tr
					td(rowspan='2')
						p Тепловая энергия*
					td
						p Гкал
					td
						p 4 061 473
					td
						p 8 742 306
					td
						p 8 642 552
				tr
					td(style="display:none;")
					td
						p ГДж
					td
						p 17 005 968
					td
						p 36 605 284
					td
						p 36 187 600
				tr
					td(rowspan='2')
						p Котельно-печное топливо, в т.ч.
					td
						p т.у.т.
					td
						p 3 362 060
					td
						p 3 642 147
					td
						p 3 774 098
				tr
					td(style="display:none;")
					td
						p ГДж
					td
						p 98 541 979
					td
						p 106 751 329
					td
						p 110 618 812
				tr
					td
						p газ природный 
					td
						p тыс. м3
					td
						p 1 926 470
					td
						p 2 270 360
					td
						p 2 089 537

.dmpage-text.dmpage-text--small
	p *тепловая энергия на добычу СВН учтена в объеме закупки природного газа.
	p Для расчета величины потребления котельно-печного топлива в т.у.т. использована фактическая теплота сгорания при стандартных условия (калорийность) для каждого вида топлива.
.dmpage-text
	h3 Потребление энергии из возобновляемых источников энергии (ВИЭ)
	p Стратегия Компании учитывает роль возобновляемых источников энергии и их значимость для более чистого энергетического будущего с низким содержанием углерода. В рамках решения задачи ЦУР 7 по увеличению доли энергии из возобновляемых источников реализуется программа «Развитие возобновляемых источников энергии», включающая инвестиционные и инновационные проекты, по солнечной генерации, ветро и гидрогенерации, генерации на основе биотоплива, глубокой утилизации тепла и иные проекты.
	p Стратегическая цель — генерация 900 МВт возобновляемой энергии к 2050 году. 
	p Из них 650 МВт (72%) - внешние проекты, 
	p 250 МВт (28%) - энергообеспечение объектов Компании.
	p Доведение доли мощности ВИЭ до 4% к 2030 году. 

	h3 Прогноз ввода мощностей до 2050 года
	img(src="https://dmitryboz21.github.io/ttneft/build/img/block-2/6.jpg", alt="")

.dmpage-table-section.dmpage-table-section--small
	h3.dmpage-table-title Выработка энергии из ВИЭ
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th
					th
						p 2021
					th
						p 2022 
			tbody
				tr
					td
						p Общее энергопроизводство, т.у.т.
					td
						p 1 097 325
					td
						p 1 101 774
				tr
					td
						p Выработка электроэнергии, тыс. кВтч
					td
						p 1 732 601
					td
						p 1 807 671
				tr
					td
						p Выработка теплоэнергии, Гкал
					td
						p 6 191 503
					td
						p 6 158 099
				tr
					td
						p Выработка энергии из ВИЭ, т.у.т.
					td
						p 1 146,7
					td
						p 1 253,4
				tr
					td
						p Доля выработки ВИЭ, %
						p (от общей выработки энергии по Группе «Татнефть»)
					td
						p 0,10
					td
						p 0,11

.dmpage-text
	p На развитие проектов по ВИЭ направлены инвестиции в размере 54,8 млн рублей.
	p В 2022 году введены в эксплуатацию проточные микро – ГЭС, ветрогенераторы, тепловые насосы на АЗС, система отопления АЗС при помощи солнечного коллектора. Продолжается внедрение пеллетного отопительного оборудования и солнечных электростанций на АЗС. В настоящее время работают 330 пеллетных котельных и 4 солнечных электростанции.
	p На 2023 год планируется достичь объемов выработки из ВИЭ не менее 1 491 т.у.т.
.dmpage-table-section
	h3.dmpage-table-title.dmpage-table-title--small-w Потребление энергии из ВИЭ
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th
						p Наименование ТЭР
					th
						p 2020
					th
						p 2021
					th
						p 2022
			tbody
				tr
					td
						p Электроэнергия, кВтч, в т.ч.
					td
						p 1 102 196
					td
						p 1 093 767
					td
						p 715 996
				tr
					td
						p гидроэнергия, кВтч
					td
						p 1 095 332
					td
						p 1 063 321
					td
						p 658 784
				tr
					td
						p солнечная энергия, кВтч
					td
						p 6 864
					td
						p 30 446
					td
						p 56 955
				tr
					td
						p ветровая энергия, кВтч 
					td
						p -
					td
						p -
					td
						p 257
				tr
					td
						p Электроэнергия, ГДж
					td
						p 3 968
					td
						p 3 938
					td
						p 2 578
				tr
					td
						p Тепловая энергия, Гкал в т.ч.
					td
						p 7 592
					td
						p 7 092
					td
						p 8 368
				tr
					td
						p пеллетное топливо, Гкал
					td
						p 7 592
					td
						p 7 092
					td
						p 8 361
				tr
					td
						p низкопотенциальное тепло, Гкал
					td
						p -
					td
						p -
					td
						p 7
				tr
					td
						p Тепловая энергия, ГДж
					td
						p 31 786
					td
						p 29 693
					td
						p 35 035

.dmpage-text
	p В 2022 году возобновляемая энергия со стороны не приобреталась.
.dmpage-table-section.dmpage-table-section--small
	h3.dmpage-table-title Объем потребления энергии, ГДж
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other
				col.dmptable-col-other
			tbody
				tr
					td
						p Наименование 
					td
						p 2022
				tr
					td
						p Объем потребленной энергии *
					td
						p 175 208 649
				tr
					td
						p Объем потребленной энергии за вычетом реализованной электро- и тепловой энергии
					td
						p 142 909 501
.dmpage-text.dmpage-text--small
	p *В объем потребленной энергии включено потребление электроэнергии, тепловой энергии и котельно-печного топлива из возобновляемых и невозобновляемых источников.
.dmpage-table-section
	h3.dmpage-table-title.dmpage-table-title--small-w Объем реализованной энергии
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw(span="3")
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other(span="3")
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th(colspan='3')
						p Электроэнергия
					th(colspan='3')
						p Тепловая энергия
				tr
					th
						p тыс. кВт.ч
					th
						p т.у.т.
					th
						p ГДж
					th
						p Гкал
					th
						p т.у.т.
					th
						p ГДж
			tbody
				tr
					td
						p 1 809 382
					td
						p 222 256
					td
						p 6 514 310
					td
						p 6 158 099
					td
						p 879 728
					td
						p 25 784 838
.dmpage-table-section.dmpage-table-section--small
	h3.dmpage-table-title Коэффициент энергоемкости (удельный расход топлива), т.у.т./млн руб. 
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th(rowspan='2')
						p 2020
					th(rowspan='2')
						p 2021
					th(colspan='2')
						p 2022
				tr
					th(style="display:none;")
					th
						p план
					th
						p факт
			tbody
				tr
					
					td
						p 4,14
					td
						p 4,10
					td
						p 3,86
					td
						p 3,82

.dmpage-text
	p Энергоемкость – отношение суммарного энергопотребления в тоннах условного топлива к стоимости произведенной продукции в сопоставимых условиях (ценах 2021 года).
	p Снижение энергоемкости в 2022 относительно 2021 составило 6,8%, в т.ч. за счет мероприятий программы энергосбережения - 3%, за счет снижения доли добычи сверхвязкой нефти – 0,9%, за счет изменения корзины продукции нефтепереработки, нефтегазохимии и других бизнес-направлений – 2,9%.
	p В целях снижения выбросов парниковых газов, расхода топливно-энергетических ресурсов и сокращения технологических потерь реализуются следующие мероприятия:
	ul 
		li внедрение трубопроводов из полимерных материалов
		li применение композиции (химического реагента) для обработки внутренних поверхностей труб горячего водоснабжения
		li внедрение систем оперативного дистанционного контроля
		li внедрение трубопроводов из армированного полиэтилена
		li использование выпара деаэратора для нагрева исходной воды
