

.dmpage-text
	h2.block-section-name Система экологического менеджмента
	p Компания обеспечивает систему менеджмента промышленной безопасности, охраны труда и окружающей среды, по всей производственной цепочке Группы «Татнефть».
	h4 Интегрированная система управления состоит из трех основных направлений:
	img(src="img/block-2/2.jpg", alt="")
	
	p На операционном уровне система управления в области промышленной безопасности, охраны труда и окружающей среды (ПБОТОС) обеспечивается двумя функциональными подразделениями:
	ul 
		li управление промышленной безопасности и охраны труда*
		li управление охраны окружающей среды и экологии
.dmpage-text.dmpage-text--small * - подробнее о системе управления промышленной безопасностью и охраной труда в разделе «Безопасность производства»
.dmpage-text
	h4 Система управления воздействием на окружающую среду охватывает все основные уровни управления
	p Стратегический уровень
.dmpage-accordions-wrap.dmpage-accordions-wrap--small-mt
	.dmpage-accordions
		.dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text Совет директоров Независимый директор, ответственный за климатическую повестку

			.dmpage-accordion-body
				.dmpage-accordion-body__text
					ul
						li определяет климатическую политику, риски и возможности, относящиеся к изменению климата,
						li утверждает цели по снижению углеродного следа и оценивает прогресс по их достижению
						li определяет политику в области охраны окружающей среды, устанавливает стратегические цели и направления развития
						li контролирует реализацию политики
						li утверждает нефинансовую отчетность 

		.dmpage-accordion.js-dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text Комитет по устойчивому развитию и корпоративному управлению Совета директоров (Комитет по УРиКУ)
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					ul
						li осуществляет планирование, определяет и утверждает цели и мероприятия в области устойчивого развития
						li рассматривает вопросы климатической повестки, управления рисками и возможностями, относящимся к изменению климата, осуществляет надзор за достижением целей по снижению выбросов
						li контролирует и оценивает реализацию мероприятий и возникновение рисков
						li формирует позицию предоставления информации заинтересованным сторонам
.dmpage-text
	p Операционный уровень
.dmpage-accordions-wrap.dmpage-accordions-wrap--small-mt
	.dmpage-accordions
		.dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text Управляющий совет по устойчивому развитию 

			.dmpage-accordion-body
				.dmpage-accordion-body__text
					ul
						li координирует действия бизнес-направлений по вопросам реализации целей устойчивого развития, включая вопросы по сохранению климата
						li анализирует и оценивает ход реализации мероприятий, готовит информацию для Комитета по УРиКУ о достигнутых результатах, рисках, проблемах
						li анализирует качество раскрываемой информации и контролирует соответствие отчетности требованиям стандартов
						li определяет сферы ответственности по Группе «Татнефть» по вопросам устойчивого развития

		.dmpage-accordion.js-dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text Управление охраны окружающей среды и экологии
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					ul
						li осуществляет общее руководство, организацию и координацию работ по постоянному улучшению системы управления в области реализации климатической политики и охраны окружающей среды
.dmpage-text
	p Внутренняя оценка
.dmpage-accordions-wrap.dmpage-accordions-wrap--small-mt
	.dmpage-accordions
		.dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text Управление внутреннего аудита

			.dmpage-accordion-body
				.dmpage-accordion-body__text
					ul
						li осуществляет независимую оценку надежности и эффективности системы управления рисками в области реализации климатической политики и охраны окружающей среды на корпоративном уровне и уровне бизнес-процессов (отчеты о результатах проверок направляются руководству Компании и Комитету по аудиту)
.dmpage-text
	p Независимая оценка
.dmpage-accordions-wrap.dmpage-accordions-wrap--small-mt
	.dmpage-accordions
		.dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text Внешний аудитор

			.dmpage-accordion-body
				.dmpage-accordion-body__text
					ul
						li осуществляет независимую проверку ключевых показателей по воздействию на климат и окружающую среду, позволяющую обеспечить ограниченную уверенность точности, полноты и представления информации
						
		.dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text Общественные организации

			.dmpage-accordion-body
				.dmpage-accordion-body__text
					ul
						li оценивают значимость и полноту раскрываемой информации о результатах деятельности в области устойчивого развития и принципах ответственной деловой практики
.dmpage-text
	p С 2006 года Компания развивает интегрированную систему менеджмента промышленной безопасности, охраны труда и окружающей среды, отвечающую передовым международным стандартам ISO. Соответствие стандартам подтверждается ресертификацией каждые три года. Ежегодно проводятся внутренние и внешние надзорные аудиты, способствующие совершенствованию системы менеджмента, повышению уровня компетентности работников в данных областях. 
	p С целью дальнейшего развития системы менеджмента, повышения ее результативности в 2022 году были формализованы основные процессы. В процессах функционального направления, охватывающих все организации Группы «Татнефть», были разработаны матрицы ответственности, определены показатели эффективности процессов, которые увязаны со стратегическими целями в области охраны окружающей среды.
	p Компания обеспечивает соответствие стандартам ISO в области экологического менеджмента, промышленной безопасности и охраны здоровья: ISO 14001:2015, ISO 45001:2018 и ГОСТ Р ИСО 14001-2016. Внедрены стандарты ISO в области климата: ISO 14064-1:2018, ISO 14064-2:2019, ISO 14064-3:2019


