
.dmpage-text
	h2.block-section-name  Водозабор и водопотребление
.dmpage-quote
	a.dmpage-quote__link(href="https://www.tatneft.ru/ekologiya")

	|  Позиция Компании в области управления деятельностью по охране и рациональному использованию водных ресурсов
.dmpage-text
	p Бережное отношение к планете является неотъемлемой частью нашей миссии, которая направлена на смягчение последствий изменения климата путем ответственного подхода к использованию воды – жизненно важного ресурса для Земли и для человечества.
	p Использование водных ресурсов необходимо для осуществления деятельности всех бизнес-направлений Группы «Татнефть» – от нефтегазодобычи до реализации продукции. Вместе с тем, Компания определяет воду как стратегический ресурс для защиты биоразнообразия и здоровья человека, социально-экономического развития и осуществления промышленной деятельности. Мы привержены оптимальному управлению водными ресурсами на всех этапах деятельности в гармонии с потребностями территорий в соответствии с Целями устойчивого развития ООН.
	p Основной подход Компании к решению задачи рационального водопользования:
	ul 
		li применение систем оборотного и повторного водоснабжения 
		li повышение степени очистки сточных вод
		li сокращение забора воды из естественных источников
	p Территория основной производственной деятельности Компании относится к регионам, не испытывающим дефицит пресной воды. Согласно «Водной стратегии Российской Федерации на период до 2020 года» (утв. распоряжением Правительства Российской Федерации от 27 августа 2009 г. N 1235-р) к регионам с дефицитом водных ресурсов относятся Республика Калмыкия, Белгородская и Курская области, Ставропольский край, Северный Кавказ, отдельные районы Южного Урала и юга Сибири, низовье Волги.
.dmpage-quote
	a.dmpage-quote__link(href="https://www.wri.org/aqueduct/tools")

	|  Оценка определения маловодных регионов осуществляется и на основании данных проекта Aqueduct Всемирного института ресурсов – в основном территория деятельности Компании имеют низкие и средние значения индикатора «Базовый уровень водного стресса»
.dmpage-text
	p Потребление «свежей воды»*, водопользование и доступ к водным объектам по Группе «Татнефть» на территории России осуществляется в соответствии с законодательством Российской Федерации, на основании договоров водопользования, решений о предоставлении водных объектов в пользование, лицензий на право пользования недрами с целью добычи подземных вод, а также постановлениями локальных контролирующих органов, что позволяет не подвергать местные сообщества и окружающую природную среду риску дефицита водных ресурсов.
.dmpage-text.dmpage-text--small
	p *- «Свежая вода» – это вода, забираемая из поверхностных и подземных источников, дождевая вода и вода, поступившая от третьих лиц по договорам водоснабжения. Используется как на производственные, так и на хозяйственно-бытовые и иные нужды Компании. Согласно международному стандарту GRI 303, «свежая» вода – вода, содержащая менее 1 000 мг/л растворенных твердых веществ (определение основано на стандарте ISO 14046:2014). В настоящем разделе, если не указано иное, речь идет о «свежей воде».
	p Сбор данных по учету воды осуществляется по правилам формирования форм государственной статистической отчетности, и, если такая отчетность не предусмотрена, на основании хозяйственных договоров водопотребления и водоотведения.

.dmpage-chart-outer.dmpage-small-w-section
	h4.dmpage-chart-title  Водопотребление, млн м3
	.dmpage-chart-bar-wrap
		#chart-bar-15-5.dmpage-chart-bar.js-dmpage-chart-bar
			canvas



.dmpage-text
	p В 2022 году, благодаря продолжающейся реализации мероприятий и инвестиционных проектов по сокращению забора воды и водоотведению, водопотребление по Группе «Татнефть» уменьшилось на 5 %.
	p В связи с изменением подхода по учету потерь воды, данные за 2020, 2021 годы были пересчитаны для сопоставления.
	h3 Потребление воды на производственные нужды по бизнес-направлениям
.dmpage-chart-outer.dmpage-small-w-section
	h4.dmpage-chart-title Потребление воды на производственные нужды по бизнес-направлениям

	.dmpage-chart-flex

		#chart-doughnut-15-6.dmpage-chart-doughnut.js-dmpage-chart-doughnut
			canvas

		.dmpage-chd-legend
.dmpage-text
	p Реализация мероприятий, направленных на увеличение доли оборотной воды, используемой на производственные нужды, а также проведение своевременного ремонта сетей водоснабжения позволило сократить забор из поверхностных источников на 2 % или на 1,2 млн. м3 по сравнению с прошлым годом.
.dmpage-table-section.dmpage-table-section--small
	h4.dmpage-table-title Удельное водопотребление на производственные нужды
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
				
			thead 
				tr
					th  
					th
						p 2020
					th
						p 2021
					th
						p 2022
					
			tbody
				tr
					td
						p Разведка и добыча, 
						p м3/т добытой нефти
					td
						p 1,21
					td
						p 1,141
					td
						p 1,18
				tr
					td
						p Нефтегазопереработка, 
						p м3/т.у.т. переработанного сырья
					td
						p 0,145
					td
						p 0,075
					td
						p 0,06
				tr
					td
						p Нефтегазохимия,
						p м3/т товарной продукции
					td
						p 0,0163
					td
						p 0,0142
					td
						p 0,0089
				tr
					td
						p Энергетика, 
						p м3/КВт*ч выработанной энергии
					td
						p 0,00148
					td
						p 0,00145
					td
						p 0,00149





.dmpage-chart-outer.dmpage-small-w-section
	h4.dmpage-chart-title Забор воды на собственные нужды по видам источников воды
	.dmpage-chart-flex

		#chart-doughnut-15-7.dmpage-chart-doughnut.js-dmpage-chart-doughnut
			canvas

		.dmpage-chd-legend

.dmpage-text
	p Компания осуществляет забор воды из различных источников, в том числе из подземных, поверхностных водных объектов. Основными источниками забора воды являются Куйбышевское водохранилище, реки Волга, Кама и Степной Зай, Ямашка, Стерля, Шабиз. Поступление воды осуществляется так же сторонними организациями на основании договоров водоснабжения и в рамках организованного сбора талого и ливневого стока с территорий предприятий.
	p Группа «Татнефть» не оказывает существенного воздействия водозабором на природные источники воды. Объемы забора воды из поверхностных и подземных источников не превышают разрешенных лимитов.
.dmpage-chart-outer.dmpage-small-w-section
	h4.dmpage-chart-title Использование воды на различные нужды
	.dmpage-chart-bar-wrap
		#chart-bar-15-8.dmpage-chart-bar.js-dmpage-chart-bar
			canvas





.dmpage-quote
	|  87% потребляемой воды используется на производственные нужды.
.dmpage-text
	p В 2022 году изменился подход по учету потерь при транспортировке воды, ранее потери отражались часть отдельно и не суммировалась с общим забором, часть - в производственных нуждах. С 2022 года потери учитываются - в заборе в категории «поверхностные воды», а в использовании – в категории «прочие», 2021 год пересчитан для сопоставления.
	


.dmpage-table-section
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
				
			thead 
				tr
					th 
						p Показатель
					th
					th
						p 2020
					th
						p 2021
					th
						p 2022
					

		
			tbody 
				tr
					td
						p
							| Добытая попутно с углеводородами вода, впоследствии закачанная в пласт для поддержания пластового давления
					td
						p млн.м3
					td
						p 125,5
					td
						p 168,3
					td
						p 192,3




.dmpage-chart-outer.dmpage-small-w-section
	h4.dmpage-chart-title Оборотная и повторно используемая вода
		sup 3

	.dmpage-chart-bar-wrap
		#chart-bar-15-9.dmpage-chart-bar.js-dmpage-chart-bar
			canvas

.dmpage-text
	p Важным показателем для характеристики рационального водопользования являются расходы в системах оборотного и повторного водоснабжения*.
	p В 2022 году доля оборотной и повторно-последовательно используемой воды составила 94,2 % в общем объеме воды, которая направляется на производственные нужды, что позволяет сберечь объемы забираемой (чистой) воды из внешней среды.
.dmpage-text.dmpage-text--small *- Данные приведены с учетом объемов воды, циркулирующей в системах оборотного водоснабжения, повторно-последовательно используемой (воды, сохранившей качественные показатели после применения в каком-либо технологическом процессе и без обработки подаваемой для повторного применения), а, также, добытой попутно с углеводородами и в последствии использованной для целей поддержания пластового давления, (повторно-использованной).



.dmpage-table-section
	h4.dmpage-table-title Проекты и прогресс по сокращению водопотребления
	.dmpage-table-overflow
		table.dmpage-table.dmpage-table--simple
			tbody 
				tr
					th
						p Цели по ЦУР 6:
					th
						p Результаты реализации целей:
					th
						p 2022 к 2021
					th
						p 2022 к 2020			
					
				tr
					td(rowspan='2')
						p
							| Снизить объемы сбросов сточных вод на 20% и увеличить соотношение очищенных и неочищенных сточных вод в 5 раз к 2025 году
					td
						p снижение объема водоотведения
					td
						p на 26 %
					td
						p на 45 %
				tr
					td(style="display:none;")
					td
						p
								| увеличение соотношения (по взвешенным веществам) объёмов очищенных и неочищенных сточных вод
					td
						p в 5 раз
					td
						p в 5 раз
				tr
					td(rowspan='2')
						p
							| Увеличить объемы оборотной, многократно и повторно используемой воды на 9% к 2025 году
					td
						p увеличение объема оборотной и повторно-последовательно используемой воды
					td
						p на 2,8 %
					td
						p на 9,5 %
				tr
					td(style="display:none;")
					td
						p снижение объема водопотребления
					td
						p на 5,1 %
					td
						p на 9,7 %
				tr
					td
						p Снизить потери пресной воды при её подготовке и транспортировке
					td
						p снижение потерь пресной воды при её подготовке и транспортировке
					td
						p на 16%
					td
						p на 17 %


.dmpage-text

	p Реализованная схема замкнутого водоснабжения и водоотведения на очистных сооружениях АО «Танеко» обеспечила 100% возврат в производство очищенных сточных вод, что позволило сберечь в 2022 году 7,62 млн м3 воды за счет исключения её потребления из р. Камы
	p Снижено потребление речной воды на производственные нужды на 3,7 млн м3 за счет использования оборотной воды, полученной путем изменения схемы питания водооборотного блока ООО «Тольяттикаучук», реконструкции магистрального подземного водовода для подачи речной воды
	p  С помощью технологических решений, применяемых на установках подготовки попутно-добываемой воды при добыче СВН, оптимизировано использование свежей воды в 2022 году 4,7 млн м3, с 2018 года – около 15 млн м3
