
.dmpage-text
	h2.block-section-name  Водоотведение
	p Повышение качества сточных вод является одной из важных задач программы экологической безопасности. 
	p В Компании проводится регулярный мониторинг качества сточных вод. Стоки, образовавшиеся в результате производственных процессов, направляются на очистные сооружения, согласно определенным законодательством РФ нормативам. Контроль соблюдения установленных нормативов осуществляют лаборатории Компании, а также независимые аккредитованные организации. 
	
.dmpage-chart-outer.dmpage-small-w-section
	h4.dmpage-chart-title Водоотведение в поверхностные водные объекты, млн м
		sup 3

	.dmpage-chart-bar-wrap
		#chart-bar-17-1.dmpage-chart-bar.js-dmpage-chart-bar
			canvas

.dmpage-quote
	|  В 2022 году по Группе «Татнефть» достигнуто снижение объемов водоотведения на 26%.

.dmpage-table-section.dmpage-table-section--small
	h4.dmpage-table-title Удельное водоотведение в поверхностные водные объекты

	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other()  
				
			thead 
				tr
					th
					th
						p 2020
					th
						p 2021
					th
						p 2022
		
			tbody
				tr
					td
						p Разведка и добыча,
						p м3/т добытой нефти
					td
						p 0
					td
						p 0
					td
						p 0
				tr
					td
						p Нефтегазопереработка,
						p м3/т.у.т. переработанного сырья
					td
						p 0,141886
					td
						p 0,004943
					td
						p 0,002434
				tr
					td
						p Нефтегазохимия,
						p м3/т товарной продукции
					td
						p 0,015487
					td
						p 0,014011
					td
						p 0,007599
				tr
					td
						p Энергетика,
						p м3/КВт*ч выработанной энергии
					td
						p 0
					td
						p 0
					td
						p 0

.dmpage-text
	p Реализуются инвестиционные проекты по технологическому перевооружению производства, проводятся мероприятия по соблюдению нормативов содержания загрязняющих веществ в сточных водах, по содержанию в надлежащем санитарно-экологическом состоянии территории площадок и мест сброса сточных вод в целях обеспечения нормативного уровня очистки сточных вод и полного исключения сброса загрязненных стоков в окружающую среду.
	p С целью повышения качества механической очистки сточных вод ООО «Тольяттикаучук» на установке нейтрализации и очистки промышленных сточных вод проведена реконструкция двух радиальных первичных отстойников и внедрена система реагентной обработки поступающих на очистку стоков. Для повышения качества доочистки проведена замена барабанных сеток на установке нейтрализации и очистки промышленных сточных вод.
	p Отведено сточных вод в муниципальные организации канализации (передано третьей стороне после использования) – 4,9 млн.м³ (снижение на 5% связано с выходом шинного бизнеса из периметра Группы «Татнефть».
.dmpage-quote
	p В 2022 году качество воды в основных реках территории деятельности Компании было стабильным. 
	p Содержание хлорид-ионов, нефти и нефтепродуктов в растворенном и эмалированном состоянии в основных реках не превышало установленных нормативов предельно-допустимой концентрации веществ. 
.dmpage-text
	h3 Гидромониторинг
	p На территории производственной деятельности Компании функционирует режимная наблюдательная сеть гидромониторинга для контроля состояния поверхностных и подземных вод, отслеживания влияния процесса нефтедобычи с целью соблюдения лицензионных условий на пользование недрами. Результаты анализов проб вносятся в корпоративную информационную систему. В 2022 году контролировалось 1 986 пунктов наблюдений за водными объектами, отобрано 22 463 проб, количество выполненных анализов 102 081. Производственный экологический контроль состояния водных объектов осуществляется химико-аналитическими лабораториями Компании. Анализ вод проводится по параметрам, характерным при влиянии производственных процессов, в частности нефтедобычи, нефтепереработки.
	h3 Сохранение родников 
	p Компания уделяет особое внимание сохранению, оздоровлению и улучшению качества воды в родниках. Качество воды в родниках, являясь своеобразным индикатором деятельности нефтяников, сигнализирует о ходе разработки месторождений. Поэтому качество воды в родниках держится на особом контроле. Целенаправленные геолого-технические мероприятия, проводимые нефтяниками в зоне деятельности подразделений Компании, постоянный контроль надежности оборудования способствуют предотвращению загрязнения источников воды, позволяя обеспечивать потенциал самовосстановления экосистем.
	p В 2022 году в ПАО «Татнефть» в очередной раз организован и проведён ежегодный конкурс «За поддержание эстетического состояния обустроенных родников и улучшение качества воды», который реализуется в Компании с 1995 года. В конкурсе приняли участие 24 предприятия Группы «Татнефть». Родники, представленные для участия в конкурсе, отличаются оригинальностью, умелым использованием естественного ландшафта и природного материала. Многие из них стали подлинным украшением местности, населенных пунктов, уголков отдыха на природе. За это время на территории деятельности Компании расчищено, каптировано и архитектурно обустроено более 500 родников. 
