.dmpage-text
	h2.block-section-name Возможности, связанные с климатом
	p Курс на осознанное потребление, заботу об окружающей среде и здоровье человека создает возможности для развития бизнеса. Значительный потенциал Компания видит в реализации программы повышения энергоэффективности и энергосбережения, увеличении рационального использования попутных нефтяных газов, развитии биотехнологических проектов, увеличении доли низкоуглеродного и вторичного сырья в нефтепереработке и композиционной продукции, расширении сети газовых заправочных станций и сбора вторичного сырья для дальнейшей переработки.


.dmpage-table-section 
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw(span=2)
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other.dmptable-col-other--aw(span=17)
				
		
			thead
				tr
					th(colspan="2")
						p Возможности, связанные с изменением климата, и финансовое влияние
					th
						p Мероприятия по реализации
						p возможностей
			tbody
				tr
					td.dmptable-td-w-icon
						img(src="img/icons/mid-low.svg", alt="")
					td
						p Рациональное использование 
						p ресурсов
					td.dmpage-table__td-bb(rowspan='2')
						ul
							li Программы повышения энергоэффективности и энергосбережения
							li Увеличение рационального использования ПНГ.
							li Внедрение системы оборотного водоснабжения на «ТАНЕКО».
							li Использование отходов в качестве сырья
				tr
					td.dmpage-table__td-bb(colspan="2")
						p Экономический эффект от сокращения потребления энергоресурсов. 
				tr
					td.dmptable-td-w-icon
						img(src="img/icons/mid.svg", alt="")
					td
						p Продукты и услуги 
						p с низким углеродным следом
					td.dmpage-table__td-bb(rowspan='2')
						ul
							li
								| Расширение линейки продукции с высокими экологическими характеристиками, в т.ч. с использованием низкоуглеродного и вторичного сырья
							li Расширение сети КПГ/СПГ- заправок
							li
								| Изучение возможностей переработки СО2 в товарные продукты, использования СО2 для повышения нефтеотдачи пласта
				tr
					td(style="display:none;")
					td.dmpage-table__td-bb(colspan="2")
						p
							| Изменение структуры/ рост выручки от реализации продукции с высокими экологическими характеристиками.
				tr
					td.dmptable-td-w-icon
						img(src="img/icons/mid.svg", alt="")
					td
						p Источники энергии/ материалы с низким углеродным следом
					td(rowspan='2')
						ul
							li Внедрение принципов циркулярной экономики
							li Использование ВИЭ
							li
								| Программа использования композитных и биокомпозитных материалов в капитальном строительстве
				tr
					td(colspan="2")  Снижение издержек, в том числе за счёт синергии активов в рамках Группы.

					td
.dmpage-text.dmpage-text--legend
	h4 Уровень влияния
	p 
		img(src="img/icons/high.svg", alt="")
		|  высокий
	p 
		img(src="img/icons/mid.svg", alt="")
		|  средний
	p 
		img(src="img/icons/low.svg", alt="")
		|  низкий