
.dmpage-text
	h2.block-section-name Выбросы в атмосферу
	p Важнейший элемент системы управления климатическими рисками — это оценка уровня выбросов парниковых газов. На корпоративном уровне утверждены стратегические цели Компании по снижению выбросов парниковых газов. В Компании контроль и учет выбросов парниковых газов регламентированы стандартом управления выбросами. Система учета и отчетности по выбросам парниковых газов в Группе «Татнефть» соответствует стандарту и рекомендациям GreenhouseGas Protocol (GHGProtocol), ISO 14064 и нацелена на обеспечение раскрытия информации в отношении климатических аспектов в соответствии с рекомендациями Task Force On Climate-Related Financial Disclosures (TCFD).
	
.dmpage-accordions-wrap
	h3.dmpage-accordions-title Компания ведет учёт парниковых газов, образующихся в процессе производственной деятельности:
	.dmpage-accordions
		.dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text Углекислый газ (СО2)
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					ul
						li Образуются при сжигании топлива на стационарных источниках горения (котельные агрегаты, печи и другое теплотехническое оборудование), в результате сжигания газа на факельных установках, от промышленных процессов, связанных с переработкой нефти на нефтеперерабатывающих предприятиях, а также при использовании топлива транспортными средствами


		.dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text Метан (СН4)
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					ul
						li Его выбросы осуществляются в результате сжигания газа на факельных установках, при эксплуатации очистных сооружений, от неплотностей технологического оборудования, в результате удаления технологических газов в атмосферу через свечи (отведение, рассеивание, стравливание) без сжигания или каталитического окисления

	p Из всей массы прямых выбросов 95,4 % приходится на углекислый газ и 4,6 % на метан (согласно приложению №3 Методических указаний, утв. Приказом Минприроды РФ от 30.06.2015 г. №300, для пересчета метана (СН4) в тонны CO2-экв. используется потенциал глобального потепления (GWPi), равный 25).
	p Других наименований парниковых газов в прямых выбросах предприятий Группы «Татнефть» нет (по классификации, установленной распоряжением Правительства РФ от 22.10.2021 г. №2979-р). 
	p При расчете косвенных выбросов учитываются выбросы углекислого газа.
	p Согласно рекомендациям «Корпоративного стандарта GHG Protocol» для последовательного сравнения выбросов с течением времени в качестве базового выбран 2021 год (год включения климатического раздела в Стратегию развития Компании).
	p В связи с изменением в 2022 году периметра Группы «Татнефть» для корректного сопоставления динамики выбросов по Группе «Татнефть» выбросы парниковых газов были пересчитаны.
	p Изменения в периметре учета выбросов парниковых газов:
	ul 
		li выход из состава Группы «Татнефть» предприятий шинного бизнеса, ООО «Завод «БУММАШ»;
		li включены общества с ограниченной ответственностью: «Химсервис», «УК» Татспецтранспорт», УК «Татбурнефть», «КРС-Сервис», «МехСервис-НПО», «НКТ-Сервис», «ТН-Сервис».

.dmpage-table-section.dmpage-table-section--small 
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
				
			thead
				tr
					th
						p Выбросы парниковых газов (Scope 1, Scope 2), млн т СО2-экв
					th
						p 2020
					th
						p 2021
					th
						p 2022
			tbody
				tr
					td
						p Scope 1, в том числе:
					td
						p 6,84
					td
						p 7,61  
					td
						p 8,31 
				tr
					td
						p Разведка и добыча
					td
						p 2,26
					td
						p 2,19
					td
						p 2,11
				tr
					td
						p Нефтегазопереработка*
					td
						p 2,17
					td
						p 2,64
					td
						p 3,38
				tr
					td
						p Нефтегазохимия**
					td
						p 0,41
					td
						p 0,30
					td
						p 0,28
				tr
					td
						p Энергетика
					td
						p 1,94
					td
						p 2,30
					td
						p 2,36
				tr
					td
						p Композитные материалы
					td
						p 0,02
					td
						p 0,02
					td
						p 0,02
				tr
					td
						p Розничный бизнес
					td
						p 0,01
					td
						p 0,01
					td
						p 0,01
				tr
					td
						p Машиностроение***
					td
						p 0,02
					td
						p 0,005
					td
						p 0,003
				tr
					td
						p Прочие предприятия Группы****
					td
						p 0,0306
					td
						p 0,1506
					td
						p 0,1505
				tr
					td
						p Scope 2, в том числе:
					td
						p 4,12
					td
						p 4,85
					td
						p 5,25
				tr
					td
						p Разведка и добыча
					td
						p 1,99
					td
						p 2,55
					td
						p 2,92
				tr
					td
						p Нефтегазопереработка
					td
						p 0,92
					td
						p 1,01
					td
						p 1,18
				tr
					td
						p Энергетика
					td
						p 0,004
					td
						p 0,008
					td
						p 0,007
				tr
					td
						p Нефтегазохимия
					td
						p 0,96
					td
						p 1,02
					td
						p 0,87
				tr
					td
						p Композитные материалы
					td
						p 0,02
					td
						p 0,02
					td
						p 0,02
				tr
					td
						p Розничный бизнес
					td
						p 0,05
					td
						p 0,05
					td
						p 0,06
				tr
					td
						p Машиностроение***
					td
						p 0,02
					td
						p 0,02
					td
						p 0,02
				tr
					td
						p Прочие предприятия Группы****
					td
						p 0,16
					td
						p 0,16
					td
						p 0,16 




.dmpage-text
	p Сумма показателей в некоторых строках может не совпадать с общим итогом вследствие округления.
.dmpage-text.dmpage-text--small
	p * Уточнены данные за 2021 год.
	p ** Уточнены данные за 2020-2021 годы.
	p *** В связи с исключением в 2022 году ООО «Завод «БУММАШ» из состава Группы «Татнефть», данные пересчитаны до базового года.
	p **** Данные пересчитаны до базового года. В прочие предприятия включены: 
	ul 
		li Структурные подразделения: Татнефтеснаб, ЦОБ (ЦУИРМ), ЦОБ(МЗЦ), ЦПСН, ТГРУ, ТатНИПИнефть, АТП, ЦУС, УРПС, УСО, УПРС.
		li Общества с ограниченной ответственностью: «Татнефть-УРС», «УПТЖ для ППД», «СКП «ТН- Ак Барс», «Татнефть-Актив», «Татнефть-Транс», «УК «Алабуга-2. Нефтехимия», «СК-Идея-«Юго-Восток», «ТНГ-АлГИС», «Завод Ленмаш», «Завод Эластик», «ХимСервис», «УК» Татспец-транспорт», УК «Татбурнефть», «КРС-Сервис», «МехСервис-НПО», УБРС, «НКТ-Сервис», «ТН-Сервис», и АО «Нефтехимпроект»,
.dmpage-text
	p В Компании применяются технологии по снижению использования электро- и теплоэнергии за счёт применения пеллетных котлов. В соответствии с Методическими указаниями количественного определения объемов выбросов при выполнении оценки выбросов парниковых газов от использования биомассы, эти данные не суммируются с другими выбросами парниковых газов.

.dmpage-table-section.dmpage-table-section--small 
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
				
			thead
				tr 
					th Выбросы парниковых газов (Scope 1), т СО2-экв.
					th 2020
					th 2021
					th 2022
			tbody
				tr 
					td Пеллеты
					td 2 401
					td 2 776
					td 3 803

.dmpage-text.dmpage-text--small *данные рассчитаны на основе Методических рекомендаций по проведению добровольной инвентаризации объема выбросов парниковых газов в субъектах Российской Федерации, утвержденных распоряжением Минприроды России от 16 апреля 2015 г. N 15-р
.dmpage-quote

	|  В 2022 году в периметр учета косвенных выбросов парниковых газов Scope 3 включены выбросы парниковых газов от авиаперелетов сотрудников


.dmpage-table-section.dmpage-table-section--small 
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
				
			thead
				tr
					th
						p Выбросы парниковых газов
						p (Scope 3), млн т СО2-экв.
					th
						p 2020
					th
						p 2021*
					th
						p 2022
			tbody 
				tr
					td
						p Командировки**
					td
						p 0,0004
					td
						p 0,001
					td
						p 0,001
				tr
					td
						p Производство и транспортировка природного газа***
					td
						p 0,71
					td
						p 0,82
					td
						p 0,76
				tr
					td
						p Обработка и использование
						p  проданных продуктов****
					td
						p 100,81
					td
						p 110,85
					td
						p 103,47
				tr
					td
						p Итого:
					td
						p 101,52
					td
						p 111,68
					td
						p 104,24 



.dmpage-text.dmpage-text--small
	p *Выбросы ПГ пересчитаны до базового года в связи с изменением периметра учета.
	p ** Расчет выбросов ПГ при авиаперелете осуществляется при помощи калькулятора ИКАО.
	p ***Расчет выбросов ПГ от потребленного природного газа осуществляется на основании данных удельных выбросов добычи, транспортировки и переработки природного газа ПАО «Газпром».
	p ****Расчет выбросов ПГ при обработке и использовании проданных продуктов осуществляется на основании коэффициентов Методических указаний, утв. Приказом Минприроды РФ от 30.06.2015 № 300.
	
.dmpage-accordions-wrap
	h3.dmpage-accordions-title Применяемые методики
	.dmpage-accordions
		.dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text А) Прямые выбросы парниковых газов (Scope 1) рассчитаны в соответствии с требованиями следующих нормативных документов:
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					ul
						li Приказ Минприроды России № 300 от 30.06.2015 «Об утверждении методических указаний и руководства по количественному определению объема выбросов парниковых газов организациями, осуществляющими хозяйственную и иную деятельность в Российской Федерации»; 
						li The Greenhouse Gas Protocol (A Corporate Accounting and Reporting Standard).
		.dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text Б) Расчеты косвенных выбросов парниковых газов (Scope 2, 3) проведены в соответствии с требованиями следующих нормативных документов:
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					ul
						li Приказ Минприроды России № 330 от 29.06.2017 «Об утверждении методических указаний по количественному определению объема косвенных энергетических выбросов парниковых газов»;
						li The Greenhouse Gas Protocol (A Corporate Accounting and Reporting Standard);
						li Corporate Value Chain (Scope 3) Accounting and Reporting Standard.
						li Для расчетов Scope 2 использован коэффициент энергетических выбросов от ООО «Нижнекамская ТЭЦ».
.dmpage-text
	h2 Интенсивность выбросов парниковых газов
.dmpage-quote

	|  Снижение интенсивности прямых выбросов парниковых газов при добыче нефти составило 8%. Сокращение достигнуто за счет реализации мероприятий по повышению уровня полезного использования ПНГ и оптимизации работы печей.


.dmpage-table-section.dmpage-table-section--small 
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
				
		
			thead
				tr
					th
						p Интенсивность выбросов (Scope 1)
					th
						p 2020
					th
						p 2021
					th
						p 2022
			tbody 
				tr
					td
						p Разведка и добыча, 
						p кгСО2-экв./т добытой нефти
					td
						p 87
					td
						p 79
					td
						p 73
				tr
					td
						p Нефтегазопереработка, кг/т.у.т.*
					td
						p 107,4
					td
						p 116,4
					td
						p 121,0
				tr
					td
						p Нефтегазохимия, кг/кг**
					td
						p 0,54
					td
						p 0,40
					td
						p 0,37
				tr
					td
						p Энергетика, кг/кВт*ч
					td
						p 0,27
					td
						p 0,26
					td
						p 0,26

.dmpage-table-section.dmpage-table-section--small
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
				
		
			thead
				tr
					th
						p Интенсивность выбросов 
						p (Scope 1 + Scope 2)
					th
						p 2020
					th
						p 2021
					th
						p 2022
			tbody 
				tr
					td
						p Разведка и добыча, 
						p кгСО2-экв./т добытой нефти
					td
						p 163,2
					td
						p 170,1
					td
						p 173
				tr
					td
						p Разведка и добыча, 
						p кгСО2-экв./баррель добытой нефти
					td
						p 22,9
					td
						p 23,9
					td
						p 23,6
				tr
					td
						p Разведка и добыча, 
						p кгСО2-экв./т.у.т. (добытой нефти и газа)
					td
						p 110,9
					td
						p 115,6
					td
						p 117,4
				tr
					td
						p Нефтегазопереработка, 
						p кг/т.у.т переработанного сырья***
					td
						p 156,1
					td
						p 165,79*
					td
						p 166,6
				tr
					td
						p Нефтегазохимия,
						p кг/кг товарной продукции**
					td
						p 1,82
					td
						p 1,77
					td
						p 1,52
				tr
					td
						p Энергетика, 
						p кг/кВт*ч выработанной энергии
					td
						p 0,274
					td
						p 0,258
					td
						p 0,256 



.dmpage-text.dmpage-text--small
	p *Уточнены данные за 2021 год.
	p **Уточнены данные за 2020-2021 годы.
	p ***В расчет включены выбросы по АО «ТАНЕКО» и УТНГП ПАО «Татнефть».
.dmpage-text
	p Рост удельных выбросов при переработке нефти связан с обеспечением высокой глубины переработки нефти - 99 % (средний показатель по России – 83,5%). 
	h2 Проекты и прогресс по снижению углеродного следа
	p Для достижения показателей ЦУР 13 в Компании сформирован портфель проектов, направленных на снижение углеродного следа. Проекты включены в программу «Борьба с изменением климата».
	img(src="img/block-2/3.jpg", alt="")
	p В 2022 году увеличен потенциал Программы снижения выбросов парниковых газов с 1,9 млн т СО2-экв. до 2,2 млн т СО2-экв. (16%). Экологический эффект реализации Программы в 2022 году составил 0,7 млн т СО2-экв. Затраты на реализацию мероприятий в 2022 – 2,4 млрд рублей. Достигнутый эффект за 2021-2022 гг. составил 0,944 млн т СО2-экв*. 
	p Целевые показатели по выбросам парниковых газов выполнены по всем бизнес-направлениям Группы «Татнефть». 
.dmpage-text.dmpage-text--small
	p * экологический эффект от реализации Программы снижения выбросов парниковых газов рассчитан как разница между базовой линией (т.е. расчетом выбросов парниковых газов при отсутствии мероприятий) и результатом количественной оценки фактических выбросов парниковых газов, с учетом изменения уровня производственной деятельности. В расчете учитываются выбросы парниковых газов Scope 1,2,3.

.dmpage-table-section
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1(span="2")
				col.dmptable-col-1.dmptable-col-1--aw
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
				
		
			thead
				tr
					th.dmptable-td-w-icon.dmptable-td-w-icon--esg
						img(src="img/esg-svg/ESG13.svg", alt="") 
						
					th
						p Установленные цели
					th
						p Результаты реализации 
					th
						p 2022 к 2021
					th
						p 2022 к 2020

			tbody
				tr
					td(rowspan='3' colspan="2")
						p
							| снижение удельных выбросов парниковых газов по охватам 1+2 на 14% к 2025 году и на 30% к 2030 году
					td
						p снижение удельных прямых выбросов при добыче нефти и газа
					td
						p на 9%
					td
						p на 16%
				tr
					td(style="display:none;")
					td
						p
							| снижение удельных прямых и косвенных выбросов (Scope 1+2) в бизнес-направлении нефтегазохимия (кг/кг товарной продукции)
					td
						p на 3%
					td
						p на 16%
				tr
					td(style="display:none;")
					td
						p
							| снижение удельных прямых и косвенных выбросов (Scope 1+2) при производстве энергии (кг/кВт*ч выработанной энергии)
					td
						p на 6%
					td
						p на 7%
						
	
.dmpage-accordions-wrap
	.dmpage-accordions
		.dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text Проекты снижения прямых и косвенных выбросов парниковых газов 
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					ul
						li Снижение факельного горения за счет изменения технологического режима сепарации на объектах Компании, расширение системы газосбора, повышение уровня полезного использования отходящих газов на АО «ТАНЕКО» позволили сократить выбросы более 400 тыс. т СО2-экв.
						li Реализация технологии X-Plate на ООО «Нижнекамская ТЭЦ» позволила сократить 15,9 тыс. т СО2-экв.
						li Использование возобновляемых источников энергии позволило сократить выбросы парниковых газов на 2,4 тыс. т СО2-экв.
						li Реализован ряд проектов и научных исследований в области CCUS (улавливание, захоронение и использование углекислого газа), потенциал улавливания составил 6,0 млн т СО2. Инвестиционный портфель НИОКР по проекту улавливания - 127,8 млн рублей.
						li Развитие системы мониторинга выбросов метана путем использования беспилотных летательных аппаратов, позволяющих своевременно получать надежные данные о технологических неисправностях на объектах.
		.dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text Проекты реализации компенсационных мероприятий
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					ul
						li Реализация программы по высадке и восстановлению леса. В 2022 году на площади 1 325 га было высажено около 2,2 млн деревьев. За 10 лет реализации программы высажено более 20,5 млн деревьев.
		.dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text Проекты совершенствования системы учета выбросов парниковых газов.
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					ul
						li Увеличен периметр учета косвенных выбросов парниковых газов Scope 3: включены выбросы парниковых газов от авиаперелетов сотрудников.
						li Автоматизирован процесс расчетов выбросов парниковых газов по Группе «Татнефть», создано программное обеспечение, объединяющее предприятия Группы и обеспечивающее интеграцию программного обеспечения с системами учета потребления топливно-энергетических ресурсов;
						li С целью повышения уровня компетенций в области климата у сотрудников Компании и формирования экологически ориентированного мировоззрения разработаны обучающие курсы: Симуляция работы в модуле «Парниковые газы», «Климатическая повестка, цели устойчивого развития и позиция компании в области климата». 
