
.dmpage-text
	h2.block-section-name Взаимодействие по вопросам климатической повестки 
	p Компания занимает активную позицию в климатической повестке и понимает, что решение её задач требует сотрудничества на национальном, международном и отраслевом уровнях и взаимодействует со всеми заинтересованными сторонами в области снижения рисков изменения климата и адаптации к изменениям климата. 
	p Представители Компании являются членами комитетов РСПП и активно участвуют в работе Комитета по климатической политике и углеродному регулированию. В 2022 году в составе делегации от Российской Федерации Компания приняла участие в 27-й конференции ООН по изменению климата (COP27). 
	p Компания принимает участие в рабочих группах Комитета ООР «РСПП» по экологии и природопользованию, по реализации механизма «регуляторной гильотины» в сфере экологии и природопользования при Аналитическом центре Правительства РФ, Правительственной комиссии по экономическому развитию и интеграции «Климатические проекты», научно-техническом совете Федеральной службы по надзору в сфере природопользования.
	p В 2021 году Компания подписала Меморандум о деятельности Российского партнерства за сохранение климата и вошла в число его официальных партнеров. Компания поддерживает инициативы Партнерства в сфере климатической повестки и достижения ЦУР ООН и принимает участие в мероприятиях.
