extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Environmental performance 

			h1.dmpage-h1 Environmental performance 

		.dmpage.dmpage--no-art
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/ecology/environmental-management.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/ecology/environmental-management.html") To the beginning of the section
						a.dmpage-menu-item(href="management-system-3.html") Management system 3
						a.dmpage-menu-item(href="contribution-to-environmental-protection.html") Contribution to environmental protection
						a.dmpage-menu-item(href="emergency-prevention-and-response-system.html") Emergency prevention and response system
						a.dmpage-menu-item(href="information-on-disputable-ecological-situations.html") Information on disputable ecological situations
						a.dmpage-menu-item.dmpage-menu-item--active(href="environmental-performance.html") Environmental performance
						a.dmpage-menu-item(href="public-environmental-awareness.html") Public environmental awareness
						

						


			.dmpage-main
				.dmpage-detail 
					
					
					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text  Appendix 
									
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_4/prilozhenie_4.1._svedenija_ob_urovne_vozdejstvija_na_okruzhajuschuju_sredu_za_2022_god.xlsx" download) Information on the environmental impact level for 2022 
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_4/prilozhenie_4.2._svedenija_ob_urovne_vozdejstvija_na_okruzhajuschuju_sredu_za_2021_god.xlsx" download) Information on the environmental impact level for 2021
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_4/prilozhenie_4.3._svedenija_ob_urovne_vozdejstvija_na_okruzhajuschuju_sredu_za_2020_god.pdf" download) Information on the environmental impact level for 2020
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_4/prilozhenie_4.4._svedenija_ob_urovne_vozdejstvija_na_okruzhajuschuju_sredu_za_2019_god.pdf" download) Information on the environmental impact level for 2019
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_4/prilozhenie_4.5._svedenija_ob_urovne_vozdejstvija_na_okruzhajuschuju_sredu_za_2016-2018_gody.pdf" download) Information on the environmental impact level for 2016-2018