extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Information on disputable ecological situations

			h1.dmpage-h1 Information on disputable ecological situations

		.dmpage.dmpage--no-art
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya/ekologicheskij-menedzhment.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya/ekologicheskij-menedzhment.html") К началу раздела
						a.dmpage-menu-item(href="sistema-upravleniya-3.html") Система управления
						a.dmpage-menu-item(href="vklad-v-zashitu-okruzhayushej-sredy.html") Вклад в защиту окружающей среды
						a.dmpage-menu-item(href="sistema-preduprezhdeniya-i-likvidacii-chrezvychajnyh-situacij-eco.html") Система предупреждения и ликвидации чрезвычайных ситуаций
						a.dmpage-menu-item.dmpage-menu-item--active(href="svedeniya-o-spornyh-ekologicheskih-situaciyah.html") Сведения о спорных экологических ситуациях
						a.dmpage-menu-item(href="pokazateli-vozdejstviya-na-okruzhayushuyu-sredu.html") Показатели воздействия на окружающую среду
						a.dmpage-menu-item(href="informirovanie.html") Информирование
						

						


			.dmpage-main
				.dmpage-detail 
					
					
					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text  Приложение
									
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_3/prilozhenie_3.1._svedenija_o_spornyh_ekologicheskih_situacijah_v_2021_godu-2.docx" download) Information on disputable ecological situations in 2021 -1
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_3/prilozhenie_3.2._svedenija_o_spornyh_ekologicheskih_situacijah_v_2021_godu-1.pdf" download) Information on disputable ecological situations in 2021 -2
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_3/prilozhenie_3.3._svedenija_o_spornyh_ekologicheskih_situacijah_v_2020_godu.pdf" download) Information on disputable ecological situations in 2020
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_3/prilozhenie_3.4._svedenija_o_spornyh_ekologicheskih_situacijah_v_2019_godu.pdf" download) Information on disputable ecological situations in 2019
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_3/prilozhenie_3.5._svedenija_o_spornyh_ekologicheskih_situacijah_v_2018_godu.pdf" download) Information on disputable ecological situations in 2018
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_3/prilozhenie_3.6._svedenija_o_spornyh_ekologicheskih_situacijah_v_2017_godu.pdf" download) Information on disputable ecological situations in 2017