extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Management system

			h1.dmpage-h1 Management system

		.dmpage
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya/ekologicheskij-menedzhment.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya/ekologicheskij-menedzhment.html") К началу раздела
						a.dmpage-menu-item.dmpage-menu-item--active(href="sistema-upravleniya-3.html") Система управления
						a.dmpage-menu-item(href="vklad-v-zashitu-okruzhayushej-sredy.html") Вклад в защиту окружающей среды
						a.dmpage-menu-item(href="sistema-preduprezhdeniya-i-likvidacii-chrezvychajnyh-situacij-eco.html") Система предупреждения и ликвидации чрезвычайных ситуаций
						a.dmpage-menu-item(href="svedeniya-o-spornyh-ekologicheskih-situaciyah.html") Сведения о спорных экологических ситуациях
						a.dmpage-menu-item(href="pokazateli-vozdejstviya-na-okruzhayushuyu-sredu.html") Показатели воздействия на окружающую среду
						a.dmpage-menu-item(href="informirovanie.html") Информирование
						

						


			.dmpage-main
				.dmpage-detail 
				

					.dmpage-text
						p The Company develops the health, safety and environmental (HSE) management system throughout the entire production chain of the TATNEFT Group. At the operational level, the health, safety and environmental management system is provided by two functional divisions:


						ul
							li Health, Safety and Environment Department* 
							li Environmental Protection and Ecology Department

					.dmpage-text.dmpage-text--small *for more information about the occupational safety and health management system, please see the "Production Safety” section


					.dmpage-text 
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image74.jpg")



					.dmpage-text
						h2 The environmental impact management system encompasses all the main levels of management
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image76.jpg")
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image75.jpg")

						p Since 2006, the Company has been developing an integrated health, safety and environmental management system that meets the advanced international ISO standards. Compliance with the standards is confirmed through recertification every three years.
						p Internal and external audits are carried out every year to help improve the management system and the level of competence of employees in these areas.  In order to further develop the management system and improve its effectiveness, the main processes were formalized in 2022. Responsibility matrices have been developed for the processes of the functional area, which covers all the organizations in the TATNEFT Group, and process efficiency indicators have been determined and linked to strategic environmental goals.
						p The Company is developing a voluntary environmental risk insurance system as part of the Company's integrated risk management system.
					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Appendix 
									
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.1._sertifikat_taneko_14001.pdf" download)  Сертификат ТАНЕКО 14001
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.2._sertifikat_toljattikauchuk_ISO_14001_RU.pdf" download)  Сертификат Тольяттикаучук ISO 14001 RU
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.3._ekopet_sertifikat_GOST_R_ISO_14001-2016_ru.jpg" download)  Экопэт Сертификат GOST R ISO 14001-2016_ru
												//.jpg
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.4._ekopet_sertifikat_ISO_14001-2015_ru.jpg" download)  Экопэт сертификат ISO 14001-2015_ru
												//.jpg
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.5._sertifikat_bmz_ISO_14001-2015_rus.jpg" download)  Сертификат БМЗ ISO 14001-2015 рус
												//.jpg
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.6._tatburneft_sertifikat_iso_14001_rus.pdf" download)  Татбурнефть Сертификат ИСО 14001 рус
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.7._tng-algis_sertifikat_14001_rus.pdf" download)  ТНГ-АлГИС Сертификат 14001 рус
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.8._sertifikat_osk_ism__ooo_himservis-1_rus.pdf" download)  Сертификат ОСК ИСМ  ООО Химсервис-1 рус
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.9._sertifikat_taneko_14001_angl.jpg" download)  Сертификат ТАНЕКО 14001 англ
												//.jpg
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.10._sertifikat_taneko_14001_angl-1.jpg" download)  Сертификат ТАНЕКО 14001 англ-1
												//.jpg
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.11._toljattikauchuk_ISO_14001_angl.pdf" download)  Тольяттикаучук ISO 14001 англ
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.12._ekopet_14001_angl.pdf" download)  Экопэт 14001 англ
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.13._bmz_sertifikat_ISO_na_angl.jazyke1.pdf" download)  БМЗ Сертификат ISO на англ.языке
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.14._ISO14001-15_Tatburneft_angl.pdf" download)  ISO14001-15 Tatburneft англ
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.15._tng-algis_sertifikat_14001_angl.pdf" download)  ТНГ-АлГИС Сертификат 14001 англ
												//.pdf