extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Significant Environmental Facts

			h1.dmpage-h1 Significant Environmental Facts

		.dmpage
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/new_top_photos/environmental-management.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/ecology/environmental-management.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/ecology/environmental-management.html") To the beginning of the section
						a.dmpage-menu-item(href="contribution-to-environmental-protection.html") Contribution to environmental protection
						a.dmpage-menu-item.dmpage-menu-item--active(href="significant-environmental-facts.html") Significant Environmental Facts
						

						


			.dmpage-main
				.dmpage-detail 
					
					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text  Information on disputable ecological situations
									
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_3/prilozhenie_3.1._svedenija_o_spornyh_ekologicheskih_situacijah_v_2021_godu-2.docx" download) Information on disputable ecological situations in 2021 -1
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_3/prilozhenie_3.2._svedenija_o_spornyh_ekologicheskih_situacijah_v_2021_godu-1.pdf" download) Information on disputable ecological situations in 2021 -2
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_3/prilozhenie_3.3._svedenija_o_spornyh_ekologicheskih_situacijah_v_2020_godu.pdf" download) Information on disputable ecological situations in 2020
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_3/prilozhenie_3.4._svedenija_o_spornyh_ekologicheskih_situacijah_v_2019_godu.pdf" download) Information on disputable ecological situations in 2019
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_3/prilozhenie_3.5._svedenija_o_spornyh_ekologicheskih_situacijah_v_2018_godu.pdf" download) Information on disputable ecological situations in 2018
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_3/prilozhenie_3.6._svedenija_o_spornyh_ekologicheskih_situacijah_v_2017_godu.pdf" download) Information on disputable ecological situations in 2017


					
					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text  Environmental performance 
									
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_4/prilozhenie_4.1._svedenija_ob_urovne_vozdejstvija_na_okruzhajuschuju_sredu_za_2022_god.xlsx" download) Information on the environmental impact level for 2022 
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_4/prilozhenie_4.2._svedenija_ob_urovne_vozdejstvija_na_okruzhajuschuju_sredu_za_2021_god.xlsx" download) Information on the environmental impact level for 2021
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_4/prilozhenie_4.3._svedenija_ob_urovne_vozdejstvija_na_okruzhajuschuju_sredu_za_2020_god.pdf" download) Information on the environmental impact level for 2020
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_4/prilozhenie_4.4._svedenija_ob_urovne_vozdejstvija_na_okruzhajuschuju_sredu_za_2019_god.pdf" download) Information on the environmental impact level for 2019
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_4/prilozhenie_4.5._svedenija_ob_urovne_vozdejstvija_na_okruzhajuschuju_sredu_za_2016-2018_gody.pdf" download) Information on the environmental impact level for 2016-2018


					
					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text  Environmental Impact Assessment (EIA)
									
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.1._kombinirovannaja_ustanovka_aromatiki_titul_1011_s_obektami_ozh.__kompleks_neftepererabatyvajuschih_i_neftehimicheskih_zavodov_ao_taneko_1_etap_stroitelstva_2023.docx" download) Комбинированная установка ароматики Титул 1011 с объектами ОЗХ.  «Комплекс нефтеперерабатывающих и нефтехимических заводов» АО «ТАНЕКО» 1 этап строительства» (2023)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.2._tehnologicheskij_reglament_proizvodstva_pobochnogo_produkta_burenija_–_grunta_dlja_planirovok_2023.docx" download) «Технологический регламент производства побочного продукта бурения – грунта для планировок» (2023)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.3._ustanovka_proizvodstva_tretichnogo_dodecilmerkaptana_tdm_s_obektami_ozh_2023.docx" download) «Установка производства третичного додецилмеркаптана (ТДМ) с объектами ОЗХ» (2023)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.4._ao_taneko_kompleks_neftepererabatyvajuschih_i_neftehimicheskih_zavodov._stroitelstvo_truboprovoda_dlja_otgruzki_svetlyh_nefteproduktov_s_ao_taneko_na_ooo_nizhnekamskaja_neftebaza_2022.docx" download) АО ТАНЕКО Комплекс нефтеперерабатывающих и нефтехимических заводов. Строительство трубопровода для отгрузки светлых нефтепродуктов с АО ТАНЕКО на ООО «Нижнекамская Нефтебаза»» (2022)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.5._uzel_regeneracii_40%_rastvora_mdea_s_uzlom_ochistki_na_ionoobmennyh_smolah_dlja_udalenija_termostabilnyh_solej._kompleks_neftepererabatyvajuschih_i_neftehimicheskih_zavodov_ao_taneko_2022.docx" download) Узел регенерации 40% раствора МДЭА с узлом очистки на ионообменных смолах для удаления термостабильных солей. Комплекс нефтеперерабатывающих и нефтехимических заводов АО ТАНЕКО (2022)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.6._gazofrakcionirujuschaja_ustanovka_gfu-4_2022.docx" download) «Газофракционирующая установка (ГФУ-4)» (2022)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.7.1.__azotnaja_stancija_tit.1026_sekcija_7202_vozdushnaja_kompressornaja_tit.1080_sekcija_7103_kompleksa_neftepererabatyvajuschih_i_neftehimicheskih_zavodov_ao_taneko_v_g._nizhnekamsk_2022.docx" download)  «Азотная станция тит.1026 (секция 7202), Воздушная компрессорная тит.1080 (секция 7103) «Комплекса нефтеперерабатывающих и нефтехимических заводов» АО ТАНЕКО в г. Нижнекамск» (2022)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.7.2.__instrukcija_dlja_uchastija_v_obschestvennyh_slushanijah_proektnoj_dokumentacii_azotnaja_stancija_vozdushnaja_kompressornaja__kompleksa_neftepererabatyvajuschih_i_neftehimicheskih_zavodov_ao_taneko.docx" download)  Инструкция для участия в общественных слушаниях проектной документации Азотная станция, Воздушная компрессорная  «Комплекса нефтеперерабатывающих и нефтехимических заводов» АО ТАНЕКО
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.8.uzel_podachi_cetanopovyshajuschej_prisadki_nasosnaja_komponentov_kerosina_nasosnaja_otgruzki_dizelnogo_topliva__kompleksa_neftepererabatyvajuschih_i_neftehimicheskih_zavodov_ao_taneko_2022.docx" download) «Узел подачи цетаноповышающей присадки, насосная компонентов керосина, насосная отгрузки дизельного топлива  Комплекса нефтеперерабатывающих и нефтехимических заводов АО ТАНЕКО (2022)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.9._kompleks_neftepererabatyvajuschih_i_neftehimicheskih_zavodov_ao_taneko._rekonstrukcija_otparki_kislyh_stokov_tit._013_sek._3300_proizvodstva_sery_tit._013_sek._3400_2022.docx" download) «Комплекс нефтеперерабатывающих и нефтехимических заводов» АО «ТАНЕКО». Реконструкция отпарки кислых стоков (тит. 013, сек. 3300), производства серы (тит. 013, сек. 3400) (2022)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.10._rasshirenie_sistemy_gazosbora_s_obektov_ngdu_jamashneft_2022.pdf" download) Расширение системы газосбора с объектов НГДУ Ямашнефть (2022)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.11._teplocentr_stancija_teplofikacionnoj_vody__i_promteplofikacionnoj_vody__kompleksa_neftepererabatyvajuschih_i_neftehimicheskih_zavodov_ao_taneko_2021.docx" download) Теплоцентр, станция теплофикационной воды  и промтеплофикационной воды  Комплекса нефтеперерабатывающих и нефтехимических заводов АО ТАНЕКО (2021)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.12._rekonstrukcija_kompressornoj_ustanovki_otbenzinennogo_gaza_kuog_utngp_2021.docx" download) Реконструкция компрессорной установки отбензиненного газа (КУОГ) УТНГП) (2021)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.13._ao_taneko_ustanovka_gidrodearomatizacii_legkih_gazojlevyh_frakcij_titul_1007_sekcija_1503_2021.docx" download) АО «ТАНЕКО» Установка гидродеароматизации легких газойлевых фракций титул 1007 (секция 1503)» (2021)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.14._rekonstrukcija_kriogennoj_ustanovki_po_glubokoj_pererabotke_suhogo_otbenzinennogo_gaza_s_vypuskom_novyh_produktov_i_gazofrakcionirujuschaja_ustanovka_gfu-42021.docx" download) «Реконструкция Криогенной установки по глубокой переработке сухого отбензиненного газа с выпуском новых продуктов» и «Газофракционирующая установка (ГФУ-4)»(2021)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.15._ustanovka_proizvodstva_tretichnogo_dodecilmerkaptana_tdm_s_obektami_ozh_2023_2021.docx" download) «Установка производства третичного додецилмеркаптана (ТДМ) с объектами ОЗХ» (2023) (2021)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.16._obustrojstvo_kusta_skvazhin_2212_bavlinskogo_neftjanogo_mestorozhdenija_2021.pdf" download) Обустройство куста скважин 2212 Бавлинского нефтяного месторождения (2021)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.17._obustrojstvo_kusta_skvazhin_k-406a_kupavnogo_neftjanogo_mestorozhdenija_2020.pdf" download) Обустройство куста скважин К-406А Купавного нефтяного месторождения (2020)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.18._obekty_obschezavodskogo_hozjajstva_ustanovki_gidroochistki_srednih_distilljatov_kompleksa_neftepererabatyvajuschih_i_neftehimicheskih_zavodov_ao_taneko_2020.pdf" download) Объекты общезаводского хозяйства установки гидроочистки средних дистиллятов Комплекса нефтеперерабатывающих и нефтехимических заводов АО ТАНЕКО (2020)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.19._kompleks_neftepererabatyvajuschih_i_neftehimicheskih_zavodov_g__nizhnekamsk__ustanovka_proizvodstva_vodoroda_2020.pdf" download) «Комплекс нефтеперерабатывающих и нефтехимических заводов» г_ Нижнекамск_ Установка производства водорода (2020)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.20._rekonstrukcija_ustanovki_proizvodstva_masel_2020.docx" download) Реконструкция установки производства масел (2020)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.21._obustrojstvo_dopolnitelnyh_skvazhin_minnibaevskoj_severo-almetevskoj_i_almetevskoj_ploschadej__VI_etap2020.pdf" download) «Обустройство дополнительных скважин Миннибаевской, Северо-Альметьевской и Альметьевской площадей_ VI этап»(2020)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.22._rekonstrukcija_bavlinskoj_ustanovki_seroochistki_2020.docx" download) «Реконструкция Бавлинской установки сероочистки» (2020)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_5/prilozhenie_5.23._ao_taneko_kompleks_neftepererabatyvajuschih_i_neftehimicheskih_zavodov._ustanovka_himvodoochistki_2020.docx" download) АО ТАНЕКО Комплекс нефтеперерабатывающих и нефтехимических заводов. Установка химводоочистки (2020)

