extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Cooperation on environment agenda

			h1.dmpage-h1 Cooperation on environment agenda

		.dmpage
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_20_10_23/climate-action.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/ecology/climate-action.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/ecology/climate-action.html") To the beginning of the section
						a.dmpage-menu-item(href="decarbonization-strategy.html") Low-Carbon Development Strategy

						a.dmpage-menu-item(href="risk-management.html") Climate Risk Management
						a.dmpage-menu-item(href="greenhouse-gas-emissions.html") Greenhouse Gas Emissions Performance
						a.dmpage-menu-item(href="resource-efficiency.html") Resource efficiency
						a.dmpage-menu-item.dmpage-menu-item--active(href="cooperation-on-environment-agenda.html") Cooperation on environment agenda
						



			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p The Company takes an active stance on the environment agenda and acknowledges that its goals require cooperation at the national, international and industry level and cooperates with all stakeholders in order to mitigate climate change risks and adapt to climate change. The Company’s representatives are members of RUIE committees and are actively engaged in the Committee’s work on environment policy and carbon management. In 2022, as part of Russian delegation, the Company participated in 27th UN Conference on Climate Change (COP27). The Company takes part in the working groups of RUIE Industrial Safety Committee on ecology and natural resources use, on the "regulatory guillotine" mechanism on ecology and natural resources use with the Analytical Center of the Government of the Russian Federation, “Climatic Projects” Government Committee for Economic Development and Integration, R&D Council of the Federal Service for Supervision of Natural Resources. In 2021, the Company signed the Memorandum on Operation of Russian Partnership for Climate preservation and became one of its official partners. The Company upholds the partnership’s initiatives regarding the environment agenda and achieving UN SDGs and takes part in the events.