extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Low-Carbon Development Strategy


			h1.dmpage-h1 Low-Carbon Development Strategy


		.dmpage
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/ecology/climate-action.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/ecology/climate-action.html") To the beginning of the section
						a.dmpage-menu-item.dmpage-menu-item--active(href="decarbonization-strategy.html") Low-Carbon Development Strategy

						a.dmpage-menu-item(href="risk-management.html") Climate Risk Management
						a.dmpage-menu-item(href="greenhouse-gas-emissions.html") Greenhouse Gas Emissions Performance
						a.dmpage-menu-item(href="resource-efficiency.html") Resource efficiency
						a.dmpage-menu-item(href="cooperation-on-environment-agenda.html") Cooperation on environment agenda
						



			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p In 2022, the Board of Directors approved the climate section of the Development Strategy. The long-term goal setting is based on the vector of achieving carbon neutrality by 2050 in terms of controlled greenhouse gas emissions (Scope 1 and 2, taking into account compensating measures and the development of low-carbon technologies). Mid-term targets propose reducing in carbon intensity by 14% by 2025 and 30% by 2030 compared to the baseline year 2021.

						h3 Specific greenhouse gas emissions (Scope 1 and 2)

						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image88.jpg", alt="")

						
					.dmpage-quote
						p Since 2020, the Company has integrated greenhouse gas emission reduction indicators into its management KPIs.
						p The KPI system for SDG 13 encompasses a range of indicators crucial to accomplishing the goals, in particular:
						p 1. Not exceeding the target greenhouse gas emissions (Scope 1+2) for the TATNEFT Group is integrated into the KPI of the Deputy General Director in charge of environmental and climate issues in the Company.  This metric is then broken down to the heads of business streams and enterprises; each of whom is responsible for ensuring that emissions within their functional scope of activity do not exceed the specified target.
						p 2. The introduction of compulsory reporting on greenhouse gas emissions prompted the inclusion of KPIs regarding the timing and quality of greenhouse gas emissions reporting.
						p 3. The project manager's key performance indicators (KPIs) measure the delivery of key projects that contribute to the reduction of greenhouse gas emissions. 


					.dmpage-text
						p Main levers of decarbonization:

						ul
							li technological solutions to reduce emissions - reducing direct greenhouse gas emissions, reducing methane emissions, improving energy efficiency, increasing the level of utilization of associated petroleum gas
							li carbon capture, utilization and storage
							li development of renewable energy
							li biological capture of distributed CO2 emissions
							li formation of an ecological worldview and involvement of the population in the implementation of SDGs


						h2 IMPLEMENTATION OF THE SDG 13 PROGRAM AND DECARBONIZATION OF THE COMPANY ARE ACCOMPLISHED THROUGH A SET OF SUSTAINABLE DEVELOPMENT GOALS. 
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image86.jpg", alt="")

						h3 CARBON FOOTPRINT REDUCTION PROJECTS AND PROGRESS
						p In order to achieve SDG 13 indicators, the Company has formed a portfolio of projects aimed at reducing the carbon footprint. The projects are included in the Climate Action Program. In 2022, the potential of the Greenhouse Gas Emissions Reduction Program has been increased from 1.9 million tonnes of CO2-eq. to 2.2 million tonnes of CO2-eq. (16%). The environmental effect of the Program implementation in 2022 amounted to 0.7 million tonnes of CO2-eq. 
						p The cost of implementing measures in 2022 is RUB 2.4 billion. The achieved effect for 2021-2022 amounted to 0.944 million tonnes of CO2-eq*. Targets for greenhouse gas emissions have been met in all business areas of the TATNEFT Group.
					.dmpage-text.dmpage-text--small
						p * The environmental effect of implementing by the Greenhouse Gas Emissions Reduction Program is figured out by comparing the baseline (which is the calculation of greenhouse gas emissions without taking any measures) with actual greenhouse gas emissions taking into account changes in the level of production activities. The calculation includes the greenhouse gas emissions Scope 1, 2, and 3.
					.dmpage-text
						p The calculation includes the greenhouse gas emissions Scope 1, 2, and 3.





					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Achievement of Sustainable Development Goals

								.dmpage-accordion-body
									.dmpage-accordion-body__text
										img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image85.jpg", alt="")
										img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image91.jpg", alt="")


						

					.dmpage-text
						h2 PROJECTS TO REDUCE DIRECT AND INDIRECT GREENHOUSE GAS EMISSIONS  
						ul
							li Reduction of flare burning due to changes in the technological regime of separation at the Company's facilities, expansion of the gas collection system, increase in the level of utilization of waste gases at JSC TANECO allowed reducing emissions of more than 400 thousand tonnes of CO2-eq. 
							li The implementation of the X-Plate technology at LLC Nizhnekamsk CHP allowed reducing 15.9 thousand tonnes of CO2-eq.
							li The use of renewable energy sources has reduced greenhouse gas emissions by 2.4 thousand tonnes of CO2-eq. 
							li A number of projects and scientific research in the field of CCUS (Carbon Capture Utilization and Storage) have been implemented, the potential for capture amounted to 6.0 million tonnes of CO2. The R&D investment portfolio for the capture project is RUB 127.8 million.
							li Development of a system for monitoring methane emissions through the use of unmanned aerial vehicles that allow timely obtaining reliable data on technological malfunctions at facilities.

						h2 PROJECTS FOR THE IMPLEMENTATION OF COMPENSATION MEASURES  
						ul
							li Implementation of the program for planting and restoration of forests. In 2022, about 2.2 million trees were planted on an area of 1 325 hectares. Over 10 years of the program implementation, more than 20.5 million trees have been planted.

						h2 PROJECTS TO IMPROVE THE SYSTEM OF ACCOUNTING FOR GREENHOUSE GAS EMISSIONS 
						ul
							li Scope 3 perimeter of accounting for indirect greenhouse gas emissions has been increased: greenhouse gas emissions from employee air travel have been included. 
							li The process of calculating greenhouse gas emissions for the TATNEFT Group has been automated, software has been created that unites the Group's enterprises and ensures the integration of software with fuel and energy consumption accounting systems. 
							li In order to enhance the climate awareness and competence of the company's employees and to foster an environmentally oriented attitude, training courses have been developed: Simulation of work in the module "Greenhouse gases", "Climate agenda, sustainable development goals and the Company's position in the field of climate".