extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Resource efficiency

			h1.dmpage-h1 Resource efficiency

		.dmpage
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/ecology/climate-action.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/ecology/climate-action.html") To the beginning of the section
						a.dmpage-menu-item(href="decarbonization-strategy.html") Decarbonization strategy
						a.dmpage-menu-item(href="risk-management.html") Risk management
						a.dmpage-menu-item(href="greenhouse-gas-emissions.html") Greenhouse gas emissions
						a.dmpage-menu-item.dmpage-menu-item--active(href="resource-efficiency.html") Resource efficiency
						a.dmpage-menu-item(href="cooperation-on-environment-agenda.html") Cooperation on environment agenda
						



			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p Tatneft, as one of the largest participants in the energy market, conducts systematic work in the field of energy and resource efficiency. These concepts in the Company are combined in a closed cycle, including cost optimization, resource savings and their secondary use, energy efficiency improvement throughout the production chain. 

						p The policy of the TATNEFT Group in the field of integrated management system is aimed at achieving common strategic goals in the field of rational use of natural resources involved in production through the introduction of resource-saving and energy-efficient technologies, the use of environmentally friendly and alternative energy sources, waste recycling and the use of recyclable materials, the introduction of the best available technologies, equipment, materials, digital technological process management solutions.

						h2 ENERGY EFFICIENCY
						p In accordance with the 2030 Development Strategy, the key guideline is the continuous improvement of energy efficiency, improvement of energy efficiency and energy conservation management processes in the implementation of all types of production activities; cost containment through the introduction of advanced innovative energy-efficient technologies and rational use of energy resources; development, implementation, operation and continuous improvement of the Energy Management System that meets the requirements of ISO 50001-2018.

						p Uniform requirements for the energy management system are established by the standard "Energy Efficiency and Energy Conservation in the TATNEFT Group". The Company also imposes requirements for energy efficiency and energy conservation to the services, equipment and technologies supplied, which are taken into account in the technical requirements for equipment, in the directory of energy-efficient equipment and technologies and other local regulatory documents.

						p Informing suppliers about energy efficiency requirements is mandatory in the procurement documentation. Improving energy efficiency is one of the main areas of adaptation to climate change, implemented by fulfilling the objectives of SDG 7 "Low-Cost and Clean Energy".

						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image67.jpg", alt="")

						h2 INCREASING THE SHARE OF ENERGY GENERATED FROM RENEWABLE SOURCES
						h3 Implementation results

						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image69.jpg", alt="")

						p 
							b Energy efficiency is one of the main principles of the Company's development. Since 2000, the Company has been implementing technical and organizational measures aimed at reducing energy consumption - Energy Efficiency and Energy Saving Programs. The current target program for improving energy efficiency and energy saving has been developed for a three-year period from 2022 to 2025.

						p The strategic goal is the effectiveness of the energy saving program until 2025 by at least 2.8% annually relative to the actual consumption of fuel and energy resources in the previous year.

					.dmpage-table-section
						h3.dmpage-table-title.dmpage-table-title--small-w Saving of fuel and energy resources
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other(span="2")
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other(span="2")
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th(rowspan='2')
											p UoM
										th(rowspan='2')
											p 2020
										th(colspan='2')
											p 2021
										th(colspan='2')
											p 2022
										th
											p 2023
									tr
										th(style="display:none;")
										th
											p planned
										th
											p actual
										th
											p planned
										th
											p actual
										th
											p planned
								tbody
									tr
										td
											p actual thousand tonnes of oil equivalent
										td
											p 108
										td
											p 112
										td
											p 115
										td
											p 160
										td
											p 167
										td
											p 173
									tr
										td
											p Plan progress, %
										td
											p -
										td(colspan='2')
											p 102,7
										td(colspan='2')
											p 104,4
										td
											p -
									tr
										td
											p RUB mln
										td
											p 728
										td(colspan='2')
											p 846
										td(colspan='2')
											p 1 241
										td
											p -


					.dmpage-text
						p In 2022, energy consumption savings amounted to 167,000 tonnes. With a plan of 2.8%, the implementation of the energy saving program for 2022 amounted to 3.0%.
						p The most efficient saving areas are: oil and gas treatment, processing, transportation, oil and gas production technology, reservoir pressure maintenance.  Energy efficiency requirements are integrated into all processes that determine the life cycle of technological objects: design, construction, operation. The energy saving program includes more than 3,000 activities.  
						p A pool of innovative technologies has been formed in the perimeter of each business area, the implementation of which ensures the achievement of energy efficiency goals: 
						ul
							li in oil production – energy-efficient pumps for the processes of lifting well products, oil treatment and reservoir pressure maintenance systems using fiberglass pipes.
							li in oil and gas processing and Petrochemicals – heat recovery systems of secondary energy resources, energy-efficient pumping and compressor units.
							li energy–efficient transformers, automatic reactive power compensation devices, heat networks made of composite materials, technologies for optimizing fuel combustion processes in boilers are used at the enterprises of the energy block.


						

					.dmpage-table-section
						h3.dmpage-table-title.dmpage-table-title--small-w ENERGY CONSUMPTION FROM NON-RENEWABLE SOURCES
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th
											p Name of FER
										th
											p UoM
										th
											p 2020
										th
											p 2021
										th
											p 2022
								tbody
									tr
										td(rowspan='2')
											p Electric power
										td
											p thousand KWh
										td
											p 5 180 874
										td
											p 7 162 499
										td
											p 7 878 417
									tr
										td(style="display:none;")
										td
											p GJ
										td
											p 18 652 674
										td
											p 25 787 108
										td
											p 28 364 624
									tr
										td(rowspan='2')
											p Heat energy*
										td
											p Gcal
										td
											p 4 061 473
										td
											p 8 742 306
										td
											p 8 642 552
									tr
										td(style="display:none;")
										td
											p GJ
										td
											p 17 005 968
										td
											p 36 605 284
										td
											p 36 187 600
									tr
										td(rowspan='2')
											p Boiler and furnace fuel, including
										td
											p tonnes of oil equivalent
										td
											p 3 362 060
										td
											p 3 642 147
										td
											p 3 774 098
									tr
										td(style="display:none;")
										td
											p GJ
										td
											p 98 541 979
										td
											p 106 751 329
										td
											p 110 618 812
									tr
										td
											p Natural gas 
										td
											p thousand m3
										td
											p 1 926 470
										td
											p 2 270 360
										td
											p 2 089 537


					.dmpage-text.dmpage-text--small
						p * Thermal energy for super viscous oil production is included in the natural gas purchases.

					.dmpage-text
						p The actual heat of combustion under standard conditions (calorific value) for each type of fuel was used to calculate the value of boiler and furnace fuel consumption in tonnes of oil equivalent.
						p 
							b ENERGY CONSUMPTION FROM RENEWABLE SOURCES
						p The Company's strategy takes into account the role of renewable energy sources and their importance for a cleaner, low-carbon energy future. As part of SDG 7 task to increase the share of energy from renewable sources, the program "Development of renewable energy sources" is implemented, including investment and innovative projects on solar generation, wind and hydro generation, biofuel-based generation, deep heat utilization and other projects.


						
					.dmpage-quote

						| The strategic goal is to generate 900 MW of renewable energy by 2050.
						p Of these, 650 MW (72%) are external projects, 250 MW (28%) - energy supply of the Company's facilities.
						p Bringing the share of renewable energy capacity to 4% by 2030.


					.dmpage-text
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image72.jpg", alt="")


					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title ENERGY GENERATION FROM RENEWABLE ENERGY SOURCES
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other
								thead
									tr
										th
										th
											p 2021
										th
											p 2022 
								tbody
									tr
										td
											p Total energy production, tonnes of oil equivalent
										td
											p 1 097 325
										td
											p 1 101 774
									tr
										td
											p Power generation, thousand KWh
										td
											p 1 732 601
										td
											p 1 807 671
									tr
										td
											p Heat generation, Gcal
										td
											p 6 191 503
										td
											p 6 158 099
									tr
										td
											p Energy generation from renewable energy sources, tonnes of oil equivalent
										td
											p 1 146,7
										td
											p 1 253,4
									tr
										td
											p Share of renewable energy generation, %
											p (from the total energy production of the TATNEFT Group)
										td
											p 0,10
										td
											p 0,11

					.dmpage-text
						p Investments in the amount of RUB 54.8 million were directed to the development of renewable energy projects.

						p In 2022, flow–through micro-hydroelectric power plants, wind generators, heat pumps at gas stations, a gas station heating system using a solar collector were put into operation. Introduction of pellet heating equipment and solar power plants at the Company's gas stations continues. Currently, 330 pellet boilers and 4 solar power plants operate.
						p By 2023, it is planned to achieve the volume of production from renewable energy sources of at least 1,491 tonnes.

					.dmpage-table-section
						h3.dmpage-table-title.dmpage-table-title--small-w ENERGY CONSUMPTION FROM RENEWABLE ENERGY SOURCES
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th
											p Name of FER
										th
											p 2020
										th
											p 2021
										th
											p 2022
								tbody
									tr
										td
											p 
												b Electric power, KWh, including
										td
											p 
												b 1 102 196
										td
											p 
												b 1 093 767
										td
											p 
												b 715 996
									tr
										td
											p hydropower, KWh
										td
											p 1 095 332
										td
											p 1 063 321
										td
											p 658 784
									tr
										td
											p solar energy, kWh
										td
											p 6 864
										td
											p 30 446
										td
											p 56 955
									tr
										td
											p wind energy, kWh 
										td
											p -
										td
											p -
										td
											p 257
									tr
										td
											p Electric power, GJ
										td
											p 3 968
										td
											p 3 938
										td
											p 2 578
									tr
										td
											p 
												b Heat energy, Gcal, including
										td
											p 
												b 7 592
										td
											p 
												b 7 092
										td
											p 
												b 8 368
									tr
										td
											p pellet fuel, Gcal
										td
											p 7 592
										td
											p 7 092
										td
											p 8 361
									tr
										td
											p low-grade heat, Gcal
										td
											p -
										td
											p -
										td
											p 7
									tr
										td
											p Heat energy, GJ
										td
											p 31 786
										td
											p 29 693
										td
											p 35 035

					.dmpage-text
						p In 2022, renewable energy was not purchased from third parties.

					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title VOLUME OF ENERGY CONSUMPTION, GJ
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other
								thead
									tr
										th
											p Name of FER
										th
											p 2022
								tbody
									tr
										td
											p Amount of energy consumed*
										td
											p 175 208 649
									tr
										td
											p The amount of energy consumed minus the realized electrical and thermal energy
										td
											p 142 909 501
					.dmpage-text.dmpage-text--small
						p * The amount of energy consumed includes the consumption of electricity, thermal energy and boiler and furnace fuel from renewable and non-renewable sources.

					.dmpage-table-section
						h3.dmpage-table-title.dmpage-table-title--small-w AMOUNT OF ENERGY SOLD 
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw(span="3")
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other(span="3")
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th(colspan='3')
											p Electric power
										th(colspan='3')
											p Heat energy
									tr
										th
											p thousand KWh
										th
											p tonnes of oil equivalent
										th
											p GJ
										th
											p Gcal
										th
											p tonnes of oil equivalent
										th
											p GJ
								tbody
									tr
										td
											p 1 809 382
										td
											p 222 256
										td
											p 6 514 310
										td
											p 6 158 099
										td
											p 879 728
										td
											p 25 784 838
					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title ENERGY INTENSITY COEFFICIENT (SPECIFIC FUEL CONSUMPTION), TONNES OF OIL EQUIVALENT/RUB MILLION   
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th(rowspan='2')
											p 2020
										th(rowspan='2')
											p 2021
										th(colspan='2')
											p 2022
									tr
										th(style="display:none;")
										th
											p planned
										th
											p actual
								tbody
									tr
										
										td
											p 4,14
										td
											p 4,10
										td
											p 3,86
										td
											p 3,82

					.dmpage-text
						p Energy intensity is the ratio of total energy consumption in tonnes of conventional fuel to the cost of manufactured products under comparable conditions (prices in 2021).

						p The decrease in energy intensity in 2022 compared to 2021 amounted to 6.8%, including due to the measures of the energy saving program - 3%, due to a decrease in the share of ultra–viscous oil production - 0.9%, due to changes in the basket of oil refining products, petrochemicals and other business areas – 2.9%.
						p In order to reduce greenhouse gas emissions, fuel and energy resources consumption and reduce technological losses, the following measures are being implemented: 
 
						ul
							li introduction of pipelines made of polymer materials
							li application of a composition (chemical reagent) for the treatment of the internal surfaces of hot water pipes
							li implementation of operational remote control systems
							li introduction of reinforced polyethylene pipelines
							li using a deaerator vapor to heat the source water
						h2 Energy Efficiency Program
						p The company implements the Energy Efficiency and Energy Saving Program. The Program goal is to curb the costs for fuel and energy resources through their rational use and improved energy efficiency of the production operations.
						p The main objectives in this area are: continuous improvement of energy efficiency, improvement of energy efficiency and energy-saving management processes in all types of production activities, cost reduction through the deployment of advanced innovative energy-efficient technologies and rational use of energy resources, development, implementation, operation, and continuous improvement of the Energy Management System compliant with the requirements of ISO 50001-2018.
						p As a result of the implementation of the Energy Saving Program for 2022, TATNEFT Group enterprises saved over 167 000 tonnes of conventional fuel, an equivalent of 1,241 million RUB. The most cost-efficient business lines are processing, oil and gas refining, transport, technology of oil and gas production, formation pressure maintenance.
						p As a result of the effective Program implementation, it was possible to achieve a positive dynamics of reducing energy intensity in 2020-2022 in the business areas Exploration and Production and Oil and Gas Processing.


					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title SPECIFIC POWER CONSUMPTION
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th  
										th
											p 2020
										th
											p 2021
										th
											p 2022
							
								tbody
									tr
										td
											p
												| Energy output (specific consumption of fuel and energy resources) for oil production in the Exploration and Production business area, kg/tonnes of oil equivalent
										td
											p 62,4
										td
											p 61,78
										td
											p 61,05
									tr
										td
											p
												| Energy output (specific consumption of fuel and energy resources) for the processing of crude oil in the Oil and Gas Processing business area, GJ/t
										td
											p 3,1
										td
											p 3,06
										td
											p 2,87