extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Climate Risk Management

			h1.dmpage-h1 Climate Risk Management

		.dmpage
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_20_10_23/climate-action.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/ecology/climate-action.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/ecology/climate-action.html") To the beginning of the section
						a.dmpage-menu-item(href="decarbonization-strategy.html") Low-Carbon Development Strategy

						a.dmpage-menu-item.dmpage-menu-item--active(href="risk-management.html") Climate Risk Management
						a.dmpage-menu-item(href="greenhouse-gas-emissions.html") Greenhouse Gas Emissions Performance
						a.dmpage-menu-item(href="resource-efficiency.html") Resource efficiency
						a.dmpage-menu-item(href="cooperation-on-environment-agenda.html") Cooperation on environment agenda
						



			.dmpage-main
				.dmpage-detail
					.dmpage-text

						p In the Company, the process of identifying and assessing risks/opportunities related to climate, as well as in the field of health, safety and environment, is part of an integrated risk management process based on the recommendations of national and international standards (ISO 31000:2018 "Risk Management. Principles and Guidelines"; COSO ERM "Risk Management Framework").
						p Risk and opportunity management is part of the Company's overall management system and a tool embedded in the Company's business processes and used for decision-making at all levels of management, in accordance with ISO 31000:2018 "Risk Management. Principles and Guidelines". The focal point of this process is the "PJSC TATNEFT Risk Management and Internal Control Policy".
						p The Company has established a documented process to identify, assess, monitor and manage climate risks and opportunities as part of the overall risk and opportunity management process. Strategic-level risks are managed in compliance with the "Climate Risk and Opportunity Management" practice. Operational-level risk management adheres to the Health, Safety and Environment Risk Management Standard. 
						p Risk owners are responsible for identifying risk opportunities, developing and implementing risk management measures. Climate risk owners perform regular monitoring and prepare reports on climate risk management.

						h2 IDENTIFICATION OF CLIMATE RISKS
						p The climate risk management system is built on the basis of completeness and reliability of risk identification, on a comprehensive assessment of their impact on people, tangible assets, the environment and image. 
						p In 2022, the Company developed a register of climate risks, which, in accordance with the TCFD classification, includes risks associated with a gradual transition to a low-carbon economy, as well as physical risks. The register of climate risks and opportunities, climate risk management measures and the risk management report are reviewed and approved by the Company's Board of Directors. 
						p The climate risks and opportunities are assessed out at least once a year. When identifying internal or external factors that have the potential to influence the register of climate risks and opportunities, an extraordinary assessment of climate risks and opportunities is carried out. 

						h2 Since 2021, the GHG emission targets have been included in the KPIs of the business line managers.

						p The risks are divided according to the planning horizon (short, medium and long-term) and are ranked based on expert consensus assessment of the probability and consequences of their implementation, measures for dealing with these risks are determined.

						h2 The Company's governing decisions must factor in the risks and opportunities associated with climate change.

						p When evaluating investment projects from 2021, the Company takes into account the risks associated with a rise in CO2 emissions (Scope 1, 2 and 3), and the Board of Directors has set an internal carbon price of $49 per tonne of CO2-eq.


					.dmpage-quote
						a.dmpage-quote__link(download href="https://www.tatneft.ru/uploads/publications/5f997b03eaaf2490844306.pdf")
						|  Control Risk Management Policy

					.dmpage-text
						p Any risk associated with a direct threat to human life and health or with the occurrence of environmental disasters is addressed by the Company with the utmost priority.



					.dmpage-table-section
						h3.dmpage-table-title.dmpage-table-title--small-w RISKS OF TRANSITION TO A LOW-CARBON ECONOMY AND PHYSICAL RISKS

						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw(span=2)
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other.dmptable-col-other--aw(span=17)
									
								thead
									tr
										th(colspan='2')
											p Risk groups
										th(colspan='17')
											p Risk management measures
								tbody
									tr.dmpage-table__tr-bb
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/high.svg", alt="")
										td
											p Risk management measures
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/high.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/razvedka.svg", alt="")
										td.dmptable-td-w-space-between-icons
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/nefgazper.svg", alt="")  
										td.dmptable-td-w-space-between-icons
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/energetic.svg", alt="")  
										td.dmptable-td-w-space-between-icons
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/nefgazhim.svg", alt="")  
										td.dmptable-td-w-space-between-icons
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/roznitsa.svg", alt="")  
										td.dmptable-td-w-space-between-icons
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/comp-mat.svg", alt="")
									tr.dmpage-table__tr-bb
										td(colspan='2')
											p
												b Description: 
												|  Reduced demand for oil and petroleum products due to the strengthening of the environmental agenda and a shift in consumer preferences towards products with lower carbon footprint
											p  
												b Impact:
												|  Change in structure/ decrease in revenue
										td(colspan='17')
											ul
												li Reducing the carbon footprint
												li Increasing the share of fuel segment
												li Consideration of the internal price of CO2 in the evaluation of investment projects
												li KPI system for reducing greenhouse gas emissions
									tr.dmpage-table__tr-bb
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid.svg", alt="")
										td
											p Regulatory risks
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/razvedka.svg", alt="")
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/nefgazper.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/energetic.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/nefgazhim.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/roznitsa.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/comp-mat.svg", alt="")  
									tr.dmpage-table__tr-bb
										td(colspan='2')
											p
												b Description: 
												|  Tightening environmental regulation. Expanding the product coverage of cross-border carbon regulation
											p
												b Impact: 
												|  Growth of operating costs for inventory, emissions assessment and verification. Possible payments for greenhouse gas emissions
										td(colspan='17')
											ul
												li Building an automated system for accounting greenhouse gas emissions
												li Implementing a program to reduce greenhouse gas emissions
												li Regular monitoring the legal regulation of greenhouse gas emissions
									tr.dmpage-table__tr-bb
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid-low.svg", alt="")  
										td
											p Reputational risks
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid-low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/razvedka.svg", alt="")
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid-low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/nefgazper.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/energetic.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/nefgazhim.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid-low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/roznitsa.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/comp-mat.svg", alt="")  
									tr.dmpage-table__tr-bb
										td(colspan='2')
											p
												b Description:
												|  Increased attention of stakeholders to the long-term sustainability of the Company on ESG aspects
											p  
												b Impact:
												|  Increasing the cost of financial resources and human capital
											p Industrial safety and labor protection costs, ecosystem restoration
										td(colspan='17')
											ul
												li
													| Open and transparent dialogue with stakeholders, expanded disclosure of information
												li Development of the Company's "green" brands
												li
													| Carrying out preventive measures in the field of accident and injury reduction
									tr.dmpage-table__tr-bb
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid.svg", alt="")
										td
											p Technological risks
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/razvedka.svg", alt="")
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/nefgazper.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/energetic.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/nefgazhim.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/roznitsa.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/comp-mat.svg", alt="")  
									tr.dmpage-table__tr-bb
										td(colspan='2')
											p
												b Description:
												|  Limited access to low-carbon technologies and equipment, commercial efficiency and the need to modernize production facilities
											p 
												b Impact:
												|  Growth of capital expenditures, R&D expenses
										td(colspan='17')
											ul
												li Implementation of energy efficiency and energy saving program
												li R&D on low-carbon technologies

									tr.dmpage-table__tr-bb
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/low.svg", alt="")  
										td
											p Physical risks
											p (emergency and chronic)
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/low.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/razvedka.svg", alt="")
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/nefgazper.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/energetic.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/low.svg", alt="") 
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/nefgazhim.svg", alt="")
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/roznitsa.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/comp-mat.svg", alt="")  
									tr
										td(colspan='2')
											p
												b Description:
												|  Increased frequency of extreme weather events, temperature anomalies, changes in precipitation regime
											p
												b Impact: 
												|  Costs of restoring production facilities, increase in the cost of insurance, interruptions in the operation of transport infrastructure
										td(colspan='17')
											ul
												li
													| Implementation of building codes and regulations in the implementation of new construction projects
												li Insurance against environmental risks
												li Provision of assets for temporary storage of finished products


					.dmpage-text.dmpage-text--legend
						h3 Level of impact
						p 
							img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/high.svg", alt="")
							|  high
						p 
							img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid.svg", alt="")
							|  medium
						p 
							img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/low.svg", alt="")
							|  low
						p 
							img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/razvedka.svg", alt="")
							|  Exploration and production
						p 
							img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/nefgazper.svg", alt="")
							|  Oil and gas processing
						p 
							img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/energetic.svg", alt="")
							|  Power generation
						p 
							img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/nefgazhim.svg", alt="")
							|  Petrochemicals
						p 
							img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/roznitsa.svg", alt="")
							|  Retail business
						p 
							img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/comp-mat.svg", alt="")
							|  Composite materials


					.dmpage-text
						p In order to minimize risks and increase safety, methods of preventing losses and reducing the cost of compensating for damages of realized risks are improved, insurance of negative events is organized. The TATNEFT Group on an ongoing basis provides insurance against the risks associated with damage to the environment. Insurance contracts are concluded for all hazardous production facilities of the Company.
						h2 Climate-related opportunities

						p The course on conscious consumption, concern for the environment and human health creates opportunities for business development. The Company sees significant potential in the implementation of a program to improve energy efficiency and energy conservation, increase the rational use of associated petroleum gases, develop biotechnological projects, increase the share of low-carbon and secondary raw materials in oil refining and composite products, expand the network of gas filling stations and the collection of secondary raw materials for further processing.


					.dmpage-table-section 
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw(span=2)
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other.dmptable-col-other--aw(span=17)
									
							
								thead
									tr
										th(colspan="2")
											p Climate change opportunities and financial impact
										th
											p Measures to implement 
											p opportunities
								tbody
									tr
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid-low.svg", alt="")
										td
											p Rational use of 
											p resources
										td.dmpage-table__td-bb(rowspan='2')
											ul
												li Energy efficiency and energy saving program
												li Increasing the rational use of APG
												li Implementation of the recycling water supply system at TANECO
												li Use of waste as raw materials
									tr
										td.dmpage-table__td-bb(colspan="2")
											p Economic effect of reducing energy consumption
									tr
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid.svg", alt="")
										td
											p Low carbon footprint
											p products and services 
										td.dmpage-table__td-bb(rowspan='2')
											ul
												li
													| Expansion of the product line with high environmental characteristics, including the use of low-carbon and secondary raw materials
												li Expansion of the CNG/LNG refueling network
												li
													| Study of the possibilities of processing CO2 into commercial products, the use of CO2 to increase oil recovery
									tr
										td(style="display:none;")
										td.dmpage-table__td-bb(colspan="2")
											p
												| Change in the structure / growth of revenue from the sale of products with high environmental characteristics
									tr
										td.dmptable-td-w-icon
											img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid.svg", alt="")
										td
											p Energy sources/ Low carbon footprint materials
										td(rowspan='2')
											ul
												li Introduction of the principles of circular economy
												li Use of renewable energy
												li
													| Program for the use of composite and biocomposite materials in capital construction
									tr
										td(colspan="2")  Cost reduction, including through the synergy of assets within the Group

										td
					.dmpage-text.dmpage-text--legend
						h3 Level of impact
						p 
							img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/high.svg", alt="")
							|  high
						p 
							img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/mid.svg", alt="")
							|  medium
						p 
							img(src="https://dmitryboz21.github.io/ttneft/build/img/icons/low.svg", alt="")
							|  low


					.dmpage-quote
						p When conducting economic assessments of climate risks, the Company considers the scenarios of global economic and energy development provided by the International Energy Agency and the International Panel on Climate Change, evaluations from international and national experts on climate agendas, carbon unit cost projections, and other relevant sources. 
						p With the adoption of carbon regulation in the Russian Federation, the company may face a recalculation of greenhouse gas emissions in the short term due to the development of national calculation methodologies. In the mid-term, mandatory verification of greenhouse gas emission reports may be introduced. The economic assessment of the risk amounts to RUB 2.5-2.9 million. The automated calculation and reporting of greenhouse gas emissions, alongside regular voluntary verification of reports, has enabled these risks to be located in the green zone. The company has deployed the Greenhouse Gases software module and works regularly with greenhouse gas validation and verification bodies. In the long run, as stakeholder climate requirements become more stringent and consumer preferences shift towards products with a lower carbon footprint, there is a potential for a decrease in demand for oil and petroleum products (and products with a higher carbon intensity than their substitutes or alternatives). In order to minimize risk, the Company is diversifying its asset portfolio to include the tyre business, biocluster creation, composites production, renewable energy development and CCUS projects.