extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Emergency prevention and elimination system 

			h1.dmpage-h1 Emergency prevention and elimination system 


		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-4.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/production-safety.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/production-safety.html") To the beginning of the section
						a.dmpage-menu-item(href="/sustainable-development/production-safety/management-system.html.html") Management system
						a.dmpage-menu-item(href="/sustainable-development/production-safety/occupational-health-and-safety.html") Occupational health and safety
						a.dmpage-menu-item(href="/sustainable-development/production-safety/workplace-safety.html") Workplace safety
						a.dmpage-menu-item(href="/sustainable-development/production-safety/man-made-incidents.html") Man made incidents
						a.dmpage-menu-item(href="/sustainable-development/production-safety/industrial-injuries.html") Industrial injuries
						a.dmpage-menu-item.dmpage-menu-item--active(href="/sustainable-development/production-safety/emergency-prevention-and-elimination-system.html") Emergency prevention and elimination system






			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p The Company has a system for preventing and eliminating emergency situations (ES) caused by oil and oil product spills, protecting the population and the environment from their harmful effects in the Company, which is based on: 
						ul
							li increasing the reliability of production equipment; 
							li timely detection of emergency situations and minimization of losses from them; 
							li rapid response to emergencies
						p Plans for liquidation of oil and oil product spills are updated on an ongoing basis in accordance with the norms established by law. Contracts have been concluded with professional emergency rescue units. 
						p Non-professional emergency response teams (NERT) with the right to conduct gas rescue operations were established and certified by the departmental certification commission. NERT is equipped with machinery and special equipment sufficient for the localization and elimination of oil spills, reserves of material resources have been created. 
						p More than 500 stationary oil-collecting structures, booms, and lagoons are maintained in working condition. To increase readiness for actions to localize and eliminate emergencies, comprehensive emergency training exercises are carried out. 
						p To ensure the openness of the Company in the matters of environmental protection and ensuring environmental safety, there is a mechanism for the participation of the interested public and the media in monitoring the comprehensive emergency training exercises. 

					.dmpage-quote
						| In 2022, there was not a single man-made accident with damage to the natural environment in the area of the Company’s activities 

					.dmpage-text
						p Information about the exercises is published in print media, the Internet and social networks. A Memo has been developed for members of the public interested in participating in the conduct and analysis of command and staff, comprehensive and other exercises to eliminate oil and petroleum products spills. 
						p In 2022, comprehensive exercises were held with the participation of representatives of the regional youth public environmental organization “It will be Clean”.

					//.dmpage-table-section
						h3.dmpage-table-title.dmpage-table-title--small-w Инциденты, связанные с экологическим ущербом 
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th(width='56')
											p год
										th(width='94')
											p количество
										th(width='302')
											p Содержание инцидента
										th(width='208')
											p Устранение последствий
								tbody
									tr
										td(width='56')
											p 2022
										td(width='94')
											p 1
										td(width='302')
											p
												| на промысловом сборном нефтепроводе НГДУ «Прикамнефть» СП «Татнефть-Добыча» 5 апреля 2022 года произошел выброс 6,4 т нефтесодержащей жидкости, загрязнение территории составило 160 м2
										td(width='208')
											p замазученность устранена, нефтесодержащий
											p грунт вывезен на утилизацию, проведена биологическая рекультивация земель
									tr
										td(width='56')
											p 2021
										td(width='94')
											p 1
										td(width='302')
											p
												| на объекте НГДУ «Альметьевнефть» СП «Татнефть-Добыча» произошел выброс 1,23 м3 нефтесодержащей жидкости на почву и с последующим попаданием в реку Урсалинку
										td(width='208')
											p последствия от инцидента были устранены
									tr
										td(width='56')
											p 2020
										td(width='94')
											p 0
										td(width='302')
											p -
										td(width='208')
											p -