extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Emergency prevention and elimination system 

			h1.dmpage-h1 Emergency prevention and elimination system 


		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_03_23/new_top_photos/production-safety.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/production-safety.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/production-safety.html") To the beginning of the section
						a.dmpage-menu-item(href="/sustainable-development/production-safety/management-system.html.html") Management system
						a.dmpage-menu-item(href="/sustainable-development/production-safety/occupational-health-and-safety.html") Occupational health and safety
						//a.dmpage-menu-item(href="/sustainable-development/production-safety/workplace-safety.html") Workplace safety
						a.dmpage-menu-item(href="/sustainable-development/production-safety/man-made-incidents.html") Man made incidents
						a.dmpage-menu-item(href="/sustainable-development/production-safety/industrial-injuries.html") Industrial injuries
						a.dmpage-menu-item.dmpage-menu-item--active(href="/sustainable-development/production-safety/emergency-prevention-and-elimination-system.html") Emergency prevention and elimination system






			.dmpage-main
				.dmpage-detail

					.dmpage-text
						p The Company's system of prevention and response to emergencies caused by oil and petroleum product spills, protection of the population and the environment from their harmful effects is implemented in two main areas of activity: a set of engineering, technical and organizational measures aimed at improving the reliability of production equipment, timely detection of oil spills and minimization of losses from them, as well as a set of measures aimed at prompt response to this type of emergency.


					.dmpage-quote
						| In 2022, there was not a single man-made accident with damage to the natural environment in the area of the Company’s activities 

					.dmpage-text
						p The systematic work has been organized to implement the "Rules for organizing measures to prevent and respond to oil and oil products spills the territory of the Russian Federation, except inland sea waters of the Russian Federation and the territorial sea of the Russian Federation, and on invalidating certain regulations of the Russian Government" approved by Decree of the Government of the Russian Federation No. 2451 dated 31.12.2020 (hereinafter referred to as the Rules).
						p In pursuance of these rules, plans for the prevention and response to spills of oil and petroleum products are developed under the established procedure.
						p The Plans provide calculation procedures for the manpower and resources required to respond to an oil spill.  
						p Volunteer emergency response teams authorized to conduct gas rescue operations were established and certified by the departmental certification commission. The teams have trained personnel, machinery and special equipment sufficient for the containment and elimination of oil spills (such as skimmers - oil collectors for collecting oil and petroleum products from the water surface, booms, special equipment on the chassis of off-road vehicles, pumping units, tankers, vacuum equipment, cranes, cargo transporters, excavators, bulldozers, and other pieces of equipment and materials as required by regulatory documents).
						p Irreducible reserves of material resources have been created, including for the elimination of oil and petroleum product spills on water bodies.
						p To prevent and eliminate oil spill emergencies, contracts have been signed with professional emergency response units of the Ministry of Emergency Situations of Russia in the Republic of Tatarstan and the Federal State Institution of the North-Eastern Anti-Spontaneous Paramilitary Unit and RegionSpas LLC. Theoretical and practical training sessions are conducted on the elimination of possible oil and petroleum product spills.
						p According to the Plans agreed with Rosprirodnadzor, theoretical and practical training sessions are held to eliminate possible oil and oil product spills and comprehensive exercises to confirm the readiness of the operating organization - enterprises of the TATNEFT Group to take actions to contain and eliminate oil and oil product spills.
						p To prevent contamination of surface water bodies with oil, more than 500 stationary oil-collecting facilities, booms, and bioprudes are maintained in working condition.
						p In order to ensure the openness of the TATNEFT Group organizations in environmental protection and environmental safety issues, a mechanism has been adopted to invite the interested public and the mass media to observe the full-scale emergency drills to confirm the readiness of the operating organization - the TATNEFT Group enterprises to take actions to localize and eliminate the maximum estimated volume of oil and petroleum product spills. Information about conducting full-scale emergency drills is published in print media, on the Internet and on social networks. An alert card has been created for the public representatives interested in participating in the conduct and analysis of command post, full-scale and other oil spill response drills and exercises in the structural divisions of PJSC TATNEFT, controlled and affiliated companies belonging to the TATNEFT Group.
						p In 2022, comprehensive exercises were held with the participation of representatives of the regional youth public environmental organization “It will be Clean”.


					//.dmpage-text
						p The Company has a system for preventing and eliminating emergency situations (ES) caused by oil and oil product spills, protecting the population and the environment from their harmful effects in the Company, which is based on: 
						ul
							li increasing the reliability of production equipment; 
							li timely detection of emergency situations and minimization of losses from them; 
							li rapid response to emergencies
						p Plans for liquidation of oil and oil product spills are updated on an ongoing basis in accordance with the norms established by law. Contracts have been concluded with professional emergency rescue units. 
						p Non-professional emergency response teams (NERT) with the right to conduct gas rescue operations were established and certified by the departmental certification commission. NERT is equipped with machinery and special equipment sufficient for the localization and elimination of oil spills, reserves of material resources have been created. 
						p More than 500 stationary oil-collecting structures, booms, and lagoons are maintained in working condition. To increase readiness for actions to localize and eliminate emergencies, comprehensive emergency training exercises are carried out. 
						p To ensure the openness of the Company in the matters of environmental protection and ensuring environmental safety, there is a mechanism for the participation of the interested public and the media in monitoring the comprehensive emergency training exercises. 

						p Information about the exercises is published in print media, the Internet and social networks. A Memo has been developed for members of the public interested in participating in the conduct and analysis of command and staff, comprehensive and other exercises to eliminate oil and petroleum products spills. 
						p In 2022, comprehensive exercises were held with the participation of representatives of the regional youth public environmental organization “It will be Clean”.

					//.dmpage-table-section
						h3.dmpage-table-title.dmpage-table-title--small-w Инциденты, связанные с экологическим ущербом 
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th(width='56')
											p год
										th(width='94')
											p количество
										th(width='302')
											p Содержание инцидента
										th(width='208')
											p Устранение последствий
								tbody
									tr
										td(width='56')
											p 2022
										td(width='94')
											p 1
										td(width='302')
											p
												| на промысловом сборном нефтепроводе НГДУ «Прикамнефть» СП «Татнефть-Добыча» 5 апреля 2022 года произошел выброс 6,4 т нефтесодержащей жидкости, загрязнение территории составило 160 м2
										td(width='208')
											p замазученность устранена, нефтесодержащий
											p грунт вывезен на утилизацию, проведена биологическая рекультивация земель
									tr
										td(width='56')
											p 2021
										td(width='94')
											p 1
										td(width='302')
											p
												| на объекте НГДУ «Альметьевнефть» СП «Татнефть-Добыча» произошел выброс 1,23 м3 нефтесодержащей жидкости на почву и с последующим попаданием в реку Урсалинку
										td(width='208')
											p последствия от инцидента были устранены
									tr
										td(width='56')
											p 2020
										td(width='94')
											p 0
										td(width='302')
											p -
										td(width='208')
											p -





					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title Инциденты, связанные с экологическим ущербом 
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									
									tr
										th  
										th
											p Q-ty
										th
											p incident description
										th
											p elimination of consequences
								tbody
									tr
										td
											p 2022
										td
											p 1
										td
											p
												| On 5 April 2022, 6.4 tonnes of oil-containing fluid leaked from the NGDU Prikamneft oil field gathering pipeline of the Tatneft Production Business Unit, contaminating an area of160 m2
										td
											p
												| the contamination has been eliminated, the oilcontaining soil has been removed for disposal, biological land reclamation has been carried out
									tr
										td
											p 2021
										td
											p 1
										td
											p
												| 1.23 m3 of oil-containing fluid leaked into the ground and further into the Ursalinka River at the Almetyevneft NGDU facility of the Tatneft-Production Business Unit.
										td
											p the consequences of the incident have been eliminated
									tr
										td
											p 2020
										td
											p 0
										td  
										td  





											
					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text  Appendix 
									
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_2/prilozhenie_2.1._pamjatka_dlja_predstavitelej_obschestvennosti_zainteresovannyh_v_uchastii_v_provedenii_i_analize_komandno-shtabnyh_kompleksnyh_i_inyh_uchenij_po_likvidacii_razlivov_nefti_i_nefteproduktov.pdf" download) Alert card for the public representatives interested in participating in the conduct and analysis of head-quarter, full-scale and other oil spill response drills and exercises in the structural divisions of PJSC TATNEFT, controlled and affiliated companies belonging to the TATNEFT Group.
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_2/prilozhenie_2.2._mery_po__spaseniju_zhivotnyh_i_ptic_pri_likvidacii_avarijnyh_razlivov_nefti_v_pao_tatneft.pdf" download) Animal and/or bird rescue measures during oil spill response operations in PJSC TATNEFT
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_2/prilozhenie_2.3._plan_preduprezhdenija_i_likvidacii_razlivov_nefti_cdng-3_ngdu_prikamneft_ddng_sp_tatneft-dobycha_pao_tatneft.pdf" download) Oil spill prevention and response plan of Oil and Gas Production Unit No.3 of NGDU Prikamneft, Tatneft-Production Business Division, PJSC TATNEFT
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_2/prilozhenie_2.4._plan_po_preduprezhdeniju_i_likvidacii_razlivov_nefti_i_nefteproduktov_ceha_dobychi_nefti_i_gaza_№1_ngdu_leninogorskneft_pao_tatneft.pdf" download) Prevention and response plan for oil and petroleum product spills of Oil and Gas Production Unit No.1 of NGDU Leninogorskneft, PJSC TATNEFT
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text  2022

									
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_2/prilozhenie_2.5._grafik_provedenija_kompleksnyh_uchenij_po_podtverzhdeniju_gotovnosti_k_dejstvijam_po_lokalizacii_i_likvidacii_nazliva_nefteproduktov_v_2022_godu.XLSX" download) График проведения комплексных учений по подтверждению готовности эксплуатирующей организации – ПАО «Татнефть» им. В.Д. Шашина к действиям по локализации и ликвидации максимального расчетного объема разлива нефти и нефтепродуктов на 2022 год
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_2/prilozhenie_2.6._!_neftjanye_vesti_№8_ot_2_03_2022.pdf" download) Neftyanie vesti No.8 2022
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_2/prilozhenie_2.7._!_neftjanye_vesti_№12_ot_23_03_2022.pdf" download) Neftyanie vesti No.12 2022
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_2/prilozhenie_2.8._!_neftjanye_vesti_№13_ot_30_03_2022.pdf" download) Neftyanie vesti No.13 2022
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_2/prilozhenie_2.9._!_neftjanye_vesti_№15_ot_13_04_2022.pdf" download) Neftyanie vesti No.15 2022
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_2/prilozhenie_2.10._!_neftjanye_vesti_№29_ot_20_07_2022.pdf" download) Neftyanie vesti No.29 2022
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text  2021
									
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_2/prilozhenie_2.11._informacija_o_provedenii_uchenij_v_2021_godu.docx" download) Information on drills and exercises conducted in 2021 
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_2/prilozhenie_2.12._neftjanye_vesti_№_16_ot_22_04_2021.pdf" download) Neftyanie vesti No.29 2022 No.16 dated 22.04.2021
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_2/prilozhenie_2.13._neftjanye_vesti_№_27_ot_8_07_2021str_12.pdf" download) Neftyanie vesti No.29 2022 г No.27 dated 08.07.2021