extends ../../layouts/default


block main
	.container.container--dmpage
		div
		
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Industrial injuries 

			h1.dmpage-h1 Industrial injuries 

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-4.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/production-safety.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/production-safety.html") To the beginning of the section
						a.dmpage-menu-item(href="/sustainable-development/production-safety/management-system.html.html") Management system
						a.dmpage-menu-item(href="/sustainable-development/production-safety/occupational-health-and-safety.html") Occupational health and safety
						//a.dmpage-menu-item(href="/sustainable-development/production-safety/workplace-safety.html") Workplace safety
						a.dmpage-menu-item(href="/sustainable-development/production-safety/man-made-incidents.html") Man made incidents
						a.dmpage-menu-item.dmpage-menu-item--active(href="/sustainable-development/production-safety/industrial-injuries.html") Industrial injuries
						a.dmpage-menu-item(href="/sustainable-development/production-safety/emergency-prevention-and-elimination-system.html") Emergency prevention and elimination system







			.dmpage-main
				.dmpage-detail
					.dmpage-text
						h2.block-section-name  Industrial injuries 
						p The Company accepts responsibility for the preservation of life and health of people, regardless of whether they are employees of the Company or contractors. It makes every effort to reduce the likelihood of occurrence of occupational hazards in the performance of work at the production facilities for all employees. For each accident related to industrial injuries, thorough investigations of the circumstances are carried out and prompt measures are taken to prevent the consequences of such incidents. 
						p In accordance with the mission and to implement the policy in the field of health, safety and environment, the Development Strategy in the field of health, safety and environment of the TATNEFT Group until 2030 has been approved, which specifies the Company’s goals and obligations in this area. 
					.dmpage-table-section
						h3.dmpage-table-title.dmpage-table-title--small-w Occupational injuries by severity of consequences
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th
										th
											p 2020
										th
											p 2021
										th
											p 2022
								tbody
									tr
										td
											p Accidents, number
										td
											p 17
										td
											p 20
										td
											p 26
									tr
										td
											p Number of people injured in accidents, persons
										td
											p 17
										td
											p 22
										td
											p 27
									tr
										td
											p Minor accidents, persons
										td
											p 10
										td
											p 11
										td
											p 20
									tr
										td
											p Serious accidents, persons
										td
											p 7
										td
											p 9
										td
											p 6
									tr
										td
											p Died in accidents, persons
										td
											p 0
										td
											p 2
										td
											p 1
					.dmpage-text
						p In 2022, 26 accidents were registered in the TATNEFT Group, of which 1 was fatal, the number of victims was 27 people. 
						p The increase in the number of accidents and days of disability is due to the entry of service assets into the TATNEFT Group, the production activities of which are associated with a high risk of occupational injuries and accidents. In order to prevent accidents at work, 202 measures were developed and implemented based on the results of investigations.
					.dmpage-table-section
						h3.dmpage-table-title.dmpage-table-title--small-w Industrial injuries in business areas
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th(rowspan='2')
											p Year
										th(rowspan='2')
											p Number of accidents 
											p (fatal)
										th(colspan='6')
											p business areas
									tr
										th(style="display:none;")
										th
											p Exploration and production
										th
											p Workover and drilling
										th
											p Oil and gas processing
										th
											p Power generation
										th
											p Petrochemicals
										th
											p Other business areas
								tbody
									tr
										td
											p 2020
										td
											p 17 (0)
										td
											p 3 (0)
										td
											p 1 (0)
										td
											p 3 (0)
										td
											p 0 (0)
										td
											p 1 (0)
										td
											p 9 (0)
									tr
										td
											p 2021
										td
											p 20 (2)
										td
											p 1 (0)
										td
											p 0 (0)
										td
											p 5 (0)
										td
											p 1 (0)
										td
											p 0 (0)
										td
											p 13 (2)
									tr
										td
											p 2022
										td
											p 26 (1)
										td
											p 2 (0)
										td
											p 10 (0)
										td
											p 4 (0)
										td
											p 0 (0)
										td
											p 2 (0)
										td
											p 8 (1)
					.dmpage-table-section
						h3.dmpage-table-title.dmpage-table-title--small-w Occupational injuries by gender, persons
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th(rowspan='2')
											p Year
										th(colspan='3')
											p Number of people injured in accidents 
											p (fatal)
									tr
										th(style="display:none;")
										th
											p Total
										th
											p Including
											p men
										th
											p Including
											p women
								tbody
									tr
										td
											p 2020
										td
											p 17 (0)
										td
											p 14 (0)
										td
											p 3 (0)
									tr
										td
											p 2021
										td
											p 22 (2)
										td
											p 15(1)
										td
											p 7(1)
									tr
										td
											p 2022
										td
											p 27
										td
											p 21 (1)
										td
											p 6 (0)
					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title Indicators of occupational injuries 
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th
											p Indicator
										th
											p 2020
										th
											p 2021
										th
											p 2022
								tbody
									tr
										td
											p Injury frequency rate per 1000 employees
										td
											p 0,34
										td
											p 0,32
										td
											p 0,39
									tr
										td
											p Injury severity rate
										td
											p 85,12
										td
											p 91,6
										td
											p 92,7
									tr
										td
											p Total rate of occupational injury level
										td
											p 31,58
										td
											p 32,41
										td
											p 37,71
									tr
										td
											p Fatal injury rate per 1000 employees
										td
											p 0
										td
											p 0,03
										td
											p 0,015
									tr
										td
											p Injury frequency rate 
											p (LTIFR per 1 million hours worked) 
										td
											p 0,2
										td
											p 0,2
										td
											p 0,22
					.dmpage-text
						p When calculating the indicators, the workforce was used.
						p The category of workers associated with a high risk of injury includes workers engaged in performing work at height and when working with moving machines and mechanisms.
					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title Number of days of temporary disability as a result of accidents 
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th
											p year 
										th
											p Total
										th
											p incl. men (average per victim) 
										th
											p incl. women (average per victim)
								tbody
									tr
										td
											p 2020
										td
											p 1 765
										td
											p 1 583 (113,1)
										td
											p 182 (60,7)
									tr
										td
											p 2021
										td
											p 2 106
										td
											p 1 741 (116,1)
										td
											p 365 (52,2)
									tr
										td
											p 2022
										td
											p 2 504
										td
											p 1 977 (94,14)
										td
											p 527 (87,8)
					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title Occupational diseases
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th
											p year 
										th
											p Total cases 
										th
											p including 
											p men
										th
											p including 
											p women
								tbody
									tr
										td
											p 2020
										td
											p 1
										td
											p 1
										td
											p 0
									tr
										td
											p 2021
										td
											p 0
										td
											p 0
										td
											p 0
									tr
										td
											p 2022
										td
											p 0
										td
											p 0
										td
											p 0
					.dmpage-text
						p The Company has uniform requirements for the behavior of employees of contracting organizations when performing work at the facilities of the TATNEFT Group. Coordination of the Company’s activities with contractors is carried out in accordance with the Standard of the Procedure for the Admission of Contractors and the Organization of Safe Work, aimed at implementing the requirements of ISO 14001:2015, ISO 45001:2018, “Safety Rules in the Oil and Gas Industry”, “Labor Protection Rules”. 
						p The Company implements an integrated approach to assessing the qualifications of contractor personnel and verifying their knowledge on industrial and occupational safety requirements before establishing contractual relations and during their implementation, which is a key factor in ensuring production safety. In 2022, before admission to work, the knowledge of more than 28,000 employees of contracting organizations was tested. 

						p Contracts with contractors include obligations to comply with industrial and occupational safety rules. At the Company’s facilities, the contractor constantly monitors the fulfillment of contractual relations, compliance with the requirements of Russian legislation and local regulatory documents of the Company. 

					//.dmpage-quote
						a.dmpage-quote__link(target="_blank" href="img/poryadok_dopuska_podryadnyh_organizacii.pdf")
						|  Порядок допуска подрядных организаций и организация безопасного производства работ
					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title Dynamics of occupational injuries of contractors at the Company’s facilities
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th
											p Year 
										th
											p Number of accidents 
											p (fatal)
										th
											p Number of people injured in accidents
								tbody
									tr
										td
											p 2020
										td
											p 19 (6)
										td
											p 19
									tr
										td
											p 2021
										td
											p 17(4)
										td
											p 17
									tr
										td
											p 2022
										td
											p 17 (2)
										td
											p 17
					.dmpage-text
						h3 High risk works
						p High risk works with a high risk of injury include types of labor activities that carry risks to the health of personnel, performed in places where harmful and dangerous production factors operate. To minimize the likelihood of work-related injuries and emergencies, lists of high-risk work are developed and approved annually in accordance with the classification of working conditions. 
						p Persons of at least 18 years of age who have passed a medical examination, primary and introductory briefings at the workplace, training under a special program and certified by the permanent examination commission of the enterprise of the subdivision are allowed to high risk works. High risk works are carried out in accordance with the work permit, which determines the content, place, time and conditions of work, the necessary safety measures, the composition of the team and persons responsible for the safety of work. 