extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Management system 

			h1.dmpage-h1 Management system 

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-4.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/bezopasnost-proizvodstva.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items

						a.dmpage-menu__back-to-start(href="/sustainable-development/production-safety.html") To the beginning of the section
						a.dmpage-menu-item.dmpage-menu-item--active(href="/sustainable-development/production-safety/management-system.html.html") Management system
						a.dmpage-menu-item(href="/sustainable-development/production-safety/occupational-health-and-safety.html") Occupational health and safety
						a.dmpage-menu-item(href="/sustainable-development/production-safety/workplace-safety.html") Workplace safety
						a.dmpage-menu-item(href="/sustainable-development/production-safety/man-made-incidents.html") Man made incidents
						a.dmpage-menu-item(href="/sustainable-development/production-safety/industrial-injuries.html") Industrial injuries
						a.dmpage-menu-item(href="/sustainable-development/production-safety/emergency-prevention-and-elimination-system.html") Emergency prevention and elimination system



			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p The Company maintains and continuously improves the integrated management system in the field of health, safety and environment, taking into account the legal requirements and the provisions of international standards ISO 45001:2018 “Occupational Safety and Health Management Systems. Requirements and Guidelines for Use”, ISO 14001:2015 “Environmental Management System”.
						p The integrated management system consists of three main areas:
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/block-4/from_en/1.jpg", alt="")
						p At the operational level, the management system in the field of health, safety and environment (HSE) is provided by two functional divisions:
						ul 
							li Health, Safety and Environment Department
							li Environment Protection and Ecology Department*
					.dmpage-text.dmpage-text--small * - for more details on the environmental management system see the "Environment" section»
					.dmpage-table-section
						h3.dmpage-table-title.dmpage-table-title--small-w The industrial safety and labor protection management system covers all the main management levels.  
						.dmpage-table-overflow
							table.dmpage-table.dmpage-table--simple
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								tbody
									tr
										td
											p Strategic level
										td
											p Board of Directors
										td
											ul
												li
													| determines environmental policy in the field of health, safety and environmental, sets strategic goals and development directions
												li oversees policy implementation
									tr
										td(rowspan='2')
											p Operational level
										td
											p Health, Safety and Environment Department
										td
											ul
												li
													| provides overall management, organization and coordination of work on continuous improvement of the environmental management system
									tr
										td(style="display:none;")
										td
											p Occupational Safety and Health Committee
										td
											ul
												li
													| organization of joint actions of executive bodies and the trade union committee to ensure the requirements of labor protection
												li
													| prevention of occupational injuries and occupational diseases and preservation of workers' health
									tr
										td
											p Internal assessment
										td
											p Internal Audit Department
										td
											ul
												li
													| performs an independent assessment of the reliability and effectiveness of the risk management system in the field of industrial and occupational safety at the corporate and business process levels (reports on the results of inspections are sent to the Company's management and the Audit Committee)
									tr
										td
											p Independent control
										td
											p Labor safety officers from the Tatneft Trade Union
										td
											ul
												li
													| exercise public control over the state of working conditions at workplaces 
												li contribute to the creation of healthy and safe working conditions


					.dmpage-text
						p Documents regulating the management system in the field of health, safety and environment:
						ul 
							li Policy of PJSC TATNEFT n.a. V.D. Shashin in the field of health, safety and environment, taking into account climate change
							li Regulations on the industrial safety management system at the TATNEFT Group 
							li Regulations on the Occupational Safety Management System of PJSC TATNEFT
							li Regulations on production control over compliance with industrial safety requirements at hazardous production facilities of PJSC TATNEFT
							li Procedure for managing risks and opportunities of the management system in the field of health, safety and environment in the TATNEFT Group
							li Procedure for internal audit of the management system in the field of health, safety and environment in the TATNEFT Group
							li Guidelines for the management system of health, safety and environment of the TATNEFT Group
							li Regulations on the procedure for conducting a technical investigation of the causes of incidents at hazardous production facilities of PJSC TATNEFT
						p The Company systematically arranges production control over compliance with industrial safety requirements, internal audits of the management system, analyzes and processes the results of incidents and inspections, develops and monitors the implementation of corrective and preventive actions. To ensure such functions, the work of permanent commissions on labor protection, the production control commission, the fire and technical commission and the internal audit group of the integrated management system was organized. 
						p An important tool for managing industrial and occupational safety is the key safety rules that impose uniform requirements on the behavior of the Company’s employees in the performance of their labor functions, as well as employees of contractors in the performance of work at the facilities of the TATNEFT Group.

					//.dmpage-quote
						a.dmpage-quote__link(target="_blank" href="img/klyuchevye_pravila_bezopasnosti.pdf")
						|  Ключевые правила безопасности

					.dmpage-text
						h3 Hazard identification, risk assessment and incident investigation
						p In order to implement the principles of corporate responsibility and risk-oriented approach, the Company has a Procedure for managing risks and opportunities of the management system in the field of health, safety and environment in the TATNEFT Group, including a Methodology for identifying industrial hazards, environmental aspects, assessing risks and opportunities in the field of health, safety and environment in the TATNEFT Group. 
						p The Company updates the register of production risks and environmental aspects for all divisions at least once a year. Identification, assessment of hazards, risks and environmental aspects is carried out on a multi-level basis. Employees of the TATNEFT Group enterprises, in addition to communication with their immediate supervisor, have the opportunity to report promptly and around the clock on dangers and dangerous situations that have materialized risk events by calling the Hotline, the dispatch service, and by e-mail.

					
						p The following is used as risk management tools:
						ul 
							li Key safety rules 
							li Programs for investing in the activities aimed at reducing and preventing industrial hazards and risks
							li Comprehensive three-year programs of organizational and technical measures
							li Insurance of civil liability to third parties against the realization of industrial safety risks at hazardous production facilities
							li Voluntary insurance of environmental liability and property insurance of objects
						p The investigation of incidents is carried out in accordance with the Regulation “On the Procedure for conducting a technical investigation of the causes of incidents at hazardous production facilities of PJSC Tatneft, their accounting and analysis”. 
						p In order to control and ensure radiation safety, measures are carried out on an ongoing basis:
						ul 
							li planned radiometric inspection of oil treatment facilities
							li individual dosimetric control of personnel
							li production of radiation-hygienic passport of the enterprise
							li selective radiometric surveys of work premises
						p According to the assessment of the Office of the Federal Service for Supervision of Consumer Rights Protection and Human Welfare in the Republic of Tatarstan, the state of radiation safety at the Company’s enterprises in the reporting year is assessed as satisfactory.

						h2 HSE COOPERATION 
						p The Company takes an active part in the work to improve the HSE regulatory and legal framework of the Russian Federation, as part of existing working groups. The largest of them are the regulatory guillotine, the Scientific and Technical Council of Rostechnadzor, the RUIE Industrial Safety Committee. 
						p 
							b Within the framework of the “regulatory guillotine” mechanism, a block of local regulations in the field of industrial and occupational safety was revised. The Company’s specialists took part in the revision of draft federal laws. 37 proposals were submitted, six were accepted in the editorial office of Tatneft, nine exceptions to the clauses in the rules were settled. The Company also took an active part in the framework of the Labor Protection Committee of the Russian Union of Industrialists and Entrepreneurs in public discussions on the amendments to the Labor Code of the Russian Federation.

					.dmpage-quote
						b  6 amendments to the federal legislation in the field of labor protection, developed within the framework of the regulatory guillotine, were adopted in the editorial office of Tatneft