extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Occupational health and safety

			h1.dmpage-h1 Occupational health and safety

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-4.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/production-safety.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/production-safety.html") To the beginning of the section
						a.dmpage-menu-item(href="/sustainable-development/production-safety/management-system.html.html") Management system
						a.dmpage-menu-item.dmpage-menu-item--active(href="/sustainable-development/production-safety/occupational-health-and-safety.html") Occupational health and safety
						a.dmpage-menu-item(href="/sustainable-development/production-safety/workplace-safety.html") Workplace safety
						a.dmpage-menu-item(href="/sustainable-development/production-safety/man-made-incidents.html") Man made incidents
						a.dmpage-menu-item(href="/sustainable-development/production-safety/industrial-injuries.html") Industrial injuries
						a.dmpage-menu-item(href="/sustainable-development/production-safety/emergency-prevention-and-elimination-system.html") Emergency prevention and elimination system




			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p The occupational safety management system contains a set of interrelated elements that establish policies and goals in the field of occupational safety and procedures for achieving these goals. The general requirements for the organization of work on labor protection, principles and methods of management, tasks, rights, duties and responsibilities for creating healthy and safe working conditions are established by the “Regulations on the Occupational Health and Safety Management System”. 
						p The Company has established an Occupational Health and Safety Committee whose functions include organizing joint actions of the executive bodies and the trade union committee to ensure labor protection requirements, prevent occupational injuries and occupational diseases, and preserve the health of employees. It has 16 members elected on a parity basis — 8 representatives from each party of the partnership. Also, joint occupational health and safety committees have been established in each subdivision. 
						p The Occupational Health and Safety Committee organizes inspections of labor conditions and labor protection, informs employees about the results of these inspections, collects proposals for the section on labor protection of the collective agreement. Commissioners for labor protection, elected by the trade union organizations of the subdivisions, contribute to the creation of healthy and safe working conditions, as well as exercise public control over the state of working conditions in the workplace.
						p 
							b Occupational health and safety training
						p In order to ensure preventive measures to reduce occupational injuries and occupational diseases, the Company has the “Regulations on the organization of training and testing knowledge of labor protection requirements, training and certification in industrial safety of employees”. 
						p Managers and specialists undergo special training on labor protection in educational institutions and training centers during the first month upon admission to work, then — as required, but at least once every three years, other employees — in the commissions to verify knowledge of the requirements of protection of structural units, enterprises, according to the approved training programs. 
						p All employees of working professions after the initial briefing at the workplace and internship before admission to independent work are tested for knowledge of labor protection requirements. The next test of knowledge of employees is carried out at least once every 12 months. Employees associated with the performance of work or maintenance of hazardous production facilities, units, including electrical installations, equipment that is a source of increased danger, and other high-risk objects, undergo primary and periodic testing of knowledge on occupational safety within the time limits established by the relevant regulatory documents.
					.dmpage-quote
						p 
							b 113,5 RUB mln 
							|   occupational health and safety training costs.
					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title Training in the field of occupational and industrial safety, persons 
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th
										th
											p 2020
										th
											p 2021
										th
											p 2022
								tbody
									tr
										td
											p Industrial safety training and certification 
										td
											p 1 286
										td
											p 3 188 
										td
											p 10 192
									tr
										td
											p Occupational health and safety training
										td
											p 5 156
										td
											p 10 241
										td
											p 14 226
									tr
										td
											p Training in working specialties
										td
											p 5 542
										td
											p 3 653
										td
											p 7 303
									tr
										td
											p Training in advanced training courses
										td
											p 1 862
										td
											p 8 170 
										td
											p 12 129
									tr
										td
											p Certification of welding personnel
										td
											p 179
										td
											p 301
										td
											p 914
									tr
										td
											p Training and certification of NERT members
										td
											p 286
										td
											p 474
										td
											p 316
									tr
										td
											p Education and training in various areas
										td
											p 963
										td
											p 3 252
										td
											p 4 911
						