extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Occupational health and safety

			h1.dmpage-h1 Occupational health and safety

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-4.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/production-safety.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/production-safety.html") To the beginning of the section
						a.dmpage-menu-item(href="/sustainable-development/production-safety/management-system.html.html") Management system
						a.dmpage-menu-item.dmpage-menu-item--active(href="/sustainable-development/production-safety/occupational-health-and-safety.html") Occupational health and safety
						//a.dmpage-menu-item(href="/sustainable-development/production-safety/workplace-safety.html") Workplace safety
						a.dmpage-menu-item(href="/sustainable-development/production-safety/man-made-incidents.html") Man made incidents
						a.dmpage-menu-item(href="/sustainable-development/production-safety/industrial-injuries.html") Industrial injuries
						a.dmpage-menu-item(href="/sustainable-development/production-safety/emergency-prevention-and-elimination-system.html") Emergency prevention and elimination system




			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p The occupational safety management system contains a set of interrelated elements that establish policies and goals in the field of occupational safety and procedures for achieving these goals. The general requirements for the organization of work on labor protection, principles and methods of management, tasks, rights, duties and responsibilities for creating healthy and safe working conditions are established by the “Regulations on the Occupational Health and Safety Management System”. 
						p The Company has established an Occupational Health and Safety Committee whose functions include organizing joint actions of the executive bodies and the trade union committee to ensure labor protection requirements, prevent occupational injuries and occupational diseases, and preserve the health of employees. It has 16 members elected on a parity basis — 8 representatives from each party of the partnership. Also, joint occupational health and safety committees have been established in each subdivision. 
						p The Occupational Health and Safety Committee organizes inspections of labor conditions and labor protection, informs employees about the results of these inspections, collects proposals for the section on labor protection of the collective agreement. Commissioners for labor protection, elected by the trade union organizations of the subdivisions, contribute to the creation of healthy and safe working conditions, as well as exercise public control over the state of working conditions in the workplace.
						p 
							b Occupational health and safety training
						p In order to ensure preventive measures to reduce occupational injuries and occupational diseases, the Company has the “Regulations on the organization of training and testing knowledge of labor protection requirements, training and certification in industrial safety of employees”. 
						p Managers and specialists undergo special training on labor protection in educational institutions and training centers during the first month upon admission to work, then — as required, but at least once every three years, other employees — in the commissions to verify knowledge of the requirements of protection of structural units, enterprises, according to the approved training programs. 
						p All employees of working professions after the initial briefing at the workplace and internship before admission to independent work are tested for knowledge of labor protection requirements. The next test of knowledge of employees is carried out at least once every 12 months. Employees associated with the performance of work or maintenance of hazardous production facilities, units, including electrical installations, equipment that is a source of increased danger, and other high-risk objects, undergo primary and periodic testing of knowledge on occupational safety within the time limits established by the relevant regulatory documents.
					.dmpage-quote
						p 
							b 113,5 RUB mln 
							|   occupational health and safety training costs.
					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title Training in the field of occupational and industrial safety, persons 
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th
										th
											p 2020
										th
											p 2021
										th
											p 2022
								tbody
									tr
										td
											p Industrial safety training and certification 
										td
											p 1 286
										td
											p 3 188 
										td
											p 10 192
									tr
										td
											p Occupational health and safety training
										td
											p 5 156
										td
											p 10 241
										td
											p 14 226
									tr
										td
											p Training in working specialties
										td
											p 5 542
										td
											p 3 653
										td
											p 7 303
									tr
										td
											p Training in advanced training courses
										td
											p 1 862
										td
											p 8 170 
										td
											p 12 129
									tr
										td
											p Certification of welding personnel
										td
											p 179
										td
											p 301
										td
											p 914
									tr
										td
											p Training and certification of NERT members
										td
											p 286
										td
											p 474
										td
											p 316
									tr
										td
											p Education and training in various areas
										td
											p 963
										td
											p 3 252
										td
											p 4 911
						






					.dmpage-text
						h3 Workplace safety
						p In order to increase the efficiency of work to create safe and healthy working conditions, the Company annually enters into Labor Protection Agreements that regulate the relationship between the employer and employees and determine the mutual responsibility of the parties, as well as planning, ensuring and carrying out various labor protection measures. 
						p In 2022, more than RUB 1.9 billion were allocated to carry out activities provided for by the Labor Protection Agreements. Costs per 1 employee amounted to RUB 29,100.
						

					.dmpage-chart-outer.dmpage-small-w-section
						h3.dmpage-chart-title Labor protection expenses, RUB thousand


						.dmpage-chart-bar-wrap
							#chart-bar-en-200-4-1.dmpage-chart-bar.js-dmpage-chart-bar
								canvas

					.dmpage-text
						p In order to develop and implement measures aimed at improving the working conditions of employees, reducing the risks of exposure to harmful and hazardous production factors, the Company conducts a special assessment of working conditions: planned — 1 time every 5 years and an unscheduled special assessment of working conditions at workplaces in the Company’s structural divisions. In 2022, a special assessment of working conditions at 12,964 workplaces was carried out. Based on the results of a special assessment of working conditions, measures have been developed to improve working conditions at workplaces.

					.dmpage-chart-outer.dmpage-small-w-section
						h3.dmpage-chart-title Special assessment of working conditions
						.dmpage-chart-flex
							#chart-doughnut-en-200-4-2.dmpage-chart-doughnut.js-dmpage-chart-doughnut
								canvas
							.dmpage-chd-legend
					.dmpage-quote
						a.dmpage-quote__link(target="_blank" href="https://www.tatneft.ru/userfiles/files/%D0%A1%D0%B2%D0%BE%D0%B4%D0%BD%D1%8B%D0%B5%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%A1%D0%9E%D0%A3%D0%A2.pdf")
						|  Summary data on the results of special assessment of working conditions 


					

					.dmpage-text
						p 
							b Prevention of occupational diseases

						p In order to ensure healthy working conditions, comply with the requirements of sanitary norms and rules for technological processes, equipment, transport, workplace organization, work, recreation and sanitary services, prevention of health effects of harmful and dangerous factors, prevention of occupational diseases of workers in the workplace, industrial control over compliance with sanitary rules is carried out. In 2022, sanitary and hygienic studies of workplaces were carried out in the amount of RUB 37.8 million.
						p Annually, in accordance with the requirements of the legislation, in order to monitor dynamically the health of employees, timely detection of initial forms of occupational diseases, early signs of the impact of harmful and (or) hazardous production factors of the working environment, the labor process on the health of employees, identification of medical contraindications to the implementation of certain types of work, mandatory periodic medical examinations of employees, psychiatric examinations (including in terms of drug-related diseases) are carried out. 


					.dmpage-chart-outer.dmpage-small-w-section
						h3.dmpage-chart-title Cost of medical examinations, RUB mln.



						.dmpage-chart-bar-wrap
							#chart-bar-en-200-4-3.dmpage-chart-bar.js-dmpage-chart-bar
								canvas

					.dmpage-text
						p There are programs of voluntary medical insurance, rehabilitation treatment and sanatorium rehabilitation of employees. Lumbar exoskeletons are used to reduce diseases of the musculoskeletal system in the workplaces with significant physical exertion. 
						p In order to prevent and mitigate the possible consequences of the COVID19 pandemic, ill-health prevention work is continued. Rehabilitation of employees who have been ill with COVID-19 is carried out.