extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Объекты природно-заповедного фонда региона производственной деятельности ПАО «Татнефть»

			h1.dmpage-h1 Объекты природно-заповедного фонда региона производственной деятельности ПАО «Татнефть»

		.dmpage.dmpage--no-art
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya/sohranenie-bioraznoobraziya.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya/sohranenie-bioraznoobraziya.html") К началу раздела
						a.dmpage-menu-item.dmpage-menu-item--active(href="obekty-prirodno-zapovednogo-fonda-regiona-proizvodstvennoj-deyatelnosti-pao-tatneft.html") Объекты природно-заповедного фонда региона производственной деятельности ПАО «Татнефть»
						//a.dmpage-menu-item(href=" ne-tolko-chistyj-vozduh.html") Не только чистый воздух


			.dmpage-main
				.dmpage-detail 

					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Приложение
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.1._programma_pao_tatneft_po_sohraneniju_bioraznoobrazija_2022.pdf" download) Программа ПАО «Татнефть» по сохранению биоразнообразия (2022 г.)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.2._programma_pao_tatneft_po_sohraneniju_biologicheskogo_raznoobrazija_2018.pdf" download) Программа ПАО «Татнефть» по сохранению биоразнообразия (2018 г.)
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.3._plan_meroprijatij_po_sohraneniju_bioraznoobrazija_na_2023_god.pdf" download) План мероприятий по сохранению биоразнообразия в рамках реализации программы сохранения биоразнообразия на территории деятельности Группы Татнефть на 2023 год
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.4._otchet_o_vypolnenii_programmy_po_sohraneniju_bioraznoobrazija_za_2022_god.pdf" download) Отчет о реализации плана мероприятий по сохранению биоразнообразия в рамках реализации программы сохранения биоразнообразия на территории деятельности Группы Татнефть на 2022 год
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.5._plan_po_sohraneniju_bioraznoobrazija_na_2022_god.pdf" download) План мероприятий по сохранению биоразнообразия в рамках реализации программы сохранения биоразнообразия на территории деятельности Группы Татнефть на 2022 год

											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.6._otchet_o_vypolnenii_plana_po_sohraneniju_bioraznoobrazija_za_2021_god.pdf" download) Отчет о реализации плана мероприятий по сохранению биоразнообразия в рамках реализации программы сохранения биоразнообразия на территории деятельности Группы Татнефть на 2021 год
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_9/prilozhenie_9.7._plan_po_sohraneniju_biraznoobrazija_na_2021_god.pdf" download) План мероприятий по сохранению биоразнообразия в рамках реализации программы сохранения биоразнообразия на территории деятельности Группы Татнефть на 2021 год
											











block scripts
	




