
.dmpage-text
	h2.block-section-name Навигатор ЦУР ООН
	
	ul.cur-types-ul
		li.cur-types-ul__li.cur-types-ul__li--g
			| достижение промежуточных целей
		li.cur-types-ul__li.cur-types-ul__li--y
			| частичное достижение промежуточных целей
		li.cur-types-ul__li.cur-types-ul__li--r
			| недостижение промежуточных целей
.dmpage-accordions-wrap.dmpage-accordions-wrap--cur-oon
	h4.dmpage-accordions-title.dmpage-accordions-title--cur-oon Environmental
	.dmpage-accordions

		.dmpage-accordion.dmpage-accordion--cur-oon
			.dmpage-accordion-head.dmpage-accordion-head--with-icon.dmpage-accordion-head--state-green
				.dmpage-accordion-head__cur-icon 
					img(src="img/icons-svg/6.svg", alt="")
				.dmpage-accordion-head__text Чистая вода и санитария
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					p 
						b Задачи
					ul
						li 6.1, 6.3, 6.4, 6.5, 6.6
						li Уменьшение воздействия на водные экосистемы. Сокращение доли неочищенных сточных вод, увеличение рециркуляции и повторного использования сточных вод. Обеспечение охраны и восстановление связанных с водой экосистем

					p
						b Стратегические цели
					ul
						li снижение объема сбросов сточных вод на 20% к 2025 году, увеличение соотношения очищенных и неочищенных сточных вод в 5 раз
						li увеличение объемов оборотной, многократно и повторно используемой воды к 2025 году на 9%
						li снижение потерь пресной воды при её подготовке и транспортировке
						li  реализация технологий опреснения вод, подготовка сточных и оборотных вод, переработка иловых осадков
					p
						b Результаты за 2022 год
					ul
						li снижение объемов водоотведения на 26% 
						li забор из поверхностных источников сокращен на 5%
						li увеличение на 2,8 %объема оборотной и повторно-последовательно используемой воды
						li снижение на 5,1 %объема водопотребления
						li снижение на 16% потерь пресной воды при её подготовке и транспортировке
					p
						b Планы на 2023 год
					ul
						li формирование новых проектов инициатив, направленных на сокращение использования воды
						li мероприятия по оптимизации потерь воды при подготовке и транспортировке
						li  опытно-промышленные работы по разработке технологии очистки сточных вод

		.dmpage-accordion.dmpage-accordion--cur-oon
			.dmpage-accordion-head.dmpage-accordion-head--with-icon.dmpage-accordion-head--state-green
				.dmpage-accordion-head__cur-icon 
					img(src="img/icons-svg/7.svg", alt="")
				.dmpage-accordion-head__text Недорогостоящая и чистая энергия
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					p
						b Задачи
					ul
						li 7.1, 7.2, 7.3, 7a, 7и
						li Обеспечение доступа к недорогому, надежному и современному энергоснабжению. Увеличение доли чистых технологий использования ископаемого топлива, возобновляемой энергетики и повышение энергоэффективности для снижения воздействия на окружающую среду.
					p
						b Стратегические цели
					ul
						li повышение энергетической эффективности и энергосбережения до уровня не менее 2,8% от фактического объема потребления топливно-энергетических ресурсов в предыдущем году (в т.у.т.)
						li выработка энергии (увеличение доли) с использованием ВИЭ до 426 МВт к 2030 году и 900 МВт к 2050 году
					p
						b Результаты за 2022 год
					ul
						li экономия топливно- энергетических ресурсов по программе энергосбережения – 3%
						li увеличение доли выработки из ВИЭ на 10% – 0,11 % от общей выработки энергии
					p
						b Планы на 2023 год
					ul
						li реализация целевой Программы повышения энергоэффективности и энергосбережения на 2022–2025 годы
						li развитие направления «Гидроэнергетика»
						li формирование у персонала энергоэффективного мировоззрения и ответственного потребления
					

		.dmpage-accordion.dmpage-accordion--cur-oon
			.dmpage-accordion-head.dmpage-accordion-head--with-icon.dmpage-accordion-head--state-green
				.dmpage-accordion-head__cur-icon 
					img(src="img/icons-svg/12.svg", alt="")
				.dmpage-accordion-head__text Ответственное потребление и производство
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					p
						b Задачи
					ul
						li 12.2, 12.4, 12.5, 12.6, 12.8
						li Рациональное и эффективное использование природных ресурсов, улавливание и переработка вредных веществ и всех отходов деятельности на протяжении всего производственного цикла, уменьшение объема отходов, их переработка и повторное использование
					p
						b Стратегические цели
					ul
						li увеличение доли утилизируемых и повторно используемых отходов до 50% к 2025 году, до 70% к 2030 году
						li сокращение объема технологических потерь на 14,2% к 2025 году, на 20 % к 2030 году
					p
						b Результаты за 2022 год
					ul
						li увеличение на 50,4% доли отходов, направляемых на утилизацию и повторное использование
						li сокращение на 25,7% технологических потерь
					p
						b Планы на 2023 год
					ul
						li сокращение удельного образования отходов от уровня 2020 года
						li сокращение технологических потерь

		.dmpage-accordion.dmpage-accordion--cur-oon
			.dmpage-accordion-head.dmpage-accordion-head--with-icon.dmpage-accordion-head--state-yellow
				.dmpage-accordion-head__cur-icon 
					img(src="img/icons-svg/13.svg", alt="")
				.dmpage-accordion-head__text Борьба с изменением климата
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					p
						b Задачи
					ul
						li 13.1, 13.2, 13.3, 13а, 13b
						li Принятие конкретных и конструктивных мер по снижению воздействия на изменение климата и обеспечение прозрачности их реализации
					p
						b Стратегические цели
					ul
						li снижение удельных выбросов парниковых газов по охватам 1+2 на 14% к 2025 году и на 30% к 2030 году
					p
						b Результаты за 2022 год
					ul
						li снижение удельных прямых выбросов при добыче нефти и газа на 9%
						li снижение удельных прямых и косвенных выбросов (Scope 1+2) в бизнес-направлении нефтегазохимия на 3%
						li снижение удельных прямых и косвенных выбросов (Scope 1+2) при производстве энергии на 6%
					p
						b Планы на 2023 год
					ul
						li достижение экологического эффекта от реализации мероприятий по снижению выбросов парниковых газов
						li реализация Программы лесовосстановления
						li формирование экологического мировоззрения у местного населения и персонала

		.dmpage-accordion.dmpage-accordion--cur-oon
			.dmpage-accordion-head.dmpage-accordion-head--with-icon.dmpage-accordion-head--state-green
				.dmpage-accordion-head__cur-icon 
					img(src="img/icons-svg/15.svg", alt="")
				.dmpage-accordion-head__text Сохранение экосистем суши
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					p
						b Задачи
					ul
						li 15.1, 15.2, 15.3, 15.4, 15.5, 15.8, 15a, 15b
						li Обеспечение сохранения, восстановления и рационального использования экосистем, снижение воздействия на деградирование леса и значительное расширение масштабов лесонасаждения
					p
						b Стратегические цели
					ul
						li снижение занимаемых площадей на 16,1% к 2025 году
					p
						b Результаты за 2022 год
					ul
						li возвращено на 26,3% возвращено больше невостребованных земельных участков
						li на 49,4% уменьшена площадь вырубки лесов
					p
						b Планы на 2023 год
					ul
						li возврат 104,64 Га невостребованных земельных участков
						li сократить объем вырубаемых деревьев на 355,2 Га
				

.dmpage-accordions-wrap.dmpage-accordions-wrap--cur-oon
	h4.dmpage-accordions-title.dmpage-accordions-title--cur-oon Social
	.dmpage-accordions
	
		.dmpage-accordion.dmpage-accordion--cur-oon
			.dmpage-accordion-head.dmpage-accordion-head--with-icon.dmpage-accordion-head--state-yellow
				.dmpage-accordion-head__cur-icon 
					img(src="img/icons-svg/3.svg", alt="")
				.dmpage-accordion-head__text Хорошее здоровье и благополучие
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					p
						b Задачи
					ul
						li 3.8, 3 c
						li Обеспечение всеобщего охвата услугами здравоохранения в регионах присутствия посредством профилактики, лечения и поддержания здоровья и благополучия местного населения, реализации программ реабилитации.
						li Существенное сокращение количества случаев смерти и заболеваний в результате воздействия опасных производственных факторов
					p
						b Стратегические цели
					ul
						li снижение количества дней временной нетрудоспособности на 25% к 2025 году и на 50% к 2050 году
						li снижение частоты и тяжести производственного травматизм на 30% к 2025 году
					p
						b Результаты за 2022 год
					ul
						li снижение на 0,17% удельного показателя временной нетрудоспособности
						li увеличение на 21,87% коэффициента частоты травматизма
						li увеличение на 1,2% коэффициента тяжести травматизма
						li увеличение на 10% LTIFR
					p
						b Планы на 2023 год
					ul
						li реализация программ сохранения жизни и здоровья; улучшения условий труда работников; снижения аварийности, значительных производственных рисков; профилактики профессиональных заболеваний; лечения инфекционных заболеваний
						li модернизация работы здравпунктов Компании
						li внедрение системы обучения персонала на производстве (TWI)
						li мотивация персонала к здоровому образу жизни
				
	
		.dmpage-accordion.dmpage-accordion--cur-oon
			.dmpage-accordion-head.dmpage-accordion-head--with-icon.dmpage-accordion-head--state-green
				.dmpage-accordion-head__cur-icon 
					img(src="img/icons-svg/4.svg", alt="")
				.dmpage-accordion-head__text Качественное образование
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					p
						b Задачи
					ul
						li 4.1, 4.2, 4.4, 4a
						li Увеличение числа людей, обладающих востребованными профессиональными знаниями, для трудоустройства, получения достойной работы 
					p
						b Стратегические цели
					ul
						li создание эффективной сквозной (преемственной) системы образования от дошкольной до профессиональной, обеспечивающей многоуровневую подготовку кадров для нефтяной отрасли
						li формирование мировоззрения и сопричастности к достижению целей устойчивого развития
					p
						b Результаты за 2022 год
					ul
						li развитие качества образования в дошкольных учреждениях – охват 21 ДОУ, 2655 детей
						li школьники, получившие дополнительное образование - более 24 тыс. детей
						li просветительская деятельность в школах по ЦУР – охват более 72 тыс. детей
						li развитие профессиональных компетенций сотрудников – более 34 тыс. человек
					p
						b Планы на 2023 год
					ul
						li развитие «Передовой инженерной школы»
						li развитие образовательных школьных и профориентационных проектов
						li трансляция знаний в сфере ЦУР для школьников с охватом 100 тысяч детей.
				
	
		.dmpage-accordion.dmpage-accordion--cur-oon
			.dmpage-accordion-head.dmpage-accordion-head--with-icon.dmpage-accordion-head--state-green
				.dmpage-accordion-head__cur-icon 
					img(src="img/icons-svg/11.svg", alt="")
				.dmpage-accordion-head__text Устойчивые города и населенные пункты
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					p
						b Задачи
					ul
						li 11.1, 11.2, 11.3, 11.4, 11.5, 11.6, 11.7, 11.8
						li Обеспечение доступа к достаточному, безопасному и недорогому жилью. Развитие экономических, социальных и экологических связей между городскими, пригородными и сельскими районами. Уменьшение негативного экологического воздействия городов на местное население
					p
						b Стратегические цели
					ul
						li повышение благополучия и уровня жизни сотрудников и населения (строительство жилых и социально-значимых объектов)
						li разработка комплексных планов развития территорий совместно с обществом, региональной и муниципальной властями
						li сокращение негативного воздействия на окружающую среду путем модернизации производства и применения наилучших доступных технологий
					p
						b Результаты за 2022 год
					ul
						li объем социальных инвестиций – 26,9 млрд. рублей
						li 973 работника получили жилье, введено в эксплуатацию 2 многоквартирных жилых дома
						li реализовано 290 грантов Благотворительным фондом «Татнефть», объем социальных инвестиций 1,4 млрд. рублей
						li сотрудничество по Соглашениям об улучшении качества городской среды с муниципалитетами
					p
						b Планы на 2023 год
					ul
						li реализация программы застройки многоквартирных домов
						li создание общественных центров и общественных пространств
						li реализация экологических и образовательных проектов
						li реализация проекта «Индекс качества городской среды»
				

.dmpage-accordions-wrap.dmpage-accordions-wrap--cur-oon
	h4.dmpage-accordions-title.dmpage-accordions-title--cur-oon Governance
	.dmpage-accordions
	
	
		.dmpage-accordion.dmpage-accordion--cur-oon
			.dmpage-accordion-head.dmpage-accordion-head--with-icon.dmpage-accordion-head--state-green
				.dmpage-accordion-head__cur-icon 
					img(src="img/icons-svg/9.svg", alt="")
				.dmpage-accordion-head__text Индустриализация, инновации и инфраструктура
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					p
						b Задачи
					ul
						li 9.4, 9.5
						li Развитие устойчивой индустриализации за счет инновационной составляющей, а также качественной, надежной, устойчивой и стойкой инфраструктуры, в целях поддержки экономического развития и благополучия людей, уделяя особое внимание обеспечению равноправного доступа всех заинтересованных сторон
					p
						b Стратегические цели
					ul
						li повышение отдачи от инвестиций в инновации на 15 % к 2025 году
						li увеличение привлечения государственной поддержки проектов в 2 раза к 2025 году
						li увеличение инновационных проектов для достижения стратегической цели по снижению углеродного следа на 20%
						li обеспечение высокого научного уровня инновационной деятельности
					p
						b Результаты за 2022 год
					ul
						li увеличение на 95% удельной конечной рыночной стоимости (EMV)
						li уменьшение на 15% привлечения государственной поддержки 
						li на 13 758% увеличение портфеля инновационных проектов по снижению углеродного следа
						li увеличение на 38% количества заявок на получение новых охранных документов на объекты интеллектуальной собственности
					p
						b Планы на 2023 год
					ul
						li технологии повышения нефтеотдачи пластов с использованием СО2
						li реализация технологии улавливания углекислого газа из технологических газов
						li сотрудничество с внешними инновационными структурами для ускорения разработки и внедрения новых технологий в производственные процессы
						li  разработка новых продуктов в сфере биотеха и композитных материалов
				
	
		.dmpage-accordion.dmpage-accordion--cur-oon
			.dmpage-accordion-head.dmpage-accordion-head--with-icon.dmpage-accordion-head--state-green
				.dmpage-accordion-head__cur-icon 
					img(src="img/icons-svg/17.svg", alt="")
				.dmpage-accordion-head__text Партнерство в интересах устойчивого развития
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					p
						b Задачи
					ul
						li 17.17
						li Укрепление Глобального партнерства в интересах устойчивого развития, дополняемое партнерствами с участием заинтересованных сторон, которые мобилизуют и распространяют знания, опыт, технологии и финансовые ресурсы, с тем чтобы поддерживать достижение целей в области устойчивого развития
					p
						b Стратегические цели
					ul
						li формирование эффективного партнерства с государственными организациями и организациями гражданского общества
					p
						b Результаты за 2022 год
					ul
						li подтверждение активного статуса участника Глобального договора ООН
						li реализация инструментов государственной поддержки бизнеса на региональном и федеральном уровне
						li международные соглашения по проектам развития в регионах присутствия
					p
						b Планы на 2023 год
					ul
						li реализация соглашений по проектам развития в виде конкретных инвестиционных проектов, основанных на партнерстве и взаимной интеграции ресурсов сторон (компетенции, технологии, сырьевая база)
				
				