.dmpage-text
	h2.block-section-name Взаимодействие с коренным местным населением, ведущим традиционный образ жизни
.dmpage-quote
	a.dmpage-quote__link(href="https://www.tatneft.ru/sustainable_development/ekologiy/interaction_with_the_local_population_leading_traditional_way_of_life")

	|  Позиция Компании по взаимодействию с местным населением, ведущим традиционный образ жизни
.dmpage-text
	p Компания придерживается принципов рационального использования природных ресурсов, сохранения благоприятной окружающей среды, природных комплексов и биологического разнообразия систем, сохранения объектов историко-культурного наследия и недопущения экологического ущерба от хозяйственной деятельности на территориях традиционного природопользования коренных малочисленных народов и общин малочисленных народов, проживающих в районах деятельности.
	p Ограниченное воздействие достигается за счёт внедрения энергоэффективных технологий, применения экологически чистых и альтернативных источников энергии, минимизации образования отходов и использования перерабатываемых материалов. Компания не осуществляет свою деятельность в местах древних поселений, памятников истории и культуры, культовых сооружений, местах захоронения предков и иных объектах, имеющих историческую и культурную ценность.
	p В Компании действует «Политика Группы «Татнефть» по взаимодействию с местным населением, ведущим традиционный образ жизни, сохранению экосистемы территорий традиционного природопользования и традиционного образа жизни местного населения, проживающего в районах деятельности Группы «Татнефть».
	p Основными механизмами реализации Политики являются:
	ul 
		li заключение соглашений об участии Компании в социально-экономическом развитии региона с администрациями субъектов Российской Федерации и муниципальных образований на территории традиционного проживания и традиционной хозяйственной деятельности малочисленных народов Российской Федерации 
		li информирование, проведение консультаций, организация каналов обратной связи, сотрудничество с общественными организациями малочисленных народов
	p Интересы коренных и малочисленных народов затрагиваются при реализации геологоразведочных работ, строительстве зимних автомобильных дорог на территории традиционно используемой для оленьих пастбищ. При осуществлении деятельности Компания заключает возмездное соглашение об установлении частного сервитута земельного участка (при временном занятии земельных участков оленьих пастбищ). Ежегодно проводятся работы по мониторингу окружающей среды и состоянию недр на территории лицензионных участков компании в Ненецком автономном округе (НАО). Экологическая обстановка на контролируемых участках в 2022 году, по контролируемым показателям в почве и воде - допустимая близкая к чистой.
	p Компания оказывает благотворительную помощь на реализацию спортивных мероприятий, проводимых среди местного коренного населения.
	p Конфликты с коренным населением и случаи нарушений, затрагивающих права коренных и малочисленных народов, в 2022 году отсутствовали.
.dmpage-text
	h2.block-section-name Здоровый образ жизни
	p Компания заботится о здоровье своих работников и жителей регионов присутствия, вкладывает значительные силы и средства в здоровую социальную инфраструктуру. 
	p Для реализации ЦУР-3 в «Татнефти» разработана и утверждена Советом директоров соответствующая программа, целью которой является создание условий для предоставления доступной и качественной медицинской помощи, внедрение инновационных технологий профилактической медицины и, как следствие, уменьшение заболеваний. Для достижения этой цели составлена дорожная карта, куда вошли проекты, позволяющие обеспечить качественной медицинской помощью и охватить профилактическими мероприятиями не только работников Группы «Татнефть», но и население территорий присутствия Компании.

.dmpage-table-section
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th.dmptable-td-w-icon.dmptable-td-w-icon--esg
						img(src="img/esg-svg/ESG3.svg", alt="")

					th
						p установленные цели
					th
						p результаты реализации:
					th
						p 2022 к 2021
					th
						p 2022 к 2020
				tr.dmpage-table__tr-bb
					td(colspan='2')
						ul
							li
								| снижение количества дней временной нетрудоспособности на 25% к 2025 году и на 50% к 2050 году
					td
						p удельный показатель временной нетрудоспособности на 
						p 1 000 сотрудников, дней
					td
						p 14 045 к 14 069
						p снижение на 0,17%
					td
						p 14045 к 14970
						p снижение на 6,2%
				tr
					td(colspan='2' rowspan='3')
						ul
							li снижение частоты и тяжести производственного травматизм на 30% к 2025 году*
						p  
						p  
					td
						p коэффициент частоты травматизма на 1 000 работников 
					td
						p 0,39 к 0,32
						p увеличение на 21,87%
					td
						p 0,39 к 0,34
						p увеличение на 14,7%
				tr
					td(style="display:none;")
					td
						p коэффициент тяжести 
						p травматизма 
					td
						p 92,7 к 91,6
						p увеличение на 1,2%
					td
						p 92,7 к 85,12 увеличение на 8,89%
				tr
					td(style="display:none;")
					td
						p LTIFR 
					td
						p 0,22 к 0,2
						p увеличение на 10%
					td
						p 0,22 к 0,2
						p увеличение на 10%



.dmpage-text.dmpage-text--small *рост количества несчастных случаев обусловлен вхождением в состав Группы «Татнефть» сервисных активов, производственная деятельность которых связана с высоким риском производственного травматизма и аварийности.
.dmpage-text
	p Ежегодно Компания осуществляет финансирование строительства, ремонт, укрепление материальной базы и оснащение передовым медицинским оборудованием учреждений здравоохранения регионов деятельности, оплачивает квартиры для приглашенных врачей. Основной фокус текущих проектов направлен на модернизацию, оснащение и системную трансформацию работы 32 здравпунктов на предприятиях, что должно повысить доступность и качество оказания медпомощи.
	p Компанией в Альметьевске создана система оказания высокотехнологической медицинской помощи на базе медико-санитарной части.
	p Родильный дом с перинатальным центром, строительство которого осуществляет Компания, будет интегрирован с медико-санитарной частью, что повысит качество медицинских услуг, позволит создать многоуровневую систему оказания медицинской помощи с привлечением узких специалистов, тесной кооперацией и взаимодействием между медслужбами.
	p «Татнефть» вкладывает значительные средства в совершенствование материально-технической базы Альметьевского онкоцентра. Благодаря закупленному современному оборудованию, созданным условиям, обучению медицинских кадров, выявляемость онкопатологий на ранних стадиях может существенно возрасти. Оказывается поддержка Центру паллиативной помощи.
	p В рамках национальной программы «Здравоохрание» при грантовой поддержке Компании открыт гериатрический центр в селе Шугурово Лениногорском районе Татарстана. Межрегиональный гериатрический центр занимается изучением, профилактикой и лечением болезней людей пожилого возраста. Подобного вида помощь направлена на оказание многопрофильного лечения и реабилитацию синдромов старческой астении.
	p Созданная система профилактики и лечения инфекционных заболеваний для сотрудников включает:
	ul 
		li мониторинг и предупреждение роста уровня зараженности на ранних стадиях заболеваемости ОРВИ, пневмониями и COVID19
		li проведение вакцинации
		li мониторинг тяжело болеющих сотрудников
		li мониторинг этапов стационарной и санаторно-курортной реабилитации тяжело заболевших сотрудников, позволяющий снизить уровень летальности
	p В целях предупреждения производственного травматизма проводится профилактическая работа по разъяснению необходимости соблюдения принципов здорового образа жизни, питания и рационального режима труда и отдыха. 
	p Усилен контроль за соблюдением правил промышленной и пожарной безопасности, охраны труда, особенно в дни недели, приходящиеся на выходные дни, праздничные дни, первый и последний день недели.
	p Компания и дальше нацелена на укрепление здоровья и долголетия работников Компании, их семей и населения в целом путем популяризации здорового образа жизни и реализации действующих программ.
	h3 Поддержка спорта
	p На протяжении многих лет Компания развивает культуру здорового образа жизни. Особо важное место занимают программы поддержки спорта. Участие в корпоративных спортивных мероприятиях развивает спортивное движение и дает работникам возможность продемонстрировать свои достижения.
	p Компания поддерживает различные виды спортивных соревнований: бокс, борьбу, теннис, бадминтон, плавание, волейбол, каратэ, фигурное катание, акробатику, лыжный и горнолыжный спорт и другие виды спорта. В отчетном году в соревнованиях по 11 видам спорта приняли участие более 1 400 человек из 39 предприятий Компании, расположенных не только на юго-востоке Республики Татарстан, а также в Москве, Тольятти, Казани, Чебоксарах. Компания также поддерживает детский и юношеский хоккей, бокс, борьбу, плавание, волейбол, каратэ, фигурное катание, лыжный спорт, акробатику, настольный теннис, кикбоксинг.
.dmpage-quote

	|  4 166 млн. руб. –вклад в поддержку спорта
.dmpage-text
	p Построенные Компанией спортивные объекты становятся любимыми местами отдыха работников нефтяного края, горожан и гостей города. В 2022 году горнолыжный комплекс ПАО «Татнефть» посетило 50 531 человек. В зимнем сезоне 2021-2022 г.г. для жителей и гостей г. Альметьевск работал Ледовый каток, который посетили 41 022 человек.
	h3 «Зеленый транспорт»
	p Компания создает в нефтяном регионе условия для развития инфраструктуры «зеленого транспорта». Один из самых ярких и успешных примеров ESG-инвестирования – строительство велодорожек. Благодаря финансовой поддержке «Татнефти», проект стартовал весной 2016 года. 
.dmpage-quote
	p 115 километров протяженность велодорожек
	p 5% жителей ежедневно используют велосипеды в качестве транспорта
.dmpage-text
	p Сегодня Альметьевск прочно удерживает звание велосипедной столицы: построена и активно функционирует самая разветвленная велосеть в России. Компания также закупила несколько сотен велосипедов для службы байкшеринга. Положительный опыт планируется масштабировать и на другие города нефтяного края.


.dmpage-chart-outer.dmpage-small-w-section
	h4.dmpage-chart-title Сравнение удельной протяженности сети велодорожек, км (протяженность сети)/км2 (площадь города)

	.dmpage-chart-bar-wrap
		#chart-bar-200-5-7.dmpage-chart-bar.js-dmpage-chart-bar
			canvas


.dmpage-text
	h3 Развитие конного спорта
	p В Компании принята программа по развитию конного спорта, которая включает в себя развитие инфраструктуры во всех конноспортивных школах и организацию регулярных соревнований. Ежегодно, в рамках проекта «Организация соревнований по конному спорту на юго-востоке Республики Татарстан» проводятся конноспортивные соревнования по олимпийским видам конного спорта (конкур, выездка) и соревнования по испытаниям рысистых и скаковых пород лошадей (бега и скачки).
.dmpage-quote
	p Конноспортивные объекты – 3 конноспортивные школы
	p конный завод тренировочный пункт
.dmpage-text
	p В 2022 году в конноспортивной школе «Кентавр» (г. Елабуга) проведена масштабная реконструкция комплекса: осуществлено строительство нового современного манежа с административно-бытовым корпусом, летней конюшней, тренировочной бочкой, водилкой и левадами. 
	img(src="img/block-5/17.jpg", alt="")
	p Проект «Зеленый фитнес» стартовал в 2015 году с города Казани. В 2016 году «Зеленый Фитнес» масштабно запустился в городе Альметьевск при коммерческой поддержке «Татнефть». Сейчас проект расширил границы и работает по всему Татарстану.
	p В «Зеленом Фитнесе» люди любого возраста могут заниматься танцевальной зарядкой, йогой, зумбой и другими направлениями одновременно на нескольких площадках. Преимущество этих занятий в том, что они организуются на свежем воздухе, и площадки под открытым небом могут вместить много желающих. Занятия ведут профессиональные тренеры.
.dmpage-quote
	p Проект реализуется в рамках Федерального проекта «Спорт Норма Жизни» по приобщению населения к физической культуре.
.dmpage-text
	p «Татнефть» считает важным заботу о физическом и ментальном здоровье своих работников, осознанно вкладывается в данное направление, расценивает это как свой главный актив. Теперь у сотрудников Компании, благодаря личной инициативе генерального директора Компании, в Альметьевске есть возможность посвятить свое время оздоровительной практике цигун.
	p В рамках реабилитационной программы «Активное долголетие» для пожилых людей юго-востока Татарстана по инициативе Компании открыты 10 Центров активного долголетия. Центры оснащены уникальным тренажерами, работающими в щадящем режиме с нагрузками, специально подобранными для пожилых людей. Занятия для пожилых людей используются как ключевой элемент активного долголетия и ориентированы на укрепление физической силы, уменьшение риска травматизации в быту, снижение риска развития заболеваний, улучшения качества их жизни.
	h3 Организация отдыха детей
	img(src="img/block-5/18.jpg", alt="")
	p Лига детских лагерей - проект, в котором 10 детских оздоровительных лагерей Компании объединены одной идеей, одними целями, и одной командой. Большое внимание уделяется программам детского отдыха, целью которых является всестороннее развитие ребенка. Во время отдыха детьми занимаются квалифицированные преподаватели, воспитатели, которые проводят различные познавательные и образовательные мероприятия.
.dmpage-quote
	p 
		b 1 783 млн рублей
		|   - содержание социально-оздоровительных объектов
.dmpage-text
	p Программа «Лига детских лагерей Группы «Татнефть» позволяет обеспечить организацию детского отдыха и оздоровления на качественно высоком уровне, обеспечивает всестороннее развитие подрастающего поколения. Программа опирается на единую методологию организации и проведения смен в различных направлениях (творческая, языковая, экологическая, спортивная, научно-техническая, военно-патриотическая), построенную на ценностях Компании. С целью привлечения отдыхающих детей к общению с лошадьми, к занятиям конным спортом, а также проведения занятий по иппотерапии в детских лагерях имеются мини-конюшни для содержания пони. В 2022 г. отдохнуло 10 811 детей.
	p В 2022 году в детских оздоровительных лагерях Компании проведена программа по экологическому воспитанию детей с охватом участников более 11 000 человек. Комплексная воспитательная программа включает проекты по популяризации Целей устойчивого развития. Помимо детей работников Компании и других коммерческих организаций в детских лагерях, имеют возможность отдохнуть также дети работников организаций бюджетной сферы с частичным финансированием стоимости путевок.
	h3 Санаторно-курортное оздоровление
	p В Компании имеется 8 санаториев-профилакториев. В основе их работы лежит комплексный подход к лечению, применение современных восстановительных методик. Разработаны программы по реабилитации после перенесенной вирусной пневмонии, при заболеваниях сердечно-сосудистой системы, нарушениях костно-мышечной, периферической и центральной нервной системы.
.dmpage-quote
	p
		b 445,4 млн рублей
		|  - санаторное оздоровление работников поддержка внутреннего туризма
.dmpage-text
	p За период 2020-2022 гг. в санаториях-профилакториях отдохнули и укрепили здоровье 5 000 работников Группы «Татнефть», занятых на работах с вредными и (или) опасными производственными факторами. Затраты Компании на санаторное оздоровление составили 445,4 млн рублей.
	p Пять санаториев-профилакториев имеют лицензии на медицинскую реабилитацию пациентов с заболеваниями центральной нервной системы, эндокринной системы, соматическими заболеваниями, заболеваниями легких, периферической и центральной нервной системы. В 2021-2022 гг. в санаториях прошли реабилитационное лечение 647 человек.
	p В санаториях Компании санаторное лечение также проходят льготная категория граждан, дети и граждане, которые по показаниям врачей нуждаются в реабилитационном лечении. 

.dmpage-text
	h2.block-section-name Поддержка инициатив развития
	p С 2019 года Компания участник Глобального договора ООН, принявший обязательства по реализации 10 принципов и 17 Целей устойчивого развития.
	h3 Права человека и трудовые отношения
	p Компания придерживается и разделяет принципы фундаментальных международных деклараций и конвенций в области прав человека и трудовых отношений, в том числе: 
	ul 
		li Всеобщей декларации прав человека ООН 
		li Декларации по окружающей среде и развитию ООН ◎ Руководящих принципов ОЭСР для многонациональных предприятий
		li Декларации основополагающих прав и принципов в сфере труда Международной организации труда (МОТ) 
		li Конвенции №87 МОТ «Относительно свободы ассоциаций и защиты права на организацию»
		li Конвенции №98 МОТ «Относительно применения принципов права на организацию и заключение коллективных договоров» 
		li Конвенции №111 МОТ «Относительно дискриминации в области труда и занятий»
	h3 Экология и климат
	p В области экологии и климата Компания учитывает в своей деятельности и поддерживает ряд основополагающих инициатив:
	ul 
		li Стандарт и рекомендации Протокола по выбросам парниковых газов (GreenhouseGas Protocol)
		li Science Based Targets — постановка научно-обоснованных целей по снижению выбросов парниковых газов
		li Инициатива нефтегазовой промышленности в области климата (OGCI)
		li Рекомендации для раскрытия компаниями информации о финансовых рисках, которые возникают в связи с глобальными изменениями климата (TCFD)
	h3 Антикоррупционная деятельность
	p Компания придерживается принципов и норм, содержащихся в следующих документах:
	ul 
		li Конвенция Организации Объединенных Наций против коррупции, (принята в г. Нью-Йорке 31.10.2003 Резолюцией Генеральной Ассамблеи ООН) 
		li Конвенция об уголовной ответственности за коррупцию (заключена в г. Страсбурге 27.01.1999 ETS №173) 
		li Конвенция Организации экономического сотрудничества и развития по борьбе с подкупом должностных лиц иностранных государств при проведении международных деловых операций, (принята в г. Стамбуле 21.11.1997) 
		li Антикоррупционная хартия Российского бизнеса 
	h3 Социальная хартия российского бизнеса 
	p Компания придерживается определенных Хартией принципов ответственного ведения бизнеса, охватывающих аспекты экономической и финансовой устойчивости, качество продукции, соблюдение прав человека, деловую этику и взаимоотношения с партнерами, потребителями, работниками, экологическую безопасность, участие в развитии местного сообщества.
.dmpage-text
	h2.block-section-name Членство в ассоциациях
	p Компания вступает в партнерства и принимает участие в отраслевых объединенях и ассоциациях с целью конструктивного взаимодействия с международными и государственными структурами, а также другими участниками отрасли, и выработки позиции по ключевым вопросам топливно-энергетического комплекса.
	h3 Партнерство в интересах устойчивого развития 
	p 
		b Отраслевые ассоциации
	ul 
		li С 2022 года член ассоциации «Искусственный интеллект в промышленности» в формате государственного частного партнерства для реализации проектов повышения эффективности процессов подземного ремонта скважин 
		li С 2022 года совместно с «Отраслевым Центром Компетенций по Робототехнике» и рядом отраслевых партнеров проводятся мероприятия по созданию некоммерческой организации для координации разработки и внедрения робототехнических решений для топливноэнергетического комплекса 
		li С 2021 года участник соглашения с Минэнерго России о создании новых производственных мощностей по глубокой переработке нефтяного сырья, что дает возможность увеличить сумму акциза, подлежащую возмещению, на сумму инвестиционной надбавки.
		li С 1994 года Компания является членом Союза нефтегазопромышленников России, который является инициатором по реформированию отрасли, усилению государственного регулирования в ТЭК, изменениям законодательства и подготовке правительственных решений 
		li С 2003 года член Российского союза промышленников и предпринимателей (РСПП). Компания принимает активное участие в работе различных комитетов РСПП по формированию нормативной правовой базы 
		li С 2003 года Компания сотрудничает с некоммерческим партнерством «Горнопромышленники России» 
		li С 2010 года совместно с Профсоюзной организацией Компания сотрудничает с Общероссийским отраслевым объединением работодателей нефтяной и газовой промышленности 
		li С 2011 года участник рабочей группы при Минэнерго РФ по мониторингу производства и потребления нефтепродуктов в РФ, регулирования цен на нефтепродукты и обеспечения стабильных и равномерных поставок нефтепродуктов на внутренний рынок РФ 
		li С 2011 года Компания является членом Торговопромышленной палаты РФ 
		li С 2014 года участник Совета потребителей по деятельности субъектов естественных монополий, который функционирует как площадка коммуникаций ПАО «Транснефть» и потребителей её услуг
		li С 2015 года участник рабочей группы при Минэнерго РФ по мониторингу качества нефти, созданной с целью стабилизации качества нефти в системе магистральных нефтепроводов 
		li С 2022 года участник технического комитета по стандартизации «Улавливание, транспортирование и хранение углекислого газа» Минэнерго РФ