
.dmpage-text
	h2.block-section-name  Благотворительный фонд
	h3 Цель — дарить добро
	p Следуя высоким стандартам и принципам корпоративной социальной ответственности Компания осуществляет значительные социальные инвестиции, инструментом реализации которых является Благотворительный фонд «Татнефть» (далее - Фонд). Ежегодно расширяется периметр ответственности Фонда, совершенствуется система планирования и учета использования выделяемых на благотворительность средств.
	
	p Объём социальных инвестиций, направленных через Фонд за период 2020-2022гг. составил 11,4 млрд руб., в 2022 году – более 5,1 млрд рублей. Дополнительные поступления от сторонних юридических лиц и частных меценатов составили более 200 млн. рублей.
	p В 2022 году благотворительную помощь получили 42,5 тыс. человек и 532 некоммерческих организаций. Фондом было организовано 572 мероприятия, участниками которых стали более 200 тыс. человек.
.dmpage-quote
	p 5,1 млрд рублей социальные инвестиции Фонда
	p >42 тыс. чел. оказана благотворительная помощь
.dmpage-table-section.dmpage-table-section--small
	h4.dmpage-table-title Социальные инвестиции, млрд руб.
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th
						p 2020
					th
						p 2021
					th
						p 2022
			tbody
				tr
					td
						p 2,8
					td
						p 3,5
					td
						p 5,1
.dmpage-text
	p Частью масштабной работы по социальному развитию региона является 
		b Конкурс грантов.
		|  Конкурсный подход позволяет систематизировать благотворительную деятельность, сфокусироваться на приоритетных для общества проблемах и повысить прозрачность принимаемых решений, в том числе через оценку социальной эффективности. Конкурс грантов обеспечивает равный доступ к получению софинансирования для всех районов и городов деятельности Компании. Программа грантов реализуется по четырём приоритетным направлениям: «Образование», «Здравоохранение», «Развитие территорий», «Культура».  В 2022 году было реализовано 290 проектов. Социальные инвестиции Компании через Конкурс грантов составили 1,4 млрд руб. Софинансирование из иных источников – 1,03 млрд рублей.


.dmpage-chart-outer.dmpage-small-w-section
	h4.dmpage-chart-title Конкурс грантов поддерживает важные социальные инициативы населения и улучшает качество жизни региона деятельности компании

	.dmpage-chart-flex
		#chart-doughnut-200-5-1.dmpage-chart-doughnut.js-dmpage-chart-doughnut
			canvas
		.dmpage-chd-legend



.dmpage-quote
	a.dmpage-quote__link(href="  http://www.bf-tatneft.ru/fond/?3program&link=lnkGrant5")
	|  Более подробно о программе грантов:
.dmpage-text
	p 
		b Конкурс социальных инициатив «Энергия добра «Татнефти» 
		|  осуществляет отбор лучших креативных идей, интересных предложений для решения актуальных вопросов, касающихся социального, экономического и культурного развития региона.  В 2022 году обладателями грантов Компании стали авторы 121 проекта на общую сумму 110 млн рублей.
	p Благотворительный фонд «Татнефть» формирует комплексную систему по выявлению и поддержке талантливых детей и молодежи через 
		b программу «Рухият».
		|  Деятельность программы направлена на активизацию культурной жизни нефтяного региона республики, оказывается поддержка юным дарованиям, издательской деятельности, ведется работа с писателями и поэтами, художниками и деятелями культуры.  За 26 лет деятельности программы выпущено более 250 наименований книг общим тиражом более 440 тысяч. Традиционно, книги, изданные Фондом, передаются в дар библиотекам, учебным заведениям, музеям, домам-престарелых городов Татарстана, Конгрессу татар, санаториям и базам отдыха Компании, а также в места компактного проживания татар в России и за ее пределами.
	p По 
		b программе «Милосердие» 
		|  оказывалась адресная помощь ветеранам и инвалидам, малоимущим семьям, воспитанникам детских домов, студентам-сиротам и гражданам, оказавшимся в сложной жизненной ситуации. Осуществлялась поддержка социально ориентированных некоммерческих организаций, медицинским учреждениям.
	p Программа 
		b «Одаренные дети»
		|  направлена на поддержку интеллектуально одаренных школьников. Ежегодно организуются предметные олимпиады, научно-творческие и инженерно-технические конкурсы, соревнования и конференции, участие школьников в подобных мероприятиях в других регионах России и за рубежом. Также оказывается материальная помощь одаренным учащимся из малоимущих семей, поощряются способные ученики и их наставники при достижении высоких результатов, финансируются программы и мероприятия, направленные на развитие интеллектуального потенциала учащихся.
//.dmpage-table-section.dmpage-table-section--small
	h4.dmpage-table-title Поддержка одаренных детей
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th(colspan='2')
						p призеры:
			tbody
				tr
					td
						p 238 школьников
					td
						p 187 преподавателей
		

.dmpage-chart-outer.dmpage-small-w-section
	h4.dmpage-chart-title Поддержка одаренных детей

	.dmpage-chart-flex
		#chart-doughnut-200-5-2.dmpage-chart-doughnut.js-dmpage-chart-doughnut
			canvas
		.dmpage-chd-legend

.dmpage-text
	p 
		b Программа «Тазалык»
		|  реализуется с целью содействия деятельности в сфере физической культуры и массового спорта среди работников Компании, и населения юго-востока республики, развития и поддержки детского спорта и талантливых спортсменов. Более 650 юных спортсменов приняло участие в спортивных соревнованиях по различным видам спорта. При поддержке программы 360 юных спортсменов приняли участие в соревнованиях различных рангов.
	p Так же при поддержке Фонда реализуются проекты:
	ul 
		li Альметьевский уличный театр «Легкие крылья»
		li Академия цифрового творчества
		li Интерактивный научно-технический центр «Альметрика»
		li Информационно-выставочное пространство
		li Школа анимации
		li Историю вершат люди
	p Подробная информация о проектах содержится в разделах «Инвестиции в будущие поколения» и «Сохранение культурного наследия».
	h3 Проекты с партнерами
	p Совместно с «Русфондом» реализуется проект по формированию Приволжского регистра потенциальных доноров костного мозга (программа адресной помощи детям Татарстана). С момента старта проекта оказана финансовая помощь 75 тяжелобольным детям с нарушениями опорно-двигательного аппарата, сердечно-сосудистых, неврологических заболеваний, заболеваний аутического характера и др.
.dmpage-quote
	p  130,6 млн руб.  благотворительная помощь по направлению «Здравоохранение»
.dmpage-text
	p Аналогичный совместный проект реализуется с фондом «Подари жизнь», в рамках которого детям из Татарстана оказывается адресная помощь в лечении онкологических заболеваний. С момента старта проекта 47 подопечных фонда «Подари жизнь» получили помощь.
	p В рамках совместного проекта с благотворительным фондом «Подарок ангелу» впервые была реализована уникальная программа «Школа особенного родителя» для родителей, воспитывающих детей с нарушениями опорно-двигательного аппарата. Благодаря расширенной программе для Альметьевска, кроме ознакомления с курсом по домашней физической реабилитации, проект позволил родителям и опекунам детей с детским церебральным параличом пройти логопедическую и психологическую программы, а также получить методические материалы и психологическую поддержку бесплатно. Всего за период работы проект помог 20 семьям. 
	p С января по март 2022 года в рамках совместного был реализован второй проект «Общаться просто», направленный на обучение детей методам альтернативной и дополнительной коммуникации.
	p Проект с Фондом «Наука - детям». Благодаря инвестициям в научно-исследовательский проект «Поиск молекулярно-генетических маркеров с целью ранней диагностики предрасположенности к опухолевым заболеваниям», целые семьи могут пройти генетические исследования, позволяющие выявить поломки или мутации, способные впоследствии вызвать рак.
	p В ходе проекта на сегодняшний день оказана помощь 175 людям из разных регионов России, в том числе проведено постоянное медико-генетическое консультирование 89 пациентам-детям и их родителям.
	p В рамках корпоративной программы сети АЗС «Клуб Чемпионов» был дан старт акции «Добрые дела, поможем вместе», где неравнодушные граждане – пользователи заправочных станций «Татнефть» через Приложение делятся своими бонусами в пользу особенных детей. Собранные средства направляются на реабилитационное лечение и приобретение технических средств.
	p Компания внимательно относится к людям с ограниченными возможностями здоровья. Осуществляется оказание адресной благотворительной помощи людям с ограниченными возможностями здоровья и неработающим пенсионерам, а также домам-интернатам для улучшения социально-бытовых условий. Регулярно оплачиваются коммунальные услуги Всероссийского общества слепых, инвалидов и глухих. По мере обращения оказывается благотворительная помощь общественной организации ветеранов «Боевое братство», реабилитационному центра им. Талгата Шайхуллина, религиозным организациям и различным спортивным обществам.
		
