.dmpage-text
	p Компания вступает в партнерства и принимает участие в отраслевых объединенях и ассоциациях с целью конструктивного взаимодействия с международными и государственными структурами, а также другими участниками отрасли, и выработки позиции по ключевым вопросам топливно-энергетического комплекса.
	p 
		b  Партнерство в интересах устойчивого развития 
	img(src="img/chlenstvo_logo.jpg", alt="")
	p 
		b Отраслевые ассоциации
	ul 
		li С 2022 года член ассоциации «Искусственный интеллект в промышленности» в формате государственного частного партнерства для реализации проектов повышения эффективности процессов подземного ремонта скважин 
		li С 2022 года совместно с «Отраслевым Центром Компетенций по Робототехнике» и рядом отраслевых партнеров проводятся мероприятия по созданию некоммерческой организации для координации разработки и внедрения робототехнических решений для топливноэнергетического комплекса 
		li С 2021 года участник соглашения с Минэнерго России о создании новых производственных мощностей по глубокой переработке нефтяного сырья, что дает возможность увеличить сумму акциза, подлежащую возмещению, на сумму инвестиционной надбавки.
		li С 1994 года Компания является членом Союза нефтегазопромышленников России, который является инициатором по реформированию отрасли, усилению государственного регулирования в ТЭК, изменениям законодательства и подготовке правительственных решений 
		li С 2003 года член Российского союза промышленников и предпринимателей (РСПП). Компания принимает активное участие в работе различных комитетов РСПП по формированию нормативной правовой базы 
		li С 2003 года Компания сотрудничает с некоммерческим партнерством «Горнопромышленники России» 
		li С 2010 года совместно с Профсоюзной организацией Компания сотрудничает с Общероссийским отраслевым объединением работодателей нефтяной и газовой промышленности 
		li С 2011 года участник рабочей группы при Минэнерго РФ по мониторингу производства и потребления нефтепродуктов в РФ, регулирования цен на нефтепродукты и обеспечения стабильных и равномерных поставок нефтепродуктов на внутренний рынок РФ 
		li С 2011 года Компания является членом Торговопромышленной палаты РФ 
		li С 2014 года участник Совета потребителей по деятельности субъектов естественных монополий, который функционирует как площадка коммуникаций ПАО «Транснефть» и потребителей её услуг
		li С 2015 года участник рабочей группы при Минэнерго РФ по мониторингу качества нефти, созданной с целью стабилизации качества нефти в системе магистральных нефтепроводов 
		li С 2022 года участник технического комитета по стандартизации «Улавливание, транспортирование и хранение углекислого газа» Минэнерго РФ