
.dmpage-text
	p Компанией реализуется политика в сфере корпоративной социальной ответственности и устойчивого развития, которая трансформирует результаты деятельности бизнеса в пользу общества. Компания не ждет регулирования со стороны государства, а действует на опережение. Как заказчик отрасли, мы участвуем в формировании профессиональных стандартов, так как заинтересованы в привлечении ответственных и профессиональных работников.
	p На протяжении многих лет Компания уделяет особое внимание подготовке будущих специалистов, привлекая студентов и преподавателей для участия в проектах бизнеса. Мы совершенствуем систему подготовки кадров, включающую работу с образовательными организациями профессионального образования. Развивая науку, Компания открывает новые направления для реализации полного цикла коллаборации бизнеса, науки и производства. Образование, как самый мощный инструмент изменения мира к лучшему, начинается с воспитания личности с малых лет и «Татнефть» принимает активное участие в программах развития каждой образовательной ступени.
	h2 Система непрерывного образования
	p Компания является ключевым участником научно-образовательного кластера системы непрерывного многоуровневого профессионального образования для подготовки кадров нефтегазового комплекса.
	img(src="img/block-5/2.jpg", alt="")
	p Для реализации Цели устойчивого развития №4 «Качественное образование» сформирован портфель проектов, охватывающий образовательную среду как для работников Компании, так и в целом для населения региона деятельности, в том числе детей.
	p 
		b Дошкольное образование
	p Компания активно участвует в реализации проектов по оказанию помощи детским садам, предоставляя средства на их реконструкцию, ремонт и оснащение, выступает организатором и спонсором различных образовательных программ.
	p Проект «Татнефть и детство. Диалог с будущим» направлен на развитие качества образовательной среды дошкольных учреждений юго-востока республики. Он реализуется в сотрудничестве с лабораторией развития ребенка НИИ урбанистики и глобального образования Московского городского педагогического университета.
	p В соответствии с целями проекта образовательная среда детских садов приводится в соответствие с лучшими мировыми стандартами, создается образовательное сообщество педагогов, родителей и детей вокруг целей и ценностей устойчивого развития, бережного отношения к окружающей среде и человеку. 

.dmpage-chart-outer.dmpage-small-w-section
	h3.dmpage-chart-title Охват проектом
	.dmpage-chart-flex
		#chart-doughnut-200-5-6.dmpage-chart-doughnut.js-dmpage-chart-doughnut
			canvas
		.dmpage-chd-legend

.dmpage-text
	p Педагоги проходят обучение по 13 образовательным и парциальным программам, среди которых программы по пространственному моделированию, развитию речи, социоигровой технологии обучения, эстетическому и физическому развитию детей. Для педагогов проведена серия обучающих семинаров по программе дополнительного профессионального образования «Оценка и развитие качества дошкольного образования с помощью шкал ECERS». Детские сады оснащаются конструкторами, физкультурными комплексами, методическими пособиями, книгами для детей.
	p Особенностью текущего проекта является работа экспертной команды из числа педагогов детских садов Альметьевска и наличие координационного центра, в который вошли заведующие детских садов города.
	p 
		b Проекты школьного образования
	p Интерактивный научно-познавательный центр «Альметрика» - уникальное музейно-научное пространство, направленное на создание условий для развития детско-юношеского творчества. Более 55 интерактивных экспонатов помогут легко визуализировать понятия времени, массы, длины, тока, света, температуры, количества вещества и энергии. Функционируют лабораторные площадки по биологии и химии. В 2022 году экспозицию посетили 14,5 тыс. человек в том числе 6 тыс. детей в возрасте до 5 лет, проведено более 160 общественных мастер-классов и 6 научных шоу, 13 смен-каникул, около 100 детей посещают научные кружки.
	p В Академии цифрового творчества созданы условия для развития детско-юношеского творчества с целью продвижения компьютерной графики и цифрового творчества. Образовательные форматы академии включают онлайн-курсы, онлайн-подкасты, интенсивы, творческие кампусы. Портфолио Академии составляет 40 курсов и 20 мастер-классов, которые прошли более 2 000 человек. Для «Лиги детских лагерей» была разработана и реализована комплексная воспитательная программа детских заездов 2022, включая специальные детские проекты по популяризации Целей устойчивого развития.
.dmpage-quote
	|  662 человека прошли  обучение
.dmpage-text
	img(src="img/block-5/3.jpg", alt="")
	p Школа анимации А1002 - уникальный проект для детей по развитию отечественной мультипликации, продвижению анимационного творчества, укреплению и популяризация детской и подростковой мультипликации, созданный совместно со студией «Союзмультфильм». Школа анимации включает компьютерные классы для обучения техникам анимации в стиле 2D и 3D, МОКАП студию (захват движения), зоны комиксов, мини-библиотеку, студию звукозаписи, мини-кинозал, фотостудию и др. Создано 18 мультфильмов, 125 выпускников школы. В рамках фестиваля «Каракуз» школа стала организатором второго всероссийского Анимационного фестиваля на открытом воздухе (посетило более 27 000 человек). 
.dmpage-quote
	p 4526 человек прошли обучение
	p 3852 офлайн
	p 674 онлайн
.dmpage-text
	p В 2022 году на базе школы Анимации открылся Цех Анимации - Animators community by Bazelevs. Это международная образовательная модель переквалификации актёров в 3D-аниматоров. 30 человек вошли в проект, лучшие выпускники которого получили практику в международном анимационном проекте «Ходжа Насреддин».
	p Проект «С заботой о будущем: сеть уникальных школьных биолабораторий по микроклонированию растений».  В школьных биолабораториях ученики выращивают растения, выведенные методом микроклонирования. Проект позволяет детям вносить свой вклад в восстановление природного биоразнообразия. Выращенные саженцы Компания приобретает у школ для реализации программ по озеленению. 
.dmpage-quote
	p В 2022 Компания одержала победу в IV Всероссийском конкурсе лучших природоохранных практик «Надёжный партнёр – экология». Проект признан лучшим в номинации «Лучший образовательный проект в сфере экологии»
.dmpage-text
	p В настоящее время открыто 8 школьных биолабораторий, 2 теплицы и 1 мини-ботанический сад. В проекте участвуют 267 школьников и 28 учителей, выращено 300 000 саженцев растений in-vitro.  В 2022 году в рамках научно-исследовательской работы высажено 80 000 деревьев на площади 200 гектар.
	p 
		b Всероссийский образовательный проект «Нефтяная кухня»
	p «Нефтяная кухня» — один из проектов комплексной программы Компании по повышению уровня образования в формате игровых мастер-классов по экологии и нефтехимии для детей и семинаров для учителей. За 4 года в рамках проекта разработано и проведено девять уникальных проектов для подростков и учителей Татарстана с общим охватом более 5000 участников.
	p 
		b Олимпиада юных геологов 
		|  - республиканская открытая полевая олимпиада, организаторами которой выступают Министерство образования и науки Республики Татарстан, Институт геологии и нефтегазовых технологий Казанского федерального университета, ПАО «Татнефть» и малые нефтяные компаний республики. Ежегодная олимпиада проводится в целях популяризации и пропаганды деятельности юношеских геологических объединений клубов юных геологов, как формы дополнительного образования, с целью ранней профессиональной ориентации. В VIII олимпиаде приняло участие 36 команд из общеобразовательных организаций - базовых площадок детско-юношеского геологического движения Татарстана. Количество участников составило 288 школьников.
	img(src="img/block-5/4.jpg", alt="")
	p 
		b Образовательная конференция «ALMET talk» 
		|  — это мероприятие для педагогического сообщества юго-востока Татарстана, направленное на профессиональное развитие и расширение практических навыков работы учителей. В рамках конференции осуществляется расширение межпредметных связей школьной программы и приобретение метапредметных знаний учителями практиками. Мероприятие проводится при поддержке Благотворительного фонда «Татнефть».
	p 
		b Поддержка среднего специального и высшего образования
	p Компания стремится восполнить дефицит кадров на рынке и подготовить квалифицированных специалистов. Подготовленные кадры будут решать задачи нефтяной отрасли и реализовывать новые технологические продукты.
	p «Мы все хотим, чтобы Компания оставалась устойчивой долгие и долгие годы. Добиться этого можно, только развивая науку. Поэтому «Татнефти» нужны амбициозные молодые люди с твердым внутренним стержнем, мы хотим, чтобы их работа оставалась не только в Татарстане, но приносила пользу людям по всей России и по всему миру».
	
		br
		
		div(style="text-align: right;") генеральный директор ПАО «Татнефть» <br>Н.У. Маганов


.dmpage-quote
	p Под эгидой ЮНЕСКО в 2021 г. в Санкт-Петербургском горном университете подписано соглашение о создании Регионального центра компетенций в области минерально-сырьевого комплекса в Республике Татарстан. Центр компетенций под окажет содействие в привлечении представителей международного академического сообщества к процессу подготовки кадров по горнотехническим специальностям в Татарстане и получении международной профессиональной аттестации специалистами отрасли.
.dmpage-text
	p Высшая нефтяная школа — научно-исследовательский центр, который призван обеспечить синергию вузовской, отраслевой и академической науки, сформировать богатый инновационный потенциал для нужд всей нефтедобывающей отрасли России, а также обеспечить конкурентоспособность отечественного высшего образования нефтяного профиля среди ведущих мировых образовательных и научных центров.
	
.dmpage-quote
	p 30% прирост студентов-очников и магистрантов в 2022 году
.dmpage-text
	p При поддержке Компании в Альметьевском государственном нефтяном институте создается Центр биотехнологий, при координации которого планируется выпускать биопродукты, интегрированные в производственные цепочки «Татнефти», например, биотопливо. В качестве основного сырья планируется использовать различную возобновляемую растительную биомассу.
	img(src="img/block-5/5.jpg", alt="")
	p Компания осуществляет строительство кампуса Высшей нефтяной школы – научно-образовательный комплекс со всей необходимой инфраструктурой, в том числе лабораторный и учебные корпуса, современные студенческие общежития, жилые кварталы, два детских сада, культурный центр, спорткомплекс, автопарковки. Завершено строительство и введены в эксплуатацию научно-исследовательский корпус, спорткомплекс и два здания общежитий для студентов.
	
	p 
		b Передовая инженерная школа
.dmpage-quote
	p Федеральный проект «Передовые инженерные школы» создан в 2022 году по инициативе Министерства науки и высшего образования Российской Федерации и направлен на подготовку квалифицированных инженерных кадров для высокотехнологичных отраслей экономики. Является одной из 42 инициатив Правительства РФ, направленных на повышение качества жизни граждан, выполняется в рамках государственной программы «Научно-технологическое развитие Российской Федерации».
.dmpage-text
	p Передовая инженерная школа в области биотехнологий – проект, который получил федеральную грантовую поддержку. В рамках данного проекта уже в этом году открыт набор на магистерскую программу «Искусственный интеллект в биологических системах».

	p Передовая инженерная школа будет способствовать подготовке инженеров-экспертов и руководителей инженерных групп как для высокотехнологичных предприятий реального сектора экономики, так и для научных учреждений, которые в перспективе могут привести к созданию тестовых версий продуктов и открытию стартапов.
	p В 2022 году Передовой инженерной школой запущено два крупных проекта — уникальная модель гирокресла для людей с ограниченными возможностями и датчики онлайн-мониторинга уровня глюкозы.
	p 
		b Школа научных лидеров
	p Концепция предполагает выявление лидеров в науке, поддержку инициатив и инновационное управление проектами. Для повышения профессиональных компетенций участников проводятся тематические лекции и мастер-классы от ведущих экспертов нефтегазовых вузов России. «Татнефть» помогает молодым ученым и аспирантам реализовать перспективные проекты в сфере искусственного интеллекта, BigData, машинного обучения, моделирования, энергосберегающих технологий, материаловедения.
	p Программа «Впроекте» — платформа для реализации бизнес-проектов в команде с ключевыми специалистами Компании. Это среда, которая позволяет вовлекать талантливых студентов и преподавателей и развивать hard и soft skills, а также применять накопленные знания в работе.
.dmpage-quote
	p “ВПРОЕКТЕ”
	p 6 учебных заведений
	p 200 уникальных участников
	p >7 млн руб. выплачено студентам и преподавателям
	p >2800 выполненных задач
.dmpage-text
	p В 2022 году программа «Впроекте» на Всероссийском конкурсе лучших практик трудоустройства молодежи заняла места сразу в двух номинациях:
	p 1 место в номинации «Лучшие цифровые решения для мероприятий по содействию занятости молодежи», 
	p 2 место в номинации «Лучшие практики привлечения молодежи в наукоемкие и высокотехнологичные сферы».
	
	p 
		b Школа гостеприимства
	p По инициативе Компании на базе Альметьевского торгово-экономического техникума создана Школа гостеприимства. Решение о создании Школы гостеприимства продиктовано потребностью в квалифицированных кадрах в сфере туризма и обслуживания как в Татарстане, так и в России. В основе образовательных направлений Школы гостеприимства заложены высокие швейцарские стандарты и классическая школа европейского гостеприимства. Обучены и сертифицированы 15 наставников, актуализированы 4 образовательные программы.
	p При поддержке «Татнефти» в двух учебных корпусах и общежитии техникума запланирован капитальный ремонт. Учебные классы и лаборатории будут оснащены современным оборудованием, соответствующим стандартам World Skills.
	p Федеральный проект «Профессионалитет», в котором Компания выступила индустриальным партнером Альметьевского политехнического техникума. В августе 2022 года подписано соглашение о партнерстве. Проект направлен на создание в системе среднего профессионального образования гибкой модели подготовки квалифицированных кадров в соответствии с актуальными потребностями реального сектора экономики.
.dmpage-quote
	p Проект «Профессионалитет» включен в число стратегических инициатив социально-экономического развития Российской Федерации до 2030 года.
.dmpage-text
	p Международный нефтегазовый молодежный форум «INTERNATIONAL PETROLEUM YOUTH FORUM» проводится ежегодно на площадках «Татнефти».  Форум представляет собой уникальную международную площадку, созданную для объединения и развития талантливой молодежи и решения актуальных задач отрасли. Мероприятия Форума направлены на развитие навыков проектной работы по наиболее актуальным проблемам нефтегазовой отрасли. Такое мероприятие позволяет выявляются перспективные кадры, которым затем предлагается трудоустройство в Компании. В форуме принимают участие представители вузов и молодые специалисты нефтегазового комплекса в возрасте до 35 лет из стран России и ближнего зарубежья.
	h2 Экологическое просвещение
	p 
		b Формирование экологического мировоззрения «школа - вузы - общество»
	p Компания демонстрирует лидерство в формировании экологической культуры через активную работу по улучшению экосреды городов региона: возводит парки и скверы, благоустраивает улицы и проспекты, оснащает муниципалитеты пылесобирающими моющими и снегоуборочными машинами. Особое внимание Компания уделяет обучению подрастающего поколения и воспитанию экологического мышления.
	p Компания заинтересована в улучшении экологической ситуации в регионе, старается привить интерес к данной тематике и оказывает поддержку учебным заведениям. Вклад в довузовское образование оказывает положительный эффект на воспитание будущего поколения.
	img(src="img/block-5/6.jpg", alt="")
	p 
		b Популяризация среди школьников
.dmpage-quote
	p >280 тысяч школьников
	p >300 волонтеров из числа студентов и молодых работников
.dmpage-text
	p Образовательные проекты
	ul 
		li Проект «Посланники ЦУР Татнефти»
		li Экологические смены в детских лагерях
		li Экологические проекты в детских лагерях
		li Проект «В поисках углеродного следа»
	p Конкурсы и инициативы
	ul 
		li Конкурс раздельного сбора отходов 
		li Экологическая полевая экспедиция изучения флоры и фауны по Юго-Востоку РТ
		li Поддержка акции «Всероссийский учет зимующих птиц» по Юго-Востоку РТ
		li 10 проектов, поддержанных БФ «Татнефть»
	p Создание развивающей среды
	ul 
		li Проект «Экологизация г. Альметьевска»
		li Ежегодный заказ на выращивание клонированных саженцев в школьных биолабораториях
		li Создание ботанического сада в СОШ № 2 в п.г.т. Актюбинский
	p Для трансляции Целей устойчивого развития подрастающему поколению запущена корпоративная волонтерская 
		b программа «Посланники ЦУР Татнефти»,
		|  в рамках которой молодые работники Компании, а также студенты ведут просветительскую деятельность. Волонтеры проводят лекции на тему «Самый главный урок в мире», в программе которых предусмотрено обучение бережному отношению к природе, ответственному использованию водных ресурсов, важным принципам социальной коммуникации. Основная задача на 2023 год - трансляция знаний в сфере Целей устойчивого развития для школьников с охватом 100 тысяч детей.
	img(src="img/block-5/7.jpg", alt="")
.dmpage-quote
	p Самый главный урок в мире
	p 81 волонтер
	p 1049 школ
	p 72000 детей
	p 400 уроков
.dmpage-text
	p Стартовало обучающее исследование «В поисках углеродного следа» для школьников Татарстана. Проект позволит ребятам самостоятельно изучить вопросы изменения климата и влияния на него парниковых газов, осознать собственную роль в сохранении экосистемы всей планеты. Создан бот-помощник и сайт с результатами расчетов. Проведено обучающее ток-шоу «Школьникам тоже есть, что сказать», трансляция ток-шоу вышла в «рекомендации» на платформе ВКонтакте.
.dmpage-quote
	p 
		b 7 
		|  районов РТ
	p
		b 159 
		|  учителей
	p
		b 2650
		|  учеников
.dmpage-text
	p Популяризация среди молодежи
	p Образовательные проекты
	ul 
		li Обучение по ЦУР в рамках молодежных форумов
		li Экологические курсы Корпоративного университета
		li Курс «Основы энергоэффективности и энергосбережения» на всех направлениях подготовки
.dmpage-quote
	b >8000 
	|   молодежи в т.ч. 
	b >1000
	|  студентов
.dmpage-text
	p Проекты и инициативы
	ul 
		li Поддержано 33 инициативных проекта в номинациях «Татнефть-ЭКО» и «Татнефть-Добро»
		li ЭКО-сплавы по реке Степной Зай
		li Волонтерские акции и субботники
		li «Энергопатруль» студентов АГНИ
		li Энергоаудит студентами АГНИ объектов промысловой инфраструктуры 
	p Популяризация среди взрослого поколения
	p Образовательные проекты
	ul 
		li Модуль «Менеджмент устойчивого развития» программ ЕМВА и МВА для ТОП-менеджмента
		li Целевая программа обучения «Энергосбережение и энергоэффективность» для ключевых специалистов бизнес-направлений
		li Экологический модуль в рамках целевой образовательной программы «Татнефть-Мастер-2030»
		li Дистанционные курсы для всех работников:
			ul 
				li «Климатическая повестка, цели устойчивого развития и позиция Компании в области климата»
				li «Оценка экологических последствий деятельности энергетических компаний» и др.
	p Проекты и инициативы
		ul 
			li Акция «День эколога» 
			li Экологические сплавы по реке Степной Зай
			li Участие в субботниках
			li Зарыбление рек
			li Восстановление популяризации «краснокнижного» ирбиса и др.
