
.dmpage-text
	img(src="img/un-g-c-logo.jpeg", alt="")
	p С 2019 года Компания участник Глобального договора ООН, принявший обязательства по реализации 10 принципов и 17 Целей устойчивого развития.
	h2 Права человека и трудовые отношения
	p Компания придерживается и разделяет принципы фундаментальных международных деклараций и конвенций в области прав человека и трудовых отношений, в том числе: 
	ul 
		li Всеобщей декларации прав человека ООН 
		li Декларации по окружающей среде и развитию ООН ◎ Руководящих принципов ОЭСР для многонациональных предприятий
		li Декларации основополагающих прав и принципов в сфере труда Международной организации труда (МОТ) 
		li Конвенции №87 МОТ «Относительно свободы ассоциаций и защиты права на организацию»
		li Конвенции №98 МОТ «Относительно применения принципов права на организацию и заключение коллективных договоров» 
		li Конвенции №111 МОТ «Относительно дискриминации в области труда и занятий»
	h2 Экология и климат
	p В области экологии и климата Компания учитывает в своей деятельности и поддерживает ряд основополагающих инициатив:
	ul 
		li Стандарт и рекомендации Протокола по выбросам парниковых газов (GreenhouseGas Protocol)
		li Science Based Targets — постановка научно-обоснованных целей по снижению выбросов парниковых газов
		li Инициатива нефтегазовой промышленности в области климата (OGCI)
		li Рекомендации для раскрытия компаниями информации о финансовых рисках, которые возникают в связи с глобальными изменениями климата (TCFD)
	h2 Антикоррупционная деятельность
	p Компания придерживается принципов и норм, содержащихся в следующих документах:
	ul 
		li Конвенция Организации Объединенных Наций против коррупции, (принята в г. Нью-Йорке 31.10.2003 Резолюцией Генеральной Ассамблеи ООН) 
		li Конвенция об уголовной ответственности за коррупцию (заключена в г. Страсбурге 27.01.1999 ETS №173) 
		li Конвенция Организации экономического сотрудничества и развития по борьбе с подкупом должностных лиц иностранных государств при проведении международных деловых операций, (принята в г. Стамбуле 21.11.1997) 
		li Антикоррупционная хартия Российского бизнеса 
	h2 Социальная хартия российского бизнеса 
	p Компания придерживается определенных Хартией принципов ответственного ведения бизнеса, охватывающих аспекты экономической и финансовой устойчивости, качество продукции, соблюдение прав человека, деловую этику и взаимоотношения с партнерами, потребителями, работниками, экологическую безопасность, участие в развитии местного сообщества.