
.dmpage-text
	h2.block-section-name Подход к управлению

	p В Компании определены единые для всей Группы «Татнефть» процессы управления социальной политикой.
	p Принципы управления социальной политикой:
		ul 
			li 
				b эффективность
				|  – затраченные на реализацию программ средства должны ощутимо помогать в решении проблем. Результаты программ подлежат регулярной оценке и учету
			li 
				b системность
				|  – социальные программы носят регулярный и планомерный характер
			li 
				b значимость
				|  – Компания стремится к тому, чтобы социальные программы были максимально адресными, своевременными и отвечали насущным нуждам общества
			li 
				b открытость
				|  – Компания стремится к разработке и реализации социальных программ на основе диалога и сотрудничества с заинтересованными сторонами
.dmpage-table-section
	.dmpage-table-overflow
		table.dmpage-table.dmpage-table--simple
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			tbody
				tr
					td(rowspan='2')
						p Стратегический уровень
					td
						p Совет директоров
					td
						ul
							li
								| определяет социальную политику, устанавливает стратегические цели и направления развития
							li контролирует реализацию политики
							li утверждает нефинансовую отчетность
				tr
					td(style="display:none;")
					td
						p Комитет по устойчивому развитию и корпоративному управлению Совета директоров
					td
						ul
							li
								| осуществляет планирование, определяет и утверждает цели и мероприятия в области социального развития
							li контролирует и оценивает реализацию мероприятий и возникновения рисков
							li формирует позицию предоставления информации заинтересованным сторонам
				tr
					td(rowspan='4')
						p Операционный уровень
					td(colspan='2')
						p Генеральный директор и Правление
				tr
					td(style="display:none;")
					td
						p Отдел социальных программ
						ul
							li группа корпоративных социальных программ
							li группа внешних социальных программ
							li группа развития блока социальных программ и управления эффективностью
							li центр сопровождения социальных программ 
					td
						p
							| Разработка мероприятий, новых направлений деятельности, сопровождение и контроль целевого использования средств, оценка эффективности деятельности социальных объектов по направлениям:
						ul
							li строительство и ремонт социальных объектов, социальная ипотека
							li дошкольное и дополнительное образование
							li сохранение культурного наследия
							li оздоровление и лечение работников, пенсионеров Компании
							li организация отдыха и оздоровления детей работников Компании
							li сопровождение программ добровольного медицинского страхования
							li развитие физкультуры и спорта
							li работа с ветеранами и неработающими пенсионерами Компании
							li развитие конного спорта 
							li взаимодействие с населением в регионах присутствия
				tr
					td(style="display:none;")
					td
						p Управление социальными объектами
					td
						ul
							li разработка Стратегии развития объектов социальной сферы
							li
								| разработка планов и мониторинг исполнения хозяйственной деятельности объектов социальной сферы
				tr
					td(style="display:none;")
					td
						p Благотворительный фонд
					td
						ul
							li
								| реализация социальной поддержки образования, культуры, науки, искусства, просвещения, спорта, институтов развития гражданского общества, оказание материальной помощи населению
				tr.dmpage-table__tr-no-bb
					td(rowspan='3')
						p Заинтересованные стороны
					td
						p Профсоюз «Татнефть»
					td(rowspan='3')
						ul
							li вовлеченность сотрудников и пенсионеров Компании в социальную политику
							li вовлеченность местного населения в социальную политику Компании
							li
								| определение уровня эффективности распределения корпоративных ресурсов и взаимодействия с заинтересованными сторонами
							li определение запросов и ожиданий социальной среды
				tr.dmpage-table__tr-no-bb
					td(style="display:none;")
					td Общественные организации
				tr
					td(style="display:none;")
					td Местное население
		
.dmpage-text
	p Советом директоров ежегодно рассматривается социальная политика Компании и планы по повышению уровня управления социальными программами и расходами в целях повышения эффективности социальных инвестиций. Компания формирует централизованное управление социальными программами и расходами, внедряет методологию отбора социальных инициатив на основе целеполагания, долгосрочного планирования и оценки эффективности.
	p Инвестиционная программа Компании основана на расширении деятельности, освоении новых активов, строительстве и модернизации производственных мощностей, что неразрывно связано с необходимостью создания социально ориентированной и экологически безопасной инфраструктуры. Стабильный спрос на продукцию и услуги Компании в регионах деятельности создает устойчивые возможности для развития местного бизнеса, гарантирует рабочие места и занятость местного населения, в том числе, в смежных отраслях.
	p Совместно с муниципальными органами власти Компания реализует проекты по благоустройству и развитию инфраструктуры городов и поселков, принимает участие в строительстве социально значимых объектов, оказывает содействие развитию образования, здравоохранения, культурной среды, сохранения духовного наследия, спорта. Формируя социальные программы, Компания учитывает социальные приоритеты государственной политики — Концепцию долгосрочного социально-экономического развития Российской Федерации и Стратегию социально-экономического развития Республики Татарстан.
	p В отчетном году была сформирована внутренняя модель управления социальной деятельностью, позволяющая перейти к системному подходу при решении актуальных общественных вызовов с учётом действующих федеральных и республиканских программ и повысить эффективность социальных инвестиций Компании.
	p GRI 203-1
.dmpage-table-section.dmpage-table-section--small
	h4.dmpage-table-title Социальные инвестиции, млн руб.
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th
						p Направления расходов
					th
						p 2020 
					th
						p 2021 
					th
						p 2022
			tbody
				tr
					td
						p
							| Социальные расходы (коллективный договор, погашение ссуды, юбилеи предприятий и др.)
					td
						p 458
					td
						p 784
					td
						p 1 262
				tr
					td
						p
							| Добровольное медицинское страхование, добровольное страхование жизни, негосударственное пенсионное обеспечение
					td
						p 523
					td
						p 351
					td
						p 883
				tr
					td
						p Отчисления в Государственный Жилищный Фонд
					td
						p 4 989
					td
						p 6 769
					td
						p 7 865
				tr
					td
						p Благотворительность
					td
						p 5 536
					td
						p 5 432
					td
						p 7 914
				tr
					td
						p Вклады в развитие социальных объектов
					td
						p 642
					td
						p 3 386
					td
						p 1 494
				tr
					td
						p Содержание социальных объектов
						p (санатории, оздоровительные лагеря, базы отдыха и прочие)
					td
						p 2 767
					td
						p 1 692
					td
						p 1 783
				tr
					td
						p Инвестиции в социальную сферу
						p (капитальные вложения)
					td
						p 1 542
					td
						p 1 051
					td
						p 1 524
				tr
					td
						p Поддержка спорта
					td
						p 3 728
					td
						p 3 938
					td
						p 4 166
				tr
					td
						p Итого
					td
						p 20 185
					td
						p 23 403
					td
						p 26 891

	
.dmpage-text
	p GRI 413-1
	p
		b Оценка воздействия социальных инвестиций
		|  на общество ведётся через каналы обратной связи (опросы, голосования и др.) с последующей корректировкой программ при необходимости.
	p Определение ключевых инструментов оценки социального воздействия, а также сбор обратной связи и выбор приоритетов, в т.ч. с возможным привлечением социологов и консультантов, реализуется на процессном уровне.
	p Определены эффективные в каналы коммуникаций, среди которых 
	ul 
		li корпоративные площадки в социальных сетях (аккаунты в Telegram-канале, ВКонтакте)
		li корпоративные СМИ
		li сообщества блогеров
		li пресс-мероприятия с лояльными СМИ
		li конкурсы, активности в ходе праздничных мероприятий и т.д.
	p Эффективной в настоящее время является оценка деятельности «Татнефти» через цифровые площадки, где проводятся опросы и через различные метрики, определяется уровень вовлеченности аудитории; оценивается тональность, уровень лояльности к проектам Компании.
	p Дальнейшее выстраивание процесса сбора обратной связи (удовлетворенность благополучателей, мониторинг проблем общества) реализовано путём проведения полноценного социологического исследования со сбором статистических показателей проектов (охват и др. метрики).
	p Геополитические реалии, влияющие на микро и макросреду вокруг Компании и связанные с ними риски, не позволяют использовать для взаимодействия с аудиторией такой действенный инструмент, как Общественные советы. Их проведение в 2022 году было приостановлено. При нормализации ситуации Компания вернется к практике их ежегодного проведения.

