
.dmpage-text
	h2.block-section-name  Развитие социальной инфраструктуры
	p Компания с начала своего существования реализует инициативы по обеспечению открытости, безопасности, жизнестойкости и экологической устойчивости городов и населенных пунктов на территории деятельности. Развитие социальной инфраструктуры, защита окружающей среды и экологической безопасности, обеспечение жильем, поставки тепло- электроэнергии, развитие транспорта и дорог являются неотъемлемым элементом деятельности Компании в регионах присутствия.
	p Компания ежегодно финансирует 
		b строительство, реконструкцию и ремонт объектов социальной инфраструктуры, оказывает поддержку материально-технической базы, осуществляет реализацию целевых программ и проектов в городах и населенных пунктах 
		|  регионах присутствия.
.dmpage-quote
	p  В 2022 году на развитие социально-культурной сферы и общественной инфраструктуры выделены финансовые средства в сумме 6,9 млрд. руб., реализовано 645 проектов


.dmpage-chart-outer.dmpage-small-w-section
	h4.dmpage-chart-title Строительство, реконструкция и благоустройство

	.dmpage-chart-flex
		#chart-doughnut-200-5-3.dmpage-chart-doughnut.js-dmpage-chart-doughnut
			canvas
		.dmpage-chd-legend


.dmpage-chart-outer.dmpage-small-w-section
	h4.dmpage-chart-title Материально-техническое оснащение
	.dmpage-chart-flex
		#chart-doughnut-200-5-4.dmpage-chart-doughnut.js-dmpage-chart-doughnut
			canvas
		.dmpage-chd-legend


.dmpage-chart-outer.dmpage-small-w-section
	h4.dmpage-chart-title Реализация целевых программ и проектов

	.dmpage-chart-flex
		#chart-doughnut-200-5-5.dmpage-chart-doughnut.js-dmpage-chart-doughnut
			canvas
		.dmpage-chd-legend


.dmpage-accordions-wrap
	h4.dmpage-accordions-title В рамках развития социальной инфраструктуры в 2022 году
	.dmpage-accordions
		.dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text Реализованы проекты
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					p в г. Альметьевск
					ul
						li строительство «Индустриального сквера» с устройством скейтпарка 
						li реконструкция здания под Детскую художественную школу 
						li капитальный ремонт центральной мечети со строительством пристроя (завершаются работы)
						li капитальный ремонт школы № 1 (завершаются работы) 
						li ремонт и оснащение центра ветеринарной медицины
					p в г.Нижнекамск
					ul 
						li строительство инженерного лицея № 38 «Вектор»
						li строительство центра экстренной медицины
						li строительство и оснащение детского сада № 100 «Эврика»
					p в г. Бугульма
					ul 
						li капитальный ремонт дома ремесел
					p в г. Лениногорск
					ul 
						li строительство ледового дворца «Нефтяник»
					p  в г. Азнакаево
					ul 
						li строительство ЗАГС
		.dmpage-accordion
			.dmpage-accordion-head
				.dmpage-accordion-head__text Осуществляется проектирование
			.dmpage-accordion-body
				.dmpage-accordion-body__text
					p в г. Альметьевск
					ul
						li киноконцертного зала
						li картинной галереи
						li перинатального центра
						li спортивного комплекса в школе № 5 тренировочного манежа в спортивном комплексе «Tennis City»
						li спортивно-стрелкового комплекса 
						li благоустройства городских скверов и побережья городского водохранилища
						li молодежного центра, общественного центра, дома культуры «Иске Элмет»
						li (в рамках проекта по созданию общественных центров и общественных пространств)
					p в п.г.т. Нижняя Мактама
					ul 
						li крытого плавательного бассейна
						li дома культуры
					p в г.Нижнекамск 
					ul 
						li крытого катка с искусственным льдом (Taneco Arena) 
					p в г. Бугульма
					ul 
						li детской школы искусств
					p  в г. Азнакаево
					ul 
						li теннисного центра
.dmpage-text
	p 
		b Содействие созданию инклюзивной среды для людей с ограниченными возможностями
		|  Компания стремится развивать инклюзивную среду для людей с ограниченными возможностями на рабочих местах и в инфраструктуре городов и населенных пунктов. Компания оборудует пандусами административные здания и ряд производственных объектов, где допускается работа людей с ограниченными возможностями.
	p В отдельное направление выделена работа по развитию возможностей образования для людей с ограниченными возможностями, начиная с младшего возраста. В рамках реализации ЦУР 4 «Качественное образование» разрабатывается программы по поддержке детей, родителей, учителей и воспитателей по созданию условий для обучения детей с ограниченными возможностями, в т.ч. в отдаленных населенных пунктах в регионах деятельности.
	p 
		b Участие в национальных проектах 
	p В рамках стратегической цели «Долгосрочного устойчивого развития Компании за счет поддержания стабильности и благоприятной среды в регионе деятельности» реализуется участие в Национальном проекте «Индекс качества городской среды» совместно с администрациями городов региона. Для каждого города установлен показатель цели в зависимости от позиций в рейтинге 2020 г. – для Альметьевска и Нижнекамска первые три позиции рейтинга, - для Бугульмы, Елабуги, Лениногорска – первые пять позиций, - для Азнакаево, Бавлов, Нурлата –не ниже 10-й позиции рейтинга. При этом, по всем блокам рейтинга («Безопасность, жизнь и здоровье», «Инфраструктура», «Социально-культурное и деловое развитие», «Экология») города должны попадать в категорию «благоприятная городская среда». Софинансирование мероприятий осуществляется, в том числе, за счет грантов Компании.
