
.dmpage-text
	p Компания вносит свой вклад в развитие государственной и местных экономик на территориях своей деятельности, создавая высокую добавленную стоимость, обеспечивая рабочие места, привлекая местных поставщиков и подрядчиков, содействуя развитию смежных отраслей и направляет добровольные инвестиции в развитие социальной инфраструктуры. Компания реализует проекты в области здравоохранения и здорового образа жизни, образования, культуры, спорта для людей всех возрастов, поддерживает сохранение духовных и национальных традиций коренного населения, а также оказывает поддержку социально уязвимым слоям населения в целях развития благоприятной социальной среды и повышения качества жизни на территориях своей деятельности для всех, включая инклюзивные возможности.
	p Компания является одним из крупнейших налогоплательщиков Российской Федерации и основным налогоплательщиком в Республике Татарстан, обеспечивая стабильный вклад в доходы государственного бюджета, что содействует реализации государственной социально-экономической политики. Предприятия Группы «Татнефть» являются градообразующими в большинстве населенных пунктов регионов деятельности.
	p Осознавая значимость социального партнерства бизнеса и общества для устойчивого развития регионов своей деятельности, Компания следует принципам высокой корпоративной ответственности, создавая стабильную экономическую инфраструктуру государства и содействуя социальному прогрессу. Компания вносит масштабный вклад в обеспечение благоприятных условий и качества жизни на территориях своей основной деятельности.
	p Компания стремится к поддержанию статуса лучшего работодателя и лучшего партнера, как в своей деловой активности, так и во взаимодействии с органами государственной власти и управления, образовательными, некоммерческими и общественными учреждениями, местным населением и обществом в целом на основе следующих приоритетов:
	ul 
		li постоянное улучшение социальной инфраструктуры территорий деятельности 
		li обеспечение развития здорового образа жизни, поддержка здравоохранения
		li содействие повышению качества образования на всех уровнях
		li развитие научно-технологической базы и инновационной инфраструктуры
		li содействие качественному улучшению жилищных условий персонала и местного населения
