
.dmpage-text
	h2.block-section-name  Сохранение культурного наследия
	h3 Помнить свою историю, помнить свои корни, знать, откуда мы пришли
	p Искусство, говорящее про главные человеческие ценности, гармонично вписывается в жизнь городов и формирует их культурный код, выводит развитие городской среды на качественно новый уровень. Используя язык искусства, Компания создает собственный культурный код, основанный на бережном отношении к нашим традициям, ценностям и национальным особенностям, и, в то же время, сочетающийся с современными, высокотехнологичными, экологичными и ответственными принципами ведения бизнеса. Так мы прививаем уважение к своим корням, любовь к малой родине, восприимчивость к прекрасному во всех его проявлениях, сохраняется историческое и культурное наследие.
.dmpage-quote
	p Формула культурного кода Компании = 
	p Миссия и ценности Компании + Цели устойчивого развития + Национальные традиционные ценности
.dmpage-text
	p 
		b Культурные проекты Компании
	
	img(src="img/block-5/8.jpg", alt="")
	p «Сказки о золотых яблоках» - художественный проект по благоустройству и развитию городской среды (паблик-арт) Альметьевска. Паблик-арт-программа длится с 2017 года и была завершена в 2022 году. В ее рамках «Татнефть», бюро «Новь» и Институт исследования стрит-арта (Санкт-Петербург) разрабатывали и создавали в городе уникальные арт-объекты. Концепция программы призвана связать воедино монументальные росписи зданий, скульптуры, медиа инсталляции, ландшафтно-архитектурные решения. Все объекты сплетают реальность и волшебный фольклор в единое городское пространство. С момента старта программы нефтяная столица Татарстана обогатилась почти четырьмя десятками объектами уличного искусства, над созданием которых работала команда художников со всего мира. Было проведено более 100 мероприятий разного формата. В рамках проекта организован цикл авторских экскурсий, каждая из которых открывает город и искусство на его улицах с новой стороны.
	p Теперь проект будет продолжаться уже силами местных талантов. Для этого Компанией создается уникальное арт-пространство «Открытые мастерские», где горожане смогут создавать свои арт-объекты. Создание резиденции для художников и ремесленников удачно раскрывает тему заключительного сезона паблик-арт-программы, которая обозначена как «Забота». Это метафорическая передача всего сделанного в рамках проекта жителям города, которые теперь сами продолжат заботиться о его красоте и эстетическом наполнении.
	p Благотворительным фондом «Татнефть» реализуется различные проекты по изучению и популяризации малоизвестного музыкального наследия нашего региона, реконструкции старинных инструментов и самих музыкальных произведений народов Поволжья. Важным элементом развития культуры стала и организация концертов выдающихся российских деятелей искусства.
	img(src="img/block-5/9.jpg", alt="")
	p Проект «Информационно-выставочное пространство» –просветительский центр и площадка для коммуникации разных групп населения, играет важную роль в формировании и развитии культурной идентичности региона, транслирует его символы и ценности для гостей и жителей города. На площадке работает Выставка музыкальных инструментов народов мира. Ее коллекция представляет собой собирательный музыкальный образ народов мира — состоит из музыкальных инструментов больших и малых этнических групп, народов, проживающих в разных странах мира и представляет самое большое в России систематизированное собрание общетюркских инструментов. Выставку музыкальных инструментов в 2022 году посетило более 3 400 человек.
	
	img(src="img/block-5/10.jpg", alt="")
	p Проект «Кадим Алмет», организованный при выставке музыкальных инструментов народов мира из 16 музыкантов и вокалистов, возрождает аутентичную музыку и корневую культуру. Дебютный альбом коллектива стал победителем российской премии этнической музыки Russian World Music Awards 2022 в номинации «Лучший аутентичный проект».
	p Кроме «Кадим Алмет» развивается и другой проект — ансамбль «Карлыгач». Он создан на базе детской музыкальной школы № 2 г. Альметьевска. Коллектив является лауреатом региональных, российских и международных конкурсов. 
	p «Tatneft Music Art» — это культурный проект Благотворительного фонда «Татнефть», представляющий цикл бесплатных концертов профессиональных и студенческих творческих коллективов республики Татарстан, где вы можете знакомиться с классической музыкой, мировыми культурными традициями, инструментальным исполнительством.
	p Проект «Культурная среда города» реализуется с 2016 года. За это время участниками проекта стали 9 городов юго-востока республики. На площадках проекта выступают профессиональные и самодеятельные художественные коллективы, писатели и поэты, ансамбли, художники, танцоры, спортсмены и приглашенные популярные артисты республики. 
	p При поддержке благотворительного фонда «Татнефть» создан социальный театр - «Инклюзион. Школа», который дает возможность заниматься творчеством «невидимым» людям – трудным подросткам, пенсионерам, людям с инвалидностью и др.  Театр является инклюзивной площадкой, где театральные профессионалы Татарстана и России вместе с горожанами делают и показывают современный театр. В театральной студии обучаются люди с особенностями развития. В качестве волонтеров в занятиях принимают участие профессиональные актеры, студенты.
	img(src="img/block-5/11.jpg", alt="")
	p Альметьевский уличный театр «Легкие крылья» − первый профессиональный уличный театр в Республике Татарстан. Он был создан с целью развития уличного театрального искусства на основе традиций российской и татарстанской театральной школы, и подготовки уличных артистов. Театр «Легкие крылья» является организатором прошедшего в июле 2022 года II фестиваля уличных театров «Легкие крылья» при поддержке Благотворительного фонда «Татнефть» и Президентского фонда культурных инициатив. Ежегодно коллектив театра принимает участие в Международных и Всероссийских фестивалях уличного искусства.

	img(src="img/block-5/12.jpg", alt="")
	p Этно-модерн фестиваль «Каракуз»
	p Компания способствует сохранению и укреплению культуры многонационального народа республики, возрождает многовековые традиции проведения ярмарок и уличных выступлений, создающие благоприятную атмосферу для самореализации талантливых, творческих людей и коллективов. Второй год подряд проводится масштабный этнокультурный фестиваль «Каракуз» в городах юго-востока Татарстана
.dmpage-quote
	a.dmpage-quote__link(href="https://karakuz-fest.ru/")

	|  >65 тыс. человек  участники и зрители
.dmpage-text
	p Проект «Историю вершат люди»
	p Проект направлен на сохранение исторической правды о становлении и развитии нефтяной промышленности РФ и РТ, увековечивание памяти ветеранов Компании, сервисных предприятий, смежных отраслей, бюджетной сферы, внесших значительный вклад в создание и становление ТЭК региона и республики, в развитие нашего края. В рамках проекта организовано и проведено более 2 000 видео-интервью у ветеранов на территории Республики Татарстан, Москвы, Самары, Тольятти.
	p В 2022 году был инициирован Проект по оцифровке старинных рукописей, имеющих статус «Книжный памятник». Основные цели создания — это обеспечение сохранения исторического и культурного наследия в регионах деятельности Компании, содействие внедрению современных технологий в архивное дело. В рамках проекта по изучению, каталогизации, оцифровке и размещению в сети Интернет арабографических книг и рукописей из коллекций Научной библиотеки им. Н.И. Лобачевского К(П)ФУ и Института восточных рукописей РАН было оцифровано более 5 000 арабографичных рукописей. Ориентировочный общий объем для оцифровки составляет 30 000 рукописей.
	p Проект «Поисковый отряд «Татнефть – поиск»
	p Отряд был создан в 28 ноября 2015 года, является структурным подразделением РОМО «Объединение «Отечество» Республики Татарстан ООД «Поисковое движение России». За весь период деятельности отряд провел поисковые экспедиции в Новгородской, Ленинградской, Калужской, Ростовской, Тверской, Мурманской и др. областях, Краснодарском крае, Республике Карелия, Республике Крым, Республике Беларусь. Участниками отряда подняты останки 305 бойцов Красной армии, установлены имена 51 солдата. В школе №25 г. Альметьевска создан музей Боевой Славы, в котором выставлены экспонаты, найденные на местах бывших боевых действий. В 2022 году отрядом в Центральном архиве Московской области РФ изучены и проанализированы документы более 500 дел.
	p Музей нефти
	p Историю становления и развития нефтяной промышленности Татарстана хранит комплекс «Музей нефти», созданный Компанией. Он включает два музея, расположенных в Лениногорском районе – в г. Лениногорск и с. Шугурово.  Первый в СССР Музей нефти создан 1 октября 1968 года на Родине Татарстанской нефти – в г. Лениногорске. Музей трепетно ведет нефтяную летопись, отражая в экспозициях ее самые ярчайшие и значимые страницы. Музей под открытым небом – музейный комплекс с экспозициями, рассказывающими об истории создания и развития первого крупного промышленного предприятия Шугуровском нефтебитумном заводе.





