
//.dmpage-quote
	a.dmpage-quote__link(target="_blank" href="https://www.tatneft.ru/sustainable_development/ekologiy/interaction_with_the_local_population_leading_traditional_way_of_life")

	|  Позиция Компании по взаимодействию с местным населением, ведущим традиционный образ жизни
 



.dmpage-text
	img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/policy_interaction_with_the_local_population.jpg", alt="")
	
.dmpage-quote
	a.dmpage-quote__link(target="_blank" href="https://www.tatneft.ru/img/politika_po_vzaimodeistviyu.pdf")
	|  Позиция Компании по взаимодействию с местным населением, ведущим традиционный образ жизни

.dmpage-text
	p Компания придерживается принципов рационального использования природных ресурсов, сохранения благоприятной окружающей среды, природных комплексов и биологического разнообразия систем, сохранения объектов историко-культурного наследия и недопущения экологического ущерба от хозяйственной деятельности на территориях традиционного природопользования коренных малочисленных народов и общин малочисленных народов, проживающих в районах деятельности.
	p Ограниченное воздействие достигается за счёт внедрения энергоэффективных технологий, применения экологически чистых и альтернативных источников энергии, минимизации образования отходов и использования перерабатываемых материалов. Компания не осуществляет свою деятельность в местах древних поселений, памятников истории и культуры, культовых сооружений, местах захоронения предков и иных объектах, имеющих историческую и культурную ценность.
	p В Компании действует «Политика Группы «Татнефть» по взаимодействию с местным населением, ведущим традиционный образ жизни, сохранению экосистемы территорий традиционного природопользования и традиционного образа жизни местного населения, проживающего в районах деятельности Группы «Татнефть».
	p Основными механизмами реализации Политики являются:
	ul 
		li заключение соглашений об участии Компании в социально-экономическом развитии региона с администрациями субъектов Российской Федерации и муниципальных образований на территории традиционного проживания и традиционной хозяйственной деятельности малочисленных народов Российской Федерации 
		li информирование, проведение консультаций, организация каналов обратной связи, сотрудничество с общественными организациями малочисленных народов
	p Интересы коренных и малочисленных народов затрагиваются при реализации геологоразведочных работ, строительстве зимних автомобильных дорог на территории традиционно используемой для оленьих пастбищ. При осуществлении деятельности Компания заключает возмездное соглашение об установлении частного сервитута земельного участка (при временном занятии земельных участков оленьих пастбищ). Ежегодно проводятся работы по мониторингу окружающей среды и состоянию недр на территории лицензионных участков компании в Ненецком автономном округе (НАО). Экологическая обстановка на контролируемых участках в 2022 году, по контролируемым показателям в почве и воде - допустимая близкая к чистой.
	p Компания оказывает благотворительную помощь на реализацию спортивных мероприятий, проводимых среди местного коренного населения.
	p Конфликты с коренным населением и случаи нарушений, затрагивающих права коренных и малочисленных народов, в 2022 году отсутствовали.