extends layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Экологическая программа

			h1.dmpage-h1 Экологическая программа

		.dmpage
			include ./partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/649d25b6e61e7812629059.jpg", alt="")

			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p Достижение установленных целей в области экологической безопасности, снижения воздействия на окружающую среду, в том числе в области климатических аспектов и выбросов парниковых газов, реализуется через последовательно формируемые природоохранные программы. С 1990 года были успешно реализованы четыре природоохранные программы. Примененный комплексный подход к решению экологических вопросов позволил добиться улучшения состояния окружающей среды и снижения техногенного влияния нефтедобычи.
						p С 2021 года действует пятая экологическая программа Компании, разработанная на период до 2025 года с целью поддержания состояния окружающей среды региона деятельности Компании на нормативно допустимом уровне, соответствующем потенциальным возможностям самовосстановления природных экосистем.
						p Экологическая программа объединяет усилия всех предприятий Группы «Татнефть» по сохранению качества окружающей среды. Программа учитывает не только законодательные требования к природоохранной деятельности, но и взятые на себя дополнительные обязательства. Основой программы является риск-ориентированный подход и цели по снижению техногенного воздействия на окружающую среду.
						h1.red тут таблица!!!
						

block scripts
