extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Устойчивое развитие

			h1.dmpage-h1 Окружающая среда

		.dmpage
			include ./partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/649d25b6e61e7812629059.jpg", alt="")

			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p Компания придерживается принципов Глобального договора ООН и оценивает воздействия планируемой и осуществляемой деятельности на окружающую среду при принятии управленческих и инвестиционных решений наряду с другими значимыми факторами, а также в решении экологических проблем, вопросов промышленной безопасности и охраны труда.
						p При осуществлении своей деятельности Компания отдает приоритет мероприятиям, направленным на предупреждение возможного негативного воздействия на окружающую среду. Выявление опасностей, оценка и управление рисками в области обеспечения охраны окружающей среды, климатическими рисками осуществляется на всех этапах жизненного цикла производства, начиная с предпроектных изысканий.
						p Утвержденная «Стратегия развития в области промышленной безопасности, охраны труда и окружающей среды Группы «Татнефть» до 2030 года» определяет цели и ответственность Компании в области климатических аспектов и выбросов парниковых газов. Компания применяет в своей производственной деятельности передовые научные достижения и инновационные технические решения, системы и процессы с учётом мирового опыта и наилучших доступных технологий в целях предотвращения изменения климата, а также снижения негативного воздействия на окружающую среду.

					.dmpage-quote
						a.dmpage-quote__link(href="https://www.tatneft.ru/sustainable_development/industrial_safety")

						|  Внутренним документом, отражающим позицию и подходы Компании в области воздействия на окружающую среду и климат, является
						b «Политика ПАО «Татнефть» им. В.Д. Шашина в области промышленной безопасности, охраны труда и окружающей среды с учетом изменения климата».

					.dmpage-accordions-wrap
						h2.dmpage-accordions-title Ключевые приоритеты
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Минимизация влияния на изменение климата
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li сокращение выбросов парниковых газов и снижение углеродного следа
											li применение экологически чистых и альтернативных источников энергии
											li увеличение уровня полезного использования попутного нефтяного газа
											li контроль воздействия на окружающую среду в цепочке поставок и меры по минимизации такого воздействия

							.dmpage-accordion.js-dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Благоприятные окружающая среда и условия жизнедеятельности
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li сокращение выбросов парниковых газов и снижение углеродного следа
											li применение экологически чистых и альтернативных источников энергии
											li увеличение уровня полезного использования попутного нефтяного газа
											li контроль воздействия на окружающую среду в цепочке поставок и меры по минимизации такого воздействия

							.dmpage-accordion.js-dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Сохранение естественных экологических систем и биологического разнообразия
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li сокращение выбросов парниковых газов и снижение углеродного следа
											li применение экологически чистых и альтернативных источников энергии
											li увеличение уровня полезного использования попутного нефтяного газа
											li контроль воздействия на окружающую среду в цепочке поставок и меры по минимизации такого воздействия

							.dmpage-accordion.js-dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Рациональное использование природных ресурсов
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li сокращение выбросов парниковых газов и снижение углеродного следа
											li применение экологически чистых и альтернативных источников энергии
											li увеличение уровня полезного использования попутного нефтяного газа
											li контроль воздействия на окружающую среду в цепочке поставок и меры по минимизации такого воздействия

							.dmpage-accordion.js-dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Улучшение системы управления воздействием на окружающую среду
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li сокращение выбросов парниковых газов и снижение углеродного следа
											li применение экологически чистых и альтернативных источников энергии
											li увеличение уровня полезного использования попутного нефтяного газа
											li контроль воздействия на окружающую среду в цепочке поставок и меры по минимизации такого воздействия


					.dmpage-text
						p Компания придерживается принципов Глобального договора ООН и оценивает воздействия планируемой и осуществляемой деятельности на окружающую среду при принятии управленческих и инвестиционных решений наряду с другими значимыми факторами, а также в решении экологических проблем, вопросов промышленной безопасности и охраны труда.
						p При осуществлении своей деятельности Компания отдает приоритет мероприятиям, направленным на предупреждение возможного негативного воздействия на окружающую среду. Выявление опасностей, оценка и управление рисками в области обеспечения охраны окружающей среды, климатическими рисками осуществляется на всех этапах жизненного цикла производства, начиная с предпроектных изысканий.
						p Утвержденная «Стратегия развития в области промышленной безопасности, охраны труда и окружающей среды Группы «Татнефть» до 2030 года» определяет цели и ответственность Компании в области климатических аспектов и выбросов парниковых газов. Компания применяет в своей производственной деятельности передовые научные достижения и инновационные технические решения, системы и процессы с учётом мирового опыта и наилучших доступных технологий в целях предотвращения изменения климата, а также снижения негативного воздействия на окружающую среду.

					.dmpage-table-section
						h2.dmpage-table-title.dmpage-table-title--small-w Обращение с отходами по бизнес – направлениям, тыс. т
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								thead
									tr
										th(rowspan='2' ) Бизнес-направление
										th(colspan='3' ) Образовано
										th(colspan='3' ) Утилизировано<br> и обработано
										th(colspan='3' ) Направлено на захоронение<br> и обезвреживание
									tr.dmpage-table__tr--with-border

										td 2020
										td 2021
										td 2022
										td 2020
										td 2021
										td 2022
										td 2020
										td 2021
										td 2022
								tbody
									tr
										td Разведка и добыча
										td 33,4
										td 58,8
										td 73,8
										td 24,4
										td 44,9
										td 60,11
										td 10,5
										td 14,7
										td 18,6

									each val in [1, 2, 3, 4, 5,1, 2, 3, 4, 10,1, 2, 3, 14]
										tr
											td Ремонт и бурение скважин*
											td -
											td -
											td 92,9
											td -
											td -
											td 91,69
											td -
											td -
											td 1,2

					.dmpage-text
						p  Компания придерживается принципов Глобального договора ООН и оценивает воздействия планируемой и осуществляемой деятельности на окружающую среду при принятии управленческих и инвестиционных решений наряду с другими значимыми факторами, а также в решении экологических проблем, вопросов промышленной безопасности и охраны труда.
						p  При осуществлении своей деятельности Компания отдает приоритет мероприятиям, направленным на предупреждение возможного негативного воздействия на окружающую среду. Выявление опасностей, оценка и управление рисками в области обеспечения охраны окружающей среды, климатическими рисками осуществляется на всех этапах жизненного цикла производства, начиная с предпроектных изысканий.
						//img(src="img/pic-1.jpg", alt="")
						img(src="https://www.tatneft.ru/uploads/publications/649d25e20ddd3567863278.jpg", alt="")
						p Компания придерживается принципов Глобального договора ООН и оценивает воздействия планируемой и осуществляемой деятельности на окружающую среду при принятии управленческих и инвестиционных решений наряду с другими значимыми факторами, а также в решении экологических проблем, вопросов промышленной безопасности и охраны труда.
						p При осуществлении своей деятельности Компания отдает приоритет мероприятиям, направленным на предупреждение возможного негативного воздействия на окружающую среду. Выявление опасностей, оценка и управление рисками в области обеспечения охраны окружающей среды, климатическими рисками осуществляется на всех этапах жизненного цикла производства, начиная с предпроектных изысканий.
						p Утвержденная «Стратегия развития в области промышленной безопасности, охраны труда и окружающей среды Группы «Татнефть» до 2030 года» определяет цели и ответственность Компании в области климатических аспектов и выбросов парниковых газов. Компания применяет в своей производственной деятельности передовые научные достижения и инновационные технические решения, системы и процессы с учётом мирового опыта и наилучших доступных технологий в целях предотвращения изменения климата, а также снижения негативного воздействия на окружающую среду.

					.dmpage-chart-outer.dmpage-small-w-section
						h2.dmpage-chart-title Образование отходов по бизнес-направлениям, %
						.dmpage-chart-flex

							#chart-doughnut-1.dmpage-chart-doughnut.js-dmpage-chart-doughnut
								canvas

							.dmpage-chd-legend


					.dmpage-chart-outer.dmpage-small-w-section
						h2.dmpage-chart-title Образование отходов по бизнес-направлениям, %

						.dmpage-chart-bar-wrap
							#chart-bar-1.dmpage-chart-bar.js-dmpage-chart-bar
								canvas

					.dmpage-text
						p Компания придерживается принципов Глобального договора ООН и оценивает воздействия планируемой и осуществляемой деятельности на окружающую среду при принятии управленческих и инвестиционных решений наряду с другими значимыми факторами, а также в решении экологических проблем, вопросов промышленной безопасности и охраны труда.
						p При осуществлении своей деятельности Компания отдает приоритет мероприятиям, направленным на предупреждение возможного негативного воздействия на окружающую среду. Выявление опасностей, оценка и управление рисками в области обеспечения охраны окружающей среды, климатическими рисками осуществляется на всех этапах жизненного цикла производства, начиная с предпроектных изысканий.
						p Утвержденная «Стратегия развития в области промышленной безопасности, охраны труда и окружающей среды Группы «Татнефть» до 2030 года» определяет цели и ответственность Компании в области климатических аспектов и выбросов парниковых газов. Компания применяет в своей производственной деятельности передовые научные достижения и инновационные технические решения, системы и процессы с учётом мирового опыта и наилучших доступных технологий в целях предотвращения изменения климата, а также снижения негативного воздействия на окружающую среду.

					.dmpage-text.dmpage-text--small
						p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit tempore laborum id quae consequuntur ratione.
						p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit tempore laborum id quae consequuntur ratione.
						p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit tempore laborum id quae consequuntur ratione.
block scripts
	script(src="js/page-index.js")