extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					a(href='/sustainable_development') Устойчивое развитие
			//
			//
			h1.dmpage-h1 Окружающая среда
		.dmpage
			.dmpage-art-1
				img(src="img/art-1.svg", alt="")
			.dmpage-art-2
				img(src="img/art-2.svg", alt="")
			.dmpage-top
				.dmpage-top__pic
					img(src="/img/top-pic.jpg", alt="")
			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p Компания придерживается принципов Глобального договора ООН и оценивает воздействия планируемой и осуществляемой деятельности на окружающую среду при принятии управленческих и инвестиционных решений наряду с другими значимыми факторами, а также в решении экологических проблем, вопросов промышленной безопасности и охраны труда.
						p При осуществлении своей деятельности Компания отдает приоритет мероприятиям, направленным на предупреждение возможного негативного воздействия на окружающую среду. Выявление опасностей, оценка и управление рисками в области обеспечения охраны окружающей среды, климатическими рисками осуществляется на всех этапах жизненного цикла производства, начиная с предпроектных изысканий.
						p Утвержденная «Стратегия развития в области промышленной безопасности, охраны труда и окружающей среды Группы «Татнефть» до 2030 года» определяет цели и ответственность Компании в области климатических аспектов и выбросов парниковых газов. Компания применяет в своей производственной деятельности передовые научные достижения и инновационные технические решения, системы и процессы с учётом мирового опыта и наилучших доступных технологий в целях предотвращения изменения климата, а также снижения негативного воздействия на окружающую среду.

					.dmpage-quote
						a.dmpage-quote__link(href="/blablala")

						|  Внутренним документом, отражающим позицию и подходы Компании в области воздействия на окружающую среду и климат, является
						b «Политика ПАО «Татнефть» им. В.Д. Шашина в области промышленной безопасности, охраны труда и окружающей среды с учетом изменения климата».


					.dmpage-accordions-wrap
						h2.dmpage-accordions-title Ключевые приоритеты
						.dmpage-accordions
							.dmpage-accordion.dmpage-accordion--active
								.dmpage-accordion-head
									.dmpage-accordion-head__text Минимизация влияния на изменение климата
								.dmpage-accordion-body(style="display:block;")
									.dmpage-accordion-body__text
										ul
											li сокращение выбросов парниковых газов и снижение углеродного следа
											li применение экологически чистых и альтернативных источников энергии
											li увеличение уровня полезного использования попутного нефтяного газа
											li контроль воздействия на окружающую среду в цепочке поставок и меры по минимизации такого воздействия

							.dmpage-accordion.js-dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Благоприятные окружающая среда и условия жизнедеятельности
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li сокращение выбросов парниковых газов и снижение углеродного следа
											li применение экологически чистых и альтернативных источников энергии
											li увеличение уровня полезного использования попутного нефтяного газа
											li контроль воздействия на окружающую среду в цепочке поставок и меры по минимизации такого воздействия

							.dmpage-accordion.js-dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Сохранение естественных экологических систем и биологического разнообразия
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li сокращение выбросов парниковых газов и снижение углеродного следа
											li применение экологически чистых и альтернативных источников энергии
											li увеличение уровня полезного использования попутного нефтяного газа
											li контроль воздействия на окружающую среду в цепочке поставок и меры по минимизации такого воздействия

							.dmpage-accordion.js-dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Рациональное использование природных ресурсов
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li сокращение выбросов парниковых газов и снижение углеродного следа
											li применение экологически чистых и альтернативных источников энергии
											li увеличение уровня полезного использования попутного нефтяного газа
											li контроль воздействия на окружающую среду в цепочке поставок и меры по минимизации такого воздействия

							.dmpage-accordion.js-dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Улучшение системы управления воздействием на окружающую среду
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li сокращение выбросов парниковых газов и снижение углеродного следа
											li применение экологически чистых и альтернативных источников энергии
											li увеличение уровня полезного использования попутного нефтяного газа
											li контроль воздействия на окружающую среду в цепочке поставок и меры по минимизации такого воздействия

					.dmpage-text
						p Компания придерживается принципов Глобального договора ООН и оценивает воздействия планируемой и осуществляемой деятельности на окружающую среду при принятии управленческих и инвестиционных решений наряду с другими значимыми факторами, а также в решении экологических проблем, вопросов промышленной безопасности и охраны труда.
						p При осуществлении своей деятельности Компания отдает приоритет мероприятиям, направленным на предупреждение возможного негативного воздействия на окружающую среду. Выявление опасностей, оценка и управление рисками в области обеспечения охраны окружающей среды, климатическими рисками осуществляется на всех этапах жизненного цикла производства, начиная с предпроектных изысканий.
						p Утвержденная «Стратегия развития в области промышленной безопасности, охраны труда и окружающей среды Группы «Татнефть» до 2030 года» определяет цели и ответственность Компании в области климатических аспектов и выбросов парниковых газов. Компания применяет в своей производственной деятельности передовые научные достижения и инновационные технические решения, системы и процессы с учётом мирового опыта и наилучших доступных технологий в целях предотвращения изменения климата, а также снижения негативного воздействия на окружающую среду.

					.dmpage-table-section
						h2.dmpage-table-title Обращение с отходами по бизнес – направлениям, тыс. т
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								thead
									tr
										th(rowspan='2' ) Бизнес-направление
										th(colspan='3' ) Образовано
										th(colspan='3' ) Утилизировано<br> и обработано
										th(colspan='3' ) Направлено на захоронение<br> и обезвреживание
									tr.dmpage-table__tr--with-border

										td 2020
										td 2021
										td 2022
										td 2020
										td 2021
										td 2022
										td 2020
										td 2021
										td 2022
								tbody
									tr
										td Разведка и добыча
										td 33,4
										td 58,8
										td 73,8
										td 24,4
										td 44,9
										td 60,11
										td 10,5
										td 14,7
										td 18,6

									each val in [1, 2, 3, 4, 5,1, 2, 3, 4, 10,1, 2, 3, 14]
										tr
											td Ремонт и бурение скважин*
											td -
											td -
											td 92,9
											td -
											td -
											td 91,69
											td -
											td -
											td 1,2

					.dmpage-text
						p  Компания придерживается принципов Глобального договора ООН и оценивает воздействия планируемой и осуществляемой деятельности на окружающую среду при принятии управленческих и инвестиционных решений наряду с другими значимыми факторами, а также в решении экологических проблем, вопросов промышленной безопасности и охраны труда.
						p  При осуществлении своей деятельности Компания отдает приоритет мероприятиям, направленным на предупреждение возможного негативного воздействия на окружающую среду. Выявление опасностей, оценка и управление рисками в области обеспечения охраны окружающей среды, климатическими рисками осуществляется на всех этапах жизненного цикла производства, начиная с предпроектных изысканий.
						img(src="/img/pic-1.jpg", alt="")
						p Компания придерживается принципов Глобального договора ООН и оценивает воздействия планируемой и осуществляемой деятельности на окружающую среду при принятии управленческих и инвестиционных решений наряду с другими значимыми факторами, а также в решении экологических проблем, вопросов промышленной безопасности и охраны труда.
						p При осуществлении своей деятельности Компания отдает приоритет мероприятиям, направленным на предупреждение возможного негативного воздействия на окружающую среду. Выявление опасностей, оценка и управление рисками в области обеспечения охраны окружающей среды, климатическими рисками осуществляется на всех этапах жизненного цикла производства, начиная с предпроектных изысканий.
						p Утвержденная «Стратегия развития в области промышленной безопасности, охраны труда и окружающей среды Группы «Татнефть» до 2030 года» определяет цели и ответственность Компании в области климатических аспектов и выбросов парниковых газов. Компания применяет в своей производственной деятельности передовые научные достижения и инновационные технические решения, системы и процессы с учётом мирового опыта и наилучших доступных технологий в целях предотвращения изменения климата, а также снижения негативного воздействия на окружающую среду.

					.dmpage-chart-outer.dmpage-small-w-section
						h2.dmpage-chart-title Образование отходов по бизнес-направлениям, %
						script.
							if(typeof(window.dmpageCharts)==='undefined'){
								window.dmpageCharts=[];
							}
							window.dmpageCharts['chart-doughnut-1-postfix']='%';
							window.dmpageCharts['chart-doughnut-1']=
								{
									labels: [
										'Разведка и добыча',
										'Цифровое развитие',
										'Трейдинг и логистика',
										'Нефтегазохимия',
										'Энергетика',
										'Композитные материалы'
									],
									datasets: [{
										label: '',
										data: [300, 50, 100, 500, 50, 100],
										backgroundColor: [
											'#038E63',
											'#219C76',
											'#5EB79B',
											'#8BCBB7',
											'#CAE7DE',
											'#D9EEE8'
										],
										hoverOffset: 0
									},  {
										label: '',
										data: [1],
										backgroundColor: [
											'#038E63'
										],
										borderDashOffset: 0,
										borderWidth: 0,
										hoverOffset: 0,
										spacing: 0,
										pointRadius: 0,
										weight:0.1

									}]
								};
						.dmpage-chart-flex

							#chart-doughnut-1.dmpage-chart-doughnut.js-dmpage-chart-doughnut
								canvas
							.dmpage-chd-legend
								.dmpage-chd-legend-item
									.dmpage-chd-legend-item__color(style="background-color: #038E63;")
									.dmpage-chd-legend-item__name Разведка и добыча
								.dmpage-chd-legend-item
									.dmpage-chd-legend-item__color(style="background-color: #219C76;")
									.dmpage-chd-legend-item__name Цифровое развитие
								.dmpage-chd-legend-item
									.dmpage-chd-legend-item__color(style="background-color: #5EB79B;")
									.dmpage-chd-legend-item__name Трейдинг и логистика
								.dmpage-chd-legend-item
									.dmpage-chd-legend-item__color(style="background-color: #8BCBB7;")
									.dmpage-chd-legend-item__name Нефтегазохимия
								.dmpage-chd-legend-item
									.dmpage-chd-legend-item__color(style="background-color: #CAE7DE;")
									.dmpage-chd-legend-item__name Энергетика
								.dmpage-chd-legend-item
									.dmpage-chd-legend-item__color(style="background-color: #D9EEE8;")
									.dmpage-chd-legend-item__name Композитные материалы

					.dmpage-chart-outer.dmpage-small-w-section
						h2.dmpage-chart-title Образование отходов по бизнес-направлениям, %
						script.
							if(typeof(window.dmpageCharts)==='undefined'){
								window.dmpageCharts=[];
							}
							window.dmpageCharts['chart-bar-1']=[

							];
						script.
							if(typeof(window.dmpageCharts)==='undefined'){
								window.dmpageCharts=[];
							}
							window.dmpageCharts['chart-bar-1-postfix']='%';
							window.dmpageCharts['chart-bar-1']=
								{
									labels: [
										'Разведка и добыча',
										'Цифровое развитие',
										'Трейдинг и логистика',
										'Нефтегазохимия',
										'Энергетика',
										'Композитные материалы',
										'Нефтегазохимия 2',
										'Энергетика 2',
										'Композитные материалы 2'
									],
									datasets: [{
										//label: '',
										data: [300, 50, 100, 500, 50, 100, 500, 50, 100],
										backgroundColor: '#CAE7DE',
										barPercentage: .6,
										categoryPercentage: 1,
										spacing: 0

										//hoverOffset: 0
									}, {
										//label: '',
										data: [5,5,5,5,5,5,5,5,5,5],
										//hoverOffset: 0,
										backgroundColor:'#038E63',

										borderDashOffset: 0,
										spacing: 0,
										barPercentage: .6,
										categoryPercentage: 1,
									}]
								};

						.dmpage-chart-bar-wrap
							#chart-bar-1.dmpage-chart-bar.js-dmpage-chart-bar
								canvas

					.dmpage-text
						p Компания придерживается принципов Глобального договора ООН и оценивает воздействия планируемой и осуществляемой деятельности на окружающую среду при принятии управленческих и инвестиционных решений наряду с другими значимыми факторами, а также в решении экологических проблем, вопросов промышленной безопасности и охраны труда.
						p При осуществлении своей деятельности Компания отдает приоритет мероприятиям, направленным на предупреждение возможного негативного воздействия на окружающую среду. Выявление опасностей, оценка и управление рисками в области обеспечения охраны окружающей среды, климатическими рисками осуществляется на всех этапах жизненного цикла производства, начиная с предпроектных изысканий.
						p Утвержденная «Стратегия развития в области промышленной безопасности, охраны труда и окружающей среды Группы «Татнефть» до 2030 года» определяет цели и ответственность Компании в области климатических аспектов и выбросов парниковых газов. Компания применяет в своей производственной деятельности передовые научные достижения и инновационные технические решения, системы и процессы с учётом мирового опыта и наилучших доступных технологий в целях предотвращения изменения климата, а также снижения негативного воздействия на окружающую среду.

		//.html
			.container-fluid
				.content-detail
					p
						| Компания строит свою деятельность в соответствии с общепринятыми этическими стандартами и ценностями, основываясь на признании важности соблюдения фундаментальных
						| равных прав человека, провозглашенных Всеобщей декларацией прав человека ООН.
					p
						| Компания исходит из того, что каждый должен обладать
						| всеми провозглашенными правами и свободами, включая
						| право на труд, право на благоприятную окружающую среду,
						| права коренных малочисленных народов и особых групп
						| населения, без какого бы то ни было различия, независимо
						| от расы, цвета кожи, пола, возраста, языка, религии, политических или иных убеждений, национального или социального
						| происхождения, инвалидности, имущественного, сословного
						| или иного положения, а также равными возможностями
						| для женщин и мужчин, исключая любые формы притеснения
						| или дискриминации в области труда и занятости.
					p
						| Компания стремится предотвращать любое неблагоприятное воздействие на права человека, которое связано
						| с ее деятельностью, продукцией или услугами, деловыми
						| отношениями, сохраняя социально-культурную самобытность народов, проживающих на территории деятельности
						| предприятий Группы «Татнефть».
					p
						| Компания исторически признает важность и ценность фундаментальных прав и свобод человека, провозглашенных
						| ООН, и на протяжении всей своей деятельности ответственно разделяет принципы в области прав человека, трудовых
						| отношений и борьбы с коррупцией, отраженные в международных
						| декларациях и конвенциях:
					ul
						li Всеобщая декларация прав человека ООН
						li Декларация по окружающей среде и развитию ООН
						li
							| Руководящие принципы предпринимательской деятельности в аспекте прав человека, одобренные резолюцией
							| Совета по правам человека ООН
						li
							| Руководящие принципы ОЭСР для многонациональных
							| предприятий
						li
							| Декларации и Конвенции Международной организации
							| труда, касающиеся многонациональных корпораций
							| и социальной
							| политики, сферы труда, свободы ассоциаций
							| и защиты права на организацию, права на заключение коллективных договоров, а также Социальной хартии российского бизнеса
					p
						| Компания признает и уважает права каждого сотрудника на
						| коллективное представительство интересов, объединение
						| работников в профсоюзы и ведение коллективных переговоров. Оценка деятельности Компании в области прав человека осуществляется в процессе регулярной оценки корпоративной практики, в том числе, в форме самооценки органов
						| управления Компании.
					p
						| Службы и подразделения Компании, непосредственно связанные
						| с процедурами управления персоналом, безопасностью,
						| антикоррупционной деятельностью, проходят
						| обучение по тематике аспектов прав человека. Работники
						| Компании, включая службы, связанные с деятельностью
						| по управлению персоналом и безопасностью, на постоянной
						| основе вовлечены в процедуры в отношении аспектов прав
						| человека и проходят соответствующее обучение на регулярной основе. В Корпоративном университете Компания
						| планирует развивать обучение по правам человека с привлечением работников, подрядчиков и поставщиков Компании.
					p
						| Компания стремится предотвращать любое неблагоприятное воздействие на права человека, которое непосредственно связано с ее деятельностью, продукцией или услугами,
						| деловыми отношениями, а также с сохранением национально-культурной самобытности народов, проживающих
						| в регионах деятельности Компании, и предпринимает все
						| доступные меры по устранению последствий такого воздействия, если оно произошло.
					p
						| В своей деятельности ПАО «Татнефть» разделяет принципы
						| цивилизованных трудовых отношений, фундаментальных
						| прав и свобод человека, что отражено в Коллективном договоре в разделе «Права человека».
					.content__subTitle
						| Обязательства Компании в отношении прав человека
						| отражены в следующих документах:
					ul
						li
							| Кодекс корпоративного управления ПАО «Татнефть»
							| им. В.Д. Шашина
						li
							| Кодекс корпоративной культуры для работников
							| ПАО «Татнефть»
						li
							| Политика ПАО «Татнефть» им. В.Д. Шашина в области
							| промышленной безопасности, охраны труда и окружающей
							| среды с учетом изменения климата
						li
							| Политика по взаимодействию с местным населением,
							| ведущим традиционный образ жизни, сохранению экосистемы
							| территорий традиционного природопользования
							| и традиционного образа жизни местного населения, проживающего в районах деятельности Группы «Татнефть»
					.content__subTitle Инструменты контроля соблюдения прав человека
					ul
						li
							| В Компании реализован механизм обращений, с помощью
							| которого пользователи могут сообщить в том числе о нарушении прав человека — «Горячая линия». Комитет по этике
							| рассматривает поступившие обращения.
						li
							| Систематически проводится аудит соответствия процессов,
							| связанных с оформлением трудовых отношений и оплатой
							| труда, трудовому законодательству страны и корпоративным
							| нормативным актам, а также систем управления, связанных с отсутствием дискриминации.
						li
							| Компанией на периодической основе проводится оценка
							| морально-психологического климата трудового коллектива. Оценка включает уровень удовлетворенности работников условиями труда, размера вознаграждения, социального обеспечения, и выявляет ключевые аспекты трудовой
							| деятельности.
						li
							| На постоянной основе осуществляется оценка воздействия
							| на окружающую среду производственной деятельности
							| и результативности мер по промышленной безопасности
							| и охране труда.
						li
							| Компания реализует принципы корпоративной ответственности
							| по сохранению экосистем территорий традиционного природопользования и традиционного образа
							| жизни местного населения, закрепленные во внутренних
							| документах.
						li
							| Право работников на свободу ассоциаций и ведение коллективных переговоров для защиты трудовых прав реализуется
							| Межрегиональной профсоюзной организацией «Татнефть
							| Профсоюз» Общероссийского профессионального
							| союза
							| работников нефтяной, газовой отраслей промышленности
							| и строительства.
					p
						em
							| Компанией не зафиксировано случаев дискриминации
							| по полу, возрасту, гражданству, религиозным убеждениям
							| и другим признакам.

