extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Устойчивое развитие

			h1.dmpage-h1 Окружающая среда

		.dmpage
			include ./partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/649d25b6e61e7812629059.jpg", alt="")

			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p Устойчивое развитие
						p ustojchivoe-razvitie
						img(src="img/block-1/1-1.png", alt="")
						img(src="img/block-1/1-2.png", alt="")
					.dmpage-text
						p Навигатор ЦУР ООН
						p navigator-cur-oon

					.dmpage-text
						p Права человека
						p prava-cheloveka

					.dmpage-text
						p ОКРУЖАЮЩАЯ СРЕДА
						p okruzhayushaya-sreda

					.dmpage-text
						p Позиция Компании в области изменения климата
						p poziciya-kompanii-v-oblasti-izmeneniya-klimata

					.dmpage-text
						p Климатические цели
						p klimaticheskie-celi

					.dmpage-text
						p Взаимодействие по вопросам климатической повестки
						p vzaimodejstvie-po-voprosam-klimaticheskoj-povestki

					.dmpage-text
						p Система экологического менеджмента
						p sistema-ekologicheskogo-menedzhmenta

					.dmpage-text
						p Риск-менеджмент
						p risk-menedzhment

					.dmpage-text
						p Возможности, связанные с климатом
						p vozmozhnosti-svyazannye-s-klimatom

					.dmpage-text
						p 11 Вклад в защиту окружающей среды
						p vklad-v-zashitu-okruzhayushej-sredy
					
					
					.dmpage-table-section.dmpage-table-section--small
						h2.dmpage-table-title Вклад в охрану окружающей среды, млрд руб.

						.dmpage-table-overflow
							table.dmpage-table.dmpage-table--simple
								tbody
									tr
										td 2020
										td 2021
										td 2022
									tr
										td 11,3
										td 11,8
										td 10,8*


					.dmpage-table-section.dmpage-table-section--small
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other(span=2)
								thead
									tr
										th
											p Статья расходов, млрд руб.
										th
											p 2021
										th
											p 2022
								tbody
									
									tr
										td
											p Затраты на ООС (форма №4-ОС)
										td
											p 10,1
										td
											p 9,9
									tr
										td
											p Инвестиции в основной капитал, 
											p направленные на ООС (форма №18-КС)
										td
											p 1,7
										td
											p 0,9
									tr
										td
											p Итого
										td
											p 11,8
										td
											p 10,8
									tr
										td  
										td  
										td  
									tr
										td
											p Платежи за негативное воздействие на ОС
										td
											p 0,028
										td
											p 0,024
									tr
										td
											p Штрафы и оплата ущерба
											p за экологическое воздействие
										td
											p 0,061
										td
											p 0,04 



					.dmpage-chart-outer.dmpage-small-w-section
						h2.dmpage-chart-title Вклад в охрану окружающей среды по бизнес-направлениям
						.dmpage-chart-flex

							#chart-doughnut-11-1.dmpage-chart-doughnut.js-dmpage-chart-doughnut
								canvas

							.dmpage-chd-legend
					
					.dmpage-chart-outer.dmpage-small-w-section
						h2.dmpage-chart-title Вклад в охрану окружающей среды в соответствии с классификатором СЕРА 2000

						.dmpage-chart-flex

							#chart-doughnut-11-2.dmpage-chart-doughnut.js-dmpage-chart-doughnut
								canvas

							.dmpage-chd-legend
			

					.dmpage-table-section.dmpage-table-section--small
						h2.dmpage-table-title Удельные расходы на охрану окружающей среды по бизнес-направлениям

						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								thead
									tr
										th  
										th
											p 2020
										th
											p 2021
										th
											p 2022
								tbody
									tr
										td
											p Разведка и добыча,
											p руб./т добытой нефти
										td
											p 158
										td
											p 147
										td
											p 155
									tr
										td
											p Нефтегазопереработка,
											p руб./т.у.т. переработанного сырья
										td
											p 334
										td
											p 289
										td
											p 208
									tr
										td
											p Нефтегазохимия, 
											p руб./т товарной продукции
										td
											p 429
										td
											p 736
										td
											p 384
									tr
										td
											p Энергетика, 
											p руб./кВт*ч выработанной энергии
										td
											p 6,6
										td
											p 18
										td
											p 16 

		

					.dmpage-text
						p Экологическая программа
						p ekologicheskaya-programma


					.dmpage-table-section.dmpage-table-section--small
						h2.dmpage-table-title Цели по снижению негативного воздействия на окружающую среду и их достижение



						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
									
								thead
									tr
										th
											p Бизнес-направление
										th
											p Факт
											p 2022 год
										th
											p Цель
											p 2022 год
								tbody
									tr.dmpage-table__tr--green
										td(colspan='3')
											p Снижение удельных выбросов загрязняющих веществ
									tr
										td
											p Разведка и добыча,
											p (кг/т добытой нефти)
										td
											p 2,44
										td
											p 2,78
									tr
										td
											p Нефтегазопереработка
											p (кг/т.у.т. переработанного сырья)
										td
											p 0,71
										td
											p 1,063
									tr
										td
											p Нефтегазохимия,
											p (кг/кг товарной продукции)
										td
											p 0,0054
										td
											p 0,0063
									tr
										td
											p Энергетика,
											p (кг/кВт*ч выработанной энергии)
										td
											p 0,0004
										td
											p 0,00097
									tr.dmpage-table__tr--green
										td(colspan='3')
											p Снижение удельных выбросов парниковых газов Scope-1+ Scope-2
									tr
										td
											p Разведка и добыча,
											p (кг/т добытой нефти)
										td
											p 173
										td
											p 175
									tr
										td
											p Нефтегазопереработка
											p (кг/т.у.т. переработанного сырья)
										td
											p 167
										td
											p 177
									tr
										td
											p Нефтегазохимия
											p (кг/кг товарной продукции)
										td
											p 1,52
										td
											p 1,7
									tr
										td
											p Энергетика
											p (кг/кВт*ч выработанной энергии)
										td
											p 0,256
										td
											p 0,256
									tr.dmpage-table__tr--green
										td(colspan='3')
											p Снижение удельного потребления пресной воды на собственные нужды
									tr
										td
											p Разведка и добыча 
											p (м3/т добытой нефти)
										td
											p 1,18
										td
											p 1,18
									tr
										td
											p Нефтегазопереработка
											p (м3/т.у.т. переработанного сырья)
										td
											p 0,060
										td
											p 0,274
									tr
										td
											p Нефтегазохимия 
											p (м3/кг товарной продукции)
										td
											p 0,0089
										td
											p 0,0207
									tr
										td
											p Энергетика 
											p (м3/кВт*ч выработанной энергии)
										td
											p 0,00149
										td
											p 0,0015
									tr.dmpage-table__tr--green
										td(colspan='3')
											p Уровень утилизации ПНГ
											p Цель к 2025 году
									tr
										td
											p Разведка и добыча, %
										td
											p 98,09%
										td
											p 98%

					.dmpage-text
						p Выбросы в атмосферу
						p vybrosy-v-atmosferu

					.dmpage-table-section.dmpage-table-section--small 
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
									
								thead
									tr
										th
											p Выбросы парниковых газов (Scope 1, Scope 2), млн т СО2-экв
										th
											p 2020
										th
											p 2021
										th
											p 2022
								tbody
									tr
										td
											p Scope 1, в том числе:
										td
											p 6,84
										td
											p 7,61  
										td
											p 8,31 
									tr
										td
											p Разведка и добыча
										td
											p 2,26
										td
											p 2,19
										td
											p 2,11
									tr
										td
											p Нефтегазопереработка*
										td
											p 2,17
										td
											p 2,64
										td
											p 3,38
									tr
										td
											p Нефтегазохимия**
										td
											p 0,41
										td
											p 0,30
										td
											p 0,28
									tr
										td
											p Энергетика
										td
											p 1,94
										td
											p 2,30
										td
											p 2,36
									tr
										td
											p Композитные материалы
										td
											p 0,02
										td
											p 0,02
										td
											p 0,02
									tr
										td
											p Розничный бизнес
										td
											p 0,01
										td
											p 0,01
										td
											p 0,01
									tr
										td
											p Машиностроение***
										td
											p 0,02
										td
											p 0,005
										td
											p 0,003
									tr
										td
											p Прочие предприятия Группы****
										td
											p 0,0306
										td
											p 0,1506
										td
											p 0,1505
									tr
										td
											p Scope 2, в том числе:
										td
											p 4,12
										td
											p 4,85
										td
											p 5,25
									tr
										td
											p Разведка и добыча
										td
											p 1,99
										td
											p 2,55
										td
											p 2,92
									tr
										td
											p Нефтегазопереработка
										td
											p 0,92
										td
											p 1,01
										td
											p 1,18
									tr
										td
											p Энергетика
										td
											p 0,004
										td
											p 0,008
										td
											p 0,007
									tr
										td
											p Нефтегазохимия
										td
											p 0,96
										td
											p 1,02
										td
											p 0,87
									tr
										td
											p Композитные материалы
										td
											p 0,02
										td
											p 0,02
										td
											p 0,02
									tr
										td
											p Розничный бизнес
										td
											p 0,05
										td
											p 0,05
										td
											p 0,06
									tr
										td
											p Машиностроение***
										td
											p 0,02
										td
											p 0,02
										td
											p 0,02
									tr
										td
											p Прочие предприятия Группы****
										td
											p 0,16
										td
											p 0,16
										td
											p 0,16 
							

					.dmpage-table-section.dmpage-table-section--small 
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
									
								thead
									tr 
										th Выбросы парниковых газов (Scope 1), т СО2-экв.
										th 2020
										th 2021
										th 2022
								tbody
									tr 
										td Пеллеты
										td 2 401
										td 2 776
										td 3 803



					.dmpage-table-section.dmpage-table-section--small 
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
									
								thead
									tr
										th
											p Выбросы парниковых газов
											p (Scope 3), млн т СО2-экв.
										th
											p 2020
										th
											p 2021*
										th
											p 2022
								tbody 
									tr
										td
											p Командировки**
										td
											p 0,0004
										td
											p 0,001
										td
											p 0,001
									tr
										td
											p Производство и транспортировка природного газа***
										td
											p 0,71
										td
											p 0,82
										td
											p 0,76
									tr
										td
											p Обработка и использование
											p  проданных продуктов****
										td
											p 100,81
										td
											p 110,85
										td
											p 103,47
									tr
										td
											p Итого:
										td
											p 101,52
										td
											p 111,68
										td
											p 104,24 


					.dmpage-table-section.dmpage-table-section--small 
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
									
							
								thead
									tr
										th
											p Интенсивность выбросов (Scope 1)
										th
											p 2020
										th
											p 2021
										th
											p 2022
								tbody 
									tr
										td
											p Разведка и добыча, 
											p кгСО2-экв./т добытой нефти
										td
											p 87
										td
											p 79
										td
											p 73
									tr
										td
											p Нефтегазопереработка, кг/т.у.т.*
										td
											p 107,4
										td
											p 116,4
										td
											p 121,0
									tr
										td
											p Нефтегазохимия, кг/кг**
										td
											p 0,54
										td
											p 0,40
										td
											p 0,37
									tr
										td
											p Энергетика, кг/кВт*ч
										td
											p 0,27
										td
											p 0,26
										td
											p 0,26

					.dmpage-table-section.dmpage-table-section--small 
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
									
							
								thead
									tr
										th
											p Интенсивность выбросов 
											p (Scope 1 + Scope 2)
										th
											p 2020
										th
											p 2021
										th
											p 2022
								tbody 
									tr
										td
											p Разведка и добыча, 
											p кгСО2-экв./т добытой нефти
										td
											p 163,2
										td
											p 170,1
										td
											p 173
									tr
										td
											p Разведка и добыча, 
											p кгСО2-экв./баррель добытой нефти
										td
											p 22,9
										td
											p 23,9
										td
											p 23,6
									tr
										td
											p Разведка и добыча, 
											p кгСО2-экв./т.у.т. (добытой нефти и газа)
										td
											p 110,9
										td
											p 115,6
										td
											p 117,4
									tr
										td
											p Нефтегазопереработка, 
											p кг/т.у.т переработанного сырья***
										td
											p 156,1
										td
											p 165,79*
										td
											p 166,6
									tr
										td
											p Нефтегазохимия,
											p кг/кг товарной продукции**
										td
											p 1,82
										td
											p 1,77
										td
											p 1,52
									tr
										td
											p Энергетика, 
											p кг/кВт*ч выработанной энергии
										td
											p 0,274
										td
											p 0,258
										td
											p 0,256 

						
					.dmpage-text
						p ???????????????????????


					.dmpage-table-section
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
									
							
								thead
									tr
										th
											p Установленные цели
										th
											p Результаты реализации 
										th
											p 2022&nbsp;к&nbsp;2021
										th
											p 2022&nbsp;к&nbsp;2020
						 
								tbody
									tr
										td(rowspan='3')
											p
												| снижение удельных выбросов парниковых газов по охватам 1+2 на 14% к 2025 году и на 30% к 2030 году
										td
											p снижение удельных прямых выбросов при добыче нефти и газа
										td
											p на 9%
										td
											p на 16%
									tr
										td(style="display:none;")
										td
											p
												| снижение удельных прямых и косвенных выбросов (Scope 1+2) в бизнес-направлении нефтегазохимия (кг/кг товарной продукции)
										td
											p на 3%
										td
											p на 16%
									tr
										td(style="display:none;")
										td
											p
												| снижение удельных прямых и косвенных выбросов (Scope 1+2) при производстве энергии (кг/кВт*ч выработанной энергии)
										td
											p на 6%
										td
											p на 7% 



					.dmpage-text
						p 15 Выбросы загрязняющих веществ
						p vybrosy-zagryaznyayushih-veshestv



					.dmpage-table-section.dmpage-table-section--small
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
									
								thead
									tr
										th
											 
										th
											p 2020
										th
											p 2021
										th
											p 2022
								tbody 
									tr
										td
											p Валовые выбросы загрязняющих веществ в атмосферный воздух*, 
											p тыс. т, в том числе:
										td
											p 108,7
										td
											p 103,5
										td
											p 100,2
									tr
										td
											p твёрдых веществ
										td
											p 2,1
										td
											p 2,0
										td
											p 1,3
									tr
										td
											p диоксид серы
										td
											p 14,1
										td
											p 10,3
										td
											p 9,9
									tr
										td
											p оксид углерода
										td
											p 21,9
										td
											p 21,4
										td
											p 19,5
									tr
										td
											p оксидов азота (в пересчете на NO2) 
										td
											p 9,0
										td
											p 8,5
										td
											p 9,1
									tr
										td
											p углеводороды 
											p (без летучих органических соединений)
										td
											p 13,4
										td
											p 13,1
										td
											p 12,9
									tr
										td
											p летучие органические соединения (ЛОС)
										td
											p 47,1
										td
											p 47,1
										td
											p 46,5
									tr
										td
											p прочие
										td
											p 1,1
										td
											p 1,1
										td
											p 1,0 



					.dmpage-chart-outer.dmpage-small-w-section 
						.dmpage-chart-flex

							#chart-doughnut-15-1.dmpage-chart-doughnut.js-dmpage-chart-doughnut
								canvas

							.dmpage-chd-legend
					
				

					.dmpage-chart-outer.dmpage-small-w-section
						h2.dmpage-chart-title Валовые выбросы загрязняющих веществ в атмосферный воздух 

						.dmpage-chart-flex

							#chart-doughnut-15-2.dmpage-chart-doughnut.js-dmpage-chart-doughnut
								canvas

							.dmpage-chd-legend
					
					.dmpage-table-section.dmpage-table-section--small
						h2.dmpage-table-title Удельные выбросы загрязняющих веществ в атмосферный воздух 


						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
									
								thead 
									tr
										th  
										th  2020
										th  2021
										th  2022
								tbody
									tr
										td
											p Разведка и добыча, 
											p кг/т добытой нефти
										td
											p 2,84
										td
											p 2,56
										td
											p 2,44
									tr
										td
											p Нефтегазопереработка, 
											p кг/т.у.т. переработанного сырья
										td
											p 0,911
										td
											p 0,86
										td
											p 0,71
									tr
										td
											p Нефтегазохимия,
											p кг/кг товарной продукции
										td
											p 0,007
										td
											p 0,0048
										td
											p 0,0054
									tr
										td
											p Энергетика,
											p кг/кВт*ч выработанной энергии
										td
											p 0,0009
										td
											p 0,0003
										td
											p 0,0004 

					.dmpage-chart-outer.dmpage-small-w-section
						h2.dmpage-chart-title Объемы сжигания ПНГ по Группе «Татнефть»
						.dmpage-chart-bar-wrap
							#chart-bar-15-3.dmpage-chart-bar.js-dmpage-chart-bar
								canvas


					//.dmpage-chart-outer.dmpage-small-w-section
						h2.dmpage-chart-title  Утилизация ПНГ
						.dmpage-chart-bar-wrap
							#chart-bar-15-4.dmpage-chart-bar.js-dmpage-chart-bar
								canvas

					img(src="img/block-1/image078.jpg", alt="")




					.dmpage-text
						p 16 Водозабор и водопотребление
						p vodozabor-i-vodopotreblenie

					.dmpage-chart-outer.dmpage-small-w-section
						h2.dmpage-chart-title  Водопотребление, млн м3
						.dmpage-chart-bar-wrap
							#chart-bar-15-5.dmpage-chart-bar.js-dmpage-chart-bar
								canvas


					.dmpage-chart-outer.dmpage-small-w-section
						h2.dmpage-chart-title Потребление воды на производственные нужды по бизнес-направлениям

						.dmpage-chart-flex

							#chart-doughnut-15-6.dmpage-chart-doughnut.js-dmpage-chart-doughnut
								canvas

							.dmpage-chd-legend
					

					.dmpage-table-section.dmpage-table-section--small
						h2.dmpage-table-title Удельное водопотребление на производственные нужды
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
									
								thead 
									tr
										th  
										th
											p 2020
										th
											p 2021
										th
											p 2022
										
								tbody
									tr
										td
											p Разведка и добыча, 
											p м3/т добытой нефти
										td
											p 1,21
										td
											p 1,141
										td
											p 1,18
									tr
										td
											p Нефтегазопереработка, 
											p м3/т.у.т. переработанного сырья
										td
											p 0,145
										td
											p 0,075
										td
											p 0,06
									tr
										td
											p Нефтегазохимия,
											p м3/т товарной продукции
										td
											p 0,0163
										td
											p 0,0142
										td
											p 0,0089
									tr
										td
											p Энергетика, 
											p м3/КВт*ч выработанной энергии
										td
											p 0,00148
										td
											p 0,00145
										td
											p 0,00149


					.dmpage-chart-outer.dmpage-small-w-section
						h2.dmpage-chart-title Потребление воды на производственные нужды по бизнес-направлениям

						.dmpage-chart-flex

							#chart-doughnut-15-7.dmpage-chart-doughnut.js-dmpage-chart-doughnut
								canvas

							.dmpage-chd-legend
					

					.dmpage-chart-outer.dmpage-small-w-section
						h2.dmpage-chart-title Использование воды на различные нужды
						.dmpage-chart-bar-wrap
							#chart-bar-15-8.dmpage-chart-bar.js-dmpage-chart-bar
								canvas



					.dmpage-table-section
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
									
								thead 
									tr
										th 
											p Показатель
										th
										th
											p 2020
										th
											p 2021
										th
											p 2022
										

							
								tbody 
									tr
										td
											p
												| Добытая попутно с углеводородами вода, впоследствии закачанная в пласт для поддержания пластового давления
										td
											p млн.м3
										td
											p 125,5
										td
											p 168,3
										td
											p 192,3




					.dmpage-chart-outer.dmpage-small-w-section
						h2.dmpage-chart-title Оборотная и повторно используемая вода
							sup 3

						.dmpage-chart-bar-wrap
							#chart-bar-15-9.dmpage-chart-bar.js-dmpage-chart-bar
								canvas


					.dmpage-table-section
						h2.dmpage-table-title Проекты и прогресс по сокращению водопотребления
						.dmpage-table-overflow
							table.dmpage-table.dmpage-table--simple
								tbody 
									tr
										th
											p Цели по ЦУР 6:
										th
											p Результаты реализации целей:
										th
											p 2022 к 2021
										th
											p 2022 к 2020			
										
									tr
										td(rowspan='2')
											p
												| Снизить объемы сбросов сточных вод на 20% и увеличить соотношение очищенных и неочищенных сточных вод в 5 раз к 2025 году
										td
											p снижение объема водоотведения
										td
											p на 26 %
										td
											p на 45 %
									tr
										td(style="display:none;")
										td
											p
													| увеличение соотношения (по взвешенным веществам) объёмов очищенных и неочищенных сточных вод
										td
											p в 5 раз
										td
											p в 5 раз
									tr
										td(rowspan='2')
											p
												| Увеличить объемы оборотной, многократно и повторно используемой воды на 9% к 2025 году
										td
											p увеличение объема оборотной и повторно-последовательно используемой воды
										td
											p на 2,8 %
										td
											p на 9,5 %
									tr
										td(style="display:none;")
										td
											p снижение объема водопотребления
										td
											p на 5,1 %
										td
											p на 9,7 %
									tr
										td
											p Снизить потери пресной воды при её подготовке и транспортировке
										td
											p снижение потерь пресной воды при её подготовке и транспортировке
										td
											p на 16%
										td
											p на 17 %
	
					.dmpage-text
						p 17 Водоотведение
						p vodootvedenie


					.dmpage-chart-outer.dmpage-small-w-section
						h2.dmpage-chart-title Водоотведение в поверхностные водные объекты, млн м
							sup 3

						.dmpage-chart-bar-wrap
							#chart-bar-17-1.dmpage-chart-bar.js-dmpage-chart-bar
								canvas
 

					.dmpage-table-section.dmpage-table-section--small
						h2.dmpage-table-title Удельное водоотведение в поверхностные водные объекты

						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other()  
									
								thead 
									tr
										th
										th
											p 2020
										th
											p 2021
										th
											p 2022
							
								tbody
									tr
										td
											p Разведка и добыча,
											p м3/т добытой нефти
										td
											p 0
										td
											p 0
										td
											p 0
									tr
										td
											p Нефтегазопереработка,
											p м3/т.у.т. переработанного сырья
										td
											p 0,141886
										td
											p 0,004943
										td
											p 0,002434
									tr
										td
											p Нефтегазохимия,
											p м3/т товарной продукции
										td
											p 0,015487
										td
											p 0,014011
										td
											p 0,007599
									tr
										td
											p Энергетика,
											p м3/КВт*ч выработанной энергии
										td
											p 0
										td
											p 0
										td
											p 0


					.dmpage-text
						p 18Обращение с отходами
						p obrashenie-s-othodami

					.dmpage-chart-outer.dmpage-small-w-section
						h2.dmpage-chart-title Обращение с отходами, тыс. т     
						.dmpage-chart-bar-wrap
							#chart-bar-18-1.dmpage-chart-bar.js-dmpage-chart-bar
								canvas


					.dmpage-chart-outer.dmpage-small-w-section
						h2.dmpage-chart-title Образование отходов по классам опасности, %, тыс .тонн
						.dmpage-chart-flex
							#chart-doughnut-18-2.dmpage-chart-doughnut.js-dmpage-chart-doughnut
								canvas
							.dmpage-chd-legend


					.dmpage-chart-outer.dmpage-small-w-section
						h2.dmpage-chart-title Образование отходов по бизнес-направлениям, %
						.dmpage-chart-flex
							#chart-doughnut-18-3.dmpage-chart-doughnut.js-dmpage-chart-doughnut
								canvas
							.dmpage-chd-legend


					.dmpage-table-section
						h2.dmpage-table-title Обращение с отходами по бизнес – направлениям, тыс. т
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								thead
									tr
										th(rowspan='2' ) Бизнес-направление
										th(colspan='3' ) Образовано
										th(colspan='3' ) Утилизировано<br> и обработано
										th(colspan='3' ) Направлено на захоронение<br> и обезвреживание
									tr.dmpage-table__tr--with-border 
										td
											p 2020
										td
											p 2021
										td
											p 2022
										td
											p 2020
										td
											p 2021
										td
											p 2022
										td
											p 2020
										td
											p 2021
										td
											p 2022
								tbody
									tr
										td
											p Разведка и добыча
										td
											p 33,4
										td
											p 58,8
										td
											p 73,8
										td
											p 24,4
										td
											p 44,9
										td
											p 60,11
										td
											p 10,5
										td
											p 14,7
										td
											p 18,6
									tr
										td
											p Ремонт и бурение скважин*
										td
											p -
										td
											p -
										td
											p 92,9
										td
											p -
										td
											p -
										td
											p 91,69
										td
											p -
										td
											p -
										td
											p 1,2
									tr
										td
											p Машиностроение
										td
											p 16,1
										td
											p 17
										td
											p 44,4
										td
											p 46,5
										td
											p 34,3
										td
											p 54,87
										td
											p 1,5
										td
											p 1,8
										td
											p 4,8
									tr
										td
											p Нефтегазопереработка
										td
											p 15,32
										td
											p 17,8
										td
											p 14,2
										td
											p 10
										td
											p 14,6
										td
											p 11,49
										td
											p 4,9
										td
											p 4,5
										td
											p 3,5
									tr
										td
											p Розничный бизнес
										td
											p 25
										td
											p 24,8
										td
											p 29,7
										td
											p 0,3
										td
											p 0,4
										td
											p 1,50
										td
											p 24,1
										td
											p 24,5
										td
											p 28,3
									tr
										td
											p Шинный бизнес
										td
											p 36
										td
											p 25,6
										td
											p -
										td
											p 19,2
										td
											p 17,6
										td
											p -
										td
											p 24,3
										td
											p 15,5
										td
											p -
									tr
										td
											p Композиционные материалы
										td
											p 3,4
										td
											p 4,6
										td
											p 3,8
										td
											p 1
										td
											p 0,5
										td
											p 0,57
										td
											p 2,4
										td
											p 4
										td
											p 3,3
									tr
										td
											p Энергетика
										td
											p 3,3
										td
											p 2,9
										td
											p 3,5
										td
											p 1,7
										td
											p 1,1
										td
											p 82,37
										td
											p 0,4
										td
											p 0,4
										td
											p 0,6
									tr
										td
											p Трейдинг и логистика
										td
											p 0,00
										td
											p 0,012
										td
											p 0,0
										td
											p 0
										td
											p 0
										td
											p 0,00
										td
											p 0
										td
											p 0,011
										td
											p 0,0
									tr
										td
											p Социальное развитие
										td
											p 0,08
										td
											p 1,1
										td
											p 2,5
										td
											p 0
										td
											p 0,1
										td
											p 0,18
										td
											p 0,08
										td
											p 1
										td
											p 2,3
									tr
										td
											p Цифровое развитие
										td
											p 0,00
										td
											p 0,08
										td
											p 0,4
										td
											p 0
										td
											p 0
										td
											p 0,01
										td
											p 0
										td
											p 0,08
										td
											p 0,4
									tr
										td
											p Прочие предприятия Группы
										td
											p 70
										td
											p 53,5
										td
											p 30,0
										td
											p 69,2
										td
											p 0,48
										td
											p 21,44
										td
											p 0,7
										td
											p 5,5
										td
											p 8,5
									tr
										td
											p Нефтегазохимия
										td
											p 10,5
										td
											p 11,3
										td
											p 11,2
										td
											p 1,6
										td
											p 2
										td
											p 2,16
										td
											p 8,9
										td
											p 10,1
										td
											p 9,6
									tr
										td
											p Геологоразведка**
										td
											p 5,9
										td
											p 0
										td
											p 0
										td
											p 5,7
										td
											p 0
										td
											p 0
										td
											p 0,1
										td
											p 0
										td
											p 0
									tr
										td
											p Итого
										td
											p 218,8
										td
											p 218,0
										td
											p 307,0
										td
											p 179,6
										td
											p 163,6
										td
											p 326,4
										td
											p 77,8
										td
											p 82,5
										td
											p 81,7
				

					.dmpage-table-section
						h2.dmpage-table-title Обращение с отходами по бизнес – направлениям, тыс. т
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
							
								thead
									tr
										th(rowspan='2' )  вид обращения с отходами 
										th(colspan='3' )  на территории предприятий Группы 
										th(colspan='3' ) вне территории предприятий Группы 
										th(colspan='3' ) итого
									tr.dmpage-table__tr--with-border 
										td
											p 2020
										td
											p 2021
										td
											p 2022
										td
											p 2020
										td
											p 2021
										td
											p 2022
										td
											p 2020
										td
											p 2021
										td
											p 2022
								tbody 
									tr
										td(colspan='10')
											p опасные отходы
									tr
										td
											p утилизировано
										td
											p 3,8
										td
											p 5,2
										td
											p 7,39
										td
											p 37,9
										td
											p 49,7
										td
											p 143,25
										td
											p 41,7
										td
											p 54,9
										td
											p 150,64
									tr
										td
											p обработано
										td
											p 0
										td
											p 0
										td
											p 0
										td
											p 0,007
										td
											p 0,077
										td
											p 0,23
										td
											p 0,007
										td
											p 0,077
										td
											p 0,23
									tr
										td
											p итого
										td
											p 3,8
										td
											p 5,2
										td
											p 7,39
										td
											p 38,0
										td
											p 49,8
										td
											p 143,48
										td
											p 41,8
										td
											p 55
										td
											p 150,87
									tr
										td(colspan='10')
											p неопасные отходы
									tr
										td
											p утилизировано
										td
											p 34,7
										td
											p 37,5
										td
											p 39,31
										td
											p 103,1
										td
											p 70,7
										td
											p 135,77
										td
											p 137,8
										td
											p 108,2
										td
											p 175,08
									tr
										td
											p обработано
										td
											p 0
										td
											p 0
										td
											p 0
										td
											p 0,04
										td
											p 0,4
										td
											p 0,47
										td
											p 0,04
										td
											p 0,4
										td
											p 0,47
									tr
										td
											p итого
										td
											p 34,7
										td
											p 37,5
										td
											p 39,31
										td
											p 103,1
										td
											p 71,1
										td
											p 136,24
										td
											p 137,8
										td
											p 108,6
										td
											p 175,55



					.dmpage-table-section
						h2.dmpage-table-title Обращение с отходами по бизнес – направлениям, тыс. т
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
							
								thead
									tr
										th(rowspan='2' ) Виды обращения с отходами 
										th(colspan='3' ) На территории предприятий Группы 
										th(colspan='3' ) Вне территории предприятий Группы 
										th(colspan='3' ) Итого
									tr.dmpage-table__tr--with-border 
										td
											p 2020
										td
											p 2021
										td
											p 2022
										td
											p 2020
										td
											p 2021
										td
											p 2022
										td
											p 2020
										td
											p 2021
										td
											p 2022
								tbody  
									tr
										td(colspan='10')
											p опасные отходы
									tr
										td
											p обезвреживание
										td
											p 3,3
										td
											p 3
										td
											p 0
										td
											p 19,8
										td
											p 20,8
										td
											p 27,57
										td
											p 23,1
										td
											p 23,8
										td
											p 27,57
									tr
										td
											p в т.ч. сжигание
										td
											p 3,3
										td
											p 3
										td
											p 0
										td
											p 7,2
										td
											p 5,9
										td
											p 0,16
										td
											p 10,5
										td
											p 8,9
										td
											p 0,16
									tr
										td
											p - с получением энергии
										td
											p 3,3
										td
											p 3
										td
											p 0
										td
											p 0
										td
											p 0
										td
											p 0
										td
											p 3,3
										td
											p 3
										td
											p 0
									tr
										td
											p - без получения энергии
										td
											p 0
										td
											p 0
										td
											p 0
										td
											p 7,2
										td
											p 5,9
										td
											p 0,16
										td
											p 7,2
										td
											p 5,9
										td
											p 0,16
									tr
										td
											p захоронение (кроме ТКО)
										td
											p 15,8
										td
											p 12,2
										td
											p 7,11
										td
											p 14,7
										td
											p 16,6
										td
											p 16,03
										td
											p 30,5
										td
											p 28,8
										td
											p 23,14
									tr
										td
											p передача ТКО региональному оператору
										td
											p 0
										td
											p 0
										td
											p 0
										td
											p 4,6
										td
											p 6,6
										td
											p 8,12
										td
											p 4,6
										td
											p 6,6
										td
											p 8,12
									tr
										td
											p итого
										td
											p 19,1
										td
											p 15,2
										td
											p 7,11
										td
											p 39,1
										td
											p 44,0
										td
											p 51,72
										td
											p 58,2
										td
											p 59,2
										td
											p 58,83
									tr
										td(colspan='10')
											p неопасные отходы
									tr
										td
											p обезвреживание
										td
											p 0,9
										td
											p 0,9
										td
											p 0
										td
											p 0,8
										td
											p 0,7
										td
											p 0,01
										td
											p 1,7
										td
											p 1,6
										td
											p 0,01
									tr
										td
											p в т.ч. сжигание
										td
											p 0,9
										td
											p 0,9
										td
											p 0
										td
											p 0
										td
											p 0
										td
											p 0
										td
											p 0,9
										td
											p 0,9
										td
											p 0
									tr
										td
											p - с получением энергии
										td
											p 0,9
										td
											p 0,9
										td
											p 0
										td
											p 0
										td
											p 0
										td
											p 0
										td
											p 0,9
										td
											p 0,9
										td
											p 0
									tr
										td
											p - без получения энергии
										td
											p 0
										td
											p 0
										td
											p 0
										td
											p 0
										td
											p 0,7
										td
											p 0
										td
											p 0
										td
											p 0,7
										td
											p 0
									tr
										td
											p захоронение (кроме ТКО)
										td
											p 4,4
										td
											p 0,8
										td
											p 0
										td
											p 7
										td
											p 13,4
										td
											p 15,10
										td
											p 11,4
										td
											p 14,2
										td
											p 15,10
									tr
										td
											p передача ТКО региональному оператору
										td
											p 0
										td
											p 0
										td
											p 0
										td
											p 6,5
										td
											p 7,5
										td
											p 7,76
										td
											p 6,5
										td
											p 7,5
										td
											p 7,76
									tr
										td
											p итого
										td
											p 5,3
										td
											p 1,7
										td
											p 0
										td
											p 14,3
										td
											p 21,6
										td
											p 22,87
										td
											p 19,6
										td
											p 23,3
										td
											p 22,87
											



					.dmpage-text
						p 19Ответственное потребление
						p otvetstvennoe-potreblenie

					.dmpage-text
						p 20Сохранение биоразнообразия
						p sohranenie-bioraznoobraziya

					.dmpage-text
						p 21Ресурсоэффективность
						p resursoeffektivnost

					.dmpage-text
						p 22Персонал
						p personal

					.dmpage-text
						p 23Система управления
						p sistema-upravleniya

					.dmpage-chart-outer.dmpage-small-w-section
						//.dmpage-chart-bar-wrap
							#chart-bubbles-23-1.dmpage-chart-bubbles.js-dmpage-chart-bubbles
								canvas
								
						.dmpage-chart-flex
							#chart-bubbles-23-1.dmpage-chart-doughnut.js-dmpage-chart-bubbles
								canvas
							.dmpage-chd-legend
					.dmpage-text
						p 24Структура
						p struktura

					.dmpage-text
						p 25Оплата труда
						p oplata-truda

					.dmpage-text
						p 26Обучение и развитие
						p obuchenie-i-razvitie

					.dmpage-text
						p 27Развитие молодежи
						p razvitie-molodezhi

					.dmpage-text
						p 28Коллективное представительство
						p kollektivnoe-predstavitelstvo

					.dmpage-text
						p 29Социальное обеспечение
						p socialnoe-obespechenie

					.dmpage-text
						p 30Безопасность производства
						p bezopasnost-proizvodstva

					.dmpage-text
						p 31Система управления
						p sistema-upravleniya
						
					


					.dmpage-text
						p 32Охрана труда и безопасность производственных процессов
						p ohrana-truda-i-bezopasnost-proizvodstvennyh-processov

					.dmpage-text
						p 33Безопасность рабочих мест
						p bezopasnost-rabochih-mest

					.dmpage-text
						p 34Техногенные происшествия
						p tehnogennye-proisshestviya

					.dmpage-text
						p 35Производственный травматизм
						p proizvodstvennyj-travmatizm

					.dmpage-text
						p 36Содействие социальному развитию
						p sodejstvie-socialnomu-razvitiyu

					.dmpage-text
						p 37Подход к управлению
						p podhod-k-upravleniyu

					.dmpage-text
						p 38Благотворительный фонд
						p blagotvoritelnyj-fond

					.dmpage-text
						p 39Развитие социальной инфраструктуры
						p razvitie-socialnoj-infrastruktury

					.dmpage-text
						p 40Инвестиции в новые поколения
						p investicii-v-novye-pokoleniya

					.dmpage-text
						p 41Сохранение культурного наследия
						p sohranenie-kulturnogo-naslediya

					.dmpage-text
						p 42Взаимодействие с коренным местным населением, ведущим традиционный образ жизни
						p vzaimodejstvie-s-korennym-mestnym-naseleniem-vedushim-tradicionnyj-obraz-zhizni

					.dmpage-text
						p 43Здоровый образ жизни
						p zdorovyj-obraz-zhizni

					.dmpage-text
						p 44Поддержка инициатив развития
						p podderzhka-iniciativ-razvitiya

					.dmpage-text
						p 45Членство в ассоциациях
						p chlenstvo-v-associaciyah

					.dmpage-text
						p 46ДОП.ИНФОРМАЦИЯ
						p dop-informaciya

					.dmpage-text
						p 47Риски
						p riski

					.dmpage-text
						p 48Сертификация системы менеджмента
						p sertifikaciya-sistemy-menedzhmenta

						p 49ESG-ПРОЕКТЫ
						p esg-proekty

						p 50ESG-ПОКАЗАТЕЛИ
						p esg-pokazateli

					.dmpage-text
						p 51РЕЙТИНГИ И РЭНКИНГИ УСТОЙЧИВОГО РАЗВИТИЯ
						p rejtingi-i-renkingi-ustojchivogo-razvitiya



				//	.dmpage-chart-outer.dmpage-small-w-section
						.dmpage-chart-bar-wrap
							#chart-bar-test-2.dmpage-chart-bar.js-dmpage-chart-bar
								canvas
					.dmpage-chart-outer.dmpage-small-w-section
						.dmpage-chart-bar-wrap
							#chart-bar-test-3.dmpage-chart-bar.js-dmpage-chart-bar
								canvas
					.dmpage-chart-outer.dmpage-small-w-section
						.dmpage-chart-bar-wrap
							#chart-bar-test-4.dmpage-chart-bar.js-dmpage-chart-bar
								canvas
					.dmpage-chart-outer.dmpage-small-w-section
						.dmpage-chart-bar-wrap
							#chart-bar-test-5.dmpage-chart-bar.js-dmpage-chart-bar
								canvas
					.dmpage-chart-outer.dmpage-small-w-section
						.dmpage-chart-bar-wrap
							#chart-bar-test-6.dmpage-chart-bar.js-dmpage-chart-bar
								canvas
					.dmpage-chart-outer.dmpage-small-w-section
						.dmpage-chart-bar-wrap
							#chart-bar-test-7.dmpage-chart-bar.js-dmpage-chart-bar
								canvas
					.dmpage-chart-outer.dmpage-small-w-section
						.dmpage-chart-bar-wrap
							#chart-bar-test-8.dmpage-chart-bar.js-dmpage-chart-bar
								canvas
					.dmpage-chart-outer.dmpage-small-w-section
						.dmpage-chart-bar-wrap
							#chart-bar-test-9.dmpage-chart-bar.js-dmpage-chart-bar
								canvas
					.dmpage-chart-outer.dmpage-small-w-section
						.dmpage-chart-bar-wrap
							#chart-bar-test-10.dmpage-chart-bar.js-dmpage-chart-bar
								canvas
					.dmpage-chart-outer.dmpage-small-w-section
						.dmpage-chart-bar-wrap
							#chart-bar-test-11.dmpage-chart-bar.js-dmpage-chart-bar
								canvas
					.dmpage-chart-outer.dmpage-small-w-section
						.dmpage-chart-bar-wrap
							#chart-bar-test-12.dmpage-chart-bar.js-dmpage-chart-bar
								canvas



block scripts
	script(src="js/page-vklad-v-zashitu-okruzhayushej-sredy.js")
	script(src="js/page-vybrosy-zagryaznyayushih-veshestv.js")