extends layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Климатические цели

			h1.dmpage-h1 Климатические цели

		.dmpage
			include ./partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/649d25b6e61e7812629059.jpg", alt="")

			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p В 2022 году Советом директоров утвержден климатический раздел Стратегии развития. В основу долгосрочного целеполагания заложен вектор на достижение углеродной нейтральности к 2050 году в части контролируемых выбросов парниковых газов (Scope 1 и 2 с учетом компенсирующих мероприятий и развития низкоуглеродных технологий). Промежуточные целевые показатели предполагают снижение углеродной интенсивности на 14% к 2025 году и 30% к 2030 году по сравнению с базовым 2021 годом.
						h1.red не готово!!!!
						h1.red не готово!!!!
						h3 Основные рычаги декарбонизации:
						ul 
							li технологические решения по снижению выбросов - снижение прямых выбросов парниковых газов, сокращение эмиссий метана, повышение энергоэффективности, увеличение уровня утилизации попутного нефтяного газа
							li улавливание, использование и захоронение СО2
							li развитие возобновляемой энергетики
							li биологическое улавливание распределенных выбросов СО2
							li формирование экологического мировоззрения и вовлечение населения в реализацию ЦУР
						

block scripts
