extends layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Коллективное представительство

			h1.dmpage-h1 Коллективное представительство

		.dmpage
			include ./partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/649d25b6e61e7812629059.jpg", alt="")

			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p Компания признает права каждого сотрудника на коллективное представительство интересов, в том числе профсоюзных организаций, признает и уважает права профсоюзов, включая права, закрепленные в базовых конвенциях Международной организации труда, — право каждого работника быть представленным профсоюзной организацией по его собственному выбору и основные профсоюзные права, касающиеся свободы объединения и права на организацию работников в профсоюзы, а также право на ведение коллективных переговоров. 
						p Компания не препятствует вступлению своих сотрудников в ассоциации и профсоюзные организации. Основное коллективное представительство интересов работников Компании на основе партнерских отношений осуществляет Межрегиональная профсоюзная организация «Татнефть Профсоюз» Общероссийского профессионального союза работников нефтяной, газовой отраслей промышленности и строительства (далее — профсоюзный комитет). 
						p Прием в профсоюз осуществляется на добровольной основе, на основании личного заявления работника. В Группе «Татнефть» членами профсоюзного комитета являются 56 384 работника (85,3% от общего количества работников Компании). Основой сотрудничества является Коллективный договор. Каждый сотрудник имеет право и возможность участвовать в процессе формирования Коллективного договора, направив свое предложение в профсоюзную организацию. 
						p Представители профсоюза участвуют в рассмотрении всех значимых для работников социально-трудовых вопросов и мероприятий, в том числе по проведению структурных преобразований Компании, изменению в области организации и оплаты труда. 
						ul
							li  по социально-экономической защите членов профсоюза 
							li  по правовой защите 
							li  по охране труда 
							li  по работе с молодежью
							li  организационно-массовая комиссия 
							li  жилищно-бытовая комиссия 
							li комиссия по контролю за общественным питанием 
							li культурно-массовая и спортивно-оздоровительная комиссия 
							li комиссия по работе с ветеранами труда и Великой Отечественной войны




						p Коллективный договор подтверждает позицию Компании по признанию и соблюдению основных прав человека, определяет общие принципы безопасной организации и оплаты труда, социальные льготы и гарантии сверх установленных законодательством для работников и неработающих пенсионеров, гарантии деятельности профсоюзной организации.
						h2 100% РАБОТНИКОВ — ОХВАТ КОЛЛЕКТИВНЫМ ДОГОВОРОМ
						p Положения Коллективного договора ПАО «Татнефть» являются базовыми для коллективных договоров предприятий Группы «Татнефть». Профсоюзный комитет и его первичные профсоюзные организации обеспечивают: 
						ul 
							li представительство и защиту социально-трудовых прав и интересов членов профсоюза; 
							li контроль соблюдения трудового законодательства РФ; 
							li организацию спортивно-оздоровительной и культурно-массовой работы в трудовых коллективах. 



					.dmpage-quote
						|  ПАО «Татнефть» является участником Отраслевого соглашения по организациям нефтяной, газовой отраслей промышленности и строительства объектов нефтегазового комплекса РФ.


						

block scripts
