extends layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Обращение с отходами

			h1.dmpage-h1 Обращение с отходами

		.dmpage
			include ./partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/649d25b6e61e7812629059.jpg", alt="")

			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p Одним из основных направлений в природоохранной деятельности Группы «Татнефть» является снижение техногенной нагрузки на окружающую среду за счёт сокращения объёмов образования отходов производства и потребления, а также увеличения доли утилизируемых отходов. Компанией внедрены наилучшие доступные технологии, создана комплексная система селективного накопления, сбора и переработки отходов производства и потребления, использования их в качестве сырья для получения товарной продукции. На предприятиях Группы «Татнефть» утилизируется 47 наименований опасных отходов, в том числе нефтесодержащие отходы.
						p При выборе контрагентов для оказания услуг по обращению с отходами Компания учитывает размер негативного воздействия на окружающую среду от применения технологий (операция по обращению с отходами, количество выбросов загрязняющих веществ в атмосферный воздух и количество парниковых газов на единицу перерабатываемых отходов и т.д.).
						p В 2022 году на предприятиях Группы «Татнефть» образовалось 307,001 тыс. т отходов. Количество образования отходов в 2022 году увеличилось на 40,8% по сравнению с прошлым годом за счет изменения состава Группы «Татнефть».
						h1.red тут график!!!!
						h1.red тут таблица!!!
						p В процессе производственной деятельности на предприятиях, в соответствии с лицензиями на право обращения с отходами, осуществляется деятельность по сбору, транспортированию, обработке, утилизации, обезвреживанию, размещению отходов I - IV классов опасности. Количество отходов по состоянию на начало и конец каждого отчетного года (отходы, оставшиеся в накоплении) зависит от организации производственного процесса переработки образующихся отходов. Наличие отходов на начало года - 123,717 тыс. тонн. В отчетный период проведена частичная ликвидация шламонакопителя (ООО «Нижнекамская ТЭЦ»). Общий объем переработки (утилизация) шламонакопителя составил 82,1 тыс. тонн (ООО «Нижнекамская ТЭЦ»). Поступило отходов от других хозяйствующих субъектов-20,4 тыс. тонн. Наличие отходов на конец года-43,3 тыс. тонн.
						h1.red тут график!!!!
						h1.red тут таблица!!!
						p В 2022 году образовано отходов 1 - 4 класса опасности – 66,3 % (203,519 тыс. т), 5 класса опасности – 33,707 % (103,482 тыс. т). Методика сбора данных ведется по правилам формирования государственной статистической отчетности по форме № 2-ТП (отходы).
						h1.red тут график!!!!
						h1.red тут таблица!!!
						h1.red тут таблица!!!
					.dmpage-text.dmpage-text--small
						p * Бизнес-блок «Ремонт и бурение скважин» вошел в состав Группы «Татнефть» в 2022 году.\
						p **В связи с реорганизацией структуры Компании в 2021 году показатели по отходам бизнес-направления «Геологоразведка» включены в бизнес-направление «Разведка и добыча».
					.dmpage-text
						h1.red тут таблица!!!
						h1.red тут таблица!!!
						p На АО «Танеко» эксплуатируется специализированный полигон захоронения промотходов. Имеющийся противофильтрационный экран из геосинтетической мембраны (HDPE) исключает вероятность биологического и химического загрязнения прилегающих территорий, грунтовых вод, и обеспечивает сбор фильтрата для последующей его транспортировки на очистные сооружения. Отходы, размещенные таким образом, можно извлечь для утилизации при появлении новых технологий переработки.
						p Обращение с отходами бурения
						p Предприятиями Группы «Татнефть» образовано и переработано 94,997 тыс. т буровых отходов.
						p Отходы, образующиеся при бурении скважин подрядными организациями, согласно договорным условиям являются собственностью подрядчиков. В Компании налажена система учета и контроля за движением отходов, образованных при бурении скважин подрядными организациями, а также система компенсации их затрат на утилизацию буровых отходов.
					
						

block scripts
