extends layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Ответственное потребление

			h1.dmpage-h1 Ответственное потребление

		.dmpage
			include ./partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/649d25b6e61e7812629059.jpg", alt="")

			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p Компания развивает модель рационального потребления и циркулярной экономики, основанную на бережном отношении к потреблению и распределению всех видов ресурсов (природных, людских, финансовых), применяет методы оценки эффективности управления ресурсами, учитывает ресурсный потенциал производственных процессов по всей цепочке создания стоимости и жизненному циклу выпускаемой продукции и услуг. Это позволяет снижать природоемкость экономического роста с повышением эффективности производственных процессов и сохранить природные ресурсы для следующих поколений.
						p В рамках реализации ЦУР 12 установлены цели до 2030 года, направленные на обеспечение ответственного и эффективного потребления ресурсов и устойчивых средств производства.
						p На 2022 год для предприятий Группы «Татнефть» установлен целевой показатель доли отходов, направляемых на утилизацию и повторное использование от общего объема отходов - 64,8%. 
						p По снижению технологических потерь на 2022 год был установлен целевой показатель 13,6%. Целевой показатель по Группе «Татнефть» достигнут опережением, технологические потери сокращены в сравнении с базовым 2020 годом на 35,21%.
						h1.red тут таблица!!!
						h1.red тут график!!!!
						h1.red тут таблица!!!
						p Доля отходов, направляемых на утилизацию и повторное использование от общего объема отходов, увеличилась, в том числе, за счет включения новых предприятий в состав Группы «Татнефть».
						p Проекты по внедрению циркулярной экономики и ответственному потреблению 
						ul 
							li Строительство газотурбинной установки на Нижнекамской ТЭЦ - в результате модернизации установленная мощность станции увеличится, а переход на парогазовую технологию позволит снизить себестоимость вырабатываемой электроэнергии. Завершение строительства планируется в 2024 году.
							li Циркулярный лес – проект по выращиванию в теплице саженцев с последующей их пересадкой в лес. Древесина, полученная от взрослых деревьев, перерабатывается для получения биотоплива. И тепло, и углекислый газ, полученные в результате переработки, будут использоваться в теплицах, где снова будут выращиваться саженцы.
							li Пиролиз древесной биомассы с целью получения биоойла (компонент для получения топлива) и биочара (удобрение для сельского хозяйства).
							li Реконструкция криогенной установки по глубокой переработке сухого отбензиненногогаза с выпуском новых продуктов.
							li Разработка нефтяных и опробование пиролиза резиновой крошки, установки производства резиномодифицированного битума, установки гидроконверсии тяжелых  остатков 
							li Вторичное использование железобетонного боя, направление на вторичное использование макулатуры, отработанного растительного и моторного масла, бутылок ПЭТ, отработанных шин, переработка технологических отходов стеклопластиков и производство новых видов товарной продукции.
							li В учебных годах организована работа в школах города Альметьевск, школах и детских садах п.г.т. Актюбинский, с. Мальбагуш Азнакаевского района по сбору ПЭТФ-бутылок, полиэтилена и полипропилена. Собрано более 7,7 тыс. тонн вторсырья. Для этих целей Компания передала 249 контейнеров для сбора вторсырья.
							li Экопоселение замкнутого цикла «Актюба». Системная работа в области энерго- и ресурсоэффективности, значительный опыт и обширные компетенции по энергосбережению и созданию экономики замкнутого цикла, способствовали их применению и вне Компании. Идея о создании устойчивого автономного энергоэффективного поселения появилась у Компании как ответ на вызов углеродной нейтральности и один из путей достижения целей устойчивого развития. Устойчивое автономное энергоэффективное поселение на базе п.г.т. Актюбинский реализуется в качестве научно-производственного и образовательного полигона для создания, отработки и развития биотехнологий, энергосберегающих технологий, возобновляемых источников сырья, с обеспечением максимальной вторичной переработкой ресурсов. 
						p Проект основывается на 4 составляющих: 
						ul 
							li комплекс современного энерго- и теплообеспечения поселка из местных биоресурсов на основе биотехнологий
							li комплекс современных опытно-промышленных биотехнологических производств на основе местных биоресурсов
							li программы развития экологии и рационального потребления на основе углеродно-нейтральных технологий замкнутого цикла
							li развитие и создание качественной инфраструктуры для бизнеса и жизни людей
						p Более подробно о проекте: 
							a(href="https://www.tatneft.ru/sustainable_development/actobe") https://www.tatneft.ru/sustainable_development/actobe




block scripts
