extends layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Ресурсоэффективность

			h1.dmpage-h1 Ресурсоэффективность

		.dmpage
			include ./partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/649d25b6e61e7812629059.jpg", alt="")

			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p «Татнефть» как один из крупнейших участников энергетического рынка ведет системную работу в области энерго- и ресурсоэффективности. Эти понятия в Компании объединены в замкнутый цикл, включающий оптимизацию затрат, экономию ресурсов и их вторичное использование, повышение энергоэффективности по всей производственной цепочке.
						p Политика Группы «Татнефть» в области интегрированной системы менеджмента направлена на достижение единых стратегических целей в области рационального использования природных ресурсов, вовлекаемых в производство, за счёт внедрения ресурсосберегающих и энергоэффективных технологий, применения экологически чистых и альтернативных источников энергии, переработки отходов и использования перерабатываемых материалов, внедрения наилучших доступных технологий, оборудования, материалов, цифровых решений управления технологическими процессами.
						p 
							b Энергоэффективность
						p В соответствии со Стратегией развития 2030 ключевым ориентиром является постоянное улучшение энергетической эффективности, совершенствование процессов управления энергетической эффективностью и энергосбережением при осуществлении всех видов производственной деятельности; сдерживание роста затрат за счет внедрения передовых инновационных энергоэффективных технологий и рационального использования энергоресурсов; разработка, внедрение, обеспечение функционирования и постоянное улучшение Системы энергетического менеджмента, соответствующей требованиям ISO 50001-2018.
						p Единые требования к системе энергетического менеджмента установлены стандартом «Энергоэффективность и энергосбережение в Группе «Татнефть». Также Компания предъявляет требования по энергоэффективности и энергосбережению к поставляемым услугам, оборудованию и технологиям, которые учитываются в технических требованиях на оборудование, в справочнике энергоэффективного оборудования и технологий и иных локальных нормативных документах. Информирование поставщиков о требованиях по энергоэффективности в обязательном порядке осуществляется в закупочной документации.
						p Повышение энергоэффективности - одно из основных направлений адаптации к изменению климата, реализующихся путем выполнения задач ЦУР 7 «Недорогостоящая и чистая энергия».
						h1.red тут таблица!!!
						p Энергоэффективность один из главных принципов развития Компании. С 2000 года Компания реализует технические и организационные мероприятия, направленные на снижение потребления энергоресурсов - Программы повышения энергоэффективности и энергосбережения. Действующая целевая программа повышения энергоэффективности и энергосбережения разработана на трехлетний период с 2022 по 2025 годы.
						p Стратегическая цель - эффективность программы повышения энергосбережения до 2025 не менее 2,8% ежегодно относительно фактического объема потребления топливно-энергетических ресурсов в предыдущем году.
						h1.red тут таблица!!!
						p В 2022 году экономия потребления энергии составила 167 тыс. т.у.т.
						p При плане 2,8% исполнение программы энергосбережения за 2022 год составило 3,0%.
						p Наиболее эффективными направлениями экономии являются: подготовка, переработка нефти и газа, транспорт, технология добычи нефти и газа, поддержание пластового давления.
						p Требования энергетической эффективности интегрированы во все процессы, определяющие жизненный цикл технологических объектов: проектирование, строительство, эксплуатацию. Программа энергосбережения включает более 3-х тысяч мероприятий. В периметре каждого бизнес-направления сформирован пул инновационных технологий, внедрение которых обеспечивает достижение целей энергоэффективности:
						ul 
							li в нефтедобыче – энергоэффективные насосы для процессов подъема продукции скважин, подготовки нефти и системы поддержания пластового давления с применением стеклопластиковых труб.
							li в нефтегазопереработке и нефтегазохимии – системы рекуперации тепла вторичных энергоресурсов, энергоэффективные насосные и компрессорные агрегаты.
							li на предприятиях энергетического блока – энергоэффективные трансформаторы, автоматические устройства компенсации реактивной мощности, тепловые сети из композиционных материалов, технологии оптимизации процессов сжигания топлива в котлах.
						h1.red тут таблица!!!
						p *тепловая энергия на добычу СВН учтена в объеме закупки природного газа.
						p Для расчета величины потребления котельно-печного топлива в т.у.т. использована фактическая теплота сгорания при стандартных условия (калорийность) для каждого вида топлива.
						p Потребление энергии из возобновляемых источников энергии (ВИЭ)
						p Стратегия Компании учитывает роль возобновляемых источников энергии и их значимость для более чистого энергетического будущего с низким содержанием углерода. В рамках решения задачи ЦУР 7 по увеличению доли энергии из возобновляемых источников реализуется программа «Развитие возобновляемых источников энергии», включающая инвестиционные и инновационные проекты, по солнечной генерации, ветро и гидрогенерации, генерации на основе биотоплива, глубокой утилизации тепла и иные проекты.
						p Стратегическая цель — генерация 900 МВт возобновляемой энергии к 2050 году. 
						p Из них 650 МВт (72%) - внешние проекты, 
						p 250 МВт (28%) - энергообеспечение объектов Компании.
						p Доведение доли мощности ВИЭ до 4% к 2030 году. 
						h1.red тут график!!!!
						h1.red тут таблица!!!
						p На развитие проектов по ВИЭ направлены инвестиции в размере 54,8 млн рублей.
						p В 2022 году введены в эксплуатацию проточные микро – ГЭС, ветрогенераторы, тепловые насосы на АЗС, система отопления АЗС при помощи солнечного коллектора. Продолжается внедрение пеллетного отопительного оборудования и солнечных электростанций на АЗС. В настоящее время работают 330 пеллетных котельных и 4 солнечных электростанции.
						p На 2023 год планируется достичь объемов выработки из ВИЭ не менее 1 491 т.у.т.
						h1.red тут таблица!!!
						p В 2022 году возобновляемая энергия со стороны не приобреталась.
						h1.red тут таблица!!!
						p *В объем потребленной энергии включено потребление электроэнергии, тепловой энергии и котельно-печного топлива из возобновляемых и невозобновляемых источников.
						h1.red тут таблица!!!
						h1.red тут таблица!!!
						p Энергоемкость – отношение суммарного энергопотребления в тоннах условного топлива к стоимости произведенной продукции в сопоставимых условиях (ценах 2021 года).
						p Снижение энергоемкости в 2022 относительно 2021 составило 6,8%, в т.ч. за счет мероприятий программы энергосбережения - 3%, за счет снижения доли добычи сверхвязкой нефти – 0,9%, за счет изменения корзины продукции нефтепереработки, нефтегазохимии и других бизнес-направлений – 2,9%.
						p В целях снижения выбросов парниковых газов, расхода топливно-энергетических ресурсов и сокращения технологических потерь реализуются следующие мероприятия:
						ul 
							li внедрение трубопроводов из полимерных материалов
							li применение композиции (химического реагента) для обработки внутренних поверхностей труб горячего водоснабжения
							li внедрение систем оперативного дистанционного контроля
							li внедрение трубопроводов из армированного полиэтилена
							li использование выпара деаэратора для нагрева исходной воды


						

block scripts
