extends layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Риск-менеджмент

			h1.dmpage-h1 Риск-менеджмент

		.dmpage
			include ./partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/649d25b6e61e7812629059.jpg", alt="")

			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p Интеграция и управление климатическими рисками
					.dmpage-quote
						

						|  Учет климатических рисков и возможностей, связанных с изменением климата, является обязательным при принятии руководящих решений в Компании.
					.dmpage-text
						p В Компании процесс выявления и оценки рисков/возможностей, связанных с климатом, а также в области промышленной безопасности, охраны труда и окружающей среды, является частью интегрированного процесса управления рисками, основанного на рекомендациях национальных и международных стандартов (ISO 31000:2018 «Менеджмент риска. Принципы и руководство»; COSO ERM «Основы управления рисками»).
						p Управление рисками и возможностями является частью общей системы менеджмента Компании и инструментом, встраиваемым в бизнес-процессы Компании и используемым для принятия решений на всех уровнях управления, в соответствии с ISO 31000:2018 «Менеджмент риска. Принципы и руководство». Центральным элементом данного процесса является «Политика управления рисками и внутреннего контроля ПАО «Татнефть».
					.dmpage-quote
						a.dmpage-quote__link(href="https://www.tatneft.ru/o-kompanii/docs")

						|  С 2021 года целевые показатели по выбросам парниковых газов включены в КПЭ руководителей бизнес-направлений.
					.dmpage-text
						p В Компании функционирует документированный процесс идентификации, оценки, мониторинга и управления климатическими рисками и возможностями, как часть общего процесса управления рисками и возможностями. Риски стратегического уровня управляются в соответствии с методикой «Управление климатическими рисками и возможностями». Управление рисками операционного уровня осуществляется на основе Стандарта по управлению рисками в области промышленной безопасности, охраны труда и окружающей среды. Владельцы рисков несут ответственность за определение рисков возможностей, разработку и реализацию мероприятий по управления рисками. Владельцы климатических рисков выполняют регулярный мониторинг и подготавливают отчетность по управлению климатическими рисками.
						p При оценке инвестиционных проектов с 2021 года в Компании учитываются риски, связанные с ростом выбросов СО2 (Scope 1, 2 и 3), Советом директоров установлена внутренняя цена углерода в 49$ за тонну СО2-экв.
						h2 Идентификация климатических рисков
						p Система управления климатическими рисками выстроена на основе полноты и достоверности идентификации рисков, на комплексной оценке их влияния на людей, материальные активы, окружающую среду и имидж.
						p В 2022 году Компанией разработан реестр климатических рисков, который в соответствии с классификацией TCFD, включает риски, связанные с постепенным переходом к низкоуглеродной экономике, а также физические риски. Реестр климатических рисков и возможностей, мероприятия по работе с климатическими рисками и отчет по работе с рисками рассматриваются и утверждаются Советом директоров Компании. 
						p Оценка климатических рисков и возможностей проводится не реже одного раза в год. При выявлении внутренних или внешних факторов, имеющих потенциал влияния на реестр климатических рисков и возможностей, проводится внеочередная оценка климатических рисков и возможностей 
						p Любой риск, связанный с прямой опасностью для жизни и здоровья людей, возникновением экологических катастроф, Компания рассматривает с максимальным приоритетом.
						p Риски разделены по горизонту планирования (кратко, средне- и долгосрочные) и проранжированы на основании экспертной консенсус-оценки вероятности и последствий их реализации, определены меры по работе с данными рисками.
						h1.red не готово!!!!
						p Более подробно о климатических рисках в Приложении № 2.
						p Для минимизации рисков и повышения безопасности, совершенствуются методы предотвращения потерь и снижения затрат на компенсацию ущербов реализовавшихся рисков, организуется страхование негативных событий. В Группе «Татнефть» на постоянной основе осуществляет страхование рисков, связанных с причинением ущерба окружающей среде. Договоры страхования заключаются в отношении всех опасных производственных объектов Компании.

block scripts
