extends layouts/default


block main
	.container.container--dmpage
		div
			h1.dmpage-h1 RU MAP
		.dmpage

			.dmpage-main
				.dmpage-detail 

					.dmpage-text(style="width:100%;")
						














						style  .dmpage-quote ol, .dmpage-quote ul, .dmpage-table ol, .dmpage-table ul, .dmpage-text ol, .dmpage-text ul {padding-left:25px;}

						ul
							li 
								a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie.html" taget="_blank") Устойчивое развитие  
								ul 
									li
										a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/prava-cheloveka.html" taget="_blank")  Права человека 
									li
										a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/navigator-cur-oon.html" taget="_blank")  Навигатор ЦУР ООН 





									li
										a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya.html" taget="_blank") Раздел 2 уровня: Экология
										ul
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/ekologicheskij-menedzhment.html" taget="_blank")  Экологический менеджмент 
												ul
													//li REMOVED
														a(href="REPLACE_ME" taget="_blank")  Система управления
													li
														a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/ekologicheskij-menedzhment/vklad-v-zashitu-okruzhayushej-sredy.html" taget="_blank")  Вклад в защиту окружающей среды
													//li REMOVED
														a(href="REPLACE_ME" taget="_blank")  Система предупреждения и ликвидации чрезвычайных ситуаций
													li
														a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/ekologicheskij-menedzhment/znachimye-ekologicheskie-fakty.html" taget="_blank")  Значимые экологические факты

													//li REMOVED
														a(href="REPLACE_ME" taget="_blank")  Сведения о спорных экологических ситуациях
													//li REMOVED
														a(href="REPLACE_ME" taget="_blank")  Показатели воздействия на окружающую среду
													//li REMOVED
														a(href="REPLACE_ME" taget="_blank")  Информирование

											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/borba-s-izmeneniem-klimata.html" taget="_blank")  Борьба с изменением климата
												ul
													li
														a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/borba-s-izmeneniem-klimata/strategiya-dekarbonizacii.html" taget="_blank")  Стратегия низкоуглеродного развития
													li
														a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/borba-s-izmeneniem-klimata/risk-menedzhment.html" taget="_blank")  Управление климатическими рисками
													li
														a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/borba-s-izmeneniem-klimata/vybrosy-parnikovyh-gazov.html" taget="_blank")  Показатели выбросов парниковых газов
													li
														a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/borba-s-izmeneniem-klimata/resursoeffektivnost.html	" taget="_blank")  Ресурсоэффективность
													li
														a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/borba-s-izmeneniem-klimata/vzaimodejstvie-po-voprosam-klimaticheskoj-povestki.html" taget="_blank")  Взаимодействие по вопросам климатической повестки
														












											li
												// REMOVED
													a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/ohrana-atmosfernogo-vozduha.html" taget="_blank")  Охрана атмосферного воздуха
												// PSEUDO
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/ohrana-atmosfernogo-vozduha/vybrosy-v-atmosfernyj-vozduh.html" taget="_blank")  Охрана атмосферного воздуха
												ul
													li
											
														a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/ohrana-atmosfernogo-vozduha/vybrosy-v-atmosfernyj-vozduh.html" taget="_blank")  Показатели выбросов загрязняющих веществ
													li
														a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/ohrana-atmosfernogo-vozduha/monitoring-atmosfernogo-vozduha.html" taget="_blank")  Мониторинг атмосферного воздуха
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/vodozabor-i-vodopotreblenie.html" taget="_blank")  Охрана водных ресурсов
												ul
													li
														a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/vodozabor-i-vodopotreblenie/pokazateli-vodopolzovaniya.html" taget="_blank")  Показатели водопотребления и водоотведения
													li
														a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/vodozabor-i-vodopotreblenie/gidromonitoring.html" taget="_blank")  Гидромониторинг
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/ohrana-zemelnyh-resursov.html" taget="_blank")   Охрана земельных ресурсов

											//li REMOVED
												a(href="REPLACE_ME" taget="_blank") Достижение целей ЦУР
											//li REMOVED
												a(href="REPLACE_ME" taget="_blank")  Гидромониторинг
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/sohranenie-bioraznoobraziya.html" taget="_blank")  Сохранение биоразнообразия
												//ul REMOVED
													li
														a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/sohranenie-bioraznoobraziya/obekty-prirodno-zapovednogo-fonda-regiona-proizvodstvennoj-deyatelnosti-pao-tatneft.html" taget="_blank")  Объекты природно-заповедного фонда региона производственной деятельности ПАО «Татнефть»
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/obrashenie-s-othodami.html" taget="_blank")  Обращение с отходами
												ul
													li
														a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/obrashenie-s-othodami/pokazateli.html" taget="_blank")  Показатели обращения с отходами
													li
														a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ekologiya/obrashenie-s-othodami/dostizhenie-celej-cur-12.html" taget="_blank")  Рациональное использование отходов
									li
										a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/personal.html" taget="_blank") Раздел 2 уровня: Персонал 
										ul
										
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/personal/sistema-upravleniya.html" taget="_blank")  Система управления 
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/personal/obuchenie-i-razvitie.html" taget="_blank")  Обучение и развитие 
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/personal/socialnoe-obespechenie.html" taget="_blank")  Социальное обеспечение 
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/personal/struktura.html" taget="_blank")  Структура 
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/personal/razvitie-molodezhi.html" taget="_blank")  Развитие молодежи 
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/personal/kadrovyj-rezerv.html" taget="_blank")  Кадровый резерв 
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/personal/oplata-truda.html" taget="_blank")  Оплата труда 
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/personal/kollektivnoe-predstavitelstvo.html" taget="_blank")  Коллективное представительство 

												

















									li
										a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/bezopasnost-proizvodstva.html" taget="_blank") Раздел 2 уровня: Безопасность производства 
										ul
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/bezopasnost-proizvodstva/sistema-upravleniya-2.html" taget="_blank")  Система управления 
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/bezopasnost-proizvodstva/tehnogennye-proisshestviya.html" taget="_blank")  Техногенные происшествия 
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/bezopasnost-proizvodstva/ohrana-truda-i-bezopasnost-proizvodstvennyh-processov.html" taget="_blank")  Охрана труда 
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/bezopasnost-proizvodstva/proizvodstvennyj-travmatizm.html" taget="_blank")  Производственный травматизм 
											//li REMOVED
												a(href="REPLACE_ME" taget="_blank")  Безопасность рабочих мест 
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/bezopasnost-proizvodstva/sistema-preduprezhdeniya-i-likvidacii-chrezvychajnyh-situacij.html" taget="_blank")  Система предупреждения и ликвидации чрезвычайных ситуаций 

									li
										a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/sodejstvie-socialnomu-razvitiyu.html" taget="_blank") Раздел 2 уровня: Содействие социальному развитию 
										ul
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/sodejstvie-socialnomu-razvitiyu/podhod-k-upravleniyu.html" taget="_blank")  Подход к управлению 
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/sodejstvie-socialnomu-razvitiyu/investicii-v-novye-pokoleniya.html" taget="_blank")  Инвестиции в новые поколения 
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/sodejstvie-socialnomu-razvitiyu/zdorovyj-obraz-zhizni.html" taget="_blank")  Здоровый образ жизни 
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/sodejstvie-socialnomu-razvitiyu/blagotvoritelnyj-fond.html" taget="_blank")  Благотворительный фонд 
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/sodejstvie-socialnomu-razvitiyu/sohranenie-kulturnogo-naslediya.html" taget="_blank")  Сохранение культурного наследия 
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/sodejstvie-socialnomu-razvitiyu/podderzhka-iniciativ-razvitiya.html" taget="_blank")  Поддержка инициатив развития 
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/sodejstvie-socialnomu-razvitiyu/razvitie-socialnoj-infrastruktury.html" taget="_blank")  Развитие социальной инфраструктуры 
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/sodejstvie-socialnomu-razvitiyu/vzaimodejstvie-s-korennym-mestnym-naseleniem-vedushim-tradicionnyj-obraz-zhizni.html" taget="_blank")  Взаимодействие с коренным местным населением, ведущим традиционный образ жизни 
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/sodejstvie-socialnomu-razvitiyu/chlenstvo-v-associaciyah.html" taget="_blank")  Членство в ассоциациях 

















									li
										a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/esg-proekty.html" taget="_blank") ESG-проекты
										ul
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/esg-proekty/proekty-ccus.html" taget="_blank")   Проекты CCUS
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/esg-proekty/proekt-zelenyj-ofis.html" taget="_blank")   Проект «Зеленый офис»
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/esg-proekty/zelenoe-zoloto-tatnefti.html" taget="_blank")   Зеленое золото Татнефти
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/esg-proekty/ne-tolko-chistyj-vozduh.html" taget="_blank")   Не только чистый воздух
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/esg-proekty/poslanniki-cur-tatnefti.html" taget="_blank")   Посланники ЦУР Татнефти
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/esg-proekty/shkolnye-biolaboratorii.html" taget="_blank")   Школьные биолаборатории
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/esg-proekty/v-poiskah-uglerodnogo-sleda.html" taget="_blank")   В поисках углеродного следа
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/esg-proekty/olimpiada-yunyh-geologov.html" taget="_blank")   Олимпиада юных геологов
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/esg-proekty/energoeffektivnoe-poselenie-aktyuba.html" taget="_blank")   Энергоэффективное поселение Актюба

									//li
										a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/esg-rejtingi.html" taget="_blank") ESG-рейтинги


									li
										a(href="https://dmitryboz21.github.io/ttneft/build/ustojchivoe-razvitie/ratings.html" taget="_blank") Раздел 2 уровня: Рейтинги и рэнкинги устойчивого развития


























							
block scripts
