extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Карта

			h1.dmpage-h1 Карта

		.dmpage
			include ./partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/649d25b6e61e7812629059.jpg", alt="")

			.dmpage-main
				.dmpage-detail
					.dmpage-text
						h2 Блок 1
						p 
							a(href="/ttneft/build/ustojchivoe-razvitie.html") Устойчивое развитие
						p 
							a(href="/ttneft/build/navigator-cur-oon.html") Навигатор ЦУР ООН
						p 
							a(href="/ttneft/build/prava-cheloveka.html") Права человека
						h2 Блок 3
						p 
							a(href="/ttneft/build/personal.html") Персонал
						p 
							a(href="/ttneft/build/sistema-upravleniya.html") Система управления
						p 
							a(href="/ttneft/build/struktura.html") Структура
						p 
							a(href="/ttneft/build/oplata-truda.html") Оплата труда
						p 
							a(href="/ttneft/build/obuchenie-i-razvitie.html") Обучение и развитие
						p 
							a(href="/ttneft/build/razvitie-molodezhi.html") Развитие молодежи
						p 
							a(href="/ttneft/build/kollektivnoe-predstavitelstvo.html") Коллективное представительство
						p 
							a(href="/ttneft/build/socialnoe-obespechenie.html") Социальное обеспечение
block scripts
	script(src="js/page-index.js")



