extends layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Устойчивое развитие

			h1.dmpage-h1 Устойчивое развитие

		.dmpage
			include ./partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/new_top_photos/sustainable-development.jpg", alt="")

			.dmpage-menu
				//a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						//a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie.html") К началу раздела
						a.dmpage-menu-item(href="/ustojchivoe-razvitie/navigator-cur-oon.html") Навигатор ЦУР ООН
						a.dmpage-menu-item(href="/ustojchivoe-razvitie/prava-cheloveka.html") Права человека
						a.dmpage-menu-item(href="/ustojchivoe-razvitie/ekologiya.html") Экология
						a.dmpage-menu-item(href="/ustojchivoe-razvitie/personal.html") Персонал
						a.dmpage-menu-item(href="/ustojchivoe-razvitie/bezopasnost-proizvodstva.html") Безопасность производства
						a.dmpage-menu-item(href="/ustojchivoe-razvitie/sodejstvie-socialnomu-razvitiyu.html") Содействие социальному развитию 
						a.dmpage-menu-item(href="/ustojchivoe-razvitie/esg-proekty.html") ESG-проекты
						a.dmpage-menu-item(href="/ustojchivoe-razvitie/ratings.html") Рейтинги и рэнкинги устойчивого развития (ratings)




			.dmpage-main
				.dmpage-detail 
					include ./page-parts/b1/ustojchivoe-razvitie.pug
					//include ./page-parts/b1/navigator-cur-oon.pug
					//include ./page-parts/b1/prava-cheloveka.pug
block scripts