extends layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Вклад в защиту окружающей среды

			h1.dmpage-h1 Вклад в защиту окружающей среды

		.dmpage
			include ./partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/649d25b6e61e7812629059.jpg", alt="")

			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p В 2022 году расходы на охрану окружающей среды составили 10,8 млрд руб., что на 8,5 % меньше, чем в 2021 году. Уменьшение расходов преимущественно связано с изменением организационной структуры Группы «Татнефть» и уменьшением инвестиций в связи завершением строительства и вводом в эксплуатацию общезаводской факельной системы и компрессорной установки сырого газа.
						h1.red тут таблица!!!
					.dmpage-text.dmpage-text--small *амортизационные отчисления на восстановление основных фондов по охране окружающей среды по Группе «Татнефть» помимо данного показателя составили 4,8 млрд рублей.
					.dmpage-text
						p Расчет расходов на охрану окружающей среды произведен на основании отчетов по формам федерального статистического наблюдения N 4-ОС «Сведения о текущих затратах на охрану окружающей среды» и № 18-КС «Сведения об инвестициях в основной капитал, направленных на охрану окружающей среды и рациональное использование природных ресурсов».
						h1.red тут таблица!!!
						h1.red тут график!!!!
						p Масштабная природоохранная деятельность предприятий Группы «Татнефть» финансируется за счёт собственных средств по приоритетному принципу. 
						h1.red тут график!!!!
						p Объёмы финансирования природоохранных мероприятий в соответствии с Европейским Классификатором видов природоохранной деятельности (The Classification of Environmental Protection Activities and expenditures, СЕРА 2000) сгруппированы по 9 направлениям.
						h1.red тут таблица!!!

block scripts
