extends layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Водозабор и водопотребление

			h1.dmpage-h1 Водозабор и водопотребление

		.dmpage
			include ./partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="okruzhayushaya-sreda.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="okruzhayushaya-sreda.html") К началу раздела
						a.dmpage-menu-item(href="poziciya-kompanii-v-oblasti-izmeneniya-klimata.html") Позиция Компании в области изменения климата
						a.dmpage-menu-item(href="klimaticheskie-celi.html") Климатические цели
						a.dmpage-menu-item(href="vzaimodejstvie-po-voprosam-klimaticheskoj-povestki.html") Взаимодействие по вопросам климатической повестки
						a.dmpage-menu-item(href="sistema-ekologicheskogo-menedzhmenta.html") Система экологического менеджмента
						a.dmpage-menu-item(href="risk-menedzhment.html") Риск-менеджмент
						a.dmpage-menu-item(href="vozmozhnosti-svyazannye-s-klimatom.html") Возможности, связанные с климатом
						a.dmpage-menu-item(href="vklad-v-zashitu-okruzhayushej-sredy.html") Вклад в защиту окружающей среды
						a.dmpage-menu-item(href="ekologicheskaya-programma.html") Экологическая программа
						a.dmpage-menu-item(href="vybrosy-v-atmosferu.html") Выбросы в атмосферу
						a.dmpage-menu-item(href="vybrosy-zagryaznyayushih-veshestv.html") Выбросы загрязняющих веществ
						a.dmpage-menu-item.dmpage-menu-item--active(href="vodozabor-i-vodopotreblenie.html") Водозабор и водопотребление
						a.dmpage-menu-item(href="vodootvedenie.html") Водоотведение
						a.dmpage-menu-item(href="obrashenie-s-othodami.html") Обращение с отходами
						a.dmpage-menu-item(href="otvetstvennoe-potreblenie.html") Ответственное потребление
						a.dmpage-menu-item(href="sohranenie-bioraznoobraziya.html") Сохранение биоразнообразия
						a.dmpage-menu-item(href="resursoeffektivnost.html") Ресурсоэффективность


			.dmpage-main
				.dmpage-detail 
					//	include ./page-parts/b2/okruzhayushaya-sreda.pug
						include ./page-parts/b2/poziciya-kompanii-v-oblasti-izmeneniya-klimata.pug
						include ./page-parts/b2/klimaticheskie-celi.pug
						include ./page-parts/b2/vzaimodejstvie-po-voprosam-klimaticheskoj-povestki.pug
						include ./page-parts/b2/sistema-ekologicheskogo-menedzhmenta.pug
						include ./page-parts/b2/risk-menedzhment.pug
						include ./page-parts/b2/vozmozhnosti-svyazannye-s-klimatom.pug
						include ./page-parts/b2/vklad-v-zashitu-okruzhayushej-sredy.pug
						include ./page-parts/b2/ekologicheskaya-programma.pug
						include ./page-parts/b2/vybrosy-v-atmosferu.pug
						include ./page-parts/b2/vybrosy-zagryaznyayushih-veshestv.pug
					include ./page-parts/b2/vodozabor-i-vodopotreblenie.pug
				//	include ./page-parts/b2/vodootvedenie.pug
					include ./page-parts/b2/obrashenie-s-othodami.pug
					include ./page-parts/b2/otvetstvennoe-potreblenie.pug
					include ./page-parts/b2/sohranenie-bioraznoobraziya.pug
					include ./page-parts/b2/resursoeffektivnost.pug
					
block scripts