extends layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Выбросы загрязняющих веществ

			h1.dmpage-h1 Выбросы загрязняющих веществ

		.dmpage
			include ./partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/649d25b6e61e7812629059.jpg", alt="")

			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p В 2022 году валовые выбросы загрязняющих веществ в атмосферный воздух по Группе «Татнефть» составили 100,2 тыс. т, что на 3,2% меньше показателя за 2021 год. Снижение достигнуто путем реализации следующих мероприятий:
						ul 
							li модернизации производства с применением наилучших технологий, оборудования, материалов, цифровых решений управления
							li повышения энергоэффективности производственных процессов
							li поддержания технического состояния нефтепромыслового оборудования на надлежащем уровне
							li внедрения технологии улавливания лёгких фракций углеводородов, выделяющихся из емкостей;
							li снижения объёмов сжигаемого на факельных установках попутного нефтяного газа
							li очищения попутного нефтяного газа на установках сероочистки
							li замены факельных установок на установки с бессажевым горением
							li ремонта и замены резервуаров, нанесения на них антикоррозионного покрытия и внедрение средств электрохимической защиты
							li капитального ремонта и замены товарных технологических нефтепроводов и газопроводов
							li повышения экологических показателей транспорта
							li использование на АЗС газовозвратных топливно-раздаточных колонок.
							h1.red тут таблица!!!
					.dmpage-text.dmpage-text--small * Показатели по выбросам загрязняющих веществ в атмосферный воздух сформированы на основании показателей, отраженных в формах государственной статистической отчетности (2-ТП воздух).
					.dmpage-text
						h1.red тут график!!!!
						h1.red тут график!!!!
						h1.red тут таблица!!!
						p 
							b Выбросы озоноразрушающих веществ
						p Группа «Татнефть» не использует озоноразрушающие вещества в промышленных масштабах, а также не производит их.
						p 
							b Рациональное использование попутного нефтяного газа
						p В Компании реализуется Программа по повышению рационального использования попутного нефтяного газа, направленная на стимулирование переработки ПНГ в продукцию с высокой добавленной стоимостью и снижение воздействия на окружающую среду и климат.
						h1.red тут график!!!!
					.dmpage-quote

						|  За период 2020-2022 годы объем сжигания ПНГ снижен на 50%. Уровень утилизации ПНГ в 2022 году составил 98,09%.
					.dmpage-text
						p Расчёты уровней утилизации ПНГ проводятся согласно Постановления Правительства Российской Федерации №1148 от 08.11.2019 года «Положение об особенностях исчисления платы за негативное воздействие на окружающую среду при выбросах в атмосферный воздух загрязняющих веществ, образующихся при сжигании на факельных установках и (или) рассеивании попутного нефтяного газа».
						p Для повышения уровня полезного использования попутного нефтяного газа выполнены мероприятия по подключению пунктов сепарации к системе сбора газа, организации многофазного транспорта продукции скважин и использованию газа на собственные технологические нужды.
						img(src="img/pic-1.jpg", alt="")
						img(src="img/pic-1.jpg", alt="")

						
						

block scripts
