extends layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Взаимодействие по вопросам климатической повестки 

			h1.dmpage-h1 Взаимодействие по вопросам климатической повестки 

		.dmpage
			include ./partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/649d25b6e61e7812629059.jpg", alt="")

			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p Компания занимает активную позицию в климатической повестке и понимает, что решение её задач требует сотрудничества на национальном, международном и отраслевом уровнях и взаимодействует со всеми заинтересованными сторонами в области снижения рисков изменения климата и адаптации к изменениям климата. 
						p Представители Компании являются членами комитетов РСПП и активно участвуют в работе Комитета по климатической политике и углеродному регулированию. В 2022 году в составе делегации от Российской Федерации Компания приняла участие в 27-й конференции ООН по изменению климата (COP27). 
						p Компания принимает участие в рабочих группах Комитета ООР «РСПП» по экологии и природопользованию, по реализации механизма «регуляторной гильотины» в сфере экологии и природопользования при Аналитическом центре Правительства РФ, Правительственной комиссии по экономическому развитию и интеграции «Климатические проекты», научно-техническом совете Федеральной службы по надзору в сфере природопользования.
						p В 2021 году Компания подписала Меморандум о деятельности Российского партнерства за сохранение климата и вошла в число его официальных партнеров. Компания поддерживает инициативы Партнерства в сфере климатической повестки и достижения ЦУР ООН и принимает участие в мероприятиях.
						

block scripts
