extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Экологический менеджмент 

			h1.dmpage-h1 Экологический менеджмент 

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/new_top_photos/environmental-management.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya.html") К началу раздела
						a.dmpage-menu-item(href="/ustojchivoe-razvitie/ekologiya/ekologicheskij-menedzhment/vklad-v-zashitu-okruzhayushej-sredy.html") Вклад в защиту окружающей среды
						a.dmpage-menu-item(href="znachimye-ekologicheskie-fakty.html") Значимые экологические факты

						

			.dmpage-main
				.dmpage-detail 
				

					.dmpage-text
						p Компания обеспечивает систему менеджмента промышленной безопасности, охраны труда и окружающей среды по всей производственной цепочке Группы «Татнефть». На операционном уровне система управления в области промышленной безопасности, охраны труда и окружающей среды (ПБОТОС) обеспечивается двумя функциональными подразделениями:

						ul
							li управление промышленной безопасности и охраны труда* 
							li управление охраны окружающей среды и экологии

					.dmpage-text.dmpage-text--small * подробнее о системе управления промышленной безопасностью и охраной труда – в разделе «Безопасность производства»


					.dmpage-text 
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image74.png")



					.dmpage-text
						h2 Система управления воздействием на окружающую среду охватывает все основные уровни управления
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image76.png")
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image75.png")

						p С 2006 года Компания развивает интегрированную систему менеджмента промышленной безопасности, охраны труда и окружающей среды, отвечающую передовым международным стандартам ISO. Соответствие стандартам подтверждается ресертификацией каждые три года. 
						p Ежегодно проводятся внутренние и внешние надзорные аудиты, способствующие совершенствованию системы менеджмента, повышению уровня компетентности работников в данных областях. С целью дальнейшего развития системы менеджмента, повышения ее результативности в 2022 году были формализованы основные процессы. 
						p В процессах функционального направления, охватывающих все организации Группы «Татнефть», были разработаны матрицы ответственности, определены показатели эффективности процессов, которые увязаны со стратегическими целями в области охраны окружающей среды. 
						p Компания обеспечивает соответствие стандартам ISO в области экологического менеджмента, промышленной безопасности и охраны здоровья: ISO 14001:2015, ISO 45001:2018 и ГОСТ Р ИСО 14001-2016. Внедрены стандарты ISO в области климата: ISO 14064-1:2018, ISO 14064- 2:2019, ISO 14064-3:2019.
						p Компания развивает систему добровольного страхования экологических рисков в рамках корпоративной интегрированной системы управления рисками.

						p Подразделения Группы «Татнефть» на постоянной основе осуществляют страхование рисков, связанных с причинением ущерба окружающей среде. Договоры страхования заключаются в отношении всех опасных производственных объектов, закрепленных за структурными подразделениями и дочерними обществами Компании. Страховая компания возмещает физический и имущественный вред, а также вред, нанесенный окружающей природной среде.






					.dmpage-text
						h2 Сертификаты системы менеджмента
					.dmpage-small-w-section.dmpage-small-w-section--ext-docs
						.dmpage-extendable-docs
							each val in ['https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.1._sertifikat_taneko_14001_page-0001.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.9._sertifikat_taneko_14001_angl.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.10._sertifikat_taneko_14001_angl-1.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.2._sertifikat_toljattikauchuk_ISO_14001_RU_page-0001.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.11._toljattikauchuk_ISO_14001_angl_page-0001.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.3._ekopet_sertifikat_GOST_R_ISO_14001-2016_ru.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.4._ekopet_sertifikat_ISO_14001-2015_ru.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.12._ekopet_14001_angl_page-0001.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.5._sertifikat_bmz_ISO_14001-2015_rus.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.13._bmz_sertifikat_ISO_na_angl.jazyke1_page-0001.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.13._bmz_sertifikat_ISO_na_angl.jazyke1_page-0002.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.7._tng-algis_sertifikat_14001_rus_page-0001-min.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.15._tng-algis_sertifikat_14001_angl_page-0001-min.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.6._tatburneft_sertifikat_iso_14001_rus_page-0001.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.14._ISO14001-15_Tatburneft_angl_page-0001.jpg','https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/environmental-management/cert/prilozhenie_1.8._sertifikat_osk_ism__ooo_himservis-1_rus_page-0001-min.jpg']
								.dmpage-extendable-doc.js-dmpage-extendable-doc
									.dmpage-extendable-doc__wrap.dmpage-extendable-doc__wrap--top Свернуть
									.dmpage-extendable-doc__wrap.dmpage-extendable-doc__wrap--bottom Свернуть
									.dmpage-extendable-doc__pic
										img(src=val, alt="", loading="lazy")







					
					//.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Сертификаты системы менеджмента 
									
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.1._sertifikat_taneko_14001.pdf" download)  Сертификат ТАНЕКО 14001
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.2._sertifikat_toljattikauchuk_ISO_14001_RU.pdf" download)  Сертификат Тольяттикаучук ISO 14001 RU
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.3._ekopet_sertifikat_GOST_R_ISO_14001-2016_ru.jpg" download)  Экопэт Сертификат GOST R ISO 14001-2016_ru
												//.jpg
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.4._ekopet_sertifikat_ISO_14001-2015_ru.jpg" download)  Экопэт сертификат ISO 14001-2015_ru
												//.jpg
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.5._sertifikat_bmz_ISO_14001-2015_rus.jpg" download)  Сертификат БМЗ ISO 14001-2015 рус
												//.jpg
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.6._tatburneft_sertifikat_iso_14001_rus.pdf" download)  Татбурнефть Сертификат ИСО 14001 рус
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.7._tng-algis_sertifikat_14001_rus.pdf" download)  ТНГ-АлГИС Сертификат 14001 рус
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.8._sertifikat_osk_ism__ooo_himservis-1_rus.pdf" download)  Сертификат ОСК ИСМ  ООО Химсервис-1 рус
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.9._sertifikat_taneko_14001_angl.jpg" download)  Сертификат ТАНЕКО 14001 англ
												//.jpg
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.10._sertifikat_taneko_14001_angl-1.jpg" download)  Сертификат ТАНЕКО 14001 англ-1
												//.jpg
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.11._toljattikauchuk_ISO_14001_angl.pdf" download)  Тольяттикаучук ISO 14001 англ
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.12._ekopet_14001_angl.pdf" download)  Экопэт 14001 англ
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.13._bmz_sertifikat_ISO_na_angl.jazyke1.pdf" download)  БМЗ Сертификат ISO на англ.языке
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.14._ISO14001-15_Tatburneft_angl.pdf" download)  ISO14001-15 Tatburneft англ
												//.pdf
											li
												a(href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_1/prilozhenie_1.15._tng-algis_sertifikat_14001_angl.pdf" download)  ТНГ-АлГИС Сертификат 14001 англ
												//.pdf


					
block scripts
	




