extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Мониторинг атмосферного воздуха

			h1.dmpage-h1 Мониторинг атмосферного воздуха

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya.html") К началу раздела




			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p С 2020 года в Группой ПАО "Татнефть" реализуется проект по внедрению автоматизированной системы мониторинга качества атмосферного воздуха на территории Республики Татарстан. На сегодняшний день внедрены и действуют 27 ед. стационарных экологических постов, расположенных на территории г. Альметьевск, а также вблизи населенных пунктов Альметьевского, Бавлинского, Сармановского, Заинского, Бугульминского, Черемшанского райнов. Также Компания ведет совместную работу с Министерством экологии и природных ресурсов Республики Татарстан по выявлению и оперативному устранению источников загрязнений атмосферного воздуха на близлежащих объектах Компании при поступлении сигнала с автоматических станций контроля загрязнения атмосферы. С целью расширения системы мониторинга в 2022 году на территории РТ установлены 7 ед. стационарных экологических постов.
						p Для информирования жителей г. Альметьевск о качестве атмсоферного воздуха, на территории города установлены стенды с выводом показателей загрязнений атмосферного воздуха, с указанием допустимых нормативных значений. Дополнительно, информация со стационарных экологических постов, установленных в границах г. Альметьевск в круглосуточном формате передается на сайт зачистыйальметьевск.рф
						p С целью замеров качества атмосферного воздуха в Компании также используются передвижные лаборатории экологического контроля.

						
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image15.jpg", alt="")
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image14.jpg", alt="")

					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text  Приложение
									
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(  href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_7/prilozhenie_7.1._otchet_po_kontrolju_za_sostojaniem_atmosfernogo_vozduha_za_2022_god.pdf" download) Отчет по контролю за состоянием атмосферного воздуха за 2022 год
											li
												a(  href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_7/prilozhenie_7.2._otchet_po_kontrolju_za_sostojaniem_atmosfernogo_vozduha_za_2021_god.pdf" download) Отчет по контролю за состоянием атмосферного воздуха за 2021 год
											li
												a(  href="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_7/prilozhenie_7.3._otchet_po_kontrolju_za_sostojaniem_atmosfernogo_vozduha_za_2020_god.pdf" download) Отчет по контролю за состоянием атмосферного воздуха за 2020 год




block scripts
	




