extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Охрана земельных ресурсов


			h1.dmpage-h1 Охрана земельных ресурсов


		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/new_top_photos/ecology.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya.html") К началу раздела
						

			.dmpage-main
				.dmpage-detail
					.dmpage-text
						h2 ВОССТАНОВЛЕНИЕ ЗЕМЕЛЬ
						p Основной задачей этапа завершения производственной деятельности является экологически безопасное завершение работ и обеспечение восстановления нарушенных территорий.
						p При этом необходимым условием этапа ликвидации является обеспечение условий сохранения биоразнообразия в зоне влияния ликвидируемых производственных объектов, а также компенсация/возмещение ущерба нарушенным биоресурсам. В обязательном порядке осуществляется проведение мероприятий по восстановлению нарушенных земель: техническая и биологическая рекультивация.
						p Рекультивационные мероприятия создают условия для развития растительности. Постепенно на видовое разнообразие большее влияние начинают оказывать биотические факторы. Применяемые методы рекультивации обеспечивают высокие темпы возобновления растительности. После рекультивации ведется работа по возврату невостребованных земель. Деятельность Компании по восстановлению нарушенных земель регулируется «Положением об охране и рациональном использовании земельных и лесных ресурсов».
						p В 2022 году с целью установления единого порядка проведения рекультивации нарушенных земель на предприятиях Группы «Татнефть», а также предотвращения негативного воздействия нарушенных земель на окружающую среду разработаны Инструкция по проведению рекультивации нарушенных земель и Методические указания по созданию почвенного грунта для проведения рекультивации.
						p В Компании при рекультивации земель, нарушенных при строительстве и эксплуатации объектов, применяется комплексный подход с учетом категорий назначения земель, типов почв, видов нарушений и загрязнений. Актуализированы стандарты организации по рекультивации земель, нарушенных при строительстве и эксплуатации нефтепромысловых объектов, разгерметизации трубопроводов, по применению биотехнологий и составлению проектов рекультивации.
						h3 ОБЪЕМЫ РЕКУЛЬТИВАЦИИ НАРУШЕННЫХ ЗЕМЕЛЬ, га
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image28.jpg", alt="")
						p Увеличение площади нарушенных земель связано с увеличением работ по бурению и строительству скважин, а также капитальным ремонтом трубопроводов.
						h2 ЛИКВИДАЦИЯ НЕФТЕГАЗОВЫХ ОБЪЕКТОВ
						p После окончания цикла эксплуатации нефтяных объектов проводится их демонтаж и ликвидация.
						p Ликвидация опасных производственных объектов проводится в соответствии с утвержденной технической документацией на ликвидацию, с выполнением определенных в проекте мероприятий по защите окружающей среды, обеспечению безопасности населения, вывозу и утилизации отходов, рекультивации и благоустройству земельного участка после ликвидации объекта. На всех скважинах перед ликвидацией проводится исследование эксплуатационной колонны скважины, при наличии ликвидируются заколонные перетоки, грифоны, негерметичность обсадных колонн.
						p У ликвидируемых скважин, расположенных на землях, используемых для сельскохозяйственных целей, и на землях непромышленных категорий, устья углубляются не менее чем на 0,8 м от поверхности, оборудуются заглушкой, установленной на кондукторе (технической колонне).
						p Заглушка покрывается материалом, предотвращающим ее коррозию, и устье скважины засыпается грунтом. После ликвидации скважины проводится очистка территории скважины, снятие загрязненного грунта, засыпка ям, амбара, траншей, ликвидация временных насыпей, вывоз отходов и оборудования, восстановление ландшафтов на территории скважины и прилегающей территории, рекультивация земель. Ведется контроль состояния ликвидированных скважин.
						h2 ВОЗДЕЙСТВИЕ, СВЯЗАННОЕ С ПРАВОМ ВЛАДЕНИЯ И ПОЛЬЗОВАНИЯ ЗЕМЕЛЬНЫМИ И ПРИРОДНЫМИ РЕСУРСАМИ
						p Для обеспечения взаимодействия с местными сообществами и другими пользователями по вопросам использования земель и заблаговременного информирования и доведения информации до граждан (землепользователей) Компания организует внесение информации о зонах с особыми условиями использования территорий (охранные зоны и санитарно-защитные зоны производственных объектов) в общедоступные информационные ресурсы — публичная кадастровая карта, карты муниципальных информационных ресурсов Росреестра.
						p Случаев принудительного переселения местных общин или отдельных лиц, явившихся следствием решений, принимаемых в рамках рассмотрения земельных вопросов, в деятельности Компании не было.




					.dmpage-table-section
						h4.dmpage-table-title Объекты природно-заповедного фонда региона производственной деятельности ПАО «Татнефть»
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								thead
									tr
										th
											p №п/п
										th
											p
												| Муниципальный
												br
												| район
										th
											p Наименование и статус ООПТ
										th
											p
												| Площадь
												br
												| ООПТ, га
								tbody
									tr
										td
											p 1.
										td
											p Агрызский
										td
											p Государственный комплексный природный заказник «Кичке-Тан»
										td
											p 9 795,77
									tr
										td
											p 2.
										td
											p Агрызский
										td
											p Памятник природы регионального значения «Сложный бор»
										td
											p 49
									tr
										td
											p 3.
										td
											p Елабужский
										td
											p Национальный парк «Нижняя Кама»(участок)
										td
											p 16 849
									tr
										td
											p 4.
										td
											p Азнакаевский
										td
											p Государственный комплексный природный заказник «Чатыр-Тау»
										td
											p 4 149,54
									tr
										td
											p 5.
										td
											p Азнакаевский
										td
											p
												| Государственный природный заказник регионального значения ботанического профиля «Владимирский склон»
										td
											p 47,04
									tr
										td
											p 6.
										td
											p Лениногорский
										td
											p Государственный комплексный природный заказник «Степной»
										td
											p 5 772
									tr
										td
											p 7.
										td
											p Бугульминский
										td
											p
												| Государственный природный заказник регионального значения ботанического профиля «Адонисовый лес»
										td
											p 61
									tr
										td
											p 8.
										td
											p Бугульминский
										td
											p
												| Государственный природный заказник регионального значения ботанического профиля «Ново-Александровский склон»
										td
											p 44,2
									tr
										td
											p 9.
										td
											p Бугульминский
										td
											p
												| Государственный природный заказник регионального значения ботанического профиля «Казанкинский ботанический заказник по сохранению адониса весеннего»
										td
											p 5,01
									tr
										td
											p 10.
										td
											p Бугульминский
										td
											p Памятник природы регионального значения «Татарско-Дымская поляна»
										td
											p 1,87
									tr
										td
											p 11.
										td
											p Бугульминский
										td
											p Памятник природы регионального значения «Спасские ключи»
										td
											p 0,1
									tr
										td
											p 12.
										td
											p Бугульминский
										td
											p Памятник природы регионального значения «Петровские сосны»
										td
											p 53
									tr
										td
											p 13.
										td
											p Бугульминский
										td
											p Памятник природы регионального значения «Карабашская гора»
										td
											p 50,06
									tr
										td
											p 14.
										td
											p Муслюмовский
										td
											p
												| Государственный природный заказник регионального значения ботанического профиля «Нарат-Астинский бор»
										td
											p 468,3
									tr
										td
											p 15.
										td
											p Новошешминский
										td
											p
												| Государственный природный заказник регионального значения ботанического профиля «Склоны Коржинского»
										td
											p 150
									tr
										td
											p 16.
										td
											p Новошешминский
										td
											p
												| Государственный природный заказник регионального значения ботанического профиля «Урганчинский ботанический заказник по сохранению адониса весеннего»
										td
											p 9,14
									tr
										td
											p 17.
										td
											p Сармановский
										td
											p
												| Государственный природный заказник регионального значения ботанического профиля «Сюлюкеевский лес»
										td
											p 194,6
									tr
										td
											p 18.
										td
											p Актанышский
										td
											p Памятник природы регионального значения «Озеро «Копаное»
										td
											p 0,74
									tr
										td
											p 19.
										td
											p Альметьевский
										td
											p
												| Памятник природы регионального значения «Лесные культуры ели и лиственницы 1910-1913 гг.»
										td
											p 6,4
									tr
										td
											p 20.
										td
											p Альметьевский
										td
											p Памятник природы регионального значения «Озеро «Акташский провал»
										td
											p 0,04
									tr
										td
											p 21.
										td
											p Бавлинский
										td
											p Памятник природы регионального значения «Салиховская гора»
										td
											p 29,93
									tr
										td
											p 22.
										td
											p Заинский
										td
											p Памятник природы регионального значения «Бухарайский бор»(1-участок)
										td
											p 252,8
									tr
										td
											p 23.
										td
											p Мамадышский
										td
											p Памятник природы регионального значения «Сокольский лес»
										td
											p 3 852
									tr
										td
											p 24.
										td
											p Мамадышский
										td
											p Памятник природы регионального значения «Берсутские пихтарники»
										td
											p 8,5
									tr
										td
											p 25.
										td
											p Мамадышский
										td
											p Памятник природы регионального значения «Мёшебашское лесничество»
										td
											p 131,6
									tr
										td
											p 26.
										td
											p Мензелинский
										td
											p Памятник природы регионального значения «Игимский бор»
										td
											p 584,01
									tr
										td
											p 27.
										td
											p Нижнекамский
										td
											p Памятник природы регионального значения «Борковая дача»
										td
											p 1 030
									tr
										td
											p 28.
										td
											p Нурлатский
										td
											p Памятник природы регионального значения «Озеро «Кара-Куль»
										td
											p 1,37
									tr
										td
											p 29.
										td
											p Черемшанский
										td
											p Памятник природы регионального значения «Выход асфальтита»
										td
											p 4
									tr
										td
											p 30.
										td
											p Ютазинский
										td
											p Памятник природы регионального значения «Урдалы-Тау»
										td
											p 2,5
									tr
										td
											p 31.
										td
											p г. Наб. Челны
										td
											p Памятник природы регионального значения «Боровецкие ключи»
										td
											p 5
									tr
										td
											p 32.
										td
											p Менделеевский
										td
											p Историко-культурная и природная территория «Имение Ушковых»
										td
											p 5,1
									tr
										td
											p 33.
										td
											p Нижнекамский
										td
											p Национальный парк «Нижняя Кама» (участок)
										td
											p 213
									tr
										td
											p 34.
										td
											p Сармановский
										td
											p Памятник природы регионального значения «Бухарайский бор» (2-участок)
										td
											p 196,1
									tr
										td
											p 35.
										td
											p Тукаевский
										td
											p Национальный парк «Нижняя Кама» (участок «Кызыл-Тау»)
										td
											p 9 539
									tr
										td
											p  
										td
											p 
												b ВСЕГО ПО ПАО «ТАТНЕФТЬ»
										td
											p  
										td
											p 
												b 53 561,7








				
					
block scripts
	




