extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Охрана земельных ресурсов


			h1.dmpage-h1 Охрана земельных ресурсов


		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_20_10_23/land-conservation.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya.html") К началу раздела
						

			.dmpage-main
				.dmpage-detail
					.dmpage-text
						h2 ВОССТАНОВЛЕНИЕ ЗЕМЕЛЬ
						p Основной задачей этапа завершения производственной деятельности является экологически безопасное завершение работ и обеспечение восстановления нарушенных территорий.
						p При этом необходимым условием этапа ликвидации является обеспечение условий сохранения биоразнообразия в зоне влияния ликвидируемых производственных объектов, а также компенсация/возмещение ущерба нарушенным биоресурсам. В обязательном порядке осуществляется проведение мероприятий по восстановлению нарушенных земель: техническая и биологическая рекультивация.
						p Рекультивационные мероприятия создают условия для развития растительности. Постепенно на видовое разнообразие большее влияние начинают оказывать биотические факторы. Применяемые методы рекультивации обеспечивают высокие темпы возобновления растительности. После рекультивации ведется работа по возврату невостребованных земель. Деятельность Компании по восстановлению нарушенных земель регулируется «Положением об охране и рациональном использовании земельных и лесных ресурсов».
						p В 2022 году с целью установления единого порядка проведения рекультивации нарушенных земель на предприятиях Группы «Татнефть», а также предотвращения негативного воздействия нарушенных земель на окружающую среду разработаны Инструкция по проведению рекультивации нарушенных земель и Методические указания по созданию почвенного грунта для проведения рекультивации.
						p В Компании при рекультивации земель, нарушенных при строительстве и эксплуатации объектов, применяется комплексный подход с учетом категорий назначения земель, типов почв, видов нарушений и загрязнений. Актуализированы стандарты организации по рекультивации земель, нарушенных при строительстве и эксплуатации нефтепромысловых объектов, разгерметизации трубопроводов, по применению биотехнологий и составлению проектов рекультивации.
						h3 ОБЪЕМЫ РЕКУЛЬТИВАЦИИ НАРУШЕННЫХ ЗЕМЕЛЬ, га
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image28.jpg", alt="")
						p Увеличение площади нарушенных земель связано с увеличением работ по бурению и строительству скважин, а также капитальным ремонтом трубопроводов.
						h2 ЛИКВИДАЦИЯ НЕФТЕГАЗОВЫХ ОБЪЕКТОВ
						p После окончания цикла эксплуатации нефтяных объектов проводится их демонтаж и ликвидация.
						p Ликвидация опасных производственных объектов проводится в соответствии с утвержденной технической документацией на ликвидацию, с выполнением определенных в проекте мероприятий по защите окружающей среды, обеспечению безопасности населения, вывозу и утилизации отходов, рекультивации и благоустройству земельного участка после ликвидации объекта. На всех скважинах перед ликвидацией проводится исследование эксплуатационной колонны скважины, при наличии ликвидируются заколонные перетоки, грифоны, негерметичность обсадных колонн.
						p У ликвидируемых скважин, расположенных на землях, используемых для сельскохозяйственных целей, и на землях непромышленных категорий, устья углубляются не менее чем на 0,8 м от поверхности, оборудуются заглушкой, установленной на кондукторе (технической колонне).
						p Заглушка покрывается материалом, предотвращающим ее коррозию, и устье скважины засыпается грунтом. После ликвидации скважины проводится очистка территории скважины, снятие загрязненного грунта, засыпка ям, амбара, траншей, ликвидация временных насыпей, вывоз отходов и оборудования, восстановление ландшафтов на территории скважины и прилегающей территории, рекультивация земель. Ведется контроль состояния ликвидированных скважин.
						h2 ВОЗДЕЙСТВИЕ, СВЯЗАННОЕ С ПРАВОМ ВЛАДЕНИЯ И ПОЛЬЗОВАНИЯ ЗЕМЕЛЬНЫМИ И ПРИРОДНЫМИ РЕСУРСАМИ
						p Для обеспечения взаимодействия с местными сообществами и другими пользователями по вопросам использования земель и заблаговременного информирования и доведения информации до граждан (землепользователей) Компания организует внесение информации о зонах с особыми условиями использования территорий (охранные зоны и санитарно-защитные зоны производственных объектов) в общедоступные информационные ресурсы — публичная кадастровая карта, карты муниципальных информационных ресурсов Росреестра.
						p Случаев принудительного переселения местных общин или отдельных лиц, явившихся следствием решений, принимаемых в рамках рассмотрения земельных вопросов, в деятельности Компании не было.








				
					
block scripts
	




