extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Сохранение биоразнообразия


			h1.dmpage-h1 Сохранение биоразнообразия


		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_03_23/new_top_photos/biodiversity-conservation.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya.html") К началу раздела
						

			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p Одним из приоритетных направлений в области устойчивого развития Компании является минимизация воздействия на окружающую среду. 
						p Компания обеспечивает снижение техногенной нагрузки на природную среду экосистем, поддерживает благоприятные условия жизни на территориях своей деятельности, улучшая экологические показатели, и предпринимает меры по восстановлению экосистемы до уровня потенциала самовосстановления, включая защиту и сохранение биоразнообразия.
						p Компания взяла на себя следующие обязательства в области сохранения биоразнообразия:
						ul 
							li снижение существенного воздействия деятельности, продукции и услуг Компании на биоразнообразие охраняемых природных территорий и территорий с высокой ценностью биоразнообразия вне границ охраняемых природных территорий
							li сохранение и восстановление биоразнообразия, мест обитания, путей миграции животных и компенсация возможного вреда окружающей среде
							li снижение и недопущение фрагментации природных ландшафтов, снижение площадей нарушенных территорий
							li сведение к минимуму проведение работ на особо охраняемых природных территориях и в их охранных зонах, на объектах Всемирного природного наследия
						p 
							b Регулирующие внутренние документы:
						ul 
							li Политика в области устойчивого развития и взаимодействия с заинтересованными сторонами
							li Политика ПАО «Татнефть» им. В.Д. Шашина в области промышленной безопасности, охраны труда и окружающей среды с учетом изменения климата
							li Стандарт «Управление охраной земельных и лесных ресурсов, биоразнообразием, особо охраняемыми природными территориями» (введен впервые)
							li Положение об охране и рациональном использовании земельных и лесных ресурсов
						p Компания относится к любым природным территориям в местах своего присутствия как к заповедным и ежегодно усиливает работу по сохранению биоразнообразия.
						p В Компании действует Программа по сохранению биологического разнообразия. Целью Программы по сохранению биоразнообразия является сохранение на территориях деятельности разнообразия природных биосистем на уровне, обеспечивающем их устойчивое существование и неистощительное использование. Для достижения поставленной цели разработан комплекс мероприятий, который является неотъемлемой частью Экологической программы.
						p 
							b Система идентификации экологических аспектов
						p Интегрированная система менеджмента Компании предусматривает систему идентификации экологических аспектов, позволяющую определить области воздействия на биоразнообразие, которые необходимо контролировать или улучшать, а также устанавливать приоритеты в действиях.
						p Результаты идентификации опасностей и оценки рисков экологических аспектов Компании, являются исходными данными для разработки мероприятий по сохранению биоразнообразия и формирования соответствующих программ.
						p Основные виды воздействия Компании на биоразнообразие:
						ul 
							li угнетение флоры и фауны при длительном загрязнении воздуха, физическом воздействии
							li воздействие на немобильные группы живых организмов в период строительства нефтяных объектов
							li фрагментация ландшафтов, вследствие строительства дорожной сети, трубопроводов
							li гибель микро- и мезофауны, флоры, деградация почв в результате аварийных разливов нефти на рельеф местности
						p Основными объектами Программы сохранения биоразнообразия являются:
						ul 
							li особо охраняемые природные территории 
							li виды и популяции животного мира, подлежащие особой охране и их местообитания 
							li уязвимые экосистемы (устья рек, болота, тундра и т.д.)
						p В процессе производственной деятельности Компания не оказывает необратимого воздействия на биоразнообразие.


					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Цели по ЦУР 15
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image19.png", alt="")
										img( style="width:100%;" src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image20.png", alt="")

					.dmpage-text
						h2 ОСОБО ОХРАНЯЕМЫЕ ПРИРОДНЫЕ ТЕРРИТОРИИ
						p Основная деятельность Компании сосредоточена на территории юго-востока Республики Татарстан, которая густо населена, освоена сельским хозяйством и испытывает высокую антропогенную нагрузку. 
						p В регионе производственной деятельности Компании находятся 35 особо охраняемых природных территорий. Наиболее крупной особо охраняемой природной территорией федерального значения является Национальный парк «Нижняя Кама».
						p Это уникальный природный комплекс лесов и лугов северо-востока Татарстана площадью 26 460 га, расположенный в центре Нижнекамского территориально-производственного комплекса. Компанией осуществляется производственный экологический контроль растительного мира (фитомониторинг) на территории Национального парка «Нижняя Кама».
						p Согласно результатам мониторинговых исследований, в 2022 году эксплуатация нефтепромысловых объектов Компании не привела к ухудшению состояния экосистем прилегающей территории, и не нарушила режим охраны парка. Производственный экологический контроль выполняется Компанией на территориях разрабатываемых месторождений, расположенных в Ненецком автономном округе.
						p В силу особой уязвимости природных тундровых комплексов программа контроля расширена и включает оценку по видовому и количественному составу растительного покрова, почвенной мезофауны и почвенных млекопитающих, мхов, животного мира, бентоса. Результаты мониторинга показывают, что территория деятельности не подвержена значимому антропогенному воздействию.
						h2 ВИДЫ И ПОПУЛЯЦИИ ЖИВОТНОГО МИРА, ПОДЛЕЖАЩИЕ ОСОБОЙ ОХРАНЕ
						p На территории деятельности Группы «Татнефть» обитают 18 видов птиц и 4 вида рыб, занесенных в Красную книгу Российской Федерации, 2 вида млекопитающих, занесённых в Красную книгу Российской Федерации и Красную книгу Республики Татарстан — сурок-байбак и выхухоль, включенный также в Красный список Международного союза охраны природы.
						p Расположение производственных объектов вне территорий ареала обитаний редких видов животных, выполнение природоохранных мероприятий позволяют уменьшить негативное воздействие на окружающую среду и предотвратить исчезновение редких видов животных путем поддержки существующих особо охраняемых природных территорий. Компания совместно с Хоккейным клубом «Ак Барс» продолжает оказывать поддержку в восстановлении и увеличении популяции «краснокнижного» ирбиса — снежного барса.
						p Сайлюгемский национальный парк на Алтае — единственное место в России, где живут символы Татарстана — снежные барсы. Установленные фотоловушки помогают фиксировать повадки хищников, их передвижения и появление новых особей, а антибраконьерские рейды снизили количество фактов незаконной охоты. Реализованы совместные с Национальным парком «Сайлюгемский» образовательные и PR-мероприятия, направленные на повышение узнаваемости программы и уровня экологической ответственности.
						p Издана детская книга «Тайна пропавшей клюшки», где отдельная глава посвящена спасению снежных барсов на Алтае. Произведение имеет важное воспитательное и просветительское значение, 10 тысяч экземпляров книги были подарены детям работников Компании.
						p В 2023 году продолжится информационное сотрудничество и участие в антибраконьерских рейдах на территории Алтайского края Национального парка «Сайлюгемский», а также проведение благотворительных матчей Хоккейного клуба «Ак Барс» в поддержку сохранения популяции снежного барса.
					.dmpage-quote С 2021 года Компания осуществляет добровольное страхование экологических рисков опасного производственного объекта — установки подготовки и перекачки нефти НГДУ «Прикамнефть», которая является ближайшей Национальному парку «Нижняя Кама» и реке Кама




					.dmpage-table-section.dmpage-table-section--small
						h4.dmpage-table-title РЕАЛИЗОВАННЫЕ МЕРОПРИЯТИЯ, НАПРАВЛЕННЫЕ НА СОХРАНЕНИЕ БИОРАЗНООБРАЗИЯ
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
									
							
								tbody
									tr
										td
											p посадка различных пород деревьев и кустарников
										td(style="min-width:150px;")
											p 2,2 млн шт.
									tr
										td
											p оптимизация площади рубки леса за счет схемы размещения бурового оборудования
										td
											p 11,6 га 
									tr
										td
											p
												| очистка прибрежных полос реки Степной Зай от инвазивного вида растений – клена американского с посадкой деревьев местных пород – ива, липа, черемуха и др.
										td
											p 50 га
									tr
										td
											p
												| сокращение площади вырубаемых деревьев и порослей за счет применения изолированных проводов на линиях электропередач, проходящих в лесных массивах
										td
											p 79 га
									tr
										td
											p возвращение невостребованных земельных участков
										td
											p 1 869,6 га 
									tr
										td
											p восстановление нарушенных земель 
										td
											p 1 390 га 
									tr
										td
											p
												| выпуск мальков ценных пород рыб, включая молодь стерляди, сазана, толстолобика в Волгу, Кама, Куйбышевское водохранилище
										td
											p 262 тыс. шт.
									tr
										td
											p капитальный ремонт переходов трубопроводов
										td
											p 41 шт. 
									tr
										td
											p демонтаж бездействующих трубопроводов через водные объекты
										td
											p 79 шт. 
									tr
										td
											p капитальный ремонт трубопроводов, всего: 
										td
											p 321 км
									tr
										td
											p из них с применением стеклопластиковых труб 
										td
											p 146 км
									tr
										td
											p ремонт полевых стыков водоводов системы ПДД
										td
											p 164 км 
									tr
										td
											p экспертиза промышленной безопасности трубопроводов
										td
											p 5 287 км 
									tr
										td
											p строительство трубопроводов из стеклопластиковых труб
										td
											p 240 км
									tr
										td
											p гидроизоляция земляных амбаров при строительстве и ремонте скважин 
										td
											p 430 тыс. м2




					//.dmpage-text
						h2 РЕАЛИЗОВАННЫЕ МЕРОПРИЯТИЯ, НАПРАВЛЕННЫЕ НА СОХРАНЕНИЕ БИОРАЗНООБРАЗИЯ
						p посадка различных пород деревьев и кустарников - 2,2 млн шт. 
						p оптимизация площади рубки леса за счет схемы размещения бурового оборудования - 11,6 га
						p очистка прибрежных полос реки Степной Зай от инвазивного вида растений – клена американского с посадкой деревьев местных пород – ива, липа, черемуха и др. - 50 га
						p сокращение площади вырубаемых деревьев и порослей за счет применения изолированных проводов на линиях электропередач, проходящих в лесных массивах 79 га возвращение невостребованных земельных участков - 1 869,6 га
						p восстановление нарушенных земель - 1 390 га
						p выпуск мальков ценных пород рыб, включая молодь стерляди, сазана, толстолобика в Волгу, Кама, Куйбышевское водохранилище - 262 тыс. шт.
						p капитальный ремонт переходов трубопроводов - 41 шт. 
						p демонтаж бездействующих трубопроводов через водные объекты - 79 шт.
						p капитальный ремонт трубопроводов, всего: 321 км (из них с применением стеклопластиковых труб - 146 км)
						p ремонт полевых стыков водоводов системы ПДД - 164 км
						p экспертиза промышленной безопасности трубопроводов - 5 287 км
						p строительство трубопроводов из стеклопластиковых труб - 240 км
						p гидроизоляция земляных амбаров при строительстве и ремонте скважин - 430 тыс. м2
					.dmpage-text
						h3 ЗАРЫБЛЕНИЕ РЕК МОЛОДЬЮ, ТЫС.ШТ 
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image21.jpg", alt="")
						h3 ДИНАМИКА ЛЕСОПОСАДОК (МЛН ДЕРЕВЬЕВ В ГОД)
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image26.jpg", alt="")
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image25.png", alt="")



					.dmpage-table-section
						h4.dmpage-table-title Объекты природно-заповедного фонда региона производственной деятельности ПАО «Татнефть»
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								thead
									tr
										th
											p №п/п
										th
											p
												| Муниципальный
												br
												| район
										th
											p Наименование и статус ООПТ
										th
											p
												| Площадь
												br
												| ООПТ, га
								tbody
									tr
										td
											p 1.
										td
											p Агрызский
										td
											p Государственный комплексный природный заказник «Кичке-Тан»
										td
											p 9 795,77
									tr
										td
											p 2.
										td
											p Агрызский
										td
											p Памятник природы регионального значения «Сложный бор»
										td
											p 49
									tr
										td
											p 3.
										td
											p Елабужский
										td
											p Национальный парк «Нижняя Кама»(участок)
										td
											p 16 849
									tr
										td
											p 4.
										td
											p Азнакаевский
										td
											p Государственный комплексный природный заказник «Чатыр-Тау»
										td
											p 4 149,54
									tr
										td
											p 5.
										td
											p Азнакаевский
										td
											p
												| Государственный природный заказник регионального значения ботанического профиля «Владимирский склон»
										td
											p 47,04
									tr
										td
											p 6.
										td
											p Лениногорский
										td
											p Государственный комплексный природный заказник «Степной»
										td
											p 5 772
									tr
										td
											p 7.
										td
											p Бугульминский
										td
											p
												| Государственный природный заказник регионального значения ботанического профиля «Адонисовый лес»
										td
											p 61
									tr
										td
											p 8.
										td
											p Бугульминский
										td
											p
												| Государственный природный заказник регионального значения ботанического профиля «Ново-Александровский склон»
										td
											p 44,2
									tr
										td
											p 9.
										td
											p Бугульминский
										td
											p
												| Государственный природный заказник регионального значения ботанического профиля «Казанкинский ботанический заказник по сохранению адониса весеннего»
										td
											p 5,01
									tr
										td
											p 10.
										td
											p Бугульминский
										td
											p Памятник природы регионального значения «Татарско-Дымская поляна»
										td
											p 1,87
									tr
										td
											p 11.
										td
											p Бугульминский
										td
											p Памятник природы регионального значения «Спасские ключи»
										td
											p 0,1
									tr
										td
											p 12.
										td
											p Бугульминский
										td
											p Памятник природы регионального значения «Петровские сосны»
										td
											p 53
									tr
										td
											p 13.
										td
											p Бугульминский
										td
											p Памятник природы регионального значения «Карабашская гора»
										td
											p 50,06
									tr
										td
											p 14.
										td
											p Муслюмовский
										td
											p
												| Государственный природный заказник регионального значения ботанического профиля «Нарат-Астинский бор»
										td
											p 468,3
									tr
										td
											p 15.
										td
											p Новошешминский
										td
											p
												| Государственный природный заказник регионального значения ботанического профиля «Склоны Коржинского»
										td
											p 150
									tr
										td
											p 16.
										td
											p Новошешминский
										td
											p
												| Государственный природный заказник регионального значения ботанического профиля «Урганчинский ботанический заказник по сохранению адониса весеннего»
										td
											p 9,14
									tr
										td
											p 17.
										td
											p Сармановский
										td
											p
												| Государственный природный заказник регионального значения ботанического профиля «Сюлюкеевский лес»
										td
											p 194,6
									tr
										td
											p 18.
										td
											p Актанышский
										td
											p Памятник природы регионального значения «Озеро «Копаное»
										td
											p 0,74
									tr
										td
											p 19.
										td
											p Альметьевский
										td
											p
												| Памятник природы регионального значения «Лесные культуры ели и лиственницы 1910-1913 гг.»
										td
											p 6,4
									tr
										td
											p 20.
										td
											p Альметьевский
										td
											p Памятник природы регионального значения «Озеро «Акташский провал»
										td
											p 0,04
									tr
										td
											p 21.
										td
											p Бавлинский
										td
											p Памятник природы регионального значения «Салиховская гора»
										td
											p 29,93
									tr
										td
											p 22.
										td
											p Заинский
										td
											p Памятник природы регионального значения «Бухарайский бор»(1-участок)
										td
											p 252,8
									tr
										td
											p 23.
										td
											p Мамадышский
										td
											p Памятник природы регионального значения «Сокольский лес»
										td
											p 3 852
									tr
										td
											p 24.
										td
											p Мамадышский
										td
											p Памятник природы регионального значения «Берсутские пихтарники»
										td
											p 8,5
									tr
										td
											p 25.
										td
											p Мамадышский
										td
											p Памятник природы регионального значения «Мёшебашское лесничество»
										td
											p 131,6
									tr
										td
											p 26.
										td
											p Мензелинский
										td
											p Памятник природы регионального значения «Игимский бор»
										td
											p 584,01
									tr
										td
											p 27.
										td
											p Нижнекамский
										td
											p Памятник природы регионального значения «Борковая дача»
										td
											p 1 030
									tr
										td
											p 28.
										td
											p Нурлатский
										td
											p Памятник природы регионального значения «Озеро «Кара-Куль»
										td
											p 1,37
									tr
										td
											p 29.
										td
											p Черемшанский
										td
											p Памятник природы регионального значения «Выход асфальтита»
										td
											p 4
									tr
										td
											p 30.
										td
											p Ютазинский
										td
											p Памятник природы регионального значения «Урдалы-Тау»
										td
											p 2,5
									tr
										td
											p 31.
										td
											p г. Наб. Челны
										td
											p Памятник природы регионального значения «Боровецкие ключи»
										td
											p 5
									tr
										td
											p 32.
										td
											p Менделеевский
										td
											p Историко-культурная и природная территория «Имение Ушковых»
										td
											p 5,1
									tr
										td
											p 33.
										td
											p Нижнекамский
										td
											p Национальный парк «Нижняя Кама» (участок)
										td
											p 213
									tr
										td
											p 34.
										td
											p Сармановский
										td
											p Памятник природы регионального значения «Бухарайский бор» (2-участок)
										td
											p 196,1
									tr
										td
											p 35.
										td
											p Тукаевский
										td
											p Национальный парк «Нижняя Кама» (участок «Кызыл-Тау»)
										td
											p 9 539
									tr
										td
											p  
										td
											p 
												b ВСЕГО ПО ПАО «ТАТНЕФТЬ»
										td
											p  
										td
											p 
												b 53 561,7





					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Программа сохранения биоразнообразия
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										ul
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_9/prilozhenie_9.1._programma_pao_tatneft_po_sohraneniju_bioraznoobrazija_2022.pdf" download) Программа ПАО «Татнефть» по сохранению биоразнообразия (2022 г.)
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_9/prilozhenie_9.2._programma_pao_tatneft_po_sohraneniju_biologicheskogo_raznoobrazija_2018.pdf" download) Программа ПАО «Татнефть» по сохранению биоразнообразия (2018 г.)
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_9/prilozhenie_9.3._plan_meroprijatij_po_sohraneniju_bioraznoobrazija_na_2023_god.pdf" download) План мероприятий по сохранению биоразнообразия в рамках реализации программы сохранения биоразнообразия на территории деятельности Группы Татнефть на 2023 год
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_9/prilozhenie_9.4._otchet_o_vypolnenii_programmy_po_sohraneniju_bioraznoobrazija_za_2022_god.pdf" download) Отчет о реализации плана мероприятий по сохранению биоразнообразия в рамках реализации программы сохранения биоразнообразия на территории деятельности Группы Татнефть на 2022 год
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_9/prilozhenie_9.5._plan_po_sohraneniju_bioraznoobrazija_na_2022_god.pdf" download) План мероприятий по сохранению биоразнообразия в рамках реализации программы сохранения биоразнообразия на территории деятельности Группы Татнефть на 2022 год

											li
												a(href="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_9/prilozhenie_9.6._otchet_o_vypolnenii_plana_po_sohraneniju_bioraznoobrazija_za_2021_god.pdf" download) Отчет о реализации плана мероприятий по сохранению биоразнообразия в рамках реализации программы сохранения биоразнообразия на территории деятельности Группы Татнефть на 2021 год
											li
												a(href="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_9/prilozhenie_9.7._plan_po_sohraneniju_biraznoobrazija_na_2021_god.pdf" download) План мероприятий по сохранению биоразнообразия в рамках реализации программы сохранения биоразнообразия на территории деятельности Группы Татнефть на 2021 год
											







				
					
block scripts
	




