extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Охрана водных ресурсов

			h1.dmpage-h1 Охрана водных ресурсов

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_20_10_23/water-intake-and-water-consumption.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya.html") К началу раздела
						a.dmpage-menu-item(href="/ustojchivoe-razvitie/ekologiya/vodozabor-i-vodopotreblenie/pokazateli-vodopolzovaniya.html") Показатели водопотребления и водоотведения
						a.dmpage-menu-item(href="/ustojchivoe-razvitie/ekologiya/vodozabor-i-vodopotreblenie/gidromonitoring.html") Гидромониторинг




			.dmpage-main
				.dmpage-detail

					.dmpage-text
						p Бережное отношение к планете является неотъемлемой частью нашей миссии, которая направлена на смягчение последствий изменения климата путем ответственного подхода к использованию воды — жизненно важного ресурса для Земли и для человечества. 
						p Использование водных ресурсов необходимо для осуществления деятельности всех бизнес-направлений Группы «Татнефть» — от нефтегазодобычи до реализации продукции. Вместе с тем, Компания определяет воду как стратегический ресурс для защиты биоразнообразия и здоровья человека, социально-экономического развития и осуществления промышленной деятельности. 
						p Мы привержены оптимальному управлению водными ресурсами на всех этапах деятельности в гармонии с потребностями территорий в соответствии с Целями устойчивого развития ООН. Территория основной производственной деятельности Компании относится к регионам, не испытывающим дефицит пресной воды. 
						p Согласно «Водной стратегии Российской Федерации на период до 2020 года» (утв. распоряжением Правительства Российской Федерации от 27 августа 2009 г. N 1235-р) к регионам с дефицитом водных ресурсов относятся Республика Калмыкия, Белгородская и Курская области, Ставропольский край, Северный Кавказ, отдельные районы Южного Урала и юга Сибири, низовье Волги. 
						p Оценка определения маловодных регионов осуществляется и на основании данных проекта Aqueduct Всемирного института ресурсов — в основном территория деятельности Компании имеют низкие и средние значения индикатора «Базовый уровень водного стресса» https://www.wri.org/aqueduct/tools 
						p Основной подход Компании к решению задачи рационального водопользования: 	
						ul
							li применение систем оборотного и повторного водоснабжения 

							li повышение степени очистки сточных вод 
							li сокращение забора воды из естественных источников 

						p Потребление «свежей воды»*, водопользование и доступ к водным объектам по Группе «Татнефть» на территории России осуществляется в соответствии с законодательством Российской Федерации, на основании договоров водопользования, решений о предоставлении водных объектов в пользование, лицензий на право пользования недрами с целью добычи подземных вод, а также постановлениями локальных контролирующих органов, что позволяет не подвергать местные сообщества и окружающую природную среду риску дефицита водных ресурсов. 

						p Сбор данных по учету воды осуществляется по правилам формирования форм государственной статистической отчетности, и, если такая отчетность не предусмотрена, на основании хозяйственных договоров водопотребления и водоотведения.

					.dmpage-text.dmpage-text--small
						p *«Свежая вода» — это вода, забираемая из поверхностных и подземных источников, дождевая вода и вода, поступившая от третьих лиц по договорам водоснабжения. Используется как на производственные, так и на хозяйственно-бытовые и иные нужды Компании. Согласно международному стандарту GRI 303, «свежая» вода — вода, содержащая менее 1 000 мг/л растворенных твердых веществ (определение основано на стандарте ISO 14046:2014). В настоящем разделе, если не указано иное, речь идет о «свежей воде»


						
					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Позиция ПАО «Татнефть» в области управления деятельностью по охране и рациональному использованию водных ресурсов
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/pozicija_po_vodnym_resursam.jpg", alt="")





block scripts
	




