extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Charitable Foundation

			h1.dmpage-h1 Charitable Foundation

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-5.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/sodejstvie-socialnomu-razvitiyu.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development.html") To the beginning of the section
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/management-approach.html") Management approach
						a.dmpage-menu-item.dmpage-menu-item--active(href="/sustainable-development/promotion-of-social-development/charitable-foundation.html") Charitable foundation
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/social-infrastructure-development.html") Social infrastructure development
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/investment-in-future-generations.html") Investment in future generations
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/preservation-of-cultural-heritage.html") Preservation of cultural heritage
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/interaction-with-local-indigenous-people-living-a-traditional-lifestyle.html") Interaction with local indigenous people living a traditional lifestyle
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/healthy-lifestyle.html") Healthy lifestyle
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/support-for-development-initiatives.html") Support for development initiatives
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/membership-in-associations.html") Membership in associations
						
			

			
			.dmpage-main
				.dmpage-detail
					.dmpage-text
						h2 The Goal is to do Good
						p In accordance with high standards and principles of corporate social responsibility, the Company makes significant social investments, which are implemented through the TATNEFT Charitable Foundation (hereinafter referred to as the Foundation). The scope of the Foundation’s responsibilities is expanding every year, and the system of planning and accounting for funds allocated for charitable purposes is improving. 
						
						p The amount of social investments channeled through the Foundation from 2020 to 2022 was 11.4 billion rubles, with more than 5.1 billion rubles in 2022. Additional donations from third party legal entities and private patrons amounted to more than 200 million rubles. 
						p In 2022, 42 500 people and 532 nonprofit organizations received charitable support. The Foundation held 572 events attended by more than 200 000 people.
					.dmpage-quote
						p 5.1 billion rubles in social investments of the Foundation
						p > 42,000 people received charitable assistance
					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title Social investments, RUB bln
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th
											p 2020
										th
											p 2021
										th
											p 2022
								tbody
									tr
										td
											p 2,8
										td
											p 3,5
										td
											p 5,1
					.dmpage-text
						p The
							b Grant Competition 
							|  is part of the large-scale work on social development of the region. The competitive approach helps to systematize charitable activities, focus on issues of high social priority, and increase the transparency of decisions, including through social performance evaluation. The Grant Competition ensures equal access to co-financing for all districts and cities in which the Company operates. The grant program is implemented in four priority areas: Education, Health, Territorial Development and Culture. In 2022, 290 projects were implemented. The Company’s social investments through the grant competition amounted to 1.4 billion rubles. Co-financing from other sources amounted to 1.03 billion rubles.


					.dmpage-chart-outer.dmpage-small-w-section
						h3.dmpage-chart-title The Grant Competition supports important community social initiatives and improves the quality of life in the region where the Company operates.

						.dmpage-chart-flex
							#chart-doughnut-en-200-5-1.dmpage-chart-doughnut.js-dmpage-chart-doughnut
								canvas
							.dmpage-chd-legend



					.dmpage-quote
						a.dmpage-quote__link(target="_blank" href="  http://www.bf-tatneft.ru/fond/?3program&link=lnkGrant5")
						|  Learn more about the grant program:
					.dmpage-text
						p 
							b The Energy of Good, TATNEFT 
							|  contest of social initiatives, selects the best creative ideas and interesting proposals for solving urgent issues related to social, economic and cultural development of the region. In 2022, the Company awarded grants to authors of 121 projects for the total amount of 110 million rubles.
						p TATNEFT Charity Foundation is building a comprehensive system to identify and support talented children and youth through
							b  the Rukhiyat program.
							|  The program is aimed at promoting the cultural life of the oil region of the Republic, supporting young talents, publishing activities, working with writers and poets, artists and cultural figures. During the 26 years of the program, more than 250 titles of books were published with the total circulation of more than 440 thousand copies. Traditionally, the books published by the Foundation are donated to libraries, educational institutions, museums, nursing homes of Tatarstan, the Tatar Congress, health resorts and recreational centers of the Company, as well as to places of compact residence of Tatars in Russia and abroad.
						p
							b The Miloserdie program
							|  provided targeted assistance to veterans and people with disabilities, low-income families, foster children, orphan students, and people in difficult situations. Support was provided to socially oriented nonprofit organizations and medical institutions. 
						p 
							b The Gifted Children program 
							|  is aimed at supporting intellectually gifted students. Every year we organize school subject competitions, scientific, creative and engineering contests and conferences, as well as students’ participation in similar events in other regions of Russia and abroad. We also provide financial support for talented students from low-income families, encourage talented students and their mentors when they achieve high results, and finance programs and activities aimed at developing the intellectual potential of students.
					//.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title Поддержка одаренных детей
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th(colspan='2')
											p призеры:
								tbody
									tr
										td
											p 238 школьников
										td
											p 187 преподавателей
							

					.dmpage-chart-outer.dmpage-small-w-section
						h3.dmpage-chart-title Support for gifted children

						.dmpage-chart-flex
							#chart-doughnut-en-200-5-2.dmpage-chart-doughnut.js-dmpage-chart-doughnut
								canvas
							.dmpage-chd-legend

					.dmpage-text
						p 
							b The Tazalyk program 
							|  is aimed at promoting physical education and mass sports among the Company’s employees and the population of the south-eastern part of the Republic of Tatarstan, developing and supporting children’s sports and talented athletes. More than 650 young athletes participated in competitions in various sports. With the support of the program, 360 young athletes participated in competitions of various levels.
						p The following projects are also supported by the Foundation:
						ul 
							li Almetyevsk Street Theater Light Wings 
							li Academy of Digital Creativity
							li Almetrika Interactive Scientific and Educational Center 
							li Information and exhibition space 
							li Animation School 
							li History is made by people
						p Detailed information on the projects can be found in the Investing in Future Generations and Preserving Cultural Heritage sections.
						h2 Projects with partners
						p Together with Rusfond, TATNEFT is implementing a project to form the Volga Region Register of Potential Bone Marrow Donors (a program of targeted assistance to children in Tatarstan). Since its inception, the project has provided financial assistance to 75 seriously ill children with musculoskeletal, cardiovascular, neurological and autism spectrum disorders, etc. 
					.dmpage-quote
						p  130.6 million rubles of charitable aid in the health sector
					.dmpage-text
						p A similar joint project is being implemented with Podari Zhizn Foundation, which provides targeted support for cancer treatment to children in Tatarstan. 47 Podari Zhizn Foundation mentees have been supported since the project’s inception. 
						p The joint project with the Gift to an Angel Charity Foundation for the first time implemented a unique School of a Special Parent Program for parents raising children with musculoskeletal disorders. Thanks to the expanded program for Almetyevsk, the project provided parents and guardians of children with cerebral palsy not only with an introduction to home physical therapy, but also with logopedic and psychological programs, methodological materials, and psychological support free of charge. In total, the project has helped 20 families since its launch. 
						p From January to March 2022, a second joint project, Communication is Simple, was implemented to teach augmentative and alternative communication methods to children. 
						p A project with the Science for Children Foundation. Thanks to investments in the Search for Molecular Genetic Markers for Early Detection of Tumor Predisposition research project, entire families can undergo genetic testing to identify disruptions or mutations that may later cause cancer.
						p To date, the project has provided assistance to 175 people from different regions of Russia, including ongoing medical and genetic counseling for 89 pediatric patients and their parents. 
						p The company’s Champion Club program launched the Good Deeds, Let's Help Together, campaign, in which concerned users of TATNEFT stations share their bonuses through the app for the benefit of special children. The collected funds will be used for rehabilitation and purchase of technical equipment.
						p The company pays attention to people with disabilities. Targeted charitable assistance is provided to people with disabilities and non-working pensioners, as well as to boarding homes to improve social and living conditions. Public utilities of the Russian Association of the Blind, Disabled and Deaf are regularly paid. Upon request, charitable assistance is provided to the public organization of veterans Battle Brotherhood, the Talgat Shaikhullin Rehabilitation Center, religious organizations and various sports clubs. 
