extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Healthy lifestyle

			h1.dmpage-h1 Healthy lifestyle

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_20_10_23/promotion-of-social-development.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/promotion-of-social-development.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/promotion-of-social-development.html") To the beginning of the section
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/management-approach.html") Management approach
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/charitable-foundation.html") Charitable foundation
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/social-infrastructure-development.html") Social infrastructure development
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/investment-in-future-generations.html") Investment in future generations
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/preservation-of-cultural-heritage.html") Preservation of cultural heritage
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/interaction-with-local-people-living-a-traditional-lifestyle.html") Interaction with local indigenous people living a traditional lifestyle
						a.dmpage-menu-item.dmpage-menu-item--active(href="/sustainable-development/promotion-of-social-development/healthy-lifestyle.html") Healthy lifestyle
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/support-for-development-initiatives.html") Support for development initiatives
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/membership-in-associations.html") Membership in associations
						
			

			
			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p The Company cares about the health of its employees and the inhabitants of the regions where it operates and invests significant efforts and resources in a healthy social infrastructure.
						p In order to implement SDG-3, the Board of Directors of TATNEFT has developed and approved a program aimed at creating conditions for providing affordable and quality medical care, introducing innovative technologies of preventive medicine and, as a result, reducing the incidence of diseases. In order to achieve this goal, a roadmap has been developed, which includes projects aimed at providing quality medical care and preventive measures not only to the employees of the TATNEFT Group, but also to the inhabitants of the regions where the Company operates.

					.dmpage-table-section
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th.dmptable-td-w-icon.dmptable-td-w-icon--esg
											img(src="https://dmitryboz21.github.io/ttneft/build/img/esg-svg/ESG3.svg", alt="")

										th
											p Set goals 
										th
											p Implementation results:
										th
											p 2022 vs 2021
										th
											p 2022 vs 2020
									tr.dmpage-table__tr-bb
										td(colspan='2')
											ul
												li
													| reduction of the number of temporary disability days by 25% by 2025 and by 50% by 2050
										td
											p specific rate of temporary disability per 
											p 1000 employees, days  
										td
											p 14 045 vs 14 069
											p reduction by 0,17%
										td
											p 14045 vs 14970
											p reduction by 6,2%
									tr
										td(colspan='2' rowspan='3')
											ul
												li reduction in the frequency and severity of occupational injuries by 30% by 2025* 
											p  
											p  
										td
											p injury frequency rate per 1000 employees 
										td
											p 0,39 vs 0,32
											p 21,87% increase
										td
											p 0,39 vs 0,34
											p 14,7% increase
									tr
										td(style="display:none;")
										td
											p injury severity rate 
											
										td
											p 92,7 vs 91,6
											p 1,2% increase
										td
											p 92,7 vs 85,12 8,89% increase
									tr
										td(style="display:none;")
										td
											p LTIFR 
										td
											p 0,22 vs 0,2
											p 10% increase
										td
											p 0,22 vs 0,2
											p 10% increase



					.dmpage-text.dmpage-text--small * The increase in the number of accidents is due to the addition of service assets to the TATNEFT Group, the operation of which is associated with a high risk of occupational injuries and accidents.  


					.dmpage-text
						p Each year, the Company finances the construction, repair, and strengthening of the resource base of health care institutions in the regions where it operates, equips them with advanced medical equipment, and pays for apartments for visiting physicians. The main focus of current projects is the modernization, equipment and systemic transformation of the work of 32 corporate health centers, which should improve the availability and quality of medical care.
						p The Company has created a system of high-tech medical assistance at the medical unit in Almetyevsk. The maternity hospital with perinatal center, which is being built by the Company, will be integrated with the medical unit, which will improve the quality of medical services and allow to create a multi-level system of medical care with the involvement of narrow specialists, close cooperation and interaction between medical facilities.
						p TATNEFT invests significantly in improving the resources and equipment of the Almetyevsk Oncological Center. Thanks to the purchased modern equipment, created conditions and training of medical staff, the detection of cancer in its early stages can be significantly increased. The Palliative Care Center is also supported.
						p As part of the national Health program, a geriatric center was opened in the village of Shugurovo, Leninogorsk district, Tatarstan, with the support of the Company’s grant. The interregional geriatric center is engaged in research, prevention and treatment of age-related diseases. This type of care is aimed at multiprofessional treatment and rehabilitation of frailty syndromes.  
						p The established system for the prevention and treatment of infectious diseases for employees includes:
						ul 
							li monitoring and prevention of the increase in the early stages of acute respiratory infections, pneumonia and COVID-19
							li vaccinations
							li monitoring of seriously ill employees
							li monitoring the stages of hospital and health resort rehabilitation of seriously ill employees, which allows to reduce the mortality rate 
						p In order to prevent occupational accidents, preventive measures are taken to explain the need to observe the principles of a healthy lifestyle, nutrition and a rational work and rest regime. 
						p Control of compliance with occupational health and fire safety rules has been strengthened, especially during weekends, holidays and the first and last days of the week.
						p The Company continues to focus on improving the health and longevity of its employees, their families and the community at large by promoting healthy lifestyles and implementing existing programs.
						h2 Sports support
						p For many years, the Company has been developing a culture of healthy living. Sports programs play a particularly important role. Participation in corporate sports events develops the sports movement and gives employees the opportunity to demonstrate their achievements. 
						p The Company supports various sports competitions: boxing, wrestling, tennis, badminton, swimming, volleyball, karate, figure skating, acrobatics, skiing and other sports. In the reporting year, more than 1400 people from 39 enterprises of the Company located not only in the south-eastern part of the Republic of Tatarstan, but also in Moscow, Togliatti, Kazan and Cheboksary took part in competitions in 11 sports. The Company also supports children and youth hockey, boxing, wrestling, swimming, volleyball, karate, figure skating, skiing, acrobatics, table tennis and kickboxing.
					.dmpage-quote

						b  4 166 million rubles
						|   invested in sports support
					.dmpage-text
						p The sports facilities built by the Company become the favorite recreation places of the employees of the oil region, city residents and guests. In 2022, the ski resort of TATNEFT PJSC was visited by 50 531 people. In the winter season of 2021-2022, the ice skating rink for residents and guests of Almetyevsk was visited by 41 022 people.
						h2 Green transport
						p The Company creates conditions for the development of green transportation infrastructure in the oil region. One of the most striking and successful examples of ESG investments is the construction of bike paths. Thanks to the financial support of TATNEFT, the project was launched in the spring of 2016.  
					.dmpage-quote
						p 
							b 115 kilometers
							|   of bike paths
						p 
							b 5%
							|   of residents use bicycles for daily transportation
					.dmpage-text
						p Today Almetyevsk holds the title of the bicycle capital: the most extensive bicycle network in Russia has been built and is actively operating. The city has also purchased several hundred bicycles for the bikeshare service. There are plans to extend this positive experience to other cities in the oil region.


					.dmpage-chart-outer.dmpage-small-w-section
						h3.dmpage-chart-title Comparison of specific length of bicycle network km (bike paths) / km2 (town square)



						.dmpage-chart-bar-wrap
							#chart-bar-en-200-5-7.dmpage-chart-bar.js-dmpage-chart-bar
								canvas


					.dmpage-text
						h2 Development of equestrian sports 
						p The Company has adopted a program for the development of equestrian sports, which includes the development of infrastructure in all equestrian schools and the organization of regular competitions. The Organization of Equestrian Sport Competitions in the South-Eastern Part of the Republic of Tatarstan project includes annual competitions in Olympic equestrian sports (jumping and dressage) and competitions in testing trotting and racing horse breeds (running and racing).
					.dmpage-quote
						p 
							b Equestrian facilities 
							|  – 3 equestrian schools, stud farm, horse training facility
					.dmpage-text
						p In 2022, the Kentavr Equestrian School (Elabuga) underwent a large-scale reconstruction: a new modern arena with an administrative building, a summer stable, a training barrel, a horse walker and paddocks were built.  
						img(src="https://dmitryboz21.github.io/ttneft/build/img/block-5/17.jpg", alt="")
						p 
							b The Green Fitness project  
							|  started in Kazan in 2015. In 2016, Green Fitness was launched on a large scale in Almetyevsk with the commercial support of TATNEFT. Now the project has expanded its boundaries and is working all over Tatarstan.
						p At Green Fitness, people of all ages can do dance exercises, yoga, Zumba, and other activities in multiple locations at the same time. The advantage of these classes is that they are held outdoors and the outdoor areas can accommodate many people. The classes are led by professional instructors.
					.dmpage-quote
						p The project is implemented as part of the Federal project “Sport is a Way of Life”, which aims to involve the population in physical education.
					.dmpage-text
						p TATNEFT considers it important to take care of the physical and mental health of its employees, consciously investing in this area and considering it as its main asset. Now, thanks to the personal initiative of the General Director of the Company, the employees of the Company have the opportunity to devote their time to the practice of Qigong in Almetyevsk.
						p As part of the 
							b  Active Longevity rehabilitation program, 
							|  10 Active Longevity centers for the elderly were opened in the south-eastern part of Tatarstan on the initiative of the Company. The centers are equipped with unique training equipment that works in a gentle mode with loads specially selected for the elderly. Exercises for the elderly are used as a key element of active longevity and are aimed at strengthening physical strength, reducing the risk of injuries in everyday life, reducing the risk of diseases and improving the quality of life.
						h2 Organizing children's vacations
						img(src="https://dmitryboz21.github.io/ttneft/build/img/block-5/18.jpg", alt="")
						p The Summer Camp League is a project that unites 10 children’s recreation camps of the Company with one idea, one goal, and one team. Great attention is paid to children’s recreational programs, which are aimed at the all-round development of a child. During the holidays, the children are taken care of by qualified teachers, tutors who conduct various cognitive and educational activities.
					.dmpage-quote
						p 
							b 1 783 million rubles 
							|  invested in social and recreational facilities
					.dmpage-text
						p The Summer Camp League of TATNEFT Group provides high-quality organization of children’s recreation and health improvement, and ensures the all-round development of the younger generation. The program is based on the unified methods of organizing and conducting shifts in various areas (creative, linguistic, environmental, sports, scientific and technical, military and patriotic), based on the values of the Company. In order to involve children in communication with horses and equestrian sports, as well as to provide hippotherapy, these camps have mini stables for keeping ponies. In 2022, there were 10 811 children on vacation.
						p In 2022, the Company implemented an environmental education program for children at children’s health camps with more than 11 000 participants. The comprehensive educational program includes projects that promote the Sustainable Development Goals. In addition to the children of employees of the Company and other commercial organizations, children of employees of government-funded organizations have the opportunity to spend their vacations at summer camps, with the cost of the camp vouchers partially covered.
						h2 Health resort therapy
						p The Company has 8 health resorts. They are based on an integrated treatment approach and the use of modern rehabilitation techniques. There are rehabilitation programs developed for the treatment of viral pneumonia, cardiovascular diseases, and disorders of the musculoskeletal, peripheral, and central nervous systems.
					.dmpage-quote
						p
							b 445,4 million rubles 
							|  invested in health resort therapy of employees internal tourism support
					.dmpage-text
						p In 2020-2022, 5000 employees of TATNEFT Group working in harmful and (or) hazardous production factors rested and improved their health in health resorts. The Company’s expenses for health resort therapy amounted to 445.4 million rubles. 
						p Five resorts have licenses for medical rehabilitation of patients with diseases of the central nervous system, endocrine system, somatic diseases, lung diseases, peripheral and central nervous system. In 2021-2022, 647 people received rehabilitation treatment in the health resorts. 
						p The Company’s health resorts also provide treatment for welfare recipients, children, and individuals who require 1,783 rehabilitative treatment as prescribed by a physician.  