extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Investment in future generations

			h1.dmpage-h1 Investment in future generations

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-5.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/promotion-of-social-development.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/promotion-of-social-development.html") To the beginning of the section
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/management-approach.html") Management approach
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/charitable-foundation.html") Charitable foundation
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/social-infrastructure-development.html") Social infrastructure development
						a.dmpage-menu-item.dmpage-menu-item--active(href="/sustainable-development/promotion-of-social-development/investment-in-future-generations.html") Investment in future generations
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/preservation-of-cultural-heritage.html") Preservation of cultural heritage
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/interaction-with-local-indigenous-people-living-a-traditional-lifestyle.html") Interaction with local indigenous people living a traditional lifestyle
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/healthy-lifestyle.html") Healthy lifestyle
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/support-for-development-initiatives.html") Support for development initiatives
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/membership-in-associations.html") Membership in associations



				
			

		
			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p The Company implements a corporate social responsibility and sustainable development policy that transforms the results of its business activities for the benefit of society. The Company does not wait for government regulation, but acts proactively. As a client of the industry, we participate in the creation of professional standards, as we are interested in attracting responsible and professional employees. 
						p For many years, the Company has been paying special attention to the training of future specialists, attracting students and teachers to participate in business projects. We improve the system of personnel training, including cooperation with vocational education institutions. Through the development of science, the Company opens new directions for the full cycle of business, science and production cooperation. Education, as the most powerful tool to change the world for the better, begins with the upbringing of personality from the early years, and TATNEFT takes an active part in the development programs of each educational level.
						h2 Continuous education system
						p The Company is a key participant in the scientific and educational cluster of the system of continuous multilevel vocational education for oil and gas personnel training.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/block-5/from_en/2.jpg", alt="")
						p In order to achieve Sustainable Development Goal 4 “Quality Education”, a portfolio of projects has been created that cover the educational environment of both the Company’s employees and the entire population of the region in which it operates, including children.
						p 
							b Early childhood education
						p The Company participates in projects to help kindergartens by providing funds for their renovation, repair and equipment, and acts as an organizer and sponsor of various educational programs. 
						p “TATNEFT and Childhood. Dialogue with the Future” project is aimed at improving the quality of the educational environment in early childhood education institutions in the south-eastern part of the Republic. It is implemented in cooperation with the Child Development Laboratory of the Research Institute of Urbanism and Global Education at the Moscow City Pedagogical University. 
						p In accordance with the objectives of the project, the educational environment in the kindergartens will be brought in line with the best international standards and an educational community of teachers, parents and children is being created around the goals and values of sustainable development and respect for the environment and people.  

					.dmpage-chart-outer.dmpage-small-w-section
						h3.dmpage-chart-title Project coverage
						.dmpage-chart-flex
							#chart-doughnut-en-200-5-6.dmpage-chart-doughnut.js-dmpage-chart-doughnut
								canvas
							.dmpage-chd-legend

					.dmpage-text
						p Teachers are trained in 13 educational and partial programs, including programs in spatial modeling, language development, social play techniques, aesthetic and physical development of children. A series of workshops for teachers were held as part of the further vocational program “Evaluation and Development of the Quality of Early Childhood Education Using the ECERS Scales”. Kindergartens are equipped with construction toys, sports equipment, teaching materials and children’s books. 
						p The peculiarity of the current project is the work of an expert team consisting of Almetyevsk kindergarten teachers and the availability of a coordinating center, which includes the heads of the city kindergartens.
						p 
							b School education projects

						img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/almetrica_logo.jpg", alt="")
						p 
							b The Almetrika Interactive Scientific and Educational Center
							|  is a unique museum and scientific space aimed at creating conditions for the development of creativity in children and youth. More than 55 interactive exhibits make it easy to visualize the concepts of time, mass, length, current, light, temperature, amount of matter and energy. There are biology and chemistry laboratories. In 2022, the exhibition was visited by 14.5 thousand people, including 6 thousand children under 5 years old, more than 160 public workshops and 6 science shows, 13 holiday shifts, about 100 children attend science club.

						img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/daa_logo.jpg", alt="")

						p
							b  The Academy of Digital Creativity
							|  provides conditions for the development of creativity in children and youth to promote computer graphics and digital creativity. The Academy’s educational formats include online courses, online podcasts, intensive sessions, and creative campuses. The Academy’s portfolio includes 40 courses and 20 workshops attended by more than 2000 people. A comprehensive educational program was developed and implemented for the Summer Camp League 2022, including special children’s projects to promote the Sustainable Development Goals.
					.dmpage-quote
						|  662 people were trained
					.dmpage-text
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/block-5/3.jpg", alt="")
						p 
							b Animation School А1002
							|  is a unique project for children to develop national animation, promote animation art, strengthen and popularize children’s and youth animation, created together with Soyuzmultfilm Studios. The Animation School includes computer classes to teach 2D and 3D animation techniques, a mocap (motion capture) studio, a comic book zone, a mini-library, a recording studio, a mini-cinema, a photo studio, etc. 18 cartoons were created, and 125 students graduated from the school. As part of the Karakuz Festival, the school held the second Russian Outdoor Animation Festival (attended by more than 27,000 people).  
					.dmpage-quote
						p 4526 people were trained
						p 3852 offline
						p 674 online
					.dmpage-text
						p In 2022, the Animation School hosted the workshop of animators: Animators Community of Bazelevs. It is an international educational model for retraining actors into 3D animators. 30 people participated in the project, the best graduates got an internship in Khoja Nasreddin, the international animation project
						p 
							b Caring for the Future: A Network of Unique School Biolaboratories for Plant Microcloning project. 
							|  Students grow plants produced by microcloning in school laboratories. Students contribute to the restoration of biodiversity. The Company buys plantlets from schools to implement landscaping programs
					.dmpage-quote
						p The Company won the 4th Russian contest of the best environmental practices called “Reliable Partner — Ecology” in 2022. The project was recognized as the best educational environmental project.
					.dmpage-text
						p Eight school laboratories, two greenhouses and a botanical mini-garden are currently in operation. 267 students and 28 teachers are involved in the project, and 300,000 in vitro plantlets have been grown. In 2022, 80,000 trees were planted on an area of 200 hectares as part of the research
						p 
							b Russian educational project #Oil_kitchen 
						p Oil Kitchen is one of the projects of the Company’s comprehensive program to improve education in the form of playful workshops on ecology and petrochemistry for children and seminars for teachers. Over 4 years, the project has developed and implemented nine unique projects for youth and teachers in Tatarstan, with a total of over 5000 participants.
						p 
							b Young Geologists Competition 
							|  is an open republican competition organized by the Ministry of Education and Science of the Republic of Tatarstan, the Institute of Geology and Oil and Gas Technologies of the Kazan Federal University, PJSC TATNEFT and small oil companies of the Republic. The annual competition is aimed at popularization and promotion of young geologists’ clubs as a form of supplementary education for the purpose of early career guidance. The 8th edition of the competition was attended by 36 teams from secondary schools, which are the basic places of geological movement of children and youth in Tatarstan. The total number of participants was 288 students. 
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/block-5/4.jpg", alt="")
						p 
							b The educational conference ALMET talk
							|  is an event for the pedagogical community of the south-eastern part of Tatarstan aimed at professional development and expansion of practical experience of teachers. The conference includes expansion of interdisciplinary links of the school program and acquisition of meta-subject knowledge by practicing teachers. The event is supported by TATNEFT Charity Foundation.
						p 
							b Support for secondary special and higher education
						p The Company seeks to fill the shortage of personnel in the market and train qualified specialists. Trained personnel will meet the challenges of the oil industry and implement new technologies.
						p “We all want the Company to be sustainable for many years to come. We can achieve this only by developing science. That is why TATNEFT needs ambitious young people with a strong inner core, we want their work to remain not only in Tatarstan, but to benefit people all over Russia and the world”.

						
							br
							
							div(style="text-align: right;") N.U. Maganov <br> General Director of PJSC TATNEFT


					.dmpage-quote
						p In 2021, under the auspices of UNESCO, an agreement was signed on the establishment of the Regional Center of Mineral Resources Competencies in the Republic of Tatarstan. The Center will help attract representatives of the international academic community to the process of training mining specialists in Tatarstan and obtaining international professional certification by industry specialists.
					.dmpage-text
						p 
							b The Higher Oil School
							|  is a research center that aims to create the synergy of university, industry and academic science to form a rich innovation potential for the needs of the entire Russian oil industry, as well as to ensure the competitiveness of national higher petroleum education among the world’s leading educational and scientific centers. 
						
					.dmpage-quote
						p 30% increase in the number of full-time and master's students in 2022
					.dmpage-text
						p With the Company’s support, the Biotechnology Centre coordinated by the Company has been set up to produce bioproducts integrated into Tatneft’s production chains, such as biofuels. It is planned to use various renewable plant biomass as the main feedstock.
						p The Company is building the campus of the Higher Oil School: a scientific and educational facility with all the necessary infrastructure, including laboratory and academic buildings, modern dormitories, residential quarters, two kindergartens, a cultural center, a sports center, and parking lots. The research building, the sports center and two dormitories have been completed and put into operation.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/block-5/5.jpg", alt="")
						p 
							b Advanced Engineering School
					.dmpage-quote
						p The Federal Project “Advanced Engineering Schools” was created in 2022 on the initiative of the Ministry of Science and Higher Education of the Russian Federation and is aimed at training qualified engineering personnel for high-tech industries. It is one of 42 initiatives of the Government of the Russian Federation aimed at improving the quality of life of people and is implemented under the state program “Scientific and Technological Development of the Russian Federation”.  
					.dmpage-text
						p The Advanced Biotechnological Engineering School is a project that has been supported by a federal grant. As part of the project, admissions to the Master’s program in Artificial Intelligence in Biological Systems have already started this year. 

						p The Advanced Engineering School will help train expert engineers and engineering team leaders for both high-tech companies in the real economy and scientific institutions, which may lead to the creation of trial versions of products and the opening of startups in the future.

						p In 2022, the Advanced School of Engineering set up two major projects - a unique  gyroscope chair model for people with disabilities and online glucose level monitoring sensors.
						p 
							b School of Science Leaders
						p The concept includes identification of scientific leaders, support of initiatives and innovative project management. The participants’ professional competence is enhanced by thematic lectures and master classes held by leading experts from Russian oil and gas universities. TATNEFT helps young scientists and post-graduate students to implement promising projects in artificial intelligence, big data, machine learning, modeling, energy-saving technologies and materials science.
						p 
							b The Vproekte program 
							|  is a platform for implementing business projects in teams with the Company's key specialists. It is an environment that engages talented students and teachers, develops hard and soft skills, and applies accumulated knowledge in the workplace.
					.dmpage-quote
						p VPROEKTE
						p 6 educational institution
						p 200 unique participants
						p >7 RUB mln paid to students and teachers
						p >2800 tasks completed
					.dmpage-text
						p In 2022, the Vproekte program won awards in two categories at the Russian Youth Employment Best Practices Competition:
						p 1st place in the Best Digital Solutions for Measures to Promote Youth Employment, 
						p 2nd place in the Best Practices for Youth Engagement in Science and High-Tech Fields.
						
						p 
							b Hospitality School
						p The Company initiated the establishment of the Hospitality School at the Almetyevsk Technical High School of Economics and Trade. The decision to create the School was made due to the need for qualified tourism and service personnel both in Tatarstan and in Russia. Educational areas of the Hospitality School are based on high Swiss standards and the classical European school of hospitality. 15 tutors have been trained and certified and 4 educational programs have been updated. With the support of TATNEFT, two classrooms and the dormitory of the Technical High School will undergo major repairs. The classrooms and laboratories will be equipped with modern equipment according to World Skills standards.
						
						p 
							b Federal Project “Professionalitet”
							| , where the Company acted as an industrial partner of the Almetyevsk Polytechnic College. The partnership agreement was signed in August 2022. The project is aimed at creating a flexible model of training qualified personnel in the secondary vocational education system in accordance with the real needs of the real economy.
					.dmpage-quote
						p The Professionalitet project is listed among the strategic initiatives for socio-economic development of the Russian Federation until 2030
					.dmpage-text
						p 
							b The INTERNATIONAL PETROLEUM YOUTH FORUM
							|  is held annually on the premises of TATNEFT. The Forum is a unique international platform created to unite and develop talented young people and solve urgent tasks of the industry. The events of the Forum are aimed at developing project work skills on the most topical problems of the oil and gas industry. Such events help to identify promising personnel who are then offered employment with the Company. The Forum is attended by university representatives and young oil and gas industry specialists under the age of 35 from Russia and neighboring countries. 
						h2 Environmental education 
						p 
							b Formation of an environmental “school-university-society” mindset
						p The Company takes a leading role in shaping environmental culture by actively participating in improving the ecology of cities in the region: building parks and squares, improving streets and avenues, and providing municipalities with vacuum cleaners, street flushers and snow blowers. The Company pays special attention to educating the younger generation and promoting environmental thinking. 
						p The Company is interested in improving the environmental situation in the region, tries to instill interest in this topic and supports educational institutions. Contributing to preuniversity education has a positive impact on the education of the future generation. 
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/block-5/from_en/6.jpg", alt="")
						p 
							b SDG POPULARIZATION
					.dmpage-quote
						p >280 thousand schoolchildren
						p >300 volunteers from among students and young workers
					.dmpage-text
						p Educational projects
						ul 
							li TATNEFT SDG Envoys 
							li Environmental shifts at summer camps 
							li Environmental projects at summer camps 
							li Looking for a Carbon Footprint
						p Competitions and initiatives
						ul 
							li Competition on separate waste collection 
							li Ecological field expedition to study the flora and fauna of the south-eastern part of Tatarstan
							li Support of the Russian Wintering Bird Census in the southeastern part of Tatarstan 
							li 110 projects supported by TATNEFT CF 

						p Creating a developmental environment
						ul 
							li Almetyevsk Ecologization 
							li Annual contract to grow cloned plantlets in school laboratories 
							li Creation of a botanical garden at the secondary school No. 2 in Aktubinskiy settlement  
						p To communicate the Sustainable Development Goals to the younger generation, the corporate volunteer  
							b program TATNEFT SDG Envoys, 
							|  was launched, in which young employees of the Company as well as students carry out educational activities. The Company volunteers give lectures on the topic of “The Most Important Lesson in the World”, which program provides for cultivating husbandry towards nature, responsible use of water resources, and important principles of social communication. The main challenge for 2023 is to share knowledge about the Sustainable Development Goals with schoolchildren, reaching 100,000 children.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/block-5/7.jpg", alt="")
					.dmpage-quote
						p The Most Important Lesson in the World
						p 81 volunteers
						p 1049 schools
						p 72000 children
						p 400 lessons
					.dmpage-text
						p The educational study  
							b “Looking for a Carbon Footprint” 
							|  for schoolchildren in Tatarstan was launched. The project will allow children to independently study climate change and the impact of greenhouse gases on it, to realize their own role in the preservation of the ecosystem of the entire planet. A bot assistant and a website with the results of calculations were created. An educational talk show “Schoolchildren Also Have Something to Say” was held and broadcast in the Recommendations section of the VKontakte platform. 
					.dmpage-quote
						p 
							b 7 
							|  districts of the Republic of Tatarstan
						p
							b 159 
							|  teachers
						p
							b 2650
							|  students
					.dmpage-text
						p Popularization among young people 
						p Educational projects
						ul 
							li SDG training through youth forums 
							li Corporate University environmental courses 
							li Fundamentals of Energy Efficiency and Energy Saving course in all fields of study 
					.dmpage-quote
						b >8000 
						|  youths incl. 
						b >1000
						|  students
					.dmpage-text
						p Projects and initiatives
						ul 
							li 33 initiative projects were supported in the TATNEFT-ECO and TATNEFT-Dobro categories
							li Eco-rafting on the Steppe Zay River 
							li Volunteer events and clean-up days 
							li Energy watch by students 
							li Energy audit of the field infrastructure facilities by students 
						p Popularization among the adult population
						p Educational projects
						ul 
							li Sustainable Development Management module of EMBA and MBA programs for top management 
							li Targeted Energy Saving and Energy Efficiency training program for key business area specialists 
							li Environmental module as part of the TATNEFT-Master-2030 target educational program
							li Distance learning courses for all employees: 
								ul 
									li Climate Agenda, Sustainable Development Goals and the Company's Climate Position
									li Assessment of the Environmental Impact of the Activities of Energy Companies, etc.
						p Projects and initiatives
							ul 
								li Environmentalist Day event 
								li Eco-rafting on the Steppe Zay River 
								li Participation in voluntary clean-up activities 
								li Fish stocking in rivers 
								li Restoration of popularization of the Red Data Book irbis, etc.
