extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Management approach

			h1.dmpage-h1 Management approach


		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-5.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/sodejstvie-socialnomu-razvitiyu.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development.html") To the beginning of the section
						a.dmpage-menu-item.dmpage-menu-item--active(href="/sustainable-development/promotion-of-social-development/management-approach.html") Management approach
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/charitable-foundation.html") Charitable foundation
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/social-infrastructure-development.html") Social infrastructure development
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/investment-in-future-generations.html") Investment in future generations
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/preservation-of-cultural-heritage.html") Preservation of cultural heritage
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/interaction-with-local-indigenous-people-living-a-traditional-lifestyle.html") Interaction with local indigenous people living a traditional lifestyle
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/healthy-lifestyle.html") Healthy lifestyle
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/support-for-development-initiatives.html") Support for development initiatives
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/membership-in-associations.html") Membership in associations
						
			

			
			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p The Company has defined uniform social policy management processes for the entire TATNEFT Group. 
						p Principles of social policy management:
							ul 
								li 
									b Efficiency
									|  : The funds used to implement the programs should make a tangible contribution to solving the problems. The results of the programs are subject to regular evaluation and accounting 
								li 
									b Consistency
									|  : Social programs are regular and systematic
								li 
									b Significance
									|  : The Company strives to make its social programs as targeted, timely and responsive as possible to the pressing needs of society 
								li 
									b Openness
									|  : The Company strives to develop and implement social programs based on dialogue and cooperation with stakeholder 
					.dmpage-table-section
						.dmpage-table-overflow
							table.dmpage-table.dmpage-table--simple
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								tbody
									tr
										td(rowspan='2')
											p Strategic level

										td
											p Board of Directors
										td
											ul
												li
													| determines social policy, sets strategic goals and directions for development
												li oversees policy implementation
												li approves non-financial reports
									tr
										td(style="display:none;")
										td
											p Sustainable Development and Corporate Governance Committee of the Board of Directors

										td
											ul
												li
													| plans, defines and approves social development goals and measures
												li monitors and evaluates the implementation of measures and the emergence of risks
												li forms the position on providing information to stakeholders
									tr
										td(rowspan='4')
											p Operational level

										td(colspan='2')
											p General director and the Board
									tr
										td(style="display:none;")
										td
											p Department of Social Programs

											ul
												li corporate social programs group
												li external social programs group
												li social program development and performance management group
												li social program support center 
										td
											p
												| Development of activities, new areas of activity, support and control of the intended use of funds, evaluation of the effectiveness of social facilities in the following areas:
											ul
												li construction and repair of social facilities, social mortgages
												li preschool and further education
												li preservation of cultural heritage
												li recreation and treatment of active and retired employees of the Company
												li organization of recreational and health-improving activities for the children of the Company's employees
												li supporting voluntary health insurance programs
												li development of physical education and sports
												li work with veterans and retired employees of the Company
												li development of equestrian sports 
												li community relations in the regions where the Company operates
									tr
										td(style="display:none;")
										td
											p Social Facilities Management Department

										td
											ul
												li development of the Social Facilities Development Strategy
												li
													| developing plans and monitoring the economic performance of social facilities
									tr
										td(style="display:none;")
										td
											p Charitable Foundation
										td
											ul
												li
													| social support for education, culture, science, art, enlightenment, sports, civil society institutions, material assistance to the population
									tr.dmpage-table__tr-no-bb
										td(rowspan='3')
											p Stakeholders
										td
											p TATNEFT Trade Union
										td(rowspan='3')
											ul
												li involvement of active and retired employees in the social policy of the Company
												li involvement of local residents in the social policy of the Company
												li
													| determination of the level of efficiency of the Company's resource allocation and stakeholder involvement
												li defining requirements and expectations of the social environment
									tr.dmpage-table__tr-no-bb
										td(style="display:none;")
										td Public organizations
									tr
										td(style="display:none;")
										td Local resident
							
					.dmpage-text
						p The Board of Directors reviews the Company’s social policy annually and plans to improve the level of management of social programs and expenditures to increase the efficiency of social investments. The Company establishes centralized management of social programs and expenses and introduces methods for selecting social initiatives based on goal setting, long-term planning and performance evaluation. 
						p The Company’s investment program is based on the expansion of activities, the development of new assets, the construction and modernization of production facilities, which is inseparable from the need to create a socially oriented and environmentally friendly infrastructure. Stable demand for the Company’s products and services in the regions of operations creates sustainable opportunities for local business development, providing jobs and employment for the local population, including in related industries. 
						p Together with local authorities, the Company implements projects to improve and develop the infrastructure of cities and towns, participates in the construction of socially significant facilities, and supports the development of education, health care, the cultural environment, the preservation of spiritual heritage, and sports. When creating social programs, the Company takes into account the social priorities of the state policy: the Concept for Long-Term Social and Economic Development of the Russian Federation and the Strategy for the Social and Economic Development of the Republic of Tatarstan. 
						p During the reporting year, an internal model of social activity management was created, which allows for a systematic approach to addressing pressing public challenges in light of existing federal and republican programs and increasing the efficiency of the Company’s social investments.

					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title Social investments, RUB mln.
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th
											p Allocation of expenses
										th
											p 2020 
										th
											p 2021 
										th
											p 2022
								tbody
									tr
										td
											p
												| Social expenses (collective agreements, loan repayments, company anniversaries, etc.)
										td
											p 458
										td
											p 784
										td
											p 1 262
									tr
										td
											p
												| Voluntary health insurance, voluntary life insurance, non-state pension scheme 
										td
											p 523
										td
											p 351
										td
											p 883
									tr
										td
											p Contributions to the State Housing Fund
										td
											p 4 989
										td
											p 6 769
										td
											p 7 865
									tr
										td
											p Charity
										td
											p 5 536
										td
											p 5 432
										td
											p 7 914
									tr
										td
											p Contributions to social facilities
										td
											p 642
										td
											p 3 386
										td
											p 1 494
									tr
										td
											p Maintenance of social facilities
											p (health resorts, recreation camps, leisure centers, etc.)
										td
											p 2 767
										td
											p 1 692
										td
											p 1 783
									tr
										td
											p Social investments 
											p (capital investments)
										td
											p 1 542
										td
											p 1 051
										td
											p 1 524
									tr
										td
											p Sports support
										td
											p 3 728
										td
											p 3 938
										td
											p 4 166
									tr
										td
											p Total
										td
											p 20 185
										td
											p 23 403
										td
											p 26 891

						
					.dmpage-text

						p
							b The impact of social investments 
							|  on society is assessed through feedback channels (surveys, votes, etc.) and programs are adjusted as necessary.
						p The identification of key social impact assessment tools, as well as the collection of feedback and prioritization, including the possible involvement of sociologists and consultants, is implemented at the process level. Effective communication channels have been identified, including: 
						ul 
							li corporate social media platforms (Telegram and VKontakte accounts) 
							li corporate media 
							li blogger communities 
							li press events with loyal media 
							li contests, activities during celebrations, etc.
						p Today, there is an effective evaluation of TATNEFT’s activities through digital platforms with surveys and various metrics that determine the level of audience engagement, the tone, the level of loyalty to the Company’s projects. The process of collecting feedback (satisfaction of beneficiaries, monitoring of social problems) is further developed by a full sociological research with collection of statistical indicators of projects (coverage and other metrics).
						p The geopolitical realities affecting the micro and macro environment around the Company and the risks associated with them make it impossible to use such an effective tool as the Public Councils to interact with the public. They have been suspended for 2022. If the situation recovers, the Company will return to holding them on an annual basis.