extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Membership in associations

			h1.dmpage-h1 Membership in associations

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_20_10_23/promotion-of-social-development.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/promotion-of-social-development.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/promotion-of-social-development.html") To the beginning of the section
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/management-approach.html") Management approach
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/charitable-foundation.html") Charitable foundation
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/social-infrastructure-development.html") Social infrastructure development
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/investment-in-future-generations.html") Investment in future generations
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/preservation-of-cultural-heritage.html") Preservation of cultural heritage
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/interaction-with-local-people-living-a-traditional-lifestyle.html") Interaction with local indigenous people living a traditional lifestyle
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/healthy-lifestyle.html") Healthy lifestyle
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/support-for-development-initiatives.html") Support for development initiatives
						a.dmpage-menu-item.dmpage-menu-item--active(href="/sustainable-development/promotion-of-social-development/membership-in-associations.html") Membership in associations
						
			
			
			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p The Company enters into partnerships and participates in industrywide associations in order to constructively interact with international organizations, government agencies and other industry players and to elaborate the stance on key issues of the fuel and energy sector. 
						p 
							b  Partnerships for sustainable development 
						//img(src="https://dmitryboz21.github.io/ttneft/build/img/chlenstvo_logo.jpg", alt="")
						p 
							b Industrywide associations 
						ul 
							li Since 2022, the Company has been a member of the Artificial Intelligence in Manufacturing association in the format of a public private partnership to implement projects for more efficient wellbore intervention processes 
							li Since 2022, together with the Industry Center for Competencies in Robotics and a number of industry partners, it has taken measures to create a non-profit organization to coordinate the development and implementation of robotics solutions for the fuel and energy sector  
							li Since 2021, it has been a party to the agreement with the Ministry of Energy of Russia to create new production facilities for deep processing of crude oil, which makes it possible to increase the recoverable excise tax by the investment surcharge 
							li Since 1994, the Company has been a member of the Union of Oil & Gas Producers of Russia, which initiated the industry reform, a tougher regulation of the fuel and energy sector, changes in legislation, and government decisions 
							li Since 2003, it has been a member of the Russian Union of Industrialists and Entrepreneurs (RSPP). The Company plays a role in RSPP committees engaged in creation of the regulatory framework 
							li Since 2003, the Company has cooperated with the non-profit partnership “Mining Companies of Russia” 
							li Since 2010, the Company, in collaboration with the trade union organization, has been cooperating with the All-Russian Industry Association of Employers of the Oil and Gas Industry 
							li Since 2011, it has participated in the working group under the Ministry of Energy for monitoring the production and consumption of oil products in the Russian Federation, regulating prices for oil products and ensuring stable and uniform supply of petroleum products to the domestic market of the Russian Federation
							li Since 2011, the Company has been a member of the RF Chamber of Commerce and Industry 
							li Since 2014, it has been a participant in the Council of Consumers for Natural Monopolies, which operates as a communication platform of PJSC Transneft and its buyers 
							li Since 2015, it has been a member of the working group under the Ministry of Energy for monitoring oil quality, which was forged to stabilize the quality of oil in main oil pipelines 
							li Since 2022, it has been a member of the Technical Standardization Committee “Capture, Transportation and Storage of Carbon Dioxide’ under of the RF Ministry of Energy