extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Preservation of cultural heritage

			h1.dmpage-h1 Preservation of cultural heritage

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-5.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/sodejstvie-socialnomu-razvitiyu.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development.html") To the beginning of the section
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/management-approach.html") Management approach
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/charitable-foundation.html") Charitable foundation
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/social-infrastructure-development.html") Social infrastructure development
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/investment-in-future-generations.html") Investment in future generations
						a.dmpage-menu-item.dmpage-menu-item--active(href="/sustainable-development/promotion-of-social-development/preservation-of-cultural-heritage.html") Preservation of cultural heritage
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/interaction-with-local-indigenous-people-living-a-traditional-lifestyle.html") Interaction with local indigenous people living a traditional lifestyle
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/healthy-lifestyle.html") Healthy lifestyle
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/support-for-development-initiatives.html") Support for development initiatives
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/membership-in-associations.html") Membership in associations
					
			

			
			.dmpage-main
				.dmpage-detail
					.dmpage-text
						h2 Remembering our history, remembering our roots, knowing where we come from
						p Art, which speaks about the most important human values, fits harmoniously into the life of cities and forms their cultural code, bringing the development of the urban environment to a completely new level of quality. Using the language of art, the Company creates its own cultural code based on respect for our traditions, values and national characteristics, while combining them with modern, high-tech, environmentally friendly and responsible business principles. In this way, we instill respect for our roots, love for our homeland, sensitivity to beauty in all its manifestations, and the preservation of our historical and cultural heritage.  
					.dmpage-quote
						p Cultural code formula of the Company = 
						p Company mission and values + Sustainable development goals + National traditional values
					.dmpage-text
						p 
							b Cultural projects of the Company
						
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/block-5/8.jpg", alt="")
						p 
							b Tales of the Golden Apples
							|  is an art project for the improvement and development of the urban environment (public art) of Almetyevsk. The public art program has been running since 2017 and was completed in 2022. Within its framework, TATNEFT, Nov Bureau and Street Art Research Institute (Saint Petersburg) designed and created unique art objects in the city. The concept of the program is to combine monumental murals of buildings, sculptures, media installations, landscape and architectural solutions. All objects weave reality and magical folklore into a single urban space. Since the beginning of the program, the oil capital of Tatarstan has been enriched by almost four dozen pieces of street art created by a team of artists from all over the world. More than 100 events of various kinds have been held. As part of the project, a series of guided tours have been organized, each of which reveals a new side of the city and the art on its streets 
						p Now the project will be continued by local talent. For this purpose, the Company is creating Open Workshops, a unique art space where residents will be able to create their own art. The creation of the residence for artists and artisans successfully reveals the theme of the final season of the public art program, which is called Care. This is a metaphorical transfer of all that has been done in the project to the residents of the city, who will now continue to take care of its beauty and aesthetic content. 
						p The TATNEFT Charity Foundation carries out various projects to study and popularize the little-known musical heritage of our region, to restore old instruments and musical works of the peoples of the Volga region. An important element in the development of culture has also become the organization of concerts of prominent Russian artists.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/block-5/9.jpg", alt="")
						p 
							b The Information and Exhibition Space project 
							|  is an educational center and a platform for communication between different groups, playing an important role in the formation and development of the cultural identity of the region, transmitting its symbols and values to visitors and residents of the city. There is an exhibition of musical instruments of the peoples of the world. The collection consists of musical instruments of large and small ethnic groups, peoples living in different countries and includes the largest classified collection of pan-Turkic instruments in Russia. More than 3,400 people visited the exhibition of musical instruments in 2022.
						
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/block-5/10.jpg", alt="")
						p 
							b The Kadim Almet project
							| , organized at the exhibition of musical instruments of the peoples of the world by 16 musicians and vocalists, revives authentic music and root culture. The debut album of the group won the Russian ethnic music prize Russian World Music Awards 2022 in the Best Authentic Project category.
						p Besides Kadim Almet, another project is developing: the Karlygach ensemble. It was created at the Children’s Music School No. 2 in Almetyevsk. The ensemble is a laureate of regional, Russian and international competitions.
							
						p 
							b Tatneft Music Art 
							|  is a cultural project of TATNEFT Charity Foundation, which introduces a series of free concerts of professional and student creative groups of the Republic of Tatarstan, where you can get acquainted with classical music, world cultural traditions, instrumental performances.
						p 
							b The Cultural City Environment project 
							|  has been implemented since 2016. Since then, 9 cities in the south-east of the Republic have participated in the project. Professional and amateur art groups, writers and poets, ensembles, artists, dancers, athletes and popular guest actors of the Republic perform at the project sites. 
						p TATNEFT Charity Foundation supported the creation of 
							b the social theater Inclusion. 
							|  School, which provides an opportunity for “invisible” people to engage in creative work: troubled teenagers, pensioners, people with disabilities, etc. The theater is an inclusive platform where theater professionals from Tatarstan and Russia create and perform contemporary theater performances together with local people. People with disabilities are trained in the theater studio. Professional actors and students take part in the classes as volunteers.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/block-5/11.jpg", alt="")
						p 
							b Almetyevsk Street Theater Light Wings 
							|  is the first professional street theater in the Republic of Tatarstan. It was created to develop the art of street performance using the traditions of the Russian and Tatar theater schools and to train street performers. The Light Wings Theater is the organizer of the 2nd Street Theater Festival Light Wings held in July 2022 with the support of the TATNEFT Charity Foundation and the Presidential Fund for Cultural Initiatives. Every year, the team of the theater takes part in international and Russian festivals of street art.

						img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/block-5/12.jpg", alt="")
						p 
							b Karakuz Ethnocultural Festival 
						p The Company contributes to the preservation and strengthening of the culture of the multinational population of the Republic, revives centuries-old traditions of fairs and street performances, creates a favorable atmosphere for self-realization of talented, creative people and groups. The cities of the south-eastern part of Tatarstan for the second year in a row held a large-scale ethnocultural festival Karakuz. 
					.dmpage-quote
						a.dmpage-quote__link(target="_blank" href="https://karakuz-fest.ru/")

						|  >65 thousand people participants and audience
					.dmpage-text
						p 
							b History is Made by People project
						p The project is aimed at preserving the historical truth about the formation and development of the oil industry of the Russian Federation and the Republic of Tatarstan, perpetuating the memory of the veterans of the Company, service enterprises, related industries, the public sector, who made a significant contribution to the creation and development of the fuel and energy complex of the region and the Republic, to the development of our region. More than 2000 video interviews with veterans in the Republic of Tatarstan, Moscow, Samara and Togliatti were organized and conducted as part of the project. 

						p In 2022, the 
							b Project for Digitization of Old Manuscripts 
							|  with the Status of a 
							b Book Monument 
							|  was launched. The main objectives are to provide for the preservation of historical and cultural heritage in the regions of the Company’s operations and to facilitate the introduction of modern technologies in the archival business. The project to study, catalog, digitize and make available on the Internet Arabic books and manuscripts from the collections of the Lobachevsky Scientific Library of the Kazan Federal University and the Institute of Oriental Manuscripts of the Russian Academy of Sciences has involved the digitization of more than 5000 Arabic manuscripts. The total volume of manuscripts to be digitized is estimated at 30,000.
						p
							b  TATNEFT Search Team
						p The team was created on November 28, 2015 and is a structural subdivision of the regional youth organization “Association “Fatherland” of the Republic of Tatarstan of the Russian public movement “Searching Movement of Russia”. During the whole period of its activity the team conducted search expeditions in Novgorod, Leningrad, Kaluga, Rostov, Tver, Murmansk and other regions, Krasnodar Territory, Republic of Karelia, Republic of Crimea and Republic of Belarus. Participants of the team have recovered the remains of 305 Red Army soldiers, the names of 51 soldiers have been established. The Museum of the Glory of the Battle was created in the school of Almetyevsk No. 25, where the exhibits found in the places of former combat operations are exhibited. In 2022, the team studied and analyzed more than 500 files in the Central Archive of the Moscow Region of the Russian Federation
						p 
							b Oil Museum
						p Oil Museum The history of the formation and development of the oil industry in Tatarstan is preserved by the Oil Museum Group created by the Company. It includes two museums located in the Leninogorsk district: in Leninogorsk and in the village of Shugurovo. The first oil museum of the USSR was established on October 1, 1968 in Leninogorsk, the homeland of Tatarstan oil. The museum reverently chronicles the history of oil, reflecting its brightest and most significant pages. The open-air museum with expositions tells about the history of creation and development of the first large industrial enterprise, the Shugurovsky oil-bitumen plant.