extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Social infrastructure development


			h1.dmpage-h1 Social infrastructure development

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-5.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/promotion-of-social-development.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/promotion-of-social-development.html") To the beginning of the section
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/management-approach.html") Management approach
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/charitable-foundation.html") Charitable foundation
						a.dmpage-menu-item.dmpage-menu-item--active(href="/sustainable-development/promotion-of-social-development/social-infrastructure-development.html") Social infrastructure development
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/investment-in-future-generations.html") Investment in future generations
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/preservation-of-cultural-heritage.html") Preservation of cultural heritage
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/interaction-with-local-indigenous-people-living-a-traditional-lifestyle.html") Interaction with local indigenous people living a traditional lifestyle
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/healthy-lifestyle.html") Healthy lifestyle
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/support-for-development-initiatives.html") Support for development initiatives
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/membership-in-associations.html") Membership in associations
						
			

			
			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p Since its inception, the Company has implemented initiatives to ensure the openness, safety, resilience and environmental sustainability of the cities and communities in which it operates. The development of social infrastructure, environmental protection and safety, provision of housing, heat and power supply, development of transportation and roads are an integral part of the Company’s activities in the areas of operation. 
						p Each year, the Company finances
							b  the construction, renovation, and repair of social infrastructure, provides resources and equipment, and implements targeted programs and projects in the cities and communities
							|  in which it operates.
					.dmpage-quote
						p  In 2022, 6.9 billion rubles were allocated for the development of social and cultural spheres and public infrastructure, and 645 projects were implemented


					.dmpage-chart-outer.dmpage-small-w-section
						h3.dmpage-chart-title Construction, renovation and improvement

						.dmpage-chart-flex
							#chart-doughnut-en-200-5-3.dmpage-chart-doughnut.js-dmpage-chart-doughnut
								canvas
							.dmpage-chd-legend


					.dmpage-chart-outer.dmpage-small-w-section
						h3.dmpage-chart-title Providing resources and equipment
						.dmpage-chart-flex
							#chart-doughnut-en-200-5-4.dmpage-chart-doughnut.js-dmpage-chart-doughnut
								canvas
							.dmpage-chd-legend


					.dmpage-chart-outer.dmpage-small-w-section
						h3.dmpage-chart-title implementing targeted programs and projects

						.dmpage-chart-flex
							#chart-doughnut-en-200-5-5.dmpage-chart-doughnut.js-dmpage-chart-doughnut
								canvas
							.dmpage-chd-legend


					.dmpage-accordions-wrap
						h3.dmpage-accordions-title As part of the development of social infrastructure in 2022 
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									h2.dmpage-accordion-head__text The following projects were implemented:
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										p Almetyevsk
										ul
											li Construction of the Industrial Square with the skatepark 
											li Renovation of the building for the children's art school 
											li Major repairs to the central mosque and construction of an annex (all but complete) 
											li Major repairs to School No. 1 (almost complete) 
											li Renovation and equipping of the veterinary center
										p Nizhnekamsk
										ul 
											li Construction of Engineering Lyceum No. 38 Vector 
											li Construction of emergency medical center 
											li Construction and equipment of Kindergarten No. 100 Eureka 
										p Bugulma
										ul 
											li Major repairs to the House of Crafts
										p Leninogorsk
										ul 
											li Construction of the Neftyanik Ice Arena
										p Aznakayevo
										ul 
											li Construction of a civil registry office 
							.dmpage-accordion
								.dmpage-accordion-head
									h2.dmpage-accordion-head__text The following projects are being designed: 
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										p Almetyevsk
										ul
											li Concert hall 
											li Art gallery
											li Perinatal center 
											li Sports center in school No. 5 Training arena in the Tennis City center 
											li Sports and shooting center 
											li Improvement of the public gardens and the banks of the city water reservoir 
											li Youth center, community center, Iske Elmet cultural center 
											li (as part of a project to create community centers and public spaces)
										p Nizhnyaya Maktama settlement
										ul 
											li Indoor swimming pool 
											li Cultural center
										p Nizhnekamsk
										ul 
											li Indoor artificial ice rink (Taneco Arena)
										p Bugulma
										ul 
											li Children's school of arts
										p Aznakayevo
										ul 
											li Tennis center

							.dmpage-accordion
								.dmpage-accordion-head
									h2.dmpage-accordion-head__text Measures were taken to maintain and develop municipal power supply facilities:

								.dmpage-accordion-body
									.dmpage-accordion-body__text
										p Almetyevsk
										ul
											li Replacement and construction of heating systems 
											li  Increasing the capacity of the boiler house of the central district hospital 
											li Construction of heating and hot water systems for residential buildings at the research center
										p Aznakayevo
										ul
											li Construction of a cogeneration plant
										p Aktubinskiy settlement 
										ul
											li Construction of heat and power supply systems 
											li Construction of an autonomous boiler plant and a steam boiler 
											li Replacement of central heating and hot water supply systems
					.dmpage-text
						p 
							b Promoting an inclusive environment for people with disabilities
							|  The Company strives to develop an inclusive environment for people with disabilities in the workplace and in the infrastructure of cities and communities. The Company is building ramps into administrative buildings and a number of manufacturing facilities to make them accessible to people with disabilities. 
						p Work on the development of educational opportunities for people with disabilities, starting at an early age, is highlighted in a separate area. As part of the implementation of SDG 4 “Quality Education”, programs are being developed to support children, parents, teachers and educators to create conditions for the education of children with disabilities, including in remote settlements in the regions where the Company operates.
						p 
							b Participation in national projects
						p As part of the goal of long-term sustainable development of the Company by maintaining stability and a favorable environment in the region of operations, the Company participates in the National City Environmental Quality Index project together with the municipal administrations of the cities in the region. Each city has a target index depending on its position in the 2020 rating: the first three rating positions for Almetyevsk and Nizhnekamsk, the first five positions for Bugulma, Elabuga, Leninogorsk, and at least the 10th position for Aznakaevo, Bavlov, Nurlat. The cities must fall into the category of favorable urban environment in all sections of the rating (safety, life and health; infrastructure; social, cultural and business development; ecology). The measures are co-financed, among other things, by grants from the Company.