extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Support for development initiatives

			h1.dmpage-h1 Support for development initiatives

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_20_10_23/promotion-of-social-development.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/promotion-of-social-development.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/promotion-of-social-development.html") To the beginning of the section
						a.dmpage-menu-item(href="management-approach.html") Management approach
						a.dmpage-menu-item(href="charitable-foundation.html") Charitable foundation
						a.dmpage-menu-item(href="social-infrastructure-development.html") Social infrastructure development
						a.dmpage-menu-item(href="investment-in-future-generations.html") Investment in future generations
						a.dmpage-menu-item(href="preservation-of-cultural-heritage.html") Preservation of cultural heritage
						a.dmpage-menu-item(href="interaction-with-local-people-living-a-traditional-lifestyle.html") Interaction with local indigenous people living a traditional lifestyle
						a.dmpage-menu-item(href="healthy-lifestyle.html") Healthy lifestyle
						a.dmpage-menu-item.dmpage-menu-item--active(href="support-for-development-initiatives.html") Support for development initiatives
						a.dmpage-menu-item(href="membership-in-associations.html") Membership in associations
						
			
		
			.dmpage-main
				.dmpage-detail
					.dmpage-text
						//img(src="https://dmitryboz21.github.io/ttneft/build/img/un-g-c-logo.jpeg", alt="")
						p Since 2019, the Company has been a member of the UN Global Compact, which has committed itself to the 10 principles and 17 Sustainable Development Goals. 
						h2 Human rights and labor relations
						p The Company adheres to and shares the principles of fundamental international declarations and conventions in the field of human rights and labor relations, including:
						ul 
							li UN Universal Declaration of Human Right 
							li UN Environment and Development Declarations 
							li OECD Guidelines for Multinational Enterprises
							li Declaration of Fundamental Rights and Principles at Work of the International Labor Organization (ILO) 
							li ILO Convention No. 87 Concerning Freedom of Association and Protection of the Right to Organize
							li ILO Convention No. 98 Concerning the Application of the Principles of the Right to Organize and Collective Bargaining
							li ILO Convention No. 111 Concerning Discrimination in Respect of Employment and Occupation
						h2 Environment and climate
						p In its activities, the Company takes into account and supports several fundamental initiatives in the environment and climate safety: 
						ul 
							li Standard and recommendations of the Greenhouse Gas Protocol 
							li Setting Science Based Targets to reduce greenhouse gas emissions 
							li Oil and Gas Industry Climate Initiative (OGCI) 
							li Recommendations for companies to disclose information on financial risks arising from global climate change (TCFD)
						h2 Anti-corruption activities
						p The Company adheres to the principles and norms contained in the following documents: 
						ul 
							li The United Nations Convention against Corruption (adopted by the UN General Assembly Resolution in New York on October 31, 2003) 
							li The Convention of the Organization for Economic Cooperation and Development on Combating Bribery of Foreign Public Officials in International Business Transactions (adopted in Istanbul, on November 21, 1997) 
							li Criminal Law Convention on Corruption (concluded in Strasbourg on January 27, 1999, ETS No. 173) 
							li Anti-corruption Charter of Russian Business community 
						h2 Social charter of Russian business community  
						p The Company adheres to the responsible business principles defined by the Social Charter on Responsible Business, covering aspects of economic and financial sustainability, product quality, respect for human rights, business ethics, and relations with partners, consumers, employees, environmental safety, participation in the development of the local community.