extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Aktyuba energy efficient settlement

			h1.dmpage-h1 Aktyuba energy efficient settlement

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_20_10_23/ESG-projects.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/esg-projects.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/esg-projects.html") To the beginning of the section
						a.dmpage-menu-item(href="ccus-projects.html") Сcus projects
						a.dmpage-menu-item(href="green-office-project.html") Green office project
						a.dmpage-menu-item(href="the-green-gold-of-tatneft.html") The green gold of tatneft
						a.dmpage-menu-item(href="not-only-clean-air.html") Not only clean air
						a.dmpage-menu-item(href="tatneft-sdg-envoys.html") Tatneft sdg envoys
						a.dmpage-menu-item(href="school-biolabs.html") School biolabs
						a.dmpage-menu-item(href="looking-for-a-carbon-footprint.html") Looking for a carbon footprint
						a.dmpage-menu-item(href="olympiad-for-young-geologists.html") Olympiad for young geologists
						a.dmpage-menu-item.dmpage-menu-item--active(href="aktyuba-energy-efficient-settlement.html") Aktyuba energy efficient settlement
			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/aktjuba_1.jpg", alt="")
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/aktjuba_2.jpg", alt="")
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/aktjuba_3.jpg", alt="")
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/aktjuba_4.jpg", alt="")
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/aktjuba_5.jpg", alt="")
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/aktjuba_6.jpg", alt="")
						p TATNEFT is a major player in the energy market — the Company accounts for almost a quarter of electricity consumption in Tatarstan. Furthermore, Tatneft is the largest producer of electricity and heat. The Company is engaged in comprehensive work in the field of energy and resource efficiency. We have gathered considerable experience and extensive competencies in energy saving and creating a closed-cycle economy, which can also be applied outside the Company.
						p The issue of efficient production and energy and resource saving is built into our values and the Company's development philosophy, it is in our outlook on creating a sustainable future.
						p We are systematically engaged in energy and resource efficiency efforts in line with the Company's approved program. As we work, we see that our experience, competencies, engineering approach can be in demand both in our Republic and throughout the country.
						p Ideas on applying TATNEFT's technologies and experience for the benefit of the society have been accumulating gradually. As a result, they came together to form a large-scale project of creating a  
							b sustainable autonomous energy-efficient settlement  
							| on the basis of the Aktyuba settlement in the Aznakaevsky district of the Republic of Tatarstan.
						p TATNEFT seeks to apply advanced solutions and technologies to turn the Aktyubinsky settlement into an energy-efficient, economically sustainable, popular and comfortable settlement, creating an environment to result in the culture of responsible consumption and a generation of people with a different outlook and attitude to nature and resources.
						p The Akyuba project is based on 4 interconnected components:
						ol 
							li A set of modern projects on energy supply and product manufacturing from bio raw materials, ensuring sustainable economic growth in the region, an increase in new attractive jobs, primarily in medium and small businesses.
							li Ecology and rational consumption of resources, the use of carbon-neutral, energy-efficient closed-cycle technologies.
							li Creation and development of quality infrastructure for business and living.
							li Creating conditions aimed at the development of society. Practice-oriented education of schoolchildren, students, encouraging environmentally responsible behavior, involving residents in the development of the settlement.
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/aktjuba_7.jpg", alt="")
						p Tatneft is creating a complex of modern biotechnological facilities in the settlement. For instance, hemp waste will be used to make heat insulation materials and make cellulose out of flax. Non-food sugars would be produced from plant waste. Sewage sediments are suited for producing methanol, and the already operating pyrolysis plant produces biooil and biochar from wood chips – these are analogs of natural oil and coal, feedstock for petrochemical production.
						p A biogas plant will be used to supply the settlement with electricity. Located at the livestock facility, it turns waste into gas and then into electricity.
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/aktjuba_8.jpg", alt="")
					.dmpage-text.dmpage-text--small Biogas Unit 
					.dmpage-text
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/aktjuba_9.jpg", alt="")
					.dmpage-text.dmpage-text--small Pyrolysis Unit
					.dmpage-text
						p To provide houses with heat, a solid fuel boiler house is being built, utilizing wood chips.
						p TATNEFT has launched the reconstruction of two apartment buildings, where state-of-the-art energy-saving technologies and environmentally friendly materials will be applied. The construction is to be completed this fall.
						


						
						video(controls preload="none" poster="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image16.jpg")
							source(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_13/prilozhenie_13.1._aktjuba.mp4" type="video/mp4")