extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div CCUS-projects

			h1.dmpage-h1 CCUS-projects

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/esg-projects.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/esg-projects.html") To the beginning of the section
						a.dmpage-menu-item.dmpage-menu-item--active(href="ccus-projects.html") Сcus projects
						a.dmpage-menu-item(href="green-office-project.html") Green office project
						a.dmpage-menu-item(href="the-green-gold-of-tatneft.html") The green gold of tatneft
						a.dmpage-menu-item(href="not-only-clean-air.html") Not only clean air
						a.dmpage-menu-item(href="tatneft-sdg-envoys.html") Tatneft sdg envoys
						a.dmpage-menu-item(href="school-biolabs.html") School biolabs
						a.dmpage-menu-item(href="looking-for-a-carbon-footprint.html") Looking for a carbon footprint
						a.dmpage-menu-item(href="olympiad-for-young-geologists.html") olympiad for young geologists
						a.dmpage-menu-item(href="aktyuba-energy-efficient-settlement.html") Aktyuba energy efficient settlement
			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						p The TATNEFT Group has implemented a number of projects and scientific research in the field of carbon capture, utilization and storage (CCUS).
						p The Company has completed 4 projects, 1 R&D and 1 GTU in the CCUS area; 5 projects are in progress:
						ul 
							li Studies on capture and processing of CO2 generated at the JSC TANECO and the Nizhnekamskaya CHP LLC were made, the capture potential amounted to 6 million tonnes of CO2-eq.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/proekty_CCUS-1.jpeg", alt="")
					.dmpage-text.dmpage-text--small JSC TANECO
					.dmpage-text
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/proekty_CCUS-2.jpg", alt="")
					.dmpage-text.dmpage-text--small Nizhnekamsk CHP LLC
					.dmpage-text
						ul 
							li Modelling has been completed and the site has been selected for the construction of a carbon dioxide storage facility in the Zhizhskoye stage of the Tukaevsky subsoil area at a depth of more than 1 km. The estimated storage capacity is 82 million tonnes of CO2-eq.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/proekty_CCUS-3.png", alt="")
						ul 
							li The TatNIPIneft Research Institute has developed the process flow design for CO2 injection and evaluated the disposal costs.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/proekty_CCUS-4.png", alt="")
					.dmpage-text.dmpage-text--small General Layout of CO2 injection Project Implementation
					.dmpage-text
						ul 
							li A project is underway to use CO2 to enhance the oil recovery. According to the results of hydrodynamic modelling of the Biklyanskoye field, this technology requires the use of up to 100 thousand tonnes of CO2 per year. The Company has developed a reservoir engineering technique using CO2, for which PJSC TATNEFT has a priority patent. This EOR technology enables the use of up to 15.2 million tonnes of CO2-equivalent in the field over the life of the project.
							img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/proekty_CCUS-5.png", alt="")
					.dmpage-text.dmpage-text--small Hydrodynamic Model of the Biklyanskoye field
					.dmpage-text
						ul 
							li Modelling and site selection was carried out to create a carbon dioxide storage facility in the Givetian stage;
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/proekty_CCUS-6.png", alt="")
					.dmpage-text.dmpage-text--small Dynamics of CO2 distribution in the reservoir 
					.dmpage-text
						ul 
							li
								p The process flow design for CO2 injection was developed and disposal costs were estimated; 
							li
								p PJSC TATNEFT has been granted a license by the Federal Agency for Subsoil Use of the Russian Federation and a positive opinion of the Federal State Public Institution "Russian Geological Expertise (Rosgeolekspertiza)" No. 469-02-04/2022 dated 28.12.2022. “Project documentation for geological exploration and assessment of the suitability of the Tukaevsky subsoil area (Nizhnekamsky, Tukaevsky, Zainsky districts of the Republic of Tatarstan) for the construction and exploitation of underground facilities, not related to mining, to place carbon dioxide in rock strata”. This type of subsoil use will allow to plan and carry out field work at the site to determine the possibility of carbon dioxide placement in the rock strata.
						p The Company is looking into:
						ul 
							li implementation of the Research Work Program at the exploration stage, in line with the subsoil exploration project;
							li defending the project of industrial injection of greenhouse gases to the Federal Agency for Mineral Resources of the Russian Federation.
						p The company focuses not only on CO2 disposal projects, but also on its beneficial use. TatNIPIneft Institute in collaboration with the Siberian Branch of the Russian Academy of Sciences, the Zelinsky Institute of Organic Chemistry, Kazan National Research Technological University are developing technologies for carbon dioxide processing to produce useful products.  
						p The company is constantly broadening the cooperation and experience exchange regarding the implementation of CCUS projects.
