extends ../../layouts/default

block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Looking for a carbon footprint

			h1.dmpage-h1 Looking for a carbon footprint

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_20_10_23/ESG-projects.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/esg-projects.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/esg-projects.html") To the beginning of the section
						a.dmpage-menu-item(href="ccus-projects.html") Сcus projects
						a.dmpage-menu-item(href="green-office-project.html") Green office project
						a.dmpage-menu-item(href="the-green-gold-of-tatneft.html") The green gold of tatneft
						a.dmpage-menu-item(href="not-only-clean-air.html") Not only clean air
						a.dmpage-menu-item(href="tatneft-sdg-envoys.html") Tatneft sdg envoys
						a.dmpage-menu-item(href="school-biolabs.html") School biolabs
						a.dmpage-menu-item.dmpage-menu-item--active(href="looking-for-a-carbon-footprint.html") Looking for a carbon footprint
						a.dmpage-menu-item(href="olympiad-for-young-geologists.html") Olympiad for young geologists
						a.dmpage-menu-item(href="aktyuba-energy-efficient-settlement.html") Aktyuba energy efficient settlement

			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						p 
							b The educational research “In Search of Carbon Footprint” is a joint project of TATNEFT and the All-Russian Educational Initiative “Image. of the Future”  
							|  curated by  
							b the Youth Council under the Ministry of Energy of the Russian Federation. 
							|  2650 students and 159 teachers from 7 districts of the Republic of Tatarstan took part in the project.
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/v_poiskah_uglerodnogo_sleda_1.jpeg", alt="")
						p There is a set of materials developed specifically for the educational research – 10 research suitcases of different colors and with different research topics (walking, going to school, hobbies, sleeping, etc.). They allow students to understand the greenhouse effect and try to minimize their carbon footprint everyday. Starting with brushing their teeth in the morning and turning off electrical appliances before going to bed.
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/v_poiskah_uglerodnogo_sleda_2.jpeg", alt="")
						p Students make a comparative calculation on their own and see what would happen if they started to save water, for example. The idea of “carbon footprint” is introduced to the children in real numbers, and they learn to compare, draw conclusions and make decisions. 
						p A virtual assistant bot helps with the calculations, giving thorough comments and helping to assess the student's own contribution to reducing the carbon footprint.
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/v_poiskah_uglerodnogo_sleda_3.jpeg", alt="")
						p The project helps students to realize their role in nature preservation, to become authors of positive changes, to instill useful eco habits through practice. 