extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Not only clean air

			h1.dmpage-h1 Not only clean air

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/esg-proekty.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/esg-proekty.html") К началу раздела
						a.dmpage-menu-item(href="proekty-ccus.html") Проекты CCUS
						a.dmpage-menu-item(href="proekt-zelenyj-ofis.html") Проект «Зеленый офис»
						a.dmpage-menu-item(href="zelenoe-zoloto-tatnefti.html") Зеленое золото Татнефти
						a.dmpage-menu-item.dmpage-menu-item--active(href="ne-tolko-chistyj-vozduh.html") Не только чистый воздух
						a.dmpage-menu-item(href="poslanniki-cur-tatnefti.html") Посланники ЦУР Татнефти
						a.dmpage-menu-item(href="shkolnye-biolaboratorii.html") Школьные биолаборатории
						a.dmpage-menu-item(href="v-poiskah-uglerodnogo-sleda.html") В поисках углеродного следа
						a.dmpage-menu-item(href="olimpiada-yunyh-geologov.html") Олимпиада юных геологов
						a.dmpage-menu-item(href="energoeffektivnoe-poselenie-aktyuba.html") Энергоэффективное поселение Актюба
			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						p To achieve these big goals, the Company launched several major projects under the supervision of TATNEFT’s top managers. Tree planting is one of them. The Company has been engaged in tree and shrub planting since 2000. Since 2013, a continuous “Forest from Gas Stations” program has been implemented, according to which a portion of the proceeds from fuel sales is used to purchase tree seedlings. In recent years, the Company has expanded significantly its “forest” programs. Since 2013, oilworkers have planted more than 20 million trees, over the past two years more than 10 million — mostly conifers. All seedlings were grown in the breeding center of the Sabinsky forestry enterprise which has been an active cooperation partner for TATNEFT for several years.  
						p Planting is carried out using automatic seeders at the rate of 3,800 seedlings per hectare. All seedlings were grown in the breeding center of the Sabinsky forestry enterprise which has been an active cooperation partner for TATNEFT for several years.
						p Since 2020, 8 school biolaboratories have also been included in the tree program, providing more than 120 thousand triploid aspen seedlings for planting every year.  
						p Ecologists estimate that a hectare of pine forest absorbs approximately 1.5 tonnes of CO2 per year. But new forests not only provide clean air, but also contribute to an increase in the number of other plants and serve as a habitat for animals, including rare species. Trees become an excellent buffer zone protecting people from road noise in places with developed transport infrastructure.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/zelenoe_zoloto_-_2.jpg", alt="")
