extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Olympiad for young geologists

			h1.dmpage-h1 Olympiad for young geologists

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/esg-projects.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/esg-projects.html") To the beginning of the section
						a.dmpage-menu-item(href="ccus-projects.html") Сcus projects
						a.dmpage-menu-item(href="green-office-project.html") Green office project
						a.dmpage-menu-item(href="the-green-gold-of-tatneft.html") The green gold of tatneft
						a.dmpage-menu-item(href="not-only-clean-air.html") Not only clean air
						a.dmpage-menu-item(href="tatneft-sdg-envoys.html") Tatneft sdg envoys
						a.dmpage-menu-item(href="school-biolabs.html") School biolabs
						a.dmpage-menu-item(href="looking-for-a-carbon-footprint.html") Looking for a carbon footprint
						a.dmpage-menu-item.dmpage-menu-item--active(href="olympiad-for-young-geologists.html") olympiad for young geologists
						a.dmpage-menu-item(href="aktyuba-energy-efficient-settlement.html") Aktyuba energy efficient settlement

			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/olimpiada_1.jpeg", alt="")
						p For the first time, the Republican Field Olympiad of Young Geologists was held in 2014 under the initiative of the President of Tatarstan and with the support of the TATNEFT Company. The first and second Olympiads were held at Zarechye children's health camp. The purpose of the meeting between young researchers of subsurface resources is to raise interest in geology as a science, help schoolchildren to choose a university and a profession, and in the long term – to produce high-class geologists. The Olympiad achieves its goal: many boys and girls have chosen this science as their profession, graduated from geological faculties and are successfully working in the field.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/olimpiada_2.jpeg", alt="")
						p The Almetyevsky District has been the permanent location of the Olympiad since 2016. Annually, the Olympiad is hosted by TATNEFT children's health camps. The Company is a co-organizer and the main sponsor of the forum. Its health camps have everything to provide comfortable accommodation for children and teachers. Apart from that, the landscape features of the oil capital's suburbs allow to efficiently fulfill all field assignments.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/olimpiada_3.jpeg", alt="")
						p The number of Olympiad participants grows every year. In 2023, there were 33 teams, about 300 high school students, who came to the traditional week-long forum. Mostly, they are schoolchildren from Tatarstan, but there are also teams from Russia and neighboring countries. The core of the Tatarstan teams is made up of children who go to geological clubs that function across cities and towns of the republic. About 400 children study in the clubs under the guidance of experienced teachers. Then talented kids, who are passionate about geology, successfully represent Tatarstan at different levels of national contests.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/olimpiada_4.jpeg", alt="")
						p The geological Olympiad's program is quite packed. There are both classes and field studies. One of the main and most challenging stages is the geological route. It includes route guidance, description of rock exposures, selection and packing of samples, and identification of minerals. Participants also demonstrate their skills and abilities in such contest tasks as “Magnetometry”, “Radiometry”, “Hydrology”, “Oil and Gas” and so on. 
						p Apart from training and contest topics, there are other activities available for children. For example, sports activities, creative evenings, parties, master classes, meetings with interesting people. The Olympics also means socializing. It is such events that lay the foundation for the famous geological brotherhood, mutual support and common interests.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/olimpiada_5.jpeg", alt="")
						p The young geologists' movement in Tatarstan is almost half a century old. Its story began in the 50s of the 20th century after large-scale geological expeditions, enticing people with their romantic spirit. The first all-Union meeting of young geologists took place in 1966 in Zlatoust, on the territory of the Ilmensky Reserve. Later these meetings became traditional in the Soviet Union until the turbulent 90s came. Afterwards, the movement was restored with a fresh energy.
						p Tatarstan's capital hosted the IX All-Russian Open Field Olympiad in August 2013, bringing together 40 teams from Russia, Kazakhstan, Belarus and Tajikistan.
						p In 2023, the All-Russian Open Field Olympiad of Young Geologists will once again be held on Tatarstan soil – in Almetyevsk.