extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div School biolabs

			h1.dmpage-h1 School biolabs

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/esg-projects.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/esg-projects.html") To the beginning of the section
						a.dmpage-menu-item(href="ccus-projects.html") Сcus projects
						a.dmpage-menu-item(href="green-office-project.html") Green office project
						a.dmpage-menu-item(href="the-green-gold-of-tatneft.html") The green gold of tatneft
						a.dmpage-menu-item(href="not-only-clean-air.html") Not only clean air
						a.dmpage-menu-item(href="tatneft-sdg-envoys.html") Tatneft sdg envoys
						a.dmpage-menu-item.dmpage-menu-item--active(href="school-biolabs.html") School biolabs
						a.dmpage-menu-item(href="looking-for-a-carbon-footprint.html") Looking for a carbon footprint
						a.dmpage-menu-item(href="olympiad-for-young-geologists.html") olympiad for young geologists
						a.dmpage-menu-item(href="aktyuba-energy-efficient-settlement.html") Aktyuba energy efficient settlement

			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						p The “School Biolabs” program solves several goals at once: it allows bringing nature back to cities, restores and maintains biodiversity, and nurtures in schoolchildren the ecothinking that is important to preserve a sustainable future.


						video(controls preload="none" poster="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image53.jpg")
							source(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/prilozhenie_12/prilozhenie_12.1_video_o_shkolnyh_laboratorijah.mp4" type="video/mp4")
					


						p Schools of this oil region are with Tatneft-funded biology classrooms with laboratories. There students are doing research and practical activities: growing seedlings of various plants by in-vitro vegetative propagation.
						p The "School Biolaboratories" program has been going on since 2019. During this time, 8 school biolabs have been opened in Almetyevsk, Aznakaevsk and Leninogorsk districts of Tatarstan, about 300 schoolchildren and more than 30 teachers take part in the project, on average 100-120 thousand seedlings are prepared annually by school laboratories for planting.
						p The school biology classroom is an educational complex that includes a classroom with interactive whiteboards, other necessary equipment, and two laboratories. One of them is designed for practical training of students from 5th to 11th grades. One can held practical classes as part of the educational program, and to take part in extracurricular project and research activities. Working in the laboratory should spark children's interest in biology, teaching them to work independently, research, analyze, and draw conclusions. 
						p The task of the second lab is to microclone plants. The main room of the biolab is a sterile laminar box. There the biomaterial is cut and placed in nutrient solution — a jelly-like mass based on agar-agar algae with the addition of micro- and macrosalts, vitamins, hormones.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/biolaboratorii_1.jpg", alt="")
						p The main culture grown by schoolchildren today is triploid aspen. This tree grows very fast, is resistant to rot, productive, absorbs 2.5 times more CO2, and lives for almost 250 years. The company acquires saplings for its landscaping program, and moreover, triploid aspen trees that were grown by schoolchildren are already being planted in neighborhoods, green public areas, and school gardens in the cities of southeastern Tatarstan.
						p The School Labs project is important because it brings to life several Sustainable Development Goals at once. Firstly, education in these classes encourages interest in biology, love for nature and a sense of environmental responsibility, and the acquired knowledge inspires children to become architects of living systems, urban ecologists, biopharmacologists, GMO-agronomists and other professionals of the future (SDG 4 "Quality Education"). Secondly, thanks to trees, shrubs and grasses that have been grown and planted, ecological climate of cities improves, they become cleaner and more welcoming. This creates better living conditions (SDG 11 “Sustainable Cities and Human Settlements”). Thirdly, when we plant different types of healthy plants, we restore and maintain natural natural systems (SDG 15 "Conservation of Terrestrial Ecosystems"). Finally, landscaping cities and planting seedlings in unused areas where they will later become forests is a compensation for greenhouse gas emissions and a way to reduce our carbon footprint (SDG 13 “Combat Climate Change”).
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/biolaboratorii_2.jpeg", alt="")