extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div TATNEFT SDG envoys

			h1.dmpage-h1 TATNEFT SDG envoys

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/esg-proekty.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/esg-proekty.html") К началу раздела
						a.dmpage-menu-item(href="proekty-ccus.html") Проекты CCUS
						a.dmpage-menu-item(href="proekt-zelenyj-ofis.html") Проект «Зеленый офис»
						a.dmpage-menu-item(href="zelenoe-zoloto-tatnefti.html") Зеленое золото Татнефти
						a.dmpage-menu-item(href="ne-tolko-chistyj-vozduh.html") Не только чистый воздух
						a.dmpage-menu-item.dmpage-menu-item--active(href="poslanniki-cur-tatnefti.html") Посланники ЦУР Татнефти
						a.dmpage-menu-item(href="shkolnye-biolaboratorii.html") Школьные биолаборатории
						a.dmpage-menu-item(href="v-poiskah-uglerodnogo-sleda.html") В поисках углеродного следа
						a.dmpage-menu-item(href="olimpiada-yunyh-geologov.html") Олимпиада юных геологов
						a.dmpage-menu-item(href="energoeffektivnoe-poselenie-aktyuba.html") Энергоэффективное поселение Актюба

			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						p The global community is facing a series of simultaneous crises that threaten the very survival of humankind. All of these crises — and ways to prevent and overcome them — are being dealt with comprehensively in the framework of the Sustainable Development Goals (SDGs).
						p The SDGs are a set of 17 interrelated goals developed by the United Nations (UN) General Assembly as a “blueprint for achieving a better and more sustainable future for all”. They include all the elements for the prosperous existence of humanity on the planet now and in the future. That is why their realization is important to each of us and everyone should know of these goals.
						p Starting from 2020, TATNEFT Company has been running the project TATNEFT's SDG Envoys aimed at shaping the worldview of mindful behavior (rationality, frugality, awareness), development of energy efficiency and energy saving culture.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/poslanniki_cur-1.jpg", alt="")
						p As part of the TATNEFT SDG Envoys project, lectures “The Most Important Lesson in the World” are being held. They are aimed at:
						ul 
							li environmental education of students,
							li instilling in the residents of the Republic of Tatarstan a mindful nature and environmental protection behavior.
						p During the lecture, volunteers tell students about the Sustainable Development Goals as extracurricular lessons. The lecture promotes respect for nature, responsible use of water resources, and teaches students about important principles of social communication.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/poslanniki_cur-2.jpg", alt="")
						p The relevance of the project is that it will help the people of the Russian Federation learn about the SDGs. This will strengthen and expand the SDG community and create a sustainable ecofriendly image of the SDGs, increase the level of SDG awareness, as well as engage people and make them directly involved in the achievement of the SDGs, and increase the coverage of the environmental awareness of the Russian citizens.
						p The project TATNEFT's SDG Envoys meets the goals of the national project “Education” (Federal project “Social Activity”). Thanks to the project implementation, residents of the Russian Federation will be involved in volunteer activities.
						p The project covers different age audiences (children — students, youth — volunteers among the employees of TATNEFT Group and students of the State Budgetary Educational Institution of Higher Professional Education “Almetyevsk State Oil Institute”, adults (parents of schoolchildren, residents of the Russian Federation) and forms a certain community supporting the ideas of SDGs.
						p By 31.12.2022, about 80 thousand children from over 1000 schools of the Republic of Tatarstan were trained under the program, about 650 lessons were held, 60 young employees of the TATNEFT Group and 20 students were chosen as volunteers to broadcast the Sustainable Development Goals.
						p By 2030, it is planned to cover 500,000 people in the Russian Federation with the TATNEFT SDG Envoys program on sustainable development and involve 500 volunteers in the program.