extends ../../layouts/default



block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div The green gold of TATNEFT

			h1.dmpage-h1 The green gold of TATNEFT

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/esg-projects.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/esg-projects.html") To the beginning of the section
						a.dmpage-menu-item(href="ccus-projects.html") Сcus projects
						a.dmpage-menu-item(href="green-office-project.html") Green office project
						a.dmpage-menu-item.dmpage-menu-item--active(href="the-green-gold-of-tatneft.html") The green gold of tatneft
						a.dmpage-menu-item(href="not-only-clean-air.html") Not only clean air
						a.dmpage-menu-item(href="tatneft-sdg-envoys.html") Tatneft sdg envoys
						a.dmpage-menu-item(href="school-biolabs.html") School biolabs
						a.dmpage-menu-item(href="looking-for-a-carbon-footprint.html") Looking for a carbon footprint
						a.dmpage-menu-item(href="olympiad-for-young-geologists.html") olympiad for young geologists
						a.dmpage-menu-item(href="aktyuba-energy-efficient-settlement.html") Aktyuba energy efficient settlement

			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						p In 2019, TATNEFT joined the UN Global Compact. The Company supports all 17 Sustainable Development Goals (SDGs), and ten of them are named as priorities: “Good Health and Well-Being,” “Quality Education,” “Affordable and Clean Energy,” “Industry, Innovation, and Infrastructure,” “Sustainable Cities and Communities,” “Partnerships for the Goals,” “Climate Action,” “Clean Water and Sanitation,” “Life on Land,” “Responsible Consumption and Production.” 
						p TATNEFT has announced the goal of becoming completely carbon-neutral by 2050. The carbon intensity index should decrease from the baseline by 14% by 2025 and by 30% by 2030.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/zelenoe_zoloto_1.jpeg", alt="")