extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Achievement of SDG 12 targets

			h1.dmpage-h1 Achievement of SDG 12 targets

		.dmpage
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/ecology/waste-management.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/ecology/waste-management.html") To the beginning of the section
						a.dmpage-menu-item(href="performance-indicators.html") Performance indicators
						a.dmpage-menu-item.dmpage-menu-item--active(href="achievement-of-sdg-12-targets.html") Achievement of sdg 12 targets


			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						p The Company develops a model of rational consumption and a circular economy based on a careful attitude to the consumption and distribution of all resource types (natural, human, financial), applies methods for assessing the effectiveness of resource management, takes into account the resource potential of production processes along the entire value chain and life cycle of products and services.  
						p This makes it possible to reduce the environmental intensity of economic growth with an increase in the efficiency of production processes and preserve natural resources for future generations.
						p As part of the implementation of SDG 12, goals have been set until 2030 aimed at ensuring responsible and efficient consumption of resources and sustainable means of production.
						p For 2022, a target indicator of the share of waste sent for disposal and reuse of the total volume of waste has been set for the TATNEFT Group enterprises - 64.8%.
						p To reduce technological losses, a target of 13.6% was set for 2022. The target indicator for the TATNEFT Group was achieved ahead of schedule, technological losses were reduced by 35.21% in comparison with the base year 2020.

						h3 SHARE OF WASTE SENT FOR DISPOSAL AND REUSE, % 
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image40.jpg", alt="")
						p The share of waste sent for disposal and reuse from the total volume of waste has increased, including due to the inclusion of new enterprises in the TATNEFT Group.
						h2 Increase in the share of recycled and reused waste up to 50% by 2025, up to 70% by 2030
						h3 TARGET ACHIEVEMENT RESULTS, %
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image49.jpg", alt="")
						h3 TARGET ACHIEVEMENT RESULTS, %
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image43.jpg", alt="")
						h2 Projects to implement circular economy and responsible consumption
						ul 
							li Construction of a gas turbine plant at Nizhnekamsk CHP - as a result of modernization, the installed capacity of the station will increase, and the transition to combined-cycle technology will reduce the cost of electricity generated. The construction is scheduled to be completed in 2024.
							li Pyrolysis of woody biomass to produce bio-oil (fuel component) and bio-char (agricultural fertilizer).
							li Reconstruction of a cryogenic unit for deep conversion of dry stripped gas to produce new products.
							li Development and testing of pyrolysis of rubber chips, plants for the production of rubber modified bitumen, installations for the hydroconversion of heavy oil residues.
							li The secondary use of reinforced concrete, the secondary use of waste paper, used vegetable and motor oil, PET bottles, used tires, processing of technological waste of fiberglass and the production of new types of marketable products.
							li During the school years, campaigns to collect PET bottles, polyethylene and polypropylene were organized in schools of Almetyevsk, schools and kindergartens of Aktubinsky settlement, Malbagush village of Aznakaevsky district. More than 7.7 thousand tonnes of recyclable materials were collected. The Company provided 249 containers for the collection of recyclable materials.
							li Circular forest is a project on growing planting stock in a greenhouse with subsequent planting in a forest. The wood obtained from grown trees is processed for biofuel. Both heat and carbon dioxide obtained from the processing will be used in the greenhouses to grow more planting stock.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image36.jpg", alt="")