extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Performance indicators

			h1.dmpage-h1 Performance indicators

		.dmpage
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/ecology/waste-management.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/ecology/waste-management.html") To the beginning of the section
						a.dmpage-menu-item.dmpage-menu-item--active(href="performance-indicators.html") Performance indicators
						a.dmpage-menu-item(href="achievement-of-sdg-12-targets.html") Achievement of sdg 12 targets


						

			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						p One of the environmental priorities of the TATNEFT Group is the reduction of environmental footprint through reduced production and consumption waste generation and increasing the share of recyclable waste. The Company has implemented the best available technologies, established a comprehensive system of selective accumulation, collection, and disposal of production and consumption wastes and using them as a raw material to produce marketable products.
 
						p The TATNEFT Group enterprises dispose of 47 types of hazardous waste, including oily waste. When selecting contractors to provide waste management services, the Company takes into account the amount of adverse environmental impact from the use of technology (waste management operation, the amount of pollutant emissions into the atmosphere and the amount of greenhouse gases per unit of recycled waste, etc.). 
						p In 2022, 307,001,000 tonnes of waste were generated at the enterprises of the TATNEFT Group. The amount of waste generated in 2022 increased by 40.8% y-o-y due to changes in the composition of the TATNEFT Group.
						h3 WASTE MANAGEMENT, THOUSAND TONNES
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image31.jpg", alt="")
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image30.jpg", alt="")
						p In the course of production activities at enterprises, in accordance with licenses for the right to handle waste, collection, transportation, processing, disposal, neutralization, placement of waste of hazard classes I – IV are implemented.
						p The amount of waste as of the beginning and end of each reporting year (waste remaining in accumulation) depends on the organization of the production process of processing the resulting waste. 
						p The presence of waste at the beginning of the year is 123,717,000 tonnes. During the reporting period, a partial liquidation of the sludge accumulator (Nizhnekamsk CHP LLC) was carried out. 
						p The total volume of processing (utilization) of the sludge accumulator amounted to 82,100 tonnes (LLC Nizhnekamsk CHP). Received waste from other economic entities-20,400 tonnes. Presence of waste at the end of the year is 43,300 tonnes.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image32.jpg", alt="")
						p In 2022, waste of hazard class 1-4 was formed – 66.3% (203,519 tonnes), hazard class 5 – 33.707% (103,482 tonnes). The data collection methodology complies with the rules for the formation of state statistical reporting in Form No. 2-TP (waste).
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/from_en/image33.jpg", alt="")
					.dmpage-table-section
						h3.dmpage-table-title.dmpage-table-title--small-w WASTE MANAGEMENT BY BUSINESS AREAS, THOUSAND TONNES

						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								thead
									tr
										th(rowspan='2' ) Business area
										th(colspan='3' ) Generated
										th(colspan='3' ) Disposed of <br> and treated
										th(colspan='3' ) Sent for dumping <br> and neutralization
									tr.dmpage-table__tr--with-border

										td 2020
										td 2021
										td 2022
										td 2020
										td 2021
										td 2022
										td 2020
										td 2021
										td 2022
								tbody
									tr
										td Exploration and production
										td 33,4
										td 58,8
										td 73,8
										td 24,4
										td 44,9
										td 60,11
										td 10,5
										td 14,7
										td 18,6
									tr
										td Workover and Drilling*
										td -
										td -
										td 92,9
										td -
										td -
										td 91,69 
										td -
										td -
										td 1,2
									tr
										td Machine engineering
										td 16,1 
										td 17
										td 44,4
										td 46,5
										td 34,3
										td 54,87
										td 1,5
										td 1,8
										td 4,8
									tr
										td Oil and gas processing
										td 15,32 
										td 17,8
										td 14,2
										td 10
										td 14,6
										td 11,49
										td 4,9 
										td 4,5
										td 3,5
									tr
										td Retail business
										td 25
										td 24,8
										td 29,7
										td 0,3
										td 0,4
										td 1,50
										td 24,1
										td 24,5
										td 28,3
									tr
										td Tire business
										td 36
										td 25,6
										td -
										td 19,2
										td 17,6 
										td -
										td 24,3
										td 15,5
										td -
									tr
										td Composite materials
										td 3,4
										td 4,6
										td 3,8
										td 1 
										td 0,5
										td 0,57
										td 2,4
										td 4
										td 3,3
									tr
										td Power generation
										td 3,3
										td 2,9
										td 3,5
										td 1,7
										td 1,1
										td 82,37
										td 0,4
										td 0,4
										td 0,6
									tr
										td Trading and logistics
										td 0
										td 0,012 
										td 0
										td 0
										td 0
										td 0
										td 0
										td 0,011
										td 0
									tr
										td Social development
										td 0,08
										td 1,1 
										td 2,5
										td 0
										td 0,1
										td 0,18
										td 0,08
										td 1
										td 2,3
									tr
										td Digital development
										td 0,00
										td 0,08
										td 0,4
										td 0
										td 0
										td 0,01
										td 0
										td 0,08
										td 0,4
									tr
										td Other enterprises of the Group
										td 70
										td 53,9 
										td 30,60
										td 69,2
										td 48,07
										td 21,47
										td 0,7
										td 5,9
										td 9,1
									tr
										td Petrochemicals
										td 10,5
										td 11,3
										td 11,2
										td 1,6
										td 2
										td 2,16
										td 8,9
										td 10,1
										td 9,6
									tr
										td Exploration**
										td 5,9
										td 0
										td 0
										td 5,7
										td 0
										td 0
										td 0,1
										td 0
										td 0
									tr
										td Total
										td 218,8
										td 218,0
										td 307,0
										td 179,6
										td 163,6
										td 326,4 
										td 77,8 
										td 82,5
										td 81,7
					.dmpage-text.dmpage-text--small * The "Workover and Drilling" business unit became part of the TATNEFT Group in 2022
					.dmpage-text.dmpage-text--small **Due to the reorganization of the Company's structure in 2021, the waste indicators of the "Exploration" business area are included in the "Exploration and Production" business area.
					.dmpage-table-section
						h3.dmpage-table-title.dmpage-table-title--small-w WASTE MANAGEMENT (RECYCLING, TREATMENT), THOUSAND TONNES

						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								thead
									tr
										th Waste management type 
										th(colspan='3')
											p On the territory of the enterprises of the Group 
										th(colspan='3') Outside the enterprises of the Group 
										th(colspan='3') Total
									tr.dmpage-table__tr--with-border

										td
										td 2020
										td 2021
										td 2022
										td 2020
										td 2021
										td 2022
										td 2020
										td 2021
										td 2022
								tbody
									tr.dmpage-table__tr--with-border
										td(colspan='10')
											p hazardous waste
									tr
										td
											p disposed
										td
											p 3,8
										td
											p 5,2
										td
											p 7,39
										td
											p 37,9
										td
											p 49,7
										td
											p 143,25
										td
											p 41.7
										td
											p 54,9
										td
											p 150,64
									tr
										td
											p processed
										td
											p 0
										td
											p 0
										td
											p 0
										td
											p 0,007
										td
											p 0,077
										td
											p 0.23
										td
											p 0,007
										td
											p 0,077
										td
											p 0,23
									tr.dmpage-table__tr--with-border
										td
											p Total
										td
											p 3,8
										td
											p 5,2
										td
											p 7,39
										td
											p 38,0
										td
											p 49,8
										td
											p 143,48
										td
											p 41,8
										td
											p 55
										td
											p 150,87
									tr.dmpage-table__tr--with-border
										td(colspan='10')
											p non-hazardous waste
									tr
										td
											p disposed
										td
											p 34,7
										td
											p 37,5
										td
											p 39,31
										td
											p 103,1
										td
											p 70,7
										td
											p 135,77
										td
											p 137,8
										td
											p 108,2
										td
											p 175,08
									tr
										td
											p processed
										td
											p 0
										td
											p 0
										td
											p 0
										td
											p 0,04
										td
											p 0,4
										td
											p 0,47
										td
											p 0,04
										td
											p 0,4
										td
											p 0,47
									tr
										td
											p Total
										td
											p 34,7
										td
											p 37,5
										td
											p 39,31
										td
											p 103,1
										td
											p 71,1
										td
											p 136,24
										td
											p 137,8
										td
											p 108,6
										td
											p 175,55
					
					.dmpage-table-section
						h3.dmpage-table-title WASTE MANAGEMENT (NEUTRALIZATION, DUMPING), THOUSAND TONNES
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other(span=3)
									
								thead 
									tr
										th Waste management types 
										th(colspan='3')
											p On the territory of the enterprises of the Group 
										th(colspan='3') Outside the enterprises of the Group 
										th(colspan='3') Total

									tr.dmpage-table__tr--with-border

										td
										td 2020
										td 2021
										td 2022
										td 2020
										td 2021
										td 2022
										td 2020
										td 2021
										td 2022
							
								tbody 
									tr.dmpage-table__tr--with-border
										td(colspan='10')
											p hazardous waste	
									tr
										td
											p neutralization
										td
											p 3,3
										td
											p 3
										td
											p 0
										td
											p 19,8
										td
											p 20,8
										td
											p 27,57
										td
											p 23,1
										td
											p 23,8
										td
											p 27,57
									tr
										td
											p including incineration
										td
											p 3,3
										td
											p 3
										td
											p 0
										td
											p 7,2
										td
											p 5,9
										td
											p 0.16
										td
											p 10,5
										td
											p 8,9
										td
											p 0,16
									tr
										td
											p - with energy generation
										td
											p 3,3
										td
											p 3
										td
											p 0
										td
											p 0
										td
											p 0
										td
											p 0
										td
											p 3,3
										td
											p 3
										td
											p 0
									tr
										td
											p - without energy generation
										td
											p 0
										td
											p 0
										td
											p 0
										td
											p 7,2
										td
											p 5,9
										td
											p 0.16
										td
											p 7,2
										td
											p 5,9
										td
											p 0,16
									tr
										td
											p dumping (except for MSW - municipal solid waste)
										td
											p 15,8
										td
											p 12,2
										td
											p 7,11
										td
											p 14,7
										td
											p 16,6
										td
											p 16,03
										td
											p 30,5
										td
											p 28.8
										td
											p 23,14
									tr
										td
											p Transfer of MSW to a regional operator
										td
											p 0
										td
											p 0
										td
											p 0
										td
											p 4.6
										td
											p 6.6
										td
											p 8.12
										td
											p 4.6
										td
											p 6.6
										td
											p 8,12
									tr.dmpage-table__tr--with-border
										td
											p Total
										td
											p 19,1
										td
											p 15,2
										td
											p 7,11
										td
											p 39,1
										td
											p 44,0
										td
											p 51,72
										td
											p 58,2
										td
											p 59,2
										td
											p 58,83
									tr.dmpage-table__tr--with-border
										td(colspan='10' )
											p non-hazardous waste
									tr
										td()
											p neutralization
										td()
											p 0.9
										td()
											p 0.9
										td()
											p 0
										td()
											p 0.8
										td()
											p 0.7
										td()
											p 0.01
										td()
											p 1.7
										td()
											p 1.6
										td()
											p 0.01
									tr
										td()
											p including incineration
										td()
											p 0.9
										td()
											p 0.9
										td()
											p 0
										td()
											p 0
										td()
											p 0
										td()
											p 0
										td()
											p 0.9
										td()
											p 0.9
										td()
											p 0
									tr
										td()
											p  - with energy generation
										td()
											p 0.9
										td()
											p 0.9
										td()
											p 0
										td()
											p 0
										td()
											p 0
										td()
											p 0
										td()
											p 0.9
										td()
											p 0.9
										td()
											p 0
									tr
										td()
											p - without energy generation
										td()
											p 0
										td()
											p 0
										td()
											p 0
										td()
											p 0
										td()
											p 0.7
										td()
											p 0
										td()
											p 0
										td()
											p 0.7
										td()
											p 0
									tr
										td()
											p dumping (except for MSW - municipal solid waste)
										td()
											p 4.4
										td()
											p 0.8
										td()
											p 0
										td()
											p 7
										td()
											p 13.4
										td()
											p 15,10
										td()
											p 11.4
										td()
											p 14.2
										td()
											p 15,10
									tr
										td()
											p transfer of MSW to a regional operator
										td()
											p 0
										td()
											p 0
										td()
											p 0
										td()
											p 6.5
										td()
											p 7.5
										td()
											p 7.76
										td()
											p 6.5
										td()
											p 7.5
										td()
											p 7.76
									tr
										td()
											p Total
										td()
											p 5,3
										td()
											p 1,7
										td()
											p 0
										td()
											p 14,3
										td()
											p 21,6
										td()
											p 22,87
										td()
											p 19,6
										td()
											p 23,3
										td()
											p 22,87
					.dmpage-text
						p JSC Taneco operates a specialized landfill for dumping waste products. The existing impervious screen made of a geosynthetic membrane (HDPE) excludes biological and chemical contamination of the adjacent territories, groundwater, and ensures the collection of leachate for its subsequent transportation to the treatment facilities. Waste placed in this way can be recovered for disposal when new recycling technologies become available.
						h2 DRILLING WASTE MANAGEMENT
						p Enterprises of the TATNEFT Group have formed and processed 94,997 tonnes of drilling waste. All waste generated during well drilling by contractors is the property of the Contractor according to the contractual terms and conditions. The Company has established a system for accounting and monitoring the movement of waste generated during drilling by contractors, as well as a system for compensating their costs for the disposal of drilling waste.
