style.
	.dmpage-quote__link{
		background-image: url(https://www.tatneft.ru/uploads/publications/649d2b56eac3b713712035.svg);
	}

	.dmpage-accordion-head::after {
		background-image: url(https://www.tatneft.ru/uploads/publications/649d2abfbcfd4667312717.svg);
	}

.dmpage-art-1
	img(src="https://www.tatneft.ru/uploads/publications/649d257e4a26c774425757.svg", alt="")
.dmpage-art-2
	img(src="https://www.tatneft.ru/uploads/publications/649d2592d6724357128070.svg", alt="")