extends layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Сохранение биоразнообразия


			h1.dmpage-h1 Сохранение биоразнообразия


		.dmpage
			include ./partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya.html") К началу раздела
						a.dmpage-menu-item(href="obekty-prirodno-zapovednogo-fonda-regiona-proizvodstvennoj-deyatelnosti-pao-tatneft.html") Объекты природно-заповедного фонда региона производственной деятельности ПАО «Татнефть»
						a.dmpage-menu-item(href="ne-tolko-chistyj-vozduh.html") Не только чистый воздух
						

			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p Одним из приоритетных направлений в области устойчивого развития Компании является минимизация воздействия на окружающую среду. 
						p Компания обеспечивает снижение техногенной нагрузки на природную среду экосистем, поддерживает благоприятные условия жизни на территориях своей деятельности, улучшая экологические показатели, и предпринимает меры по восстановлению экосистемы до уровня потенциала самовосстановления, включая защиту и сохранение биоразнообразия.
						p Компания взяла на себя следующие обязательства в области сохранения биоразнообразия:
						ul 
							li снижение существенного воздействия деятельности, продукции и услуг Компании на биоразнообразие охраняемых природных территорий и территорий с высокой ценностью биоразнообразия вне границ охраняемых природных территорий
							li сохранение и восстановление биоразнообразия, мест обитания, путей миграции животных и компенсация возможного вреда окружающей среде
							li снижение и недопущение фрагментации природных ландшафтов, снижение площадей нарушенных территорий
							li сведение к минимуму проведение работ на особо охраняемых природных территориях и в их охранных зонах, на объектах Всемирного природного наследия
						p 
							b Регулирующие внутренние документы:
						ul 
							li Политика в области устойчивого развития и взаимодействия с заинтересованными сторонами
							li Политика ПАО «Татнефть» им. В.Д. Шашина в области промышленной безопасности, охраны труда и окружающей среды с учетом изменения климата
							li Стандарт «Управление охраной земельных и лесных ресурсов, биоразнообразием, особо охраняемыми природными территориями» (введен впервые)
							li Положение об охране и рациональном использовании земельных и лесных ресурсов
						p Компания относится к любым природным территориям в местах своего присутствия как к заповедным и ежегодно усиливает работу по сохранению биоразнообразия.
						p В Компании действует Программа по сохранению биологического разнообразия. Целью Программы по сохранению биоразнообразия является сохранение на территориях деятельности разнообразия природных биосистем на уровне, обеспечивающем их устойчивое существование и неистощительное использование. Для достижения поставленной цели разработан комплекс мероприятий, который является неотъемлемой частью Экологической программы.
						p 
							b Система идентификации экологических аспектов
						p Интегрированная система менеджмента Компании предусматривает систему идентификации экологических аспектов, позволяющую определить области воздействия на биоразнообразие, которые необходимо контролировать или улучшать, а также устанавливать приоритеты в действиях.
						p Результаты идентификации опасностей и оценки рисков экологических аспектов Компании, являются исходными данными для разработки мероприятий по сохранению биоразнообразия и формирования соответствующих программ.
						p Основные виды воздействия Компании на биоразнообразие:
						ul 
							li угнетение флоры и фауны при длительном загрязнении воздуха, физическом воздействии
							li воздействие на немобильные группы живых организмов в период строительства нефтяных объектов
							li фрагментация ландшафтов, вследствие строительства дорожной сети, трубопроводов
							li гибель микро- и мезофауны, флоры, деградация почв в результате аварийных разливов нефти на рельеф местности
						p Основными объектами Программы сохранения биоразнообразия являются:
						ul 
							li особо охраняемые природные территории 
							li виды и популяции животного мира, подлежащие особой охране и их местообитания 
							li уязвимые экосистемы (устья рек, болота, тундра и т.д.)
						p В процессе производственной деятельности Компания не оказывает необратимого воздействия на биоразнообразие.
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image19.png", alt="")
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image20.png", alt="")
						h2 ОСОБО ОХРАНЯЕМЫЕ ПРИРОДНЫЕ ТЕРРИТОРИИ
						p Основная деятельность Компании сосредоточена на территории юго-востока Республики Татарстан, которая густо населена, освоена сельским хозяйством и испытывает высокую антропогенную нагрузку. 
						p В регионе производственной деятельности Компании находятся 35 особо охраняемых природных территорий. Наиболее крупной особо охраняемой природной территорией федерального значения является Национальный парк «Нижняя Кама».
						p Это уникальный природный комплекс лесов и лугов северо-востока Татарстана площадью 26 460 га, расположенный в центре Нижнекамского территориально-производственного комплекса. Компанией осуществляется производственный экологический контроль растительного мира (фитомониторинг) на территории Национального парка «Нижняя Кама».
						p Согласно результатам мониторинговых исследований, в 2022 году эксплуатация нефтепромысловых объектов Компании не привела к ухудшению состояния экосистем прилегающей территории, и не нарушила режим охраны парка. Производственный экологический контроль выполняется Компанией на территориях разрабатываемых месторождений, расположенных в Ненецком автономном округе.
						p В силу особой уязвимости природных тундровых комплексов программа контроля расширена и включает оценку по видовому и количественному составу растительного покрова, почвенной мезофауны и почвенных млекопитающих, мхов, животного мира, бентоса. Результаты мониторинга показывают, что территория деятельности не подвержена значимому антропогенному воздействию.
						h2 ВИДЫ И ПОПУЛЯЦИИ ЖИВОТНОГО МИРА, ПОДЛЕЖАЩИЕ ОСОБОЙ ОХРАНЕ
						p На территории деятельности Группы «Татнефть» обитают 18 видов птиц и 4 вида рыб, занесенных в Красную книгу Российской Федерации, 2 вида млекопитающих, занесённых в Красную книгу Российской Федерации и Красную книгу Республики Татарстан — сурок-байбак и выхухоль, включенный также в Красный список Международного союза охраны природы.
						p Расположение производственных объектов вне территорий ареала обитаний редких видов животных, выполнение природоохранных мероприятий позволяют уменьшить негативное воздействие на окружающую среду и предотвратить исчезновение редких видов животных путем поддержки существующих особо охраняемых природных территорий. Компания совместно с Хоккейным клубом «Ак Барс» продолжает оказывать поддержку в восстановлении и увеличении популяции «краснокнижного» ирбиса — снежного барса.
						p Сайлюгемский национальный парк на Алтае — единственное место в России, где живут символы Татарстана — снежные барсы. Установленные фотоловушки помогают фиксировать повадки хищников, их передвижения и появление новых особей, а антибраконьерские рейды снизили количество фактов незаконной охоты. Реализованы совместные с Национальным парком «Сайлюгемский» образовательные и PR-мероприятия, направленные на повышение узнаваемости программы и уровня экологической ответственности.
						p Издана детская книга «Тайна пропавшей клюшки», где отдельная глава посвящена спасению снежных барсов на Алтае. Произведение имеет важное воспитательное и просветительское значение, 10 тысяч экземпляров книги были подарены детям работников Компании.
						p В 2023 году продолжится информационное сотрудничество и участие в антибраконьерских рейдах на территории Алтайского края Национального парка «Сайлюгемский», а также проведение благотворительных матчей Хоккейного клуба «Ак Барс» в поддержку сохранения популяции снежного барса.
					.dmpage-quote С 2021 года Компания осуществляет добровольное страхование экологических рисков опасного производственного объекта — установки подготовки и перекачки нефти НГДУ «Прикамнефть», которая является ближайшей Национальному парку «Нижняя Кама» и реке Кама
					.dmpage-text
						h2 РЕАЛИЗОВАННЫЕ МЕРОПРИЯТИЯ, НАПРАВЛЕННЫЕ НА СОХРАНЕНИЕ БИОРАЗНООБРАЗИЯ
						p посадка различных пород деревьев и кустарников - 2,2 млн шт. 
						p оптимизация площади рубки леса за счет схемы размещения бурового оборудования - 11,6 га
						p очистка прибрежных полос реки Степной Зай от инвазивного вида растений – клена американского с посадкой деревьев местных пород – ива, липа, черемуха и др. - 50 га
						p сокращение площади вырубаемых деревьев и порослей за счет применения изолированных проводов на линиях электропередач, проходящих в лесных массивах 79 га возвращение невостребованных земельных участков - 1 869,6 га
						p восстановление нарушенных земель - 1 390 га
						p выпуск мальков ценных пород рыб, включая молодь стерляди, сазана, толстолобика в Волгу, Кама, Куйбышевское водохранилище - 262 тыс. шт.
						p капитальный ремонт переходов трубопроводов - 41 шт. 
						p демонтаж бездействующих трубопроводов через водные объекты - 79 шт.
						p капитальный ремонт трубопроводов, всего: 321 км (из них с применением стеклопластиковых труб - 146 км)
						p ремонт полевых стыков водоводов системы ПДД - 164 км
						p экспертиза промышленной безопасности трубопроводов - 5 287 км
						p строительство трубопроводов из стеклопластиковых труб - 240 км
						p гидроизоляция земляных амбаров при строительстве и ремонте скважин - 430 тыс. м2
						h3 ЗАРЫБЛЕНИЕ РЕК МОЛОДЬЮ, ТЫС.ШТ 
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image21.jpg", alt="")
						h3 ДИНАМИКА ЛЕСОПОСАДОК (МЛН ДЕРЕВЬЕВ В ГОД)
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image26.jpg", alt="")
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image25.png", alt="")
						h2 ВОССТАНОВЛЕНИЕ ЗЕМЕЛЬ
						p Основной задачей этапа завершения производственной деятельности является экологически безопасное завершение работ и обеспечение восстановления нарушенных территорий.
						p При этом необходимым условием этапа ликвидации является обеспечение условий сохранения биоразнообразия в зоне влияния ликвидируемых производственных объектов, а также компенсация/возмещение ущерба нарушенным биоресурсам. В обязательном порядке осуществляется проведение мероприятий по восстановлению нарушенных земель: техническая и биологическая рекультивация.
						p Рекультивационные мероприятия создают условия для развития растительности. Постепенно на видовое разнообразие большее влияние начинают оказывать биотические факторы. Применяемые методы рекультивации обеспечивают высокие темпы возобновления растительности. После рекультивации ведется работа по возврату невостребованных земель. Деятельность Компании по восстановлению нарушенных земель регулируется «Положением об охране и рациональном использовании земельных и лесных ресурсов».
						p В 2022 году с целью установления единого порядка проведения рекультивации нарушенных земель на предприятиях Группы «Татнефть», а также предотвращения негативного воздействия нарушенных земель на окружающую среду разработаны Инструкция по проведению рекультивации нарушенных земель и Методические указания по созданию почвенного грунта для проведения рекультивации.
						p В Компании при рекультивации земель, нарушенных при строительстве и эксплуатации объектов, применяется комплексный подход с учетом категорий назначения земель, типов почв, видов нарушений и загрязнений. Актуализированы стандарты организации по рекультивации земель, нарушенных при строительстве и эксплуатации нефтепромысловых объектов, разгерметизации трубопроводов, по применению биотехнологий и составлению проектов рекультивации.
						h3 ОБЪЕМЫ РЕКУЛЬТИВАЦИИ НАРУШЕННЫХ ЗЕМЕЛЬ, га
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image28.jpg", alt="")
						p Увеличение площади нарушенных земель связано с увеличением работ по бурению и строительству скважин, а также капитальным ремонтом трубопроводов.
						h2 ЛИКВИДАЦИЯ НЕФТЕГАЗОВЫХ ОБЪЕКТОВ
						p После окончания цикла эксплуатации нефтяных объектов проводится их демонтаж и ликвидация.
						p Ликвидация опасных производственных объектов проводится в соответствии с утвержденной технической документацией на ликвидацию, с выполнением определенных в проекте мероприятий по защите окружающей среды, обеспечению безопасности населения, вывозу и утилизации отходов, рекультивации и благоустройству земельного участка после ликвидации объекта. На всех скважинах перед ликвидацией проводится исследование эксплуатационной колонны скважины, при наличии ликвидируются заколонные перетоки, грифоны, негерметичность обсадных колонн.
						p У ликвидируемых скважин, расположенных на землях, используемых для сельскохозяйственных целей, и на землях непромышленных категорий, устья углубляются не менее чем на 0,8 м от поверхности, оборудуются заглушкой, установленной на кондукторе (технической колонне).
						p Заглушка покрывается материалом, предотвращающим ее коррозию, и устье скважины засыпается грунтом. После ликвидации скважины проводится очистка территории скважины, снятие загрязненного грунта, засыпка ям, амбара, траншей, ликвидация временных насыпей, вывоз отходов и оборудования, восстановление ландшафтов на территории скважины и прилегающей территории, рекультивация земель. Ведется контроль состояния ликвидированных скважин.
						h2 ВОЗДЕЙСТВИЕ, СВЯЗАННОЕ С ПРАВОМ ВЛАДЕНИЯ И ПОЛЬЗОВАНИЯ ЗЕМЕЛЬНЫМИ И ПРИРОДНЫМИ РЕСУРСАМИ
						p Для обеспечения взаимодействия с местными сообществами и другими пользователями по вопросам использования земель и заблаговременного информирования и доведения информации до граждан (землепользователей) Компания организует внесение информации о зонах с особыми условиями использования территорий (охранные зоны и санитарно-защитные зоны производственных объектов) в общедоступные информационные ресурсы — публичная кадастровая карта, карты муниципальных информационных ресурсов Росреестра.
						p Случаев принудительного переселения местных общин или отдельных лиц, явившихся следствием решений, принимаемых в рамках рассмотрения земельных вопросов, в деятельности Компании не было.











				
					
block scripts
	




