extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Показатели выбросов загрязняющих веществ

			h1.dmpage-h1 Показатели выбросов загрязняющих веществ

		.dmpage
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya.html") К началу раздела
						a.dmpage-menu-item.dmpage-menu-item--active(href="vybrosy-v-atmosfernyj-vozduh.html") Показатели выбросов загрязняющих веществ
						a.dmpage-menu-item(href="monitoring-atmosfernogo-vozduha.html") Мониторинг атмосферного воздуха



			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p В 2022 году валовые выбросы загрязняющих веществ в атмосферный воздух по Группе «Татнефть» составили 100,2 тыс. т, что на 3,2% меньше показателя за 2021 год. Снижение достигнуто путем реализации следующих мероприятий:
						ul
							li модернизации производства с применением наилучших технологий, оборудования, материалов, цифровых решений управления 
							li повышения энергоэффективности производственных процессов 
							li поддержания технического состояния нефтепромыслового оборудования на надлежащем уровне 
							li внедрения технологии улавливания лёгких фракций углеводородов, выделяющихся из емкостей 
							li снижения объёмов сжигаемого на факельных установках попутного нефтяного газа 
							li очищения попутного нефтяного газа на установках сероочистки 
							li замены факельных установок на установки с бессажевым горением 
							li ремонта и замены резервуаров, нанесения на них антикоррозионного покрытия и внедрение средств электрохимической защиты 
							li капитального ремонта и замены товарных технологических нефтепроводов и газопроводов 
							li повышения экологических показателей транспорта 
							li использование на АЗС газовозвратных топливно-раздаточных колонок.

						.dmpage-table-section.dmpage-table-section--small
							.dmpage-table-overflow
								table.dmpage-table
									colgroup.dmptable-colgroup-1
										col.dmptable-col-1.dmptable-col-1--aw
									colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
										col.dmptable-col-other
									colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
										col.dmptable-col-other
									colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
										col.dmptable-col-other
									thead
										tr
											th  
											th
												p 2020
											th
												p 2021
											th
												p 2022
									
									tbody
										tr.dmpage-table__tr--with-border
											td
												p
													b  Валовые выбросы загрязняющих веществ в атмосферный воздух*, тыс. т,<br> в том числе:
											td
												p
													b 108,7 
											td
												p
													b 103,5 
											td
												p
													b 100,2
										tr
											td
												p твёрдых веществ 
											td
												p 2,1 
											td
												p 2,0 
											td
												p 1,3
										tr
											td
												p диоксид серы 
											td
												p 14,1 
											td
												p 10,3 
											td
												p 9,9
										tr
											td
												p оксид углерода 
											td
												p 21,9
											td
												p 21,4
											td
												p 19,5
										tr
											td
												p оксидов азота (в пересчете на NO2) 
											td
												p 9,0 
											td
												p 8,5
											td
												p 9,1
										tr
											td
												p углеводороды (без летучих органических соединений) 
											td
												p 13,4
											td
												p 13,1 
											td
												p 12,9
										tr
											td
												p летучие органические соединения (ЛОС) 
											td
												p 47,1 
											td
												p 47,1 
											td
												p 46,5
										tr
											td
												p прочие 
											td
												p 1,1 
											td
												p 1,1 
											td
												p 1,0


					.dmpage-text.dmpage-text--small
						p * Показатели по выбросам загрязняющих веществ в атмосферный воздух сформированы на основании показателей, отраженных в формах государственной статистической отчетности (2-ТП воздух).

					.dmpage-text

						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image79.png", alt="")
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image17.png", alt="")



					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title УДЕЛЬНЫЕ ВЫБРОСЫ ЗАГРЯЗНЯЮЩИХ ВЕЩЕСТВ В АТМОСФЕРНЫЙ ВОЗДУХ



						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
									
								thead 
									tr
										th  
										th  2020
										th  2021
										th  2022
								tbody
									tr
										td
											p Разведка и добыча, 
											p кг/т добытой нефти
										td
											p 2,84
										td
											p 2,56
										td
											p 2,44
									tr
										td
											p Нефтегазопереработка, 
											p кг/т.у.т. переработанного сырья
										td
											p 0,911
										td
											p 0,86
										td
											p 0,71
									tr
										td
											p Нефтегазохимия,
											p кг/кг товарной продукции
										td
											p 0,007
										td
											p 0,0048
										td
											p 0,0054
									tr
										td
											p Энергетика,
											p кг/кВт*ч выработанной энергии
										td
											p 0,0009
										td
											p 0,0003
										td
											p 0,0004 


					.dmpage-text

						h2 ВЫБРОСЫ ОЗОНОРАЗРУШАЮЩИХ ВЕЩЕСТВ 
						p Группа «Татнефть» не использует озоноразрушающие вещества в промышленных масштабах, а также не производит их.

						h2 РАЦИОНАЛЬНОЕ ИСПОЛЬЗОВАНИЕ ПОПУТНОГО НЕФТЯНОГО ГАЗА
						p В Компании реализуется Программа по повышению рационального использования попутного нефтяного газа, направленная на стимулирование переработки ПНГ в продукцию с высокой добавленной стоимостью и снижение воздействия на окружающую среду и климат.
						p
							b За период 2020-2022 гг. объем сжигания ПНГ снижен на 50% Уровень утилизации ПНГ в 2022 году составил 98,09%

						h3 ОБЪЕМЫ СЖИГАНИЯ ПНГ ПО ГРУППЕ «ТАТНЕФТЬ», МЛН М <sup>3</sup>

						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image9.png", alt="")

						p Расчёты уровней утилизации ПНГ проводятся согласно Постановления Правительства Российской Федерации № 1148 от 08.11.2019 года «Положение об особенностях исчисления платы за негативное воздействие на окружающую среду при выбросах в атмосферный воздух загрязняющих веществ, образующихся при сжигании на факельных установках и (или) рассеивании попутного нефтяного газа». 
						
						p Для повышения уровня полезного использования попутного нефтяного газа выполнены мероприятия по подключению пунктов сепарации к системе сбора газа, организации многофазного транспорта продукции скважин и использованию газа на собственные технологические нужды.

						h3 УТИЛИЗАЦИЯ ПНГ, %
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image13.png", alt="")
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image12.png", alt="")






block scripts
	




