extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Ресурсоэффективность

			h1.dmpage-h1 Ресурсоэффективность

		.dmpage
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_20_10_23/climate-action.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya/borba-s-izmeneniem-klimata.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya/borba-s-izmeneniem-klimata.html") К началу раздела
						a.dmpage-menu-item(href="strategiya-dekarbonizacii.html") Стратегия низкоуглеродного развития
						a.dmpage-menu-item(href="risk-menedzhment.html") Управление климатическими рисками
						a.dmpage-menu-item(href="vybrosy-parnikovyh-gazov.html") Показатели выбросов парниковых газов
						a.dmpage-menu-item.dmpage-menu-item--active(href="resursoeffektivnost.html") Ресурсоэффективность
						a.dmpage-menu-item(href="vzaimodejstvie-po-voprosam-klimaticheskoj-povestki.html") Взаимодействие по вопросам климатической повестки
						



			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p «Татнефть» как один из крупнейших участников энергетического рынка ведет системную работу в области энерго- и ресурсоэффективности. Эти понятия в Компании объединены в замкнутый цикл, включающий оптимизацию затрат, экономию ресурсов и их вторичное использование, повышение энергоэффективности по всей производственной цепочке. 

						p Политика Группы «Татнефть» в области интегрированной системы менеджмента направлена на достижение единых стратегических целей в области рационального использования природных ресурсов, вовлекаемых в производство, за счёт внедрения ресурсосберегающих и энергоэффективных технологий, применения экологически чистых и альтернативных источников энергии, переработки отходов и использования перерабатываемых материалов, внедрения наилучших доступных технологий, оборудования, материалов, цифровых решений управления технологическими процессами.

						h2 ЭНЕРГОЭФФЕКТИВНОСТЬ 
						p В соответствии со Стратегией развития 2030 ключевым ориентиром является постоянное улучшение энергетической эффективности, совершенствование процессов управления энергетической эффективностью и энергосбережением при осуществлении всех видов производственной деятельности; сдерживание роста затрат за счет внедрения передовых инновационных энергоэффективных технологий и рационального использования энергоресурсов; разработка, внедрение, обеспечение функционирования и постоянное улучшение 

						p Системы энергетического менеджмента, соответствующей требованиям ISO 50001-2018. Единые требования к системе энергетического менеджмента установлены стандартом «Энергоэффективность и энергосбережение в Группе «Татнефть». Также Компания предъявляет требования по энергоэффективности и энергосбережению к поставляемым услугам, оборудованию и технологиям, которые учитываются в технических требованиях на оборудование, в справочнике энергоэффективного оборудования и технологий и иных локальных нормативных документах. 

						p Информирование поставщиков о требованиях по энергоэффективности в обязательном порядке осуществляется в закупочной документации. Повышение энергоэффективности — одно из основных направлений адаптации к изменению климата, реализующихся путем выполнения задач ЦУР 7 «Недорогостоящая и чистая энергия».

					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text ЦЕЛИ ПО ЦУР 7
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image67_and_image69.jpg", alt="")

					//	img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image67.png", alt="")

						h2 УВЕЛИЧЕНИЕ ДОЛИ ВЫРАБАТЫВАЕМОЙ ЭНЕРГИИ ИЗ ВОЗОБНОВЛЯЕМЫХ ИСТОЧНИКОВ
						h3 РЕЗУЛЬТАТЫ РЕАЛИЗАЦИИ ЦЕЛЕЙ:

						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image69.png", alt="")

					.dmpage-text
						p 
							b Энергоэффективность один из главных принципов развития Компании. С 2000 года Компания реализует технические и организационные мероприятия, направленные на снижение потребления энергоресурсов — Программы повышения энергоэффективности и энергосбережения. Действующая целевая программа повышения энергоэффективности и энергосбережения разработана на трехлетний период с 2022 по 2025 годы.

						p Стратегическая цель — эффективность программы повышения энергосбережения до 2025 не менее 2,8% ежегодно относительно фактического объема потребления топливно-энергетических ресурсов в предыдущем году

					.dmpage-table-section
						h3.dmpage-table-title.dmpage-table-title--small-w Экономия топливно-энергетических ресурсов
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other(span="2")
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other(span="2")
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th(rowspan='2')
											p Ед. изм.
										th(rowspan='2')
											p 2020
										th(colspan='2')
											p 2021
										th(colspan='2')
											p 2022
										th
											p 2023
									tr
										th(style="display:none;")
										th
											p план
										th
											p факт
										th
											p план
										th
											p факт
										th
											p план
								tbody
									tr
										td
											p факт тыс. т.у.т.
										td
											p 108
										td
											p 112
										td
											p 115
										td
											p 160
										td
											p 167
										td
											p 173
									tr
										td
											p выполнение плана, %
										td
											p -
										td
											p -
										td
											p 102,7
										td
											p -
										td
											p 104,4
										td
											p -
									tr
										td
											p млн руб.
										td
											p 728
										td
											p -
										td
											p 846
										td
											p -
										td
											p 1 241
										td
											p -


					.dmpage-text
						p В 2022 году экономия потребления энергии составила 167 тыс. т.у.т. При плане 2,8% исполнение программы энергосбережения за 2022 год составило 3,0%. 
						p Наиболее эффективными направлениями экономии являются: подготовка, переработка нефти и газа, транспорт, технология добычи нефти и газа, поддержание пластового давления. Требования энергетической эффективности интегрированы во все процессы, определяющие жизненный цикл технологических объектов: проектирование, строительство, эксплуатацию. Программа энергосбережения включает более 3-х тысяч мероприятий. 
						p В периметре каждого бизнес-направления сформирован пул инновационных технологий, внедрение которых обеспечивает достижение целей энергоэффективности: 
						ul
							li в нефтедобыче — энергоэффективные насосы для процессов подъема продукции скважин, подготовки нефти и системы поддержания пластового давления с применением стеклопластиковых труб. 
							li в нефтегазопереработке и нефтегазохимии — системы рекуперации тепла вторичных энергоресурсов, энергоэффективные насосные и компрессорные агрегаты. 
							li на предприятиях энергетического блока — энергоэффективные трансформаторы, автоматические устройства компенсации реактивной мощности, тепловые сети из композиционных материалов, технологии оптимизации процессов сжигания топлива в котлах.


						

					.dmpage-table-section
						h3.dmpage-table-title.dmpage-table-title--small-w ПОТРЕБЛЕНИЕ ЭНЕРГИИ ИЗ НЕВОЗОБНОВЛЯЕМЫХ ИСТОЧНИКОВ ЭНЕРГИИ
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th
											p Наименование ТЭР
										th
											p Ед. изм.
										th
											p 2020
										th
											p 2021
										th
											p 2022
								tbody
									tr
										td(rowspan='2')
											p Электроэнергия
										td
											p тыс. кВтч
										td
											p 5 180 874
										td
											p 7 162 499
										td
											p 7 878 417
									tr
										td(style="display:none;")
										td
											p ГДж
										td
											p 18 652 674
										td
											p 25 787 108
										td
											p 28 364 624
									tr
										td(rowspan='2')
											p Тепловая энергия*
										td
											p Гкал
										td
											p 4 061 473
										td
											p 8 742 306
										td
											p 8 642 552
									tr
										td(style="display:none;")
										td
											p ГДж
										td
											p 17 005 968
										td
											p 36 605 284
										td
											p 36 187 600
									tr
										td(rowspan='2')
											p Котельно-печное топливо, в т.ч.
										td
											p т.у.т.
										td
											p 3 362 060
										td
											p 3 642 147
										td
											p 3 774 098
									tr
										td(style="display:none;")
										td
											p ГДж
										td
											p 98 541 979
										td
											p 106 751 329
										td
											p 110 618 812
									tr
										td
											p газ природный 
										td
											p тыс. м3
										td
											p 1 926 470
										td
											p 2 270 360
										td
											p 2 089 537


					.dmpage-text.dmpage-text--small
						p *тепловая энергия на добычу СВН учтена в объеме закупки природного газа.

					.dmpage-text
						p Для расчета величины потребления котельно-печного топлива в т.у.т. использована фактическая теплота сгорания при стандартных условия (калорийность) для каждого вида топлива.
						p 
							b ПОТРЕБЛЕНИЕ ЭНЕРГИИ ИЗ ВОЗОБНОВЛЯЕМЫХ ИСТОЧНИКОВ ЭНЕРГИИ (ВИЭ) 
						p Стратегия Компании учитывает роль возобновляемых источников энергии и их значимость для более чистого энергетического будущего с низким содержанием углерода. В рамках решения задачи ЦУР 7 по увеличению доли энергии из возобновляемых источников реализуется программа «Развитие возобновляемых источников энергии», включающая инвестиционные и инновационные проекты, по солнечной генерации, ветро и гидрогенерации, генерации на основе биотоплива, глубокой утилизации тепла и иные проекты.

						
					.dmpage-quote

						| Стратегическая цель — генерация 900 МВт возобновляемой энергии к 2050 году Из них 650 МВт (72%) — внешние проекты, 250 МВт (28%) — энергообеспечение объектов Компании Доведение доли мощности ВИЭ до 4% к 2030 году

					.dmpage-text
						img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/processed_new_pictures/image72.png", alt="")


					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title ВЫРАБОТКА ЭНЕРГИИ ИЗ ВИЭ
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other
								thead
									tr
										th
										th
											p 2021
										th
											p 2022 
								tbody
									tr
										td
											p Общее энергопроизводство, т.у.т.
										td
											p 1 097 325
										td
											p 1 101 774
									tr
										td
											p Выработка электроэнергии, тыс. кВтч
										td
											p 1 732 601
										td
											p 1 807 671
									tr
										td
											p Выработка теплоэнергии, Гкал
										td
											p 6 191 503
										td
											p 6 158 099
									tr
										td
											p Выработка энергии из ВИЭ, т.у.т.
										td
											p 1 146,7
										td
											p 1 253,4
									tr
										td
											p Доля выработки ВИЭ, %
											p (от общей выработки энергии по Группе «Татнефть»)
										td
											p 0,10
										td
											p 0,11

					.dmpage-text
						p На развитие проектов по ВИЭ направлены инвестиции в размере 54,8 млн рублей. В 2022 году введены в эксплуатацию проточные микро — ГЭС, ветрогенераторы, тепловые насосы на АЗС, система отопления АЗС при помощи солнечного коллектора. 

						p Продолжается внедрение пеллетного отопительного оборудования и солнечных электростанций на АЗС. В настоящее время работают 330 пеллетных котельных и 4 солнечных электростанции. На 2023 год планируется достичь объемов выработки из ВИЭ не менее 1 491 т.у.т.

					.dmpage-table-section
						h3.dmpage-table-title.dmpage-table-title--small-w ПОТРЕБЛЕНИЕ ЭНЕРГИИ ИЗ ВИЭ
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th
											p Наименование ТЭР
										th
											p 2020
										th
											p 2021
										th
											p 2022
								tbody
									tr
										td
											p 
												b Электроэнергия, кВтч, в т.ч.
										td
											p 
												b 1 102 196
										td
											p 
												b 1 093 767
										td
											p 
												b 715 996
									tr
										td
											p гидроэнергия, кВтч
										td
											p 1 095 332
										td
											p 1 063 321
										td
											p 658 784
									tr
										td
											p солнечная энергия, кВтч
										td
											p 6 864
										td
											p 30 446
										td
											p 56 955
									tr
										td
											p ветровая энергия, кВтч 
										td
											p -
										td
											p -
										td
											p 257
									tr
										td
											p Электроэнергия, ГДж
										td
											p 3 968
										td
											p 3 938
										td
											p 2 578
									tr
										td
											p 
												b Тепловая энергия, Гкал в т.ч.
										td
											p 
												b 7 592
										td
											p 
												b 7 092
										td
											p 
												b 8 368
									tr
										td
											p пеллетное топливо, Гкал
										td
											p 7 592
										td
											p 7 092
										td
											p 8 361
									tr
										td
											p низкопотенциальное тепло, Гкал
										td
											p -
										td
											p -
										td
											p 7
									tr
										td
											p Тепловая энергия, ГДж
										td
											p 31 786
										td
											p 29 693
										td
											p 35 035

					.dmpage-text
						p В 2022 году возобновляемая энергия со стороны не приобреталась.

					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title ОБЪЕМ ПОТРЕБЛЕНИЯ ЭНЕРГИИ, ГДЖ
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other
									col.dmptable-col-other
								thead
									tr
										th
											p Наименование ТЭР
										th
											p 2022
								tbody
									tr
										td
											p Объем потребленной энергии *
										td
											p 175 208 649
									tr
										td
											p Объем потребленной энергии за вычетом реализованной электро- и тепловой энергии
										td
											p 142 909 501
					.dmpage-text.dmpage-text--small
						p *В объем потребленной энергии включено потребление электроэнергии, тепловой энергии и котельно-печного топлива из возобновляемых и невозобновляемых источников.

					.dmpage-table-section
						h3.dmpage-table-title.dmpage-table-title--small-w ОБЪЕМ РЕАЛИЗОВАННОЙ ЭНЕРГИИ
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw(span="3")
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other(span="3")
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th(colspan='3')
											p Электроэнергия
										th(colspan='3')
											p Тепловая энергия
									tr
										th
											p тыс. кВт.ч
										th
											p т.у.т.
										th
											p ГДж
										th
											p Гкал
										th
											p т.у.т.
										th
											p ГДж
								tbody
									tr
										td
											p 1 809 382
										td
											p 222 256
										td
											p 6 514 310
										td
											p 6 158 099
										td
											p 879 728
										td
											p 25 784 838
					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title КОЭФФИЦИЕНТ ЭНЕРГОЕМКОСТИ (УДЕЛЬНЫЙ РАСХОД ТОПЛИВА), Т.У.Т./МЛН РУБ. 
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th(rowspan='2')
											p 2020
										th(rowspan='2')
											p 2021
										th(colspan='2')
											p 2022
									tr
										th(style="display:none;")
										th
											p план
										th
											p факт
								tbody
									tr
										
										td
											p 4,14
										td
											p 4,10
										td
											p 3,86
										td
											p 3,82

					.dmpage-text
						p Энергоемкость — отношение суммарного энергопотребления в тоннах условного топлива к стоимости произведенной продукции в сопоставимых условиях (ценах 2021 года). Снижение энергоемкости в 2022 относительно 2021 составило 6,8%, в т.ч. за счет мероприятий программы энергосбережения — 3%, за счет снижения доли добычи сверхвязкой нефти — 0,9%, за счет изменения корзины продукции нефтепереработки, нефтегазохимии и других бизнес-направлений — 2,9%.

						p В целях снижения выбросов парниковых газов, расхода топливно-энергетических ресурсов и сокращения технологических потерь реализуются следующие мероприятия: 
						ul
							li внедрение трубопроводов из полимерных материалов 
							li применение композиции (химического реагента) для обработки внутренних поверхностей труб горячего водоснабжения 
							li внедрение систем оперативного дистанционного контроля 
							li внедрение трубопроводов из армированного полиэтилена 
							li использование выпара деаэратора для нагрева исходной воды
						h2  Программа по энергоэффективности
						p Компания реализует Программу повышения энергоэффективности и энергосбережения. Цель программы – сдерживание роста затрат на топливно-энергетические ресурсы за счет их рационального использования и повышения энергоэффективности производства.
						p Среди основных целей: постоянное улучшение энергетической эффективности, совершенствование процессов управления энергетической эффективностью и энергосбережением при осуществлении всех видов производственной деятельности; сдерживание роста затрат за счет внедрения передовых инновационных энергоэффективных технологий и рационального использования энергоресурсов; разработка, внедрение, обеспечение функционирования и постоянное улучшение Системы энергетического менеджмента, соответствующей требованиям ISO 50001-2018.
						p В результате реализации мероприятий программы энергосбережения за 2022 год предприятиями Группы «Татнефть» сэкономлено более 167 тыс. тонн условного топлива, что составило 1241 млн. руб. Наиболее эффективными направлениями экономии являются: подготовка, переработка нефти и газа, транспорт, технология добычи нефти и газа, поддержание пластового давления.
						p В результате эффективной реализации программы удалось в 2020-2022 гг. добиться положительной динамики снижения энергоемкости по бизнес –направлениям «Разведка и добыча» и «Нефтегазопереработка».


					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title УДЕЛЬНОЕ ЭНЕРГОПОТРЕБЛЕНИЕ
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th  
										th
											p 2020
										th
											p 2021
										th
											p 2022
							
								tbody
									tr
										td
											p
												| Энергоемкость (удельный расход ТЭР) на добычу нефти по бизнес-направлению «Разведка и добыча», кг.у.т./т.
										td
											p 62,4
										td
											p 61,78
										td
											p 61,05
									tr
										td
											p
												| Энергоемкость (удельный расход ТЭР) на переработку нефтесырья по бизнес-направлению «Нефтегазопереработка», ГДж/т
										td
											p 3,1
										td
											p 3,06
										td
											p 2,87
				


block scripts
	




