extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Риск-менеджмент

			h1.dmpage-h1 Риск-менеджмент

		.dmpage
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya/borba-s-izmeneniem-klimata.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya/borba-s-izmeneniem-klimata.html") К началу раздела
						a.dmpage-menu-item(href="strategiya-dekarbonizacii.html") Стратегия декарбонизации
						a.dmpage-menu-item.dmpage-menu-item--active(href="risk-menedzhment.html") Риск-менеджмент
						a.dmpage-menu-item(href="vybrosy-parnikovyh-gazov.html") Выбросы парниковых газов
						a.dmpage-menu-item(href="resursoeffektivnost.html") Ресурсоэффективность
						a.dmpage-menu-item(href="vzaimodejstvie-po-voprosam-klimaticheskoj-povestki.html") Взаимодействие по вопросам климатической повестки
						



			.dmpage-main
				.dmpage-detail
					.dmpage-text
						h2 ИНТЕГРАЦИЯ И УПРАВЛЕНИЕ КЛИМАТИЧЕСКИМИ РИСКАМИ 

						p В Компании процесс выявления и оценки рисков/возможностей, связанных с климатом, а также в области промышленной безопасности, охраны труда и окружающей среды, является частью интегрированного процесса управления рисками, основанного на рекомендациях национальных и международных стандартов (ISO 31000:2018 «Менеджмент риска. Принципы и руководство»; COSO ERM «Основы управления рисками»). 
						p Управление рисками и возможностями является частью общей системы менеджмента Компании и инструментом, встраиваемым в бизнес-процессы Компании и используемым для принятия решений на всех уровнях управления, в соответствии с ISO 31000:2018 «Менеджмент риска. Принципы и руководство». Центральным элементом данного процесса является «Политика управления рисками и внутреннего контроля ПАО «Татнефть». 
						p В Компании функционирует документированный процесс идентификации, оценки, мониторинга и управления климатическими рисками и возможностями, как часть общего процесса управления рисками и возможностями. Риски стратегического уровня управляются в соответствии с методикой «Управление климатическими рисками и возможностями». Управление рисками операционного уровня осуществляется на основе Стандарта по управлению рисками в области промышленной безопасности, охраны труда и окружающей среды. 

						p Владельцы рисков несут ответственность за определение рисков возможностей, разработку и реализацию мероприятий по управления рисками. Владельцы климатических рисков выполняют регулярный мониторинг и подготавливают отчетность по управлению климатическими рисками.

						h2 ИДЕНТИФИКАЦИЯ КЛИМАТИЧЕСКИХ РИСКОВ
						p Система управления климатическими рисками выстроена на основе полноты и достоверности идентификации рисков, на комплексной оценке их влияния на людей, материальные активы, окружающую среду и имидж. 

						p В 2022 году Компанией разработан реестр климатических рисков, который в соответствии с классификацией TCFD, включает риски, связанные с постепенным переходом к низкоуглеродной экономике, а также физические риски. Реестр климатических рисков и возможностей, мероприятия по работе с климатическими рисками и отчет по работе с рисками рассматриваются и утверждаются Советом директоров Компании. 

						p Оценка климатических рисков и возможностей проводится не реже одного раза в год. При выявлении внутренних или внешних факторов, имеющих потенциал влияния на реестр климатических рисков и возможностей, проводится внеочередная оценка климатических рисков и возможностей. 

						h2 С 2021 года целевые показатели по выбросам парниковых газов включены в КПЭ руководителей бизнес-направлений

						p Риски разделены по горизонту планирования (кратко, средне- и долгосрочные) и проранжированы на основании экспертной консенсус-оценки вероятности и последствий их реализации, определены меры по работе с данными рисками.

						h2 Учет климатических рисков и возможностей, связанных с изменением климата, является обязательным при принятии руководящих решений в Компании

						p При оценке инвестиционных проектов с 2021 года в Компании учитываются риски, связанные с ростом выбросов СО2 (Scope 1, 2 и 3), Советом директоров установлена внутренняя цена углерода в 49$ за тонну СО2-экв.


					.dmpage-quote
						a.dmpage-quote__link(download href="https://www.tatneft.ru/uploads/publications/5f997b03eaaf2490844306.pdf")
						|  Политика управления рисками внутреннего контроля ПАО «Татнефть»

					.dmpage-text
						p Любой риск, связанный с прямой опасностью для жизни и здоровья людей, возникновением экологических катастроф, Компания рассматривает с максимальным приоритетом.



					.dmpage-table-section
						h3.dmpage-table-title.dmpage-table-title--small-w РИСКИ ПЕРЕХОДА К НИЗКОУГЛЕРОДНОЙ ЭКОНОМИКЕ И ФИЗИЧЕСКИЕ РИСКИ

						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw(span=2)
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other.dmptable-col-other--aw(span=17)
									
								thead
									tr
										th(colspan='2')
											p Группы рисков
										th(colspan='17')
											p Меры по управлению рисками
								tbody
									tr.dmpage-table__tr-bb
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/high.svg", alt="")
										td
											p Рыночные риски
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/high.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/razvedka.svg", alt="")
										td.dmptable-td-w-space-between-icons
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/nefgazper.svg", alt="")  
										td.dmptable-td-w-space-between-icons
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/energetic.svg", alt="")  
										td.dmptable-td-w-space-between-icons
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/nefgazhim.svg", alt="")  
										td.dmptable-td-w-space-between-icons
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/roznitsa.svg", alt="")  
										td.dmptable-td-w-space-between-icons
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/comp-mat.svg", alt="")
									tr.dmpage-table__tr-bb
										td(colspan='2')
											p
												b Описание: 
												|  Снижение спроса на нефть и нефтепродукты из-за усиления экологической повестки и сдвига предпочтений потребителей в сторону продуктов с более низким углеродным следом
											p  
												b Влияние: 
												|    Изменение структуры / снижение выручки
										td(colspan='17')
											ul
												li Снижение углеродного следа
												li Увеличение доли нетопливного сегмента
												li Учет внутренней цены CO2 при оценке инвестиционных проектов
												li Система КПЭ по снижению выбросов парниковых газов
									tr.dmpage-table__tr-bb
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid.svg", alt="")
										td
											p Регуляторные риски
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/razvedka.svg", alt="")
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/nefgazper.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/energetic.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/nefgazhim.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/roznitsa.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/comp-mat.svg", alt="")  
									tr.dmpage-table__tr-bb
										td(colspan='2')
											p
												b Описание: 
												|  Ужесточение экологического регулирования. Расширение продуктового охвата трансграничного углеродного регулирования
											p
												b Влияние: 
												|  Рост операционных затрат на инвентаризацию, оценку выбросов и их верификацию. Возможные платежи за выбросы парниковых газов
										td(colspan='17')
											ul
												li Выстраивание автоматизированной системы учета выбросов парниковых газов
												li Реализация программы снижения выбросов парниковых газов
												li Регулярный мониторинг правового регулирования выбросов парниковых газов
									tr.dmpage-table__tr-bb
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid-low.svg", alt="")  
										td
											p Репутационные риски
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid-low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/razvedka.svg", alt="")
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid-low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/nefgazper.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/energetic.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/nefgazhim.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid-low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/roznitsa.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/comp-mat.svg", alt="")  
									tr.dmpage-table__tr-bb
										td(colspan='2')
											p
												b Описание: 
												|  Повышенное внимание заинтересованных сторон к долгосрочной устойчивости Компании по ESG аспектам
											p  
												b Влияние: 
												|   Повышение стоимости финансовых ресурсов и человеческого капитала
											p Затраты на промышленную безопасность и охрану труда, восстановление экосистем
										td(colspan='17')
											ul
												li
													| Открытый и прозрачный диалог с заинтересованными сторонами, расширенное раскрытие информации
												li Развитие «зеленых» брендов Компании
												li
													| Проведение предупредительных мероприятий в сфере снижения аварийности и травматизма
									tr.dmpage-table__tr-bb
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid.svg", alt="")
										td
											p Технологические риски
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/razvedka.svg", alt="")
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/nefgazper.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/energetic.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/nefgazhim.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/roznitsa.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/comp-mat.svg", alt="")  
									tr.dmpage-table__tr-bb
										td(colspan='2')
											p
												b Описание: 
												|  Ограниченный доступ к низкоуглеродным технологиям и оборудованию, коммерческая эффективность и необходимость модернизации производств
											p 
												b Влияние: 
												|   Рост капитальных затрат, расходы на НИОКР
										td(colspan='17')
											ul
												li Реализация программы повышения энергоэффективности и энергосбережения
												li НИОКР по низкоуглеродным технологиям

									tr.dmpage-table__tr-bb
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/low.svg", alt="")  
										td
											p Физические риски
											p (экстренные и хронические)
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/low.svg", alt="")
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/razvedka.svg", alt="")
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/nefgazper.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/energetic.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/low.svg", alt="") 
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/nefgazhim.svg", alt="")
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/roznitsa.svg", alt="")  
										td.dmptable-td-w-space-between-icons  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/low.svg", alt="")  
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/comp-mat.svg", alt="")  
									tr
										td(colspan='2')
											p
												b Описание: 
												|  Учащение экстремальных погодных явлений, температурные аномалии, изменение режима выпадения осадков
											p
												b Влияние: 
												|  Затраты на восстановление производственных объектов, рост стоимости страхования, перерывы в работе транспортной инфраструктуры
										td(colspan='17')
											ul
												li
													| Выполнение строительных норм и правил при реализации новых проектов строительства
												li Страхование экологических рисков
												li Обеспеченность активами для временного хранения готовой продукции


					.dmpage-text.dmpage-text--legend
						h3 Уровень влияния
						p 
							img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/high.svg", alt="")
							|  высокий
						p 
							img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid.svg", alt="")
							|  средний
						p 
							img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/low.svg", alt="")
							|  низкий
						p 
							img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/razvedka.svg", alt="")
							|  Разведка и добыча
						p 
							img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/nefgazper.svg", alt="")
							|  Нефтегазопереработка
						p 
							img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/energetic.svg", alt="")
							|  Энергетика
						p 
							img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/nefgazhim.svg", alt="")
							|  Нефтегазохимия
						p 
							img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/roznitsa.svg", alt="")
							|  Розничный бизнес
						p 
							img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/comp-mat.svg", alt="")
							|  Композиционные материалы


					.dmpage-text
						p Для минимизации рисков и повышения безопасности, совершенствуются методы предотвращения потерь и снижения затрат на компенсацию ущербов реализовавшихся рисков, организуется страхование негативных событий. В Группе «Татнефть» на постоянной основе осуществляет страхование рисков, связанных с причинением ущерба окружающей среде. Договоры страхования заключаются в отношении всех опасных производственных объектов Компании.
						h2 ВОЗМОЖНОСТИ, СВЯЗАННЫЕ С КЛИМАТОМ 

						p Курс на осознанное потребление, заботу об окружающей среде и здоровье человека создает возможности для развития бизнеса. Значительный потенциал Компания видит в реализации программы повышения энергоэффективности и энергосбережения, увеличении рационального использования попутных нефтяных газов, развитии биотехнологических проектов, увеличении доли низкоуглеродного и вторичного сырья в нефтепереработке и композиционной продукции, расширении сети газовых заправочных станций и сбора вторичного сырья для дальнейшей переработки.


					.dmpage-table-section 
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw(span=2)
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other.dmptable-col-other--aw(span=17)
									
							
								thead
									tr
										th(colspan="2")
											p Возможности, связанные с изменением климата, и финансовое влияние
										th
											p Мероприятия по реализации
											p возможностей
								tbody
									tr
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid-low.svg", alt="")
										td
											p Рациональное использование 
											p ресурсов
										td.dmpage-table__td-bb(rowspan='2')
											ul
												li Программы повышения энергоэффективности и энергосбережения
												li Увеличение рационального использования ПНГ.
												li Внедрение системы оборотного водоснабжения на «ТАНЕКО».
												li Использование отходов в качестве сырья
									tr
										td.dmpage-table__td-bb(colspan="2")
											p Экономический эффект от сокращения потребления энергоресурсов. 
									tr
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid.svg", alt="")
										td
											p Продукты и услуги 
											p с низким углеродным следом
										td.dmpage-table__td-bb(rowspan='2')
											ul
												li
													| Расширение линейки продукции с высокими экологическими характеристиками, в т.ч. с использованием низкоуглеродного и вторичного сырья
												li Расширение сети КПГ/СПГ- заправок
												li
													| Изучение возможностей переработки СО2 в товарные продукты, использования СО2 для повышения нефтеотдачи пласта
									tr
										td(style="display:none;")
										td.dmpage-table__td-bb(colspan="2")
											p
												| Изменение структуры/ рост выручки от реализации продукции с высокими экологическими характеристиками.
									tr
										td.dmptable-td-w-icon
											img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid.svg", alt="")
										td
											p Источники энергии/ материалы с низким углеродным следом
										td(rowspan='2')
											ul
												li Внедрение принципов циркулярной экономики
												li Использование ВИЭ
												li
													| Программа использования композитных и биокомпозитных материалов в капитальном строительстве
									tr
										td(colspan="2")  Снижение издержек, в том числе за счёт синергии активов в рамках Группы.

										td
					.dmpage-text.dmpage-text--legend
						h3 Уровень влияния
						p 
							img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/high.svg", alt="")
							|  высокий
						p 
							img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/mid.svg", alt="")
							|  средний
						p 
							img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/icons/low.svg", alt="")
							|  низкий


					.dmpage-quote
						p При проведении экономической оценки климатических рисков Компания учитывает сценарии развития мировой экономики и энергетики Международного энергетического агентства, Международной группы экспертов по изменению климата, оценки международных и национальных экспертов в части развития климатической повестки, прогноза стоимости углеродных единиц и другие источники. 
						p Принимая во внимание формирование углеродного регулирования в РФ в краткосрочной перспективе Компания может столкнуться с пересчетом выбросов парниковых газов, в связи с развитием национальных методик расчета. В среднесрочной перспективе возможен ввод обязательной верификации отчетов о выбросах парниковых газов. Экономическая оценка риска составляет 2,5-2,9 млн руб. Автоматизация расчетов и формирования отчетности о выбросах парниковых газов, регулярная добровольная верификация отчетов позволили локализовать данные риски в «зеленой» зоне. Компания реализовала программный модуль «Парниковые газы», на постоянной основе работает с органами по валидации и верификации парниковых газов. В долгосрочной перспективе на фоне ужесточения требований стейкхолдеров в области климата и сдвига предпочтений потребителей в сторону продуктов с более низким углеродным следом есть риск снижения спроса на нефть и нефтепродукты (и продукты с углеродоемкостью выше аналогов/заменителей). С целью минимизации риска Компания диверсифицирует портфель активов за счет включения в них шинного бизнеса, создания биокластера, производства композитных материалов, развития возобновляемых источников энергии и проектов CCUS.




















block scripts
	




