extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Стратегия декарбонизации

			h1.dmpage-h1 Стратегия декарбонизации

		.dmpage
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya/borba-s-izmeneniem-klimata.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya/borba-s-izmeneniem-klimata.html") К началу раздела
						a.dmpage-menu-item.dmpage-menu-item--active(href="strategiya-dekarbonizacii.html") Стратегия декарбонизации
						a.dmpage-menu-item(href="risk-menedzhment.html") Риск-менеджмент
						a.dmpage-menu-item(href="vybrosy-parnikovyh-gazov.html") Выбросы парниковых газов
						a.dmpage-menu-item(href="resursoeffektivnost.html") Ресурсоэффективность
						a.dmpage-menu-item(href="vzaimodejstvie-po-voprosam-klimaticheskoj-povestki.html") Взаимодействие по вопросам климатической повестки
						



			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p В 2022 году Советом директоров утвержден климатический раздел Стратегии развития. В основу долгосрочного целеполагания заложен вектор на достижение углеродной нейтральности к 2050 году в части контролируемых выбросов парниковых газов (Scope 1 и 2 с учетом компенсирующих мероприятий и развития низкоуглеродных технологий). Промежуточные целевые показатели предполагают снижение углеродной интенсивности на 14% к 2025 году и 30% к 2030 году по сравнению с базовым 2021 годом.

						h3 УДЕЛЬНЫЕ ВЫБРОСЫ ПАРНИКОВЫХ ГАЗОВ (SCOPE 1 И 2)
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image88.png", alt="")

						
					.dmpage-quote
						p С 2020 года показатели по снижению выбросов парниковых газов интегрированы в KPI менеджмента Компании.
						p Система KPI по ЦУР 13 включает ряд важных для достижения цели показателей:
						p 1. Не превышение целевых выбросов парниковых газов (Scope 1+2) по Группе «Татнефть» интегрирован в KPI заместителя генерального директора, ответственного за вопросы экологии и климата в Компании.  Данный показатель декомпозирован до руководителей бизнес-направлений и предприятий, каждый из которых отвечает за непревышение выбросов по своему функциональному направлению.
						p 2. Введение обязательной отчетности по выбросам парниковых газов стало причиной интеграции KPI по срокам и качеству подготовки отчетности о выбросах парниковых газов.
						p 3. Выполнение ключевых проктов, влияющих на снижение выбросов парниковых газов включается в KPI руководителя проекта. 


					.dmpage-text
						p Основные рычаги декарбонизации: 

						ul
							li технологические решения по снижению выбросов — снижение прямых выбросов парниковых газов, сокращение эмиссий метана, повышение энергоэффективности, увеличение уровня утилизации попутного нефтяного газа 
							li улавливание, использование и захоронение СО2 
							li развитие возобновляемой энергетики 
							li биологическое улавливание распределенных выбросов СО2 
							li формирование экологического мировоззрения и вовлечение населения в реализацию ЦУР

						h2 РЕАЛИЗАЦИЯ ПРОГРАММЫ ЦУР 13 И ДЕКАРБОНИЗАЦИЯ КОМПАНИИ ДОСТИГАЕТСЯ ЗА СЧЕТ СОВОКУПНОСТИ ЦУР
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image86.png", alt="")

						h3 ПРОЕКТЫ И ПРОГРЕСС ПО СНИЖЕНИЮ УГЛЕРОДНОГО СЛЕДА

						p Для достижения показателей ЦУР 13 в Компании сформирован портфель проектов, направленных на снижение углеродного следа. Проекты включены в программу «Борьба с изменением климата». В 2022 году увеличен потенциал Программы снижения выбросов парниковых газов с 1,9 млн т СО2-экв. до 2,2 млн т СО2-экв. (16%). Экологический эффект реализации Программы в 2022 году составил 0,7 млн т СО2-экв. 
						p Затраты на реализацию мероприятий в 2022 — 2,4 млрд рублей. Достигнутый эффект за 2021-2022 гг. составил 0,944 млн т СО2-экв*. Целевые показатели по выбросам парниковых газов выполнены по всем бизнес-направлениям Группы «Татнефть». * экологический эффект от реализации Программы снижения выбросов парниковых газов рассчитан как разница между базовой линией (т.е. расчетом выбросов парниковых газов при отсутствии мероприятий) и результатом количественной оценки фактических выбросов парниковых газов, с учетом изменения уровня производственной деятельности. 
						p В расчете учитываются выбросы парниковых газов Scope 1,2, 3.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image85.png", alt="")
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image91.png", alt="")

						h2 ПРОЕКТЫ СНИЖЕНИЯ ПРЯМЫХ И КОСВЕННЫХ ВЫБРОСОВ ПАРНИКОВЫХ ГАЗОВ 


						p Снижение факельного горения за счет изменения технологического режима сепарации на объектах Компании, расширение системы газосбора, повышение уровня полезного использования отходящих газов на АО «ТАНЕКО» позволили сократить выбросы более 400 тыс. т СО2-экв. 
						p Реализация технологии X-Plate на ООО «Нижнекамская ТЭЦ» позволила сократить 15,9 тыс. т СО2-экв. 
						p Использование возобновляемых источников энергии позволило сократить выбросы парниковых газов на 2,4 тыс. т СО2-экв. 
						p Реализован ряд проектов и научных исследований в области CCUS (улавливание, захоронение и использование углекислого газа), потенциал улавливания составил 6,0 млн т СО2. Инвестиционный портфель НИОКР по проекту улавливания — 127,8 млн рублей. 
						p Развитие системы мониторинга выбросов метана путем использования беспилотных летательных аппаратов, позволяющих своевременно получать надежные данные о технологических неисправностях на объектах.

						h2 ПРОЕКТЫ РЕАЛИЗАЦИИ КОМПЕНСАЦИОННЫХ МЕРОПРИЯТИЙ 
						ul
							li Реализация программы по высадке и восстановлению леса. В 2022 году на площади 1 325 га было высажено около 2,2 млн деревьев. За 10 лет реализации программы высажено более 20,5 млн деревьев.

						h2 ПРОЕКТЫ СОВЕРШЕНСТВОВАНИЯ СИСТЕМЫ УЧЕТА ВЫБРОСОВ ПАРНИКОВЫХ ГАЗОВ 
						ul
							li  Увеличен периметр учета косвенных выбросов парниковых газов Scope 3: включены выбросы парниковых газов от авиаперелетов сотрудников. 
							li  Автоматизирован процесс расчетов выбросов парниковых газов по Группе «Татнефть», создано программное обеспечение, объединяющее предприятия Группы и обеспечивающее интеграцию программного обеспечения с системами учета потребления топливно-энергетических ресурсов. 
							li  С целью повышения уровня компетенций в области климата у сотрудников Компании и формирования экологически ориентированного мировоззрения разработаны обучающие курсы: «Симуляция работы в модуле «Парниковые газы», «Климатическая повестка, цели устойчивого развития и позиция компании в области климата».
















block scripts
	




