.secondary .dmpage-h1 {
	font-size: 63.812px !important;
	font-weight: 700 !important;
	line-height: 1.2 !important;
	margin: 70px 0 43px !important;

	@media (max-width: 1200px) {

		font-size: 48px !important;
		line-height: 48px !important;
		margin: 21px 0 38px !important
	}

	@media (max-width: 768px) {

		font-size: 32px !important;
		line-height: 40px !important;
		margin: 21px 0 20px !important;
	}
}

.secondary .container.container--dmpage {
	@media (min-width: 1680px) {
		max-width: 1418px;
	}

	@media (max-width: 1200px) {}

	@media (max-width: 768px) {}
}

.dmpage {
	//width: 1388px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;

	img {
		max-width: 100%;
		height: auto;
	}
}

.dmpage-top {

	&__pic {
		border-radius: 0 0 99px 0;
		overflow: hidden;
		position: relative;


		@media (max-width: 1200px) {
			border-radius: 0px 0px 65.834px 0px;
		}

		@media (max-width: 768px) {}

		img {
			width: 100%;
			border-radius: 0 0 99px 0;
			overflow: hidden;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			object-fit: cover;
			object-position: contain;

			@media (max-width: 1200px) {
				border-radius: 0px 0px 65.834px 0px;
			}

			@media (max-width: 768px) {}
		}

		&::before {
			content: '';
			display: block;
			padding-top: 31.55%;

			@media (max-width: 768px) {
				padding-top: 45%;

			}
		}
	}
}

.dmpage-main {
	margin-top: 52px;

	@media (max-width: 1200px) {
		margin-top: 74px;

	}

	@media (max-width: 768px) {

		margin-top: 33px;
	}

}

.dmpage-detail {
	position: relative;
	//background: #f16161;
	padding-bottom: 653px;




	@media (max-width: 1200px) {
		padding-bottom: 539px;
	}

	@media (max-width: 768px) {

		padding-bottom: 249px;

	}

	&>*:first-child {
		margin-top: 0 !important;
	}

	&>* {
		margin-top: 82px;
	}

	ol,
	p,
	ul,
	li {
		padding: 0 0 0;
		margin: 0;
	}

	a {
		color: #0aa373;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.dmpage-art-1 {
	display: block;
	position: absolute;
	overflow: hidden;
	top: 497px;
	right: calc(50% + 283px);
	height: 354px;
	transform: translateX(-50%);
	width: 274px;
	height: 394px;

	@media (max-width: 1200px) {
		display: none;

	}

	/**
	 * @var		mixed	max-widt
	 */
	@media (max-width: 768px) {}

	img {
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
		width: 781px;
		max-width: unset;
		height: auto;
	}
}

.dmpage-art-2 {
	display: block;
	position: absolute;
	bottom: -39px;
	left: 50%;
	height: 354px;
	width: 872px;
	margin-left: -16px;
	transform: translateX(-50%);
	overflow: hidden;

	@media (max-width: 1200px) {
		max-width: 100%;

		height: 447px;
		width: 874px;
		margin-left: -4px;
		bottom: 0;

	}

	@media (max-width: 768px) {
		height: 146px;
		width: 309px;
		margin-left: 0;
		bottom: 0;
	}

	img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: auto;
	}
}

.dmpage-text,
.dmpage-quote,
.dmpage-accordions-wrap,
.dmpage-small-w-section,
.dmpage-table-section--small {
	width: 685px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;

	@media (max-width: 1200px) {}

	@media (max-width: 768px) {}
}

.dmpage-table-section--small .dmpage-table {
	margin-left: 0;
}



.dmpage-detail .dmpage-text {
	color: #000;
	font-size: 18px;
	line-height: 28px;
	margin-top: 55px;

	@media (max-width: 1200px) {
		font-size: 18px;
		line-height: 28px;
	}

	@media (max-width: 768px) {
		font-size: 16px;
		line-height: 28px;
	}


	>*+*,
	>*+p {
		margin-top: 40px;

		@media (max-width: 1200px) {}

		@media (max-width: 768px) {}
	}

	*+img {
		margin-top: 55px;

		@media (max-width: 1200px) {}

		@media (max-width: 768px) {}
	}

	p {
		font-size: inherit;
		line-height: inherit;
		padding-bottom: 0;

		@media (max-width: 1200px) {}

		@media (max-width: 768px) {}

		&+img {}
	}

	img {
		width: auto;
		max-width: 100%;
		height: auto;
		border-radius: 10px;
		overflow: hidden;

		@media (max-width: 1200px) {}

		@media (max-width: 768px) {}

		&+* {
			margin-top: 33px;

			@media (max-width: 1200px) {}

			@media (max-width: 768px) {}
		}

	}


	&--small {
		color: #989797;
		font-size: 16px;
		line-height: 1.3;
		margin-top: 20px;

		@media (max-width: 1200px) {
			font-size: 14px;
			line-height: 1.3;
		}

		@media (max-width: 768px) {
			font-size: 12px;
			line-height: 1.3;
		}

		>*+*,
		>*+p {
			margin-top: 15px;

			@media (max-width: 1200px) {}

			@media (max-width: 768px) {}
		}

	}

	.cur-types-ul {
		padding-left: 24px;
		color: #515151;

		&__li {
			&::before {
				left: -24px;
				top: 8px;
				width: 14px;
				min-width: 14px;
				height: 14px;
				border-radius: 50%;
			}

			&+li {

				margin-top: 4px;
			}

			&--g {
				&::before {
					background: #00FF0A;
				}
			}

			&--y {
				&::before {
					background: #FFD600;
				}
			}

			&--r {
				&::before {
					background: #FF5C00;
				}
			}

		}


	}
}

.dmpage-quote {
	margin-top: 93px;
	padding: 75px 83px 74px;
	position: relative;
	display: block;
	border-radius: 10px;
	background: rgba(3, 142, 99, 0.07);

	font-size: 18px;
	line-height: 28px;

	@media (max-width: 1200px) {
		margin-top: 68px;
	}

	@media (max-width: 768px) {
		padding: 23px 27px 119px;

		margin-top: 37px;
		margin-left: -15px;
		max-width: calc(100% + 30px);
		border-radius: 0;

		font-size: 16px;
		line-height: 28px;
	}

	&__link {
		display: block;
		width: 52px;
		height: 52px;
		position: absolute;
		top: 19px;
		right: 17px;
		background: url(../img/quote-link.svg) no-repeat center center;
		background-size: contain;
		transition: opacity .3s;

		@media (max-width: 1200px) {
			top: 30px;
			right: 30px;
		}

		@media (max-width: 768px) {
			bottom: 39px;
			top: auto;
			left: 50%;
			margin-left: -26px;

		}

		&:hover {
			opacity: .7;
		}
	}

}

.dmpage-text,
.dmpage-quote {

	ul,
	ol {
		list-style: none;
		padding-left: 15px;
		padding-bottom: 0;
		font-size: inherit;
		line-height: inherit;

		@media (max-width: 768px) {

			border-radius: 0;
		}

		li {
			display: block;
			position: relative;
			padding-bottom: 0;
			list-style: none;
			font-size: inherit;
			line-height: inherit;

			@media (max-width: 768px) {
				border-radius: 0;
			}


			&+li {
				margin-top: 16px;

				@media (max-width: 768px) {
					margin-top: 8px;

				}
			}

		}
	}

	ul {

		li {
			&:before {
				content: "";
				width: 3px;
				height: 3px;
				position: absolute;
				background: #515151;
				border-radius: 50%;
				left: -15px;
				top: 14px;

				@media (max-width: 768px) {
					left: -13px;
					top: 10px;

				}
			}
		}
	}

	ol {

		li {
			&:before {
				left: -10px;
				top: 0;
				position: absolute;

				@media (max-width: 768px) {
					left: -10px;
					top: 0;

				}
			}
		}
	}
}

.dmpage-accordions-wrap {
	margin-top: 100px;

	@media (max-width: 1200px) {
		margin-top: 68px;
	}

	@media (max-width: 768px) {}

	&--cur-oon {
		margin-top: 47px;

		&+.dmpage-accordions-wrap {
			margin-top: 64px;
		}
	}
}

.dmpage .dmpage-accordions-title {
	font-size: 37.016px;
	font-weight: 700;
	line-height: 37.016px;
	margin: 0;

	@media (max-width: 1200px) {
		font-size: 20px;
		font-weight: 600;
		line-height: 28px;
	}

	@media (max-width: 768px) {
		font-size: 18px;
		line-height: 23px;
	}

	&--cur-oon {
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 23px;
		margin-bottom: -6px;
	}
}

.dmpage-accordions {
	margin-top: 35px;

	@media (max-width: 768px) {
		margin-left: -15px;
		max-width: calc(100% + 30px);
		width: calc(100% + 30px);

	}
}

.dmpage-accordion {
	border-radius: 10px;
	overflow: hidden;

	&+.dmpage-accordion {
		margin-top: 13px;
	}

	@media (max-width: 768px) {

		border-radius: 0;
	}


	&--active {

		.dmpage-accordion-head {
			border-radius: 10px 10px 0px 0px;

			@media (max-width: 768px) {

				border-radius: 0;
			}



			&::after {
				transform: rotate(-180deg);
			}

		}
	}

	&--cur-oon {
		.dmpage-accordion-body__text {   
			 padding: 50px 46px 67px;
			 @media (max-width: 768px) {
				padding: 29px 36px 39px;
 
			 }
 
			p {
				margin-left: -11px;

				&+ul {

					margin-top: 13px;
				}
			}

			ul {
				&+p {
					margin-top: 46px;
				}
			}
		}
	}
}


.dmpage-accordion-head {
	border-radius: 10px;
	background: #038E63;
	padding: 23px 130px 21px 40px;
	transition-duration: .3s;
	min-height: 104px;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;

	@media (max-width: 768px) {

		border-radius: 0;

		padding: 26px 119px 25px 20px;
	}


	&--state-green,
	&--state-yellow,
	&--state-red {
		&::before {
			content: '';
			display: block;
			position: absolute;
			border-radius: 50%;
			top: 6px;
			left: 7px;
			width: 14px;
			height: 14px;
			@media (max-width: 768px) {
		
				top: 11px;
				left: 11px;
		
			}
		
		}
	}

	&--state-green::before {

		background: #00FF0A;
	}

	&--state-yellow::before {

		background: #FFD600;
	}

	&--state-red::before {

		background: #FF5C00;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		right: 53px;
		top: 50%;
		margin-top: -9px;
		width: 30px;
		height: 17px;
		background: url(../img/arrow-accordion.svg) no-repeat center center;
		background-size: contain;
		transition-duration: 0.3s;

		@media (max-width: 768px) {

			right: 43px;
		}

	}

	&__text {
		color: #FFF;
		font-size: 22px;


		font-weight: 700;
		line-height: 30px;


		@media (max-width: 768px) {
			font-size: 19px;
			line-height: 25.5px;
		}

	}

	&__cur-icon {
		width: 54px;
		height: auto;
		min-width: 54px;
		display: block;
		margin-right: 23px;
		margin-left: -10px;
		@media (max-width: 768px) {
			margin-left: 17px;
		}

	}

	&--with-icon {
		.dmpage-accordion-head__text {

			font-size: 17px;
			font-style: normal;
			font-weight: 700;
			line-height: 20px;

			@media (max-width: 768px) {
				font-size: 15px;
				font-style: normal;
				font-weight: 700;
				line-height: 20px;
			}
		}
	}
}

.dmpage-accordion-body {
	display: none;
	background: #EDF7F4;
	border-radius: 0px 0px 10px 10px;

	@media (max-width: 768px) {

		border-radius: 0;
	}

	&__text {
		padding: 41px 46px 41px;
		color: #515151;
		font-size: 18px;
		line-height: 28px;

		@media (max-width: 768px) {

			border-radius: 0;
			font-size: 16px;
			line-height: 22px;
			padding: 28px 22px 38px 36px
		}


		ul {
			list-style: none;
			padding-left: 15px;
			padding-bottom: 0;
			font-size: inherit;
			line-height: inherit;

			@media (max-width: 768px) {

				border-radius: 0;
			}

			li {
				display: block;
				position: relative;
				padding-bottom: 0;
				list-style: none;
				font-size: inherit;
				line-height: inherit;

				@media (max-width: 768px) {

					border-radius: 0;

				}

				&:before {
					content: "";
					width: 3px;
					height: 3px;
					position: absolute;
					background: #515151;
					border-radius: 50%;
					left: -15px;
					top: 14px;

					@media (max-width: 768px) {
						left: -13px;
						top: 10px;

					}
				}

				&+li {
					margin-top: 16px;

					@media (max-width: 768px) {
						margin-top: 8px;

					}
				}

			}
		}
	}
}

.dmpage-table-section {
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	margin-top: 72px;

	&+* {
		margin-top: 95px;

		@media (max-width: 1200px) {
			margin-top: 70px;
		}

		@media (max-width: 768px) {}
	}

	@media (max-width: 1200px) {
		margin-top: 62px;
		width: 685px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	@media (max-width: 768px) {}
}

.dmpage .dmpage-table-title {

	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	margin: 0;

	@media (max-width: 1200px) {
		font-size: 20px;
		font-weight: 600;
		line-height: 28px;
	}

	@media (max-width: 768px) {
		font-size: 18px;
		line-height: 23px;
	}
	&--small-w{
		width: 685px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;

	}

}

.dmpage-table-overflow {
	overflow-x: auto;
	width: 100%;

	max-width: 100%;
}

.dmpage-table {
	width: auto;
	max-width: unset;
	border-collapse: separate;
	border-spacing: 0;
	border-collapse: collapse;
	margin-top: 44px;

	margin-left: auto;
	margin-right: auto;

	@media (max-width: 1200px) {
		margin-top: 34px;
	}

	@media (max-width: 768px) {}

	thead {}

	tbody {
		td {
			padding-top: 10px;
			padding-bottom: 10px;

			@media (max-width: 768px) {
				padding-top: 6px;
				padding-bottom: 8px;
			}

			&:first-child {
				padding-left: 0;
			}

		}
	}

	tr {}

	th,
	td {
		padding: 17px 20px;
		text-align: left;
		color: #000;
		font-size: 18px;
		line-height: 28px;
		font-weight: 400;

		@media (max-width: 768px) {
			font-size: 12.329px;
			line-height: 19.179px;
		}

		@media (max-width: 768px) {
			padding: 11px 13px;
		}

		p {
			font: inherit;
		}
	}

	th {
		border-bottom: 1px solid #000;
		vertical-align: top;
		padding-top: 0;
		padding-bottom: 10px;

		@media (max-width: 768px) {
			padding-bottom: 8px;
		}

		&:first-child {
			padding-left: 0;
		}
	}

	td {
		min-width: 118px;

		@media (max-width: 768px) {
			min-width: 80px;
		}
	}



	&__tr {
		&--with-border {

			th,
			td {
				border-bottom: 1px solid #000;
			}
		}
	}

	&--simple {


		th,
		td {
			border-bottom: 1px solid #000;

			&:not(:first-child) {
				border-left: 1px solid #000;

			}
		}

		tr:last-child {

			th,
			td {
				border-bottom: none;
			}
		}
	}

	&__tr--green {
		background: #e6f6f1;

		td:first-child {
			//border-top: 1px solid #000;
			//border-bottom: 1px solid #000;
			padding-left: 20px !important;
		}

	}
}



.dmptable-colgroup-1 {}

.dmptable-colgroup-other {
	background-color: #fff;
	border-left: 1px solid #000;
	width: 354px;

	&--aw {
		width: auto;
	}

}

.dmptable-col-1 {

	width: 316px;
	min-width: 316px;

	@media (max-width: 768px) {
		width: 216px;
		min-width: 216px;
	}

	&--aw {
		width: auto;
		min-width: auto;
	}
}

.dmptable-col-other {}


.dmpage-chart-outer {
	margin-top: 82px;

	@media (max-width: 1200px) {
		margin-top: 73px;

	}

	@media (max-width: 768px) {
		margin-top: 63px;
	}

	&+* {
		margin-top: 82px;

		@media (max-width: 1200px) {

			margin-top: 73px;
		}

		@media (max-width: 768px) {
			margin-top: 63px;
		}
	}
}

.dmpage .dmpage-chart-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	margin: 0;

	@media (max-width: 1200px) {
		font-size: 20px;
		font-weight: 600;
		line-height: 28px;
	}

	@media (max-width: 768px) {

		font-size: 10.676px;
		line-height: 14.946px;
	}
}

.dmpage-chart-flex {
	display: flex;
	margin-top: 48px;
	margin-top: 22px;
}

.dmpage-chart-doughnut {
	width: 353px;
	max-width: 60%;

	@media (max-width: 768px) {

		max-width: 353px;
		width: calc(100% - 169px);
	}

	canvas {}
}


.dmpage-chart-bubbles {
	width: 353px; 
	max-width: 100%;
	margin-top: -100px !important;

	@media (max-width: 768px) { 
	}

	canvas {}
}

.dmpage-chd-legend {
	margin-left: 55px;
	margin-top: 23px;
	width: calc(100% - 353px - 55px);


	@media (max-width: 768px) {
		width: calc(100% - 169px - 28px);

		margin-left: 28px;
		margin-top: 14px;
	}
}

.dmpage-chd-legend-item {
	display: flex;
	align-items: center;

	&__color {
		display: block;
		border-radius: 50%;
		min-width: 13px;
		width: 13px;
		height: 13px;
		margin-right: 10px;

		@media (max-width: 768px) {
			width: 7px;
			height: 7px;
			min-width: 7px;
			margin-right: 5px;
		}
	}

	&__name {
		font-size: 18px;
		line-height: 1.2;

		@media (max-width: 768px) {
			font-size: 9.608px;
		}
	}

	&+.dmpage-chd-legend-item {
		margin-top: 12px;

		@media (max-width: 768px) {
			margin-top: 6.5px;
		}
	}
}

.dmchartjs-tooltip {
	transition: opacity .3s;
	transform: translateY(-50%);

	@media (max-width: 768px) {}

	&:not(.dmchartjs-tooltip--centred) {
		margin-left: 14px;

		@media (max-width: 768px) {
			margin-left: 7px;
		}
	}

	&--centred {
		transform: translate(-50%, -71px);

		@media (max-width: 1200px) {
			transform: translate(-50%, calc(-100% - 21px));
		}

		.dmchartjs-tooltip-outer {
			&::before {
				left: 50%;
				top: 100%;
				margin-top: -2px;
				transform: translateX(-50%);
				border-width: 15px 7.5px 0 7.5px;
				border-color: #eaeaea transparent transparent transparent;

				@media (max-width: 768px) {}
			}
		}

		&--no-arrow {
			.dmchartjs-tooltip-outer {
				&::before {
					opacity: 0 !important;
				}
			}
		}
	}

}

.dmchartjs-tooltip-outer {
	position: relative;

	&::before {
		content: '';
		display: block;
		position: absolute;
		left: -14px;
		top: 50%;
		transform: translateY(-50%);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 7.5px 18px 7.5px 0;
		border-color: transparent #eaeaea transparent transparent;
		transition: opacity .3s;

		@media (max-width: 768px) {

			left: -7px;
		}
	}
}

.dmchartjs-tooltip-inner {
	display: flex;
	align-items: center;
	border-radius: 10px;
	background: #EAEAEA;

	font-family: Montserrat, sans-serif;
	color: #000;
	font-size: 12.253px;
	line-height: 20px;
	padding: 12px 11px 12px 14px;
	position: relative;
	z-index: 3;

	@media (max-width: 768px) {
		font-size: 6.541px;
		line-height: 1.2;
		padding: 8px 6px 8px 6.5px;
		border-radius: 5.338px;

	}
}

.dmchartjs-tooltip-color {
	display: block;
	border-radius: 50%;
	min-width: 13px;
	width: 13px;
	height: 13px;
	margin-right: 8px;

	@media (max-width: 768px) {
		width: 7px;
		height: 7px;
		min-width: 7px;
		margin-right: 6px;

	}
}

.dmchartjs-tooltip-title {
	order: 99;
}

.dmchartjs-tooltip-value {
	order: 100;
	font-weight: 700;
	margin-left: 6px;

	@media (max-width: 768px) {}
}

.dmpage-chart-bar-wrap {
	overflow: hidden;
}

.dmpage-chart-bar {
	margin-top: 26px;
	margin-left: -25px;
	margin-right: -20px;

	@media (max-width: 768px) {}
}


.dmpage-chart-bubbles {
	margin-top: 26px;

	@media (max-width: 768px) {}
}

h1.red {
	color: red;
	font-size: 40px;
	line-height: 1.5;
}

.dmpage-chart-bar--2 {
	//2

	margin-left: -95px;
	margin-right: -85px;
}

.dmpage-chart-bar--3 {
	//3

	margin-left: -60px;
	margin-right: -55px;
}

.dmpage-chart-bar--4 {
	//4

	margin-left: -45px;
	margin-right: -40px;
}

.dmpage-chart-bar--5 {
	//5!!!!

	margin-left: -38px;
	margin-right: -30px;
}



.dmpage-chart-bar--6 {
	//6

	margin-left: -30px;
	margin-right: -25px;
}

.dmpage-chart-bar--7 {
	//7

	margin-left: -29px;
	margin-right: -22px;
}

.dmpage-chart-bar--8 {
	//8

	margin-left: -26px;
	margin-right: -18px;
}

.dmpage-chart-bar--9 {
	//9

	margin-left: -24px;
	margin-right: -17px;
}

.dmpage-chart-bar--10 {
	//10

	margin-left: -23px;
	margin-right: -15px;
}

.dmpage-chart-bar--11 {

	margin-left: -22px;
	margin-right: -14px;
}

.dmpage-chart-bar--12 {

	margin-left: -20px;
	margin-right: -12px;
}

.dmpage-chart-bar--13 {

	margin-left: -18px;
	margin-right: -10px;
}

.dmpage-chart-bar--very-lot {
	margin-left: 0;
	margin-right: 0;

}