extends ../../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Рациональное использование отходов

			h1.dmpage-h1 Рациональное использование отходов

		.dmpage
			include ../../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-2.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/ekologiya/obrashenie-s-othodami.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/ekologiya/obrashenie-s-othodami.html") К началу раздела
						a.dmpage-menu-item(href="pokazateli.html") Показатели обращения с отходами
						a.dmpage-menu-item.dmpage-menu-item--active(href="dostizhenie-celej-cur-12.html") Рациональное использование отходов


			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						p Компания развивает модель рационального потребления и циркулярной экономики, основанную на бережном отношении к потреблению и распределению всех видов ресурсов (природных, людских, финансовых), применяет методы оценки эффективности управления ресурсами, учитывает ресурсный потенциал производственных процессов по всей цепочке создания стоимости и жизненному циклу выпускаемой продукции и услуг. 
						p Это позволяет снижать природоемкость экономического роста с повышением эффективности производственных процессов и сохранить природные ресурсы для следующих поколений.
						p В рамках реализации ЦУР 12 установлены цели до 2030 года, направленные на обеспечение ответственного и эффективного потребления ресурсов и устойчивых средств производства. На 2022 год для предприятий Группы «Татнефть» установлен целевой показатель доли отходов, направляемых на утилизацию и повторное использование от общего объема отходов — 64,8%. По снижению технологических потерь на 2022 год был установлен целевой показатель 13,6%. Целевой показатель по Группе «Татнефть» достигнут опережением, технологические потери сокращены в сравнении с базовым 2020 годом на 35,21%.
						h3 Доля отходов, направляемых на утилизацию и повторное использование, %
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image40.jpg", alt="")
						p Доля отходов, направляемых на утилизацию и повторное использование от общего объема отходов, увеличилась, в том числе, за счет включения новых предприятий в состав Группы «Татнефть».
						//h2 УВЕЛИЧЕНИЕ ДОЛИ УТИЛИЗИРУЕМЫХ И ПОВТОРНО ИСПОЛЬЗУЕМЫХ ОТХОДОВ ДО 50% К 2025 ГОДУ, ДО 70% К 2030 ГОДУ

					.dmpage-accordions-wrap
						.dmpage-accordions
							.dmpage-accordion
								.dmpage-accordion-head
									.dmpage-accordion-head__text Достижение целей устойчивого развития
								.dmpage-accordion-body
									.dmpage-accordion-body__text
										img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/pravki_03_23/sdg_12.jpg", alt="")
									//	h3 РЕЗУЛЬТАТЫ РЕАЛИЗАЦИИ ЦЕЛЕЙ, %
										img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image49.jpg", alt="")
										img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image43.jpg", alt="")


					.dmpage-text
						h2 ПРОЕКТЫ ПО ВНЕДРЕНИЮ ЦИРКУЛЯРНОЙ ЭКОНОМИКИ И ОТВЕТСТВЕННОМУ ПОТРЕБЛЕНИЮ
						ul 
							li Строительство газотурбинной установки на Нижнекамской ТЭЦ — в результате модернизации установленная мощность станции увеличится, а переход на парогазовую технологию позволит снизить себестоимость вырабатываемой электроэнергии. Завершение строительства планируется в 2024 году.
							li Пиролиз древесной биомассы с целью получения биоойла (компонент для получения топлива) и биочара (удобрение для сельского хозяйства). 
							li Реконструкция криогенной установки по глубокой переработке сухого отбензиненного газа с выпуском новых продуктов. 
							li Разработка и опробование пиролиза резиновой крошки, установки производства резиномодифицированного битума, установки гидроконверсии тяжелых нефтяных остатков. 
							li Вторичное использование железобетонного боя, направление на вторичное использование макулатуры, отработанного растительного и моторного масла, бутылок ПЭТ, отработанных шин, переработка технологических отходов стеклопластиков и производство новых видов товарной продукции.
							li В учебных годах организована работа в школах города Альметьевск, школах и детских садах п.г.т. Актюбинский, с. Мальбагуш Азнакаевского района по сбору ПЭТФ-бутылок, полиэтилена и полипропилена. Собрано более 7,7 тыс. тонн вторсырья. Для этих целей Компания передала 249 контейнеров для сбора вторсырья.
							li Циркулярный лес — проект по выращиванию в теплице саженцев с последующей их пересадкой в лес. Древесина, полученная от взрослых деревьев, перерабатывается для получения биотоплива. И тепло, и углекислый газ, полученные в результате переработки, будут использоваться в теплицах, где снова будут выращиваться саженцы.
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/prilozheniya/processed_new_pictures/image36.png", alt="")







block scripts
	




