
.dmpage-text
	p В целях повышения эффективности работы по созданию безопасных и здоровых условий труда в Компании ежегодно заключаются Соглашения по охране труда, которые регулируют отношения между работодателем и работниками и определяют взаимную ответственность сторон, а также планирование, обеспечение и проведение разнообразных мероприятий по охране труда.
	p На проведение мероприятий по охране труда, предусмотренных Соглашениями по охране труда, в 2022 году направлено более 1,9 млрд рублей. Затраты на 1 работника составили 29,1 тыс. рублей.
	

.dmpage-chart-outer.dmpage-small-w-section
	h3.dmpage-chart-title Расходы на охрану труда, тыс. руб.


	.dmpage-chart-bar-wrap
		#chart-bar-200-4-1.dmpage-chart-bar.js-dmpage-chart-bar
			canvas

.dmpage-text
	p С целью разработки и реализации мероприятий, направленных на улучшение условий труда работников, снижения рисков воздействия вредных и опасных производственных факторов в Компании проводится специальная оценка условий труда: плановая – 1 раз в 5 лет и внеплановая специальная оценка условий труда на рабочих местах в структурных подразделениях Компании. В 2022 году проведена специальная оценка условий труда на 12 964 рабочих местах. По результатам специальной оценки условий труда разработаны мероприятия по улучшению условий труда на рабочих местах.

.dmpage-quote
	a.dmpage-quote__link(target="_blank" href="https://www.tatneft.ru/userfiles/files/%D0%A1%D0%B2%D0%BE%D0%B4%D0%BD%D1%8B%D0%B5%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%A1%D0%9E%D0%A3%D0%A2.pdf")
	|  Сводные данные о результатах проведения специальной оценки условий труда


.dmpage-chart-outer.dmpage-small-w-section
	h3.dmpage-chart-title Специальная оценка условий труда
	.dmpage-chart-flex
		#chart-doughnut-200-4-2.dmpage-chart-doughnut.js-dmpage-chart-doughnut
			canvas
		.dmpage-chd-legend

.dmpage-text
	p 
		b Профилактика профессиональных заболеваний
	p В целях обеспечения здоровых условий труда, выполнения требований санитарных норм и правил к технологическим процессам, оборудованию, транспорту, организации рабочих мест, режимам труда, отдыха и санитарно-бытовому обслуживанию, предупреждения воздействия на здоровье вредных и опасных факторов, предупреждения профессиональных заболеваний работников на рабочих местах осуществляется производственный контроль за соблюдением санитарных правил. В 2022 году проведены санитарно-гигиенические исследования рабочих мест на сумму 37,8 млн рублей.
	p Ежегодно в соответствии с требованиями законодательства, в целях динамического наблюдения за состоянием здоровья работников, своевременного выявления начальных форм профессиональных заболеваний, ранних признаков воздействия вредных и (или) опасных производственных факторов рабочей среды, трудового процесса на состояние здоровья работников, выявления медицинских противопоказаний к осуществлению отдельных видов работ, проводятся обязательные периодические медицинские осмотры работников, психиатрические освидетельствования (в том числе, в части наркологических заболеваний).


.dmpage-chart-outer.dmpage-small-w-section
	h3.dmpage-chart-title Затраты на проведение медицинских осмотров, млн руб.



	.dmpage-chart-bar-wrap
		#chart-bar-200-4-3.dmpage-chart-bar.js-dmpage-chart-bar
			canvas

.dmpage-text
	p Действуют программы добровольного медицинского страхования, реабилитационно-восстановительного лечения и санаторного оздоровления работников. Для снижения заболеваний опорно-двигательного аппарата на рабочих местах со значительными физическими нагрузками используются поясничные экзоскелеты.
	p В целях профилактики и нивелирования возможных последствий пандемии COVID-19 продолжается работа по предупреждению заболеваемости. Осуществляется реабилитация сотрудников, переболевших COVID-19.
	
