
.dmpage-quote
	a.dmpage-quote__link(target="_blank" href="img/politika_v_oblasti_promyshlennoi_bezopasnosti.pdf")
	|  Заявление о политике ПАО «Татнефть» им. В.Д. Шашина в области промышленной безопасности



.dmpage-text
	img(src="img/zayavlenie-tn-v-oblasti-pb-rus.jpg", alt="")
	p Главная ценность – жизнь и здоровье работников
	p Татнефть традиционно привержена позициям ответственного ведения бизнеса, поэтому всегда уделяет значительное внимание промышленной безопасности, охране труда и окружающей среды.
	p Компания реализует эффективную политику промышленной и экологической безопасности,основанную на принципе приоритета человеческой жизни и превентивных мер по недопущению аварийных ситуаций. Подход к безопасности реализуется во всех производственных процессах, в работе собственного персонала и подрядчиков с приоритетом охраны здоровья.
	p Исполнение требований безопасности заложено в основу разработанной «Стратегии развития Группы «Татнефть» в области промышленной безопасности, охраны труда и окружающей среды до 2030 года», которая была сформирована с учетом приоритетных целей устойчивого развития, требований системы управления промышленной безопасности и охраны труда. Стратегия содержит системное описание долгосрочных ориентиров развития и охватывает все бизнес-направления.
	p Ключевые приоритеты
	ul 
		li Признание прав человека на безопасные условия труда, благоприятную окружающую среду и благоприятные условия жизнедеятельности
		li Обеспечение промышленной и экологической безопасности производственных процессов, как составной части национальной безопасности
		li Риск-ориентированный подход при обеспечении охраны труда, промышленной и экологической безопасности
.dmpage-quote
	p 
		b 10,26 млрд рублей
		|  направлено на реализацию мероприятий по промышленной, пожарной безопасности и охране труда
.dmpage-text
	p Компания «Татнефть» ставит перед собой стратегическую цель по достижению безаварийной производственной деятельности, безопасных условий труда работников Компании, а также сохранения благоприятной окружающей среды для нынешнего и будущих поколений.
.dmpage-table-section
	h3.dmpage-table-title.dmpage-table-title--small-w Цели по промышленной безопасности и охране труда
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th
						p Показатель
					th
						p 2020 
						p цель
					th
						p 2020
						p факт
					th
						p 2021 
						p цель
					th
						p 2021
						p факт
					th
						p 2022
						p цель
					th
						p 2022
						p факт
					th
						p 2023
						p цель
			tbody
				tr
					td
						p Коэффициент частоты производственного травматизма (Кч)
					td
						p 0,40
					td
						p 0,34
					td
						p 0,36
					td
						p 0,32
					td
						p 0,43
					td
						p 0,39
					td
						p 0,38
				tr
					td
						p Коэффициент частоты травматизма при ДТП (Кдтп)
					td
						p 0,32
					td
						p 0,06
					td
						p 0,30
					td
						p 0,06
					td
						p 0,28
					td
						p 0,00
					td
						p 0,26
				tr
					td
						p Коэффициент частоты пожаров (Кп)
					td
						p 0,24
					td
						p 0,06
					td
						p 0,23
					td
						p 0,03
					td
						p 0,21
					td
						p 0,06
					td
						p 0,20
				tr
					td
						p Коэффициент частоты аварий (Ка)
					td
						p 0,47
					td
						p 0,13
					td
						p 0,42
					td
						p 0,02
					td
						p 0,38
					td
						p 0,04
					td
						p 0,35
				tr
					td
						p Коэффициент тяжести производственного травматизма (Кт)
					td
						p 193
					td
						p 85,12
					td
						p 170
					td
						p 91,60
					td
						p 155
					td
						p 92,7
					td
						br
						p 147

.dmpage-text
	p В 2022 году для реализации стратегических целей развития в области промышленной безопасности и охраны труда актуализирована «Программа (комплексный план мероприятий) Группы «Татнефть» в области промышленной безопасности и охраны труда по недопущению травм, снижению риска, аварийности и внеплановых потерь на 2022-2024 гг.». На реализацию мероприятий в области промышленной безопасности и охраны труда по недопущению травм, снижению риска, аварийности и внеплановых потерь» было направлено 10,26 млрд рублей.
	

.dmpage-chart-outer.dmpage-small-w-section
	h3.dmpage-chart-title Расходы на охрану труда и обеспечение промышленной и пожарной безопасности, млн руб.

	.dmpage-chart-bar-wrap
		#chart-bar-200-3.dmpage-chart-bar.js-dmpage-chart-bar
			canvas
