
.dmpage-text
	p Система управления охраной труда содержит комплекс взаимосвязанных элементов, устанавливающих политику и цели в области охраны труда и процедуры по достижению этих целей. Общие требования к организации работы по охране труда, принципам и методам управления, задачам, правам, обязанностям и ответственностью по созданию здоровых и безопасных условий труда устанавливает «Положение о системе управления охраной труда».
	p В Компании действует Комитет по охране труда, в функции которого входит организация совместных действий исполнительных органов и профсоюзного комитета по обеспечению требований охраны труда, предупреждению производственного травматизма и профессиональных заболеваний и сохранению здоровья работников. В состав Комитета на паритетной основе входят 16 человек – по 8 представителей с каждой из сторон партнёрства. Так же, совместные комитеты по охране труда созданы в каждом структурном подразделении Компании.
	p Комитет по охране труда организует проведение проверок условий и охраны труда, информирует работников о результатах указанных проверок, осуществляет сбор предложений к разделу об охране труда коллективного договора. Уполномоченные по охране труда, избираемые профсоюзными организациями подразделений, содействуют созданию здоровых и безопасных условий труда, а также осуществляют общественный контроль за состоянием условий труда на рабочих местах.
	p 
		b Обучение в области охраны труда и промышленной безопасности
	p В целях обеспечения профилактических мер по сокращению производственного травматизма и профессиональных заболеваний в Компании действует «Положение об организации обучения и проверки знаний требований охраны труда, подготовки и аттестации по промышленной безопасности работников».
	p Руководители и специалисты проходят специальное обучение по охране труда в образовательных учреждениях и учебных центрах в течение первого месяца при поступлении на работу, далее – по мере необходимости, но не реже одного раза в три года, прочие работники - в комиссиях по проверке знаний требований охраны структурных подразделений, предприятий, по утвержденным программам обучения.
	p Все работники рабочих профессий, после первичного инструктажа на рабочем месте и стажировки перед допуском к самостоятельной работе, проходят проверку знаний требований охраны труда. Очередная проверка знаний работников проводится с периодичностью не реже 1 раза в 12 месяцев. Работники, связанные с выполнением работ или обслуживанием опасных производственных объектов, установок, в том числе электроустановок, оборудования, являющегося источником повышенной опасности, иных объектов повышенной опасности, проходят первичную и периодическую проверку знаний по безопасности труда в сроки, установленные соответствующими регламентирующими документами.
.dmpage-quote
	p 
		b 113,5 млн руб.
		|   затраты на обучение в области охраны труда и промышленной безопасности
.dmpage-table-section.dmpage-table-section--small
	h3.dmpage-table-title Обучение в области охраны труда и промышленной безопасности, чел.
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th
					th
						p 2020
					th
						p 2021
					th
						p 2022
			tbody
				tr
					td
						p Обучение и аттестация по промышленной безопасности 
					td
						p 1 286
					td
						p 3 188 
					td
						p 10 192
				tr
					td
						p Обучение по охране труда
					td
						p 5 156
					td
						p 10 241
					td
						p 14 226
				tr
					td
						p Обучение по рабочим специальностям
					td
						p 5 542
					td
						p 3 653
					td
						p 7 303
				tr
					td
						p Обучение на курсах повышения квалификации
					td
						p 1 862
					td
						p 8 170 
					td
						p 12 129
				tr
					td
						p Аттестация сварочного персонала
					td
						p 179
					td
						p 301
					td
						p 914
				tr
					td
						p Обучение и аттестация членов НАСФ
					td
						p 286
					td
						p 474
					td
						p 316
				tr
					td
						p Обучение и подготовка по разным направлениям
					td
						p 963
					td
						p 3 252
					td
						p 4 911
	
