
.dmpage-text
	h2.block-section-name  Производственный травматизм
	p Компания принимает на себя ответственность за сохранение жизни и здоровья людей, независимо от того, являются ли они сотрудниками Компании или подрядчиками. Компания прилагает все усилия по снижению вероятности возникновения факторов, связанных с профессиональными рисками, при выполнении работ на производственных объектах, для все работников.  По каждому несчастному случаю, связанному с производственными травмами, проводится расследование обстоятельств и принимаются оперативные меры для устранения последствий таких инцидентов.
	p В соответствии с миссией и для реализации политики в области промышленной безопасности, охраны труда и окружающей среды утверждена Стратегия развития в области промышленной безопасности, охраны труда и окружающей среды Группы «Татнефть» до 2030 г., которая конкретизирует цели и обязательства Компании в этом направлении.
.dmpage-table-section
	h3.dmpage-table-title.dmpage-table-title--small-w Производственный травматизм по тяжести последствий
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th
					th
						p 2020
					th
						p 2021
					th
						p 2022
			tbody
				tr
					td
						p Несчастные случаи, шт.
					td
						p 17
					td
						p 20
					td
						p 26
				tr
					td
						p Пострадавшие при несчастных случаях, чел.
					td
						p 17
					td
						p 22
					td
						p 27
				tr
					td
						p Легкие несчастные случаи, чел.
					td
						p 10
					td
						p 11
					td
						p 20
				tr
					td
						p Тяжелые несчастные случаи, чел.
					td
						p 7
					td
						p 9
					td
						p 6
				tr
					td
						p Погибшие при несчастных случаях, чел.
					td
						p 0
					td
						p 2
					td
						p 1
.dmpage-text
	p В Группе «Татнефть» в 2022 году зарегистрировано 26 несчастных случаев, из них - 1 со смертельным исходом, число пострадавших - 27 человек.
	p Рост количества несчастных случаев и дней нетрудоспособности обусловлен вхождением в состав Группы «Татнефть» сервисных активов, производственная деятельность которых связана с высоким риском производственного травматизма и аварийности. В целях недопущения несчастных случаев на рабочих местах, по результатам расследований разработано и реализовано 202 мероприятия.
.dmpage-table-section
	h3.dmpage-table-title.dmpage-table-title--small-w Производственный травматизм по бизнес-направлениям
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th(rowspan='2')
						p Год
					th(rowspan='2')
						p Количество несчастных случаев 
						p (со смертельным исходом)
					th(colspan='6')
						p бизнес-направления
				tr
					th(style="display:none;")
					th
						p Разведка и добыча
					th
						p Ремонт и бурение
					th
						p Нефтегазопереработка
					th
						p Энергетика
					th
						p Нефтегазо-химия
					th
						p Прочие бизнес-направления
			tbody
				tr
					td
						p 2020
					td
						p 17 (0)
					td
						p 3 (0)
					td
						p 1 (0)
					td
						p 3 (0)
					td
						p 0 (0)
					td
						p 1 (0)
					td
						p 9 (0)
				tr
					td
						p 2021
					td
						p 20 (2)
					td
						p 1 (0)
					td
						p 0 (0)
					td
						p 5 (0)
					td
						p 1 (0)
					td
						p 0 (0)
					td
						p 13 (2)
				tr
					td
						p 2022
					td
						p 26 (1)
					td
						p 2 (0)
					td
						p 10 (0)
					td
						p 4 (0)
					td
						p 0 (0)
					td
						p 2 (0)
					td
						p 8 (1)
.dmpage-table-section
	h3.dmpage-table-title.dmpage-table-title--small-w Производственный травматизм по полу, чел.
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th(rowspan='2')
						p Год
					th(colspan='3')
						p Количество пострадавших при несчастных случаях 
						p (со смертельным исходом)
				tr
					th(style="display:none;")
					th
						p Общее
					th
						p из них
						p мужчин
					th
						p из них
						p женщин
			tbody
				tr
					td
						p 2020
					td
						p 17 (0)
					td
						p 14 (0)
					td
						p 3 (0)
				tr
					td
						p 2021
					td
						p 22 (2)
					td
						p 15(1)
					td
						p 7(1)
				tr
					td
						p 2022
					td
						p 27
					td
						p 21 (1)
					td
						p 6 (0)
.dmpage-table-section.dmpage-table-section--small
	h3.dmpage-table-title Показатели производственного травматизма
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th
						p показатель
					th
						p 2020
					th
						p 2021
					th
						p 2022
			tbody
				tr
					td
						p Коэффициент частоты травматизма на 1000 работников
					td
						p 0,34
					td
						p 0,32
					td
						p 0,39
				tr
					td
						p Коэффициент тяжести травматизма
					td
						p 85,12
					td
						p 91,6
					td
						p 92,7
				tr
					td
						p Общий коэффициент уровня производственного травматизма
					td
						p 31,58
					td
						p 32,41
					td
						p 37,71
				tr
					td
						p Коэффициент травматизма с летальным исходом на 1000 работников
					td
						p 0
					td
						p 0,03
					td
						p 0,015
				tr
					td
						p Коэффициент частоты травматизма
						p (LTIFR на 1 млн часов отработанного времени) 
					td
						p 0,2
					td
						p 0,2
					td
						p 0,22
.dmpage-text
	p При расчете показателей использовалась списочная численность работников.
	p К категории работников, сопряженной с высоким риском травматизма, относятся работники, занятые при выполнении работ на высоте и при работе с движущимися машинами и механизмами.
.dmpage-table-section.dmpage-table-section--small
	h3.dmpage-table-title Количество дней временной нетрудоспособности в результате несчастных случаев 
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th
						p год
					th
						p Всего
					th
						p из них мужчин 
						p (в среднем на 
						p одного пострадавшего)
					th
						p из них женщин 
						p (в среднем на 
						p одну пострадавшую)
			tbody
				tr
					td
						p 2020
					td
						p 1 765
					td
						p 1 583 (113,1)
					td
						p 182 (60,7)
				tr
					td
						p 2021
					td
						p 2 106
					td
						p 1 741 (116,1)
					td
						p 365 (52,2)
				tr
					td
						p 2022
					td
						p 2 504
					td
						p 1 977 (94,14)
					td
						p 527 (87,8)
.dmpage-table-section.dmpage-table-section--small
	h3.dmpage-table-title Профессиональные заболевания
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th
						p год
					th
						p Всего случаев
					th
						p из них
						p мужчин
					th
						p из них
						p женщин
			tbody
				tr
					td
						p 2020
					td
						p 1
					td
						p 1
					td
						p 0
				tr
					td
						p 2021
					td
						p 0
					td
						p 0
					td
						p 0
				tr
					td
						p 2022
					td
						p 0
					td
						p 0
					td
						p 0
.dmpage-text
	p В Компании действуют единые требования к поведению работников подрядных организаций при выполнении работ на объектах Группы «Татнефть». Координация деятельности Компании с подрядными организациями осуществляется в соответствии со Стандартом порядка допуска подрядных организаций и организации безопасного производства работ, направленным на реализацию требований ISO 14001:2015, ISO 45001:2018, «Правил безопасности в нефтяной и газовой промышленности», «Правил по охране труда».
	p Компания осуществляет комплексный подход к оценке квалификации персонала подрядных организаций и проверке его знаний по вопросам промышленной безопасности и требований охраны труда до установления договорных отношений и в процессе их реализации, что является ключевым фактором при обеспечении безопасности производства. В 2022 году перед допуском к работе проведена проверка знаний более 28 тыс. работников подрядных организаций.

	
	p В договоры с подрядчиками включаются обязательства по соблюдению правил охраны труда и промышленной безопасности. На объектах Компании ведется постоянный мониторинг выполнения договорных отношений, соблюдения требований российского законодательства и локальных нормативных документов Компании подрядчиком.

.dmpage-quote
	a.dmpage-quote__link(target="_blank" href="img/poryadok_dopuska_podryadnyh_organizacii.pdf")
	|  Порядок допуска подрядных организаций и организация безопасного производства работ
.dmpage-table-section.dmpage-table-section--small
	h3.dmpage-table-title Динамика производственного травматизма подрядных организаций на объектах Компании
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th
						p Год
					th
						p Количество несчастных случаев
						p (со смертельным исходом)
					th
						p Количество пострадавших при несчастных случаях
			tbody
				tr
					td
						p 2020
					td
						p 19 (6)
					td
						p 19
				tr
					td
						p 2021
					td
						p 17(4)
					td
						p 17
				tr
					td
						p 2022
					td
						p 17 (2)
					td
						p 17
.dmpage-text
	h3 Работы, связанные с повышенной опасностью 
	p К работам повышенной опасности, сопряженной с высоким риском травматизма, относятся виды трудовой деятельности, которые несут с собой риски для здоровья персонала, производимые в местах действия вредных и опасных производственных факторов. Для минимизации вероятности производственных травм и возникновения аварийных ситуаций ежегодно разрабатываются и утверждаются перечни работ повышенной опасности в соответствии с классификацией условий труда.
	p К работам с повышенной опасностью допускаются лица не моложе 18 лет, прошедшие медицинское освидетельствование, первичный и вводный инструктажи на рабочем месте, обучение по специальной программе и аттестованные постоянно действующей экзаменационной комиссией предприятия подразделения.  Работы повышенной опасности осуществляются в соответствии с нарядом-допуском, определяющим содержание, место, время и условия производства работ, необходимые меры безопасности, состав бригады и лиц, ответственных за безопасность работ.
	