
.dmpage-text
	h2.block-section-name Система управления
	p Компания поддерживает и непрерывно совершенствует интегрированную систему управления в области промышленной безопасности, охраны труда и окружающей среды, с учетом законодательных требований и положений международных стандартов ISO 45001:2018 «Системы менеджмента безопасности труда и охраны здоровья. Требования и руководство по использованию», ISO 14001:2015 «Система экологического менеджмента».
	p Интегрированная система управления состоит из трех основных направлений:
	img(src="img/block-4/1.jpg", alt="")
	p На операционном уровне система управления в области промышленной безопасности, охраны труда и окружающей среды (ПБОТОС) обеспечивается двумя функциональными подразделениями:
	ul 
		li управление промышленной безопасности и охраны труда
		li управление охраны окружающей среды и экологии*
.dmpage-text.dmpage-text--small * подробнее о системе экологического менеджмента в разделе «Окружающая среда»
.dmpage-table-section
	h4.dmpage-table-title.dmpage-table-title--small-w Система управления промышленной безопасности и охраны труда охватывает все основные уровни управления. 
	.dmpage-table-overflow
		table.dmpage-table.dmpage-table--simple
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			tbody
				tr
					td
						p Стратегический уровень
					td
						p Совет директоров
					td
						ul
							li
								| определяет политику в области промышленной безопасности, охраны труда и окружающей среды, устанавливает стратегические цели и направления развития
							li контролирует реализацию политики
				tr
					td(rowspan='2')
						p Операционный уровень
					td
						p Управление промышленной безопасности и охраны труда
					td
						ul
							li
								| осуществляет общее руководство, организацию и координацию работ по постоянному улучшению системы управления в области промышленной безопасности и охраны труда
				tr
					td(style="display:none;")
					td
						p Комитет по охране труда 
					td
						ul
							li
								| организация совместных действий исполнительных органов и профсоюзного комитета по обеспечению требований охраны труда
							li
								| предупреждение производственного травматизма и профессиональных заболеваний и сохранению здоровья работников
				tr
					td
						p Внутренняя оценка
					td
						p Управление внутреннего аудита
					td
						ul
							li
								| осуществляет независимую оценку надежности и эффективности системы управления рисками в области промышленной безопасности и охраны труда на корпоративном уровне и уровне бизнес-процессов (отчеты о результатах проверок направляются руководству Компании и Комитету по аудиту)
				tr
					td
						p Независимый контроль
					td
						p Уполномоченные по охране труда профсоюза «Татнефть»
					td
						ul
							li
								| осуществляют общественный контроль за состоянием условий труда на рабочих местах
							li содействуют созданию здоровых и безопасных условий труда


.dmpage-text
	p Документы, регулирующие систему управления в области промышленной безопасности, охраны труда и окружающей среды:
	ul 
		li Политика ПАО «Татнефть» им. В.Д. Шашина в области промышленной безопасности, охраны труда и окружающей среды с учётом изменения климата
		li Положение «О системе управления промышленной безопасностью в Группе «Татнефть» 
		li Положение «О системе управления охраной труда ПАО «Татнефть»
		li Положение «О производственном контроле за соблюдением требований промышленной безопасности на опасных производственных объектах ПАО «Татнефть»
		li Процедура по управлению рисками и возможностями системы менеджмента в области промышленной безопасности, охраны труда и окружающей среды в Группе «Татнефть»
		li Процедура по внутреннему аудиту системы менеджмента в области промышленной безопасности, охраны труда и окружающей среды в Группе «Татнефть»
		li Руководство по системе менеджмента промышленной безопасности, охраны труда и окружающей среды Группы «Татнефть»
		li Положение «О порядке проведения технического расследования причин инцидентов на опасных производственных объектах ПАО «Татнефть»
	p В Компании на системной основе организованы производственный контроль за соблюдением требований промышленной безопасности, внутренние аудиты системы менеджмента, проводится анализ и обработка результатов происшествий и проверок, обеспечивается разработка и контроль за реализацией корректирующих и предупреждающих действий. Для обеспечения таких функций организована работа постоянно действующих комиссий по охране труда, комиссии производственного контроля, пожарно-технической комиссии и группы внутреннего аудита интегрированной системы менеджмента.
	p Важным инструментом управления промышленной безопасностью и охраной труда являются ключевые правила безопасности, предъявляющие единые требования к поведению работников Компании при выполнении ими трудовых функций, а также работников подрядных организаций при выполнении работ на объектах Группы «Татнефть» (более подробно о взаимодействии с подрядными организациями в разделе «Цепочка поставок»).
	p Идентификация опасности, оценка рисков и расследование инцидентов
	p Для реализации принципов корпоративной ответственности и риск-ориентированного подхода в Компании действует Процедура по управлению рисками и возможностями системы управления в области промышленной безопасности, охраны труда и окружающей среды в Группе «Татнефть», включающая Методику по идентификации производственных опасностей, экологических аспектов, оценке рисков и возможностей в области промышленной безопасности, охраны труда и окружающей среды в Группе «Татнефть».
	p В Компании не реже одного раза в год обновляется реестр производственных рисков и экологических аспектов по всем подразделениям. Идентификация, оценка опасностей, рисков и экологических аспектов осуществляется на многоуровневой основе. Работники предприятий Группы «Татнефть», помимо связи с непосредственным руководителем, имеют возможность оперативно и круглосуточно сообщать об опасностях и опасных ситуациях, реализовавшихся рисковых событиях по телефонам Горячей линии, диспетчерской службы, электронной почте.
	p В качестве инструментов управления рисками используются:
	ul 
		li Ключевые правила безопасности 
		li Программы инвестирования в мероприятия, направленные на снижение и предупреждение производственных опасностей и рисков
		li Комплексные трехлетние программы организационно-технических мероприятий
		li Страхование гражданской ответственности перед третьими лицами от реализации рисков промышленной безопасности на опасных производственных объектах
		li Добровольное страхование экологической ответственности и имущественное страхование объектов
	p Расследование инцидентов, осуществляется согласно Положению «О порядке проведения технического расследования причин инцидентов на опасных производственных объектах ПАО «Татнефть», их учёта и анализа».
	p В целях контроля и обеспечения радиационной безопасности на постоянной основе проводятся мероприятия:
	ul 
		li плановое радиометрическое обследование объектов подготовки нефти
		li индивидуальный дозиметрический контроль персонала
		li изготовление радиационно-гигиенического паспорта предприятия
		li выборочные радиометрические обследования рабочих помещений
	p По оценке управления Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека по Республике Татарстан состояние радиационной безопасности на предприятиях Компании в отчетном году оценивается как удовлетворительное.
