.dmpage-text
	p В Компании действует система предупреждения и ликвидации чрезвычайных ситуаций (ЧС), обусловленных разливами нефти и нефтепродуктов, защиты населения и окружающей среды от их вредного воздействия в Компании, которая основана на: 
	ul
		li повышении надежности производственного оборудования; 
		li своевременном обнаружении чрезвычайных ситуаций и минимизации потерь от них; 
		li оперативном реагировании на чрезвычайные ситуации
	p На постоянной основе актуализируются планы по ликвидации разливов нефти и нефтепродуктов в соответствии с установленными законодательством нормами. Заключены договоры с профессиональными аварийно-спасательными формированиями. 
	p Созданы и аттестованы ведомственной аттестационной комиссией нештатные аварийно-спасательные формирования (НАСФ) с правом ведения газоспасательных работ. НАСФ укомплектованы техникой и специальным оборудованием, достаточным для локализации и ликвидации разливов нефти, созданы резервы материальных ресурсов. 
	p В работоспособном состоянии поддерживаются более 500 стационарных нефтеулавливающих сооружений, боновых заграждений, биопрудов. В целях повышения готовности к действиям по локализации и ликвидации ЧС проводятся комплексные учения. 
	p Для обеспечения открытости Компании в вопросах охраны окружающей среды и обеспечения экологической безопасности действует механизм участия заинтересованной общественности и СМИ в наблюдении за проведением комплексных учений. 

.dmpage-quote
	| За 2022 год не было допущено ни одной техногенной аварии с нанесением ущерба природной среде в зоне деятельности Компании

.dmpage-text
	p Информация о проведении учений размещается в печатных изданиях, интернете и в социальных сетях. Разработана Памятка для представителей общественности, заинтересованных в участии в проведении и анализе командно-штабных, комплексных и иных учений по ликвидации разливов нефти и нефтепродуктов. 
	p В 2022 году проведены комплексные учения с участием представителей региональной молодежной общественной природоохранной организации «Будет чисто».

.dmpage-table-section
	h3.dmpage-table-title.dmpage-table-title--small-w Инциденты, связанные с экологическим ущербом 
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			thead
				tr
					th(width='56')
						p год
					th(width='94')
						p количество
					th(width='302')
						p Содержание инцидента
					th(width='208')
						p Устранение последствий
			tbody
				tr
					td(width='56')
						p 2022
					td(width='94')
						p 1
					td(width='302')
						p
							| на промысловом сборном нефтепроводе НГДУ «Прикамнефть» СП «Татнефть-Добыча» 5 апреля 2022 года произошел выброс 6,4 т нефтесодержащей жидкости, загрязнение территории составило 160 м2
					td(width='208')
						p замазученность устранена, нефтесодержащий
						p грунт вывезен на утилизацию, проведена биологическая рекультивация земель
				tr
					td(width='56')
						p 2021
					td(width='94')
						p 1
					td(width='302')
						p
							| на объекте НГДУ «Альметьевнефть» СП «Татнефть-Добыча» произошел выброс 1,23 м3 нефтесодержащей жидкости на почву и с последующим попаданием в реку Урсалинку
					td(width='208')
						p последствия от инцидента были устранены
				tr
					td(width='56')
						p 2020
					td(width='94')
						p 0
					td(width='302')
						p -
					td(width='208')
						p -
