extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Collective representation 

			h1.dmpage-h1 Collective representation 

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-3.jpg", alt="")
			
			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/personal.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/staff.html") To the beginning of the section
						a.dmpage-menu-item(href="/sustainable-development/staff/management-system.html") Management system
						a.dmpage-menu-item(href="/sustainable-development/staff/structure.html") Structure
						a.dmpage-menu-item(href="/sustainable-development/staff/remuneration.html") Remuneration
						a.dmpage-menu-item(href="/sustainable-development/staff/education-and-development.html") Education and development
						a.dmpage-menu-item(href="/sustainable-development/staff/youth-development.html") Youth development
						a.dmpage-menu-item.dmpage-menu-item--active(href="/sustainable-development/staff/collective-representation.html") Collective representation
						a.dmpage-menu-item(href="/sustainable-development/staff/social-security.html") Social security
						a.dmpage-menu-item(href="/sustainable-development/staff/employee-pool.html") Employee pool


			
			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						p The Company recognizes the rights of every employee to represent collective interests, including trade union organizations, recognizes and respects the rights of trade unions, including the rights enshrined in the basic conventions of the International Labor Organization — the right of each employee to be represented by a trade union of his/her own choice and basic trade union rights concerning freedom of association and the right to organize workers into trade unions, as well as the right to collective bargaining. 
						p The Company does not prevent its employees from joining associations and trade unions. The main collective representation of the interests of the Company’s employees on the basis of partnerships is carried out by Tatneft Profsoyuz Interregional Trade Union Organization of the All-Russian Trade Union of Oil and Gas Industry and Construction Workers (hereinafter, the Trade Union Committee). 
						p Admission to the Trade Union is carried out on a voluntary basis, based on the personal application of an employee. In the TATNEFT Group, 56,384 employees (85.3% of the total number of employees of the Company) are members of the trade union committee. The Collective Agreement is the basis of cooperation. Each employee has the right and opportunity to participate in the process of forming the Collective Agreement by sending his/ her proposal to the trade union organization. 
						p Trade union representatives take part in the consideration of all social and labor issues and events significant for employees, incl. carrying out structural transformations of the Company, changes in the field of organization and remuneration.
						h3 For the effective solution of the tasks set, 9 commissions work under the trade union committee: 
						ul
							li for socio-economic protection of trade union members
							li for legal protection
							li for occupational health
							li for work with young people
							li Mass Organization Commission
							li Housing Commission
							li Food Control Commission
							li Cultural and Sports and Health Commission
							li Commission for Work with Veterans of Labor and the Great Patriotic Wa
						p The Collective Agreement confirms the Company’s position on the recognition and observance of fundamental human rights, defines the general principles of safe organization and remuneration, social benefits and guarantees in excess of those established by law for employees and non-working pensioners, guarantees of the activities of a trade union organization. 
						h2 100% of employees — coverage by the collective agreement
						p The provisions of the Collective Agreement of PJSC TATNEFT are the basic ones for collective agreements of the TATNEFT Group enterprises. The Trade Union Committee and its primary trade union organizations provide: 
						ul 
							li representation and protection of social and labor rights and interests of trade union members; 
							li control over compliance with labor laws of the Russian Federation; 
							li organization of sports and recreation, cultural and mass work in labor collectives. 



					.dmpage-quote
						|  PJSC TATNEFT is a party to the Industry Agreement on organizations of the oil and gas industries and construction of facilities of the oil and gas complex of the Russian Federation.


					.dmpage-text
						h2 PROTECTION OF SOCIAL AND LABOR RIGHTS AND INTERESTS OF EMPLOYEES
						p In order to improve the social and labor situation of employees, the following changes were made to the Collective Agreement: the list of working professions was increased, which established coefficients for working conditions; the estimated amounts of payments for vacation of workers of trade jobs were increased; tariff rates and social benefits were increased. 

					.dmpage-quote
						|  LLC Tatneft-AZS-Tsentr primary trade union organization was recognized as the winner of the review competition "The Best Organization of Work in the Field of Occupational Safety and Health in the Primary Trade Union Organization of Neftegazstroyprofoyuz of Russia" for 2021.


					.dmpage-text
						p In order to monitor the fulfillment of the obligations of collective agreements, representatives of the Tatneft trade union committee visited workplaces, got acquainted with working and living conditions, discussed current issues with the collectives of workshops and brigades in online conferences. 
						p Electronic questionnaires (surveys) were organized to monitor the satisfaction of trade union members with the organization and remuneration of labor, the organization of safe working conditions and recreation, and to identify relevant areas of work of the most active members of the trade union. 
						p Trade union members receive support in the form of discounts on the cost of vouchers to the health resorts of the Federation of Trade Unions of Tatarstan.
						h2 PROTECTION OF THE RIGHTS TO SAFE WORK
						p Control in the field of labor protection on a voluntary basis at the enterprises of the TATNEFT Group is carried out by more than 2,200 trade union labor protection commissioners. The labor protection commissioners are trained annually in the field of labor protection. 
						p In 2022, the chief technical labor inspector of the trade union conducted 22 inspections of the state of conditions and labor protection of enterprises, compliance with labor protection legislation, implementation of collective agreements and labor protection agreements. Violations identified during inspections were eliminated in a timely manner. 
						p The Collective Agreement establishes the obligations of an employer to ensure healthy and safe working conditions for employees on the basis of a complex of social and labor, organizational and technical, sanitary and hygienic, therapeutic and preventive, rehabilitation and other measures.
						h2 LEGAL PROTECTION
						p The trade union provides legal assistance on the implementation of the provisions of the Collective Agreement, remuneration, compliance with the work and rest regime, dismissal compensations, the legality of disciplinary liability and other issues related to the employee’s work. 
						p In 2022, 738 members of the trade union received a consultation. Work is carried out on the examination of local regulations of PJSC TATNEFT. The Commission for the legal protection of trade union members conducts inspections on compliance with labor legislation in organizations of the TATNEFT Group. 
						p Representatives of the trade union committee take part in the work of the PJSC TATNEFT commission for certification of employees. Issues and disagreements that arise in the course of production activities are considered with the involvement of the Ethics Committee of PJSC TATNEFT. The Company is attentive and respectful to non-working pensioners, providing regular financial assistance to veterans. 
						p Work with unemployed pensioners is organized in a new format. 10 Territorial Councils of Veterans were created, working in cooperation with the Center for Support of Social Programs and territorial primary trade union organizations. Funds are allocated annually for the organization of sanatorium rehabilitation of unemployed pensioners and veterans of the Company, as well as financial assistance is provided.
						h2 RELATIONSHIP CHANNELS
						p The Tatneft Trade Union mobile application allows reaching all members of the trade union and informing about the legal labor rights and social benefits provided under the Collective Agreement, providing constant feedback. 
						p Popular messengers and social networks, a chatbot, and YouTube channel of Tatneft Profsoyuz are also actively used. For appeals: hotline (via Telegram) 8-917-390-86-19

