extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Employee Pool

			h1.dmpage-h1 Employee Pool

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_03_23/new_top_photos/staff.jpg", alt="")
			
			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/staff.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/staff.html") To the beginning of the section
						a.dmpage-menu-item(href="/sustainable-development/staff/management-system.html") Management system
						a.dmpage-menu-item(href="/sustainable-development/staff/structure.html") Structure
						a.dmpage-menu-item(href="/sustainable-development/staff/remuneration.html") Remuneration
						a.dmpage-menu-item(href="/sustainable-development/staff/education-and-development.html") Education and development
						a.dmpage-menu-item(href="/sustainable-development/staff/youth-development.html") Youth development
						a.dmpage-menu-item(href="/sustainable-development/staff/collective-representation.html") Collective representation
						a.dmpage-menu-item(href="/sustainable-development/staff/social-security.html") Social security
						a.dmpage-menu-item.dmpage-menu-item--active(href="/sustainable-development/staff/employee-pool.html") Employee pool
			.dmpage-main
				.dmpage-detail 
					
					.dmpage-text
						p The sustainable development of any company directly depends on the availability of an effective system for the formation of an employee pool. Tatneft has advanced planning processes in terms of training key specialists and managers. In order to create and maintain the human resources potential of business assets, the task of HR management is to ensure timely and high-quality turnover of managers. 
						p Since 2017, the Company has been forming an end-to-end personnel reserve, in which managerial positions are divided into three categories. To create an employee pool, a comprehensive personnel assessment is carried out, according to the results of which operational and prospective an employee pools are formed. Each candidate receives feedback and an individual development plan. Employees who have passed a comprehensive personnel assessment are enrolled in training under corporate programs, depending on the level of the position.
						img(src="https://dmitryboz21.github.io/ttneft/build/img/prvki/from_en/kad-rez-1.jpg", alt="")

						p Corporate training programs are aimed at the development of corporate and managerial competencies, individual development plans also include measures to develop professional and digital competencies of an employee.
						p In 2022, new corporate executive development programs were created.

						img(src="https://dmitryboz21.github.io/ttneft/build/img/prvki/from_en/kad-rez-2.jpg", alt="")
						
						p 
							b Directions of development:
						ul
							li operational management
							li management and development of one’s team
							li effective change management
							li development of safety culture and ecological outlook
						p In 2022, 558 employees underwent a comprehensive assessment, 351 of them did it successfully. Developed according to individual plans — 1,331 employees of the TATNEFT Group. 245 people were appointed to senior positions of the Company based on the results of a comprehensive assessment and from the employee pool. 

						p 
							b Tasks for the formation and development of the Company’s employee pool for 2023:
						ul
							li implementation of the program for involving managers in the implementation of targeted educational training programs
							li formation for managers at all levels of a stable skill of constructive feedback on implemented tasks, projects, goal-setting, development of competencies within the framework of an individual development plan
							li involvement of managers in the processes of personnel satisfaction management
							li development of HR support service for the formation and support of key project (management) teams
							li implementation of a program of targeted support and support for high-potential young workers.
						h2 CORPORATE UNIVERSITY ACTIVITIES
						p 2,745 persons were trained (intramural and distance training) in 21 courses at the Corporate University. Of these, 45% are employees implementing individual development plans (IDP).
						p To develop the competencies in the field of business administration of managers, business analysis skills, 5 targeted educational programs of professional retraining are implemented.
						p The distance learning system is actively developed. 34,192 employees have been trained. The specialists of the Corporate University developed and implemented 13 corporate professional standards.
						p It is planned to develop 2 corporate professional standards in 2023. A 360-degree assessment of 1,318 employees was carried out. Following the comprehensive personnel assessment, 390 employees of the TATNEFT Group were provided with feedback/advice on the individual development plan formation.
						p Large-scale work is underway to introduce culture of self learning organization. 88 organizations of the TATNEFT Group, more than 70,000 users are connected in the Single Learning and Development Platform (edu.tatneft.ru).
						p The Company pays great attention to the development of comprehensive command of foreign language in specialists and managers, which would be used in their work and participation in foreign projects. In 2022, more than 200 employees were trained in English courses.
						p Security personnel is trained annually in human rights policies or procedures.
						h2 STATE SUPPORT PROGRAMS
						p As part of the implementation of projects with the involvement of state support, retraining of the Company’s employees was organized according to the “Coaching of Professional Activity”, “Practical Neuropsychology”, “General and HR records Management”, “Fundamentals of Graphic Design”, “Modern Marketing Technologies and Fundamentals of Internet Marketing” programs.
block scripts
	




