extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Social security

			h1.dmpage-h1 Social security

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_03_23/new_top_photos/staff.jpg", alt="")
			
			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/staff.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/staff.html") To the beginning of the section
						a.dmpage-menu-item(href="/sustainable-development/staff/management-system.html") Management system
						a.dmpage-menu-item(href="/sustainable-development/staff/structure.html") Structure
						a.dmpage-menu-item(href="/sustainable-development/staff/remuneration.html") Remuneration
						a.dmpage-menu-item(href="/sustainable-development/staff/education-and-development.html") Education and development
						a.dmpage-menu-item(href="/sustainable-development/staff/youth-development.html") Youth development
						a.dmpage-menu-item(href="/sustainable-development/staff/collective-representation.html") Collective representation
						a.dmpage-menu-item.dmpage-menu-item--active(href="/sustainable-development/staff/social-security.html") Social security
						a.dmpage-menu-item(href="/sustainable-development/staff/employee-pool.html") Employee pool


			
			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p The Company cares about the welfare and social security of its employees and their families. Employees are provided with an expanded package of social benefits and guarantees, in comparison with the current legislation, there is social protection for young workers and support for veterans and pensioners. Obligations to ensure them are enshrined in the Collective Agreement. 
						h2 Non-state pension provision
						p One of the most important areas of the Company’s social policy is a non-state pension provision for employees. The pension program is based on the principle of social partnership, in accordance with which the Company and its employees form a future corporate pension by joint efforts on a parity basis. 
						p The number of employees involved in the corporate program of non-state support is 13,817 people. The volume of contributions to non-state pension provision for 2022 amounted to RUB 547.7 mln. 
						p The number of pensioners receiving non-state pensions is 16,257 persons. Payments of non-state pension to pensioners of the Company through JSC National NPF (NNPF) amounted to RUB 560.1 mln.
						p In accordance with the Collective Agreement, non-working pensioners who retired before the establishment of NNPF receive quarterly financial assistance. The total amount of material assistance provided to such pensioners in 2022 amounted to RUB 13.7 mln. The number of pensioners receiving this material assistance is 2,300 people.

						h2 Employee health
						p The Company pays special attention to the provision of measures to preserve the health and life of people, preventive measures, testing and vaccination, as well as the provision of high-tech medical care. 
						p The voluntary medical insurance program provides for the provision of services beyond the Program of state guarantees for the provision of free medical care to citizens of the Russian Federation. 
						p In accordance with the Voluntary Medical Insurance Contract, the insured employees of the Company are provided with medical services under 4 programs:
						ul 
							li Outpatient services
							li Inpatient services 
							li Rehabilitation treatment
							li Comprehensive medical care
						p In order to reduce infectious diseases, annual seasonal immunoprophylaxis is carried out against seasonal influenza, pneumococcal infection and tick-borne encephalitis. 
						p For the purpose of early detection of oncological diseases at the expense of the funds of the VMI program, the Company organized medical examinations under the programs “Men’s Health”, “Women’s Health”, developed the “Healthy Back” program and a program of post-COVID rehabilitation. 
						p Employees who have had pneumonia are given the opportunity to undergo hyperbaric oxygenation sessions. Work has been organized to conduct testing for a new coronavirus infection.
						h2 Epidemiological activities
						p Since the first days of COVID-19 pandemic, the TATNEFT Group has introduced and worked out special measures to counter infection and ensure continuous safe production. 
						p The Company has created an automated platform for monitoring and analyzing the health status of personnel and providing them with personal protective equipment, which allows controlling the risks associated with the spread of infections. 
						p All employees of the Company can be promptly provided with individual protective equipment by organizing their own production of preventive and protective equipment. On the basis of medical institutions, the Company has created its own PCR laboratory and an ELISA laboratory.
						h2 Housing policy
						p Support to employees in improving housing conditions is one of the important directions of the Company’s social policy and a contribution to the implementation of SDG—11 to ensure universal access to adequate, safe and affordable housing. 
						p The Company is an active participant in the housing construction program for social mortgages in the Republic of Tatarstan. From 2005 to 2022, according to this program, 136 blocks of flats (15,009 apartments) were built in 15 settlements of the republic, as well as 52 individual residential buildings.
						p In 2022, 2 blocks of flats were built and commissioned for the Company’s employees in Nizhnekamsk and Nurlat (199 apartments), 3 individual residential buildings in Cheremshan, and 25 apartments were purchased in Kazan. 
						p The total number of participants in social mortgages for housing in the oil region amounted to 3,800 people. More than 30% of the apartments commissioned are allocated to young families and young workers. 

						h3 1,0 million м2 the total area of the commissioned housing
						p To pay the initial payment for housing, the Company allocates an interest-free cash loan to employees in the amount of up to 30% of the cost of housing. Over the entire period of the social mortgage program, more than RUB 2.3 billion were contributed to the State Housing Fund of the Republic of Tatarstan to pay an initial contribution for employees.

					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title Social payments to employees, RUB mln.



						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1.dmptable-colgroup-1--aw
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								tbody 
									tr
										td 2020
										td 589
									tr
										td 2021
										td 672
									tr
										td 2022
										td 1 099


					.dmpage-chart-outer.dmpage-small-w-section
						h3.dmpage-chart-title Social payments to employees, RUB mln (according to Collective agreement)


						.dmpage-chart-bar-wrap
							#chart-bar-en-29-1.dmpage-chart-bar.js-dmpage-chart-bar
								canvas


					.dmpage-chart-outer.dmpage-small-w-section
						h3.dmpage-chart-title Non-state pension provision contributions, rub mln
						.dmpage-chart-bar-wrap
							#chart-bar-en-29-2.dmpage-chart-bar.js-dmpage-chart-bar
								canvas



					.dmpage-text
						h2 Social security
						p In order to strengthen social protection, the Company additionally, in accordance with the Collective Agreement, provides a monthly payment to an employee who is on childcare leave until a child reaches the age of three years and one free day a month or twice four free hours (at the employee’s choice) of working time paid at the expense of the employer, with the preservation of the average monthly wage for women with children under 16 inclusive (disabled children under 18 inclusive). 
						p These benefits are not available to temporary or part-time employees. 
						p The Company operates in strict accordance with the Labor Code of the Russian Federation, which establishes a minimum period for notifying personnel regarding significant changes in the activities of the organization: no later than two months before the start of the relevant events, and if the decision to reduce the number or staff of employees may lead to their mass dismissal, no later than three months before the start of the relevant events. 



