extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Youth development

			h1.dmpage-h1 Youth development

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-3.jpg", alt="")
			
			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development/staff.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development/staff.html") To the beginning of the section
						a.dmpage-menu-item(href="/sustainable-development/staff/management-system.html") Management system
						a.dmpage-menu-item(href="/sustainable-development/staff/structure.html") Structure
						a.dmpage-menu-item(href="/sustainable-development/staff/remuneration.html") Remuneration
						a.dmpage-menu-item(href="/sustainable-development/staff/education-and-development.html") Education and development
						a.dmpage-menu-item.dmpage-menu-item--active(href="/sustainable-development/staff/youth-development.html") Youth development
						a.dmpage-menu-item(href="/sustainable-development/staff/collective-representation.html") Collective representation
						a.dmpage-menu-item(href="/sustainable-development/staff/social-security.html") Social security
						a.dmpage-menu-item(href="/sustainable-development/staff/employee-pool.html") Employee pool

			
			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p An important element of the Personnel Management Policy in the Company is working with young employees. The strategic goal of the youth policy is the development and support of working youth, the realization of their professional and creative potential in the interests of the Company. 
						p Through the implemented youth policy, the Company promotes the social adaptation of working youth to changes in society and the activities of the TATNEFT Group. 
						p Areas of youth policy implementation: 
						ul 
							li adaptation and mentoring 
							li transmission of corporate culture 
							li development of professional competencies (hard skills)
							li development of general corporate and managerial competencies (soft skills)
							li identification and support of high-potential employees (HiPo) 
							li development of interregional cooperation 
							li organization of quality leisure 
							li development of opportunities and involvement in a healthy lifestyle and sports
							li social support (Well-being — life and work for pleasure) 
							li corporate volunteer movement 
						p The Company is interested in attracting talented young people and carries out various organizational activities for these purposes. The structure of the events is developed taking into account the analysis of the involvement and satisfaction of young employees.
						h2 Identification and support tools
						p In 2022, as part of the implementation of the project "Introduction of a modern system of mentoring and adaptation of personnel in the TATNEFT Group, a new Mentoring program for young employees was introduced at the TatNIPIneft Institute. 
						p The main goal of the program is the effective involvement of young employees in professional activities, and as a result, retaining them to solve urgent problems of the Company’s development, as well as increasing the level of involvement of managers, experienced employees in the development of human resources.
						p In 2023, an updated Mentoring program will be launched for employees throughout the TATNEFT Group. 
						p For the first time, a contest of initiative projects of young employees of Tatneft “Tatneft — the Platform of Your Opportunities” was organized and held. The purpose of organizing and holding the competition is to increase the efficiency of investments in the Company’s youth policy by more active involving young employees in solving current challenges and problems, as well as meeting requests in a specific territory. 278 applications were submitted for the competition, 124 projects totaling RUB 8.851 million were recognized as winners. The coverage of the events was more than 6,000 people. 
						p As part of the development of professional competencies, the TatneftTechCupChallenge case championships are held among young employees of the TATNEFT Group and students, the purpose of which is to involve young specialists in solving the Company’s business tasks. In 2022, about 400 participants took part in the championship.
						p The third International Oil and Gas Youth Forum “Hackathon Oil Tech Challenge 2021” was held jointly with the Ministry of Energy of the Russian Federation and the Youth Council of the Oil and Gas Industry under the Ministry of Energy of the Russian Federation. The global task was to form a progressive youth team to solve urgent problems in the field of sustainable development facing the fuel and energy complex of Russia and neighboring countries.
						p The competition of professional skills with a half-century tradition is held annually among young employees of the TATNEFT Group. More than 350 participants from 40 enterprises of the TATNEFT Group took part in the competition. According to the results of the competition, 102 winners — the best representatives of professions, were determined.
						p In order to develop the biotechnological direction, the “PI School” was held for the first time with the support of ITMO University. 46 young talented scientists from different regions of the country were trained at the site of the Corporate University and presented their research and product projects.
						p During 2022, work with young people in social networks was also actively conducted. The official accounts of the youth organization of PJSC TATNEFT in Telegram and the information YouTube channel “PRO Download Youth” continued to work, thereby allowing the creation of a single corporate platform for information exchange, communication, and feedback.

						h2 VOLUNTEER MOVEMENT
						p The corporate volunteer program Envoys of Sustainable Development Goals was created with the aim of forming a volunteer asset from among employees, students of educational institutions of the Company’s scientific and educational cluster to transfer knowledge in the field of Sustainable Development Goals and problems that need to be solved to achieve them. In total, more than 3,500 employees of the Company are involved in volunteer activities. Environmental education, environmental actions and other events are carried out within the framework of the volunteer movement. Also, with the support of the Company’s management, patronage work continues to be actively carried out with fixed orphans in order to adapt to adult independent life through their involvement in the life of the Company. Charity events were held, work was carried out to popularize blood donation among young people. 

					.dmpage-quote

						|  PJSC TATNEFT was awarded the Republican Prize in the field of voluntary work of the "Good Tatarstan" contest in the "Responsible Business" nomination.
						
					.dmpage-text
						h2 SOCIAL SUPPORT
						img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/prvki/from_en/volont-dvizh.jpg", alt="")
						p The Company traditionally pays great attention to addressing social issues of young people. The Collective Agreement has a section dedicated to young workers and their social guarantees. Representatives of youth organizations of enterprises annually participate in the development of the Collective Agreement. According to the Collective Agreement on the program of issuing interest-free loans to the families of young workers for the purchase of furniture and essential goods, 563 families received a loan in 2022. According to the social mortgage program, 75 families of young workers received apartments in 2022. In total, from 2005 to 2022, 4,970 families of young workers received apartments under the mortgage lending system, which is 33% of the total housing commissioned under the mortgage construction program. 




