extends ../../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Сохранение культурного наследия

			h1.dmpage-h1 Сохранение культурного наследия

		.dmpage
			include ../../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_20_10_23/promotion-of-social-development.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie/sodejstvie-socialnomu-razvitiyu.html")  К началу раздела
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Выбрать подраздел
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/ustojchivoe-razvitie/sodejstvie-socialnomu-razvitiyu.html") К началу раздела
						a.dmpage-menu-item(href="podhod-k-upravleniyu.html") Подход к управлению
						a.dmpage-menu-item(href="blagotvoritelnyj-fond.html") Благотворительный фонд
						a.dmpage-menu-item(href="razvitie-socialnoj-infrastruktury.html") Развитие социальной инфраструктуры
						a.dmpage-menu-item(href="investicii-v-novye-pokoleniya.html") Инвестиции в новые поколения
						a.dmpage-menu-item.dmpage-menu-item--active(href="sohranenie-kulturnogo-naslediya.html") Сохранение культурного наследия
						a.dmpage-menu-item(href="vzaimodejstvie-s-korennym-mestnym-naseleniem-vedushim-tradicionnyj-obraz-zhizni.html") Взаимодействие с коренным местным населением, ведущим традиционный образ жизни
						a.dmpage-menu-item(href="zdorovyj-obraz-zhizni.html") Здоровый образ жизни
						a.dmpage-menu-item(href="podderzhka-iniciativ-razvitiya.html") Поддержка инициатив развития
						a.dmpage-menu-item(href="chlenstvo-v-associaciyah.html") Членство в ассоциациях
					
			

			
			.dmpage-main
				.dmpage-detail 
					//	include ../../page-parts/b5/sodejstvie-socialnomu-razvitiyu.pug
						include ../../page-parts/b5/podhod-k-upravleniyu.pug
						include ../../page-parts/b5/blagotvoritelnyj-fond.pug
						include ../../page-parts/b5/razvitie-socialnoj-infrastruktury.pug
						include ../../page-parts/b5/investicii-v-novye-pokoleniya.pug
					include ../../page-parts/b5/sohranenie-kulturnogo-naslediya.pug
				//	include ../../page-parts/b5/vzaimodejstvie-s-korennym-mestnym-naseleniem-vedushim-tradicionnyj-obraz-zhizni.pug
					include ../../page-parts/b5/zdorovyj-obraz-zhizni.pug
					include ../../page-parts/b5/podderzhka-iniciativ-razvitiya.pug
					include ../../page-parts/b5/chlenstvo-v-associaciyah.pug