
.dmpage-text
	p Устойчивое развитие любой компании напрямую зависит от наличия эффективной системы формирования кадрового резерва. В «Татнефти» выстроены процессы опережающего планирования в части подготовки ключевых специалистов и руководителей. С целью создания и сохранения кадрового потенциала бизнес-активов задачей HR-управления является обеспечение своевременной и качественной сменяемости руководителей.
	p С 2017 года Компания формирует сквозной кадровый резерв, в котором управленческие должности разделены на три категории. Для создания кадрового резерва проводится комплексная оценка персонала, по результатам которой формируются оперативный и перспективный кадровые резервы. Каждый кандидат получает обратную связь и индивидуальный план развития. Работники, прошедшие комплексную оценку персонала, зачисляются на обучение по корпоративным программам в зависимости от уровня должности.

	img(src="img/prvki/kad-rez-1.png", alt="")

	p Корпоративные программы обучения направлены на развитие общекорпоративных и управленческих компетенций, в индивидуальные планы развития включаются также мероприятия по развитию профессиональных и цифровых компетенций работника.
	p В 2022 году открыты новые корпоративные программы развития руководителей.

	img(src="img/prvki/kad-rez-2.png", alt="")
	
	p 
		b Направления развития:
	ul
		li оперативный менеджмент 
		li управление и развитие своей команды 
		li эффективное управление изменениями 
		li развитие культуры безопасности и экологического мировоззрения
	p В 2022 году прошли комплексную оценку 558 работников, из них успешно — 351 человек. Развиваются по индивидуальным планам — 1 331 работник Группы «Татнефть». Назначены на руководящие должности Компании по результатам комплексной оценки и из кадрового резерва — 245 человек. 

	p 
		b Задачи по формированию и развитию кадрового резерва Компании на 2023 год: 
	ul
		li реализация программы вовлечения руководителей в реализацию целевых образовательных программ подготовки; 
		li формирование у руководителей всех уровней устойчивого навыка конструктивной обратной связи по реализуемым задачам, проектам, целеполаганию, развитию компетенций в рамках индивидуального плана развития; 
		li вовлечение руководителей в процессы управления удовлетворенностью персонала; 
		li развитие сервиса HR-сопровождения формирования и поддержки ключевых проектных (управленческих) команд; 
		li реализация программы адресной поддержки и сопровождения высокопотенциальных молодых работников.
	h2 ДЕЯТЕЛЬНОСТЬ КОРПОРАТИВНОГО УНИВЕРСИТЕТА
	p Корпоративным университетом было обучено 2 745 человек (в очном и онлайн-форматах) по 21 курсу. Из них 45% — работники, реализующие индивидуальные планы развития (ИПР). 
	p Для развития компетенций в области делового администрирования руководителей, навыков бизнес-анализа реализуются 5 целевых образовательных программ профессиональной переподготовки.
	p Активно развивается система дистанционного обучения. Прошли обучение 34 192 сотрудника. Специалистами корпоративного университета разработано и внедрено 13 корпоративных профессиональных стандартов. 
	p В 2023 году планируется разработка 2 корпоративных профессиональных стандартов. Проведена оценка методом «360 градусов» 1 318 сотрудников. По результатам комплексной оценки персонала обратная связь/консультация по формированию индивидуального плана развития была предоставлена 390 работникам Группы «Татнефть». 
	p Ведется масштабная работа по внедрению культуры самообучающейся организации. На Единой платформе обучения и развития (edu.tatneft.ru) подключено 88 организаций Группы «Татнефть», более 70 000 пользователей. 
	p В Компании уделяется большое внимание развитию иноязычной компетенции специалистов и руководителей для применения в работе и участия в зарубежных проектах. В 2022 году на курсах английского языка обучались более 200 работников. 
	p Ежегодно проводится обучение работников службы безопасности политике или процедурам в области прав человека.
	h2 ПРОГРАММЫ ГОСУДАРСТВЕННОЙ ПОДДЕРЖКИ
	p В рамках реализации проектов с привлечением господдержки организована переподготовка работников Компании по программам «Коучинг профессиональной деятельности», «Практическая нейропсихология», «Общее и кадровое делопроизводство», «Основы графического дизайна», «Современные маркетинговые технологии и основы интернет-маркетинга»

