
.dmpage-text
	p Компания признает права каждого сотрудника на коллективное представительство интересов, в том числе профсоюзных организаций, признает и уважает права профсоюзов, включая права, закрепленные в базовых конвенциях Международной организации труда, — право каждого работника быть представленным профсоюзной организацией по его собственному выбору и основные профсоюзные права, касающиеся свободы объединения и права на организацию работников в профсоюзы, а также право на ведение коллективных переговоров. 
	p Компания не препятствует вступлению своих сотрудников в ассоциации и профсоюзные организации. Основное коллективное представительство интересов работников Компании на основе партнерских отношений осуществляет Межрегиональная профсоюзная организация «Татнефть Профсоюз» Общероссийского профессионального союза работников нефтяной, газовой отраслей промышленности и строительства (далее — профсоюзный комитет). 
	p Прием в профсоюз осуществляется на добровольной основе, на основании личного заявления работника. В Группе «Татнефть» членами профсоюзного комитета являются 56 384 работника (85,3% от общего количества работников Компании). Основой сотрудничества является Коллективный договор. Каждый сотрудник имеет право и возможность участвовать в процессе формирования Коллективного договора, направив свое предложение в профсоюзную организацию. 
	p Представители профсоюза участвуют в рассмотрении всех значимых для работников социально-трудовых вопросов и мероприятий, в том числе по проведению структурных преобразований Компании, изменению в области организации и оплаты труда. 
	h3 Для эффективного решения поставленных задач при профсоюзном комитете работает 9 комиссий:
	ul
		li  по социально-экономической защите членов профсоюза 
		li  по правовой защите 
		li  по охране труда 
		li  по работе с молодежью
		li  организационно-массовая комиссия 
		li  жилищно-бытовая комиссия 
		li комиссия по контролю за общественным питанием 
		li культурно-массовая и спортивно-оздоровительная комиссия 
		li комиссия по работе с ветеранами труда и Великой Отечественной войны




	p Коллективный договор подтверждает позицию Компании по признанию и соблюдению основных прав человека, определяет общие принципы безопасной организации и оплаты труда, социальные льготы и гарантии сверх установленных законодательством для работников и неработающих пенсионеров, гарантии деятельности профсоюзной организации.
	h2 100% РАБОТНИКОВ — ОХВАТ КОЛЛЕКТИВНЫМ ДОГОВОРОМ
	p Положения Коллективного договора ПАО «Татнефть» являются базовыми для коллективных договоров предприятий Группы «Татнефть». Профсоюзный комитет и его первичные профсоюзные организации обеспечивают: 
	ul 
		li представительство и защиту социально-трудовых прав и интересов членов профсоюза; 
		li контроль соблюдения трудового законодательства РФ; 
		li организацию спортивно-оздоровительной и культурно-массовой работы в трудовых коллективах. 



.dmpage-quote
	|  ПАО «Татнефть» является участником Отраслевого соглашения по организациям нефтяной, газовой отраслей промышленности и строительства объектов нефтегазового комплекса РФ.


.dmpage-text
	h2 ЗАЩИТА СОЦИАЛЬНО-ТРУДОВЫХ ПРАВ И ИНТЕРЕСОВ РАБОТНИКОВ
	p В целях улучшения социально-трудового положения работников были внесены следующие изменения в Коллективный договор: увеличен список рабочих профессий, которым установлены коэффициенты за условия труда; увеличены расчетные суммы выплат к отпуску работников рабочих профессий; увеличены тарифные ставки и размеры социальных выплат.

.dmpage-quote
	|  Первичная профсоюзная организация ООО «Татнефть — АЗС Центр» признана победителем смотра-конкурса «Лучшая организация работы в области охраны труда и здоровья в первичной профсоюзной организации «Нефтегазстройпрофсоюза России» за 2021 год.


.dmpage-text
	p С целью контроля выполнения обязательств коллективных договоров представители профсоюзного комитета «Татнефть» посещали рабочие места, знакомились с условиями труда и быта, обсуждали текущие вопросы с коллективами цехов и бригад на онлайн-конференциях. 
	p Для контроля удовлетворенности членов профсоюза организацией и оплатой труда, организацией безопасных условий труда и отдыха, выявления актуальных направлений работы профактива организовано электронное анкетирование (опросы). Члены профсоюза получают поддержку в виде скидки на стоимость путевок в санатории Федерации профсоюзов Татарстана.
	h2 ЗАЩИТА ПРАВ НА БЕЗОПАСНЫЙ ТРУД


	p Контроль в области охраны труда на общественных началах на предприятиях Группы «Татнефть» осуществляют более 2 200 уполномоченных по охране труда профсоюза. Уполномоченные по охране труда ежегодно проходят обучение в сфере охраны труда. 
	p В 2022 году главным техническим инспектором труда профсоюза проведено 22 проверки состояния условий и охраны труда предприятий, соблюдения законодательства по охране труда, выполнения коллективных договоров и соглашений по охране труда. Выявленные в ходе проверок нарушения своевременно устранены.
	p Коллективным договором закреплены обязательства работодателя по обеспечению здоровых и безопасных условий труда работников на основе комплекса социально-трудовых, организационно-технических, санитарно-гигиенических, лечебно-профилактических, реабилитационных и иных мероприятий. 
	h2 ПРАВОВАЯ ЗАЩИТА
	p Профсоюз оказывает юридическую помощь по вопросам реализации положений Коллективного договора, оплаты труда, соблюдения режима труда и отдыха, выплат при увольнении, правомерности привлечения к дисциплинарной ответственности и других вопросов, связанных с трудовой деятельностью работника. 
	p В 2022 году консультацию получили 738 членов профсоюза. Проводится работа по экспертизе локально-нормативных актов ПАО «Татнефть». Комиссией по правовой защите членов профсоюза проводятся проверки по соблюдению трудового законодательства в организациях Группы «Татнефть». 
	p Представители профкома принимают участие в работе комиссии ПАО «Татнефть» по аттестации работников. Вопросы и разногласия, возникающие в процессе производственной деятельности, рассматриваются с привлечением Комитета по этике ПАО «Татнефть». Компания внимательно и с уважением относится к неработающим пенсионерам, ветеранам, регулярно оказывая финансовую помощь. 
	p В новом формате организована работа с неработающими пенсионерами. Создано 10 Территориальных советов ветеранов, работающих во взаимодействии с Центром сопровождения социальных программ и территориальными первичными профсоюзными организациями. Ежегодно выделяются средства на организацию санаторного оздоровления неработающих пенсионеров и ветеранов Компании, а также оказывается материальная помощь. 
	h2 КАНАЛЫ ВЗАИМОСВЯЗИ
	p Мобильное приложение «Татнефть Профсоюз» позволяет охватить всех членов профсоюза и информировать о законных трудовых правах и социальных льготах, предоставляемых по Коллективному договору, обеспечивая постоянную обратную связь. 
	p Также активно используются популярные мессенджеры и социальные сети, чат-бот, YouTube-канал «Татнефть Профсоюз». Для приема обращений: горячая линия (через Telegram) 8-917-390-86-19 Социальная защищенность
