
.dmpage-text
	p Компания признает важность и ценность фундаментальных прав и свобод человека в сфере труда: свободу объединения, право на заключение коллективных договоров, трудовые права и право на охрану здоровья. 
	p Полноценное функционирование и стабильное развитие Компании — заслуга исключительно ее сотрудников. Высокий уровень профессионализма сотрудников, их приверженность корпоративным ценностям, ответственность и добросовестность являются залогом успешной деятельности и развития Компании. 
	p Грамотно внедренная корпоративная культура помогает создать сплоченную команду единомышленников — профессионалов, нацеленных на достижение целей, обозначенных руководством Компании. Компания является ответственным работодателем, обеспечивает качественные и безопасные условия труда на всех предприятиях Группы «Татнефть», придерживается принципа гендерного равенства и равных возможностей, поддерживает достойный уровень оплаты труда и предоставляет надежные социальные гарантии работникам и социальную поддержку членам их семей.
