
.dmpage-text
	p Важным элементом Политики управления персоналом в Компании является работа с молодыми работниками. Стратегическая цель молодежной политики — развитие и поддержка работающей молодежи, реализация ее профессионального и творческого потенциала в интересах Компании. 
	p Посредством реализуемой молодежной политики Компания способствует социальной адаптации работающей молодежи к переменам в обществе и деятельности Группы «Татнефть». 
	p Направления реализации молодежной политики: 
	ul 
		li адаптация и наставничество 
		li трансляция корпоративной культуры 
		li развитие профессиональных компетенций (hard skills) 
		li развитие общекорпоративных и управленческих компетенций (soft skills) 
		li выявление и поддержка высокопотенциальных работников (HiPo) 
		li развитие межрегионального сотрудничества 
		li организация качественного досуга 
		li развитие возможностей и вовлечение в здоровый образ жизни и спорт
		li социальная поддержка (well-being – жизнь и работа в удовольствие) 
		li корпоративное волонтерское движение
	p Компания заинтересована в привлечении талантливой молодежи и осуществляет различные организационные мероприятия в этих целях. Структура мероприятий разрабатывается с учетом анализа вовлеченности и удовлетворенности молодых работников.
	h2 ИНСТРУМЕНТЫ ВЫЯВЛЕНИЯ И ПОДДЕРЖКИ
	p В 2022 году в рамках реализации проекта «Внедрение современной системы наставничества и адаптации персонала в Группе «Татнефть» в порядке апробации была внедрена новая программа «Наставничество» для молодых работников в институте «ТатНИПИнефть». 
	p Основной целью программы является эффективное вовлечение молодых работников в профессиональную деятельность, как следствие – удержание их для решения актуальных задач развития Компании, а также повышение уровня вовлеченности руководителей, опытных работников в развитие кадрового потенциала. 
	p В 2023 году будет запущена обновленная программа «Наставничество» для работников по всей Группе «Татнефть».
	p Впервые был организован и проведен конкурс инициативных проектов молодых работников «Татнефть» «Татнефть – платформа твоих возможностей». Целью организации и проведения конкурса является повышение эффективности инвестиций в молодежную политику Компании за счет более активного вовлечения молодых работников в решение актуальных вызовов и проблем, а также удовлетворения запросов на конкретной территории. На конкурс было подано 278 заявок, победителями признаны 124 проекта на общую сумму 8,851 млн рублей. Охват проведенными мероприятиями составил более 6 000 человек. 
	p В рамках развития профессиональных компетенций продолжается проведение кейс-чемпионатов TatneftTechCupChallenge среди молодых работников Группы «Татнефть» и студентов, целью которых является вовлечение молодых специалистов в решение бизнес-задач Компании. В 2022 году в чемпионате приняли участие около 400 участников. 
	p Проведен III Международный нефтегазовый молодежный форум Hackathon Oil Tech Challenge совместно с Минэнерго РФ и Молодежным советом нефтегазовой отрасли при Минэнерго РФ. Глобальной задачей форума является формирование прогрессивной команды для решения актуальных задач в области устойчивого развития, стоящих перед топливно-энергетическим комплексом России и стран ближнего зарубежья.
	p Конкурс профессионального мастерства с полувековой традицией ежегодно проводится среди молодых работников Группы «Татнефть». В конкурсе приняли участие более 350 участников из 40 предприятий Группы «Татнефть». По итогам конкурса были определены 102 победителя – лучших представителей профессий.
	p В целях развития биотехнологического направления впервые при поддержке университета ИТМО была проведена «Школа PI». 46 молодых талантливых ученых из разных регионов страны на площадке корпоративного университета прошли обучение и представили свои научно-исследовательские и продуктовые проекты. 
	p В течение 2022 года также активно велась работа с молодежью в социальных сетях. Продолжили работу официальные аккаунты молодежной организации ПАО «Татнефть» в Telegram и информационный YouTube-канал «PRO Качай молодежь», тем самым позволяя создать единую корпоративную платформу для обмена информацией, общения, получения обратной связи.

	h2 ВОЛОНТЕРСКОЕ ДВИЖЕНИЕ
	p Корпоративная волонтерская программа «Посланники целей устойчивого развития» создана с целью формирования волонтерского актива из числа работников, студентов учебных заведений научно-образовательного кластера Компании для трансляции знаний в сфере Целей устойчивого развития и проблем, которые необходимо решить для их достижения. Всего в волонтерскую деятельность вовлечено более 3 500 работников Компании. В рамках волонтерского движения осуществляется экологическое просвещение, проведение экологических акций и иные мероприятия. Также при поддержке руководства Компании продолжает активно вестись шефская работа с закрепленными детьми-сиротами с целью адаптации ко взрослой самостоятельной жизни через вовлечение их в жизнь Компании. Проводились благотворительные акции, велась работа по популяризации донорства крови среди молодежи.

.dmpage-quote

	|  ПАО «Татнефть» удостоена премии в сфере добровольчества и волонтерства конкурса «Добрый Татарстан» в номинации «Ответственный бизнес»
	
.dmpage-text
	h2 СОЦИАЛЬНАЯ ПОДДЕРЖКА
	img(src="img/prvki/volont-dvizh.png", alt="")
	p В Компании традиционно уделяется большое внимание решению социальных вопросов молодежи. В Коллективном договоре выделен раздел, посвященный молодым работникам Компании и их социальным гарантиям. Представители молодежных организаций предприятий ежегодно принимают участие в разработке Коллективного договора. Согласно Коллективному договору по программе выдачи беспроцентных займов семьям молодых работников на приобретение мебели и товаров первой необходимости в 2022 году заем получили 563 семьи. По программе социальной ипотеки в 2022 году квартиры получили 75 семей молодых работников. Всего за период с 2005-го по 2022 год квартиры по системе ипотечного кредитования получили 4 970 семей молодых работников, что составляет 33% от общего вводимого жилья по программе ипотечного строительства.
