
.dmpage-text
	p Принципы Компании в управлении персоналом основываются на поддержании рабочей среды без ограничений по национальному, гендерному, возрастному, религиозному и иным признакам. 
	p Забота о населении, проживающем в регионе присутствия, — одна из приоритетных задач. Компания стремится развивать инклюзивную среду для людей с ограниченными возможностями на рабочих местах и в инфраструктуре городов и населенных пунктов. В вопросах управления персоналом Компания следует нормам российского и международного права и не использует принудительный, обязательный или детский труд. Детский труд никогда и ни при каких обстоятельствах не используется Группой «Татнефть». 
	p Оценка деятельности Компании в области прав человека осуществляется в процессе регулярной оценки корпоративной практики, в том числе в форме самооценки руководства. Компания проводит честную, справедливую и открытую политику в отношении своих сотрудников. 
	p Возможность для профессионального и карьерного роста предоставляется всем сотрудникам, и карьерный рост зависит в первую очередь от уровня развития компетенций и показателей личной эффективности. 
	p Компания стремится создать эффективную систему материального и нематериального вознаграждения сотрудников, которая позволяет объективно оценивать вклад каждого, привлекать наиболее квалифицированных сотрудников, стимулировать развитие и профессиональный рост сотрудников.
	p 
		b Система управления персоналом регулируется следующими документами: 
	ul 
		li Политика управления персоналом 
		li Стандарт комплексной оценки персонала Группы «Татнефть» 
		li Стандарт обучения и развития персонала Группы «Татнефть» 
		li Стандарт адаптации персонала 
		li Стандарт аттестации персонала ПАО «Татнефть»
		li Стандарт работы с кадровым резервом в ПАО «Татнефть»
		li Положение об управлении базовым вознаграждением работников ПАО «Татнефть» 
		li Коллективный договор ПАО «Татнефть»
	p В текущем году Совет директоров утвердил обновленную Стратегию управления персоналом Группы «Татнефть» до 2025 г., включающую текущие тренды и вызовы, целевые показатели и стратегические приоритеты. 
	p 
		b Стратегией предусматривается:
	ul 
		li реализация мероприятий и проектов, направленных на повышение эффективности процессов подбора, найма и развития персонала 
		li усиление компенсационных программ, льгот и гарантий 
		li повышение удовлетворенности и вовлеченности персонала 
		li управление компетенциями работников с учетом технологических изменений и новых вызовов
	p Дорожная карта стратегии охватывает 20 проектов и инициатив (показателей) с установленными целевыми значениями. 
	p Главная цель стратегии — удовлетворить потребности бизнеса, соблюдая баланс между достижением производственных показателей и сохранением человеческого капитала. 
	p Важнейшим звеном кадровой стратегии Компании является образовательный кластер, включающий школы, техникумы, вузы и научно-исследовательские центры.

	h2 ОТВЕТСТВЕННОЕ ТРУДОУСТРОЙСТВО

	p Компания реализует риск-ориентированную политику управления персоналом. На всех этапах взаимодействия работодателя и работника нивелирование рисков, связанных с поиском и подбором, приемом на работу, назначением на руководящие должности, обучением персонала, регламентировано локальными нормативными актами. 
	p Для обеспечения непрерывности производства в связи с возможным риском дефицита квалифицированного персонала ежемесячно формируются сетевые графики приема персонала на действующие или планируемые вакансии, в особенности на масштабные проекты. 
	p Сетевые графики актуализируются с учетом изменений рынка труда, геополитических условий и других факторов. На этапе подбора и приема на работу в Компанию каждый кандидат проходит оценку, охватывающую несколько критериев: ‒ оценка соответствия квалификации кандидата требованиям к должности; ‒ оценка профессиональных знаний, умений и навыков; ‒ проверка благонадежности кандидата. 
	p Назначение кандидатов на вакантные руководящие должности дополнительно включает профессионально-психологическую оценку кандидата.

	h2 ИНДЕКС ЛОЯЛЬНОСТИ И УДОВЛЕТВОРЕННОСТИ СОТРУДНИКОВ

	p Исследование удовлетворенности персонала — один из наиболее эффективных инструментов выявления ценностей и предпочтений работников, рисков возникновения социальной напряженности, конфликтов в трудовых коллективах. 
	p Приоритетной целью исследования выступает возможность работников наиболее честно дать оценку различным аспектам повседневной жизни, таким как организация текущей деятельности предприятия, уровень заработной платы, возможность карьерного роста, климат в трудовом коллективе, взаимоотношения с руководством и другие.
	
.dmpage-chart-outer.dmpage-small-w-section
	//.dmpage-chart-bar-wrap
		#chart-bubbles-23-1.dmpage-chart-bubbles.js-dmpage-chart-bubbles
			canvas
			
	.dmpage-chart-flex
		#chart-bubbles-23-1.dmpage-chart-bubbles.js-dmpage-chart-bubbles
			canvas
		//.dmpage-chd-legend
.dmpage-text.dmpage-text--small
	p Показатель характеризует внутреннее состояние сотрудника, готового проявлять инициативу и прикладывать значительные усилия для достижения высоких результатов, удовлетворенного различными аспектами труда, включенного в жизнь предприятия и разделяющего его ценности. 
	p ** Показатель характеризует чистую лояльность сотрудников и позволяет оценить их удовлетворенность предприятием, на котором они работают. Индекс показывает, довольны ли сотрудники работой на предприятии и настроены ли на совместное развитие или же разочарованы сотрудничеством и готовы перейти к другому работодателю, как только на рынке появится более выгодное
