
.dmpage-text
	p Компания заботится о благосостоянии и социальной защищенности своих сотрудников и их семей. Работникам предоставляется расширенный пакет социальных льгот и гарантий, в сравнении с действующим законодательством, действует социальная защита молодых работников и осуществляется поддержка ветеранов и пенсионеров. Обязательства по их обеспечению закреплены в Коллективном договоре.
	h2 НЕГОСУДАРСТВЕННОЕ ПЕНСИОННОЕ ОБЕСПЕЧЕНИЕ
	p Одним из важнейших направлений социальной политики Компании является негосударственное пенсионное обеспечение работников. В основу пенсионной программы заложен принцип социального партнерства, в соответствии с которым Компания и ее работники формируют будущую корпоративную пенсию совместными усилиями на паритетных началах. 
	p Численность работников, вовлеченных в корпоративную программу негосударственного обеспечения, составляет 13 817 человек. Объем взносов на негосударственное пенсионное обеспечение за 2022 год составил 547,7 млн рублей. Количество пенсионеров, получающих негосударственную пенсию, составляет 16 257 человек. Выплаты негосударственной пенсии пенсионерам Компании через АО «Национальный НПФ» (ННПФ) составили 560,1 млн рублей.
	p В соответствии с Коллективным договором неработающие пенсионеры, вышедшие на пенсию до создания ННПФ, получают ежеквартальную материальную помощь. Общая сумма предоставленной материальной помощи таким пенсионерам в 2022 году составила 13,7 млн рублей. Количество пенсионеров, получающих данную материальную помощь, — 2,3 тыс. человек.
	h2 ЗДОРОВЬЕ РАБОТНИКОВ
	p Компания особое внимание уделяет обеспечению мер по сохранению здоровья и жизни работников, мерам профилактики, тестирование и вакцинацию, а также по оказанию высокотехнологичной медицинской помощи. 
	p Программа добровольного медицинского страхования предусматривает оказание услуг сверх Программы государственных гарантий оказания гражданам РФ бесплатной медицинской помощи. 
	p В соответствии с Договором добровольного медицинского страхования застрахованным работникам Компании оказываются медицинские услуги по 4 программам:
	ul 
		li Амбулаторно-поликлиническое обслуживание 
		li Стационарное обслуживание 
		li Реабилитационно-восстановительное лечение
		li Комплексная медицинская помощь
	p С целью снижения инфекционных заболеваний проводится ежегодная сезонная иммунопрофилактика от сезонного гриппа, пневмококковой инфекции и клещевого энцефалита. 
	p В целях раннего выявления онкологических заболеваний за счет средств программы ДМС в Компании организовано проведение медицинских обследований по программам «Здоровье мужчин», «Здоровье женщин», разработаны программа «Здоровая спина» и программа постковидной реабилитации. 
	p Работникам, перенесшим пневмонию, предоставлена возможность прохождения сеансов гипербарической оксигенации. Организована работа по проведению тестирования на новую коронавирусную инфекцию.
	h2 ЭПИДЕМИОЛОГИЧЕСКИЕ МЕРОПРИЯТИЯ
	p С первых дней пандемии COVID-19 в Группе «Татнефть» введены и отработаны особые меры по противодействию заражению инфекциями и обеспечению непрерывного безопасного производства.
	p В Компании создана автоматизированная платформа мониторинга и анализа состояния здоровья персонала и обеспечения их средствами индивидуальной защиты, позволяющая контролировать риски, связанные с распространением инфекций. 
	p Все работники Компании могут быть оперативно обеспечены индивидуальными средствами защиты благодаря организации собственного производства средств профилактики и защиты. На базе медицинских учреждений в Компании созданы собственные ПЦР-лаборатория и ИФА-лаборатория.
	h2 ЖИЛИЩНАЯ ПОЛИТИКА
	p Оказание поддержки работникам в улучшении жилищных условий — одно из важных направлений социальной политики Компании и вклад в реализацию задачи ЦУР-11 по обеспечению всеобщего доступа к достаточному, безопасному и недорогому жилью. 
	p Компания является активным участником программы строительства жилья по социальной ипотеке в Республике Татарстан. С 2005-го по 2022 год по данной программе построено 136 многоквартирных жилых домов (15 009 квартир) в 15 населенных пунктах республики, а также 52 индивидуальных жилых дома. 
	p В 2022 году для работников Компании построено и введено 2 многоквартирных жилых дома в Нижнекамске и Нурлате (199 квартир), 3 индивидуальных жилых дома в Черемшане, а также приобретено 25 квартир. 
	p Общее количество участников социальной ипотеки на получение жилья в нефтяном регионе составило 3 800 человек. Более 30% вводимых квартир выделяется молодым семьям и молодым работникам.
	h3 1,0 МЛН М2 ОБЩАЯ ПЛОЩАДЬ ВВЕДЕННОГО ЖИЛЬЯ
	p Для оплаты первоначального взноса за жилье Компанией выделяется работникам беспроцентный денежный заем в размере до 30% от стоимости жилья. За весь период действия программы социальной ипотеки в Государственный жилищный фонд Республики Татарстан было внесено более 2,3 млрд руб. в счет уплаты за работников первоначального взноса.

.dmpage-table-section.dmpage-table-section--small
	h3.dmpage-table-title Социальные выплаты работникам, млн. руб.



	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1.dmptable-colgroup-1--aw
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other() 
			tbody 
				tr
					td 2020
					td 589
				tr
					td 2021
					td 672
				tr
					td 2022
					td 1 099


.dmpage-chart-outer.dmpage-small-w-section
	h3.dmpage-chart-title Социальные выплаты работникам, млн руб. (по Коллективному договору) 

	.dmpage-chart-bar-wrap
		#chart-bar-29-1.dmpage-chart-bar.js-dmpage-chart-bar
			canvas


.dmpage-chart-outer.dmpage-small-w-section
	h3.dmpage-chart-title Взносы на негосударственное пенсионное обеспечение, млн руб.
	.dmpage-chart-bar-wrap
		#chart-bar-29-2.dmpage-chart-bar.js-dmpage-chart-bar
			canvas



.dmpage-text
	h2 СОЦИАЛЬНАЯ ЗАЩИЩЕННОСТЬ
	p В целях усиления социальной защищенности Компания дополнительно в соответствии с Коллективным договором обеспечивает ежемесячную выплату работнику, находящемуся в отпуске по уходу за ребенком до достижения им возраста трех лет, и один свободный день в месяц или два раза по четыре свободных часа (по выбору работника) рабочего времени, оплачиваемого за счет работодателя, с сохранением среднемесячной заработной платы женщинам, имеющим детей в возрасте до 16 лет включительно (детей-инвалидов до 18 лет включительно). 
	p Данные льготы не предоставляются временным сотрудникам или сотрудникам, работающим неполный рабочий день. 
	p Компания ведет деятельность в строгом соответствии с Трудовым кодексом Российской Федерации, которым установлен минимальный период уведомления в отношении значительных изменений в деятельности организации: не позднее чем за два месяца до начала проведения соответствующих мероприятий, а в случае, если решение о сокращении численности или штата работников может привести к их массовому увольнению — не позднее чем за три месяца до начала проведения соответствующих мероприятий
