.dmpage-text
	h2.block-section-name Структура

	//img(src="img/block-3/23-1.png", alt="")
	p В 2022 году в составе Группы «Татнефть» произошли значительные изменения в структуре производственных и сервисных активов (увеличение видов работ, связанных с тяжелыми условиями труда), что вызвало существенное перераспределение персонала по структуре: по полу, возрасту, категориям, регионам присутствия. Соотношение показателей 2022 года к 2021 году может иметь значительные изменения в натуральном выражении.

.dmpage-chart-outer.dmpage-small-w-section
	h4.dmpage-chart-title По структуре менеджмента, %
	.dmpage-chart-bar-wrap
		#chart-bar-23-2.dmpage-chart-bar.js-dmpage-chart-bar
			canvas

.dmpage-chart-outer.dmpage-small-w-section
	h4.dmpage-chart-title Списочная численность работников, тыс. чел
	.dmpage-chart-bar-wrap
		#chart-bar-23-3.dmpage-chart-bar.js-dmpage-chart-bar
			canvas

.dmpage-chart-outer.dmpage-small-w-section
	h4.dmpage-chart-title По возрастным группам, тыс. чел
	.dmpage-chart-bar-wrap
		#chart-bar-23-4.dmpage-chart-bar.js-dmpage-chart-bar
			canvas



.dmpage-table-section
	h4.dmpage-table-title.dmpage-table-title--small-w По полу

	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other(span="2")  
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other(span="2")  
				
			thead
				tr
					th(rowspan='2')  
					th(colspan='4')
						p По полу
				tr
					th(style="display:none")
					th(colspan='2')
						p муж.
					th(colspan='2')
						p жен.

		
			tbody
				tr
					td
						p 2020
					td
						p 34 074
					td
						p 54,3 %
					td
						p 28 726
					td
						p 45,7%
				tr
					td
						p 2021
					td
						p 36 074
					td
						p 55,5%
					td
						p 28 925
					td
						p 44,5%
				tr
					td
						p 2022
					td
						p 39 297
					td
						p 59,5%
					td
						p 26 801
					td
						p 40,5%


.dmpage-table-section
	h4.dmpage-table-title.dmpage-table-title--small-w  По категориям работников


	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other 
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other
				
			thead
				tr
					th(rowspan='2')  
					th(colspan='3')
						p По категориям
				tr
					th(style="display:none;")
					th
						p руководители
					th
						p специалисты
						p и служащие
					th
						p рабочие
		
			tbody
				tr
					td
						p 2020
					td
						p 6 387
					td
						p 18 243
					td
						p 38 170
				tr
					td
						p 2021
					td
						p 6 498
					td
						p 18 152
					td
						p 40 349
				tr
					td
						p 2022
					td
						p 7 192
					td
						p 18 277
					td
						p 40 629 




.dmpage-chart-outer.dmpage-small-w-section
	h4.dmpage-chart-title По странам деятельности, %
	.dmpage-chart-bar-wrap
		#chart-bar-23-5.dmpage-chart-bar.js-dmpage-chart-bar
			canvas

.dmpage-text
	p Российская федерация
	p Ежегодно предприятия Группы «Татнефть» создают рабочие места для людей с ограниченными возможностями здоровья, а также выполняют требования по организации соответствующих условий труда. В 2022 году в соответствии с установленными квотами в Компании выделено 45 мест для трудоустройства людей с ограниченными возможностями здоровья, включая 1 специализированное рабочее место. Квота была полностью исполнена как в рамках трудоустройства лиц с ограниченными возможностями.
	



.dmpage-table-section
	h4.dmpage-table-title.dmpage-table-title--small-w  По типам трудовых договоров с разбивкой по странам деятельности, включая занятых неполный рабочий день



	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other(span="2")  
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other(span="2")  
				
			thead
				tr
					th(rowspan='2')  
					th(colspan='2')
						p Постоянные трудовые договора
					th(colspan='2')
						p Временные трудовые договора
				tr
					th(style="display:none;")
					th
						p Российская
						p Федерация
					th
						p Прочие страны
					th
						p Российская
						p Федерация
					th
						p Прочие страны
		
			tbody
				
				tr
					td
						p 2020
					td
						p 57 753
					td
						p 1 669
					td
						p 2 641
					td
						p 742
				tr
					td
						p 2021
					td
						p 59 799
					td
						p 2 018
					td
						p 2 521
					td
						p 665
				tr
					td
						p 2022
					td
						p 62 804
					td
						p 338
					td
						p 2 293
					td
						p 663


.dmpage-chart-outer.dmpage-small-w-section
	h4.dmpage-chart-title Работники с ограниченными возможностями здоровья
	.dmpage-chart-bar-wrap
		#chart-bar-23-6.dmpage-chart-bar.js-dmpage-chart-bar
			canvas



.dmpage-table-section
	h4.dmpage-table-title.dmpage-table-title--small-w  По типам трудовых договоров с разбивкой по полу, включая занятых неполный рабочий день
	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other(span="2")  
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other(span="2")  
				
			thead
				tr
					th(rowspan='3')  
					th(colspan='4')
						p По типу трудовых договоров
				tr
					th(style="display:none;")
					th(colspan='2')
						p постоянные трудовые договора
					th(colspan='2')
						p временные трудовые договора
				tr
					td(style="display:none;")
					th
						p муж.
					th
						p жен.
					th
						p муж.
					th
						p жен.
		
			tbody
				tr
					td
						p 2020
					td
						p 32 501
					td
						p 26 916
					td
						p 1 477
					td
						p 1 906
				tr
					td
						p 2021
					td
						p 34 603
					td
						p 27 210
					td
						p 1 483
					td
						p 1 703
				tr
					td
						p 2022
					td
						p 37 807
					td
						p 25 335
					td
						p 1 490
					td
						p 1 466 


.dmpage-text
	h3 Наем новых работников

.dmpage-chart-outer.dmpage-small-w-section
	h4.dmpage-chart-title По полу и доля к общей списочной численности
	.dmpage-chart-bar-wrap
		#chart-bar-23-7.dmpage-chart-bar.js-dmpage-chart-bar
			canvas
			

.dmpage-table-section

	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other(span="2")  
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other(span="2")  
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other(span="2")  
				
			thead
				tr
					th(rowspan='2')  
					th(colspan='6')
						p По полу
				tr
					th(style="display:none;")
					th(colspan='2')
						p муж.
					th(colspan='2')
						p жен.
					th(colspan='2')
						p Итого
		
			tbody
				tr
					td
						p 2020
					td
						p 6 076
					td
						p 10%
					td
						p 5 808
					td
						p 9%
					td
						p 11 884
					td
						p 19%
				tr
					td
						p 2021
					td
						p 8 074
					td
						p 12%
					td
						p 6 389
					td
						p 10%
					td
						p 14 463
					td
						p 22%
				tr
					td
						p 2022
					td
						p 9 482
					td
						p 14%
					td
						p 5 964
					td
						p 9%
					td
						p 15 446
					td
						p 23% 


			
.dmpage-chart-outer.dmpage-small-w-section
	h4.dmpage-chart-title По странам деятельности

	.dmpage-chart-bar-wrap
		#chart-bar-23-8.dmpage-chart-bar.js-dmpage-chart-bar
			canvas




.dmpage-table-section
	h4.dmpage-table-title.dmpage-table-title--small-w  По возрастным группам и доля к общей списочной численности

	.dmpage-table-overflow
		table.dmpage-table
			colgroup.dmptable-colgroup-1
				col.dmptable-col-1.dmptable-col-1--aw
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other(span="2")  
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other(span="2")  
			colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
				col.dmptable-col-other(span="2")  
				
			thead
				tr
					th(rowspan='2')  
					th(colspan='6')
						p По возрастным группам
				tr
					th(style="display:none;")
					th(colspan='2')
						p до 30 лет
					th(colspan='2')
						p от 30 до 50 лет
					th(colspan='2')
						p старше 50 лет
			tbody
				tr
					td
						p 2020
					td
						p 3 048
					td
						p 5%
					td
						p 6 802
					td
						p 11%
					td
						p 2 034
					td
						p 3%
				tr
					td
						p 2021
					td
						p 4 145
					td
						p 6%
					td
						p 7 944
					td
						p 12%
					td
						p 2 374
					td
						p 4%
				tr
					td
						p 2022
					td
						p 5 209
					td
						p 8%
					td
						p 7 933
					td
						p 12%
					td
						p 2 304
					td
						p 3% 