extends ../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div ESG-projects

			h1.dmpage-h1 ESG-projects

		.dmpage.dmpage--no-art
			include ../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_20_10_23/ESG-projects.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development.html") To the beginning of the section
						a.dmpage-menu-item(href="/sustainable-development/esg-projects/ccus-projects.html") Сcus projects
						a.dmpage-menu-item(href="/sustainable-development/esg-projects/green-office-project.html") Green office project
						a.dmpage-menu-item(href="/sustainable-development/esg-projects/the-green-gold-of-tatneft.html") The green gold of tatneft
						a.dmpage-menu-item(href="/sustainable-development/esg-projects/not-only-clean-air.html") Not only clean air
						a.dmpage-menu-item(href="/sustainable-development/esg-projects/tatneft-sdg-envoys.html") Tatneft sdg envoys
						a.dmpage-menu-item(href="/sustainable-development/esg-projects/school-biolabs.html") School biolabs
						a.dmpage-menu-item(href="/sustainable-development/esg-projects/looking-for-a-carbon-footprint.html") Looking for a carbon footprint
						a.dmpage-menu-item(href="/sustainable-development/esg-projects/olympiad-for-young-geologists.html") Olympiad for young geologists
						a.dmpage-menu-item(href="/sustainable-development/esg-projects/aktyuba-energy-efficient-settlement.html") Aktyuba energy efficient settlement
			//.dmpage-main
				.dmpage-detail 