extends ../layouts/default

block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Human rights

			h1.dmpage-h1 Human rights

		.dmpage
			include ../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-1.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development.html") To the beginning of the section
						a.dmpage-menu-item(href="un-sustainable-development-goals-navigator.html") Un sustainable development goals navigator
						a.dmpage-menu-item.dmpage-menu-item--active(href="human-rights.html") Human rights

			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						//h2.block-section-name Права человека
						p The Company conducts its activities in accordance with the generally accepted ethical standards and values, based on the recognition of the importance of observance of the fundamental equal human rights proclaimed by the UN Universal Declaration of Human Rights.
						p The Company believes that everyone should enjoy all the rights and freedoms proclaimed, including the right to work, the right to a favorable environment, the rights of indigenous minorities and special groups of the population, without any distinction, regardless of race, color, sex, age, language, religion, political or other beliefs, national or social origin, disability, property, class or other status, as well as equal opportunities for women and men, excluding any forms of harassment or discrimination in the field of labor and employment.  
						p The Company strives to prevent any adverse impact on human rights associated with its activities, products or services, business relations, as well as with the preservation of the social and cultural identity of the peoples living in the territory of the TATNEFT Group enterprises.
						p The Company has historically recognized the importance and value of fundamental human rights and freedoms proclaimed by the United Nations and throughout its activities has responsibly shared the principles of human rights, labor relations and anti-corruption efforts, reported in international declarations and conventions.
						p The Company recognizes and respects the rights of each employee to collective representation, association of employees into trade unions, and collective bargaining. The Company assesses its activities in the field of human rights in the course of regular assessment of corporate practices, including in the form of self-assessment of the Company’s management bodies. The Company’s services and divisions that are directly related to the personnel management, security, and anti-corruption activities are trained in human right aspects. 
						p Employees of the Company, including the services related to the personnel and security management activities, are continuously involved in the procedures regarding human rights aspects and regularly take appropriate training. At the Corporate University, the Company plans to develop human rights education with the involvement of employees of the Company’s contractors and suppliers.
						p The Company uses its best endeavors to prevent any adverse human rights impacts that is directly related to its business activities, products or services, business relations, as well as to preserve the national cultural identity of ethnic groups inhabiting the regions of the Company’s operations, and takes all available measures to eliminate the consequences of such an impact, should it happen.
						p In its activities, PJSC TATNEFT shares the principles of civilized labor relations, fundamental human rights and freedoms, which is reflected in the Collective Agreement in the Human Rights section.
						h3 The Company’s commitments and position regarding human rights are reflected in the following documents: 
						ul
							li Policy of PJSC TATNEFT n.a. V.D. Shashin on Sustainable Development and Interaction with Stakeholders
							li Corporate Governance Code of PJSC TATNEFT n.a. V.D. Shashin 
							li Corporate Culture Code for PJSC TATNEFT Employees 
							li Health, Safety and Environmental Policy of PJSC TATNEFT n.a. V.D. Shashin with considerations to the climate change
							li Policy on interaction with the local population leading a traditional way of life, preserving the ecosystem of territories of traditional nature management and the traditional way of life of the local population living in the areas of activity of the TATNEFT Group.
							li Collective Bargaining Agreement of PJSC TATNEFT n.a. V.D. Shashin 
						h2 Instruments for monitoring compliance with human rights
						p The Company has implemented a mechanism of appeals, with the help of which users can report, among other things, violations of human rights — the “Hotline”. 
						p The Ethics Committee considers received appeals. Compliance with employment and remuneration processes in accordance with the country’s labor laws and corporate regulations, as well as management systems related to nondiscrimination, is systematically audited. The Company periodically assesses the moral and psychological climate of the workforce. 
						p The assessment includes the level of satisfaction of employees with working conditions, the amount of remuneration, social security, and identifies key aspects of labor activity
						p Procedures for assessing the impact of production activities on environment and the effectiveness of health and safety measures are constantly conducted. 
						p The Company implements the principles of corporate liability for the conservation of the ecosystem of territories of traditional nature management and the traditional way of life of the local population, enshrined in internal documents. 
						p The right of workers to freedom of association and collective bargaining to protect labor rights is exercised by Tatneft Profsoyuz Interregional Trade Union Organization of the AllRussian Trade Union of Oil and Gas Industry and Construction Workers.

block scripts
