extends ../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Promotion of social development

			h1.dmpage-h1 Promotion of social development

		.dmpage
			include ../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/dmpages/img/top/block-5.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/ustojchivoe-razvitie.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development.html") To the beginning of the section
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/management-approach.html") Management approach
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/charitable-foundation.html") Charitable foundation
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/social-infrastructure-development.html") Social infrastructure development
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/investment-in-future-generations.html") Investment in future generations
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/preservation-of-cultural-heritage.html") Preservation of cultural heritage
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/interaction-with-local-indigenous-people-living-a-traditional-lifestyle.html") Interaction with local indigenous people living a traditional lifestyle
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/healthy-lifestyle.html") Healthy lifestyle
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/support-for-development-initiatives.html") Support for development initiatives
						a.dmpage-menu-item(href="/sustainable-development/promotion-of-social-development/membership-in-associations.html") Membership in associations
						
			

			
			.dmpage-main
				.dmpage-detail
					.dmpage-text
						p The Company contributes to the development of state and local economies in the areas of its operation by creating high added value, providing jobs, attracting local suppliers and contractors, promoting the development of related industries and directs voluntary investments in the development of social infrastructure. The Company implements projects in the areas of health and healthy lifestyle, education, culture, sports for people of all ages, supports the preservation of the spiritual and national traditions of the indigenous population, and provides support to socially vulnerable groups in order to develop a favorable social environment and improve the quality of life for all, including inclusive opportunities, in the areas where it operates. 
						p The Company is one of the largest taxpayers in the Russian Federation and the main taxpayer in the Republic of Tatarstan, providing a stable contribution to the state budget, which facilitates the implementation of the state social and economic policy. TATNEFT Group enterprises are city-building enterprises in most of the localities of the operating regions. 
						p Recognizing the importance of social partnership between business and society for the sustainable development of the regions in which it operates, the Company follows the principles of high corporate responsibility, creating a stable economic infrastructure for the country and contributing to social progress. The Company makes a significant contribution to creating favorable conditions and quality of life in the areas of its core business. 
						p The Company strives to maintain the status of the best employer and the best partner both in its business activities and in its interaction with government agencies and administrations, educational, non-profit and public institutions, the local population and society in general, based on the following priorities:
						ul 
							li continuous improvement of the social infrastructure in the areas of operation 
							li ensuring the development of a healthy lifestyle, supporting health care
							li contribution to improving the quality of education at all levels
							li development of the science and technology base and innovation infrastructure
							li promoting a qualitative improvement in the living conditions of employees and the local population