extends ../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div Staff

			h1.dmpage-h1 Staff

		.dmpage
			include ../partials/dmpage_start

			.dmpage-top
				.dmpage-top__pic
					img(src="https://dmitryboz21.github.io/ttneft/build/img/pravki_03_23/new_top_photos/staff.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development.html") To the beginning of the section
						a.dmpage-menu-item(href="/sustainable-development/staff/management-system.html") Management system
						a.dmpage-menu-item(href="/sustainable-development/staff/structure.html") Structure
						a.dmpage-menu-item(href="/sustainable-development/staff/remuneration.html") Remuneration
						a.dmpage-menu-item(href="/sustainable-development/staff/education-and-development.html") Education and development
						a.dmpage-menu-item(href="/sustainable-development/staff/youth-development.html") Youth development
						a.dmpage-menu-item(href="/sustainable-development/staff/collective-representation.html") Collective representation
						a.dmpage-menu-item(href="/sustainable-development/staff/social-security.html") Social security
						a.dmpage-menu-item(href="/sustainable-development/staff/employee-pool.html") Employee pool
			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						p The Company recognizes the importance and value of fundamental human rights and freedoms in the world of work: freedom of association, the right to conclude collective agreements, labor rights and the right to health care.
						p The full functioning and stable development of the Company is the merit of its employees only. The high level of the competence of employees, their commitment to corporate values, responsibility and integrity are the key to successful activities and development of the Company. 
						p A competently implemented corporate culture helps to create a cohesive business team — professionals aimed at achieving the goals set by the Company’s management. The Company is a responsible employer, provides high-quality and safe working conditions at all enterprises of the TATNEFT Group, adheres to the principle of gender equality and equal opportunities, maintains a decent level of remuneration and provides reliable social guarantees to employees and social support to their families. 
				
block scripts
