extends ../layouts/default


block main
	.container.container--dmpage
		div
			.crumbs
				.crumbs__item
					a(href='/')
						img(src='https://www.tatneft.ru/images/home.svg' alt='')
				.crumbs__item
					.arrow
						img(src='https://www.tatneft.ru/images/long-arrow.svg' alt='')
					div  Sustainable development ratings and rankings

			h1.dmpage-h1 Sustainable development ratings and rankings

		.dmpage
			include ../partials/dmpage_start

			//.dmpage-top
				.dmpage-top__pic
					img(src="https://www.tatneft.ru/uploads/publications/649d25b6e61e7812629059.jpg", alt="")

			.dmpage-menu
				a.dmpage-menu__back-to-start.dmpage-menu__back-to-start--mob(href="/sustainable-development.html")  To the beginning of the section
				.dmpage-menu-mob-header 
					.dmpage-menu-mob-header__text Select a subsection
				.dmpage-menu__inner
					.dmpage-menu-items
						a.dmpage-menu__back-to-start(href="/sustainable-development.html") To the beginning of the section
			.dmpage-main
				.dmpage-detail 
					.dmpage-text
						p In 2022, the Company maintains its leadership position in the field of sustainable development. This is confirmed by the Company’s first places in the ESG ratings, victories in prestigious competitions and the assessment of Tatneft’s environmental performance by leading rating agencies.

					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title Credit rating
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th
										th
											p 2020
										th
											p 2021
										th
											p 2022
								tbody
									tr
										td
											p RA Expert
										td
											p ruAAA
										td
											p ruAAA
										td
											p ruAAA


					.dmpage-text
						img(src="https://dmitryboz21.github.io/ttneft/build/img/from_en/ratings_pic_1.jpg", alt="")

					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title ESG-ratings
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th
											p 2020
										th
											p 2021
										th
											p 2022
								tbody
									tr
										td
											p 6
										td
											p 1-2 places <br> (shared with Zarubezhneft)
										td
											p 1 place


					.dmpage-text
						img(src="https://dmitryboz21.github.io/ttneft/build/img/from_en/ratings_pic_2.jpg", alt="")

					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title The "Responsiblity and openness" index
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th
											p 2020
										th
											p 2021
										th
											p 2022
								tbody
									tr
										td
											p In the leaderboard
										td
											p Index A
										td
											p Index A

					.dmpage-text
						img(src="https://dmitryboz21.github.io/ttneft/build/img/from_en/ratings_pic_3.jpg", alt="")


					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title Transition Pathway Initiative
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th
											p 2020
										th
											p 2021
										th
											p 2022
								tbody
									tr
										td
											p Level 1
										td
											p  Level 1
										td
											p  Level 3

					.dmpage-text
						img(src="https://dmitryboz21.github.io/ttneft/build/img/from_en/ratings_pic_4.jpg", alt="")

					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title ACRA
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th
											p 2021
										th
											p 2022
								tbody
									tr
										td
											p 1-2 places <br> (shared with SIBUR Holding, PJSC)
										td
											p 1 place


					.dmpage-text
						img(src="https://dmitryboz21.github.io/ttneft/build/img/from_en/ratings_pic_5.jpg", alt="")


					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title The "Sustainability vector" index
						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other
								thead
									tr
										th
											p 2020
										th
											p 2021
										th
											p 2022
								tbody
									tr
										td
											p In the leaderboard
										td
											p C
										td
											p B



					.dmpage-text
						img(src="https://dmitryboz21.github.io/ttneft/build/img/from_en/ratings_pic_6.jpg", alt="")


					.dmpage-text
						h2 Contest certificates
					.dmpage-small-w-section.dmpage-small-w-section--ext-docs
						.dmpage-extendable-docs
							.dmpage-extendable-doc.js-dmpage-extendable-doc
								.dmpage-extendable-doc__wrap.dmpage-extendable-doc__wrap--top Minimize
								.dmpage-extendable-doc__wrap.dmpage-extendable-doc__wrap--bottom Minimize
								.dmpage-extendable-doc__pic
									img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_14/14.1._diplom_rejtinga_otkrytosti_ekologicheskoj_informacii.jpg", alt="", loading="lazy")
							.dmpage-extendable-doc.js-dmpage-extendable-doc
								.dmpage-extendable-doc__wrap.dmpage-extendable-doc__wrap--top Minimize
								.dmpage-extendable-doc__wrap.dmpage-extendable-doc__wrap--bottom Minimize
								.dmpage-extendable-doc__pic
									img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_14/14.2._diplom_konkursa_nadezhnyj_partner-_ekologija.jpg", alt="", loading="lazy")
							.dmpage-extendable-doc.js-dmpage-extendable-doc
								.dmpage-extendable-doc__wrap.dmpage-extendable-doc__wrap--top Minimize
								.dmpage-extendable-doc__wrap.dmpage-extendable-doc__wrap--bottom Minimize
								.dmpage-extendable-doc__pic
									img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_14/14.3._ekolider._ohrana_atmosfernogo_vozduha.jpg", alt="", loading="lazy")
							.dmpage-extendable-doc.js-dmpage-extendable-doc
								.dmpage-extendable-doc__wrap.dmpage-extendable-doc__wrap--top Minimize
								.dmpage-extendable-doc__wrap.dmpage-extendable-doc__wrap--bottom Minimize
								.dmpage-extendable-doc__pic
									img(src="https://dmitryboz21.github.io/ttneft/build/prilozheniya/prilozhenie_14/14.4._ekolider._ohrana_vodnyh_resursov.jpg", alt="", loading="lazy")



				//		p В опубликованных результатах отраслевого рейтинга открытости экологической информации нефтегазовых компаний (организаторы — Всемирный фонд природы* и группа «КРЕОН») «Татнефть» впервые была признана единоличным лидером. Этот рейтинг позволяет заинтересованным сторонам получать объективную информацию об уровне открытости компаний нефтегазового сектора и масштабе воздействия их деятельности на окружающую среду. 
					.dmpage-text.dmpage-text--small * организация включена Минюстом РФ в реестр иностранных агентов.
					.dmpage-text 
						p Компания стала лидером в рэнкинге нефтегазовых компаний с точки зрения интеграции климатической повестки Аналитического кредитного рейтингового агентства (АКРА).
						p РСПП включил «Татнефть» в группу лидеров индексов по устойчивому развитию «Ответственность и открытость» и «Рейтинг компаний по раскрытию информации об интеграции ЦУР ООН». Лидирующие позиции в этих индексах говорят о высокой оценке полноты и качества раскрытия информации по различным аспектам устойчивого развития в корпоративной отчетности.
						img(src="https://dmitryboz21.github.io/ttneft/build/img/other-3.jpg", alt="")

						
					.dmpage-table-section.dmpage-table-section--small
						h3.dmpage-table-title АКРА


						.dmpage-table-overflow
							table.dmpage-table
								colgroup.dmptable-colgroup-1
									col.dmptable-col-1.dmptable-col-1--aw
								colgroup.dmptable-colgroup-other.dmptable-colgroup-other--aw
									col.dmptable-col-other() 
								tbody
									td  I-II место в 2021 году (вместе с ПАО “Сибур Холдинг”
									td  I место в 2022 году
						
						
					.dmpage-text 
						p ПАО «Татнефть» и АО «ТАНЕКО» стали победителями Всероссийского конкурса РСПП «Лидеры российского бизнеса: динамика, ответственность, устойчивость» в номинации «За экологически ответственный бизнес». В международном рейтинге TPI (Transition Pathway Initiative) Компания поднялась сразу на два уровня по сравнению с 2021 годом. Рейтинговое агентство признает высокий уровень интеграции климатических вопросов в стратегическое и оперативное принятие решений в Компании.
						img(src="https://dmitryboz21.github.io/ttneft/build/img/other-2.jpg", alt="")
						p Победитель конкурса Green Office Awards — национальной премии для офисных объектов и офисных помещений, целью которой является поощрение и стимулирование развития «зеленых», здоровых, устойчивых рабочих пространств, — в главной категории «Лучший „зеленый“ офис 2022». Также офис «Татнефти» был номинирован в специальной категории и удостоен победы в номинации «Лучший водоэффективный офис/здание».
						p Компания повысила индекс «Вектор устойчивого развития» на уровень В, отражающий динамику показателей социально-экономической и экологической результативности и системный подход к управлению в сфере устойчивого развития.
						p ООО «Тольяттикаучук» получило сразу несколько наград регионального этапа Всероссийского конкурcа «Российская организация высокой социальной эффективности». Абсолютное лидерство в номинациях «За сокращение производственного травматизма и профессиональной заболеваемости в организациях производственной сферы» и «За развитие кадрового потенциала в организациях производственной сферы», а также второе место — «За формирование здорового образа жизни в организациях производственной сферы». 
						ul 
							li В ежегодном конкурсе «ЭКОлидер», проводимом Министерство экологии и природных ресурсов Республики Татарстан, ПАО «Татнефть», АО «ТАНЕКО» и ООО «Татнефть-АЗС Центр» заняли 1-2-е места в номинациях «Охрана водных ресурсов», «Охрана атмосферного воздуха». 
							li Интегрированный годовой отчет «Татнефти» за 2021 год стал призером в 25-м Всероссийском конкурсе годовых отчетов в номинации «Лучший отчет об устойчивом развитии». 
							li Нефтеперерабатывающий комплекс Компании АО «ТАНЕКО» прошел экспертную оценку сервиса Сбера — «Зеленая цепочка поставок» — с присвоением высшего рейтинга «А», означающего, что практики и система управления ESG-аспектами и устойчивым развитием на предприятии находятся на высоком уровне. 

						img(src="https://dmitryboz21.github.io/ttneft/build/img/other-3.jpg", alt="")